[2020-06-27 21:39] #2983 closed

[2020-06-28 12:27] peterjc opened #3010 "Alphabet -> molecule type; DNA vs RNA annotation conflicts"
As part of #2046 we are moving from ``Seq`` objects having an alphabet object from ``Bio.Alphabets``, to recording the molecule type in the ``SeqRecord`` annotations instead. Currently this recycles the "molecule_type" dictionary entry used in the EMBL/GenBank files.

However, files like ``Tests/GenBank/iro.gb`` from https://www.ncbi.nlm.nih.gov/nuccore/AL109817.1 present a problem:

[code]

The L

[2020-06-28 13:14] mdehoon commented on #3010
Leave it to the user. We won't be able to know whether the user wants to change the sequence to match the molecule type, or to change the molecule type to match the sequence. Just raise an Exception if in the Nexus writer the sequence is inconsistent with the molecule type.

[2020-06-28 13:59] peterjc commented on #3010
That is simple and Pythonic, *In the face of ambiguity, refuse the temptation to guess.*

[2020-06-28 14:25] peterjc commented on #3010
i.e. with a ``SeqRecord``, user must either change the sequence into RNA to match the annotation:

[code]

Or, change the molecule type annotation to DNA to match the sequence:

[code]

Perhaps the GenBank/EMBL parser could give a new warning here, but it will be harmless for most use cases so that does not seem necessary.

[2020-06-28 17:04] ktmeaton opened #3012 "NewickIO get_comment typo coment"
### Setup

I am reporting a bug with Biopython 1.77, Python 3.83, and Ubuntu 18.04 as follows:

The function [Phylo.NewickIO._get_comment](https://github.com/biopython/biopython/blob/master/Bio/Phylo/NewickIO.py#L85) appears to contain a typo in which 'comment' is mispelled as 'coment'.

[code]

### Expected behaviour

Calls to this function seem to be unable to parse comments from an input tree (

[2020-06-28 17:10] peterjc commented on #3012
You're right - a mistake introduced in d1d3c0d6ab33de12057201e09eb48bdb1964521a as part of Python 2/3 work.

Would you like to submit a pull request fixing this?

Also, if you can add a test of this, even better 👍

[2020-06-28 19:16] ktmeaton commented on #3012
Thanks for confirming! I'll read the contributor's guide for making a pull request and adding to the test suite.

[2020-06-29 08:23] arindam31 commented on #1963
Hi Peter.
I think I posted the query in the wrong group.
Just to share, I have kept pydocstyle since it shows the method name. I run my "make doccheck" using the same.
And I agree that both flake8 and pydocstyle output identify a D102 issue, but like I said, the method name is missing in former.
Perhaps, it is intended.

Thanks for your reply.

[2020-06-29 11:10] peterjc commented on #1963
Ah, I see what you mean now. I would assume this is deliberate on the part of flake8 - their validation issues only report file and line/column number.

[2020-06-29 13:26] persalteas opened #3014 "MMCIFIO._save_structure() writes modified nucleotides as new chains"
### Setup

Python 3.8.3, Biopython 1.76

RNA structures may contain modified nucleotides that are part of the chain (e.g. PSU, 5MC, M2G...) that are NOT ligands but still marked HETATM in the official .cif files from RCSB.

### Expected behaviour

Saving a selection from one of those RNA .cif files with MMCIFIO should keep the residue numbering and chain names.

[code]

We should get this kind of

[2020-06-29 14:18] persalteas commented on #3014
The problem comes from the structure passed to MMCIFIO.save(), not from the above piece of code.

I posted too fast.

Closing.

[2020-06-29 14:18] #3014 closed

[2020-06-29 14:45] naumenko-sa opened #3015 "SeqIO.parse does not allow to close handle in 1.77."
### Setup

I am reporting a problem with Biopython version **1.77** , Python version **3.6.10**, and operating
system as follows:
[code]

### Expected behaviour

A handle closes without error

### Actual behaviour

```AttributeError: 'FastqPhredIterator' object has no attribute 'close'```

### Steps to reproduce

[code]

It passes with biopython 1.76 and earlier: https://github.com/bcbio/bcbio-nex

[2020-06-29 16:50] peterjc commented on #3015
I am puzzled if and why this ever might have worked even on an older Biopython. ``SeqIO.parse(...)`` does not return a handle, it returns an iterator - an object you loop over. You could use a context manager here to close the handle (a with statement).

I'm not sure off hand what the ``open_fastq`` function returns - presumably the equivalent of ``import gzip`` and ``gzip.open("test_1.fq.gz")`` w

[2020-06-29 18:54] naumenko-sa commented on #3015
Thanks for your time @peterjc. Easy fix.

[2020-06-29 18:54] #3015 closed

[2020-06-29 20:49] chris-rands commented on #3015
In biopython 1.76 `SeqIO.parse()` returned a generator, which has a `.close()` method. See https://github.com/biopython/biopython/pull/2321

[2020-06-29 22:20] peterjc commented on #3015
Thanks - I was looking in our code and failing to find any relevant ``def close(self, ...)`` - I'd missed the fact the built in generator functions automatically have a ``.close()`` method:

https://docs.python.org/3/reference/expressions.html#generator.close

[2020-06-29 23:00] rchurt commented on #3002
Thank you, these functions are very helpful, in particular `SeqIO.parse("input.gbk", "genbank-cds")`. Out of curiosity, does that extract the nucleotide sequences in addition to the protein sequences? I see that it extracts the coordinates, but I couldn't find the nt sequence. If not, should I open up a separate issue to request this?

Regarding the subject of this thread, it's up to you whether y

[2020-06-29 23:46] peterjc commented on #3002
No, ``SeqIO.parse("input.gbk", "genbank-cds")`` just grabs the stated translation, there is nothing built in to grab the nucleotide sequence from a subset of the features for you. You would be back to looping over the ``SeqFeature`` objects, filtering on type, and using their ``.extract(...)`` method as outlined earlier.

Note that you may be able to get exactly what you want already in FASTA form

[2020-06-30 14:17] peterjc opened #3019 "Recording "nucleotide" under SeqRecord .annotations["molecule_type"]"
As part of #2046, we are shifting from recording molecule via ``Seq`` object's complicated ``.alphabet`` object to the ``SeqRecord`` object's ``.annotations["molecule_type"]`` entry as a string (or ``None``).

Following the convention from the GenBank/EMBL values, we look for "DNA", "RNA" or "protein" in this string (e.g. "mRNA").

However, some file formats need or allow nucleotide for something

[2020-06-30 14:20] peterjc commented on #3019
Cross reference NexusIO changes being explored on #3011

[2020-06-30 20:35] morrme commented on #2906
Hi!
Looks like https://github.com/sphinx-contrib/sphinxcontrib-versioning could work.

[2020-07-02 02:37] rchurt commented on #3002
Ok, got it. And thank you, I didn't realize that, but that's handy.

[2020-07-02 17:06] YichaoOU opened #3023 "BUG: comparing two DNA strings, same length, allow IUPAC"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

[code]

### Expected behaviour

AGG should equal to NGG
RGG should equal to NGG

### Actual behaviour

[code]

### Steps to reproduce

[code]

[2020-07-02 23:06] peterjc opened #3024 "TravisCI API target failing, mangle_signature for event 'autodoc-process-signature'"
Seen on #3021 and #3022

[code]

Might be due to a new release of Sphinx or a dependency?

[2020-07-02 23:09] peterjc commented on #3023
This is by design and explicitly documented as such - sequence comparison acts like string comparison, even if your strings were DNA and protein.

Function ``nt_search`` in ``Bio.SeqUtils`` might be close to what you want, but telling us more about your use case would help. For example, is one sequence ambiguous and the other unambiguous?

[2020-07-02 23:11] YichaoOU commented on #3023
Both sequences may contain ambiguous letters, such as RGG vs NGG. I have tried `nt_search`. It didn't give matched results.

[2020-07-02 23:16] peterjc commented on #3023
They both have ambiguities? That does make things harder. I suspect this can be done with regular expressions, but there is likely a better way. How long might the sequences be?

Do you care about gaps/insertions - or allowing any mismatches - in which case I would suggest pairwise alignment.

[2020-07-02 23:22] YichaoOU commented on #3023
It's OK. I think in 99.9%, it will be "AGG" vs. "NGG".

Regular expression is good way to go. Thanks.

I tried `from skbio.alignment import global_pairwise_align_nucleotide`, they do not support ambiguous letters.

The max length is 5.

[2020-07-03 09:31] peterjc commented on #3023
Given these are short sequences, you could map each letter to its possible meanings, N=A,C,G,T (could store this as four bits) and then take the logical AND to get any overlap. For example W = A,T and M = A,C. Now logical AND or set intersection gives A. So W and M have a shared value of A in common, and so "match".

You could have a function returning None or the match string, thus ``compare("AGG

[2020-07-03 10:02] JoshuaMeyers commented on #455
Just reporting that I ran into the same issue while using the `SuperImposer()` class and that @schwarz-ben's solution above resolved the issue. Eagerly awaiting that PR :D

[2020-07-03 15:58] YichaoOU commented on #3023
Sounds like an efficient way! Yes, I just need true or false.

[2020-07-03 15:58] #3023 closed

[2020-07-03 17:12] peterjc commented on #3023
This dictionary might help,

[code]

[2020-07-03 17:35] peterjc commented on #3024
Last good build from master https://travis-ci.org/github/biopython/biopython/jobs/703668122 has

Recent failing build https://travis-ci.org/github/biopython/biopython/jobs/704617159 has

Looks like the change from ``numpydoc==1.0.0`` to ``numpydoc==1.1.0`` is a strong candidate.

[2020-07-03 17:43] peterjc commented on #3024
Release notes https://numpydoc.readthedocs.io/en/latest/release_notes.html specifically say numpydoc 1.1.0 should fix https://github.com/numpy/numpydoc/issues/268

[code]

Perhaps in fixing ``mangle_docstrings`` something broke in ``mangle_signature``, or this could be due to the other changes to do with signatures and self. Anyway, we have something to try which will confirm this - downgrading nu

[2020-07-03 18:56] peterjc commented on #3024
Seems that an object of type ``Bio.Restriction.Restriction.__text_signature__`` is being passed to the ``_clean_text_signature`` function, new in numpydoc v1.1.0:

https://github.com/numpy/numpydoc/blob/v1.1.0/numpydoc/numpydoc.py#L214

This is frustrating as we've mocked ``Bio.Restriction`` to avoid building docs for it in the first place...

[2020-07-03 18:58] peterjc commented on #3024
Adding a try/except seems to "fix" it, but something else on my local machine is blocking the complete documentation build:

[code]

[2020-07-03 19:05] peterjc commented on #3023
Or possibly this dictionary used in ``Bio.Restriction``?:

[code]

[2020-07-05 01:11] peterjc opened #3028 "Fix contributions listings under Biopython 1.76"
The current list of names in the NEWS file for Biopython 1.76 has some duplications, and extra entries compared to the tagged release. These are most likely from pull requests merged as part of what became Biopython 1.77, and some of the names need moving up a section.

(If this happens again, perhaps we should leave adding the NEWS entry to the developer merging a pull request?)

[2020-07-11 15:58] mdehoon commented on #2917
Fixed by #2986

[2020-07-11 15:58] #2917 closed

[2020-07-11 16:04] mdehoon commented on #2332
Fixed by #2333

[2020-07-11 16:04] #2332 closed

[2020-07-14 01:37] bakerwm opened #3050 "Any ideas for secondary_identifier in DR lines in EMBL file."
Any ideas for `secondary_identifier` for DR lines in EMBL file?

[code]

In current release, this value is not saved, even if it exists.  What if I want to parse this `value` for some file, for example: [Transposon elements](ftp://ftp.flybase.org/releases/FB2020_03/precomputed_files/transposons/transposon_sequence_set.embl.txt.gz) from FlyBase.

How about,  saving the `secondary_identifier` after

[2020-07-14 08:47] peterjc commented on #3050
See also discussion on https://github.com/biopython/biopython/issues/2708 - this would most likely break assumptions in the output code for other formats (and more problematic, in existing user scripts), so it is probably a bigger change that you might expect.

Do you want to explore making that change as seeing what (if anything) breaks in the test suite?

[2020-07-15 06:43] Logan1x commented on #2835
Is this issue still need some work?

[2020-07-15 13:11] peterjc commented on #2835
Yes please, current master branch gives:

[code]

Don't do ``test_Restriction.py`` though, see notes above.

[2020-07-17 04:34] mdehoon commented on #3010
@peterjc  Related to this issue, could you have a look at `perform_test` in `test_SeqIO.py` ? I guess that either this function or `check_simple_write_read` need to be changed in cases where the input file specifies an RNA molecule type with a DNA sequence, while the output file does not accept T's in the sequence if the molecule type is RNA (for example, EMBL/TRBG361.embl with the Nexus file form

[2020-07-18 00:25] svalqui commented on #2552
I'll work on test_psw.py

[2020-07-18 00:41] svalqui commented on #2552
I'll work on test_phyml_tool.py

[2020-07-18 00:55] svalqui commented on #2552
I'll work on test_pairwise2_no_C.py

[2020-07-18 14:13] peterjc opened #3070 "Windows / AppVeyor psycopg2.OperationalError"
Multiple pull requests in the last week or so have occasionally failed on App Veyor (32bit or 64bit) as noted on #3068 and #3069, but work on a re-run. Here on 32bit,

[code]

Or, 64bit:

[code]

This is most likely due to a change in the dependencies, e.g. a recent update to ``psycopg2``

[2020-07-18 18:09] peterjc commented on #3028
As per the tag, the credits for Biopython 1.76 were:

[code]

Currently the messed up 1.76 entry reads:

[code]

That's a bit of duplication, and four names which should be moved to 1.77 instead,

[code]

[2020-07-18 18:14] peterjc commented on #3028
Two of them were in the 1.77 list, so just two to add:

[code]

Apologies @artbendandi and @zisikons (both on #2338) - I'll move your names under Biopython 1.77 and update the blog post: https://www.open-bio.org/2020/05/25/biopython-1-77-released/

[2020-07-18 21:51] svalqui commented on #2835
I'll work on test_Ace.py (A502).

[2020-07-19 00:30] svalqui commented on #2552
I'll work on test_codonalign.py

[2020-07-19 01:15] akabiraka commented on #455
Hi, I am very new in using Biopython. I had the same issue and did this bad thing as @schwarz-ben  suggested. And it did work.

[2020-07-19 22:04] svalqui commented on #2552
I'll work on test_cellosaurus.py

[2020-07-19 22:18] svalqui commented on #2552
I'll work on test_bgzf.py

[2020-07-20 04:09] svalqui commented on #2552
I'll work on test_Cluster.py

[2020-07-20 05:50] svalqui commented on #2552
I'll work on test_seq.py

[2020-07-20 14:44] peterjc commented on #3028
Blog post updated: https://www.open-bio.org/2020/05/25/biopython-1-77-released/

[2020-07-20 14:46] #3028 closed

[2020-07-20 15:30] speleo3 commented on #536
Looks like this ticket can be closed (should have been closed with the merge of #537).

[2020-07-20 15:35] peterjc commented on #536
Thanks!

[2020-07-20 15:35] #536 closed

[2020-07-20 16:35] speleo3 commented on #990
I cannot reproduce this with current `master`, the given script succeeds for all 6 listed mmCIF files.

[2020-07-20 16:45] #990 closed

[2020-07-20 16:53] peterjc commented on #3070
Current latest release of psycopg2 is 2.8.5 from April 2020, https://pypi.org/project/psycopg2/#history - so unlikely to be that directly.

[2020-07-20 17:59] jvfe commented on #2552
I'm new to contributing but I'll try working on these: `test_Prank_tool.py`,` test_Dialign_tool.py`, `test_Affy.py`, `test_NACCESS_tool.py`

[2020-07-20 18:02] peterjc commented on #3070
Looks like AppVeyor is running PostgreSQL 9.6 and has been for some time (our logs do not have the minor version).

Looking at https://www.postgresql.org/ the current version is 9.6.18  from 2020-05-14, so *might* be important if AppVeyor only recently started using that?

[2020-07-20 18:08] peterjc commented on #3070
https://www.appveyor.com/updates/ mentions *Visual Studio 2019 image update on July 3, 2020* which is a possibility time wise. This updated to Python 3.7.8 according to https://www.appveyor.com/updates/2020/07/03/ but we're ignoring the system python in favour of one via conda. They changed a few other things but nothing that catches my eye.

Here's a recent failing build https://ci.appveyor.com/p

[2020-07-21 14:04] svalqui commented on #2552
I'll work on test_CodonTable.py

[2020-07-21 17:06] peterjc commented on #2904
Good job.

OK, we just need to simplify https://biopython.org/wiki/Building_a_release to match, and we can close this.

[2020-07-21 21:38] peterjc commented on #2904
Lovely, thank you!

[2020-07-21 21:38] #2904 closed

[2020-07-21 21:41] peterjc commented on #2552
I've added this issue as a suggestion for the BCC2020 CoFest, since it is relatively straightforward to help with.

[2020-07-21 22:45] jvfe commented on #2552
I'll work on `test_SeqIO_Xdna.py`, `test_SeqIO_write.py` and `test_PDB_MMCIFParser.py`

[2020-07-21 23:32] chebizarro commented on #996
`sprot_search_ful` was deprecated and removed in 2ceb458. Can this issue be closed now?

[2020-07-21 23:41] chebizarro commented on #1140
The patch has been merged and confirmed to work under Win64, can we go ahead and close this issue or does it need more testing?

[2020-07-21 23:45] chebizarro commented on #1826
With the deprecation of `sprot_search_ful` (#253) and the removal of `http://www.columba-db.de/` (#3103) can we consider this issue resolved?

[2020-07-22 07:24] peterjc commented on #1826
BCC2020 CoFest Bug triage - thank you, closing.

[2020-07-22 07:24] #1826 closed

[2020-07-22 07:26] peterjc commented on #1140
It sounds like it has been independently tested, so yes - let's close it. Thank you all!

[2020-07-22 07:26] #1140 closed

[2020-07-22 09:27] peterjc commented on #996
Thank you, closing.

[2020-07-22 09:27] #996 closed

[2020-07-22 12:12] peterjc commented on #238
We're removing the ``Bio.Alphabet`` objects (see #2046), so I think this can be closed now.

[2020-07-22 12:12] #238 closed

[2020-07-22 12:14] peterjc commented on #1681
Closing as part of #2046 - we're now in the process of removing all of ``Bio.Alphabet`` now.

[2020-07-22 12:14] #1681 closed

[2020-07-22 12:15] peterjc commented on #357
Should have closed this two years ago with the merging of #528.

[2020-07-22 12:15] #357 closed

[2020-07-22 12:17] peterjc commented on #454
Closing in favour of #2877 - i.e. Removing the ``Bio.Application`` framework

[2020-07-22 12:17] #454 closed

[2020-07-22 12:36] peterjc commented on #372
See also discussion on #2708

[2020-07-22 12:37] peterjc commented on #460
I think the " Identifying open reading frames" example in the Tutorial covers this, closing.

[2020-07-22 12:37] #460 closed

[2020-07-22 12:40] peterjc commented on #678
@mdehoon do you think recording the HTML post data in the handle is a useful enhancement for debugging? Or can we close this?

[2020-07-22 12:53] peterjc commented on #1528
Hello @rbutleriii was there any follow up from the ClinVar team?

[2020-07-22 12:55] mdehoon commented on #678
Let's close it. If it's useful for debugging, it can be added when debugging.

[2020-07-22 13:02] #678 closed

[2020-07-22 13:19] peterjc commented on #805
Is this worth leaving this issue open as a potential enhancement, or should we just close it?

[2020-07-22 13:30] mdehoon commented on #805
We can keep it open.

[2020-07-22 13:32] jvfe commented on #1573
I believe this can be closed, @peterjc

[2020-07-22 13:37] peterjc commented on #1573
Yes, well spotted. Thanks.

[2020-07-22 13:37] #1573 closed

[2020-07-22 13:44] peterjc commented on #358
We're in the process of dropping the ``Bio.Alphabet`` objects (see #2046), which renders the question about how to record two different gap like characters in that framework irrelevant.

However, parsing the dashes and dots as is would push the problem to all the other alignment output formats - should they map dots to dash? This is complicated by the fact that dots can appear in other formats wit

[2020-07-22 13:47] peterjc commented on #540
I'm assuming this was resolved from the Debian team's point of view. And the test fix is already in biopython.

Closing - thanks all.

[2020-07-22 13:47] #540 closed

[2020-07-22 13:55] mdehoon commented on #358
In the (hopefully near) future, I expect that dashes will not be explicitly stored in the `MultipleSeqAlignment` object. We could represent the state information generated by HMMer in a dedicated attribute.

[2020-07-22 15:02] chrisbarnettster commented on #2552
I'll work on:
- test_DSSP_tool.py
- test_FSSP.py

[2020-07-22 15:18] jvfe commented on #2552
Not an extensive list, but from Tests/test_* I believe these are the ones remaining (checked if someone's already working on them):

- [ ]   Tests/test_AlignIO_convert.py
- [ ]   Tests/test_AlignInfo.py
- [ ]   Tests/test_BWA_tool.py
- [ ]   Tests/test_Blast_Record.py
- [ ]   Tests/test_Chi2.py
- [ ]   Tests/test_ClustalOmega_tool.py
- [ ]   Tests/test_Clustalw_tool.py
- [x]   Tests/test_Cluster.p

[2020-07-22 15:39] chebizarro commented on #232
Pull request #1734 has been merged successfully, can this issue be closed now or is additional work required for minimal MEME support?

[2020-07-22 15:57] padix-key commented on #2552
I will work on `Tests/test_GenBank.py`.

[2020-07-22 16:37] peterjc commented on #2552
The end is in sight. Some will be tiny changes as the file was previously black formatted but some minor edits were done which didn't quite follow the style (and we missed that because it isn't yet enforced on the Tests/ folder).

[2020-07-22 16:40] peterjc commented on #232
Probably - do you agree @mdehoon ?

[2020-07-22 16:43] peterjc commented on #542
Closing, sadly no replied on the mailing list - but feel free to add a link to https://github.com/TheChymera/AutoTransGeno from https://biopython.org/wiki/Scriptcentral

[2020-07-22 16:43] #542 closed

[2020-07-22 16:50] peterjc commented on #358
I'm looking forward to seeing what Michiel has in mind here.

[2020-07-22 16:58] peterjc commented on #2552
If you want to do a few related files together on a single pull request, that's fine too. e.g. ``Tests/test_SeqIO_*.py``

[2020-07-22 16:58] mariecrane commented on #2552
I'll work on Tests/test_Uniprot.py

[2020-07-22 17:11] jvfe commented on #2552
I'll work on `test_Emboss.py` and `test_Clustalw_tool.py`, fixing what was mentioned in #2835 as well.

[2020-07-22 17:54] mariecrane commented on #2552
I can work on Tests/test_KEGG.py

[2020-07-22 20:14] #232 closed

[2020-07-22 20:55] jvfe commented on #2552
I'll work on `test_HMM*`

[2020-07-23 00:34] Huangzhiqang opened #3118 "How to use no parameter options in NcbiblastnCommandline"
Dear developer:

my Python version: 3.7.4
Biopython version: 1.77
operating system: [GCC 7.3.0] CPython Linux-4.15.0-76-generic-x86_64-with-debian-buster-sid
ncbi-blast+ version: 2.10.1+

example:

this example works well in python. However for some no parameter options of blastn such as "-subject_besthit", "-remote", "-help", "-version", how to make it work in NcbiblastnCommandline? There may be

[2020-07-23 06:51] chebizarro commented on #302
It looks like a fix for this issue was merged with commit a6c8e9b, can this issue be closed now?

[2020-07-23 07:04] Logan1x commented on #2835
@peterjc I couldn't understand anything from your comment. I am really new with this and trying to contribute. Can you ELI5(Explain like I am 5) for this issue?

[2020-07-23 08:43] peterjc commented on #2835
@Logan1x  Hello. Let me try. Being positive, this will introduce lots of concepts - but there is a lot of background knowledge being assumed here. First of all, our test code has lines like this for comparing variables to expected values:

[code]

The line above is good from a style point of view, but this next version (although functionally the same) is discouraged:

[code]

This issue is about i

[2020-07-23 09:22] peterjc commented on #3118
We called those switches rather than options in the code which implements the wrapper. Just use remote=True here.

[2020-07-23 09:24] peterjc commented on #2928
Note to self, I think this can be closed now - need to do a final search of the code and docs.

[2020-07-23 09:25] peterjc commented on #2915
Closing - using a string in the SeqRecord annotations dictionary

[2020-07-23 09:25] #2915 closed

[2020-07-23 10:04] Huangzhiqang commented on #3118
thank you! I want to use -subject_besthit I check the Applications.py

[2020-07-23 10:13] #3118 closed

[2020-07-23 10:19] peterjc commented on #3118
Glad to help, and yes #2184 covers that particular missing recent addition to NCBI BLAST+.

[2020-07-23 10:20] peterjc commented on #2184
See also #2877, we are leaning towards deprecating the ``Bio.Application`` framework.

[2020-07-23 11:16] peterjc commented on #302
I think you're right Chris, thanks - closing.

[2020-07-23 11:16] #302 closed

[2020-07-23 11:17] peterjc commented on #2928
No, not yet - need to sort out the alphabet arguments to SeqIO and AlignIO first.

[2020-07-23 11:44] jvfe commented on #2552
I'll work with the remaining `test_*_tool.py`

[2020-07-23 11:57] jvfe commented on #1013
Don't really know for sure because I can't run all tests locally, but from what I gather PR #2203 closes this issue, @peterjc

[2020-07-23 12:22] peterjc commented on #1013
Hopefully - I'm working from home and also don't have absolutely everything installed right now. Closing.

[2020-07-23 12:22] #1013 closed

[2020-07-23 17:25] peterjc opened #3125 "Parsing non-protein PDF and mmCIF files with SeqIO problematic"
This came up unexpectedly during #3121, where we noticed that parsing PDB files via SeqIO assumed them to be protein.

However, PDB files can contain RNA, DNA, protein (or mixes). e.g. https://www.rcsb.org/structure/6BNA is DNA (only)

Ideally each sequence returned via SeqIO would be explicitly labelled with the appropriate molecule type (DNA, RNA, or protein).

Using Biopython 1.77 (to avoid the

[2020-07-23 18:17] jvfe commented on #2552
I'll work on the remaining `test_Co*.py`

[2020-07-23 20:41] peterjc commented on #3125
Also, alphabets aside, two single letter C sequences is nothing like the PDB's version:

https://www.rcsb.org/fasta/entry/4V5X/display

[code]

[2020-07-23 23:12] jvfe commented on #2552
I'll work on `test_pairwise*.py` and `test_AlignI*.py`

[2020-07-24 00:01] chebizarro commented on #1149
I've run the Biopython 1.78dev0 test suite (built from source) on a Windows 10 machine running Python 3.8 and the MafIO index tests pass without any problems. This is a "native" installation, not using WSL. If the issue is related to versions of Python < 3.6 , can this issue be considered resolved by obsolescence.

[2020-07-24 01:47] chebizarro commented on #1850
In addition to successfully running the tests on Windows 10 as per issue #1149, PR #3131 changes the Bgzf tests to use tempfile.mkstemp(). Is this sufficient to close the issue or is there something else needed?

[2020-07-24 03:55] akabiraka opened #3134 "PDBIO save failed when chain_id is more that one character long"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]
### Error
I am trying to save a chain (BBB) of protein 6tif using PDBIO where the chains are AAA and BBB (not single character). While saving it is getting:
[code]
Because the expected chain_id should be 1 char long.

[2020-07-24 05:42] chebizarro commented on #2765
The following code seems to work as expected, returning a `TextIOWrapper` object with the publication information in MEDLINE format:

[code]

Presumably this issue can be closed now?

[2020-07-24 07:12] mdehoon commented on #2765
@LivC182  's code works for me. I guess it was a network glitch. Closing this as the problem cannot be replicated.

[2020-07-24 07:12] #2765 closed

[2020-07-24 09:19] peterjc commented on #1850
@chebizarro Could you reproduce any more of the errors reported here? If not, then I guess we can close it.

(I've found sometimes these filesystem issues are stochastic and that can make it hard to reproduce and then be sure we've fixed something)

[2020-07-24 09:39] peterjc commented on #1149
My expectation is that for Linux style new lines (CR only) the both indexes will record the true offset in bytes, but with Windows style double-byte CR LF new line files, the indices will use the character offset treating the two-byte line breaks as one character (and perform less well than using raw bytes mode because Python is adding an offset translation via unicode mode).

The design in SeqIO

[2020-07-24 09:41] peterjc commented on #3134
Are you trying to save in PDB text format? I'd have to check the file format specification as that could be the limitation (in which case this exception could be clearer).

[2020-07-24 10:49] jvfe commented on #2552
I'll work on `test_P*.py`

[2020-07-24 14:38] jvfe commented on #2552
I'll work on `test_align*.py`

[2020-07-24 18:16] jvfe opened #3137 "Dead links in the README"
In the "Optional Dependencies" part, regarding networkx and pygraphviz,

- Networkx should be https://networkx.github.io/ not http://networkx.lanl.gov/

- Pygraphviz should be https://pygraphviz.github.io/ not http://networkx.lanl.gov/pygraphviz/

I can submit a quick PR if that's all there is to it.

[2020-07-24 19:26] peterjc commented on #3137
Yes please

[2020-07-24 19:31] chebizarro commented on #1850
@peterjc I couldn't reproduce any of the errors even running the tests concurrently in a loop in separate windows. This was using the basic Windows Command Line and not PowerShell or WSL.

[2020-07-24 20:36] #3137 closed

[2020-07-24 20:44] peterjc commented on #1850
Sounds like you've made a good effort to stress the system and if there is a bug still hiding here, it is a rare one. Thank you!

[2020-07-24 20:44] #1850 closed

[2020-07-24 20:48] peterjc commented on #2944
@etal with #2951 merged can we close this?

[2020-07-24 20:49] peterjc commented on #1716
We're dropping ``Bio.Alphabets`` (see #2046), so this is moot now.

Thank you @chebizarro for help with issue triage.

[2020-07-24 20:49] #1716 closed

[2020-07-24 20:50] peterjc commented on #1040
We're dropping ``Bio.Alphabets`` (see #2046), so this is moot now.

Thank you @chebizarro for help with issue triage.

[2020-07-24 20:50] #1040 closed

[2020-07-24 20:53] peterjc commented on #1457
Looks like we didn't follow up on this - and now that we require Python 3.6 onwards, I think this can be closed.

Thank you @chebizarro for help with issue triage

[2020-07-24 20:53] #1457 closed

[2020-07-24 20:58] peterjc commented on #1114
Closing - We removed ``Bio.trie`` in #2501

Thank you @chebizarro for issue triage.

[2020-07-24 20:58] #1114 closed

[2020-07-24 20:58] peterjc commented on #912
Closing - We removed ``Bio.trie`` in #2501

Thank you @chebizarro for issue triage.

[2020-07-24 20:58] #912 closed

[2020-07-24 20:59] peterjc commented on #636
Closing - We removed ``Bio.trie`` in #2501 - but the licence would allow anyone to fork it and make a stand alone project for release on PyPI.

Thank you @chebizarro for issue triage.

[2020-07-24 20:59] #636 closed

[2020-07-24 21:01] peterjc commented on #566
Closing - We are removing ``Bio.Alphabet``, see #2046

Thank you @chebizarro for issue triage.

[2020-07-24 21:01] #566 closed

[2020-07-24 21:02] peterjc commented on #1381
Given the work already done for removing internal use of ``Bio.Alphabet``, is this resolved on the master branch now? i.e. Can we close this issue?

[2020-07-24 21:04] peterjc commented on #971
Given the work already done for removing internal use of Bio.Alphabet, is this resolved on the master branch now? i.e. Can we close this issue?

[2020-07-24 21:09] peterjc commented on #892
Should have closed this in 2017 with the fix being applied.

Since then we removed Bio.trie in #2501 - but the licence would allow anyone to fork it and make a stand alone project for release on PyPI.

[2020-07-24 21:09] #892 closed

[2020-07-24 21:13] peterjc commented on #1240
Closing. I guess the problem went away (perhaps specific to an older Python, NumPy or Biopython), but we've had Windows based testing with AppVeyor running fine for a long time now.

[2020-07-24 21:13] #1240 closed

[2020-07-24 21:16] peterjc commented on #1302
Fixed a long time ago by #1307 (and dropping Jython support)

[2020-07-24 21:16] #1302 closed

[2020-07-25 01:45] mdehoon commented on #971
Yes an error message would be good.

[2020-07-25 01:52] mdehoon commented on #1381
This particular issue can be closed. The following works:
[code]
but I am not sure now how useful the `Bio.motifs` module will be for protein sequences as it was designed for DNA.

[2020-07-25 01:52] #1381 closed

[2020-07-25 10:21] jvfe commented on #2552
I'll work on `test_Seq*.py`

[2020-07-25 13:50] jvfe commented on #2552
I'll work on `Tests/test_SwissProt.py` and `Tests/test_UniGene.py`, they also require changing assert statements, as specified in #2835

[2020-07-25 15:21] peterjc commented on #2552
@jvfe the final pull request to close this will be to update the flake8 configuration to stop ignoring black: https://github.com/biopython/biopython/blob/master/.flake8 setting ``per-file-ignores =``

And make a slight edit to https://github.com/biopython/biopython/blob/master/CONTRIBUTING.rst

And it would deserve mention in https://github.com/biopython/biopython/blob/master/NEWS.rst

[2020-07-25 16:31] peterjc commented on #2552
Almost there...

[code]

[2020-07-25 16:34] jvfe commented on #2552
Oh, must've missed those cause I checked test_*. I'll do another PR for them.

[2020-07-25 20:01] peterjc commented on #2552
And we're done - a real team effort, thank you to everyone including all the BCC2020 CoFest participants who helped with the final push.

[2020-07-25 20:01] #2552 closed

[2020-07-25 21:21] nimne commented on #2120
It looks like this specific problem was fixed in mysql-connector 8.0.21 but I haven't had a chance to test it myself. This  version was released on pypi on Jul 12, 2020 so it will probably take time for it to end up in the CI systems.

[From the bugtracker](https://bugs.mysql.com/bug.php?id=95437):

[2020-07-27 12:00] peterjc opened #3156 "Bio.Alphabet to molecule type transition for file output"
Cross reference #2046, we are removing ``Bio.Alphabet``. There are relatively few use-cases where it is needed, one being working with file formats which track DNA vs RNA vs protein. For example, the SeqXML format needs to know the kind of sequence.

I wanted to write down some examples, how they might have looked the old way, should look the new way, and if and how a backward compatible version m

[2020-07-27 14:26] akabiraka commented on #3134
I was trying to save in pdb format. The problem occurs in the following 2 lines.
[code]

and
[code]

In this format, chain_id is considered as a single character. So I am getting error while saving "6tif" whose chain ids are AAA and BBB!!!

[2020-07-27 14:39] peterjc commented on #3134
https://www.rcsb.org/structure/6tif does not offer this structure in PDF format - did you start with their mmCIF file perhaps?

[2020-07-27 15:13] akabiraka commented on #3134
Yes, I started with their mmCIF format, and trying to save only chain BBB in pdb format.

[2020-07-27 15:46] rob-miller commented on #3134
I think you will need to change the chain ID to a single character in your
script.  Even if PDBIO succeeded to write it out as is, it would not be a
valid PDB file so nothing would read it in.  I don't think there is a good
way that PDBIO could automatically guess what character to choose from the
three letter code, so you would need to help it along.

On Mon, Jul 27, 2020 at 6:13 PM Anowarul Kabi

[2020-07-27 15:55] akabiraka commented on #3134
@rob-miller thanks, I can do that.

Since I am very novice, I never thought chain_id could be more than a single character.

[2020-07-27 16:08] peterjc commented on #3134
It looks like this is something the more modern mmCIF format allows, which was not possible in the older PDB format.

[2020-07-27 16:11] akabiraka commented on #3134
Thanks @peterjc for your help. Either I shall change the chain_in into a single character or save that into mmCIF format.

[2020-07-27 16:51] peterjc commented on #3134
Excellent - I'll close this issue then.

[2020-07-27 16:51] #3134 closed

[2020-07-28 08:43] peterjc commented on #2880
Looks like no one replied. Did you mean using BLAST online at the NCBI (their API is relatively limited), or at the command line with the NCBI BLAST+ tools?

[2020-07-28 09:23] peterjc commented on #906
I think we can close this now.

[2020-07-28 09:23] #906 closed

[2020-07-28 21:26] peterjc commented on #2120
https://anaconda.org/conda-forge/mysql-connector-python now has v8.0.21

[2020-07-29 07:02] Logan1x commented on #2835
[test.txt](https://github.com/biopython/biopython/files/4993154/test.txt)
this is what I got after running `flake8 --isolated --select A500 .` command. What should be my next steps? @peterjc

[2020-07-29 07:17] svalqui commented on #2835
@Logan1x ; You could try editing test_PDBList.py, Line 41
https://github.com/biopython/biopython/blob/337f41e786338eb6055918a32afc00976c5a2766/Tests/test_PDBList.py#L41
and replaced with
self.assertGreater(len(entries), 100000)

similar for line 50.
All the best.

[2020-07-29 07:58] peterjc commented on #2046
With the recent work up to and including #3168, Biopython no longer uses ``Bio.Alphabet`` internally and we should be OK to remove or deprecate it in the next release (Biopython 1.78). We still need to look at documentation and helping people transition, see e.g. examples on #3156.

[2020-07-29 08:08] peterjc commented on #3156
Example based on #2488, old code using ``Bio.Alphabet``:

[code]

New version:

[code]

Possible backward compatible version assuming ``Bio.Alphabet`` is simply removed:

[code]

There is more than more way to write this - hopefully we can agree something we all find simple and clear to recommend as best practice?

[2020-07-29 08:10] peterjc commented on #2488
We've gone with removal of the ``Seq`` object's ``.alphabet``, and instead are recording molecule type as a string in the ``SeqRecord`` object's annotation.

I've turned this use case into an example on #3156 (covering the old way, new way, and a proposal which would work on both for people who need that). Thank you.

[2020-07-29 08:10] #2488 closed

[2020-07-29 08:10] peterjc commented on #2928
All gone now

[2020-07-29 08:10] #2928 closed

[2020-07-29 08:12] #3002 closed

[2020-07-29 08:13] peterjc commented on #2961
This has been closed by #3133

[2020-07-29 08:13] #2961 closed

[2020-07-29 08:14] peterjc commented on #1674
Closed by #2953.

[2020-07-29 08:14] #1674 closed

[2020-07-29 08:40] peterjc commented on #2835
Well done @Logan1x, getting flake8 working with the plugin is a good start. Your output differs from mine two weeks ago in sort order (not important) and being more up to date - some issues got fixed by people at the BCC2020 CoFest last week.

The next step is fixing some of these.  @svalqui has explained one example.

You could make tiny edits like this directly in your webbrowser using GitHub (m

[2020-07-29 09:00] Logan1x commented on #2835
@svalqui please review the changes

[2020-07-29 09:04] Logan1x commented on #2835
@peterjc I am familiar with git and doing changes locally. I need help understanding what changes we are doing. Like I didn't understand the changes I made in latest pr, I just copied it.
was that also a redesign issue?

[2020-07-29 09:07] peterjc opened #3172 "Windows / AppVeyor conda dependencies stuck"
At some point late July 2020, our Windows AppVeyor tests broke during dependency installation with conda:

See also  #2120 and #3070 related to dependency versions, and my attempts to fix this on #3169

In the short term I have changed the GitHub branch settings not to require AppVeyor on pull requests.

[2020-07-29 09:12] peterjc commented on #2835
In this case, using ``.assertGreater(big_value, small_value)`` is considered better style than ``.assertTrue(big_value > small_value)``, see also:

https://docs.python.org/3/library/unittest.html#unittest.TestCase.assertGreater

The behaviour of the code should be identical. More generally, flake8 and related tools can spot things which can be real bugs in code.

[2020-07-29 10:01] federiconuta opened #3174 "How to retrieve the number of articles from mesh or NCT"
### Setup

Hi all,

I am currently trying to extract the number of articles from a set of conditions that I have stored in my db. The point is that I cannot simply input the names that I have since variations of them (e.g. "Diabetes" instead of "diabetes" or "short term insomnia" rather than "short-term insomnia") may lead to different results.
Hence my ideas were basically 2: 1) associate a mesh

[2020-07-29 10:07] peterjc commented on #3174
I don't know. The fact that you are using Biopython to connect to the NCBI Entrez API seems to me a minor detail here. You might have more success in getting advice on this by asking your fundamental question about NCBI MESH and NCT identifiers on somewhere like BioStars or Stack Exchange?

https://www.biostars.org/
https://bioinformatics.stackexchange.com/

[2020-07-29 13:09] federiconuta commented on #3174
Thank you,

Federico

[2020-07-29 13:17] peterjc commented on #3174
https://bioinformatics.stackexchange.com/questions/14046/nct-search-in-pubmed-via-entrez-python

Closing this, good luck.

[2020-07-29 13:17] #3174 closed

[2020-07-30 08:10] nicolazilio opened #3180 "UnicodeDecodeError when reading SnapGene files"
### Setup

I am reporting a problem with Biopython version, Python version, and operating system as follows:

[code]

### Expected behaviour

I would like to get feature names for > 4000 SnapGene plasmid maps. Using SnapGene Server, I can retrieve these data from all plasmid maps. I would expect the same using BioPython.

### Actual behaviour

BioPython fails to retrieve feature names for > 80% of

[2020-07-30 08:29] nicolazilio opened #3181 "ValueError: End location must be greater than or equal to start location when reading SnapGene circular map"
### Setup

I am reporting a problem with Biopython version, Python version, and operating system as follows:

[code]

### Expected behaviour

SnapGene encodes features that span the start/end of a circular map such that their start coordinates are greater than their end coordinates (see attached example).

### Actual behaviour

BioPython does not like features whose start coordinates are greater t

[2020-07-30 08:34] peterjc commented on #3181
OK, the parser will need to split this into a a join with two fragments (like GenBank/EMBL files use).

May we include this example file within Biopython for redistribution as a test case?

[2020-07-30 08:36] nicolazilio commented on #3181
Sure

[2020-07-30 08:36] peterjc commented on #3180
Please review #2831, and if you could provide a test case we can include with Biopython that would be really helpful.

[2020-07-30 08:51] nicolazilio commented on #3180
Ah, thanks! I searched for issues containing `SnapGene` but didn't see this one. I'm including a plasmid with a double whammy :), it contains a ® and a β. Both of the features that contain these characters are part of SnapGene's collection of common features.
[pFA-KanMX4.zip](https://github.com/biopython/biopython/files/5000084/pFA-KanMX4.zip)

[2020-07-30 08:57] peterjc commented on #3010
Regarding ``test_SeqIO.py``, I think you dealt with this with an optional dictionary of molecule types keyed by output format?

[2020-07-30 09:01] mdehoon commented on #3010
Yes it's already done.

[2020-07-30 11:44] peterjc commented on #3172
Short term "fix" in #3182 was removing all our soft dependencies. This has also sped up the build massively, so I am tempted to be more judicious in adding them back (happy as long as the serial run time from AppVeyor remains quicker than TravisCI)

[2020-07-30 13:09] evkul commented on #3181
Actually i just met the same issue with gcc file. Maybe the right way is to swap end and start in case, when end is less than start? That is abosolutely common case - i met the same things in gcc, xdna, gb and seq (Lasergene) files.

[2020-07-30 13:19] peterjc commented on #3181
We can't do that because the ``Bio.SeqFeature`` objects are very closely aligned to the INSDC feature table used in GenBank and EMBL.

See https://github.com/biopython/biopython/blob/biopython-177/Bio/GenBank/__init__.py#L272 for how this can be done - but note for SnapGene and other files where the format deliberately uses this style of coordinates, you wouldn't want to complain about it with a w

[2020-07-30 13:24] peterjc opened #3185 "BSD Dual Licensing Bio.CAPS"
Sub-issue of #898, I have not been able to get in touch with Jonathan Taylor (jonathan.taylor@utoronto.ca - also tried jtaylor@perceptiveio.com), original author of ``Bio.CAPS`` - see commit 46c87158da786ade74e2c3dc5771ea7308eb0d5a -  Feb 2005.

[2020-07-30 13:30] evkul commented on #3181
Don't sure that i understood you correctly. I have files with reverse notation for locations and i have an error from biopython lib. So i have completely no option to solve this issue, except for writing own parser for that

I will attach few examples of files. (Yeah, i know, that BP is not supporting Lasergene Seq files, but still)

[error_files.zip](https://github.com/biopython/biopython/files/5

[2020-07-30 14:21] cbrueffer commented on #3185
I found him on Linkedin, will give it a try there.

[2020-07-30 17:43] peterjc commented on #1902
Belatedly closing.

We still use ``EXCLUDE_DOCTEST_MODULES`` for things like ignoring online doctests in offline mode.

[2020-07-30 17:43] #1902 closed

[2020-07-31 05:40] svalqui commented on #2835
@Logan1x , Sorry a bit short of time at the moment, yes that was good, well done.
When I update test files, after a change I run the test, that gives me an indication if the code is affected if it passes means the code is working.
`~/biopython/Tests$ python3 run_tests.py test_PDBList.py`

These changes, pep8; are mainly changes in the style of the code, best practices, makes the code look more sta

[2020-07-31 06:22] nicolazilio commented on #3181
I don't want to open a can of worms here :), but I was wondering whether the start coordinate must really be less than the end one. If I convert the map that I shared above to GenBank using SnapGene (File -> Export -> DNA -> Save as type: GenBank - Standard), in the resulting file (attached) the start coordinate of the guilty feature "SP6 promoter" is also greater than the end one

[code]
[example

[2020-07-31 08:38] mr-c opened #3189 "Bio/Statistics/lowess.py trys to import non-existant Bio.Cluster.median"
https://github.com/biopython/biopython/blob/master/Bio/Statistics/lowess.py#L27

`Bio.Cluster.median` was removed in 2017 via bd91de581a76f6f4a8c61a2d9c54636625104c15

There's a fallback to numpy, shall I remove the `from Bio.Cluster import median` ?

[2020-07-31 08:54] mdehoon commented on #3189
Yes that is fine.

Note that the Bio.Statistics module has been deprecated, so an alternative is to just remove Bio.Statistics altogether.

[2020-07-31 09:17] mr-c commented on #3189
@mdehoon Thanks! https://github.com/biopython/biopython/pull/3190 is ready for review & merging

[2020-07-31 09:56] #3189 closed

[2020-07-31 09:59] peterjc commented on #3181
I think that is a bug in the SnapGene tool's GenBank format output

[2020-07-31 10:45] peterjc commented on #1353
The method definition is now:

[code]

I am unclear if the original issue remains, or if we can close this?

[2020-07-31 12:35] mdehoon commented on #3181
Looks OK to me ... same as what you would see in a GFF file.

[2020-07-31 14:06] peterjc commented on #3180
This should be fixed on the master branch thanks to #3187 - independent confirmation testing would be most welcome (please comment here and reopen it if needed).

[2020-07-31 14:06] #3180 closed

[2020-07-31 14:08] peterjc commented on #3181
But GFF and GenBank/EMBL are quite different.

Anyway, this should be fixed on the master branch thanks to #3187 - independent confirmation testing would be most welcome (please comment here and reopen it if needed).

[2020-07-31 14:08] #3181 closed

[2020-07-31 17:00] rbutleriii commented on #1528
@peterjc good question. I am still using ElementTree in my code for a non-DTD option. However, they entirely rebuilt the xml for `rettype='variation'` ==> `rettype='vcv'` .
[code]
Still no. Continuing to store as batches and `clinvarresult = ET.fromstring(batch)`.
[code]

[2020-07-31 17:05] peterjc commented on #1528
Thanks for the update, disappointing news though it was. Shall we leave this issue open for now then?

[2020-07-31 17:56] rbutleriii commented on #1528
Well, it seems like it is resource dependent, i.e.
[code]
All work, but others give the same error. Still others I cannot even figure out what `rettype`s are available, as the E-utilities handbook is very out of date. But the xml issue does not seem like something they are going to solve universally, so maybe just close it. There are notes in the tutorial on how to work around it with ET.

[2020-07-31 18:17] peterjc commented on #1528
OK, thank you.

[2020-07-31 18:17] #1528 closed

[2020-07-31 21:16] ylathouris commented on #2363
Hello,

I am the author/owner of the bio package on pypi. It was just a playground project. I have removed it from the following repositories:

- https://pypi.org/
- https://test.pypi.org/

This will likely break the 100 packages that reference it as a dependency. However, it seemed like the lesser evil in this case.  This means you could make Biopython available under the name `bio` and it will b

[2020-07-31 22:17] peterjc commented on #2363
Thank you @ylathouris - that is appreciated 💖

[2020-08-01 01:10] ialbert commented on #2363
Just to avoid any confusion here. I was unaware of this discussion here and a few hours ago I have asked @ylathouris  (in a private email) to release the name so that bioinformaticians can make use of it. He graciously agreed. Thanks again @ylathouris .

I requested the name since I am planning to develop a set of tools that, once installed will launch as:

[code]

and cover a number of commonly n

[2020-08-01 11:38] peterjc commented on #2363
I was thinking "bio" on PyPI could be a dummy package pointing at "biopython" but wasn't sure the best way to do that in practice.

@ialbert If you take "bio" on PyPI for your tool, what folder name would it use for any Python modules? If it uses "Bio/" it would clash with Biopython's code. If you use any case variation like "bio/" it still clash on case insensitive platforms like Windows which wa

[2020-08-01 12:16] ialbert commented on #2363
@peterjc, I see, I'll avoid that module name to mitigate the problem - actually since the tool will depend on BioPython and it ought to be usable on Windows as well avoiding the `bio` as a folder name will be a necessity.

[2020-08-01 14:49] peterjc commented on #2363
Good. I'd prefer you avoided "bio" on PyPI but as long as you avoid "bio" (and any case variations) in the module names, things should be OK. Thank you.

[2020-08-02 13:55] chris-rands commented on #2363
@ialbert  According to the current [dependancy graph](https://github.com/ylathouris/bio/network/dependents), 126 repositories and 14 packages specify `bio`/`Bio` and it appears these are all accidental, where instead `biopython` was the intended dependancy. There are more examples outside of github repositories from issues/StackOverflow and I imagine users will continue to run `pip install bio` in

[2020-08-02 14:05] ialbert commented on #2363
@chris-rands one "solution/mitigation" is that bio will depend on biopython, thus when installing `bio` people will get biopython installed automatically.

The important issue as I understood is the case-insensitivity of the folder name, which is much harder to diagnose/troubleshoot.

[2020-08-02 14:22] chris-rands commented on #2363
@ialbert I can see that helps, but it also means those people will be unaware they installed the bio package too. Also, in the future, you might want to remove biopython as a dependency for your package or fix the version like `biopython==1.76`

[2020-08-02 16:00] peterjc commented on #2363
Having "bio" on PyPI be a dummy package which depends on "biopython" (any version) seems OK. Having it depend on a pinned version sounds like trouble (unless we do matching releases which seems like a long term hassle).

Can we make "bio" on PyPI into a dummy package which prints a message via pip install that you should do "pip install biopython" instead? That would seem better.

[2020-08-02 16:50] ialbert commented on #2363
I think is that the Bio/bio problem caused by case insensitive folder names on Windows is a valid problem that developers should make some concerted effort to avoid. This is because the errors it leads to can be confusing, the diagnosis can be misleading, which could lead to lots of time wasted.

On the other hand, creating mock packages to indicate the "correct" module feels like a solution that

[2020-08-02 17:06] peterjc commented on #2363
I'm not sure if you meant to suggest it, but a dummy "bio" on PyPI which would always fail to install might work (if we can make it fail with a custom message like "Don't depend on 'bio' in PyPI, you probably want 'biopython' instead.")

[2020-08-02 18:49] ialbert commented on #2363
If you follow the example to the end you'll see how it is not quite a proper solution. Suppose you do

    pip install foo

and  `foo` depends on a package that deliberately fails with the error message you suggest. Now what?

Will installing biopython fix the problem of not being to install/run `foo` ? No, because even after you've installed `biopython` the error remains:

    pip install foo

wi

[2020-08-02 20:16] zruan commented on #1353
Yes, I think this is no longer an issue now since we dropped the alphabet class.

[2020-08-02 20:25] peterjc commented on #2363
In that example, package foo is broken. Having a clear failure is probably the best case.

[2020-08-02 20:26] #1353 closed

[2020-08-02 20:26] peterjc commented on #1353
Closing, thank you.

[2020-08-02 20:26] peterjc commented on #2363
We could start manually reporting issues where people are depending on "bio" when it should from from context be "biopython"...

[2020-08-03 04:54] mdehoon commented on #2363
I agree with @peterjc 's suggestion here. In the example of @ialbert , package `foo` is broken. We can provide a meaningful error message that allows the user to contact the developer of `foo` to let them know their package is broken. Beyond that, it is not our responsibility to fix `foo` or to provide a workaround.

[2020-08-03 09:30] linuxonly801 opened #3194 "Enhanced SeqRecord slicing to optionally give truncated partial features?"
### Setup

I am reporting a problem with Biopython version 1.77, Python version 3.6.4, and operating
system Win10 as follows:

[code]
[Cd6 gene.txt](https://github.com/biopython/biopython/files/5015041/Cd6.gene.txt)
(Because gb file is not supported, I renamed the file to txt)

### Expected behaviour

I am expecting the output file to contain correct labeled exons.

### Actual behaviour

But the f

[2020-08-03 09:44] peterjc commented on #3194
You loaded a record with ``Cd6_gene = SeqIO.read('Cd6 gene.gb', 'genbank')``, the file starts:

[code]

i.e. This is 40724bp long, and has a gene spanning all of it. There are several different mRNA feature described as joins covering chunks of the sequence.

When you do this:

[code]

It makes a new ``SeqRecord`` with the sub-sequence for the region, and any *complete* features within it. In this

[2020-08-03 10:24] MarkusPiotrowski commented on #2363
Coming back to the original problem. I hadn't had a look into it, but would it hard to check during installation if a lowercase "bio" folder does exist and then exit the installation?

[2020-08-03 12:22] mdehoon commented on #2363
@MarkusPiotrowski
It's possible, but not so easy on Windows. Can somebody here run some tests on Windows?

[2020-08-03 12:40] linuxonly801 commented on #3194
Dear Peter, Thanks for your reply.
I expect the features to cut to match the region I selected. As shown below.
[Cd6_gene_exon2_6_expected_file.txt](https://github.com/biopython/biopython/files/5015970/Cd6_gene_exon2_6_expected_file.txt)

I am trying to clone this fragment to a backbone. How can I achieve this? Thx

[2020-08-03 14:55] peterjc commented on #3194
That helps - looking at the first example mRNA, you want:

[code]

Applying the 29683 offset that would be like this on the parent sequence:

[code]

I was suggesting this as a possible interpretation (having fixed the left value from my original example):

[code]

They differ in my use of ``<`` (before) and ``>`` (after) attempting to indicate this was truncated and the start/ending is actually l

[2020-08-04 01:15] linuxonly801 commented on #3194
Dear Peter, Thanks for the reply.
I am a beginner to python and biopython, so, it is really difficult for me to do this in my own script.
Hope you guys can add this function to biopython soon. Looking forward to it ^_^.

[2020-08-04 03:16] ChrisMoth opened #3195 "682i.cif fails on parse of resolution to structure header"
### Setup

I am reporting a problem with Biopython 1.77, Python 3.8.3 (anaconda July 2020) , and CentOS 7 as follows:

[code]

### Expected behaviour

682i.cif would load, with no halting exception, with the code:

[code]
### Actual behaviour

Parsing fails with:

Traceback (most recent call last):
  File "./mmcif_fail.py", line 8, in <module>
    structure_cif = mmCIF_parser.get_structure('6g2i',

[2020-08-04 06:57] rob-miller commented on #3195
I suspect this is my code for adding the 'pdb header' info to cif data, so
should probably offer some viewpoint (I'm moving house this week so not
certain I can look at any code immediately).  Sorry I apparently didn't run
against all of the .cif files in testing, and yes that seems like a good
idea to do regularly - not being the person who has to organise the
releases :-).

Idea: Perhaps more im

[2020-08-04 12:09] ChrisMoth commented on #3195
Rob,

Thanks for your quick note.  A little more on our application.

I work on a high throughput automated software pipeline that turns around hundreds to thousands of calculations on tens to hundreds (or more) PDB structures from the time a sick patient's genetic variants are presented to us on Monday, until we present academic research finding to physicians on Friday.

As inputs to the calculat

[2020-08-04 15:38] peterjc commented on #2247
Belatedly closing, should have been fixed with #2254 (parsed with a warning)

[2020-08-04 15:38] #2247 closed

[2020-08-04 15:45] peterjc commented on #1538
With the removal of ``Bio.Alphabet`` for Biopython 1.78 this is in a sense solved.

However, there is still the possibility of adding sanity tests on complementing letters which are not IUPAC ambiguity codes. e.g. ``E``,``F``, ``I``, ``J``, ``L``, ``O``, ``P``, ``Q``, and ``Z``(in either case) might justify raising a ``ValueError``. Currently they are still silently ignored:

[code]

See also disc

[2020-08-04 15:45] #1538 closed

[2020-08-06 10:33] starling13 opened #3196 "BioSQL: import GENBANK entry with weird DBLINK field fails"
The error with last lines from trace back:
[code]

Importing record is:
[code]
As can be seen, problem comes from the second dbref record with database name "Sequence Read Archive" and multiple accession IDs, last from wich even is placed on new line.

The dirty workaround is to ommit lines without ':' character:
Loader.py
[code]

Biopython BioSQL version: 1.73+dfsg-1 from Debian 10 x86_64 package

[2020-08-06 10:40] peterjc commented on #3196
Good news, it is not the BioSQL code that is broken. Bad news, the GenBank parser is:

[code]

It needs to append the ``SRX001529`` bit to string ``Sequence Read Archive:SRX001885, SRX001121, SRX001531, SRX001530,``

Do you fancy trying to fix this?

[2020-08-06 10:52] starling13 commented on #3196
I would try, but not as quick as I wish.

[2020-08-07 03:11] bsmith4133 opened #3197 "Wrappers for blastdb_aliastool, blastdbcmd in Biopython modules?"
Hello,

I'm trying to make a pipeline using the Bio.Blast.Applications module. In the BioPython documentation, there doesn't seem to be wrappers for tools such as blastdb_aliastool and blastbcmd. Does anyone know if they exist? If not, would the best alternative be to use the Python subprocess module for command line use?

Thanks!

[2020-08-07 09:44] chris-rands commented on #3197
See https://github.com/biopython/biopython/issues/1463

[2020-08-07 10:19] peterjc commented on #3197
Thanks Chris. And yes, subprocess is a good alternative - but see also discussion on #2877

[2020-08-07 13:45] starling13 commented on #3196
I'am now testing my poor attempt of fixing this problem:
[code]

[2020-08-07 16:07] bsmith4133 commented on #3197
Thanks so much for pointing out the resources - they are very helpful. I was wondering if anyone could speak a little about platform compatibility (Linux, Windows) for subprocess module and Blast.Applications? To assemble the command line in su process, are there drawbacks to using a string and running it vs. creating a Popen object with a list of commands?

Thank you!

[2020-08-07 16:17] peterjc commented on #3197
We tried to hide Windows vs Linux/Mac differences in the ``Bio.Application`` framework although I understand people have had trouble with at least some of the tutorial examples. Please add to the discussion on #2877.

[2020-08-07 19:44] yursha commented on #2580
Is this completed and can it be closed?

[2020-08-07 22:08] JoaoRodrigues commented on #2580
Not really no. Still working on it. The last few months have been quite intense with black + testing so it's been hard to have a stable base to compare pre-commit to the current workflow.

[2020-08-08 18:36] SimonKitSangChu commented on #1875
I second the idea to add an option to download biological assemblies. Is the functionality added already?

[2020-08-10 05:31] antoinekoehl opened #3202 "Emboss Command Line - Stdout issue"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

3.6.10 |Anaconda, Inc.| (default, Mar 25 2020, 18:53:43)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]
CPython
Darwin-18.7.0-x86_64-i386-64bit
1.76

### Expected behaviour
I am trying to align two sequence using the python wrapper to EMBOSS Needle. When I initialize the needl

[2020-08-10 09:42] peterjc commented on #3202
You need to add ``-auto`` to the command line to say automated mode, do not prompt the used. i.e. ``needle_cline.auto = True`` in your example.

[2020-08-12 05:26] asmaamohamedreda commented on #1620
When you download the sequence Alignment... you have tho choose from format options "Stockholm"

[2020-08-12 10:01] edarl opened #3204 "PDBParser not parsing all atoms"
### Setup

I am reporting a problem with Biopython 1.77 (conda, conda-forge channel) , Python 3.8.5, and operating system as follows:

[code]

### Expected behaviour

Parsing all atoms in the PDB file into the Biopython `structure` object.

### Actual behaviour

The PDB file parses into a `structure` object however there are atoms missing. For reference, the PDB file has been modified from the one

[2020-08-12 17:26] peterjc commented on #3204
It looks to be missing only some of the hydrogen atoms (and not other kinds
of atoms). Are they by any chance unusually far from the main residue atoms
in spatial distance?

I also noticed (and this is probably not relevant), and there is something
odd about the indexing in column 2 of your input - as though all the
hydrogens were added and numbered later?

[code]

[2020-08-12 19:16] JoaoRodrigues commented on #3204
The issue might be that your missing hydrogens have serial numbers larger than 99999. Then, the number extends onto the record type and the parser might not recognize those as valid atom lines. In other words, RING is producing bad PDB files that do not conform to the format specifications :) A simple way is to just renumber the atoms. You can use [pdb-tools](http://www.bonvinlab.org/pdb-tools/) a

[2020-08-12 21:01] peterjc commented on #3204
I think you may be right Joao - the first missing hydrogen had number 100007. So, the question might now be why doesn't the parser raise an exception, or at least a warning?

[2020-08-13 00:31] JoaoRodrigues commented on #3204
Because we don't check for malformatted records. Since we do not parse all record types specified in the PDB format, there is no way we can figure out if a particular one we are reading is wrong. As such, the parser only looks for lines starting with `ATOM  ` (note the spaces) or `HETATM`. We *could* just use `line.startswith('ATOM')` but then we'd still get the serial number wrong anyway and migh

[2020-08-13 03:15] ccwang002 opened #3205 "Allow Bio.Align.PairwiseAligner to handle letters not in the score matrix"
### Setup

3.8.3 | packaged by conda-forge | (default, Jun  1 2020, 17:21:09)
[Clang 9.0.1 ]
CPython
macOS-10.15.6-x86_64-i386-64bit
1.77

### Expected behaviour
I was trying to align [Q92813](https://www.uniprot.org/uniprot/Q92813)'s protein sequence to its isoform, which contains an amino acide Selenocysteine `U`. For simplicity, let's just align a part of this protrein's sequence to itself: `HW

[2020-08-13 09:32] mdehoon commented on #3205
The next release of Biopython adds a `select` method to create a new matrix from an existing one. This will allow you to select the letters of the matrix you want to keep, but also to add new letters. Then you can do
[code]
By default, the score will be zero; you can set it to some other value before using the aligner.
If you want to use this feature now, you could grab it from the Biopython githu

[2020-08-13 10:44] yogeshhk commented on #334
In chapter 13.2

Tried:
Phylo.convert("data/other_trees.nwk", "newick", "data/other_trees.xml", "nexml")

Got errors...

Error 1:
Traceback (most recent call last):
  File "C:\Users\yogesh.kulkarni\AppData\Local\Continuum\anaconda3\envs\tf2\lib\site-packages\Bio\File.py", line 72, in as_handle
    yield fp
  File "C:\Users\yogesh.kulkarni\AppData\Local\Continuum\anaconda3\envs\tf2\lib\site-package

[2020-08-13 11:07] peterjc opened #3206 "NeXML output broken (bytes vs text)"
Example based on issue reported on #334 by @yogeshhk (his was PhyloXML to Newick to NeXML):

[code]

@bendmorris can you take a look? The code seems to deliberately try to write bytes (since it uses ``.encode("utf8")``) but make no attempt to open the file in binary mode (which may be sensible for XML output).

[2020-08-13 11:08] peterjc commented on #334
I've turned @yogeshhk's example into a self contained test and logged it as #3206. This does look like a Python 2 to 3 oversight with the code not being consistent about text vs binary mode (unicode strings vs bytes).

[2020-08-13 11:17] mdehoon commented on #3206
XML is a binary format, with the encoding written in the XML file itself.

[2020-08-13 11:27] peterjc commented on #3206
Also have a look at SeqIO, which used to have a private list of formats to be opened in binary mode, but now handles this in the writer for each format (note the test of writing zero length bytes or zero length string to verify the file mode).

[2020-08-13 11:45] edarl commented on #3204
Thank you both for the really quick help!

I renumbered the file and it's now being read by Biopython with no missing atoms! I was aware the numbering was off but I didn't think it was causing the parsing problem as not all of the atoms that had different numbers were being missed by Biopython.

A warning for coordinate-type lines not being imported would be really helpful, as it took me awhile to

[2020-08-13 15:08] ccwang002 commented on #3205
I can confirm it works! Thank you!!

Here's the output using the developmental version of biopython(`52c01e5`):

[code]

[2020-08-13 15:08] #3205 closed

[2020-08-13 15:08] simonjuleseric2 opened #3207 "read ACE files alignement"
### Setup

I am reporting a problem with Biopython version 1.76, Python version 3.7.7, and operating
system as follows:

### Expected behaviour

Shown in this exemple:

https://biopython.org/wiki/ACE_contig_to_alignment

### Actual behaviour
ModuleNotFoundError: No module named 'Bio.Align.Generic'

### Steps to reproduce

(*Please fill this in *)
from Bio.Align.Generic import Alignment

[2020-08-13 15:30] peterjc commented on #3207
That old example needs quite a lot of updates... does the ACE support in Bio.SeqIO cover your immediate needs? https://biopython.org/wiki/SeqIO

[2020-08-13 15:39] peterjc commented on #3207
I've updated the example, the website should update in a few minutes. It should now start:

[code]

Does that work for you now?

[2020-08-13 18:11] JoaoRodrigues commented on #3204
Thanks for raising the issue @edarl. I'll create a PR soon to add a check for these types of problems.

[2020-08-13 21:31] #3204 closed

[2020-08-13 23:21] #2995 closed

[2020-08-14 00:59] #2963 closed

[2020-08-14 01:18] #2733 closed

[2020-08-14 01:20] #2736 closed

[2020-08-14 01:21] JoaoRodrigues commented on #2736
Since the documentation and format specification is quite ambiguous, to avoid introducing expensive calculations, I think it's better to leave things as they are.

[2020-08-14 01:22] #2842 closed

[2020-08-14 01:39] JoaoRodrigues commented on #2348
Revisiting this. We could add a shortcut to try and find a HETATM if the ATOM is not found, so something like:
[code]

This is not perfect (you cannot use it to select water molecules for instance) and in case there is a conflict (HETATM and ATOM with the same resid) it defaults to the ATOM. But it would be more practical in many situations. I checked a few PDB files manually and there wasn't over

[2020-08-14 01:40] #2226 closed

[2020-08-14 01:45] #2163 closed

[2020-08-14 01:47] JoaoRodrigues commented on #1912
This was addressed in #3006

[2020-08-14 01:47] #1912 closed

[2020-08-14 09:31] simonjuleseric2 commented on #3207
Yes it works now, thanks

[2020-08-14 09:31] #3207 closed

[2020-08-14 09:37] Minys233 opened #3213 "Atom object has no attribute atom.disordered_get_list when saving PDB file"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]
3.8.5 (default, Aug  5 2020, 08:36:46)
[GCC 7.3.0]
CPython
Linux-5.4.0-42-generic-x86_64-with-glibc2.10
1.77

### Expected behaviour

`PDBIO.save()` function should save a `Chain` object normally.

### Actual behaviour
The function failed on calling `atom.disordered_get_list()` on s

[2020-08-14 10:11] yogeshhk commented on #753
Is this issue still open?...seeing that cyano.txt url is already added and the original "nodes = tree[:]" is not raising any error now in Python 3.6

[2020-08-14 10:28] peterjc commented on #3213
@JoaoRodrigues are you able to look at this?

[2020-08-14 11:07] peterjc commented on #753
I think you're right - ``mydatafile.txt`` is hypothetical and ``cyano.txt`` has been added. Closing, thank you.

[2020-08-14 12:20] peterjc commented on #2580
With #2827 now merged, leaving this open until the CONTRIBUTING.rst file is updated.

Also https://biopython.org/wiki/GitUsage - anything else?

[2020-08-14 12:21] peterjc commented on #2580
Also how well does it work for TravisCI to call pre-commit for the style checks? It would be better to have a single configuration...

[2020-08-14 17:11] #2756 closed

[2020-08-14 17:12] JoaoRodrigues commented on #3213
Will do.

[2020-08-14 17:53] JoaoRodrigues commented on #2580
We could have TravisCI install pre-commit and just run it, like this:

[code]

[2020-08-14 18:00] peterjc commented on #2580
I'll give that a try on a branch...

[2020-08-14 18:02] JoaoRodrigues commented on #2580
This has the potential downside that it will run through ALL files. We could look into a way (maybe there is a simpler way) to just run pre-commit on the last committed changes? Without searching for anything, this would involve a little git-fu in TravisCI:

[code]

[2020-08-14 18:08] peterjc commented on #2363
Just found https://pypi.org/project/precommit/ is an example of a dummy project where trying to install it triggers:

[code]

This could be even clearer, but ``pip install precommit`` is wrong, should be ``pip install pre-commit``

We could do the same with ``pip install bio`` giving an error suggesting ``pip install biopython``

[2020-08-14 18:15] JoaoRodrigues commented on #3213
Will write here as I work through the issue. Hopefully we can close this and other related issues once and for all...

The issue here is that when PDBIO rebuilds the full SMCRA model (we're only giving it a chain here), it loses the DisorderedAtom objects. They become simple Atom objects. This happens on `Entity.copy`.

[2020-08-14 18:53] peterjc commented on #2580
I've opened #3214 to address a few points.

Having pre-commit including blacken docs is already a usability improvement.

We would ideally include the pre-commit equivalent ways to run the following checks currently done on TravisCI, but I am unclear how to define a completely new hook in pre-commit:

[code]

Plus these with grep - which I think ought to be easier:

[code]

Extracted from the curr

[2020-08-14 18:56] JoaoRodrigues commented on #2580
See the list here: https://pre-commit.com/hooks.html. There seems to be an `rst-linter` we could use directly or adapt?

As for the greps, what exactly do they do? The first one is clear but the others not so much.

[2020-08-14 19:01] peterjc commented on #2580
I took the comments out of the grep commands, see https://github.com/biopython/biopython/blob/biopython-177/.travis-tox.ini#L122 with the explanations.

[2020-08-14 19:22] JoaoRodrigues commented on #2580
Maybe wrapping these in a small Python script and making a tiny pre-commit hook would be the best? On windows, unless you drop into WSL, there's not grep.

[2020-08-14 20:16] peterjc commented on #2580
My impression is that https://github.com/pre-commit/pygrep-hooks could be used to replicate the grep commands (and that would work on Windows). However, I've not tried yet.

It looks like doc8 can be used, see https://github.com/PyCQA/doc8/blob/master/.pre-commit-hooks.yaml

It looks like rst-lint is not, see https://github.com/twolfson/restructuredtext-lint/pull/51 - but perhaps https://github.co

[2020-08-14 23:32] peterjc commented on #2580
doc8 is now listed in the official pre-commit documentation https://github.com/pre-commit/pre-commit.com/pull/380

[2020-08-15 00:11] peterjc commented on #2580
Another option for RST linting is https://github.com/myint/rstcheck which is again a docutils wrapper. Testing that now...

[2020-08-15 12:28] peterjc commented on #2580
I'm starting to find the default pre-commit output too verbose with multiple hooks. Doing a full test like this is OK, in part since it takes a while (lots of flake8 plugins):

[code]

However, when only a few files have been edited:

[code]

In this context I'd like to hide the skipped lines, and probably also the passed lines. See https://github.com/pre-commit/pre-commit/issues/823

[2020-08-15 13:58] khp1 opened #3221 "SeqIO error: local variable 'qual' referenced before assignment"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

### Expected behaviour

I send some samples for Sanger sequencing to a commercial facility. I'm able to read the files they send using the command
[code]

This worked fine until now.
### Actual behaviour
But recently, due to a move, we had to send the samples elsewhere for sequenci

[2020-08-15 14:06] peterjc commented on #3221
I think this was fixed in #1037, can you try Biopython 1.77 please?

[2020-08-15 14:12] khp1 commented on #3221
I upgraded it to 1.77, but still get the same error. :(

[2020-08-15 18:28] peterjc commented on #3221
Ah. I was hoping this would be very easy. On the bright side, your example breaks for me too (macOS):

[code]

And,

[code]

[2020-08-15 18:38] peterjc commented on #3221
Interesting. The problem file does not have the PCON2 field (or the PCON1 field) for quality scores - only:

``['AEPt1', 'AEPt2', 'ASPt1', 'ASPt2', 'B1Pt1', 'B1Pt2', 'CMNT1', 'CTTL1', 'DATA1', 'DATA2', 'DATA3', 'DATA4', 'DATA5', 'DATA6', 'DATA7', 'DATA8', 'DATA9', 'DATA10', 'DATA11', 'DATA12', 'EVNT1', 'EVNT2', 'EVNT3', 'EVNT4', 'FWO_1', 'LANE1', 'LIMS1', 'MCHN1', 'MODL1', 'NAVG1', 'NLNE1', 'PBAS1

[2020-08-15 19:25] JoaoRodrigues commented on #2580
Indeed, it'd be nice to skip the 'skipped' tests. I found the 'branding' excuse of the main developer a bit disappointing. Hopefully your patch will go through.

[2020-08-15 21:35] peterjc commented on #2580
Still https://biopython.org/wiki/GitUsage to update and a handful of trivial grep checks in ``.travis-tox.ini`` , plus this one:

``grep "^- " CONTRIB.rst | LC_ALL=C sort -u -c -f``

I don't know how easy that would be to handle in a cross platform way - probably simplest if rather than insist on adding everything to pre-commit, we leave a few things like this only on the Continuous Integration si

[2020-08-15 21:42] JoaoRodrigues commented on #2580
Honestly, I think what we've already done is a huge help. I've personally benefitted a ton from the flake8/black tests locally on each commit. So - let's wait and see!

[2020-08-15 23:16] peterjc commented on #2580
I'd gotten used to having flake8 and black locally already via the (deprecate) flake8 pre-commit hook and the flake8-black plugin. I'm pleased to have this cover the RST checks, and blacken-docs in particular is going to be very useful.

Which lead to https://github.com/biopython/biopython.github.io/pull/170 if anyone wants to review that...

[2020-08-15 23:26] JoaoRodrigues commented on #2580
Good idea - I'll have a look!

[2020-08-16 15:37] bow commented on #3221
@peterjc It looks like indeed [this if clause is never hit](https://github.com/biopython/biopython/blob/19f72932e1ed7e4e035a0f12dc1074f91aca5a53/Bio/SeqIO/AbiIO.py#L394), which means qual is never defined, and so the fix works.

But as to why the sequencing machine did not add the quality information to the file, it seems to be something you need to cross-check with the sequencing provider @khp1.

[2020-08-16 17:26] peterjc commented on #3221
@bow Should I turn that patch into a pull request?

[2020-08-16 18:43] khp1 commented on #3221
Thank you! I will check with the sequencing facility as to why the quality was not included.

[2020-08-16 21:05] #3197 closed

[2020-08-17 15:47] khp1 commented on #3221
The sequencing facility told me that the files they sent were manually edited to only have high quality data and that's why the quality information is not available. They told me to specifically request for unedited files in future.

[2020-08-17 22:30] #455 closed

[2020-08-17 22:30] #3213 closed

[2020-08-18 05:18] morrme commented on #2510
@peterjc what is the status of this issue?

[2020-08-18 16:15] peterjc commented on #2906
That sounds worth exploring (GitHub emailed me after your edit, I must have missed your comment back in June - sorry)

[2020-08-19 06:59] rob-miller commented on #2580
Worth mentioning in CONTRIBUTING.rst to remove any existing .git/hooks/pre-commit so that does not get migrated?  This caused me problems but may have just been a local issue due to updating pyton3.7->3.8 around the same time.

[2020-08-19 16:33] #2500 closed

[2020-08-20 17:01] chebizarro opened #3225 "test_pcr_primers test fails with unexpected results"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

### Expected behaviour

Running the full test suite with online tests is expected to complete without failure

### Actual behaviour
[code]

### Steps to reproduce

Running the test suite online i.e.
```python3.6 setup.py test```

[2020-08-20 17:10] peterjc commented on #3225
Without checking the details, it looks none of the previously expected hits made the short list anymore. We probably just need to update the expected list to one of these (new?) transcript variants.

[2020-08-21 21:44] SoapGentoo opened #3228 "Doctest failure (test_chapter_align_line_02857) in tests for Biopython 1.77"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

I'm trying to package Biopython 1.77 in Gentoo, and am testing against Python 3.6/3.7/3.8/3.9 (the problem occurs on all versions).

### Expected behaviour

Tests pass

### Actual behaviour

I get one doctest failure:
[code]

### Steps to reproduce

Because the ebuild hasn't been added yet

[2020-08-22 08:50] rob-miller opened #3230 "reviewing PDB tests"
As per discussion in #3220, I stupidly volunteered to look at the structure files used by the test_PDB_*.py files.  I've generated the attached spreadsheet which attempts to list the files and what they are used for.

It is just clean-up work so only enhancement for maintainers, but overall my feeling remains that we could slim down to fewer test files - perhaps more judiciously selected against t

[2020-08-22 23:56] JoaoRodrigues opened #3231 "StructureBuilder cannot handle non-canonical altloc ordering written by PDBIO"
Parsing a PDB file with disordered atoms where the first instance of the disordered atom has a non-blank altloc but other instances are blank fails - second instance is ignored.  See this example:

 - PDB 5j2u, line 10598: No altloc in first instance of disordered atom H (goes from blank to `B`):
[code]

PDBParser will do its job right, but then PDBIO will place atom 9139 before 9138, which mangle

[2020-08-24 00:21] JoaoRodrigues commented on #3231
It was easier to simply add a sorting call to `DisorderedAtom`.

[2020-08-24 06:44] #3225 closed

[2020-08-24 10:22] jgreener64 commented on #3231
Sounds sensible, though that PDB entry looks pretty dodgy since the atoms 9138/9139 have the same coordinates. I sent a comment to the PDB about it, they sometimes amend entries.

[2020-08-24 12:38] ChrisMoth commented on #3195
Have the deposted file bugs been reported to wwwpdb/rcsb?  Just looking at the first one informs me they are letting

HETATM 4435 C  C9   . DD9 I 5 .   ? -19.851 5.852   -22.109 1.00 45.60 ? 308 DD9 A C9   1
HETATM 4436 H  H3A  . DD9 I 5 .   ? -20.027 4.711   -15.223 0.00 47.45 ? 308 DD9 A H3A  1
HETATM 4437 H  H3A  . DD9 I 5 .   ? -20.209 6.087   -14.466 1.00 49.90 ? 308 DD9 A H3A  1
HETATM 4438

[2020-08-24 18:34] #3231 closed

[2020-08-24 18:38] JoaoRodrigues commented on #3231
And 0 occupancy for altloc B... Thanks!

[2020-08-25 06:44] rob-miller commented on #3195
No, I did not raise with anyone upstream - please do.

On Mon, Aug 24, 2020 at 3:38 PM Chris Moth <notifications@github.com> wrote:

[2020-08-26 11:18] jgreener64 commented on #3231
5J2U will be amended in next week's PDB release to remove the rogue atom.

[2020-08-26 16:11] Chokerino opened #3234 "Extract Molecule information"
Hello,

Is there any way to extract info/names of the molecules present for a pdb id except for the one explicitly mentioned as entities? For example for [4u0g](https://www.rcsb.org/structure/4U0G) is shows various small molecules but they are not so easy to extract from the pdb.

[2020-08-26 17:49] JoaoRodrigues commented on #3230
I downloaded all XML files as well as an 'orthogonal' dataset that is trivial to parse. I'll write code now to compare the Biopython parsed structures to those, namely number of chains, residues, atoms, etc. Just to make sure we are parsing everything as it should be.

[2020-08-27 08:35] peterjc opened #3236 "black 20.8b1 is out and fails with \t tabs in docstrings"
Running black 20.8b1 on the current gives two failures:

[code]

with:

[code]

and:

[code]

Note the tabs, converted from "\t" (verbose) into literal tabs (problematic).

Might need to pin pre-commit and tox to using the previous black release

[2020-08-27 08:57] peterjc commented on #3236
Looks like https://github.com/psf/black/issues/1638 which was (perhaps in error) been marked as a duplicate of a similar older bug https://github.com/psf/black/issues/1601

Short term we will need to pin to the previous black release - or at least exclude 20.8b1 (and probably 20.8b0)

[2020-08-27 09:33] #3236 closed

[2020-08-27 10:07] #3221 closed

[2020-08-27 10:34] MarkusPiotrowski commented on #2580
Small issues (at least on Windows):

1. `doc8` seems to have problem with Window's line breaks:

[code]

The error message (at least for D002) is misleading here. It was required that I converted the line ending to UNIX/OSX format to pass.

2.  I then tested a `.py` file by adding a comment to `pairwise2.py` and got:

[code]

I didn't follow the shebang discussion but I would expect that all files

[2020-08-27 10:53] rob-miller opened #3238 "biopdb_faq.pdf not updated?"
Copies of 'The Biopython Structural Bioinformatics FAQ' do not seem to be updated on the web.  [pdf](http://biopython.org/DIST/docs/tutorial/biopdb_faq.pdf) and [html](https://biopython.org/wiki/The_Biopython_Structural_Bioinformatics_FAQ) do not reflect e.g. #2400, #2874, or  382831b .
Sorry if I'm looking at something irrelevant or cached?

[2020-08-27 11:05] MarkusPiotrowski commented on #2580
Ah, the shebang issue is already known on pre-commit: https://github.com/pre-commit/pre-commit-hooks/issues/435

It should be solved with https://github.com/pre-commit/pre-commit-hooks/pull/480 in recent versions of pre-commit

[2020-08-27 11:30] MarkusPiotrowski commented on #2580
The `doc8` issue with Windows line endings is also known but the author is not willing to fix it: https://github.com/PyCQA/doc8/issues/33

[2020-08-27 15:59] peterjc commented on #2580
Glad to hear the Windows specific executable issue has already been fixed.

There is an option with git about which new lines to use, so if your preferred editor supported it, you could in theory work with Unix style line endings on Windows - but it would be a little strange. I would want our pre-commit setup to work with Windows style new lines too.

A more optimistic reading on the doc8 newline

[2020-08-27 16:03] peterjc commented on #3238
Looks like an oversight. It needs to be added explicitly to https://biopython.org/wiki/Building_a_release along side updating the tutorial (pull request welcome).

You could build it locally (the Makefile covers this) and submit a pull request to https://github.com/biopython/DIST/blob/gh-pages/docs/cookbook/biopdb_faq.pdf ?

[2020-08-27 16:54] JoaoRodrigues commented on #2580
@MarkusPiotrowski I feel your pain. I never had the line endings issue here, but I have this on my git config (`core.autocrlf=true`) so while I work with CRLF, when I commit it converts to LF.

As for the executables, I've been ignoring that with `--no-verify`...

[2020-08-27 16:57] JoaoRodrigues commented on #3238
I would also be happy to go over it soon and rewrite/update certain parts that are outdated. Or should we just merge most of this content into the Tutorial?

[2020-08-27 17:23] peterjc commented on #3238
I would prefer to have it all in one place, and since both are written in LaTeX, the Tutorial seems best.

As to updating the PDB FAQ on website in the short term, I'd suggest building it as of the last release?

[2020-08-27 18:10] JoaoRodrigues commented on #3234
@Chokerino what do you mean by info/names of molecules? Do you mean ligands?

[2020-08-27 18:12] Chokerino commented on #3234
Yes ligands and other molecules and I found the the pdbe API from ebi.
Sorry forgot to close the issue.

Coordinator | BioBytes
Btech Undergrad '22 IIITD

On Thu, 27 Aug 2020, 11:41 pm João Rodrigues, <notifications@github.com>
wrote:

[2020-08-27 18:18] JoaoRodrigues commented on #3234
I still don't understand your question. Can you give me a precise example of what you are looking for?

You can use our parsers to read the PDB/mmCIF files and then you have access to all the coordinates/information. The headers are not parsed completely however. If you would be looking for ligands you could do something like:

[code]

[2020-08-27 18:26] Chokerino commented on #3234
I was looking for all molecules that are bound to the complex and this is
not generally available in the header of a pdb.

Coordinator | BioBytes
Btech Undergrad '22 IIITD

On Thu, 27 Aug 2020, 11:48 pm João Rodrigues, <notifications@github.com>
wrote:

[2020-08-27 18:27] Chokerino commented on #3234
I was looking for all molecules that are bound to the complex and this is
not generally available in the header of a pdb. Thanks for your help though.

[2020-08-27 18:43] peterjc commented on #2580
That's probably the git new line option I was thinking of - but I've not played with it to say how it interacts with a pre-commit hook. It sounds like it does avoid this problem with doc8?

(I am still working with macOS and Linux only, no Windows development machine setup as yet)

[2020-08-27 18:44] JoaoRodrigues commented on #3234
OK, then you might be interested in doing distance calculations. If you know the protein chains, you can figure out which other residues are close by using `NeighborSearch`. Taking the example above:

[code]

[2020-08-27 19:42] JoaoRodrigues commented on #2580
FWIW, you have to set it _before_ you clone for it to work right. There must be a way of 'resetting' line endings afterwards and letting git know it's OK too, but I didn't try that. It might avoid the problem with doc8 but since I never tested it I wouldn't know :)

[2020-08-28 02:30] JoaoRodrigues commented on #3230
@rob-miller now that I have the benchmark running, I'll go over your excel file. Great job at noting down all the tests and what they need the files for. We can almost surely craft a handful files that cover all these cases and add in one or two 'naturally' weird ones to boot!

[2020-08-28 05:28] rob-miller commented on #3230
Cool.  I attach some (large-ish) log files from my pdb and cif test code that I haven't been able to get through yet.
My code is at https://github.com/rob-miller/rtm-biopython-scripts but the key thing is that the columns indicate complication in the structure:

`file_no format idcode chain_id chain_count residues disordered_residues atoms disordered_atoms resolution missing_residues non-sequentia

[2020-08-28 06:01] MarkusPiotrowski commented on #2580
The line ending issue is not really a problem for me, I'm using Notepad++ for text editing (commit messages, working on `.rst` files) and changing the EOL is simple there. It's just uncomfortable and may be a problem for other Windows users. While we could think about turning off D004 (warning for carriage return), Windows line breaks also rise D002 (Trailing whitespace) and possibly D001 (Line to

[2020-08-28 07:37] JoaoRodrigues commented on #2580
@MarkusPiotrowski yes, just use `git commit --no-verify -m "..."` _after_ you ran it normally and only the shebang issue remains. Otherwise you skip all pre-commit checks :)

[2020-08-28 09:29] rob-miller commented on #3234
I think what he's looking for is a way to list the HETATMs (not every atom
but each entity).  Like for 4u0g something like HOH, SO4, ZIL ?
Not sure how to do that from Biopython structures though.

On Thu, Aug 27, 2020 at 9:44 PM João Rodrigues <notifications@github.com>
wrote:

[2020-08-28 09:52] Chokerino commented on #3234
@rob-miller yes that's what I was looking for. I found the PDBe API much easier so I just went ahead with that.

[2020-08-28 11:22] Huangzhiqang opened #3239 "How to retrieve Header of blast from XML format result"
Hello,

I have obtained XML format BLAST result with local blastn program. I know  NCBIXML.read or NCBIXML.parse can be used to parse BLAST xml format output, but it seems that NCBIXML.read or NCBIXML.parse can not extract Header of blast result.
So, are there other ways to retrieve header from XML file?
result_handle = open("blastn.xml","r")
blast_record = NCBIXML.read(result_handle)
print type(b

[2020-08-28 12:09] lehuyduc opened #3240 "Enhancement: add faster median algorithm in Bio/Cluster/cluster.c ?"
The median function in this file:
https://github.com/biopython/biopython/blob/master/Bio/Cluster/cluster.c
can be made faster (and shorter) by using a different implementation. The improvement is around 2-5x faster, 3x on average (-O2 flag). The function is purely C and acts as a drop-in replacement, no other changes to file "cluster.c" or the project is needed.

The implementation can be seen her

[2020-08-28 12:29] peterjc commented on #2580
I think fixing doc8 is worth doing - anyone fancy having a go? Otherwise if there is no easy way to skip it on Windows within pre-commit, we could drop it (and call it separately on TravisCI, e.g. via the remaining Tox stub of style checks)/

[2020-08-28 13:14] mdehoon commented on #3240
[code]

[2020-08-28 13:20] mdehoon commented on #3240
Thank you. If I understand correctly, this implementation relies on the same algorithm as the implementation currently in `cluster.c`. Then I am wondering where the improvement in speed is coming from?

[2020-08-28 13:41] lehuyduc commented on #3240
Honestly, I've no idea what the current implementation is doing, because there are so many variations of quicksort/quickselect with wildly-varying speed. But if I have to guess, it's because of this one:

[code]
which tries to loop over everything and find the max/min, which might be a waste.

Other than that, I guess it's also due to some simple instruction-cost. For example, in each recursive st

[2020-08-28 14:46] azurele opened #3241 "Bio/Medline/__init__.py - textkeys list issue"
### Setup

I am reporting a problem with Biopython latest version with the "Bio/Medline/__init__.py file

[code]
3.7.5 (default, Nov  7 2019, 10:50:52)
[GCC 8.3.0]
CPython
Linux-4.15.0-1050-azure-x86_64-with-Ubuntu-18.04-bionic
1.77

Line number 127 in the python notebook assigns a list of values to the textkeys variable which seems to have only have 34 values. But from the PubMed/Medline data des

[2020-08-28 15:11] peterjc commented on #3241
I believe you are mistaken, the list ``textkeys`` values (a tuple not a list) is merely those which are known to be text based and concatenated together as a single string versus treated as a list.

I suggest you give a concrete example with a specific record and the URL to get it, along with the output and any fields you see are missing.

[2020-08-28 15:19] peterjc commented on #3239
Have you tried ``dir(blast_record)``? The header attributes are there on the blast object which inherits from multiple classes - see https://github.com/biopython/biopython/blob/biopython-177/Bio/Blast/Record.py#L442

Example:

[code]

See also the BLAST XML support in SearchIO which uses a different object model intended to work with other pairwise comparison tools.

[2020-08-28 15:51] peterjc commented on #2580
@MarkusPiotrowski would you be able to try https://github.com/peterjc/doc8/tree/dos_newlines ? I'd be delighted for you to turn that into a pull request. I'd do it myself if I had a Windows machine ready for testing...

[2020-08-28 16:14] JoaoRodrigues commented on #3234
Then my first reply is the best we can do. It lists residue names, so it'll print, HOH, SO4, etc.

[2020-08-28 16:14] #3234 closed

[2020-08-28 16:40] azurele commented on #3241
My bad, it's a tuple. Closing the issue.

[2020-08-28 16:40] #3241 closed

[2020-08-28 18:10] JoaoRodrigues commented on #2580
@peterjc maybe a silly question but couldn't appveyor be used here for those tests?

[2020-08-28 18:19] weiss19 opened #3242 "Discrepancy between setup.py test when installing with develop vs. build options"
**The issue**

I have been attempting to get into the Biopython contributor community and learn to develop, but am running into issues while installing Biopython. Namely, I cannot get the tests to run without failing, when installing the setup.py file with the "develop" option. I created a conda directory, cloned the git repository into it, navigated to the biopython directory and ran "python setu

[2020-08-28 18:46] JoaoRodrigues opened #3243 "Improve version string of development versions"
Given the somewhat long periods of time between releases, there might be a substantial number of users (and developers) using git versions of Biopython. As such, it would be nice to adopt a more precise version scheme for the development git version. For instance, instead of `1.78,dev0`, we could have `1.78.123abc` where `123abc` is the latest commit hash. This is a compromise between keeping the

[2020-08-28 19:42] peterjc commented on #3243
I didn't get what you meant about automatic version tagging - currently tagging a version in git is quite a deliberate action as part of our release process.

Git hashs are not going to sort chronologically (and are not https://www.python.org/dev/peps/pep-0440/ compliant), but if you are not suggesting releasing those on PyPI it might not be a big issue? I can see this being useful if lots of peop

[2020-08-28 19:46] peterjc commented on #2580
@JoaoRodrigues If you meant why don't we run the pre-commit checks on AppVeyor, we could do. However, it would slow down the AppVeyor build which historically has been longer than the TravisCI runs. If it is truly cross platform there is little reason to do style checks twice for every continuous integration test.

(Right now the AppVeyor runs are fast because I had to turn off most of the soft de

[2020-08-28 20:38] peterjc commented on #3242
I think we need a setuptools or Python packaging expect, rather than a Biopython expert.

I've noticed oddities myself, and tend to focus on the old fashioned approach that was in the Biopython documentation before pip existed:

[code]

(Nowadays I have a local python via conda, so don't need sudo here. Previously I would have used a self-compiled Python under $HOME and ``python setup.py install -

[2020-08-28 22:26] JoaoRodrigues commented on #3243
Sorry id I wasn't clear. I meant it would be nice to have an automated way to add a commit hash (or any identifiable number really) to the development version number. Right now it's impossible to know what codebase `1.78.dev0` refers to without additional info.

Git hashes would not sort chronologically but they are unique so we would know exactly which version we were talking about. And yes, I me

[2020-08-28 23:05] JoaoRodrigues commented on #3242
Thanks for reporting @weiss19 !

All those assertion errors are from `substitution_matrices` trying to read `Bio/Align/substitution_matrices/data/README.txt`. The `MANIFEST.in` file excludes this README from being copied when we run `python setup.py install` so we never see this problem.

[2020-08-28 23:29] peterjc commented on #3242
Good work Joao. Fixing the ``MANIFEST.in`` to include ``Bio/Align/substitution_matrices/data/README.txt`` could be your first contribution to Biopython @weiss19?

[2020-08-28 23:42] JoaoRodrigues commented on #3242
@peterjc Wouldn't it be better to (also) fix the code in the load function (when name is None) in `substitution_matrices/__init.py` to prevent loading the README file in any case?

[2020-08-28 23:44] peterjc commented on #3242
Probably, CC @mdehoon for that Q.

[2020-08-29 00:15] JoaoRodrigues commented on #3242
Found the missing tests. There are 7 tests, all supposedly docstring tests for C extensions. The `find_modules` function in `Tests/run_tests.py` is adding these to the list of tests 'to run' and they 'pass' (although there's actually no test at all).

List of tests:
- 'Bio.PDB.QCPSuperimposer.qcprotmodule docstring test',
- 'Bio.Cluster._cluster docstring test',
- 'Bio.Align._aligners docstring te

[2020-08-29 00:27] weiss19 commented on #3242
@JoaoRodrigues For clarification, I never got to the point of running `setup.py install`, not sure if that effects the number of tests run.

This does sound like a contribution within the scope of my skills!

[2020-08-29 00:47] JoaoRodrigues commented on #2580
I meant the latter - but I understand why it'd be frustrating to 'debug' stuff like this in Appveyor.

[2020-08-29 01:39] JoaoRodrigues commented on #3230
Thanks! Awesome work, it's great we had different ideas to check, will make for a nice cross-check!

My mmCIF dataset is still running (much slower parsing than PDBs) - I'll update when it's done! For now, here's the PDB result:

[code]

Also, I checked: there is a structure with 640 models. Wow.

[2020-08-29 04:18] mdehoon commented on #808
It looks like one of our test cases has the same issue:
[code]

[2020-08-29 08:30] lehuyduc commented on #3240
I found an error in the testing program, so I close this issue

[2020-08-29 08:30] #3240 closed

[2020-08-29 09:36] peterjc commented on #3242
We don't want to avoid the C module - they ought to have doctests, and if so we want to test them. Cross reference #2350 (C doctests not being tested).

See also #2347 - does that idea help here?

[2020-08-29 11:16] MarkusPiotrowski commented on #2580
I'll give it a try.

[2020-08-29 13:41] peterjc commented on #808
@mdehoon that example is related, certainly. In that case rather than a ValueError the shift should probably be a noop here (since the shift in coordinates is in terms of the main reference sequence, not the externally referenced sequence).

I should probably deal with the merge conflicts and merge #2334 even without a compelling example for the documentaiton.

[2020-08-29 19:24] JoaoRodrigues commented on #3242
I thought so too, but I couldn't find the tests themselves (e.g. for QCPSuperimposer) so I thought it was a bug. So were these disabled then because of the issues you referenced?

[2020-08-30 02:17] lehuyduc opened #3245 "Enhancement: Bio/clustermodule.c using 1D array instead of 2D array to improve speed"
### **Current state**
In the file `clustermodule.c`, we have this struct:
[code]

In the file `cluster.c`, most algorithms use `double**` to represent 2D array.

### **Problem**

While it's natural and easy to code (`data[i][j] `), there are 2 factors that decrease performance:
a) It requires 2 pointer-dereference
b) Each row is a random memory address -> bad cache usage. Especially noticeable whe

[2020-08-30 12:35] #3245 closed

[2020-08-31 02:57] Huangzhiqang commented on #3239
I am a new for python and Biopython, thank you for your patience, this really resolved my problem!

[2020-08-31 02:57] #3239 closed

[2020-08-31 13:44] peterjc commented on #808
Fixed in #2334, thank you Adam.

[2020-08-31 13:44] #808 closed

[2020-09-02 14:39] peterjc commented on #3238
OK, that's the current copy on the website updated & the procedure for releases updated to include it in future releases. Closing this issue, thank you!

[2020-09-02 14:39] #3238 closed

[2020-09-02 15:08] peterjc commented on #3206
We want to get Biopython 1.78 out soon, so #3249 is a pragmatic fix to restore the behaviour from Biopython 1.76 (accidentally broken in Biopython 1.77 in a44d1fcd46aaf1a0836dd7f802d63360e3cc670b due to insufficient test coverage).

After that we should review ``Bio.Phylo`` to ensure XML files are opened in binary mode (probably following the style now used in ``Bio.SeqIO``). Is that something you

[2020-09-02 15:08] peterjc commented on #3202
I'm assuming you got this to work, closing issue.

[2020-09-02 15:08] #3202 closed

[2020-09-02 15:19] #2046 closed

[2020-09-03 10:07] MarkusPiotrowski commented on #2580
With PR #3251 applied the only issue for Windows users which remains is the shebang issue. I can confirm that this issue is resolved in `pre-commit` v3.2.0.
Is there a reason to pin `pre-commit` to v2.3.0? Or can we upgrade?

[2020-09-03 13:18] peterjc commented on #2580
Please update it, this is a fix of direct relevance.

I can see the argument for typically static versions for style checks as we are otherwise at the mercy of other people’s release schedule. The downside is we must remember to periodically update all these tools, and address any new style issues identified.

[2020-09-03 13:27] MarkusPiotrowski commented on #2580
I just wondered if there is a known issue with more recent version, and we pinned it deliberately. Fine, I'll change it.

[2020-09-03 15:30] peterjc commented on #2580
I assume the initial pinned values were simple the latest at the time.

[2020-09-03 18:32] JoaoRodrigues commented on #2580
FYI: there is an `autoupdate` command for pre-commit that will update the hooks to the latest version. I've had mixed results using it because some hooks you do want pinned to a specific version. Thanks for all these windows checks @MarkusPiotrowski , I can conform they all work here as well.

[2020-09-03 19:11] chris-rands commented on #2318
On reflection, I'm in favour of removing the warning message. I now test custom biopython branches using`editable` via conda with an `environment.yml` that looks like this:
[code]

I'm not sure if this is a good setup for testing branches(?), but anyway, this means I always get the warning traceback, which is inappropriate. I do not have a better solution than the original custom `ImportError` mes

[2020-09-03 22:49] peterjc commented on #2318
Yeah, I think so too - as implemented our `BiopythonWarning: You may be importing Biopython from inside the source tree. ...` is breaking a very real use case. e.g. It deters me from using developer mode (which is otherwise especially useful if you tend only to modify the Python code).

I've not thought of any way to fix the warning; reverting back to the old try/except on each major C module may

[2020-09-03 22:53] JoaoRodrigues commented on #2318
So you'd only issue the warning if you imported a C extension or a module that might call it? That seems very reasonable!

[2020-09-04 07:55] chris-rands commented on #2318
So we are agreeing towards (re)instating a custom traceback via try-except clauses (like in `Bio/Align/__init__.py ` when `_aligners` is imported). Which imports exactly would need this form of custom traceback?

[2020-09-04 08:38] peterjc commented on #2318
We need @mdehoon's input before making any change here.

There are also parts of the C code with a Python fall back (Nexus and pairwise2?) which used to be important for Jython (deprecated) and PyPy (C code should generally work now).

[2020-09-04 10:09] MarkusPiotrowski commented on #2318
These are the extensions that are build when doing `python setup.py build`:

- Bio.Align._aligners
- Bio.cpairwise2
- Bio.Nexus.cnexus
- Bio.PDB.QCPSuperimposer.qcprotmodule
- Bio.motifs._pwm
- Bio.Cluster._cluster
- Bio.PDB.kdtrees

As @peterjc said, `pairwise2` has a pure Python fallback, it prints a warning and continues. The same seems to be true for `Nexus.Nexus` (but without giving a warning

[2020-09-04 11:24] peterjc commented on #2318
Removing the warning and adding an FAQ might be enough given the dominance of wheels nowadays.

Nowadays most people will install from wheels, which will have the compiled files. The only people who will hit the C import errors are self-builders (who are likely to be more knowledgable?) and people running in the source folder (likely to be novices not using a wheel?). It was the later group our wa

[2020-09-04 12:55] chris-rands commented on #2318
We discussed what `numpy` do https://github.com/biopython/biopython/pull/2007#issuecomment-489569364, but never implemented it. I think we dismissed it as too complex, but I guess it has the advantage that what they do is more robust and will not give these false positive warnings for editable/develop installations

[2020-09-04 13:45] #2982 closed

[2020-09-04 13:57] peterjc commented on #2318
+1 on following NumPy with their `__config__` import check approach. It is more complicated, but I accept now that the simple option we took has severe downsides.

[2020-09-04 14:45] mdehoon commented on #2318
Numpy's solution sounds good to me.

[2020-09-04 19:38] JoaoRodrigues commented on #3230
Some updates:
- The entire PDB parses just fine, 100% success!
- Element assignment is correct for nearly all entries in the PDB (see #3250)
- The mmCIF dataset is underway (2/3 done) and it seems to be going well. There are a few instances of duplicated residues/atoms but I think actually these are issues with the files themselves. @jgreener64 would you mind sharing your PDB contact so I can emai

[2020-09-04 22:44] peterjc commented on #3230
I would guess the MMCIF parser didn't need a permissive parser since these files will be far more tightly curated than PDB format, where there was more variation in the early days from submissions and third party tool's output?

[2020-09-05 00:17] zl-zhou opened #3254 "Add unicode support to pairwise alignment"
Hello! I know that this package is primarily for biologists, but I'm a linguist and couldn't help but wish that I could use your alignment algorithms to answer some questions I've had recently. Would it be possible to add unicode support to the strings that pairwise2 can align — strings like "mɛɾɪtʰəreniən" — as well as to penalty matrices?

[2020-09-05 04:12] mdehoon commented on #3254
See section 6.6.2.9  in the Biopython tutorial for generalized pairwise alignments.

[2020-09-05 12:26] chris-rands commented on #2318
`numpy`'s solution is quite involved and difficult to emulate in full- it generates a lot of config info inside the file. Instead, i'm trying a light-weight version where  an empty `Bio.__config__.py` is added during installation but remains absent from the source tree. In my case I copy the file from `Scripts/__config__.py`. Then in `Bio/__init__.py` a try-except clause wraps `import Bio.__config

[2020-09-05 12:48] peterjc commented on #2318
You can probably do ``touch Bio/__config__.py`` during the build rather than a copy... if in Python land, maybe something like:

[code]

I would guess adding ``Bio/__config__.py`` explicitly to ``MANIFEST.in`` will work - it would be there during build time?

[2020-09-05 13:04] chris-rands commented on #2318
Thanks @peterjc that would work too, but the part I'm not sure on is how to add `__config__.py` to the `/path/lib/python3.7/site-packages/biopython-*.egg/Bio/` dir and not the source `Bio/` dir (unless editable mode is used)?

[2020-09-05 13:31] peterjc commented on #2318
Ah - I begin to see the conundrum. (Possibly relevant question: Does NumPy's solution actually work for develop/editable mode?)

Maybe we remove the clever warning, and go back to catching a few more likely ``ImportError`` exceptions with a little more guidance?

[2020-09-05 15:48] JJTimmons opened #3256 "Add DNA/RNA secondary structure prediction, dg calculation?"
Awhile ago I made a biopython issue mentioning a small bug I saw in the DNA nearest neighbor values. I caught that because I was using biopython's DNA nearest neighbor energies to bootstrap a library I was working on: [seqfold](https://github.com/Lattice-Automation/seqfold). It's an open-source implementation of the early 80s algorithms for secondary structure prediction of nucleic acids by free e

[2020-09-05 17:26] chris-rands commented on #2318
Yes it does, I tested running `pip install -e .` and it adds the `__config__.py` correctly. The issue is that numpy's install setup is really involved so it's hard to understand/emulate.

I was thinking we could maybe use numpy's own [config class](https://github.com/numpy/numpy/blob/a7401aee4d6d465977760e9e4b16f793d60f4ee4/numpy/distutils/misc_util.py#L726 ) for this since numpy is a biopython de

[2020-09-05 19:07] JoaoRodrigues commented on #2318
Thanks for all the detective work @chris-rands !

I'm definitely not a packaging expert but let me see if I get this straight. Is the idea to have a `__config__.py` file that _only_ gets created/copied when you do `setup.py install/develop`? And that way, we could control in `Bio/__init__.py` if we are running from source or not?

[2020-09-05 20:49] chris-rands commented on #2318
Yes @JoaoRodrigues that's a good summary thanks

I guess another idea would be to create a dummy C extension for this after all the regular ones are built

[2020-09-05 22:58] JoaoRodrigues commented on #2318
One extremely naive idea is to check if we can find any egg file for Biopython. Both `setup.py install` and `setup.py develop` create egg files, `egg-link` and `.egg` respectively, in a `site-packages` folder, which can be global or on the user's home. We can use the `site` module to find the paths to these folders and just check for any file with 'egg' in its extension and 'biopython' in the name

[2020-09-06 18:13] Bhuvanesh09 opened #3259 "Can't output to .genbank file after parsing from FASTA in Bio.SeqIO"
### Setup

I am reporting a problem with Biopython 1.78, Python 3.7, and operating
system Ubuntu 18.04 as follows:

[code]

### Expected behaviour

Should successfully write to genBank file.

### Actual behaviour

Throws the following error
![image](https://user-images.githubusercontent.com/16082479/92332282-5894d480-f09a-11ea-80a3-2af20c7fdbdf.png)

### Steps to reproduce

Just run the code attac

[2020-09-06 18:16] peterjc commented on #3259
This is expected, the GenBank format needs to know DNA vs RNA vs Protein. How you specify this depends on the version of Biopython and changed in 1.78, see also example on https://biopython.org/wiki/Alphabet

Shortest alternative, assuming DNA here:

[code]

[2020-09-06 20:27] JoaoRodrigues commented on #3230
Maybe indeed, but we do see the same "issues" in the files. I'd be in favor of adding a permissive mode to that parser too, if only for consistency between all the inputs.

As for results of the benchmark. Both PDB and mmCIF parsers go through the entire PDB (bar those PERMISSIVE CIF files) and the resulting `Structure` objects match. This is very nice!! I now need to compare orthogonally to PDBML

[2020-09-07 09:15] chris-rands commented on #2318
Thanks @JoaoRodrigues ! That looks like a neat approach although I'm unfamiliar with it, so maybe someone else can comment. How much overhead does it add? We want `import Bio` to be fast of course so I wonder if your logic can ran at the end of the build to generate the dummy flag/file (e.g. `__config__.py`) that we then simply need to check for?

[2020-09-07 09:57] jgreener64 commented on #3230
I just use the "Question or Comment" form at https://www.rcsb.org/pages/contactus, they seem to be pretty responsive.

[2020-09-07 10:19] iquasere opened #3260 "Get EC number from a Bio.KEGG.KGML.KGML_pathway object"
Greetings!

I am attempting to retrieve the EC numbers from a Bio.KEGG.KGML.KGML_pathway object. The closest I have come to was getting the name of the graphics with
[code]
but this gives me the KO: ```'K01623...'```
I wanted to know if somewhere in this object are there the EC numbers directly available. I know I can convert to EC numbers with the KEGG API, but that doesn't return me EC numbers f

[2020-09-07 10:23] peterjc commented on #3260
Have you looked at the raw file to see if the information you want is there? I've only dabbled with KEGG so don't know the answer. @widdowquinn might be able to advise.

[2020-09-07 10:40] iquasere commented on #3260
You mean the raw KGML, right? It is not there. However, everything is there, so My guess is that that information is really not obtainable through the KGML_pathway object

[2020-09-07 10:57] widdowquinn commented on #3260
Hi - I don't think KEGG gives you that information directly in all maps. The `REST.kegg_link()` function might be useful to you:

[code]

So it should be possible to iterate over each reaction in the map, and link to the EC number in this way:

[code]

There are a couple of things to watch out for: some reactions have multiple `rn:RNNNNN` entries, which is a problem for `kegg_link()` if you don't

[2020-09-07 15:10] iquasere commented on #3260
Wow, it seems all KOs in the pathways have EC numbers! If there are multiple ECs, it is more problematic, but maybe it will be possible to put two or three in a box. Otherwise, just the first or a random, they will likely point to the same functionallity, as I have seen very different EC numbers point to the same function.

Thank you very much to you both!

[2020-09-07 15:10] #3260 closed

[2020-09-07 15:16] widdowquinn commented on #3260
Glad to be of help!

FWIW, it's worth keeping in mind that each EC number refers to a specific kind of chemical interconversion, rather than "enzyme function" - an enzyme may catalyse multiple distinct reactions, and enzymes with different "function" may catalyse the same chemical reaction/EC number. I'd argue that it's usually best to label with all values, rather than choose one from a group.

[2020-09-07 15:36] iquasere commented on #3260
Will have to adapt the font size for those multiple EC numbers xD One per box is just so clean...

[2020-09-07 18:45] JoaoRodrigues commented on #2318
I wouldn't say it adds much, only if the user has thousands of packages installed. Also, since `biopython` starts with a 'b' it should find it pretty quickly. The worst case scenario here is that `return False` where you have to go through all the files in those `pkgdirs` if biopython is not installed.

Adding my function to `Bio/__init__.py` and using it instead of the `os.path.exists` test gives

[2020-09-08 18:38] JoaoRodrigues commented on #3230
Thanks @jgreener64 !

I keep finding new issues with files: e.g. NMR models with different numbers of atoms. Maybe we can market Bio.PDB as a PDB validator :)

[2020-09-08 19:02] rob-miller commented on #3230
Seems like the few mmCIF problems I looked at that had PDB equivalents had
the same issues, just mmCIF did not have the permissive option (see #3229
comments).

Was thinking of having a look at MMTF as well, but put it off when I saw it
wasn’t just another dir to enable in my rcsb mirror script - and going on
holiday rest of this week.

On Tue, 8 Sep 2020 at 21:39, João Rodrigues <notifications@gi

[2020-09-08 21:28] JoaoRodrigues commented on #3230
the same issues, just mmCIF did not have the permissive option (see #3229
comments).

Indeed, same here. Which is good news. We might add a PERMISSIVE option to MMCIFParser just to standardize the interface of the parsers, what do you think?

wasn’t just another dir to enable in my rcsb mirror script - and going on
holiday rest of this week.

I have personally never loaded/opened/written a MMTF fi

[2020-09-09 05:36] mdehoon commented on #3256
I have been using ViennaRNA for RNA secondary structure calculations. It comes with a Python interface.
Best,-Michiel

    On Sunday, September 6, 2020, 12:48:14 AM GMT+9, Joshua Timmons <notifications@github.com> wrote:

Awhile ago I made a biopython issue mentioning a small bug I saw in the DNA nearest neighbor values. I caught that because I was using biopython's DNA nearest neighbor energies t

[2020-09-09 10:00] jgreener64 commented on #3230
I did suggest this to them but never heard back. Perhaps we should mention the possibility at the bottom of every suggested change. I have also noticed anecdotally that the problematic structures I have found were all submitted via PDBe. I wonder if the different PDBs do different validation checks. It could be chance though.

[2020-09-09 10:06] #3259 closed

[2020-09-09 12:26] theitush opened #3264 "convert doesn't close files when done"
looks like convert should be given file handles and not file paths as it doesn't close the files when done.
This is in contrast with [the documentation](https://biopython.org/wiki/SeqIO)

Easiest fix would be to change the documentation to reflect that convert should get handles instead of files.
A better solution would be to make sure that it closes the files it opens.

[2020-09-09 12:30] peterjc commented on #3264
It should be closing the handles. Can you provide more details of how you are testing this please.

[2020-09-09 12:31] peterjc commented on #3264
Sorry, let me clarify:

If you give it a filename it should open and close the handle internally.

If you give it a handle, you should close it (e.g. using a with statement)

[2020-09-09 12:38] #3264 closed

[2020-09-09 12:39] theitush commented on #3264
yeah sorry looks like it was a mistake on my side!

thanks for the (slightly too) quick reply!

[2020-09-09 12:40] peterjc commented on #3264
No problem - always happy to get feedback on possible bugs or things that could be clearer in the documentation. Thanks.

[2020-09-09 13:46] veghp opened #3265 "Versioning scheme / release cycle?"
First I would like to thank you for writing and maintaining Biopython, we find it very useful.

I have a few questions about the release procedure. I'm wondering what versioning scheme is used and what rules are followed regarding releases? For example, when is a release made?

(I tried looking for this info in the [Contributing doc](https://biopython.org/wiki/Contributing), or [rst](https://githu

[2020-09-09 14:03] peterjc commented on #3265
Releases are roughly every three to four months, depending on time availability although improved automation has made this easier.

The version number is simply incremental, no semantic versioning here. We try to preserve backward compatibility but small breaks do happen. See also DEPRECATED.rst

Major changes are logged in the NEWS.rst file.

In hindsight switching that argument name from "format

[2020-09-09 14:49] peterjc commented on #2905
Comments on pull request https://github.com/biopython/DIST/pull/8 please

[2020-09-09 15:39] mdehoon commented on #3265
It would be a good project for an enterprising Biopythoneer to change all variables with the name "format" to "fmt" or "format_spec". Currently there are 2539 lines in Biopython that contain the word "format". Using the built-in function "format" as a variable name is asking for trouble.
Best,-Michiel

    On Wednesday, September 9, 2020, 11:04:09 PM GMT+9, Peter Cock <notifications@github.com> wr

[2020-09-09 15:42] peterjc commented on #3265
Changing ``format`` on internal code is fine, changing it in argument names or attributes is a breaking API change which is not fine.

[2020-09-09 17:07] veghp commented on #3265
Thank you for the quick replies. Yes I used positional arguments, which solved the problem. Thank you

[2020-09-10 00:34] mdehoon commented on #3265
Why not? With Python itself, there are breaking API changes in every minor release.

The alternative would be to live forever with our mistakes from the past.

[2020-09-10 00:34] mdehoon commented on #3265
We should also remove `format` as a member function, and use `__format__` instead.

[2020-09-10 09:33] peterjc commented on #3265
It is still a draft, but the introduction in NumPy's NEP on backwards compatibility resonates with me: https://numpy.org/neps/nep-0023-backwards-compatibility.html

Changing existing function arguments or attributes to avoid built-in functions names like ``format`` (``type``, ``id``) to me is a cosmetic improvement and fails their "*Aim not to break users’ code unnecessarily*" test.

#2493 already

[2020-09-10 10:42] mdehoon commented on #3265
Quoting from their NumPy's NEP:

- I would agree that most users do not look at deprecation warnings. They are pretty much useless.
- In terms of user base, we are not quite in the same ballpark as NumPy.
- Changing code to avoid built-in function names is not just a cosmetic change; it is done to avoid bugs. I have run into such bugs myself, where I thought I was checking a variable named `format

[2020-09-10 11:54] veghp commented on #3265
Dear Michiel, I appreciate you developing and maintaining the motifs module. Perhaps I can add to the discussion from one user's point of view. As for implementing changes, I agree with @peterjc and I liked the future-warning approach for alphabets with both old and new versions being supported for a while. Reliability is key to us as Biopython is used by many [packages](https://edinburgh-genome-f

[2020-09-10 13:03] #2905 closed

[2020-09-10 13:05] mdehoon commented on #3265
@veghp The problem with the current emphasis on backward compatibility is that improvements to Biopython have been extremely slow. Just removing alphabets took 15 years (this is not a typo). There are still a number of fundamental flaws in Biopython that at the current rate would take beyond my age of retirement to fix.

Perhaps this is a good time to split off a 2.0 branch for users who want to s

[2020-09-10 13:09] peterjc commented on #3265
Perhaps so, and people used to semantic versioning would recognise and expect API breakage going from v1.x to v2.x (or v2.x.y). #3188 would be a good candidate. Perhaps type checking too (#3165) but that ought to be possible on v1.x as it isn't a breaking change.

[2020-09-10 13:14] peterjc commented on #2905
Webpage has updated now, hopefully Google etc will pick up on this shortly.

[2020-09-10 13:30] mdehoon commented on #3265
@peterjc  For a 2.0 branch, it may be a good idea to write the documentation (i.e. the Tutorial & Cookbook) first, before doing any coding, to reach a consensus on the fundamentals (in particular for the Seq object and the alignment object).

[2020-09-10 13:31] peterjc commented on #3265
Documentation (and test?) driven development? Sounds sensible - certainly I would agree with starting with a vision and plan, and not just a free for all.

[2020-09-10 14:06] JJTimmons commented on #3256
is that part of BioPython? I'm aware that there are Python interfaces for existing secondary structure libraries

[2020-09-10 15:54] JJTimmons commented on #3256
I just checked the license and saw this:

[code]

I get that doesn't matter if you're in academia, but that's a deal breaker for small and exploratory commercial projects

[2020-09-10 16:00] JJTimmons commented on #3256
point taken, there are existing tools elsewhere and the primary audience is okay with the licenses elsewhere

[2020-09-10 16:06] JoaoRodrigues commented on #3256
This is completely outside my area of expertise but I'd like to make a comment. If you have an implementation that fits well with biopython and is robust, even if it doesn't have the latest methods, it would be a good addition. It's the same with our pairwise alignment code - plenty of solutions out there, but it's nice to have it integrated.

My only concern would be maintainability but if you're

[2020-09-10 16:13] cbrueffer commented on #3256
Looks quite interesting, and thanks for the link to your primer design solution. Having something permissively licensed like this integrated could be useful indeed, even if, as Joao says, there may be more full-featured solutions out there.

[2020-09-10 18:57] MarkusPiotrowski commented on #3256
I'm also open to have this functionality added to Biopython. I had a look in your code and found that in some places it contains much what is already in `MeltingTemp`. I can think of re-structuring `MeltingTemp` so that it is possible to use the underlying methods, e.g. to return deltaH/deltaS directly so that you can avoid unnecessary code duplication.
What do we need to change in `MeltingTemp` f

[2020-09-10 20:34] JoaoRodrigues commented on #3265
Re: 2.0 sounds like a good plan indeed.

As for version changes breaking APIs, I agree that we should document any changes in NEWS. I also agree that maintaining backwards compatibility is sometimes a nuisance when we want to improve things, but I see the point raised by @veghp that Biopython is included as a dependency is other popular packages. That said, if we do use `format` as a function in p

[2020-09-10 20:34] #3243 closed

[2020-09-10 20:56] JJTimmons commented on #3256
I agree that there's significant overlap with MeltingTemp: I think the DNA energies were a near copy-paste into [dna.py](https://github.com/Lattice-Automation/seqfold/blob/master/seqfold/dna.py) (thank you, by the way, for those). The [tm.py](https://github.com/Lattice-Automation/seqfold/blob/master/seqfold/tm.py) file is also entirely almost based on MeltingTemp (the only difference being _tm_cac

[2020-09-11 07:49] MarkusPiotrowski commented on #2906
https://github.com/biopython/biopython/blob/f95d94573b7f45728cbb66814bfe2cad3e7f0e2e/Doc/api/conf.py#L134-L147

Is this 'active', has it any effect? Where would be the files that are mapped here?

I also found this SO question: https://stackoverflow.com/questions/49331914/enable-versions-in-sidebar-in-sphinx-read-the-docs-theme which may help here.

I guess there is no other way than testing such

[2020-09-11 08:58] peterjc commented on #2906
Yes, doing it locally would be best - but this should work with minimal manual dependency installation:

[code]

Running locally will not attempt to push the build to the GitHub Pages docs repository - you won't need to touch that until we have something ready to live test. If you want to test online, you could use your personal github pages setup, for example https://peterjc.github.io/ currently

[2020-09-11 09:00] peterjc commented on #2906
As an aside, maybe we should rename ``.travis-tox.ini`` to just ``.tox.ini`` (still hidden) or one of the defaults like ``tox.ini`` (clutters the top level file listing slightly).

[2020-09-11 09:39] peterjc commented on #2580
I think we can close this now - it seems to be working for people on Linux, macOS and Windows. Thanks everyone!

[2020-09-11 09:39] #2580 closed

[2020-09-11 13:41] sgalpha01 commented on #2835
Do this issue still need some work?

[2020-09-11 14:20] turovapolina opened #3270 "MultipleSeqAlignment object from numpy array"
Dear @team,

Thank you very much for you wonderful module! I am a new user and I am trying to create a phylogenetic tree from my data (which is in numeric format and presented in numpy array).
Unfortunately I didn't found any example of numpy arrays transformation into MultipleSeqAlignment objects.
When I am trying to use MultipleSeqAlignment() function it produces a mistake like this:
![image](ht

[2020-09-11 14:41] peterjc commented on #2835
Yes, there are still a few files to be fixed - using flake8-assertive v1.2.1

[code]

(As noted above, best avoid ``test_Restriction.py`` due to non standard object sorting behaviour)

[2020-09-11 15:06] turovapolina commented on #3270
Dear @peterjc,

Thank you for your answer!
The problem is that my data is presented in float numbers, so there is no opportunity to turn it into letters.
It just seems to me that the whole idea of phylogenetic trees is suitable for my case because I am trying to build some hierarchy across my samples.
Does it mean that unfortunately float type of my data is not suitable at all for the biopython li

[2020-09-11 15:12] peterjc commented on #3270
My knowledge in this area is very limited - the only examples I've seen had information encoded in a single letter (or digit).

Have you tried building a floating point distance matrix and used that with ``Bio/Phylo/TreeConstruction.py`` directly?

[2020-09-11 15:52] sgalpha01 commented on #2835
Okay, I will try my best. This is going to be my first open-source issue

[2020-09-11 20:16] turovapolina commented on #3270
Dear @peterjc,

I thought that I am able to create an object from class Bio.Phylo.TreeConstruction.DistanceMatrix only from MSA object, but this was a mistake!
I successfully created DistanceMatrix from distances calculated by scipy module and drew my tree.
Thank you very much!

Best regards,
Polina Turova

[2020-09-11 20:16] #3270 closed

[2020-09-11 21:01] JoaoRodrigues opened #3272 "PDBParser and MMCIFParser assign HETATM ids differently"
This issue comes from the benchmark in #3230.

The first item in the residue id of HETATMs is `"H_" + res.resname`. Because the PDB format is a column-delimited format, we don't strip the empty spaces around residue names with less than 3 characters (e.g. MG) and end up with something like `H_ MG` in the id. The MMCIFParser, on the other hand, does strip this whitespace so we end up with `H_MG` fo

[2020-09-11 21:17] sgalpha01 commented on #3272
Hello, can I handle this issue?

[2020-09-11 21:22] JoaoRodrigues commented on #3272
Hi @sgalpha01,

Of course! Let me add a small example to reproduce the problem to the issue.

[2020-09-11 22:07] peterjc commented on #2835
Good job @sgalpha01 !

If you want to try ``test_Restriction.py`` as well, you'd be most welcome. However, it may much more care since the comparison methods defined are a little strange -- ``__ne__`` is not the inverse of ``__eq__`` for a start:

https://github.com/biopython/biopython/blob/master/Bio/Restriction/Restriction.py#L378
https://github.com/biopython/biopython/blob/master/Bio/Restrictio

[2020-09-11 23:09] JoaoRodrigues commented on #3230
Reported the first group of structures to RCSB: some 20 entries that our PDB and mmCIF parsers don't represent similarly due to mislabelings.

One issue that stands out is the handling of alt locations that are grouped by residue, as in, several different residues all with disordered atoms that are grouped res1Ares2Ares3A....res1Bres2Bres3B... I asked if we should handle such a case, given that th

[2020-09-12 03:10] TianyiShi2001 commented on #2936
@mortonjt Having a large number of optimal alignments (i.e. with the maximum score) is unavoidable when using a linear or affine gap penalty.

[2020-09-12 04:25] mdehoon commented on #2936
@TianyiShi2001  I don't think that is true. A large number of optimal alignments usually occurs only if there is no gap penalty.

[2020-09-12 13:05] sgalpha01 commented on #2835
`flake8 --isolated --select A500 . >> ../TODO.txt` gives the following text file:

So, there are two files which needs attention.
I started with `test_NCBI_qblast.py`, and made the required changes.
But, I am not able to commit because of the following error:

[code]
I am not sure what's the problem. At, first I thought it was editor specific. So, I tried Vim, but no luck.

[2020-09-12 14:59] MarkusPiotrowski commented on #2906
Making the api docs with Sphinx under Windows
---------------------------------------------------
(for reference, if someone, e.g. me, has similar problems in the future)

System setup: Windows 10, 64 bit, Python 3.7.4, installed with Miniconda, Visual Studio 19 command line tools installed (for compiling C files)

Before starting, I installed `tox` and `Sphinx` (via `conda install ...`)

In my Bo

[2020-09-12 18:48] peterjc commented on #2906
Ah - I thought I was seeing it build Docs for the installed Biopython rather than the local copy (macOS). Perhaps Sphinx is escaping Tox's environment somehow... but it works on TravisCI. Strange.

[2020-09-13 09:53] rob-miller commented on #3230
Yes I think so.  In PDBParser we catch StructureBuilder exceptions and just warn, so the same approach could be used in MMCIFParser (and again if I get to play with MMTF :-)).

1ejg is an interesting case in point.  There's a Pro and two Ser coordinate sets defined at seqpos 22, but apparently the initial N doesn't move so it is assigned PRO with no altloc and there is no N for either of the SERs.

[2020-09-13 13:34] sgalpha01 commented on #3272
@JoaoRodrigues ,  this is a kind of quickfix. I am not sure if this is sufficient.

[2020-09-13 15:07] sgalpha01 commented on #3272
[code]

This script is now working fine, but it broke something else as shown by [appveyor](https://ci.appveyor.com/project/biopython/biopython/builds/35177337) and [travis-ci](https://travis-ci.org/github/biopython/biopython/builds/726755974) checks.

[2020-09-14 11:45] lacrosse91 commented on #2835
Hello!
Do this issue still need some work?
I'd like to help!

[2020-09-14 11:56] peterjc commented on #2835
Just ``test_Restriction.py`` left, which is somewhat unusual so I've taken off the "good first issue" tag:

[code]

If @sgalpha01 isn't working on it, you could give it a try. It might go smoothly - just don't change the condition (e.g. don't assume ``a < b`` is the same as ``b > a``, or ``not(a == b)`` is the same as ``a != b`` with these objects).

[2020-09-14 13:00] lacrosse91 commented on #2835
Thanks for reply.
I'll try it.

[2020-09-14 15:28] sgalpha01 commented on #2835
@lacrosse91 , hey you can work on this if you want.

[2020-09-14 16:55] lacrosse91 commented on #2835
@sgalpha01 , Thank you!
I'm going to work on this.

[2020-09-15 13:18] peterjc commented on #2835
That's all done now:

[code]

Thank you everyone - a big team effort.

[2020-09-15 13:18] #2835 closed

[2020-09-15 13:44] peterjc opened #3278 "Use assertTrue, assertFalse, assertIsNone in tests (A502)"
This is a spin out from #2700 and #2835, on a related set of stylistic improvements to our use of the ``unittest`` testing framework, which can be spotted using ``flake8-assertive``:

[code]

I'm marking this as a good first issue, and suggest people wanting to work on this comment here on this issue saying which file(s) they will fix first to avoid duplication of effort.

[2020-09-15 16:39] vinisalazar commented on #3278
Hi, I'd like to work on this! Is that okay? I've read the contribution guidelines and will commence local testing soon.

[2020-09-15 16:45] peterjc commented on #3278
@vinisalazar yes please - just comment here on which file(s) you'll be starting with.

[2020-09-15 17:13] vinisalazar commented on #3278
I should follow the order listed here.

[2020-09-15 18:18] vinisalazar commented on #3278
Addressed by #3279

[2020-09-16 09:07] #3278 closed

[2020-09-16 09:09] peterjc commented on #3278
And that's merged, thank you!

[2020-09-17 10:01] Nastiya opened #3280 "Discrepancies in Tm Values when using MeltingTemp.Tm_NN(seq=, nn_table = MeltingTemp.R_DNA_NN1)"
### Setup

I'm using MeltingTemp.Tm_NN(seq=my_seq, nn_table = MeltingTemp.R_DNA_NN1) to calculate Tm of relatively short RNA/DNA duplexes and for some of them I get negative values. In my case, I don't know the salt and other divalent cations concentration, as well as the initial concentrations of the RNA and DNA probes that that forms the duplex. However they are full complement without gap, mism

[2020-09-17 10:12] peterjc commented on #3280
https://github.com/biopython/biopython/blob/biopython-178/Bio/SeqUtils/MeltingTemp.py#L266 suggests using ``R_DNA_NN1`` for RNA/DNA Sugimoto et al. (1995), so that's not the problem.

[2020-09-17 10:16] MarkusPiotrowski commented on #3280
Without having looked into the details:
Selecting `mt.R_DNA_NN1` as table just selects the table of nearest neighbor values but all the other default values of `Tm_NN` (concentration of nucleic acids, salt concentration, salt adjustment calculation etc) stay the same. You need to adjust your call with the values that were actually used in the paper to get the same results.

[2020-09-17 10:27] Nastiya commented on #3280
@peterjc @MarkusPiotrowski  Thank you.
I used Sugimoto et al. 1995 paper just as a reference. I don't expect the values to be the same (when running the command without the other default values), but not with such discrepancies. Almost all values I got are negative.
If so, what is the best way to predict the Tm of RNA/DNA duplex if all the other defaults values of `Tm_NN` are unknown ?

[2020-09-17 11:10] MarkusPiotrowski commented on #3280
1. The _defaults_ are not unknown, but described in `MeltingTemp`
2. You should have an idea on the experimental conditions, you cannot calculate a melting temperature just with the sequence without knowledge of other parameters
3. `MeltingTemp`s default values are for DNA/DNA hybrids according to the Allawi & SantaLucia (1997) paper.

When adding some information of the paper (e.g. total nucleic

[2020-09-17 11:23] MarkusPiotrowski commented on #3280
Just saw that the 25.9 were the measured value but 26.9 is the predicted value. This is the exact value that I get when entering the sequence in reverse/complementary form, so indeed it seems that our table is wrong (values must be exchanged with the reverse/complementary keys).

Thanks you!

[2020-09-17 11:38] MarkusPiotrowski commented on #3280
Oh, this already has a history: In PR  #1594 I bugfixed the table in the wrong way.

[2020-09-18 11:56] MarkusPiotrowski commented on #3280
@Nastiya Thank you. I'm just doing a PR to correct the table. With the corrected table and the settings given above, the Tm values should become identical to the published ones.

Still, salt correction and nucleic acid concentration have a big influence on the calculation. Even with the corrected table the values would be very similar to those that you got before, unless you set the parameters cor

[2020-09-18 11:57] #3280 closed

[2020-09-19 09:18] chris-rands commented on #3265
+1 for the biopython v 2.0 idea. Essential bug fixes could still be back-ported to v 1.x. The only negative I see is that it's a lot of work to setup and maintain...

Version 2 could include the exciting ideas in #3188 (unification of `Seq` and `SeqRecord`, use of the buffer protocol etc.).

The basic directory structures and modules could also be changed and PEP compliant, e.g. instead of `import

[2020-09-19 09:54] peterjc commented on #3265
Yes, I think I've said this before but v2 would be a chance to make the module names lower case PEP8 compliant. Switching the top level from ``Bio/`` to ``biopython/`` would also allow parallel installation alongside v1 which has other benefits (e.g. large dependency stack with some tools wanting v1 and others v2).

[2020-09-19 10:45] mdehoon commented on #3265
As PR #3188 won't go into the Biopython 1.xx series, I closed the PR and renamed the branch behind it to https://github.com/mdehoon/biopython/tree/my_biopython_2.0 . Purpose of this branch is just to collect and try out some ideas for Biopython 2.0.

[2020-09-19 10:53] mdehoon commented on #3265
Yes we should do that.

I would still prefer `import bio` as it's shorter, and for name recognition. Being able to install v1 and v2 in parallel is a temporary goal which we may not care about in two years time, while the module names will stay with us for the next 20 years, if not more. Note that Mac and Unix distinguish `import bio` and `import Bio`.

[2020-09-19 11:00] peterjc commented on #3265
We've had this conversation before, but on Windows and many Macs ``bio/`` versus ``Bio/`` breaks badly. That would be a bad idea - see e.g. #2363

[2020-09-19 11:38] mdehoon commented on #3265
@peterjc  After we release a biopython-2.0 with `biopython` as the module name, some other package may start using `bio`. What will we do then? We'd still have the `bio` vs `Bio` confusion, but we won't have any control over it.

[2020-09-19 11:46] peterjc commented on #3265
Whatever we pick, nothing stops other packages picking the same folder names - we have no control now. At least we have reserved "biopython" (case does not matter) on PyPI, and as discussed on #2363 could now claim "bio" as well.

[2020-09-19 12:44] chris-rands commented on #3265
I think naively when people run `pip install biopython` they expect to be able to `import biopython`, this follows the convention of many python packages (e.g. numpy, pandas, matplotlib, etc.). If you want a short form name why not encourage `import biopython as bp` or `import biopython as bio`? Think of `import numpy as np` and `import pandas as pd`

[2020-09-19 14:58] mdehoon commented on #3265
@chris-rands

It wouldn't help much; the `Bio` module contains just a few definitions of errors and warnings, but not much of interest to the user. Most imports by users are of the form
[code]
These would become
[code]
and `import biopython as bp` would not make these imports any shorter.

[2020-09-19 15:38] chris-rands commented on #3265
@mdehoon True, the biopython setup would be more like matplotlib, e.g.
[code]

Of course it is longer to write `biopython` but you only do it once per import per module.

There are [140 github repos ](https://github.com/ylathouris/bio/network/dependents) with `bio`/`Bio` listed in their `requirements.txt` (this number is growing quite rapidly, it was 126 on 2 August), I think all of these should b

[2020-09-19 20:54] #3272 closed

[2020-09-20 16:04] chris-rands commented on #3265
[PEP 423](https://www.python.org/dev/peps/pep-0423/) has some recommendations on package naming, although note the PEP is not accepted but has status "deferred". It includes [Use a single name](https://www.python.org/dev/peps/pep-0423/#use-a-single-name):

The advice suggests (as I interpret it) that the top level directory for biopython could be `biopython/` rather than `bio/` or `Bio/`. It also

[2020-09-20 16:20] peterjc commented on #3265
If we kept BioSQL in v2, it could easily live as a subpackage under the main namespace - I see no strong reason to keep it top level.

[2020-09-21 11:34] peterjc opened #3283 "Automatically update symlink for latest API docs"
Add a bash if statement to the doc deployment script which is run on TravisCI,

https://github.com/biopython/biopython/blob/master/.github/deploy_docs.sh

If the version already stored in $DEST_DIR is not "dev", use it to reset the symlink to the folder:

https://github.com/biopython/docs/blob/gh-pages/latest

This would be a no-op for the majority of runs where we're just updating the development

[2020-09-21 15:48] MarkusPiotrowski commented on #2906
We now have version switching for the documentations of Biopython 1.74 to 1.78 (dev version is to come) with the options "Previous|Latest|Develop".

The previous version number is calculated in `conf.py` from the latest version number (version - 1 or version - 2 if dev-version), which is a bit fragile in case we should have version gaps (can this happen?).

Whatever, it seems that there is no easy

[2020-09-21 16:27] peterjc commented on #2906
I'm unclear what the text file listing adds over the directory listing?

[2020-09-21 18:11] MarkusPiotrowski commented on #2906
How can `conf.py` easily access the directory listing in a different repository?

[2020-09-21 19:48] peterjc commented on #2906
I was thinking in terms of the deployment script (which would have both repositories). Fair point, in the context of building the docs, we don't have this information.

[2020-09-22 16:08] RebbyAnne commented on #2139
Hi, is there a solution to parsing nhmmer outputs? Using SearchIO or any another tools?

[2020-09-22 16:13] peterjc commented on #2139
@bow You haven't looked into this yet for Biopython, have you?

@RebbyAnne parsing the tabular output should be easy - what comes next depends what you want to do with it though.

[2020-09-23 09:32] nicolazilio opened #3286 "BioPython return label of SnapGene Feature, not title"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]
### Expected behaviour

I would like to get the names of all features found in >4000 SnapGene plasmid maps. I would expect the name of the features returned by BioPython to be the same as those returned by SnapGene Server's reportFeatures function.

### Actual behaviour

For some fe

[2020-09-23 09:32] nicolazilio commented on #3286
[example.zip](https://github.com/biopython/biopython/files/5267098/example.zip)

[2020-09-23 10:21] peterjc commented on #3286
@gouttegd are you able to take a look at this? Is the feature labelling in the file, or might SnapGene Server being doing some inference?

[2020-09-23 11:19] gouttegd commented on #3286
Sure, I’ll have a look at it.

[2020-09-23 11:27] MarkusPiotrowski commented on #3286
The feature name is in the `example.dna` file:
[code]
The problem is possibly here, where the parser reads the name of the _feature_ but assigns it as label to the _qualifiers_, where it is later overwritten by the _label_ qualifier:

https://github.com/biopython/biopython/blob/3df702f08c4325b363ee0906c14f55fd18cf08b3/Bio/SeqIO/SnapGeneIO.py#L134-L140

So, feature should have its own `name` attrib

[2020-09-23 11:42] peterjc commented on #3286
Using ``.qualifiers["name"]`` seems natural to me here.

[2020-09-23 11:55] gouttegd commented on #3286
I agree with @MarkusPiotrowski regarding the cause of the issue. But I am unsure about using `.qualifiers["name"]`, given that there is no *name* qualifier in the GenBank format (at least according to the list of valid qualifiers [here](http://www.insdc.org/files/feature_table.html#7.3.1)).

What is the project’s policy regarding qualifiers? Shall we stick to the list of standardized qualifiers, o

[2020-09-23 12:33] peterjc commented on #3286
Adding a qualifier dictionary entry is less distruptive than adding a new attribute.

The Uniprot XML parser already uses ``.qualifiers["name"]`` as seen here:

https://github.com/biopython/biopython/blob/master/Bio/SeqIO/UniprotIO.py#L342

[2020-09-23 12:36] gouttegd commented on #3286
OK then, that’ll make the fix straightforward. I’ll submit the patch shortly.

[2020-09-23 12:37] MarkusPiotrowski commented on #3286
@nicolazilio How often does this happen in your >4000 plasmid maps? When looking in your example file, usually the SnapGene "titel" of a feature is identical to the feature's label. In your example the "titel" is quite strange (a combination of it's label and it's bound_moiety) and the content of the title just seems to be wrong. Also, if SnapGene exports the file as Genbank format, this "title" i

[2020-09-23 13:11] #2906 closed

[2020-09-23 14:48] gouttegd commented on #3286
That has been the case in all SnapGene files I have manipulated (when features have a "label" qualifier at all). This is the first time I come across a file with a different value for the "name" attribute.

I suggest the following behavior to deal with that _name_ attribute:
* if the feature has no label, use that _name_ attribute as a label;
* if the feature has a label and that label is the same

[2020-09-23 15:55] nicolazilio commented on #3286
@gouttegd I think the 3-step behaviour you suggest looks very good to me. Having name and label qualifiers that contain the same string would also work. I would let you guys decide what the best solution is. As long as I can get access to all the information in the SnapGene file, I am happy :).

In our collection of SnapGene plasmid maps, the title of a feature is also, in >99.9% of the cases, ide

[2020-09-25 10:29] Dhruv-Aga opened #3288 "Error in Parsing articles from pmc database in XML mode"
### Parse Error

I am reporting a problem with Biopython 1.78, Python 3.8.3, and Win10
the system as follows:

[code]
Need urgent help, is this issue for all the versions and article or it's need issue
### Expected behaviour

(*Should return Generator of the parsed XML like this [link](https://gist.github.com/Dhruv-Aga/c6f6f47cf4fd5f7a7bad78622f5a4709#file-result-py)*)

### Actual behaviour

(*Tra

[2020-09-25 11:41] peterjc commented on #3288
The assertion failed, the url is now http://www.w3.org/1999/xlink

I had to tweak the parser to see that, adding an assert message:

[code]

I guess this is from something new the NCBI files are doing...

[2020-09-25 13:24] Dhruv-Aga commented on #3288
I did the same but after this error, another error occurs on line 650, in function `endRawElementHandler()`
at line code this,
```uri, name = name.split()```
Error:
    uri, name = name.split()
ValueError: not enough values to unpack (expected 2, got 1)

[2020-09-25 13:47] peterjc commented on #3288
Sorry, I meant to give the unexpected URL in my comment. I've not dug into it but it looks like the NCBI have added something new (XLINK) which the parser is not handling. Getting the parser to ignore it might be pragmatic, over to @mdehoon

[2020-09-25 14:06] mdehoon commented on #3288
@Dhruv-Aga  Would you be able to provide a patch?

[2020-09-25 16:13] Dhruv-Aga commented on #3288
@mdehoon Yes sure, I can provide a patch, it is work in progress.

[2020-09-27 08:01] mdehoon commented on #3288
Fixed by #3289 .

[2020-09-27 08:02] #3288 closed

[2020-09-28 15:15] #3286 closed

[2020-10-02 16:34] nicolas-harraudeau-sonarsource opened #3292 "TypeError in "SummaryInfo._get_column_info_content""
Hello,

While analyzing biopython on SonarCloud I saw what looks like an error in [`Bio/Align/AlignInfo.py`](https://github.com/biopython/biopython/blob/05107f5cfd1f8d67dbc4d472268618f2b6d93bc2/Bio/Align/AlignInfo.py#L490):

<img width="1824" alt="Screenshot 2020-10-02 at 18 12 39" src="https://user-images.githubusercontent.com/40498978/94945494-0b5e2400-04db-11eb-85b1-2bd4ead4dcf5.png">

You can

[2020-10-02 17:30] peterjc commented on #3292
Wow. The bug dates back 20 years to 4b5a86bdaac511c4dd0d9211c9b478e30662c605

Probably we need something like this:

[code]

Does that make sense to you?

[2020-10-03 13:33] nicolas-harraudeau-sonarsource commented on #3292
HI @peterjc,

Thanks for answering so rapidly.
The message you suggest matches what I understand of the function and current exception, but in all honesty I am not familiar with this code base.

At SonarSource, the company which created SonarQube/SonarCloud/SonarLint, we analyze the code of popular open source projects to make sure we find valid issues and raise no false positives. Biopython is on

[2020-10-03 14:00] peterjc commented on #3292
Understood. If you want to submit a pull request, that'd be welcome. Otherwise I'll try to make the proposed fix next week.

The fact we never noticed the bug means our unit test coverage doesn't trigger this exception. It should be fairly easy to add that too...

[2020-10-03 14:44] nicolas-harraudeau-sonarsource opened #3293 ""__getitem__" called by mistake on "_codons2re" function"
Hello,

While analyzing biopython on SonarCloud I saw what looks like two similar errors in `Bio/codonalign/__init__.py`: [here](https://github.com/biopython/biopython/blob/05107f5cfd1f8d67dbc4d472268618f2b6d93bc2/Bio/codonalign/__init__.py#L609) and [here](https://github.com/biopython/biopython/blob/05107f5cfd1f8d67dbc4d472268618f2b6d93bc2/Bio/codonalign/__init__.py#L675):

<img width="1613" alt=

[2020-10-03 14:59] nicolas-harraudeau-sonarsource opened #3294 "Exception not raised in "SeqXmlWriter._write_species" because the "raise" keyword is missing"
Hello,

While analyzing biopython on SonarCloud I saw what looks like an error in [`Bio/SeqIO/SeqXmlIO.py`](https://github.com/biopython/biopython/blob/05107f5cfd1f8d67dbc4d472268618f2b6d93bc2/Bio/SeqIO/SeqXmlIO.py#L556-L559):

<img width="1600" alt="Screenshot 2020-10-03 at 16 53 09" src="https://user-images.githubusercontent.com/40498978/94994610-ffd13280-0598-11eb-8cba-dc5d8368a7a2.png">

You c

[2020-10-03 16:45] peterjc commented on #3294
Good catch. Fix coming soon.

I wonder if anyone has written a flake8 plugin for catching that anti-pattern?

[2020-10-03 16:50] peterjc commented on #3293
Problem dates back 7 years, 8df9bcae42eda5c8f1bd574fa49f3e3dddffddd7 - looks like no one triggered this in all that time?

Pretty sure it should just be round brackets - do you agree @zruan ?

[2020-10-03 20:35] nicolas-harraudeau-sonarsource commented on #3294
Thanks @peterjc. Happy to help.

I don't know if such a plugin exists. [shameless plug on] All I can say is that SonarCloud has its own analyzer but it can also import flake8 issues in case developers want to have pycodestyle issues, or if they want to see issues from a specific flake8 plugin. So you can have both flake8 and SonarCloud issues in your continuous integration workflow if you want. If

[2020-10-03 22:04] peterjc commented on #3294
SonarCloud reminds me a little of the ultimately unsuccessful LandScape.io (see https://landscape.io/the-current-state-of-landscape.html etc) and other systems. It is evidently multi-language, not just Python.

Having been looking at this for #3295, some of the things it spots are impressive (probably driven by some introspection and/or type inference), not just the simple pattern matching that I

[2020-10-04 17:47] #3292 closed

[2020-10-04 17:47] #3294 closed

[2020-10-05 02:42] zruan commented on #3293
I submit a pull request to fix this issue. There is another bug in which the `complete_protein` option is set to False, so that the code calling `_codons2re` never got used. This is also fixed. A unit test with `complete_protein` set to True is also added.

[2020-10-05 08:51] nicolas-harraudeau-sonarsource commented on #3294
Thanks for your praises! I shared them with our team and they are really happy that they could help.

Thank you also for your comments in the Pull Request. This will help me improve our bug detection rules.

Regarding your last comment, detecting un-raised exceptions is a bit more tricky than it looks. We don't raise on every constructor because there can be hidden side effects. This rule focuses

[2020-10-05 09:05] peterjc commented on #3294
Thank you, that's been useful and interesting.

And yes, the easy case for spotting un-raised exceptions would be only the built-in exceptions. You and your team are clearly working several levels beyond that.

[2020-10-05 09:06] #3293 closed

[2020-10-05 20:00] zmunro opened #3298 "Mark this repo as a part of GitHub's Hacktoberfest!"
Here is a youtube video on how to do it! Very simple and quick and this repo will get a lot more visibility
[link](https://www.youtube.com/watch?v=FxBv4FMcDgo&ab_channel=DigitalOcean)

[2020-10-05 20:22] peterjc commented on #3298
Looks like they want repositories to opt in this year by adding a tag, see https://hacktoberfest.digitalocean.com/faq - then we'd appear on this list:

https://github.com/topics/hacktoberfest?l=python

Or individual PR can be tagged with hacktoberfest-accepted instead.

[2020-10-05 22:54] JoaoRodrigues commented on #3298
While these events are nice, I read about some public projects pointing out
the burden of handling several tiny (both in complexity and importance)
pull requests. Things like single grammatical "corrections" to
documentation. Just a heads up!

It'd be nice if we could somehow ask these volunteers to focus on, say,
this or that module/section.

A segunda, 5/10/2020, 13:22, Peter Cock <notifications

[2020-10-06 08:42] peterjc opened #3299 "Add .removeprefix and .removesuffix to Seq object (and subclasses)"
Python 3.9 adds these new string methods, which to me would apply equally well to sequence manipulation too - for example removing a start or stop codon, or prefixed barcode/adaptor sequences. There are likely other good motivating examples.

https://docs.python.org/3.9/whatsnew/3.9.html
https://www.python.org/dev/peps/pep-0616/

[2020-10-06 08:52] peterjc commented on #3298
True - spammy contributions seems to be why they switched to opt in this year. What would be nice for us would be something like this?: *New Hachtoberfest contributors welcome only on issues with "Help Wanted" tag*.

I'd be OK with adding the ``hacktoberfest-accepted`` tag to accepted PR on a case by case basis.

[2020-10-06 09:03] peterjc opened #3300 "Use Python 3.9 on TravisCI"
Don't think this is on TravisCI yet, at least https://docs.travis-ci.com/user/languages/python/ not updated. May want to consider if we need all of 3.6, 3.7, 3.8 and 3.9 (maybe focus on 3.6 and 3.9 only?).

Our AppVeyor setup should just take the latest Python 3 builds from https://repo.anaconda.com/miniconda/ and thus start using Python 3.9 automatically once it is released.

[2020-10-06 11:15] BatoolMM commented on #3299
Do you mind if I give it a try?

[2020-10-06 13:28] peterjc commented on #3299
Sure. Have a look at https://github.com/biopython/biopython/blob/master/CONTRIBUTING.rst and the testing chapter in the tutorial http://biopython.org/DIST/docs/tutorial/Tutorial.html

[2020-10-07 01:09] mdehoon opened #3301 "UnknownSeq inconsistency"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

Comparing the behavior of a `Seq` object to that of an `UnknownSeq` object:
[code]

i.e. `transcribe` treats the `UnknownSeq` as 6 thymine nucleotides, while `complement` treats the same `UnknownSeq` as a sequence of 6 unknown nucleotides.
This implies that the definition of an `Un

[2020-10-07 12:37] peterjc commented on #3301
Using "T" is rather strange for ``UnknownSeq``, the use cases I had in mind would be an unknown letter - so "N" or "n" would be the only sensible choice for an RNA/DNA/nucleotide, "X" or "x" for a protein, and something else like "?" for completely unknown.

One option would be to restrict the possible character choices so that NnXx or symbols are the only valid entries.

However, I would change t

[2020-10-07 13:00] peterjc commented on #3301
How about "fixing" the complement, and add a warning for using letters other than N or X, to become a ValueError in a subsequent release?

[2020-10-07 14:15] mdehoon commented on #3301
Yes we should.

I wouldn't do that.

[2020-10-07 16:39] peterjc commented on #3301
OK

[2020-10-08 22:39] michelsanner opened #3303 "Biopython pairwise sequence alignment behavior change between 1.59 and 1.8"
### Setup

I am reporting a problem with Biopython 1.8, Python version 3.7 , and operating
system as follows:

3.7.8 | packaged by conda-forge | (default, Jul 31 2020, 02:25:08)
[GCC 7.5.0]
CPython
Linux-4.9.0-11-amd64-x86_64-with-debian-9.12
1.79.dev0

### Expected behaviour
running the following code
from Bio import pairwise2
aln = pairwise2.align.globalxx('EPQYEEIPIYL', 'EPQ?EEIPIYL', one_align

[2020-10-09 07:05] sgalpha01 opened #3304 "Add Type Hints to existing methods/functions"
Due to Dynamic nature of Python, sometimes it becomes difficult to check type of objects used. To make object type more explicit, Python introduced Type Hinting.

More information can be found here:
- [PEP 483](https://www.python.org/dev/peps/pep-0483/)
- [PEP 484](https://www.python.org/dev/peps/pep-0484/)
- [typing](https://docs.python.org/3/library/typing.html)

This is just a small suggestion.

[2020-10-09 07:44] MarkusPiotrowski commented on #3303
Dear @michelsanner, thank you very much for your comment.

The aim of a pairwise alignment algorithm is to achieve an alignment with the best score (or the least costs). From the view of the algorithm (here Needleman-Wunsch-Gotoh) the situation "one gap in seqA followed by one gap in seqB" is not forbidden. The fact that the older implementation of this algorithm in Biopython's `pairwise2` did not

[2020-10-09 07:52] MarkusPiotrowski commented on #3304
Dear @sgalpha,

thank you, I think we are already considering type hints and type annotations, see #2236 and #3165.

[2020-10-09 08:13] sgalpha01 commented on #3304
Oh, okay. Sorry, I didn't see that.

[2020-10-09 08:13] #3304 closed

[2020-10-09 08:20] MarkusPiotrowski commented on #3304
No problem, thank you for your motivation to contribute.

[2020-10-09 08:44] MarkusPiotrowski opened #3305 "Can we add a new label like "Will be closed"?"
We have a number of open issues that are either somewhat off-topic or where the discussion has ended, e.g. because the OA never responded or didn't do what we asked him, or we are pretty sure that the problem is the OA's setup but not Biopython.

Some examples: #2997, #2898, #2784, #2311

I'd like to suggest adding a label "Will be closed" (or "Ask for closing" or similar) to such issues and "ping

[2020-10-09 11:12] chris-rands commented on #632
Jython is no longer supported (for some time), I suggest to close this issue and also https://github.com/biopython/biopython/issues/1041

[2020-10-09 11:31] peterjc commented on #632
Yes, we should. Thank you.

[2020-10-09 11:31] #632 closed

[2020-10-09 11:32] peterjc commented on #1041
We dropped support for Jython (and Python 2 in general).

[2020-10-09 11:32] #1041 closed

[2020-10-09 11:35] peterjc commented on #3305
Using a label does make sense for triage purposes. Hopefully there is a widely used convention we can adopt.

I've seen "needs more info", "Info Needed", and variants, but that is slightly different - perhaps better?

[2020-10-09 11:41] peterjc commented on #2784
Closing as no further information provided.

[2020-10-09 11:41] #2784 closed

[2020-10-09 11:41] peterjc commented on #2311
Closing as no further information provided.

[2020-10-09 11:41] #2311 closed

[2020-10-09 11:41] peterjc commented on #2997
Closing as no further information provided.

[2020-10-09 11:41] #2997 closed

[2020-10-09 11:44] peterjc commented on #2898
Closing as no further information provided.

It was unclear what was being asked in Q1 (the screen shot using ``print(record.seq)`` was consistent with the earlier output, assuming that the first output was cropped at the top or had scrolled out of view).

It was unclear if the suggestion for Q2 worked or not.

[2020-10-09 11:44] #2898 closed

[2020-10-09 11:47] peterjc commented on #3303
Note there was no Biopython 1.8, from the text it looks like you mean the current master branch - what will become Biopython 1.79 at some point.

[2020-10-09 12:17] MarkusPiotrowski commented on #3305
Mmh, Github has a default "question | Indicates that an issue or pull request needs more information"

I have seen "inactive", which describes best what I mean, still it doesn't cover all cases. It should say "We regard this as closed and will close it anytime soon, unless you or someone else speaks up"

And anyone of us who sees this label can close this issue (if the label has a certain age), wi

[2020-10-09 13:42] MarkusPiotrowski commented on #3265
We have even seen it vice versa. People see `import Bio` (in a tutorial etc) and did do `pip install Bio` which lead to most bio/Bio problems

[2020-10-09 15:10] michelsanner commented on #3303
Hello Peter.
Yes I got the arc of the latest version ftom GitHub and it is 1.79
-Michel

On Oct 9, 2020, at 4:48 AM, Peter Cock <notifications@github.com<mailto:notifications@github.com>> wrote:

Note there was no Biopython 1.8, from the text it looks like you mean the current master branch - what will become Biopython 1.79 at some point.

—
You are receiving this because you were mentioned.
Reply

[2020-10-09 18:48] fomightez opened #3306 "parse_pdb_header() fails to collect missing all residues from REMARK 465 lines; misses negative numbered"
### Setup

I am reporting a problem with Biopython version 1.78.

Biopython version, Python version, and operating system where happened to be running as follows:

[code]

### Expected behaviour

There should be 12 residues missing for Chain R in PDB file 7C7A.

In the 7c7a header, it is clearly seen that there are 12 lines for missing residues in `REMARK 465` :

[code]

### Actual behaviour

Biop

[2020-10-10 09:53] #3301 closed

[2020-10-10 10:23] peterjc commented on #3301
Thank you!

[2020-10-10 22:02] JoaoRodrigues commented on #3306
Hi @fomightez,

Thanks for reporting this. Seems like the regular expression used by `parse_pdb_header` doesn't catch negative residue numbers. See the 4th line in the `pattern` variable ([line 153](https://github.com/biopython/biopython/blob/master/Bio/PDB/parse_pdb_header.py#L153)).

Would you be willing to provide a patch yourself?

[2020-10-11 17:34] chris-rands commented on #703
`assert` statement was removed here https://github.com/biopython/biopython/commit/e915b19eabb9ba073645816b19d61303cc799b6f - suggest issue can be closed

[2020-10-12 12:37] mdehoon commented on #3301
Thinking about this again: Perhaps we don't need an `UnknownSeq` class at all. As far as I can tell, it's only used in `Bio.GenBank` and `Bio.SeqIO.QualityIO`, and there it would suffice to just set `seq._data` to `None` (and store the sequence length in some other attribute). If we do have an `UnknownSeq` class, then we get into the strange situation that `UnknownSeq(6, 'A')` and `Seq('AAAAAA')`

[2020-10-12 14:27] peterjc commented on #3301
It should be possible to tweak the ``Seq`` object to handle this case, but that complexity would come at a cost. The ``UnknownSeq`` lets you access string like behaviour on demand.

I think adding a warning and later a ``ValueError`` in ``UnknownSeq`` when using other than X, x, N, n or punctuation makes more sense.

[2020-10-12 14:55] peterjc commented on #703
Agreed, thank you for that careful review Chris.

[2020-10-12 14:55] #703 closed

[2020-10-13 00:18] mdehoon commented on #3301
Then you run into the issue that `UnknownSeq(6, 'N')` and `Seq('NNNNNN')` are both equal to `"NNNNNN"`, but one is "unknown" and treated as such, while the other is not.

[2020-10-13 07:32] peterjc commented on #3301
What is the issue you mean? Other than if checking their class, and their ``__reprr__`` value,  objects ``UnknownSeq(6, 'N')`` and ``Seq('NNNNNN')`` should behave the same.

[2020-10-13 09:05] mdehoon commented on #3301
We are checking if a sequence is an `UnknownSeq` in several places in Biopython.

[2020-10-13 09:50] peterjc commented on #3301
Yes: The GenBank writer (because we use ``UnknownSeq`` when parsing a GenBank/EMBL file with no actual sequence; likewise parsing "qual" files), and BioSQL (where again we use the ``UnknownSeq`` for storing unknown sequences where we only have the length). This is precisely the use-case it was introduced for.

Are you suggesting those checks also look at the letter being used to confirm the sequen

[2020-10-13 14:36] mdehoon commented on #3301
I am suggesting to remove `UnknownSeq` altogether, and use a `Seq` object with `_data` set to `None`.

[2020-10-13 18:38] fomightez commented on #3306
Since you pointed out where the issue is, I'd be happy to try and patch this myself.

[2020-10-13 23:08] peterjc commented on #3301
OK. That is clear now. I still don't think it will be any clearer as a user, and expect it to me more complicated to implement than the current subclass approach. But if you want to experiment on a branch, perhaps you can convince me otherwise?

[2020-10-14 10:21] kaskales commented on #2854
@trkohler @peterjc Could I try implementing `__slots__ ` for the Seq and SeqRecord classes?

[2020-10-14 12:19] peterjc commented on #2854
@kaskales You are welcome to try, and submit a pull request to see if it breaks anything in the test suite. The nature of this is exploration - there is less chance of the PR being accepted than usual.

The next step would be benchmarking to see if it has a noticeable effect on the speed for parsing large FASTA or FASTQ files (and perhaps memory usage), and if so we can discuss if it is worth adop

[2020-10-14 16:57] fomightez commented on #3306
@JoaoRodrigues  I added a test for this case as well.

[2020-10-14 21:47] #3306 closed

[2020-10-15 08:54] limbo1996 opened #3310 "Bio.Sequencing.Applications.BwaMemCommandline Error"
### Setup
Using
[code]
If you run
[code]

### Expected behaviour
it should run bwa mem using 1 threads,
by executinng:
[code]
and catch the standard out to the given filepath.

### Actual behaviour

[code]
But I can run it correctly using terminal, and if I save it as a python file and then

It can get ouptput correctly.

[2020-10-15 09:25] peterjc commented on #3310
Trying ``print(test_cmd)`` gives:

[code]

That matches what you want to be used at the command line, good. Are you definitely running this from the same directory as when you tested the command at the terminal?

(As an aside, we are considering deprecating all the command line wrappers in favour of encourgaing use of ``subprocess`` directly - comments on #2877 welcome)

At this point I would try

[2020-10-15 12:04] limbo1996 commented on #3310
Thanks!!!!!!!!!!
I ran the following code
[code]
And I got
[code]
It can not find fastq files, after I corrected the file path it wored niced.
Thanks

[2020-10-15 12:25] MarkusPiotrowski commented on #3303
@michelsanner Can we close this?

[2020-10-15 13:06] michelsanner commented on #3303
Yes. Thanks

On Oct 15, 2020, at 5:26 AM, Markus Piotrowski <notifications@github.com<mailto:notifications@github.com>> wrote:

@michelsanner<https://github.com/michelsanner> Can we close this?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/biopython/biopython/issues/3303#issuecomment-709280049>, or unsubscribe<https://githu

[2020-10-15 13:07] MarkusPiotrowski commented on #3303
Thank you!

[2020-10-15 13:07] #3303 closed

[2020-10-15 14:19] peterjc commented on #3310
Glad we could solve it. The confusion stemmed from the ``ApplicationError`` exception only showing the first line of stderr for brevity; sometimes that is enough but in this case the last line was more important.

Maybe when stderr is multiline, it should show the first and last line - e.g.

``Bio.Application.ApplicationError: Non-zero return code 1 from 'bwa mem ~/reference/Homo_sapiens.GRCh38.dn

[2020-10-16 22:19] alvyjudy commented on #2877
I'm wondering if it would be feasible to dynamically generate the command line wrapper? I saw this implementation from the way [google api's client libraries were built](https://github.com/googleapis/google-api-python-client/blob/master/googleapiclient/discovery.py), by reading a json document that illustrate the details of the API

I made a gist demonstrating the idea: https://gist.github.com/alv

[2020-10-16 22:56] peterjc commented on #2877
Hi @alvyjudy,

I don't see that JSON is much easier than a Python list - which is the core of the work in adding a new application wrapper: the parameters are a list of switches, options, and positional arguments. The trouble is there's quite a lot of special cases that the framework can handle, and optional bits to try to make life easier for the user, so it can look complicated.

We could simpli

[2020-10-17 04:14] alvyjudy commented on #2877
@peterjc you are right. I read a bit more on those cmd tools and saw that my approach definitely understated the complexity, although I was hoping to accomplish some "separation of concern" (how the program works should be separated from how the wrapper was constructed) which should make it easier to add support for more cmd programs, even by less seasoned developers. I experimented a bit more and

[2020-10-17 10:46] peterjc commented on #2877
Having looked at the ``sh`` issues, I think the developer is right that full Windows compatibility is ambitious. However, the core of building a command line string and executing it might be... but it would be hard to justify having that in Biopython. It would be better as a standalone small library ``sh_lite`` or something.

[2020-10-17 13:24] alvyjudy commented on #2877
What about monkeypatching subprocess? Instead of importing from the standard library, users import from biopython. And this version of subprocess simply add in the switches and required params depending on the environment. That way cross platform code can be achieved

[2020-10-17 17:59] peterjc commented on #2877
I'm not following. Monkey patching the standard library doesn't sound like a good idea, but what would your goal be?

[2020-10-18 02:25] mdehoon opened #3313 "Seq equality should check for type"
The `__eq__(self, other)` method of `Seq` objects applies `str` to `other` without checking the type of `other`.
This can lead to surprising results, for example
[code]
I think then that `__eq__` should check if `other` is a `Seq`, `MutableSeq`, or `str`, and return `False` if it is not.

[2020-10-18 05:58] alvyjudy commented on #2877
Sorry that I didn't explain well. I'm under the impression that ``subprocess`` requires quite different syntax/considerations under windows and posix and thought monkey patching could unify the behaviour. If we use the standard library's subprocess, then the following needs to be considered and explained in the tutorial:

On windows, a single command line string is the common interface and there a

[2020-10-18 10:35] peterjc commented on #3313
That seems reasonable - are there any others like bytes, or bytes array where is makes sense?

[2020-10-18 11:38] mdehoon commented on #3313
Currently `__eq__` will not treat `bytes` or `bytearray` in a reasonable way, as e.g. `str(b'ABCD')` returns `"b'ABCD'"`, not `'ABCD'`. So `Seq('ABCD') == b'ABCD'` is `False`.

[2020-10-18 14:52] peterjc commented on #3313
I know, but subject to the encoding we could support ``Seq('ABCD') == b'ABCD'``, but probably safest to behave as string like as possible.

[2020-10-19 02:08] mdehoon commented on #3313
Other methods in `Bio.Seq` are also broken:
[code]

[2020-10-19 02:19] mdehoon commented on #3313
This bug was introduced when the alphabet check was dropped from string-like methods:

https://github.com/biopython/biopython/commit/41cc2624ab3126985499510c02f487123ae52d8d#diff-bdfee92a19a985d8313cb909cc673c4f02acb6d54f4aeea337b0e03e7f6b5803

[2020-10-19 09:00] peterjc commented on #3313
The whitespace strip not working is most likely to catch people out, although our parsers avoid making strings with spaces. Still, that's an unfortunate oversight in our tests, a double failing.

[2020-10-19 10:27] irleader opened #3314 "Metadata lost for MultipleSeqAlignment class"
I was reading multiple alignments from a STOCKHOLM file using Biopython,

from Bio import AlignIO
alignments=list(AlignIO.parse(file ,'stockholm'))

I got a list of classes of 'Bio.Align.MultipleSeqAlignment', while there's no metadata information from MultipleSeqAlignment (eg. #=GF AC   RF00001  #=GF ID   5S_rRNA  #=GF DE   5S ribosomal RNA). These are the annotation before the sequence alignment

[2020-10-19 12:07] peterjc commented on #3313
Similar issue in the find, index, and split methods, see #3315

[2020-10-19 12:15] peterjc commented on #3314
Looks like a duplicate of the idea behind issue #768 which became pull request #769 (unfinished).

It looks like we should try rebasing that work to deal with the merge conflicts... would you be willing to work on that or help testing?

[2020-10-19 13:10] mdehoon commented on #3313
Also in `count` and `count_overlap`.

[2020-10-19 20:15] #3313 closed

[2020-10-20 00:38] irleader commented on #3314
Hi, I would very much like to help, but I am not good at Python programming, I can help with testing.

[2020-10-20 15:14] ardsatcg opened #3317 "'ls_orchid.fasta' can't be read"
Still got an error, how do i ?
![Screenshot 2020-10-20 225505](https://user-images.githubusercontent.com/71117550/96604310-8e7ad900-1327-11eb-825a-1637d87ecf59.png)
#3315

[code]

[2020-10-21 08:39] peterjc commented on #3317
This is a path problem - if you use just a filename like ``ls_orchid.fasta`` it has to be in the current directory, i.e. next to your Python script.

You may prefer to use absolute paths, e.g. something like ``/home/ardsatcg/project/biopython_tests/ls_orchid.fasta``

Also, you should NOT put your scripts within Python's ``site-packages`` folder mixed up with Biopython's files. That will cause prob

[2020-10-21 14:46] ardsatcg commented on #3317
I put this file on C:\Users\LENOVO\anaconda3\Scripts\biopython_tests\ls_orchid.fasta
but seem's didn't work, still the same message

[2020-10-21 21:41] ardsatcg commented on #3317
![Screenshot 2020-10-22 053852](https://user-images.githubusercontent.com/71117550/96790219-00871700-1429-11eb-92d6-d3cb67a53232.png)

like this?

[2020-10-21 21:50] peterjc commented on #3317
OK, so your code is running in ``C:\Users\LENOVO\`` - If you refer to the FASTA file as just ``ls_orchid.fasta`` then Python will look for ``C:\Users\LENOVO\ls_orchid.fasta``

Beyond that since I can now see you are using Jypyter, have a look at e.g. https://stackoverflow.com/questions/15680463/change-ipython-jupyter-notebook-working-directory and the Jypyter commands for setting or changing the d

[2020-10-21 23:05] mdehoon opened #3318 "python3: Invalid sequence files for non-ascii sequences"
This is a leftover from the Python2 -> Python3 transition.

The `_data` attribute of a `Seq` object is a `str`.
On Python2, this was an array of bytes (similar to a `bytes` object in python3).
On Python3, this is now a Unicode string.
This means that in principle users can now store non-ASCII characters in a `Seq` object.
However, this is not really useful. We cannot transcribe, translate, complem

[2020-10-22 03:16] ardsatcg commented on #3317
So, what i'm gonna do with this jupyter nb/lab, i'll changes the jupyter directory or make new ones?

[2020-10-22 06:14] nyck33 opened #3319 "module pairwise2.align.globalmx runs multiple times"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]
output:
[code]

(*Please copy and run the above in your Python, and copy-and-paste the output*)

### Expected behaviour

Expecting this code:
[code]
to run once and only once from: https://biopython.org/docs/1.75/api/Bio.pairwise2.html

but it runs multiple times.

### Actual behavi

[2020-10-22 08:47] mdehoon commented on #3318
Note also that on Python2, Seq objects with unicode characters were broken:
[code]

[2020-10-22 10:48] peterjc commented on #3318
The current length behaviour is broken in this case, given:

[code]

There is currently no good use case for unicode in sequences (although we can imaging an extension defining a character for each amino acid, or even modified nucleotide bases). I am not aware of any file format which deliberately supports unicode.

I agree that using bytes internally for sequences has a lot of positives (although

[2020-10-22 10:59] ardsatcg commented on #3317
yup, thx 👍

[2020-10-22 11:36] peterjc commented on #3317
Hope that was helpful.

[2020-10-22 11:36] #3317 closed

[2020-10-22 16:06] chris-rands commented on #3305
Do you think it's premature/impolite just to close these issues directly with a message and (optionally) a "Needs Info" style tag? The issues can always be re-opened if needed, and closed issues can still be can be viewed + commented on

Another example #866

[2020-10-22 16:10] chris-rands commented on #3319
The alignment is ran once- multiple different possible high scoring alignments are returned, but none of these are identical, does that answer your question?

[2020-10-22 16:24] MarkusPiotrowski commented on #3319
@nyck33 , as @chris-rands already mentioned, `pairwise2` will return a list of all alignments (up to 1000) that have the same maximum score. If you want it to return only one alignment, you can use the option `one_alignment_only=True`.

Besides that, I see that you apply sequences that already contain gaps. You should no do this, alignment programs expect to get ungapped sequences. `pairwise2` wil

[2020-10-22 16:31] chris-rands commented on #3319
Good catch Markus- might be worth raising a warning/error when the input string/object for an alignment contains `'-'`?(here and in `Bio.Align`)

[2020-10-22 17:15] peterjc commented on #3305
I like "Needs info" as a short tag, and having an old issue tagged with that and closed is pretty clear (even without any text comment, which can be added too). e.g.

[2020-10-22 21:32] jones-gareth opened #3320 "Failing to parse Swiss format"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

[code]

### Expected behaviour

I have Emboss database installed and am using Biopython to parse the output from seqret (swiss format). In previous versions of
Biopython this has worked fine

### Actual behaviour

On some records fails with:
[code]

This is caused by a line contain

[2020-10-22 23:04] mdehoon commented on #3320
The example does look like an invalid SwissProt file. See https://web.expasy.org/docs/userman.html for a definition of the format.

[2020-10-23 00:58] nyck33 commented on #3319
@chris-rands @MarkusPiotrowski  thanks for the clarification.
Can someone point me to the right module for alignments for sequences with gaps?

[2020-10-23 00:58] #3319 closed

[2020-10-23 07:56] peterjc commented on #3320
Agreed, this looks like an invalid file:

[code]

We could perhaps catch a line consisting of ``;\n`` only as a special case and ignore it with a warning, but we'd need some justification that this was a common problem.

Does it affect lots of the files you are working with, or just one or two?

You mention EMBOSS. Did it generate the file for your, in which case which version(s) of EMBOSS had thi

[2020-10-23 13:06] chris-rands commented on #3319
@nyck33 I think you misunderstand- biological sequences never contain gaps, gaps are added *during* the alignment. They are used to display the position of insertions/deletions when comparing 2 or more different sequences

[2020-10-23 17:24] jones-gareth commented on #3320
@mdehoon and @peterjc Thanks for your quick replies. It certainly looks like an invalid entry- I'm sorry I rushed to file an issue before investigating more.

I'm using Emboss 6.6 which is the latest release.  After looking further I'm pretty sure this is an issue within Emboss that (at least) affects output from the the `seqret` command.  In the `dat` file for the Emboss database the entry for A0

[2020-10-23 18:20] nyck33 commented on #3319
@chris-rands   I apologize I just read that in my class notes.  I'm a bioinformatics noob, only took Bio 12 in high school no uni bio courses until now.  Thanks.

[2020-10-26 08:46] MarkusPiotrowski commented on #3319
@nyck33
If you should 'just' calculate the score of a given alignment, aligner programs are not suitable for that task.
In your case you should do a character-by-character string comparison. Something like (attention: this is not complete and hasn't been tested):
[code]

[2020-10-26 08:51] MarkusPiotrowski commented on #3319
I don't think so. `pairwise2` and `Aligner` are quite universal and can even be used (and have been used) for text comparisons. So I'm not keen on checking the input content.
People who do sequence alignments should know that the seqs should not contain gaps, and we can't make everything fool-proof.

[2020-10-26 11:35] MarkusPiotrowski commented on #3305
Agree. Would be nice if we could add some explanation to the label, as in "Update" or "Good first issue"

[2020-10-26 11:40] peterjc commented on #3305
OK, would anyone else like to comment (paging @biopython/team-biopython), or shall we go with "Needs info" as a new label?

[2020-10-27 01:24] YipingRuan opened #3327 "Can I add "csv" to SeqIO.write, which is very similar to "tab" format?"

[2020-10-27 12:10] peterjc commented on #3327
The same idea with just two columns?

I'm curious what you would use this for.

[2020-10-27 13:45] YipingRuan commented on #3327
Normally we can just do a search & replace use normal text editor, until I got a giant file.

And CSV is also a popular format.

[2020-10-27 14:45] peterjc commented on #3327
So someone else is sending you sequences in CSV format? Usual, I don't think I've ever seen that - even TSV is rare.

And this is definitely just two columns? That should avoid all the pain with commas appearing in free text - a comma in an identifier is unusual... but even so, CSV usually comes with the expectation of being able to optionally quote strings. These considerations make supporting CS

[2020-10-27 15:45] MarkusPiotrowski commented on #3327
Just want to add that in countries where the comma is used as decimal separator, `CSV` usually _means_ `ssv` (semi-colon separated values), at least when working with Excel.

[2020-10-27 15:55] #3327 closed

[2020-10-27 17:48] jvollme opened #3329 "can NcbiblastpCommandline or NcbiblastnCommandline read from stdin?"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

### Question
the ncbi blast+ tools ```blastn``` and ```blastp``` (and most others, too) can read query sequences from sdtin. However the biopython wrappers  ```NcbiblastpCommandline``` and ```NcbiblastnCommandline``` do not seem to have an option for this, or it is not documented?

[2020-10-27 18:54] peterjc commented on #3329
I believe the default ``-query`` argument of "-" means read from stdin, so you could use that explicitly or just not set the input argument. If you are only passing a few short sequences, then you would call the command line wrapper with the stdin as a string argument.

However, heavy use of stdin would be best involving the command via ``subprocess`` explicitly, using the command line wrapper jus

[2020-10-28 16:18] pascalschlaepferprivate opened #3330 "ScanProsite.scan using any sequence fails. Generates a 404 error"
I am reporting a problem with Biopython 1.78, Python 3.8.2, and OSX as follows:

python
Python 3.8.2 (default, Oct  6 2020, 17:26:53)
[Clang 11.0.0 (clang-1100.0.33.17)] on darwin
Type "help", "copyright", "credits" or "license" for more information.
import sys; print(sys.version)
import platform; print(platform.python_implementation()); print(platform.platform())
import Bio; print(Bio.__version__

[2020-10-28 17:43] pascalschlaepferprivate commented on #3330
The issue can be resolved by changing the mirror from

https://www.expasy.org

to

https://prosite.expasy.org

[2020-10-28 20:19] peterjc commented on #3330
Could you submit a pull request with that change please?

[2020-10-29 00:16] mdehoon commented on #3318
Note also that `array`s with typecode `"u"`, which are being used in `MutableSeq` in the `_data` attribute to store the sequence as unicode characters, have been deprecated since Python 3.3.

[2020-10-29 10:36] pascalschlaepferprivate commented on #3330
done

Am Mi., 28. Okt. 2020 um 21:19 Uhr schrieb Peter Cock <
notifications@github.com>:

[2020-10-29 10:57] peterjc commented on #3330
See https://github.com/biopython/biopython/pull/3331

[2020-11-03 09:57] mdehoon commented on #476
Fixed by #3334

[2020-11-03 09:57] #476 closed

[2020-11-03 10:02] mdehoon commented on #573
Fixed by #596

[2020-11-03 10:02] #573 closed

[2020-11-03 10:04] mdehoon commented on #602
Can this be closed, now that we have a SnapGene parser in `Bio.SeqIO`?

[2020-11-03 13:53] mdehoon commented on #607
Can this issue be closed?

[2020-11-03 13:58] mdehoon commented on #874
I believe this is now being taken care of by `SequenceIterator` in `Bio.SeqIO.Interfaces`. Can this be closed?

[2020-11-03 14:56] jdferreira commented on #607
Sure, I don't see why not.

[2020-11-03 14:58] mdehoon commented on #607
thanks

[2020-11-03 14:58] #607 closed

[2020-11-03 15:02] peterjc commented on #874
Yes, that refactoring makes the proposal here obsolete, and ought to have left the error types and messages more consistent.

[2020-11-03 15:02] #874 closed

[2020-11-03 15:04] peterjc commented on #602
Yes, closed by #2204.

[2020-11-03 15:04] #602 closed

[2020-11-05 02:18] #753 closed

[2020-11-06 17:22] SAMANDOLL opened #3337 "Bio::SeqIO error"
Can't locate Bio/SeqIO.pm in @INC (you may need to install the Bio::SeqIO module) (@INC contains: /Users/padana/opt/anaconda3/lib/site_perl/5.26.2/darwin-thread-multi-2level /Users/padana/opt/anaconda3/lib/site_perl/5.26.2 /Users/padana/opt/anaconda3/lib/5.26.2/darwin-thread-multi-2level /Users/padana/opt/anaconda3/lib/5.26.2 .) at add_ka_ks.pl line 1.
BEGIN failed--compilation aborted at add_ka_k

[2020-11-06 18:43] peterjc commented on #3337
You are dealing with BioPerl, not Biopython - our ``Bio.SeqIO`` module was named following their ``Bio::SeqIO`` convention.

The message is telling you that BioPerl (or at least, the ``Bio/SeqIO.pm`` file) is not installed.

If you are still stuck, see https://bioperl.org or https://github.com/bioperl/bioperl-live

[2020-11-06 18:43] #3337 closed

[2020-11-08 20:30] jpzhangvincent commented on #3288
Please release the new version with this patch so we can install from PyPi! Thanks!

[2020-11-09 03:12] JoaoRodrigues opened #3340 "Changes to TravisCI / Move CI to Github Actions"
TravisCI sent out an email this week announcing changes to their plans ([link](https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing)). The post is quite dense and it's hard to understand if this affects us but there seem to be new limitations to open-source projects. Also, we use the travis-ci.org portal, which will be closed down at the end of this year ([link](https://docs.travis-ci.com/u

[2020-11-09 10:49] peterjc commented on #3340
If this is the end of free TravisCI testing (which as Joao says is hard to understand from the post), then so be it. We can be grateful for the years of free support they have given us. We could explore using OBF funds to pay for TravisCI, but speaking as current OBF president I would rather Biopython explore other free alternatives first.

Personally I also have experience using CircleCI, which s

[2020-11-09 19:36] JoaoRodrigues commented on #3340
I agree that exploring free options is better. Personally, I think OBF funds should be spent on people, not machines :)

Sounds good! I had a look at their webpage but couldn't figure out if they support all 3 OSes in their free/open-source plans.

Happy to work on it. We can also brainstorm changes to the testing strategy. For example, we could run different sets of the test suite in parallel (on

[2020-11-09 21:59] mfajer opened #3342 "NCBIWWW response can contain unexpected XML for large queries"
I am responsible for a periodic test that runs a blastp query with the same input and it has been failing about 50% of the time.  In discussions with NCBI the issue appears to be the large number of hits returned, although proper debugging by NCBI requires the RID of a failed response.

This leads me to you.  The current structure of NCBIWWW.qblast to NCBIXML.parse means that the RID is lost by th

[2020-11-09 23:14] peterjc commented on #3342
Could you try if a change like this works for diagnostics?

[code]

You should then be able to look at the ``StringIO`` handle of XML values, and look at the run-time added attributes of ``.rtoe`` and ``.rid``

We do something similar with the Entrez interface to record ``.url`` as an attribute, mainly for diagnostics.

[2020-11-10 00:38] mdehoon commented on #1402
If I understand correctly, Entrez uses UTF-8, which with the current version of BIopython is decoded correctly in the `Entrez._open` function called by `Entrez.efetch`. The problem only happens if you try to print the resulting string to screen, as the string contains unicode characters that the terminal (depending on the locale settings) does not know how to handle. But this issue is independent

[2020-11-10 07:13] MarkusPiotrowski commented on #3342
FYI, I'm working on a new online BLAST module ('CommonURLAPI') which will give you access to the RID, so you can fetch the result several times, in different formats and also delete your search. However, this is not high priority.
I found that error handling for BLAST search is very difficult, because there is no uniform way how errors are reported.

[2020-11-10 09:31] peterjc commented on #3342
Error handling in the NCBI Entrez online API is also painful, they are not consistent but I can understand why as I believe it an abstraction built on top of multiple back end systems.

[2020-11-10 19:16] #2223 closed

[2020-11-10 19:16] peterjc commented on #1540
Closed by #3341

[2020-11-10 19:16] #1540 closed

[2020-11-10 20:23] peterjc commented on #2863
This would be solved by #3344

[2020-11-10 20:25] marcsingleton opened #3345 "Phylo.Consensus.majority_consensus does not sort bitstrings by terminal name"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

3.7.6 (default, Jan  8 2020, 13:42:34)
[Clang 4.0.1 (tags/RELEASE_401/final)]
CPython
Darwin-19.6.0-x86_64-i386-64bit
1.76

### Expected behaviour

The majority_consensus function in the Phylo.Consensus module should yield a consistent consensus tree regardless of the order of the

[2020-11-10 20:28] peterjc commented on #2369
I've had a quick grep, and don't see any of these cases remaining. I am therefore closing this issue.

If there are any in the application wrappers and their multi-line help strings, that problem will go away if #3344 gets merged.

[2020-11-10 20:28] #2369 closed

[2020-11-10 20:29] peterjc commented on #2219
Closing as this appears to have been resolved.

[2020-11-10 20:29] #2219 closed

[2020-11-10 20:30] peterjc commented on #1517
I believe this was fixed by exposing the cache setting.

[2020-11-10 20:30] #1517 closed

[2020-11-10 20:32] peterjc commented on #2863
Clarification: The warning about the BLAST+ wrappers being out of sync would be fixed by dropping them.

The error about V5 databases was already fixed, as as the ``-blastdb_version`` flag.

Closing.

[2020-11-10 20:32] #2863 closed

[2020-11-10 20:35] peterjc commented on #3345
@lijax are you able to look at this please?

[2020-11-11 01:27] mdehoon opened #3346 "SeqXML parser broken"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

CPython
Darwin-19.6.0-x86_64-i386-64bit
1.79.dev0

In `test_SeqIO_SeqXML.py`:

[code]

The last line compares `record_a` to `record_a` instead of to `record_b`.
Fixing this line causes the test to fail.

[2020-11-11 10:01] peterjc commented on #3346
Confirmed:

[code]

Test case is using ``SeqXML/protein_example.xml`` which does have test lines:

[code]

The test file has not changed in 10 years.

I'm guessing this is an oversight in writing properties, perhaps here:

https://github.com/biopython/biopython/blob/biopython-178/Bio/SeqIO/SeqXmlIO.py#L641

Thomas Schmitt does not seem to be on GitHub anymore...

[2020-11-12 01:55] #3346 closed

[2020-11-12 16:05] mfajer commented on #3342
@peterjc that patch does work, now to actually catch the failure.  The problem is intermittent so this may take a while.  Do you have any intention of adding that patch to the repository?  I think it would be useful, at least until @MarkusPiotrowski completes the new module.  Cheers.

[2020-11-12 17:10] peterjc commented on #3342
I'm willing to add that patch for diagnostics - no objections @MarkusPiotrowski ?

[2020-11-13 07:02] JoaoRodrigues opened #3350 "Git line-ending settings affect test results"
Reporting a minor problem. Depending on the line endings of the OS, some tests fail (e.g. `test_MafIO_index`). You can see the issue on the GHA branch [here](https://github.com/JoaoRodrigues/biopython/runs/1372046459?check_suite_focus=true), or in detail:
[code]

The issue comes from one of the test data files needing `LF` line endings and failing when those are `CRLF`. My local git autocrlf is se

[2020-11-13 07:25] MarkusPiotrowski commented on #3350
@JoaoRodrigues Just to make it more clear to me:
1. On which system do you see the error?
2. When you say 'running the tests manually' then you mean outside the git environment?

I do not know anything about the code in `MafIO.py` but I guess you will always encounter such problems with line endings when you access a file byte-wise, am I right?

[2020-11-13 11:06] peterjc commented on #3350
The underlying problem in this case is #1149, can we close this as a duplicate?

IIRC, we've explicitly set some of the test files to binary mode it git where we want to test a precise form of a text file. Perhaps that would be a workaround here.

[2020-11-13 12:17] MarkusPiotrowski commented on #3350
As @JoaoRodrigues said, set `cnksr3.fa`  from `Tests/MAF/` to `.gitattributes` as binary as workaround for the test suite.

[2020-11-13 12:29] MarkusPiotrowski commented on #1149
It depends on the environment in which you are testing. If you download the Biopython master directly from the Github page (e.g. as zip file), build and test, then the test will pass.
If you are working in your Git environment, Git on Windows will usually convert line endings on checkout from LF to CR/LF.  The indices in the test are derived from files with LF line endings and therefore the test s