[2019-03-05 21:54] EricAlcaide opened #1946 "Calc_dihedral function not working properly - Bio.PDB.vectors"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

3.6.7 (v3.6.7:6ec5cf24b7, Oct 20 2018, 13:35:33) [MSC v.1900 64 bit (AMD64)]
CPython
Windows-10-10.0.17134-SP0
1.73

### Expected behaviour

Calc_dihedral() function should return the dihedral angle comprised between 2 planes defined by 2 points. The Phi/Psi plot resulting from the calcula

[2019-03-05 21:55] EricAlcaide commented on #1946
2 planes defined by 4 points*

[2019-03-05 22:04] EricAlcaide commented on #1946
Determination of angle sign doesn't work well

[2019-03-07 06:18] rob-miller commented on #1946
I happen to be working on code around this now, have not seen a problem in my (limited) tests?  Here's a few from [7rsa](ftp.ebi.ac.uk/pub/databases/rcsb/pdb-remediated/data/structures/.../rs/pdb7rsa.ent.gz)

| angle | definition | biopython | dssp |
|-------|-----------|-----------|------|
| psi      | 1KN:1KCA:1KC:2EN | 163.05954 | 163.0595 |
| phi     | 1KC:2EN:2ECA:2EC | -56.72340 | -56.7234 |

[2019-03-07 09:54] peterjc commented on #1946
I was over ten years ago, but this part of the Biopython code shouldn't have changed, but I used it successfully here:

https://warwick.ac.uk/go/peter_cock/python/ramachandran/calculate/

I did plots and as I recall, compared them to original publications. Are you sure your expected sign is correct?

[2019-03-07 14:28] fgp opened #1952 "Removing `tostring()` needlessly breaks backwards compatibility, deprecation shouldn't lead to removal!"
Commit 2f035092baa18a45e98738c6c8fe18e84140636f removed `Seq.tostring()`, which was the previously *recommended* way of converting a sequence to a string without risk of the sequence being truncated during conversion. To quote the function documentation of `__str__` in https://biopython.org/DIST/docs/api/Bio.Seq.Seq-class.html

After 2f035092baa18a45e98738c6c8fe18e84140636f, we are left with NO WA

[2019-03-07 16:11] peterjc commented on #1952
See pull request https://github.com/biopython/biopython/pull/1855

Our standard deprecation policy is here:

https://biopython.org/wiki/Deprecation_policy

In the case of ``str(seq_obj)`` (aka the ``__str__`` method) and ``seq_obj.tostring()`` we deliberately moved much slower with this change because we knew it could affect more people than usual, but changing ``__str__`` was  important to fix an

[2019-03-07 16:44] fgp commented on #1952
I the light of Biopython 1.44 having been released 2007, I agree that this isn't necessary.

I would have kept it around until such time as there is some tangible benefit to removing it. Which for such a trivial function may very well mean indefinitely -- or it might not, depending on the further fate of the Seq class. But I fail to see the point in removing code *just* because it was deprecated f

[2019-03-08 02:46] mdehoon commented on #1952
@fgp  If we don't remove deprecated code at some point, then Biopython will become an unmanageable mess. Biopython already is very conservative in its deprecation policy.

[2019-03-09 18:56] MarkusPiotrowski opened #1954 "conda-forge: Biopython 1.73 for Win32?"
I wanted to update my Biopython to version 1.73 in my Anaconda environment using the conda-forge channel.
Anaconda's standard channel is on Biopython 1.72 (as usual lagging behind), but while the conda-forge channel is on Biopython 1.73 for all the other OSs, it's still on 1.71 for Win32 (https://anaconda.org/conda-forge/biopython).

Anyone around here who's participating in conda-forge?

[2019-03-10 14:46] pcapel commented on #1902
Is it preferred to fix a single module at a time or is it ok to group a few modules together in one merge request?

[2019-03-11 09:38] peterjc commented on #1902
@pcapel one top level folder per pull request is probably best here (e.g. Bio/PDB/, or Bio/motifs/), in part as they will tend to have different maintainers so that simplifies reviewing changes.

[2019-03-11 09:51] peterjc commented on #1954
Me and @souravsingh, see https://github.com/conda-forge/biopython-feedstock

I hadn't noticed but it does look like Conda Forge dropped win32 a long time ago:

https://github.com/conda-forge/biopython-feedstock/commit/14138c8c52545f96d6f283ba2afd8e14ac015804#diff-11c909939117928998b102a1fff7d363

Looking here, there seems to be some tag needed to explicitly keep win-32 builds alive?

https://githu

[2019-03-11 13:00] MarkusPiotrowski commented on #1954
Here's the issue about dropping Win32 support: https://github.com/conda-forge/staged-recipes/issues/5640 . I'm not sure if it is still possible to force a win32 build, I would guess no.

I wonder if it's worth to investigate further. I have a small laptop with Win32 and I for sure there are more around. However, I was able to upgrade my Biopython version in my conda environment using ```pip```. So

[2019-03-11 13:13] peterjc commented on #1954
I had read that mixing pip and conda is not advised, so avoid it myself. In this case, pip seems like a practical way forward (rather than waiting for the default conda channel to catch up).

Note that the BioConda channel currently does not support Windows at all, so that does not offer an alternative. This was why we focused on conda-forge instead.

Shall we close this as there looks to be no ea

[2019-03-11 13:15] cbrueffer commented on #1954
FYI, the latest conda versions (>4.6.0) are supposed to interoperate with pip a lot better. See https://github.com/conda/conda/blob/master/CHANGELOG.md

[2019-03-11 13:24] MarkusPiotrowski commented on #1954
The better ```pip```/```conda``` interoperability is also described here: https://www.anaconda.com/conda-4-6-release/

Closing.

[2019-03-11 13:24] #1954 closed

[2019-03-12 17:26] harryjubb opened #1956 "MMTF writer"
Hi,

Are there any plans to add an MMTF writer (`MMTFIO`?) to BioPython? Is this something that could be contributed?

My use case is for converting PDB files to MMTF. I had a go at taking a BioPython `Structure` and looping through the MCRA model into the [`MMTFEncoder`](https://github.com/rcsb/mmtf-python/blob/master/mmtf/api/mmtf_writer.py#L207), which for the most part worked apart from for bo

[2019-03-13 13:02] peterjc commented on #1956
As you've noticed, the ``mmft`` Python library has the ``MMTFEncoder`` which would support writing MMTF files.

Probably @abradle would be the best person to ask about how realistic this is, since he wrote the code for loading MMTF files into Biopython. It may be that too much data gets dropped on conversion to the PDB centric object model?

[2019-03-13 20:49] abradle commented on #1956
What you did makes sense @harryjubb and yes I think by default bonds are not parsed. I can't fully remember if other options enable bond parsing - but I seem to remember what you say is correct - and it is not possible and would need implementing.

If you want to convert PDB -> MMTF the simplest way would be via BioJava(https://biojava.org/) since this implementation works well for reading PDB fil

[2019-03-14 10:29] peterjc commented on #1956
So right now (without also improving the MMTF parsing code in Biopython to handle bonds), it should at least be possible to at least output MMTF records recording the atom positions?

[2019-03-14 14:21] harryjubb commented on #1956
Thanks both for your replies :slightly_smiling_face:

That's right, I could get a parsable MMTF file with all the atom positions:

![image](https://user-images.githubusercontent.com/4588417/54362614-22bb8f00-4661-11e9-8295-71f063c6190e.png)

Using:

[code]
I imagine that while it doesn't cover all the edge cases, the above plus bond information plus the other missing metadata for the encoder would

[2019-03-14 15:49] peterjc commented on #1956
As a I recall (and it has been many years since I worked on PDB files), the covalent bonds are implicit via distance (and for proteins the residue type would also give you a prior for how the expected side chain would be connected) only a few special cases like cystine bridges would be annotated.

I take it MMTF expects the bonds to be recorded explicitly?

[2019-03-14 16:17] abradle commented on #1956
Yes it does. And distance based bond perception can be troubling. Bio java
uses the wwpdb bond information for assigning residue bonds. Ligands unless
in that dictionary would be more troublesome.

Harry - this discussion may also be worth keeping an eye on. Specifically
if you see Steve roughley at all he might be able to help you too.

https://github.com/rcsb/mmtf-java/issues/22#issuecomment-293

[2019-03-14 17:37] harryjubb commented on #1956
I can see where that would be problematic. Unfortunately my usage is outside a wwPDB context, there's unlikely to be existing mmCIF or MMTF files available, nor any ChemComp dictionary. There's probably no nice solutions! BioJava might be the way at the moment.

I'll keep an eye here and on the mmtf-java issue, thanks for linking to that. I'll continue to have a play though probably at "spare time

[2019-03-14 18:13] jclachance commented on #1871
It doesn't seem like this issue has been solved? I run into the same issue when running MEME (MEME version 5.0.4 (Release date: Wed Jan 23 14:05:40 2019 -0800) on my sequences on the online platform and then attempting to read the output using the most recent BioPython version (1.73). The same error message shows up:

ValueError: Line does not start with 'DATAFILE':
PRIMARY SEQUENCES= promoter_seq

[2019-03-14 19:11] peterjc commented on #1871
@jclachance I'm guessing https://github.com/grihabor/biopython/pull/3 was meant to be a pull requests on the main Biopython repository? If so, can you try that again (the pull request creation step, the same code branch should be fine).

[2019-03-14 21:13] MarkusPiotrowski commented on #603
The performance of ```pairwise2``` has much improved with PR #782 and there is the new, faster ```PairwiseAligner``` within the ```Align``` module.

So I'm closing this now.

[2019-03-14 21:13] #603 closed

[2019-03-14 21:42] MarkusPiotrowski commented on #509
OK, this is a quite old issue...This should have been the answer:

```ovhg``` gives the length of the overhang, negative numbers are 5' overhangs, positive 3' overhangs.
```ovhgseq``` gives the sequence of the overhang (from 5' to 3')

[code]
These attributes are already present in Biopython 1.60 (possibly from the beginning of the ```Restriction``` module), I didn't go back further.

[2019-03-14 21:42] #509 closed

[2019-03-14 21:51] MarkusPiotrowski commented on #789
The ability of ```pairwise2``` to work with lists is (now) documented in the docstring as well as in the tutorial.

Closing.

[2019-03-14 21:51] #789 closed

[2019-03-14 21:58] MarkusPiotrowski commented on #955
Penalizing end gaps in local alignments violates the implemented Smith & Waterman algorithm. ```pairwise2``` now gives a warning when a user tries to do this.

Closing

[2019-03-14 21:58] #955 closed

[2019-03-14 22:08] MarkusPiotrowski commented on #1128
Everything seems to be resolved.

[2019-03-14 22:08] #1128 closed

[2019-03-14 22:18] MarkusPiotrowski commented on #1532
This has been fixed with PR #1563.

Closing this now.

[2019-03-14 22:18] #1532 closed

[2019-03-15 09:59] peterjc commented on #1203
New numbers,

[code]

I will split this out into sub-issues...

[2019-03-15 10:04] peterjc opened #1960 "D103 Missing docstring in public function"
We currently enforce various code style issues using ``flake8``, configured via ``Bio/.flake8`` etc and run automatically on TravisCI via tox. More details here including how to install ``flake8`` and the relevant plugins:

https://github.com/biopython/biopython/blob/master/CONTRIBUTING.rst

One of the important docstring checks we currently do not enforce is missing docstrings in public functions

[2019-03-15 10:10] peterjc opened #1961 "D101 Missing docstring in public class"
We currently enforce various code style issues using ``flake8``, configured via ``Bio/.flake8`` etc and run automatically on TravisCI via tox. More details here including how to install ``flake8`` and the relevant plugins:

https://github.com/biopython/biopython/blob/master/CONTRIBUTING.rst

One of the important docstring checks we currently do not enforce is missing docstrings in public classes.

[2019-03-15 10:21] peterjc opened #1963 "D102 Missing docstring in public method"
We currently enforce various code style issues using ``flake8``, configured via ``Bio/.flake8`` etc and run automatically on TravisCI via tox. More details here including how to install ``flake8`` and the relevant plugins:

https://github.com/biopython/biopython/blob/master/CONTRIBUTING.rst

One of the important docstring checks we currently do not enforce is missing docstrings in methods of publi

[2019-03-15 10:30] peterjc commented on #1203
OK, child issues #1960, #1961, #1962 and #1963 filed - closing this one. Thank you all.

[2019-03-15 10:30] #1203 closed

[2019-03-15 10:57] brandoninvergo commented on #1290
Egads, I completely missed the notification for this. Many apologies. @Zefeng-Wu and @chmccarthy, thanks for reporting this and digging into it a bit.

I built some test cases and it only seems to be triggered on names that contain bits that can be misinterpreted as floating point values by the parser (so, @chmccarthy, in your example, H222|CP028442.1_6509_9127 looks suspiciously like 28442.1 to t

[2019-03-15 16:01] philshem opened #1966 "Support for esummary for database 'pccompound'"
### Setup

Python 3.7.2 in virtual environment on macOS 10.14.3
biopython==1.73
numpy==1.16.2

[code]

the handle with esummary is then a valid XML, see the URL:

https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esummary.fcgi?db=pccompound&id=7488&tool=biopython

### Expected behaviour

based on the [documentation](https://biopython.readthedocs.io/en/latest/Tutorial/chapter_entrez.html#esummary-retri

[2019-03-15 16:18] peterjc commented on #1731
Applied as e856cd3d1896814ed3f83b73391098d539e4ff8c from #1746. Thank you all.

[2019-03-15 16:18] #1731 closed

[2019-03-15 16:21] peterjc commented on #1290
This should now be fixed with #1964 from Brandon applied to the master. Thank you everyone 👍

[2019-03-15 16:21] #1290 closed

[2019-03-15 17:07] peterjc commented on #1882
This should be fixed by pull request #1934, closing.

[2019-03-15 17:07] #1882 closed

[2019-03-15 23:02] kaskales commented on #1902
Hello, about fixing the doctest for Bio.motifs.jaspar.db, it seems that the doctest uses an example database host, user, and password. If I'm correctly understanding this, it doesn't seem like this doctest will ever pass since everyone has their database configured differently.

[2019-03-16 07:25] mdehoon commented on #1966
Fixed by #1968

[2019-03-16 07:25] #1966 closed

[2019-03-16 10:18] peterjc commented on #1902
In cases like that, we either exclude the whole file from running doctests (not ideal), or for that example don't write it as a doctest but an RST literal block (i.e. indented code, but no ``>>>`` lines).

[2019-03-16 13:14] bluesurfer opened #1969 "Start location is the left most (minimum) value but sometimes left most is not the minimum"
Found myself in the special case of a wrapping origin feature.
[code]
where 100 is the length of the sequence.

In this case `feature.location.start` should be the left most value of the feature i.e. 90. However Biopython is picking the minimum value i.e. 0 and that does not correspond to the left most value.

Is there a reason why Biopython does not simply pick the start of a location as the firs

[2019-03-16 15:44] rwst opened #1970 "Phylo.draw_graphviz() deprecated but still in tutorial"
BioPython current master on:
[code]
But several (fanciful tree) examples in the tutorial use `draw_graphviz()`.

Also, not having graphviz I get an error:
[code]
But the suggested pydot installation will still fail with the same message.

As next step I would remove the resp. examples from the tutorial. Agree?

[2019-03-16 20:29] peterjc commented on #1914
Fixed by #1920, thanks for reporting this issue.

[2019-03-16 20:29] #1914 closed

[2019-03-16 20:47] peterjc commented on #1970
Probably best to convert the examples to using ``Bio.Phylo.draw`` instead or removing them, but yes, something needs updating on the Tutorial.

As to the pydot issue, as  I recall that was a pain on Python 3 (there was an updated fork, not sure if the main project is up to date now  - would have to check). Do you want to look at that more, or just ignore GraphViz for your own needs?

[2019-03-16 21:17] peterjc commented on #1969
[code]

This is by design as as documented "*Start location - left most (minimum) value, regardless of strand.*",

https://github.com/biopython/biopython/blob/biopython-173/Bio/SeqFeature.py#L1390

Have you read the ``FeatureLocation`` class docstring?

"*i.e. Rather than thinking of the 'start' and 'end' biologically in a
    strand aware manor, think of them as the 'left most' or 'minimum'
    b

[2019-03-16 21:21] peterjc commented on #1969
I don't understand what you mean by 'left most', and why it might be a useful thing to return. We are returning the left-most or minimum value (0) on this example, which is useful in the context of drawing genome diagrams.

You do not seem to want the biological start/end, see https://github.com/biopython/biopython/issues/897

[2019-03-17 11:24] bluesurfer commented on #1969
Just to clarify, I am not issuing a bug but possibly an enhancement.

Precisely, the one reported in #897. Since one may be working in different contexts it may be useful to have the opportunity to choose between biological start/end and left/right of the location.

To me this issue may be closed in favor of #897

[2019-03-17 14:02] rwst commented on #1970
This will not work as you won't get vertical cladogram or free layout graphics with `Phylo.draw`, and the examples are specifically there to show these modes. In #1247 `draw_graphviz` was deprecated before any replacement was implemented. I can see that it's not strictly necessary to have other than horizontal cladograms, but we're talking about these specific parts of the tutorial now. Going with

[2019-03-17 14:19] rwst commented on #1970
Hold it. I can perhaps rewrite them using networkx, not sure how close I can get.

[2019-03-17 14:31] rwst commented on #1970
No, networkx is not suited for this.

[2019-03-18 10:16] peterjc commented on #1969
Thank you for clarifying - another vote in favour of #897 👍

As noted there, we were stuck with the historic behaviour labels of ``.start`` and ``.end`` (which in hindsight could have been ``.left`` and ``.right``), which constrained how the relatively recent ``CompoundLocation`` could behave.

[2019-03-18 10:16] #1969 closed

[2019-03-18 11:35] jgreener64 commented on #1956
This would be a cool addition, and would complete the last of the 6 {PDB, mmCIF, MMTF}{read, write} combinations.

[2019-03-18 13:59] rwst commented on #1247
BTW I looked around a bit for tree rendering engines with Python API. The most sophisticated at the moment is the ETE toolkit. ETE-3.1.1 requires PyQt5 however, and right now I'm struggling with that installation.

[2019-03-18 14:28] rwst opened #1974 "feature: Phylo interface to ete3"
In #1247 `Phylo.draw_graphviz` was deprecated. An interface to ete3 is suggested to provide a replacement: http://etetoolkit.org/docs/latest/index.html

Ete3 installs via pip and depends on PyQt5. That gave me some headache because my Linux system does not provide the needed dbus version. However, the GUI need not be used---image files can be generated as PNG or SVG and displayed with matplotlib.

[2019-03-18 15:53] peterjc commented on #1974
Thoughts @etal?

[2019-03-19 12:30] peterjc commented on #1904
Closing this issue now that #1906 has been merged.

[2019-03-19 12:30] #1904 closed

[2019-03-19 12:32] peterjc commented on #1902
Note that some of the modules on this list are simply missing any doctests at all, e.g. ``Bio.Restriction`` as noted by @MarkusPiotrowski https://github.com/biopython/biopython/commit/4a9dcbcf97e46ce284780cb2dd0960cb3cc2f8c7#commitcomment-32819770

[2019-03-20 08:59] valeryweber opened #1977 "Pfam/Stockholm reader"
Dear All

I would like to ask you if the information from the Pfam database, labeled as

#=GF ID
#=GF AC
...
#=GF **

could be accessed via the SeqIO?

Many thanks

Valery

[2019-03-20 10:48] peterjc commented on #1977
See #768 and pull request #769 - it looks like this was close to being ready but then forgotten about. Perhaps you can help?

[2019-03-20 10:48] #1977 closed

[2019-03-21 08:04] MarkusPiotrowski commented on #1902
Sorry, I was wrong, actually they have doctests. I thougth that doctests are only self-running doctests (those modules with ```if __name__ = "__main__"...run_doctest()```).

So, I'm taking care for the ```Restriction``` module.

[2019-03-21 19:05] michiboo commented on #1963
Hi I would like to work on this issue!

[2019-03-21 19:27] MarkusPiotrowski commented on #1963
@michiboo Please select a module on which you would like to work on and tell us. Maybe as starter one that has not to many missing docstrings? E.g. Bio\Align?

If you are not experienced with doscstrings, I would suggest to read PEP 257 beforehand:https://www.python.org/dev/peps/pep-0257/

[2019-03-21 19:42] michiboo commented on #1963
Yes I would work on this module Bio\Align for start!

[2019-03-21 19:51] MarkusPiotrowski commented on #1963
**Overview: Missing docstring in public method (D102)**

|Module                                       |Missing docstrings|
|----------------------------------|-------------------|
|Bio\Align\__init__.py                     |2                          |
|Bio\Align\AlignInfo.py| 1|
|Bio\AlignIO\EmbossIO.py| 2|
|Bio\Blast\ParseBlastTable.py| 1|
|Bio\codonalign\codonalignment.py| 1|
|Bio\codonalign\c

[2019-03-22 04:48] SYSUMSD opened #1978 "Bio.Motifs throws KeyError 'd'"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

3.6.1 (v3.6.1:69c0db5, Mar 21 2017, 18:41:36) [MSC v.1900 64 bit (AMD64)]
CPython
Windows-10-10.0.17134-SP0

### Expected behaviour
I'm using Biopython to process some NGS data.
But a 'd' arise during process. My reads has no 'd' in their content.

### Actual behaviour

Traceback (

[2019-03-22 07:54] MarkusPiotrowski commented on #1978
For me this works just fine on Python 2.7.14 with Biopython 1.73:

[code]
Are you sure that your Pandas frame contains what you think?
Which Biopython version are you using?

[2019-03-22 08:21] SYSUMSD commented on #1978
my Biopython version is 1.73.
As you say, pandas frame object seems strange in my code:
`seqs2 ={'a': 'GTCACTG', 'b': 'GGCACTG'} `
`frame = pd.DataFrame({'Spacer': seqs2.values()}, index=seqs2.keys())`
`frame`
              Spacer
a  (GGCACTG, GGCACTG)
b  (GGCACTG, GGCACTG)

These dataframe structrue is different from the example about motifs.create in

I think the problem is in `pd.DataFrame({'Sp

[2019-03-22 09:13] MarkusPiotrowski commented on #1978
Sorry, I don't have any knowledge about Pandas. Do you really need it here? If your sequence reads are in a dictionary, as you have shown, you can simply convert the values into a list with ```.values()```
Note: In Python 3 you may need to use ```list(seqs2.values()``` instead of just ```seqs2.values()```.

[code]

[2019-03-22 09:35] peterjc commented on #1902
Great - it looks like they need some missing imports added, and blank lines where the expected output otherwise merges into the text - e.g.

https://github.com/biopython/biopython/blob/master/Bio/Restriction/Restriction.py#L286

[code]

to:

[code]

[2019-03-22 10:46] SYSUMSD commented on #1978
Thanks!
I rewrite these code .
Now the code can run as I wish.

[2019-03-22 13:16] MarkusPiotrowski commented on #1978
Fine!

Closing this now.

[2019-03-22 13:16] #1978 closed

[2019-03-22 17:22] MarkusPiotrowski commented on #1113
This was solved with  PR #1195.

Closing now.

[2019-03-22 17:22] #1113 closed

[2019-03-22 17:48] MarkusPiotrowski commented on #1042
@peterjc Yes, this is harmless, 'py_trace_row' is only initialized if it is needed. If 'score_only' is true, it is not needed and not initialized. This should save some memory.
If 'score_only' is false, 'py_trace_row' is initialized and only in this case it is also used.

[2019-03-22 20:18] victorlin opened #1980 "MAST parsing fails with motif IDs"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

	3.6.5 (default, Apr 10 2018, 00:31:24)
	[GCC 4.8.5 20150623 (Red Hat 4.8.5-16)]
	CPython
	Linux-3.10.0-862.9.1.el7.x86_64-x86_64-with-redhat-7.5-Maipo
	1.73

Behaviour tested on MAST versions 4.11.4 and 5.0.4.

### Expected behaviour

CODE BLOCK:

	from Bio.motifs import mast
	wit

[2019-03-24 14:59] hwalinga commented on #1387
I have now more knowlegde and time than I had when I raised this issue and would like to make a pull request that fixes it.

For that I still need a comment from @barwil or @mdehoon or @aralap (like pointed out by peterjc in the last comment) if we go for my proposed solution, (raise warning on premature ending, but still return results), or if we go for the iterator based design. (Possibly also r

[2019-03-25 10:14] peterjc commented on #1042
So shall we leave this issue open to skip initialising ``py_trace_row`` if ``score_only`` is true?

[2019-03-25 10:16] peterjc commented on #1980
Sounds sensible, but not my area - @mdehoon or @barwil ?

[2019-03-25 11:16] MarkusPiotrowski commented on #1042
I have an open PR regarding ```pairwise2```, where I also did some changes on the C module. I can add a line that makes sure that ```py_trace_row``` will always be initialized, to make the compiler happy.

[2019-03-26 10:55] zqfang opened #1982 "UnicodeDecodeError when reading ABI file with Python 3.6 but not with Python 2.7"
### Setup

I am reporting a problem with Biopython version 1.73, Python version 3.6, and operating
system as follows:

[code]

3.6.7 | packaged by conda-forge | (default, Feb 28 2019, 02:16:08)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]
CPython
Darwin-17.7.0-x86_64-i386-64bit
1.73

### Expected behaviour

These code works in python 2:
[code]

### Actual behaviour
The same code cau

[2019-03-26 12:01] peterjc commented on #1982
Python 2 does not care about unicode and string encodings, so it just works.

On Python 3, strings are unicode by default, which requires picking an encoding when loading binary data - and evidently the default of UTF-8 does not work here.

It seems there is something unusual in this ABI file. Perhaps it was run on a machine not using English as the system language? This character might (depending

[2019-03-26 19:43] victorlin commented on #1980
I'm thinking to have a more robust way to detect the motif section and contents. Then, if `ID` and/or `ALT ID` are present, they can be parsed and added as attributes to each `Bio.motifs.meme.Motif`.

[2019-03-27 01:52] mdehoon commented on #1980
@victorlin  could you prepare a pull request with a fix?

[2019-03-27 01:58] mdehoon commented on #1387
@hwalinga  I am in favor of an iterator-based design. But since I am not a heavy user of Meme myself, opinions of other people should take precedence over mine.

[2019-03-27 02:47] zqfang commented on #1982
Yes, I believe the abi file contains Non-English words. Please find the test file below. @bow
By the way, could the abi parser adds a new argument, which could handle non-English characters?
For example
[code]

[8s11-KO-F1_E08.zip](https://github.com/biopython/biopython/files/3011267/8s11-KO-F1_E08.zip)

[2019-03-27 03:34] andrewguy commented on #1206
A quick follow up on this one. There is indeed a lack of correspondence between atom serial numbers in PDB files and `_atom_site.id` numbering in mmCIF files. See 1LCD (in `./Tests/PDB/`) for an example.

I see two options here.

1. We parse `_atom_site.id` as an atom serial number. Maybe add a warning that there may not be a direct correspondence to the `.pdb` file for the same structure. Maybe a

[2019-03-27 05:52] etal commented on #1974
I agree with removing `draw_graphviz` and interfacing with ETE instead.

[2019-03-27 09:33] lpravda commented on #1206
Don't know how what @harryjubb plans with arpeggio are, but I took over to integrating that into PDBe and eventually I had to come up with my own parsing. Like I said before, own own internal parser has been used (pip installable these days). the code is here: https://github.com/lpravda/arpeggio/blob/refactored/arpeggio/core/protein_reader.py

[2019-03-27 16:44] peterjc commented on #1970
Closed via #1971

[2019-03-27 16:44] #1970 closed

[2019-03-27 17:06] peterjc commented on #1982
Thanks for the example. I can re-produce the problem locally on macOS:

[code]

I was puzzled for a moment as gbk usually means GenBank (the NCBI file format), but here it is a simplified Chinese encoding: https://en.wikipedia.org/wiki/GBK_(character_encoding)

It might be useful for testing, but what is your system locale?

@bow, do you still have a copy of http://www6.appliedbiosystems.com/suppo

[2019-03-27 17:34] peterjc commented on #1982
Looking at the code, I wonder if we could leave the fields as raw bytes as long as possible (meaning if the user wants to work with a raw field, they now get it as raw bytes). If that works for this example will depend on where this problem character is being used...

[2019-03-27 18:24] peterjc commented on #1982
Pull request #1984 would ignore problems tags with a warning.

In this file, the problem is in tag CMNT 1 (sample comment tag), which we do not use directly.

[2019-03-27 23:06] mdehoon commented on #1944
With the current version of Biopython on github, I could run the script without any errors. I expect that the same will be true for any recent version of Biopython. So my guess is that you had a temporary network glitch. I would suggest to try the script again with the current version of Biopython in github, and if you can replicate the error, narrow it down to find the exact problem.

[2019-03-28 01:08] mdehoon commented on #1856
Added example for this function; pull request #1985

[2019-03-28 01:09] #1856 closed

[2019-03-28 03:03] zqfang commented on #1982
@peterjc . In my system:
[code]

[2019-03-28 04:21] mdehoon commented on #1848
Does this error still occur? I have not been able to replicate it.

[2019-03-28 06:24] MarkusPiotrowski commented on #1042
No more compiler warnings from ```cpairwise2```.

[2019-03-28 06:24] #1042 closed

[2019-03-28 08:04] svalqui commented on #1288
I'll have a look at Bio.NMR

[2019-03-28 22:53] mdehoon opened #1988 "meme file parsing fails with current version of meme"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

### Expected behaviour

[code]

### Actual behaviour
[code]

This is with meme version 5.0.5 (the latest version).
Note that meme generates an XML file as well as a human-readable text file. The meme parser in Biopython is currently designed for parsing the text file, which is frag

[2019-03-28 23:45] bow commented on #1982
@zqfang Thanks for reporting this and for sharing a file. Would you mind if we use it for our test suite?

@peterjc I don't have a PDF of the specs and it's unfortunate that they have decided to remove the original one (good that you found a version available elsewhere).

In page 16 of that document, they describe the pString and cString in slightly more detail, and they did mention that the file

[2019-03-29 03:12] zqfang commented on #1982
Not mind at all. @bow
So it works fine as long as we parse the abi file with ASCII.

[2019-03-29 09:26] peterjc commented on #1982
I don't like the idea of sometimes returning a unicode string, and sometimes bytes. Consistently using one or the other makes life easier downstream.

Sticking with ASCII only sounds reasonable (and in line with the standard), and in order that files like this can be parsed, a warning and discarding tags which contain non-ASCII seems a good compromise.

i.e. Even stricter than my quick patch on #1

[2019-03-29 10:29] peterjc commented on #1988
i.e. Goal is to recommend parsing the XML, and formally deprecate the plain text parser? Much like with BLAST (although we've not quite killed the plain text parser). Sounds sensible.

Cross reference PR #1986, #1958

[2019-03-29 12:02] philshem commented on #1588
According to this post

https://github.com/kennethreitz/requests/issues/3006#issuecomment-274058323

it can be fixed on python 3 by installing the following packages:

    pip install pyopenssl ndg-httpsclient pyasn1 urllib3

(testing now, although this is the kind of error you get after the script runs for a while...)

[2019-03-29 15:39] philshem commented on #1588
my workaround is now this function

[code]

[2019-03-29 21:10] MarkusPiotrowski commented on #1865
@SchwarzMarek Sorry for the late response.
I think such a function would be useful, e.g. under ```SeqUtils```, especially with the other function you mentioned, which returns orfs for each frame.

It would be nice to have:
 - a separate public function which returns all orfs for each frame, which may also allow to set some parameters for fine tuning (e.g. only first orf, only longest orf, only orf

[2019-03-29 21:43] bow commented on #1982
Hmm..having a consistent return type is preferrable indeed. I'm not so sure about discarding tags, I feel that the parser should preserve as much data as possible.

We could be strict and reject all non-ASCII characters by discarding tags that contain it. It is after all what the specs say.

But perhaps this is also where it is better to follow the Python 2 vs 3 difference. For elements 18 and 19

[2019-03-30 10:34] peterjc commented on #1982
That's what I was wondering in https://github.com/biopython/biopython/issues/1982#issuecomment-477270587 - for the  'raw' annotations returning bytes seems like a good compromise. Updating the tests will be a bit of a hassle, but probably not too bad.

Note we have to stick to strings for things like the sample name/id/description etc which are standard ``SeqRecord`` properties.

[2019-03-30 10:41] peterjc commented on #1848
Yes, even with the current master (on my laptop at least).

Could this be caused by something like a locally cached out of date DTD file?

[2019-03-30 20:38] harryjubb commented on #1206
Hi both, I haven't been working on Arpeggio recently, but great to hear it's gone well to integrate the PDBe parser. @andrewguy I would think option 1 works as a general solution, it doesn't sound like there's a perfect solution. Thanks for your replies.

[2019-03-31 01:03] mdehoon opened #1991 "confusing error message in Bio.Align"
`Bio.Align.__init__.py` imports `Bio.Align._aligners`, which may fail if a user attempts to import `Bio.Align` from the biopython source tree. The error message warns against this:

[code]

However, there may be other reasons why the import fails (for example, _aligners may be missing due to a failed compilation, or may have been compiled incorrectly). The warning message therefore should be rephr

[2019-03-31 01:11] mdehoon opened #1992 "Confusing attribute names in PairwiseAligner"
The match and mismatch scores are stored in the `match` and `mismatch` attributes in `PairwiseAligner`. The gap scores explicitly have the word `score` in the attribute name, for example `target_open_gap_score`. A user may therefore expect the match and mismatch scores to be named `match_score` and `mismatch_score`. To make matters worse, printing the aligner suggests that these attribute names ar

[2019-03-31 01:15] mdehoon commented on #1848
@peterjc  Yes. `ProteinList` is defined in `IPGReportSet.xsd`:

https://www.ncbi.nlm.nih.gov/data_specs/schema/other/seq_report/IPGReportSet.xsd

Do you have an older version of `IPGReportSet.xsd` in your local cache?

[2019-03-31 12:30] MarkusPiotrowski commented on #1913
@mdehoon and I agreed that zero-score extensions should not been added to local alignments. Biopython's two pairwise aligners ```pairwise2``` and ```PairwiseAligner``` up to now prevented *leading* zero-score extensions but not *trailing* zero-score extensions.
This has been addressed now with PRs #1938 and #1955.

Closing this now.

[2019-03-31 12:30] #1913 closed

[2019-03-31 22:43] bow commented on #1982
Aha, that does sound preferrable.

For parsing the expected SeqRecord attributes, it boils down to three tags:
* `SMPL1` for `.ab1` and optionally `.fsa` files (used for `SeqRecord.id`).
* `LIMS1` for `.fsa` files (used for `SeqRecord.id`)
* `CTID1` for `.fsa` files (used for `SeqRecord.description`)

`SeqRecord.name` uses the input file name for both file types, so this is fully under the control

[2019-04-01 21:45] svalqui commented on #1963
I'll work on Bio.SeqIO.

[2019-04-02 16:23] peterjc opened #1995 "Tests failing with AttributeError: module 'PIL.Image' has no attribute 'VERSION'"
Noticed on TravisCI, it looks like a new release of Pillow and/or ReportLab broke things:

e.g. Python 2.7 and 3.5 here:
https://travis-ci.org/biopython/biopython/builds/514538956

[code]

[2019-04-02 16:24] peterjc commented on #1995
This looks like a bug in reportlab, but needs some investigation to work out which version(s) are affected, report the problem to ReportLab if not known already, and then most likely tweak the versions we install via:

https://github.com/biopython/biopython/blob/master/.travis-tox.ini

[2019-04-02 17:42] kritikadusad commented on #1902
Hi there! I am new to contributing to open source projects. Please bear with me...
I am working on fixing the Bio.PDB.AbstractPropertyMap doctest. I want to make an AbstractPropertyMap object to fix the test. Trying to figure out where the property_dict, property_keys, property_list can be obtained to make the object.

[2019-04-03 06:32] kaskales commented on #1902
@kritikadusad I've never used the AbstractPropertyMap class myself, but if you take a took at the ResidueDepth class you can see that it creates a AbstractPropertyMap with the three attributes you need. If you have the test for it running, test_PDB_ResidueDepth.py, you could edit it to try and print the ResidueDepth objects contents maybe?

[2019-04-03 07:57] peterjc commented on #1982
I wouldn't want to add a top level argument to ``Bio.SeqIO.parse(...)`` etc for the encoding, especially as it isn't even allowed in this file format (and hasn't been suggested/needed for any others).

For these three key fields, I think using we should try using either ASCII (as per the standard) or the system default encoding (being practical - seems a likely match if special characters are used

[2019-04-03 08:12] peterjc commented on #1992
Changing the ``__str__`` output seems less likely to cause users trouble, while renaming would break backward compatibility. You could add the alternative names as alias properties?

[2019-04-03 10:18] Sharky30 opened #1996 "Entrez Parse function seems to give different data type in Biopython 1.73 as opposed to 1.70"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

Python Version 2.7.15 (v2.7.15:ca079a3ea3, Apr 30 2018, 16:22:17) [MSC v.1500 32 bit (Intel)]
Biopython version 1.73

### Expected behaviour

In the previous version of biopython (1.70) that I was using, the Entrez parse functionality was working well with my code to fetch the information

[2019-04-03 10:21] bow commented on #1982
Ok, an ASCII default followed by the system's default encoding, and then defaulting to an empty string sounds sensible.

Looks like a plan for #1984 then :) (in addition to keeping other cString/pString tags as bytes)?

[2019-04-03 10:33] peterjc commented on #1982
Sounds sensible. If you want to work from #1984, great - or start a new branch. Whatever is easier for you.

[2019-04-03 11:20] bow commented on #1982
Great, ok then ~ I'll start working from #1984 and make a new PR.

[2019-04-03 21:54] svalqui commented on #1963
I'll work on Bio.Crystal.

[2019-04-04 01:24] mdehoon commented on #1996
@Sharky30  Can you provide a self-contained and minimal script that shows the problem?

[2019-04-04 04:18] rtf-const commented on #1995
There is already opened issue in ReportLab
https://bitbucket.org/rptlab/reportlab/issues/176/incompatibility-with-pillow-600
It is related with a version of Pillow, not the ReportLab itself

[2019-04-04 08:09] peterjc commented on #1995
Thank you - that does explain this problem. As a short term fix, we can probably install Pillow < 6.0.0 explicitly.

[2019-04-04 12:00] peterjc opened #1999 "BioSQL tests fail with psycopg2-binary==2.8 AssertionError: UniqueViolation"
The new release psycopg2-binary==2.8 seems to have broken our BioSQL tests, noticed on #1998,

[code]

[2019-04-04 12:01] peterjc commented on #1999
This needs investigating, and if needed filing a bug here:
https://github.com/psycopg/psycopg2/issues

[2019-04-04 12:06] peterjc commented on #1999
More details from Python 3.6 output,

[code]

Apparently their ``UniqueViolation`` is new in 2.8, a subclass of ``IntegrityError``:

http://initd.org/psycopg/docs/errors.html

[2019-04-04 13:34] peterjc commented on #1999
Fixing as part of PR #1998.

[2019-04-04 14:33] #1999 closed

[2019-04-05 10:06] chris-rands commented on #1991
Agreed, my fault sorry, I didn't consider this in #1736. If you would like to suggest an appropriately worded message, I can easily write a PR (or write it yourself if you prefer of course), thanks

[2019-04-07 08:42] dobrevnm opened #2002 "function request: IsoelectricPoint class private function _chargeR"
### Setup

I am requesting a feature for the IsoelectricPoint class from Biopython:

[code]

(*Please copy and run the above in your Python, and copy-and-paste the output*)
I am using Biopython version 1.70
### Expected behaviour

The IsoelectricPoint class allows calculation only of the pI of a given protein. It has a private function _chargeR, which allows calculating the charge of the protein a

[2019-04-07 22:18] svalqui commented on #1963
I'll work on Bio.Wise.

[2019-04-08 14:47] TSL-RamKrishna opened #2004 "Add vcf snp comparing modules to biopython"
I have been developing a tool for quick snp filtering from multiple vcf files and then comparing the snps from multiple vcf files to output the snps that are common or unique to each vc file.
The github link to the tool is:
https://github.com/TeamMacLean/snpFC

I have followed PEP8 style format in the scripts. Documentation have been added.
I appreciated any help in adding the modules to biopython

[2019-04-08 22:08] MarkusPiotrowski commented on #2002
Sounds like a sensible idea. ```_chargeR```, as it is, cannot been made public easily, it's tightly integrated in the process of calculating the IEP. Also, the class ```IsoelectricPoint``` can hardly been used on its own, you need to invoke it with the sequence *and* the AA composition. It is usually called from the method ```isoelectric_point``` of class ```ProteinAnalysis``` in  module ```SeqUti

[2019-04-09 09:29] SchwarzMarek commented on #1865
Hi @MarkusPiotrowski ,
Thanks for the response.
to your points:
- To the first part: yes all ORFs for each frame can be returned separately (as a string for one reading frame one string). To the second part: all of that can be implemented, however, for the sake of simple code, I would leave the "first orf", "longest orf", "minimum size" and "start codon" features to the user (there are too many se

[2019-04-09 21:33] MarkusPiotrowski commented on #1991
How about:
"{}: you are possibly missing a compiled '_aligners.c' file (_aligners.pyd or _aligners.so); have you installed from source? Are you trying to import from within the Biopython source directory? Try running your code from outside the source tree".format(e)

[2019-04-11 03:09] svalqui commented on #1902
I'll work on Bio.TogoWS

[2019-04-11 07:40] peterjc commented on #1865
Perhaps delay the get ORF function to a second pull request?

For possible options to a get ORF function, minimum length is a standard one, see also what I did here:

https://github.com/peterjc/pico_galaxy/blob/master/tools/get_orfs_or_cdss/get_orfs_or_cdss.py

[2019-04-11 17:51] tmnnt commented on #1960
Hey
I would like to work on this

[2019-04-11 20:35] MarkusPiotrowski commented on #1960
@tmnnt  Please select a module on which you would like to work on and tell us.

If you are not experienced with doscstrings, I would suggest to read PEP 257 beforehand: https://www.python.org/dev/peps/pep-0257/

To write a meaninful docstring, you should try to understand what the function is really doing.

[2019-04-12 14:49] mdehoon commented on #1992
Fixed by #2001

[2019-04-12 14:49] #1992 closed

[2019-04-12 15:10] mdehoon commented on #1991
It should be possible to detect whether we are in the Biopython source directory or not. Ideally in Bio/__init__.py, so that any attempt to import from the source directory raises an exception.

[2019-04-13 01:51] mdehoon commented on #1991
One way to do this is to check `__file__` at the beginning of `Bio/__init__.py`.
If in the source tree, it will report `Bio/__init__.py` or `Bio/__init__.pyc`.
Outside of the source tree, it will report the full path, e.g. `/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/Bio/__init__.pyc`.
We could issue a warning or raise an Exception if `__file__` is a relative path

[2019-04-13 10:29] MarkusPiotrowski commented on #1991
Do you think it's worth the hassle? I guess such an import error is mostly seen by developers, who are either working in a local git respository with no compiled C modules or who are directly working on the file, here ```__init__.py```.

I wonder if just working in the ```biopython``` directory will cause an import error at all:
[code]
or
[code]
No error messages at all! So maybe the error message

[2019-04-13 11:35] peterjc opened #2008 "Adopt code formatting tool black for code style?"
(Spin out from discussion with @MarkusPiotrowski on #2005)

The Python community has standard coding style conventions described PEP8 and PEP257 which the Biopython project tries to follow (although many of our historic modules, class, and function names etc break this, here we are constrained by backwards compatibility).

https://www.python.org/dev/peps/pep-0008/
https://www.python.org/dev/peps/p

[2019-04-13 16:36] mdehoon commented on #1991
In the Biopython source directory, I am getting
[code]

Perhaps you have PYTHONPATH set, causing an import from someplace outside of the source directory?

[2019-04-13 20:10] Narendra186 commented on #1995
Hush! You guys really helped me a lot, thank u

[2019-04-13 21:00] MarkusPiotrowski commented on #1991
[code]
Also, I renamed ```_aligners.pyd``` in my *standard* Biopython installation (under pythonxxx/lib/site-packages/Bio) and, when importing from my *developing* Biopython branch, don't get an import error (so it is not imported from my *standard* Biopython). When I renamed ```_aligners.pyd``` in my developing Biopython branch, I get the import error.  The same vice versa.
So I only see the impo

[2019-04-14 03:16] mdehoon commented on #1991
Yes it is there.
If you run
[code]
and
[code]
it will tell you which `Bio.Align` is imported.

[2019-04-14 13:40] dobrevnm commented on #2002
Thanks,
You are completely right!
It will be really great if it will be completely new method.

[2019-04-14 21:42] chris-rands commented on #1991
Importing from the `biopython/` directory is a known cause of `ImportError` here as noted previously by myself and other users. As mdehoon said in a mailing list, `numpy` has a similar issue and this inspired my original traceback message. This Q&A has an explanation: https://stackoverflow.com/questions/14570011/explain-why-numpy-should-not-be-imported-from-source-directory

[2019-04-14 22:27] MarkusPiotrowski commented on #1991
@chris-rands This is what I doubt. In the SO that you cited the answer says that you should leave the source directory *directyl after install* (and I think they mean the folder in which you have downloaded the package, and not the folder, in which the package was finally installed), because it will not contain the compiled C extension.

So there's no general magic that somehow prevents imports of

[2019-04-14 23:10] svalqui commented on #1963
@peterjc , about Bio.SearchIO._legacy.ParserSupport.py, is commented as deprecated, would like the DocStrings updated regardless or would you like _legacy removed?

[2019-04-15 01:32] mdehoon commented on #1991
I see three problems with the error message in #2007 :

- We would have to put this error message in each C extension;
- It doesn't warn you if it can import `_aligners` from a location other than the install directory (as in your example);
- It doesn't warn you in case of pure-Python extensions.

In general, I think it is not a good idea to import modules from the source or development folder, as

[2019-04-15 03:23] svalqui commented on #1963
I'll work on Bio.SCOP.Raf.py

[2019-04-15 06:51] MarkusPiotrowski commented on #1991
@mdehoon So what do you suggest?
I can live with having no special error message; there were C modules from the very beginning of Biopython, and it doesn't give us too much trouble. The reason why there was more noise with the introduction of ```_aligners``` is, that ```Bio.Align``` seems to be imported (directly or indirectly via ```Bio.SeqIO```) from many modules, so more people realized that th

[2019-04-15 07:38] mdehoon commented on #1991
@MarkusPiotrowski  My suggestion would be to print a warning (not an Exception) if `Bio` is imported from within the source tree (and no Exception or warning in `Bio.Align`).

[2019-04-15 07:59] MarkusPiotrowski commented on #1991
@mdehoon Coming back to your original suggestion to detect already in ```Bio/__init__.py``` if the user is in the source tree I would agree if you make it a warning instead of an exception.

[2019-04-15 08:01] MarkusPiotrowski commented on #1991
Seems that our comments crossed each other. I deleted my other comment, when I realized that it was missing your original point and that you already had made a suggestion.

[2019-04-15 08:14] mdehoon commented on #1991
@peterjc  , @chris-rands  Would you agree with adding a warning to `Bio/__init__.py` if it is imported from the source tree? (and removing the ImportError from `Bio/Align`)?

[2019-04-15 09:46] peterjc commented on #1991
I like the idea of a single warning in ``Bio/__init__.py`` if it is imported from the source tree.

It does make sense to me to combine that with removing existing try/except to turn compiled code ``ImportError`` into a hand crafted error message.

However, what about try/except to turn compiled code ``ImportError`` into a warning that slow Python code is being used instead? e.g. https://github.co

[2019-04-15 09:54] peterjc commented on #1963
We still have ``Bio.SearchIO._legacy.ParserSupport.py`` in order to offer plain text BLAST parsing in SearchIO, although neither we nor the NCBI encourage using the human readable format this way. So while it is deprecated code, it is likely to hang on for a little while longer. We might as well add the missing docstrings - it wouldn't be much more work than adding ``# noqa: D102`` flags.

[2019-04-15 10:06] peterjc commented on #1995
Closing. Our workaround for TravisCI of installing Pillow 5.4 is working nicely, but the underlying bug in ReportLab has yet to be solved:

https://bitbucket.org/rptlab/reportlab/issues/176/incompatibility-with-pillow-600

[2019-04-15 12:40] svalqui commented on #1963
I'll work on Bio.SearchIO._legacy

[2019-04-15 17:07] victorlin commented on #1988
I have been using the `xml` module from Python's standard library to parse the MAST output file. It's been straightforward and I believe all the information from the plain text file can be extracted from the XML as well. It would just be a matter of rewriting the `read()` functions in `mast.py` and `meme.py` while using the classes already defined.

[2019-04-15 18:21] victorlin commented on #1988
Actually, it seems that XML output for MAST was introduced in version 4.4.0. Users who want to parse results from older versions of MAST would have to use the plain text parser. I'm not sure if MEME output was once plain text only.

Instead of replacing the plain text parser, should we maintain it and have an option to detect if the filename ends in `.txt` or `.xml` then parse accordingly?

[2019-04-15 20:19] philshem opened #2010 "Super long query length with Entrez.esearch()"
### Setup

[code]

### Expected behaviour

If query string lengths are too long, either for Entrez or for the http standard, the code should return an error indicating so.

### Actual behaviour

I get unpredictable results from Pubmed, I think because the long queries are being truncated.

### Steps to reproduce

try a *very* long query (these are all the CAS synonyms from pubchem for silver)

[2019-04-16 01:25] mdehoon commented on #1991
@peterjc

Not all C code has a pure-python fallback. For example, the pairwise aligner in Bio.Align._aligners has only been implemented in C.

[2019-04-16 01:29] mdehoon commented on #1988
@victorlin  MEME 4.4.0 is nine years old. I don't think we need to support it.

[2019-04-16 02:34] victorlin commented on #1988
That will make things easier. Is there a way to generate XML output files using the same data as the plain text output in `Tests/motifs`? That way we can be sure the same functionality is preserved with the new parser.

[2019-04-16 16:08] peterjc commented on #1991
Poorly worded on my part. Those are the easy cases - they would get the new warning from ``Bio/__init__.py`` and then a (default) ``ImportError`` exception.

[2019-04-16 16:31] MarkusPiotrowski commented on #1991
I'm not sure about the implications, would this mean that you can use nothing from Biopython, if you are missing a single compiled C extension?
This would make testing on Windows quite hard.

[2019-04-16 16:32] MarkusPiotrowski commented on #1991
Oh no, I understand now, a warning from Bio.__init__ and the ImportError from the respective module.

[2019-04-16 19:51] aralap commented on #1387
@hwalinga  I am in favor of an iterator design. Cant think of a negative side of this right now.

[2019-04-16 20:05] MarkusPiotrowski commented on #2008
Although I strongly dislike how ```black``` is doing line continuations (not using indentation on parenthesis, and putting each element on a single line, including the closing parenthesis), I have to admit that it would really make comitting much easier. How often do we see PRs that have to be corrected several times because of style violations? Obviously, people don't like pre-commit hooks too mu

[2019-04-16 22:05] svalqui commented on #1963
I'll work on Bio.PopGen

[2019-04-17 09:50] peterjc commented on #2008
@MarkusPiotrowski Could you clarify what you had in mind for a step-by-step adoption?

I was thinking doing it all at once would be simplest:

1. See which files or bits of code need marking to be excluded (e.g. ``Bio/Data/CodonTable.py``) and update those files with the special comment lines (if we miss some, we can do this later too)
2. Run black on the entire code base and commit this (either a

[2019-04-17 10:01] peterjc commented on #2008
Actually, having looked at the black issue tracker, there is a risk we could run into some annoying corner cases - so perhaps starting with applying black on a module by module level is more prudent.

Also, we would we wise to pin the version of black we're using, and only periodically update that (with any associated code changes).

@mdehoon What are your thoughts? Note that there is a possible c

[2019-04-17 10:17] mdehoon commented on #2008
@peterjc  Sorry,  no thoughts here

[2019-04-17 10:25] peterjc commented on #1991
Or, if there is a pure Python fallback, a warning from ``Bio/__init__.py`` and perhaps a second warning.

[2019-04-17 11:02] peterjc commented on #2010
You are missing a code snippet showing how you use this, and in what way it is unpredictable. I cannot reproduce any thing from the information thus far:

[code]

I tried this on both Python 2 and 3, and macOS and Linux - they always gave me:

[code]

I tried this query on mavOS Chrome and it failed. I tried it on Safari and again got 122690 (same count), plus a warning ``Unmatched double quote ig

[2019-04-17 11:10] philshem commented on #2010
Thanks. This answers the question.

[2019-04-17 11:10] #2010 closed

[2019-04-17 11:43] peterjc commented on #1995
Closed for AppVeyor via #2013

[2019-04-17 11:43] #1995 closed

[2019-04-18 09:55] MarkusPiotrowski commented on #2008
My idea was that we start using it only for new commits and collect some experience with it over time. I mean, the most important thing about ```black``` is not that our complete codebase is 'blackened' but that each commit will automatically be PEP8-confirm? Even if our codebase is completely 'black-ish', this wouldn't prevent users from submitting style-violating code.

I thought it is possible

[2019-04-18 10:16] peterjc commented on #2008
Black works at file level - you can't (as far as I know) even restrict the style changes to a single function/method, for example the bits being updated in a pull request.

Consider the extreme example of someone fixing a typo in a docstring, then makes a small pull request - do we run black on the entire file at that point?

As an alternative, how about we start by looking at the impact of runnin

[2019-04-18 11:17] MarkusPiotrowski commented on #2008
Yes, that was the idea, however, this was when I thought that ```black``` would automatically re-write the file during the PR, which is not the case.

[2019-04-18 12:24] MarkusPiotrowski opened #2014 "Emphasize more strongly that contributors should use pre-commit hooks"
While Biopython is enforcing many/most coding-style conventions described in PEP-8 and PEP-257, many pull requests get delayed, because contributors (often unintentionally) violate these style conventions.

A discussion about a Biopython specific pre-commit git hook to enforce PEP-8 style has already started some time ago (e.g. #493, #1188).

Using a pre-commit hook in the git environment is an ea

[2019-04-18 12:41] peterjc commented on #2014
This is a very good idea in principle, but the complexities of our different ``.flake8`` settings in different folders is an annoyance requiring the bespoke git commit script.

I would very much like to address that first, which bring the enormous advantage of letting us use an off-the shelf widely used hook, e.g. that provided by ``flake8`` itself:

[code]

Currently (leaving aside optional exten

[2019-04-18 12:53] peterjc opened #2015 "Fix use of assert"
I'm logging this as a good first issue ideal for a new contributor (but if you are the maintainer of any of the files listed here, feel free to fix them yourself). If you want to work on this, I suggest commenting first saying something like *"I'll work on Bio/SwissProt to start with"* in order to avoid duplicated effort.

If you use the code checking tool flake8 with the bugbear plugin, it finds

[2019-04-18 12:55] peterjc commented on #2015
See also 4cf0c197c7174be8f61abc1f685903b934857b66 which added B011 and a few other issues flagged by ``flake8-bugbear`` to our default ignore lists.

Once all the B011 cases are fixed, we can remove these from the ignore list - and perhaps start using``flake8-bugbear`` as part of the automated testing too.

[2019-04-18 14:25] peterjc commented on #2014
I'm looking at D300 right now...

[2019-04-18 15:15] peterjc commented on #493
My comment here https://github.com/biopython/biopython/issues/2014#issuecomment-484489553 was probably better on the original issue.

[2019-04-18 16:13] peterjc commented on #493
Ah, shouldn't have fixed that 'unused' loop variable.

[2019-04-18 16:41] peterjc commented on #2014
Pull requests opened to fix D300, D200 and D204 in Tests - a bit more effort on this and we can have a single ``.flake8`` configuration, and use the default flake8 git pre-commit hook - which will be simpler to document and maintain 👍

[2019-04-19 11:33] peterjc commented on #2014
I propose to solve E731 the pragmatic way - whitelist most of them with ``#noqa`` lines, see #2019.

I can fix D100 mostly automatically with the following script (missing docstrings can trigger false edits, and it leaves question marks and exclamation marks to a human to edit), will do this once the current pull requests are merged:

[code]

Next would be ``D401 First line should be in imperative

[2019-04-19 14:58] MarkusPiotrowski commented on #2014
@peterjc Do you know that newer ```flake8``` versions (since 3.7) have a ```per-file-ignores``` option? This allows to set up only one ```.flake8``` file and still have folder specific ignores, e.g.:

[code]
This example doesn't make too much sense, I just used it for testing: I put too much empty lines in one file in ```Bio``` and one file in ```Tests```, and indeed, only the file from the Tests

[2019-04-19 15:23] peterjc commented on #2014
@MarkusPiotrowski I did not know that - if as in your example it works nicely with folder level settings, that would do nicely (not that fixing the issues in ``Tests/`` isn't a good idea anyway).

Once we've merged #2019 and #2020, do you want to try a single strict top-level ``.flake8`` instead of #2018 - taking care of E731 etc as extra ignores for ``Bio/``, and D202 etc as extra ignores on the

[2019-04-19 15:56] MarkusPiotrowski commented on #2014
I found this just today. Didn't want that you spend your whole Easter Holidays with these issues...
Yes, I would like to give it a try. Do you need to update flake8?

[2019-04-19 16:04] peterjc commented on #2014
One of the interesting things about my employer is we don't get public holidays (although the institute does close over Christmas into New Year), so if we take them off they come out of (reasonably generous) annual leave. I'll be back at work on Monday.

--

By all means, please have a play with the combined settings - I'm not planning on doing any more flake8 work today or the weekend (aside perh

[2019-04-21 04:16] zqfang commented on #1982
How this is going now? Could I have a worked PR to play with?

[2019-04-21 10:45] benjaminr commented on #2015
Happy to look at resolving all of these.

[2019-04-22 10:10] peterjc commented on #2014
I think we're now very close to having ``Bio/`` and ``Tests/`` having the same ``.flake8`` settings, with ``BioSQL/`` and ``Doc/examples/`` even stricter. So will be soon be able to use a single top level ``.flake8`` file.

The quick solution will be to adopt the ``Bio/.flake8`` as the sole top level settings - but ideally using Markus' idea lets us have the stricter settings with additional ignor

[2019-04-22 10:31] MarkusPiotrowski commented on #2014
I'm actually working on style issues in ```Scripts```.
I already have made a 'top-level' ```.flake8``` and I'm waiting now for some of the ongoing style-related PR's to be merged to test it.

[2019-04-22 10:33] peterjc opened #2025 "TravisCI/Tox - not installing flake8-bugbear on Python 3"
Looking at our logs, the TravisCI Tox configuration is intended to install ``flake8-bugbear`` when running the ``style`` tests on Python 3, but as written isn't working:

https://github.com/biopython/biopython/blob/biopython-173/.travis-tox.ini#L98

The environment is currently just ``style`` under both Python 2 and 3, there is no Python version prefix (unlike the main tests):

https://github.com/

[2019-04-22 10:47] peterjc commented on #2025
Testing fix now...

[2019-04-22 11:06] peterjc commented on #2015
Turned out there was a configuration error meaning TravisCI was not testing with ``flake8-bugbear``, fix in hand #2025

[2019-04-22 12:15] #2025 closed

[2019-04-22 12:16] peterjc commented on #2015
All done, thank you!

[2019-04-22 12:16] #2015 closed

[2019-04-22 13:05] benjaminr commented on #2015
No problem!

[2019-04-22 15:31] peterjc commented on #2014
This time round, let's put each ignore code on its own line (sensibly sorted) as it will make tracking changes much easier?

[2019-04-22 17:39] MarkusPiotrowski commented on #2014
Unfortunately, it seems that the ```per-file-ignores``` must be all on the same line per file pattern. I tried to put them one on each line with following comments, but that didn't work.

[2019-04-22 21:04] MarkusPiotrowski commented on #2014
With this ```.flake8``` file (not up-to-date regarding the running PRs):
[code]
we get the following result:
[code]
This does (of course) not include the running PRs, e.g. all the issues in ```/Scripts``` and ```/Tests``` are probably already solved and there may be only some single files that need further attention.

[2019-04-23 09:34] peterjc commented on #1963
Excellent progress, thank you everyone so far 👍

[code]

Only eight files left under Bio,

[code]

[2019-04-23 11:08] peterjc commented on #2014
Do you know if this style would work? If so could opt for  even more path repetition to get one code per line?

[code]

(If you don't known, I might try this later today)

[2019-04-23 11:11] MarkusPiotrowski commented on #2014
I had the same idea, but haven't tested yet. So, no I don't know.

[2019-04-23 12:23] peterjc opened #2031 "Support for BLAST XML v2 in SearchIO"
Following work on #1997 to update ``Bio.Blast.NCBIXML``, next it would be great to support the NCBI BLAST XML v2 format in ``Bio.SearchIO`` as well.

[2019-04-23 12:24] peterjc commented on #1839
Fixed in #1997, thank you.

#2031 logged for extending SearchIO as well.

[2019-04-23 12:24] #1839 closed

[2019-04-23 12:33] MarkusPiotrowski commented on #2014
It does seem to work.

However, I have a different issue, which would make the single-line version more attractive:
When running `flake8` from command line, the path in the `per-file-ignores` must be:
[code]
However, my pre-commit hook does only work correctly when the path is given with a starting backslash:
[code]
Can you confirm this?

[2019-04-23 12:49] peterjc commented on #2014
Are you using the ``flake8`` provided hook?

[code]

[2019-04-23 14:32] MarkusPiotrowski commented on #2014
Yes, I think so, everything in place (`biophython/.git/hooks/pre-commit`).

[2019-04-23 22:04] MarkusPiotrowski commented on #2014
I wonder if this is related to a [known issue](https://gitlab.com/pycqa/flake8/issues/517) with `per-file-ignores`:
Test: I added some style violations into `Bio/_utils.py` :
[code]
I added `D100` to the `per-file-ignores` for `Bio\*` and ran the test with the `.flake8` file:
[code]
Everything's fine, E501 is ignored via `ignores` and D100 is ignored via `per-file-ignores`. Now, I go one directory

[2019-04-23 23:08] svalqui commented on #1963
I'll work on Bio.Nexus.

[2019-04-24 09:34] peterjc commented on #2014
Could be https://gitlab.com/pycqa/flake8/issues/517 ?

[2019-04-24 09:35] peterjc commented on #2014
I think you could be right, https://gitlab.com/pycqa/flake8/issues/517 looks likely to be the problem.

[2019-04-24 11:04] MarkusPiotrowski commented on #2014
It would be nice if someone can confirm that a `.flake8` file within the Biopython folder with `per-file-ignores` like this:
[code]
works in principal when `flake8` is called from the command line within the Biopython folder (`..biopython/>flake8 --statistics --quiet --quiet`) but not when it is used by a pre-commit hook when doing a `git commit` (e.g. put an unused import in one file in `Bio` or

[2019-04-24 13:54] MarkusPiotrowski commented on #2014
With the last commits and a single `.flake8` file that looks principially like this (removed comments etc):
[code]
we have only 5 files left that need some attention:
[code]

[2019-04-24 23:54] tiagoantao commented on #1932
Just an update on this: I have finally updated genepop on Bioconda: this was needed to address this problem properly

[2019-04-25 07:58] alcantarar commented on #1801
The error is still occurring in some cases:

### Expected Behaviour
retrieving paper by ID
### Actual Behaviour
`NotImplementedError:` The Bio.Entrez parser cannot handle XML data that make use of XML namespaces
### Steps to reproduce
[code]
This is the paper's page on pubmed: [https://www.ncbi.nlm.nih.gov/pubmed/31013170](https://www.ncbi.nlm.nih.gov/pubmed/31013170)

[2019-04-25 08:31] MarkusPiotrowski commented on #2014
All gone!
[code]

Regarding the format of the `per-file-ignores` line (I'm not speaking about the path issue now), it seems that your idea, i.e. to add several `Bio/*:` lines with different error codes does *not* seem to work (in my first test I took an unfortunate example so I was mislead that this works). Obviously, for one _glob_ only one error 'line' is allowed; if there are several identical

[2019-04-25 13:12] chris-rands commented on #1991
Sorry for the delay, I just updated #2007 with a warning now raised from `Bio/__init__.py ` when there is a `setup.py` file present. Is the way to check for the source tree appropriate? Is the wording of the warning precise enough?

Was there a consensus on whether or not to remove the custom `ImportError` message in `Bio/Align/__init__.py`?

[2019-04-25 16:07] peterjc commented on #1991
@chris-rands I think we have agreement: @mdehoon suggested the ``Bio/__init__.py`` warning and also removing the ``Bio/Align/__init.py`` error, https://github.com/biopython/biopython/issues/1991#issuecomment-483152926 - and I agree that seems sensible.

@MarkusPiotrowski: ?

[2019-04-25 16:40] MarkusPiotrowski commented on #1991
I'm in two minds about this. I can agree, but I also think that it cannot harm to have a more explicit `ImportError` message in those cases where a non-compiled C file may be the reason for the failed import. Of course we needn't to repeat the 'Biopython source-tree' stuff. Or we could mention 'missing compiled C extensions' in the general warning.

[2019-04-25 23:40] mdehoon commented on #1801
Works for me, using the current source code of Biopython in github.

[2019-04-26 05:17] alcantarar commented on #1801
Aaand I was running an outdated version of biopython. `biopython-1.73` works. Thanks.

[2019-04-26 08:12] peterjc commented on #1991
I would like the top level warning to specifically mention C extensions not working if importing from the source tree.

[2019-04-26 15:23] peterjc commented on #2004
It looks like a nice standalone tool for Python 3 using ``pyvcf`` (and nothing from Biopython).

Currently Biopython has relatively few command line scripts, and those that we do have are not first-class citizens added to the ``$PATH`` during installation. Our focus has been much more on library code for people to write scripts calling Biopython functions and classes.

(The fact that your code lik

[2019-04-26 15:23] #2004 closed

[2019-04-26 20:22] MarkusPiotrowski commented on #1902
@svalqui You cannot separate doctests and docstrings, a doctest is usually part of a docstring.

This one  is a little bit difficult: It's accessing an online resource and the output can change from day to day, so it's impossible to show the output in the doctest.

Although in this case an import of TogoWS is not neccessary for running the doctest, it would be nice to have a self-contained example

[2019-04-27 02:35] mdehoon commented on #1988
It looks like at least some of those test data were coming from meme itself (you can find the exact command that was used in the output files, and some of the input files can be found by googling). However I wouldn't be too strict about using the exact same test data.

[2019-04-27 15:55] Nelson-Gon opened #2034 "Bio Module not found in python 3.6"
### Setup
[code]
This fails:
[code]

I installed via:
[code]
I only received `BioSQL`, is `Bio` not available for python 3.6?

[2019-04-28 07:23] svalqui commented on #1902
@MarkusPiotrowski , Ok, Thank you, I'll work on Bio.TogoWS.

[2019-04-29 08:49] peterjc commented on #2034
This is strange, perhaps you have more than one copy of Python installed... but you say ``import BioSQL`` worked? Could you copy-and-paste the full output from the various commands - including the long filenames in any error messages.

[2019-04-29 09:29] peterjc commented on #2014
Good work on ``Doc/examples/``  👍

Without the flake8 bug/workaround, I would definitely prefer the first configuration version (allowing one line per style code interspaced with explanatory comments). This will behave best with edits and minimise merge conflicts.

However, given it seems we must list all the codes twice as a flake8 workaround, two-multi-line lists would be very verbose and harder

[2019-04-29 16:28] ikercasillas commented on #1963
I'll work on Bio.Entrez.

[2019-04-29 16:32] peterjc commented on #1963
@ikercasillas please beware that like TogoWS, this is an online module, and things like the search results from ``esearch`` will change over time. This can make writing a stable doctest a little trickier - this is likely to be quite tricky. Good luck.

Worse case we can be pragmatic, and rather than doctests, use snippets of Python code in literal code blocks.

[2019-04-30 05:17] TomHarrop opened #2038 "Error running index_db() on a large fastq file: Duplicate key? UNIQUE constraint failed: offset_data.key"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows.

The script is running in a singularity container, which is set up as follows:

[code]

The script is being called from a snakemake workflow, on a host configured as follows (biopython is not installed on the host):

[code]

### Expected behaviour

I'm trying to index a large fastq file wit

[2019-04-30 05:51] Nelson-Gon commented on #2034
Full output:
[code]

[code]

[2019-04-30 08:27] peterjc commented on #2034
Can you try this within your Python 3:

[code]

That will list all the folders Python looks in when you do an import.

If you (re)run ``pip3 install biopython``, it will say where it found or put the files.

[2019-04-30 08:36] peterjc commented on #2038
Unfortunately ``index_db`` does the indexing at the end (after scanning the entire file and extracting all the record names and offsets), and only then does SQLite3 report any name clash. We do it this way as it is faster than updating the SQLite3 index as we go along (although that way it is much easier to report any record name which is duplicated).

Do you happen to know how many records are in

[2019-04-30 10:02] peterjc opened #2040 "ZeroDivisionError in test_GraphicsGeneral.py"
There is a long standing problem with the scatter plot test in ``test_GraphicsGeneral.py`` in that because it uses random points, sometimes they are co-linear or something, and we get a divide by zero error. This periodically triggers a false alarm in our continuous integration testing, often on a pull request for something completely unrelated which is confusing.

The test should either set a ran

[2019-04-30 10:40] TomHarrop commented on #2038
Hi Peter, thanks a lot for the quick reply.

I've just got my original code to work on the following machine:

[code]

This is the *exact same* code and files run in the same location on the same filesystem, on the same machine - just outside the `singularity` container.

Could the original error be related to a missing dependency in my `singularity` container? Does `index_db()` have any additiona

[2019-04-30 10:40] TomHarrop commented on #2038
Sorry - didn't answer your question - it's 613,974,956 records.

[2019-04-30 10:52] peterjc commented on #2038
This is very strange - that you can index the exact same FASTQ file confirms there is no duplicated key.

It looks like the same version of Python 3.6.3, and of Biopython 1.73.

I wonder if there is a difference in the SQLite3 library between the singularity container and the host? Can you try these commands - I doubt they'll tell us much but it might be a clue:

[code]

Also worth checking, is th

[2019-04-30 11:17] TomHarrop commented on #2038
By the way, it's **python 3.7.3** inside the container.

I'm just testing your suggestion of using the built index inside the container. I think it's working, but it's not ideal because I can't rely on running the whole workflow with other data on other systems.

Regarding the sqlite3 requirements - inside the container:

[code]

On the host:

[code]
I can add `sqlite3` to the container and see if

[2019-04-30 11:43] peterjc commented on #2038
We don't need the binary tool ``sqlite3``, although it can be useful - for example you could look at the contents of the index using it.

Thanks for spotting my misreading on Python version. So it works outside singularity with Python 3.6.3, but breaks inside singularity with Python 3.7.3 or now Python 3.7.17 - very strange.

We currently test Python 3.7.3 on Windows on AppVeyor, but don't have Py

[2019-04-30 11:50] peterjc commented on #2038
On the off chance that it helps throw some light on this, pull request #2041 updates our TravisCI configuration to use Ubuntu Xenial and include Python 3.7 in the test matrix.

[2019-04-30 12:36] peterjc commented on #2038
OK, TravisCI worked with Python 3.7.1 on Linux. This is a long shot, but could you try Python 3.7.1 (where we know the tests pass) under singularity? That would then point to a Python 3.7.x specific issue.

Another suggestion from a colleague is to check the memory (RAM) usage on the singularity container - perhaps it runs out of memory while indexing the 600 million entries, and fails in a less t

[2019-04-30 14:08] #2034 closed

[2019-04-30 14:31] peterjc commented on #2034
Did you work out what had gone wrong?

[2019-04-30 23:42] TomHarrop commented on #2038
Thanks, I'm running tests (obviously they take a while with a file this large).

The machine has 1 TB of RAM. I'm not certain how much `index_db()` used. I was watching the PID in `top` and I would've noticed if the RAM usage came near 1 TB, but I will record it from now on.

[2019-05-01 03:40] svalqui commented on #1902
I'll work on Bio.SubsMat.FreqTable

[2019-05-01 08:21] svalqui commented on #1902
I'll work on Bio.SearchIO.ExonerateIO._base

[2019-05-01 09:44] peterjc commented on #2038
1TB or RAM feels like it should be more than enough - but I don't recall if I've personally pushed the indexing code as far as 600 million entries.

For debugging, perhaps we could just switch to building the SQLite index as we go?

https://github.com/biopython/biopython/blob/biopython-173/Bio/File.py#L670

I looked back over the history, the master branch has always had the index at the end - see

[2019-05-01 09:49] peterjc commented on #2038
This change turns out to be easy enough, just uncomment these two lines in ``Bio/File.py``:

[code]

https://github.com/biopython/biopython/blob/biopython-173/Bio/File.py#L670

Happily, the code to add the index at the end is already conditional so becomes a no-operation.

Fingers crossed this gives us a more informative error...

[2019-05-01 12:06] Nelson-Gon commented on #2034
Yes, I have two python versions on two different folders. That was the issue(I haven't tried fixing it yet but I think it will fix it so I closed the issue.)

[2019-05-01 16:04] peterjc commented on #2034
Thanks for the clarification. Good luck with the next steps of your project.

[2019-05-01 16:20] MarkusPiotrowski opened #2043 "E731 (don't assign lamda...) in Bio.SearchIO.BlastIO.blast_tab"
Dear @bow I'm looking on some style issues, in this case ["don't assign a lambda expression, use a def"](https://lintlyci.github.io/Flake8Rules/rules/E731.html).

I stumbled upon this line in `Bio.SearchIO.BlastIO.blast_tab`:
https://github.com/biopython/biopython/blob/3d235ad8dcc89c3d934cc7e3e33b52fb992c1798/Bio/SearchIO/BlastIO/blast_tab.py#L192

Shouldn't this be `func2 = ...`?

Regarding the l

[2019-05-02 04:19] svalqui commented on #1963
I'll work on Bio.FSSP

[2019-05-02 21:28] TomHarrop commented on #2038
I'm still working on testing the various python3 / biopython versions. Our computers have been busy this week.

Meanwhile, I tried changing those lines in `Bio/File.py`. Here's the traceback:

[code]

[2019-05-03 03:39] TomHarrop commented on #2038
I've tried the same code in some different environments. It seems to be a problem with the singularity containers. I'm also going to run 3.6.3 and 3.7.1 containers when I can get back on the machine.

- python3.6.3 on the host machine (**worked**)
- python3.6.8 via singularity (failed)
- python3.6.8 with modified `File.py` via singularity (failed)
- python3.7.3 via singularity (failed)
- python3.7

[2019-05-03 08:38] peterjc commented on #2038
The message ``table offset_data already exists`` suggests I didn't test that one line debugging change properly. Oops. Sorry about that.

Still your work is narrowing down the problem - it is not specific to Python 3.7 but affects Python 3.6 as well, with singularity as the common factor. We do have access to singularity locally as a 'last resort' for getting tools to run on the cluster when conda

[2019-05-03 08:47] TomHarrop commented on #2038
I've just got it to work on my desktop with python3.7.3 via singularity. This suggests it's machine-specific, but singularity is meant to make things portable and reproducible across systems, so I've opened a ticket on sylabs/singularity: https://github.com/sylabs/singularity/issues/3484

I think you can hold off doing any more work on this issue until I hear from them - I'll update this ticket if

[2019-05-03 16:10] mivade commented on #1040
I found this issue while trying to understand why I can get away with nonsensical things like

[code]

I understand not wanting to add the overhead of always validating the input string, but can we get a keyword argument or something? It's quite common to have to write one's own validation routine when this kind of functionality should really be built in.

[2019-05-03 16:33] peterjc opened #2046 "Should we remove/replace Bio.Alphabet?"
Filing this meta-issue, since we don't seem to have a single place discussing this on GitHub.

**My (likely biased) summary from those discussions is no one likes the current alphabet system, and most people ignore it.**

Biopython has a complicated hard to use legacy alphabet system in ``Bio.Alphabet`` which is used as a typing system (e.g. can't do reverse-complement on a protein), can store som

[2019-05-03 16:37] peterjc commented on #1040
Someone who has a use case for the alphabet objects? Note that ``DNAAlphabet()`` would be a generic DNA alphabet *without* a specified list of valid letters. You'd probably want an IUPAC alphabet, although those are currently upper case only - see #1716.

I couldn't find a general issue on removing/simplifying the alphabet code, so created #2046 with links to other past discussion alluded to above

[2019-05-03 20:32] bow commented on #2043
Hi @MarkusPiotrowski ,

Good catch. It seems like it should be `func2` indeed and looking back, there is a better way to do this than using lambdas. I'll open a PR soon.

[2019-05-04 14:33] 6syun9 opened #2048 "TypeError using validate=False, Parser.DataHandler.directory"
### Setup

[code]

### Expected behaviour

I can fetch pubmed using `/tmp` directory when validation param is False : `Entrez.read(handle,validate=False)`
In AWS Lambda, we need to make this function.

### Actual behaviour

[code]

### Steps to reproduce

[code]

[2019-05-04 14:56] 6syun9 commented on #2048
I examined the cause, this issue had happen by `pubmed, id=29963580` only. (I tried 50,000 files from random sampling)

[2019-05-05 07:46] mdehoon commented on #2046
I don't think it's productive to restart this discussion. We have been discussing this since 2005 (this is not a typo), if not earlier.

As a reminder, in August 2018 we called for a Biopython Enhancement Proposal on alphabets, where we invited people in favor of having alphabets in Biopython to work out a detailed proposal on the purpose and implementation of alphabets:
https://lists.open-bio.org

[2019-05-05 09:21] peterjc commented on #2046
This wasn't meant to restart the conversation - but be a visible marker. To that end, I'll lock this issue.

[2019-05-05 09:23] peterjc commented on #2048
@mdehoon do you want to look into this corner case? It might be an NCBI bug...

[2019-05-05 15:12] KristaJ opened #2049 "ADJUSTED_FOR_SHORT_QUERY"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

3.6.3 (v3.6.3:2c5fed86e0, Oct  3 2017, 00:32:08)
[GCC 4.2.1 (Apple Inc. build 5666) (dot 3)]
CPython
Darwin-17.7.0-x86_64-i386-64bit
1.70

### Expected behaviour

I am running a search for a peptide sequence using blastp on the PDB database. I would like to set the parameter to adjust for

[2019-05-05 16:29] peterjc commented on #2049
Have you seen any NCBI documentation on their QBLAST API indicating if it supports this, and how to do this? Or are you willing and able to try investigating this on your own?

[2019-05-05 21:30] KristaJ commented on #2049
I haven't seen any documentation, but by looking at the service calls I've
been able to include the parameter into the call used by the qblast method.

On Sun, May 5, 2019 at 12:29 PM Peter Cock <notifications@github.com> wrote:

[2019-05-06 03:09] mdehoon commented on #2046
@peterjc  OK, thanks!

[2019-05-06 05:02] mdehoon commented on #2048
It's a bug in our parser.

[2019-05-06 06:31] 6syun9 commented on #2048
Isn't it good to do add `mprescripts` in the DTD?

`ValidationError: Failed to find tag 'mprescripts' in the DTD. To skip all tags that are not represented in the DTD, please call Bio.Entrez.read or Bio.Entrez.parse with validate=False.`

[2019-05-06 08:21] MarkusPiotrowski commented on #2049
According to https://ncbi.github.io/blast-cloud/dev/api.html the `task` option, which would allow to specify `blastp-short` is *not* available in the common URL API.
You'd need to pass the respecive parameters to simulate the ``short`` task (I think that's what you meant with your last comment), for `blastp-short` these are `expect=200000`, `matrix_name='PAM30'` and `word_size=2`.

[2019-05-06 08:40] paxelito commented on #1096
Hi all,

I think concerning this issue, which is the right way to indicate spanning/wrapping origin features?

[code]
as exported by biopython
or
[code]
If importing a genbank in the second format, biopython creates a feature from 1 to 5800, but I am not able to find specific indications about the correct genbank specification about that. Other softwares (geneous of snapgene for examble) process t

[2019-05-06 09:59] peterjc commented on #1096
Was ``misc_feature`` a deliberate choice here? It is problematic as there is no reason to assume a particular biological interpretation as to if the order matters.

With CDS (where there is a very clear implied order), the NCBI use the ``complement(join(5790..5800,1..10))`` style for wrapping a circular genome of length 5800bp. Biopython is explicitly following the NCBI example here.

This can be

[2019-05-06 12:35] peterjc commented on #2048
Reopened as Michiel said its a bug in our parser.

@6syun9 we don't want to edit the DTD files - the NCBI creates them to programatically describe what should be in their XML files. There have occasionally been mismatches, which we have reported to the NCBI to have fixed.

[2019-05-06 12:40] peterjc commented on #2046
Locking the issue preventing GitHub automatically linking pull request #2050 (just merged) which declared ``Bio.Alphabet`` as obsolete, and added a ``PendingDeprecationWarning`` (which is silent by default).

See also our https://biopython.org/wiki/Deprecation_policy

[2019-05-06 13:47] 6syun9 commented on #2048
@peterjc  Thanks. I understand.

[2019-05-06 14:15] mdehoon commented on #2048
@6syun9  actually it is present in the DTD.

[2019-05-07 11:20] bioreps opened #2051 "Fetching taxonomy via SeqIO.parse for GenBank of CP010426 does not work."
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

### Expected behaviour

I use SeqIO.parse to parse this GenBank file: `https://www.ncbi.nlm.nih.gov/nuccore/CP010426`
The taxonomy string is a bit unusual, since it is just "Archaea".
But still I would expect a list with single element `Archaea`.

### Actual behaviour

However, if

[2019-05-07 12:50] peterjc commented on #2051
This is an unfortunate corner case, with a complicated history.

The file you are looking at starts as follows:

[code]

Note as typical in the NCBI GenBank files, there is a source feature later on with more taxonomic information including an NCBI taxid.

With the latest Biopython code (1.73 with changes since):

[code]

And yes, in this case it does look like the taxonomy is wrongly missed. Howe

[2019-05-07 14:12] bioreps commented on #2051
Thank you. So it seems like there is no elegant solution to this. I will come up with some heuristic to check if a Gbk file is from bacteria or archaea in case `taxonomy` is empty.

[2019-05-07 14:13] #2051 closed

[2019-05-07 14:15] peterjc commented on #2051
If you're happy, that does seem to be the most pragmatic way forward (although a reminder to the NCBI about the ``LINEAGE`` idea might be worth trying). Thanks!

[2019-05-07 14:31] bioreps commented on #2051
I will flag it to NCBI :)

[2019-05-07 15:55] paxelito commented on #1096
@peterjc `misc_feature` here is just an example. It may be CDS, gene, mRNA o whatever feature type.
The issue arises when `complement`, so in reverse direction. If I create a CDS feature with the same wrapping offset (look below), the one in the forward strain follows the NCBI style, whereas the reverse one does not, and it is different also from Nanoarchaeum equitans Kin4-M NCBI example; join off

[2019-05-07 21:09] mikepm35 opened #2052 "Unable to extract all REMARK lines from PDB-style .ent files"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

### Expected behaviour

Expectation is that there is a way to extract all REMARK lines from .ent file, for example:
[code]

### Actual behaviour

It appears that only REMARK reference lines are supported.

### Steps to reproduce

1. Download PDB-style files at http://scop.berkeley.

[2019-05-07 23:08] TomHarrop commented on #2038
Hi again,

I've had some help from Singularity on this. We've worked on making sure the environment is exactly the same on both computers, but the error still happens on one machine and not the other.

Do you have any suggestions for getting more logging output for the sqlite3 part of `index_db()`, such as the key that causes the issue?

The relevant part of the singularity ticket starts here: htt

[2019-05-08 10:02] peterjc commented on #1096
Yes, your example output ``complement(join(1..15,11589..11600))`` is problematic. Do you need more help on how to construct the desired location object?

[2019-05-08 11:32] jgreener64 commented on #2052
It appears that resolution and missing residues are also extracted from the REMARK lines, in addition to the reference as you say: https://github.com/biopython/biopython/blob/815b5ae4c5b6a328c3523ca8b8646cfbf30201f3/Bio/PDB/parse_pdb_header.py#L296-L310

I guess others haven't been added because either there is no clear way to parse the information, or little demand.

Which particular REMARK lines

[2019-05-08 15:31] jadolfbr commented on #1551
@Bernhard10 - I'd like to modify the residue numbers and chain IDs for a PDB.  IE - this particular work is for antibody renumbering, which requires a specific numbering scheme for subsequent work (Chothia, Aho, etc.). https://www.bioc.uzh.ch/plueckthun/antibody/Numbering/NumFrame.html

PyIgClassify uses Biopython under the hood to do the renumbering - but we are now stuck on biopython 1.89.  http

[2019-05-08 15:36] peterjc commented on #1551
Would downgrading the new exception to a warning be a sensible compromise?

[2019-05-08 15:36] jadolfbr commented on #1551
Absolutely.

[2019-05-08 16:03] peterjc commented on #1551
@Bernhard10 is a warning (not an exception) an easy change to make - or are things not that simple?

[2019-05-09 09:28] peterjc commented on #1991
Closed via #2007

[2019-05-09 09:28] #1991 closed

[2019-05-09 11:10] MarkusPiotrowski commented on #2049
@KristaJ Can you explain a little bit, what you meant with your [comment](https://github.com/biopython/biopython/issues/2049#issuecomment-489465091) from above?
Did you get it working? And if, what have you done? How did you implement the parameter in the qblast call?

[2019-05-10 00:03] KristaJ commented on #2049
Sorry for the delay. Things have been hectic at work.

I thought that I was able to include the parameter to optimize for short sequences, but it seemed intermittently functional. Can you please let me know where you found the parameters for the optimization. I looked for a reference but I couldn’t seem to find anything.

Thanks,
Krista

Sent from my iPhone

[2019-05-10 07:31] MarkusPiotrowski commented on #2049
If you run a BLAST search manually on the Blast webpage with short sequences, on the result page you can either open "Search Summary" to see the parameters in use or go back with "Edit and resubmit" and look at the changes in the "Algorithm Parameters". The changed parameters are colored in yellow.

Actually, I found the the correct keyword for short searches, it is `SHORT_QUERY_ADJUST`. It works

[2019-05-10 11:42] KristaJ commented on #2049
I had added the SHORT_QUERY_ADJUST PARAMETER but it seemed to get hung up from time to time. I’m not sure it that was due to the added parameter or something else.

But if it can be added that would be great. Thanks!

Sent from my iPhone

[2019-05-10 12:12] MarkusPiotrowski commented on #2049
This searches can take a long time and NCBI will penalize you, when you are using their services to often in a short time.
I set up a test module for `Bio.Blast.NCBIWWW` yesterday, and after some tests, delay times became very long (I fall asleep when the last test run with 4 short searches took more than 50 minutes).

[2019-05-10 14:42] vsoch commented on #2038
hey @peterjc I'm trying to help on the Singularity boards - I had a quick question about your suggestion to uncomment these lines:

[code]
I did that, and it triggered a (now earlier) error that the table already exists:

[code]
Is there another few lines that need to be commented out? Shouldn't we not have two commands to create the table? Note that this comes a bit later:

[code]
I'm going to mo

[2019-05-10 14:57] vsoch commented on #2038
@peterjc could you comment on disabling PRAGMA? https://www.sqlite.org/howtocorrupt.html#_disabling_sync_using_pragmas

[2019-05-11 12:52] KristaJ commented on #2049
hmmm...thanks for the insight.  I may need to think of a different way
around this.

thanks again
-Krista

On Fri, May 10, 2019 at 8:12 AM Markus Piotrowski <notifications@github.com>
wrote:

[2019-05-11 17:13] Ludolph314 commented on #1778
I'm having the same problem at the moment. An executable created by Pyinstaller most probably won't work because Pyinstaller doesn't know how to import third-party packages, with Bio being such a package.

This can generally be fixed with a Pyinstaller hook, but I haven't seen any for Biopython, and I don't think I'm experienced enough to write one myself.

[2019-05-12 18:29] MarkusPiotrowski commented on #2014
@peterjc I filed an issue to the flake8 people. Maybe you can have look at the discussion (https://gitlab.com/pycqa/flake8/issues/538), since they suggest some optimizations by using `pre-commit.com`

[2019-05-12 18:52] MarkusPiotrowski commented on #2043
Solved via PR #2047. Closing now.

[2019-05-12 18:52] #2043 closed

[2019-05-13 09:37] Hua-CM opened #2055 "Spaces in local NCBI BLAST+ -outfmt argument (picking columns)"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

3.7.0 (default, Jun 28 2018, 13:15:42)
[GCC 7.2.0]
CPython
Linux-4.18.0-17-generic-x86_64-with-debian-buster-sid
Biopython version 1.73

### Expected behaviour
I'd like to use BLAST in local envirnment, so I use the following codes:
from Bio.Blast.Applications import NcbiblastpCommandline

[2019-05-13 09:57] peterjc commented on #2055
As a quick work around, try putting the double quotes in your string (by wrapping it in single quotes):

[code]

or equivalently, using slash escaping:

[code]

The wrapper needs updating to mention the possibility of listing columns, and special casing the space accordingly - much like with a filename. In fact, including ``filename=True,`` here would probably work but would need a command about t

[2019-05-13 14:16] mdehoon commented on #2048
Fixed by #2056

[2019-05-13 14:16] #2048 closed

[2019-05-13 16:01] peterjc commented on #2038
Interesting question. That dates back to the first commit on the master branch in 2010,

adb28a3b33ac196f83cb0b4da4c15049000479b6

I'm not sure if I still have the old branches leading up to that anymore. As I recall, it was faster with no downsides in my testing at the time. However, the documentation you pointed to is clear that it can have downsides.

Have you tried commenting it out (leaving t

[2019-05-13 16:04] vsoch commented on #2038
Yes we tried commenting out, I believe per @TomHarrop report it didn't make a difference. From personal running, it does slow it down quite a bit, so I'd probably have done the same thing!

Since we know it's an index error, is there some simple way to figure out what the repeated index is?

[2019-05-13 16:12] peterjc commented on #2038
That's the strange thing - from the debugging thus far, it doesn't seem to be a repeated entry in index (after all the file can be indexed outside the container), but something else which causes building the SQLite index to fail. My error message is perhaps misleading, but repeated entries are the only way I've seen this fail until now.

It should be possible to toggle between building the SQLite

[2019-05-13 16:14] vsoch commented on #2038
I tried that suggestion (moving the indexing to the beginning) but I believe it just triggered the error sooner - @TomHarrop can comment! (I'm not able to reproduce his error, so I'm building the testing container recipe and then he's running where he can reproduce).

[2019-05-13 22:24] ybendana commented on #1608
I am getting this exception `ValueError: End location (2) must be greater than or equal to start location (<7342)` with 1.73 for this feature:
[code]
I would rather have just a warning rather than raising an exception or setting the location to None (losing information even if improperly formatted is never a good thing). Vector NTI and Geneious also can output these kind of cross-origin locations.

[2019-05-13 23:08] victorlin opened #2057 "Duplicate files in Tests/Motif and Tests/motifs"
The files in Test/motifs seem to be a copy of those in Test/Motif plus some more. Has the Motif directory been deprecated since renaming Bio.Motif to Bio.motifs?

[2019-05-14 01:03] TomHarrop commented on #2038
@vsoch If you're referring to [this change](https://github.com/sylabs/singularity/issues/3484#issuecomment-491353356), the error still happened **at the end** (after all the `Inserting batch of 100 offsets...` messages). Sorry, I obviously should have mentioned that. So I suppose the indexing works, and then the error happens **after** `EOF` when it does this:

[code]

I've updated the output on t

[2019-05-14 01:06] vsoch commented on #2038
@peterjc what can we do to print / show the offending index?

[2019-05-14 03:50] svalqui commented on #1963
I'll work on Bio.ExPASy

[2019-05-14 03:56] svalqui commented on #1963
Note: Test/test_FSSP.py doen't use unittest, maybe should be part of #1288.

[2019-05-14 07:23] peterjc commented on #2057
That is likely what happened, probably ``Tests/Motif`` can be removed (after moving any still in use files under ``Tests/motifs``)? Do you agree @mdehoon?

[2019-05-14 09:19] peterjc commented on #1608
@ybendana can you try Biopython from github (not 1.73 which is too old) which should give a warning?

We ought to do the Biopython 1.74 release soon anyway...

[2019-05-14 14:31] mdehoon commented on #2057
@peterjc , @victorlin  Yes I think `Tests/Motif` can be removed.

[2019-05-14 15:00] peterjc commented on #2057
@victorlin would you like to try doing this as a pull request?

[2019-05-14 16:52] ybendana commented on #1608
@peterjc , just tried with 1.74.dev0 and it gives the same exception.

[2019-05-14 17:38] rtf-const commented on #1778
@Ludolph314 can you provide some details like the program sample that doesn't run or at least which of biopythton modules are you importing, what the error message are you receiving, what is your platform and which options are you running pyinstaller with.
I just tried to run pyinstaller on some simple biopython scripts, I use windows 10 and anaconda python distribution (Python 3.6.3 :: Anaconda c

[2019-05-15 05:22] svalqui commented on #1960
Updated list:
[code]

[2019-05-15 07:49] peterjc commented on #1910
Closed via #1916.

[2019-05-15 07:49] #1910 closed

[2019-05-15 08:41] svalqui commented on #1960
I'll work on Bio.UniGene.

[2019-05-15 14:38] peterjc commented on #1963
Excellent progress,

[code]

[2019-05-16 10:12] #2057 closed

[2019-05-16 10:22] peterjc commented on #1960
@svalqui assuming we get a lightning talk slot at BOSC 2019 for the Biopython Project Update this summer, you definitely deserve your name on the slide talking about filling in the missing API documentation 🥇

[2019-05-16 10:29] peterjc commented on #1608
@ybendana can you share the test file with this feature (privately by emailing me if needed)? Or make a similar example with the same tool which we could share publicly? Thanks.

[2019-05-16 11:19] peterjc commented on #2014
https://gitlab.com/pycqa/flake8/issues/538#note_169613825 is interesting, it sounds like flake8 may well start to recommend using ``pre-commit`` over the current ``flake8`` provided hook.

[2019-05-16 11:51] MarkusPiotrowski commented on #2014
In their docs they are already pretty clear about this: http://flake8.pycqa.org/en/latest/user/using-hooks.html

[2019-05-16 13:10] peterjc commented on #2014
Added 21 Nov 2018, I think I'd missed that.

I agree that moving to ``pre-commit`` would allow including the misc checks currently done on TravisCI via the Tox configuration too - so that would be a practical improvement.

I suspect we could even use our current multiple ``.flake8`` file setup with ``pre-commit``, but I would rather move to a single top level ``.flake8`` instead.

[2019-05-16 13:10] gmjonker commented on #636
I compared several trie implementations, and found that Bio.trie is by far the best in terms of speed and memory usage.

[2019-05-16 13:11] gmjonker commented on #912
I compared several trie implementations, and found that Bio.trie is by far the best in terms of speed and memory usage.

[2019-05-16 14:20] peterjc commented on #2040
Closed by #2063

[2019-05-16 14:20] #2040 closed

[2019-05-16 15:06] peterjc commented on #909
Finally applied via #1453 - thank you everyone, sorry this took so long.

[2019-05-16 15:06] #909 closed

[2019-05-16 16:08] paxelito commented on #1096
Hi @peterjc, the problem is that if I export reverse wrapping feature, biopython export in this way.

[code]
and it's problematic.

[2019-05-17 11:47] MarkusPiotrowski commented on #1960
I'm working at the last missing D103 issues.

[2019-05-17 14:02] chris-rands commented on #2055
`filename=True` is used elsewhere for non-filenames to escape them, e.g.

https://github.com/biopython/biopython/blob/109604b3a6f43c5a941746381069b7d2ede3b7e9/Bio/Phylo/Applications/_Phyml.py#L136

https://github.com/biopython/biopython/blob/109604b3a6f43c5a941746381069b7d2ede3b7e9/Bio/Align/Applications/_Mafft.py#L284

So adding `filename=True` might be an appropriate fix?

Or else perhaps rename

[2019-05-17 15:53] peterjc commented on #2055
Good ideas - I thought that might be the case, but didn't look for examples.

Changing the argument name would be a possible API break for anyone defining their own command line wrappers using this framework, so best avoided.

However, clarifying the broader usage in the docstrings, and renaming the internal function from ``_escape_filename`` to something like ``_quote_spaces`` would be sensible.

[2019-05-17 18:33] vsoch commented on #2038
hey @peterjc we are still working on this over in https://github.com/sylabs/singularity/issues/3484. Can you help with the command to figure out the index?

[2019-05-17 18:46] ybendana commented on #1608
@peterjc , I'm unable to share the original Genbank file but I copied the pUC19c vector from NCBI and added an annotation in Geneious that is cross origin and has a "truncated" start coordinate. I then exported it as "strict Genbank" to remove the Geneious-specific annotations.  It displays the start coordinate as "<2644" and biopython gives the same exception noted above.  The original file exten

[2019-05-17 21:24] svalqui commented on #1960
@peterjc that's great, thank you. I think think this issue will be closing soon.

[2019-05-19 13:41] peterjc commented on #1960
Indeed 👍

[2019-05-19 13:41] #1960 closed

[2019-05-19 18:01] jvollme opened #2069 "Bio.Emboss.Applications-module: FProtDistCommandline has wrong options"
### Setup
[code]

when trying to run fprotdist via the [Bio.Emboss.Applications-module](https://biopython.org/DIST/docs/api/Bio.Emboss.Applications-module.html) as follows:
`cline = FProtDistCommandline(sequence = example.phy, model = "s", gamma = "g")`
, I keep getting the error `ValueError: Option name model was not found`, even though this "model" is definitively an (important) [option for this

[2019-05-19 19:22] deepaklorkhatri007 commented on #1102
@peterjc I can see that the present tutorial does somewhat covers a bit of mmCIF and MMTF. Is there anything I can do to improve the tutorial?

[2019-05-20 09:28] chris-rands commented on #2055
ok @peterjc i could do this one? should we re-name `_escape_filename` to `_quote_spaces`? or add a `BiopythonDeprecationWarning` to `_escape_filename` and duplicate the code into a new `_quote_spaces` function?

Are people using the internal `_escape_filename` function? e.g.
https://github.com/search?p=1&q=%22from+Bio.Application+import+_escape_filename%22&type=Code

[2019-05-20 09:37] peterjc commented on #2055
@chris-rands yes please. Skimming that search, most usage was in copies or forks of Biopython code, so low risk to change - but at least one real world usage in https://github.com/fsimkovic/mxkit though (first hit) so let's not change the public API right now.

[2019-05-20 09:40] peterjc commented on #1102
@deepaklorkhatri007 I've hardly touched PDB files in years - I'm not well placed to review this chapter in any detail. However, a small change would be reordering to do mmCIF reading before PDB file reading, and mmCIF writing before PDB file writing? Also perhaps a very short paragraph at the chapter start about file formats?

[2019-05-20 09:44] peterjc commented on #2069
It might be worth looking at the version of EMBOSS, as their command line options do sometimes change over time.

In this case, the wrapper dates back to f04c083482899a4ec330cae2fad158dc6f0fd131 and that included the original typo "catergories" in the ``-ncategories`` help text for number of categories.

A pull request fixing this would be welcome.

[2019-05-20 10:05] deepaklorkhatri007 commented on #1102
@peterjc I will work on these tasks for now and report here only.

| Sno        | Task           |
|-------------|-------------|
| 1 | mmCIF reading before PDB file reading |
| 2 | mmCIF writing before PDB file writing |
| 3 | a very short paragraph at the chapter start about file formats |

[2019-05-20 13:46] svalqui commented on #1963
I'll work on Bio.Blast

[2019-05-20 16:16] peterjc commented on #2055
This should be fixed with #2071 and will be part of Biopython 1.74 - thank you @chris-rands for the fix, and @Hua-CM for the clear bug report.

[2019-05-20 16:16] #2055 closed

[2019-05-21 12:16] MarkusPiotrowski commented on #1963
If you look in one of the former D102 lists, you will see that the two `Bio.Blast` D102 issues are new. We should have a closer look at the PRs, otherwise, this will turn into a Sisyphean task

[2019-05-21 14:47] peterjc commented on #1963
True:

[code]

vs:

[code]

This was from #1997, support for BLAST XML v2. So yes, I missed this during the review.

On the bright side, we're fixing these much more quickly than new code is being added - but the sooner we can enforce D102 etc automatically, the better.

[2019-05-22 03:46] svalqui commented on #1963
With the above the only thing left is Bio.Entrez which is been look after by @ikercasillas . Moving on.

[2019-05-22 05:05] ikercasillas commented on #1963
Dear all, I have been reading Bio.Entrez and it's taking me time to understand the whole thing. I require some more time so that I can work on the concerned task, until then kindly let be assigned to me. Thanks.

[2019-05-22 05:18] Bernhard10 commented on #1551
As far as I remember, the question is then the following: What should `chain[id]` give, if there are suddenly two children with the same id?
We could issue a warning "chain is now inconsistent" and not update the chain's child_dict, but then we cannot provide an easy repair mechanism, if this was triggered.

In my opinion, the best solution would be to provide a `renumber_chain` function, which ta

[2019-05-22 05:27] Bernhard10 commented on #1551
@jadolfbr As a workaround, I guess you can also assign to `residue._id` instead of `residue.id`

[2019-05-22 06:20] MarkusPiotrowski commented on #1963
@ikercasillas
Maybe @mdehoon can assist/guide you; the original code is from him and he recently updated it.

[2019-05-22 06:43] ikercasillas commented on #1963
Thanks @MarkusPiotrowski
I will surely contact @mdehoon, once I have taken a little more look at it. Also, part of the reason it's taking so much time is also that I am not able to spend enough time on it as I would have liked.

[2019-05-23 09:28] peterjc commented on #1963
@ikercasillas you've been a bit unlucky - ``Bio/Entrez/Parser.py`` was probably the hardest one to add missing docstrings too. How about you tackle the last few other files (all quite recent additions since as Markus noted, we've not been strictly enforcing this rule on recent pull requests):

[code]

Or, there are a few non-Entrez examples on #1961 (D101 - missing class docstrings)? Thanks!

[2019-05-23 14:42] peterjc commented on #2014
With #2074 merged, @MarkusPiotrowski are you happy for us to recommend the flake8 pre-commit hook in the ``CONTRIBUTING.rst`` file (etc)?

[2019-05-23 14:44] peterjc commented on #883
I think that as of PR #2074 with a single top level ``.flake8`` file, we can mark this issue as closed.

The ignore list in the file is documented with error codes we intentionally ignore versus those we would like to enforce in future.

[2019-05-23 14:44] #883 closed

[2019-05-23 15:06] mdehoon commented on #1963
What is meant by public classes? I thought all classes are public.

[2019-05-23 15:15] peterjc commented on #1963
I assume a class with a name starting with an underscore would be considered private - we have more of those than I would have guessed:

[code]

Some of those are base classes from which a class for public use inherits, others are implementation details not intended for public use.

[2019-05-24 02:20] svalqui commented on #1961
I'll work on Bio.Cluste and Bio.CAPS.

[2019-05-24 08:17] svalqui commented on #1902
I'll Work on Bio.Phylo.

[2019-05-24 09:26] peterjc commented on #493
Flake8 pre-commit hook documented as of #2075.

[2019-05-24 09:26] #493 closed

[2019-05-24 09:29] peterjc commented on #2014
Good progress, I've closed #493 as of #2075.

Still need to mention the hook on https://biopython.org/wiki/GitUsage

Also consider if and how to mention it in the ``PULL_REQUEST_TEMPLATE.md`` too.

[2019-05-24 09:59] 6syun9 opened #2077 "Failed to find tag 'mtr' in the DTD by pmid=30971865"
### Setup

[code]

### Expected behaviour

We should return paper info from efetch API.
https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=pubmed&id=30971865

### Actual behaviour

Exception
[code]

### Steps to reproduce

[code]

This paper is `quite special`. I can not judge whether we should cope. But I reported once.

[2019-05-24 10:05] peterjc commented on #2077
Did you try parsing with ``validate=False`` as suggested, and did it work?

[2019-05-24 10:19] 6syun9 commented on #2077
@peterjc Hi. Yes, I did.
[code]
result:
[code]
I think this error is "when the XML is broken".

[2019-05-24 13:46] peterjc commented on #2014
How about this:

[code]

The wording aims to cover the fact that TravisCI/Tox includes some extra style checks not currently done via flake8 (e.g. the RST linting)

[2019-05-24 13:54] MarkusPiotrowski commented on #2014
Fine!

[2019-05-24 14:08] peterjc commented on #2014
Change applied - are we OK to close this issue?

[2019-05-24 14:11] MarkusPiotrowski commented on #2014
Yes, I'm doing so now. Thank you!

[2019-05-24 14:11] #2014 closed

[2019-05-24 14:12] peterjc commented on #2014
Excellent work, thank you too.

[2019-05-24 14:52] peterjc commented on #2008
I opened pull request #2029 applying black to the GenomeDiagram code, picked since the author @widdowquinn is a black convert, and there are no active changes pending here (IIRC). While I'd be happy to merge this, this is more intended as good example of the kind of things black would do to the Biopython code base.

One specific pain-point on this module was black discarded lots of comment alignme

[2019-05-24 15:11] flass commented on #1065
this seems to have been solved with commit a0352e16d5208cbdab76e1fffb7c334ea1e34c74#diff-99b7da39bc96d611fb9cfc57b50fcf71.

[2019-05-24 15:12] #1065 closed

[2019-05-24 15:17] peterjc commented on #1065
Thanks - that was done in pull request #1276.

[2019-05-25 04:39] Benjamin-Lee opened #2080 "Codon table is out of date"
[`gc.prt`](ftp://ftp.ncbi.nih.gov/entrez/misc/data/gc.prt), from which the `Data/CodonTable` file is generated, now includes codon tables up to 32 (the [site](https://www.ncbi.nlm.nih.gov/Taxonomy/Utils/wprintgc.cgi#SG33) goes up to 33, though).

Can we get it updated?

[2019-05-25 08:54] MarkusPiotrowski commented on #2080
Yes, we have a script for this. I'll have a look.

[2019-05-27 01:26] mdehoon commented on #2077
Works for me with the current Biopython source code in master.

[2019-05-27 02:32] victorlin commented on #1980
Closed by #1986.

[2019-05-27 02:32] #1980 closed

[2019-05-27 05:43] 6syun9 commented on #2077
@mdehoon Thanks. I confirmationed works for me with the code in master too.

[2019-05-27 05:43] #2077 closed

[2019-05-27 08:55] peterjc commented on #2080
Yes, we're at v4.2 of the NCBI genetic codes,

https://github.com/biopython/biopython/blob/master/Bio/Data/CodonTable.py

There have been two changes since in ftp://ftp.ncbi.nih.gov/entrez/misc/data/gc.prt
 (the computer readable file we read):

[code]

The script we use is here: https://github.com/biopython/biopython/blob/master/Scripts/update_ncbi_codon_table.py

@Benjamin-Lee would you be inter

[2019-05-27 09:22] MarkusPiotrowski commented on #2080
I'm nearly ready with the pull request. I want to submit it together with an update of `RestrictionDictionary` so that we have updated data files for the 1.74 release.

[2019-05-27 09:26] peterjc commented on #2080
OK, thanks Markus. And thank you @Benjamin-Lee for the heads up.

Maybe we should add checking the NCBI codon tables and REBASE enzymes to our release process check list? https://biopython.org/wiki/Building_a_release

[2019-05-27 10:14] MarkusPiotrowski commented on #2080
Principally, yes. However, for codon tables this may need some more effort. E.g. due to changes in an older table and a new table with ambiguous stop codons, I needed to adjust the tests. Also, I always add a new test for a new codon table.

[2019-05-27 14:52] #2080 closed

[2019-05-28 09:52] chris-rands opened #2085 "Code refactoring to dictionary and set comprehensions"
In Python 2.6, `dict` and `set` comprehensions were not supported. Since Python 2.7 they are, so code can be re-written more cleanly like:

[code]

Biopython includes examples of the old syntax, e.g.

[code]

I think these can be updated now since Python 2.6 is not supported by Biopython?

Most of these can be fixed very easily, but finding the examples will require some checking since I don't thi

[2019-05-28 09:54] mdehoon commented on #2085
Yes.

[2019-05-28 10:41] peterjc commented on #2085
Yes, it does seem timely to fix these. This flake8 plugin will help finding them,

https://github.com/adamchainz/flake8-comprehensions

Specifically your example triggers:

[code]

All the codes from this plugin start with C4, e.g.

[code]

(Lots more elsewhere in the codebase)

[2019-05-28 13:55] chris-rands commented on #2085
Ok- i'll work on this via the flake8 plugin, which will also capture a few other things like the set literal example Peter has above

[2019-05-28 13:59] peterjc commented on #2085
I found some of these hard to get used to, having written so much Python the "old fashioned" way.

[2019-05-29 07:49] peterjc commented on #1961
Nearly there...

[code]

[2019-05-29 07:50] peterjc commented on #1961
Once #2072 is merged, we should be able to stop ignoring D101 in the ``.flake8`` file :)

[2019-05-29 08:47] MarkusPiotrowski commented on #1961
And D102 as well:
[code]

[2019-05-29 08:59] peterjc commented on #1961
Yes, #2072 will let us close #1963 as well 👍

[2019-05-29 11:22] peterjc commented on #2008
The concrete example of the changes ``black`` would make on #2029 have spurred some good discussion. It seems not everyone is keen on this.

I did consider a possible compromise which would let us apply the changes gradually:

If over time a large proportion of the code base started to follow the ``black`` style, we could look at selectively enforcing this on those modules, and ultimately perhaps

[2019-05-30 11:55] peterjc commented on #1879
@mdehoon you committed the patch from Chang Soon Ong https://github.com/biopython/biopython/commit/6dccf25c8bca1b5c87b24f559e6d8f9abd43547b - do you have contact details for them to ask about re-licensing? Thanks.

[2019-05-30 11:56] peterjc commented on #1879
The original email address for Sjoerd de Vries does not work, and it is relatively common name, but I have emailed a likely candidate working at INSERM in France.

[2019-05-30 12:05] peterjc commented on #1878
I've tried again via a Google address...

[2019-05-30 12:22] peterjc opened #2090 "Tell flake8 to ignore top-level build directory"
Currently the contributing file suggests running:

[code]

In the root folder if you have previously run a build/install, this will search the build directory - which due to the way the ``per-file-ignores`` currently seem to work will mean lots of false positives.

That aside, it would also fail if the last build is older than the current ``.flake8`` settings (which typically get stricter over tim

[2019-05-30 14:11] ivanerill commented on #1848
Has this been addressed? Today I tried to run an old script that essentially performs the following:
[code]

that used to work fine, and now crash with:

This can be fixed with:
`records[0]['ProteinList'][0][0].keys()`

but I don't fully get what's changed in the IPG report parse to alter the structure of the object it returns, or whether I should assume the change is permanent and adapt the scrip

[2019-05-30 15:02] peterjc commented on #1848
This is on my desktop rather than the laptop, but again ``test_Entrez_online.py`` was failing.

I had only one XSD file cached, and it is different from https://www.ncbi.nlm.nih.gov/data_specs/schema/other/seq_report/IPGReportSet.xsd but neither has an obvious version number in it:

[code]

Note this may not be the best way to find out the cache directory, but should work:

[code]

As an aside, @m

[2019-05-30 15:16] amirkdv commented on #918
For anyone else who might be blocked by this issue, here is my workaround until this issue is resolved in biopython. It copies `Entrez.read` as-is and sets the parsers directory to `/tmp`; change as per your needs:
[code]

[2019-05-30 15:27] peterjc commented on #918
@amirkdv try this instead if you want to change the user's cache:

[code]

However, the far simpler workaround is to empty the cache and thus get rid of any out of date DTD or XSD file. i.e.

[code]

[2019-05-30 15:31] peterjc commented on #918
@mdehoon cross reference https://github.com/biopython/biopython/issues/1848#issuecomment-497361760 - it looks like the default value is not initialised just by directly creating the object and trying to access the property:

[code]

i.e. it returns None. Should the directory property get-function or ``__init__`` being calling ``_initialize_directory()``, which would support this use-case?

[2019-05-30 15:32] peterjc commented on #1848
This problem with ``IPGReportSet.xsd`` is arguably the NCBI's fault for changing the XSD file without renaming it. They have been very good about changing the names of the DTD files when they change (usually there is a date suffix).

What if anything can we do about?

[2019-05-30 15:39] amirkdv commented on #918
@peterjc Also I think the relevant method `DataHandler._initialize_directory` seems to not honor the class attribute `local_dtd_dir`; it overwrites it with a path based on `self.directory`, see [code](https://github.com/biopython/biopython/blob/44ecbad7b2e847eb5de6d08e921078f61a15011a/Bio/Entrez/Parser.py#L980).

[2019-05-30 15:40] amirkdv commented on #918
@peterjc To be clear, I have tried the solution you suggested (biopython version 1.73) and still get the same issue: the working directory ends up being whatever is referenced in my link above.

[2019-05-30 16:02] peterjc commented on #918
Does my recommended workaround of emptying the default local cache work though? i.e.

[code]

P.S. Which version of Python are you using?

[2019-05-30 16:05] MarkusPiotrowski commented on #2090
Maybe `CONTRIBUTING.rst` is not clear about this, it is clearer worded in `GitUsage.md` on `Biopython.org`
Contributors should not install/run `flake8` after doing a build/install but after making a git repository and cloning Biopython. Actually, I don't think it's even neccessary to run `flake8` from the command line (except you want to work on a certain style issue), it's more important to have

[2019-05-30 18:08] ivanerill commented on #1848
In my case I use several conda environments, so the path to the XSD's is something like:
/home/XXXXX/miniconda2/envs/YYYYYY/lib/python2.7/site-packages/Bio/Entrez/XSDs

I have two versions of IPGReportSet.xsd floating around:

- associated with package biopython-1.72-py27h04863e7_0 and modified June 22 2018
- associated with package /biopython-1.73-py27h7b6447c_0 and modified Dec 18 2018

diff tel

[2019-05-30 19:34] widdowquinn commented on #2008
I wonder if the (any colour as long as it's) black approach works best for smaller codebases, nearer the start of their life, and with less legacy code? For larger projects like this, maybe there needs to a lot of buy-in from developers, and a fair amount of person-time dedicated to managing the changes, unless black is used from the get-go?

As a user (but not an evangelist) I like black. I think

[2019-05-30 19:54] peterjc commented on #2008
If that is the consensus, we could make this a goal at the upcoming BOSC CoFest 2019, which also welcomes remote participants. @JoaoRodrigues is attending as am I, and a couple more people who mentioned Biopython - so we'd be able to have eyes on the code.
https://www.open-bio.org/events/bosc/collaborationfest/

[2019-05-30 19:59] peterjc commented on #1848
Ah - we are bundling a copy,
https://github.com/biopython/biopython/tree/master/Bio/Entrez/XSDs

@mdehoon I guess we must update this as the simplest solution?

[2019-05-31 10:25] #2090 closed

[2019-05-31 10:26] peterjc commented on #2090
Thanks - yes, I was thinking about people working on style issues in particular, but in general I agree, the git pre-commit hook is more important.

[2019-05-31 14:04] peterjc opened #2094 "Removing Doc/biopdb_faq.lyx"
I've just noticed we have two copies of the PDB FAQ under version control, files ``Doc/biopdb_faq.lyx``  and ``Doc/biopdb_faq.txt``, which the original author Thomas would update together.

Having done a little background reading, my understanding ``Doc/biopdb_faq.lyx`` was the source (edited in the Lyx graphical tool), which was exported to LaTeX as ``Doc/biopdb_faq.txt`` (also under version cont

[2019-05-31 14:04] peterjc commented on #2094
@JoaoRodrigues @etal @lennax @jgreener64 Any comments on this bit of the PDB documentation?

[2019-06-01 10:12] jgreener64 commented on #2094
If it doesn't disrupt things I would lean towards deleting `Doc/biopdb_faq.lyx`. When I have to remember to update two things together I usually forget.

[2019-06-01 10:22] peterjc commented on #2094
Exactly the mistake I made in 2007, when the two files first went out of sync. If Thomas was still active and wanted to continue to use Lyx, things would be different.

[2019-06-02 13:14] kblin commented on #1608
We clearly still raise a `ValueError` in https://github.com/biopython/biopython/blob/master/Bio/SeqFeature.py#L759

The correct way to annotate this feature would be `join(<2644..2686, 1..159)`, and that's what Geneious should be doing. As there is no way for Biopython to know if <2644..159 is an incorrectly written cross-origin feature `join(<2644..2686, 1..159)` or an incorrectly written `comple

[2019-06-03 11:22] peterjc commented on #1879
It was the right person, and they kindly agreed:

On Mon, Jun 3, 2019 at 12:15 PM Sjoerd DE VRIES <...> wrote:

[2019-06-03 11:28] peterjc commented on #1879
I believe that the only contribution now holding back dual licensing ``Bio/Blast/NCBIWWW.py`` is the changes in commit 6dccf25 from Chang Soon Ong, which while quite a few lines, is conceptually a simple translation of the BLAST documentation cited:

https://web.archive.org/web/20070701014147/http://www.ncbi.nlm.nih.gov/BLAST/Doc/node5.html

@mdehoon do you still have their contact details, as tha

[2019-06-03 16:04] peterjc opened #2101 "Update rebase_update.py for Python 3"
See discussion on #2098, it would be good to update ``Scripts/Restriction/rebase_update.py`` to work on Python 3. This script still works on Python 2.7 as is used as part of updating ``Bio.Restriction`` to the latest version of the enzymes in the REBASE database.

(See also #972 for background, and and also the work on #268 to replace ``Bio.Restriction`` entirely)

[2019-06-04 04:04] mdehoon commented on #1879
@peterjc  There is a Cheng Soon Ong chengsoon.ong@tuebingen.mpg.de, in the list of contributors in biopython release 1.44 from 2007.

[2019-06-04 04:08] mdehoon commented on #1879
@peterjc  This could be him: http://www.ong-home.my/

[2019-06-04 04:23] mdehoon commented on #1848
@peterjc  The XSD file in Biopython is already the latest version.

Note that XML Schema support was added to Bio.Entrez later (most EUtils use DTDs instead of XML Schemas), and mapping XML Schemas to Python objects in the Entrez parser is not as mature as the DTD code. Essentially the problem is that some data structures in XML Schemas do not map cleanly to Python objects (for example, to be cons

[2019-06-04 09:13] #2085 closed

[2019-06-04 11:33] peterjc commented on #1848
So the problem occurs when we have the latest ``IPGReportSet.xsd`` bundled with the install, but if there is a copy in the user's cache ``~/.config/biopython/Bio/Entrez/XSDs/`` it takes priority - even if it is the older file?

I don't see any cleaner solution than ``rm -rf ~/.config/biopython/Bio/Entrez/XSDs/IPGReportSet.xsd`` for the people affected.

[2019-06-05 12:11] chengsoonong commented on #1879
Dear @peterjc, this is the right person who contributed that [very minor translation](https://github.com/biopython/biopython/commit/6dccf25c8bca1b5c87b24f559e6d8f9abd43547b). I'm agree to the BSD Dual License.

I am incredibly impressed at the lengths you have gone through to find me.

[2019-06-05 12:51] peterjc commented on #1879
Thank you @chengsoonong - I will prepare a pull request to dual license this file now :)

[2019-06-05 14:32] peterjc commented on #1879
Closed by #2106 - thank you everyone!

[2019-06-05 14:32] #1879 closed

[2019-06-05 22:07] MarkusPiotrowski commented on #1963
@svalqui Great job, and thank's to @peterjc for volunteering to smooth `Entrez.Parser.py` out.

[2019-06-05 22:07] #1963 closed

[2019-06-05 22:10] MarkusPiotrowski commented on #1961
Finally solved via PR #2072!

[2019-06-05 22:10] #1961 closed

[2019-06-06 07:25] peterjc commented on #1203
Just to note, all the child issues have now been closed - all the public modules, classes, methods, functions in  Bio and BioSQL have docstrings (just the magic methods left, and they are a bit repetitive and less important anyway).

[2019-06-06 07:27] #1102 closed

[2019-06-06 17:53] innovate-invent opened #2112 "Multi-line GenBank anticodon qualifier parsed with space at line break"
Anticodons in bioperl are quoted when they line wrap, biopython does not. This inconsistency causes files output by biopython to fail to parse by some applications.

https://github.com/biopython/biopython/blob/ae87425f386034bc24839d09dee634519e7a0bf2/Bio/SeqIO/InsdcIO.py#L296

[2019-06-07 07:49] peterjc commented on #2112
Can you point at an NCBI example? The only mention of ``anticodon`` in ftp://ftp.ncbi.nih.gov/genbank/gbrel.txt is not quoted (but also, single line).

[code]
[code]

[2019-06-07 12:12] peterjc opened #2116 "D105 Missing docstring in magic method"
The last class of missing docstrings, see #1203 and linked issues.

[code]

This issue is to add the missing docstrings (ideally following existing style for common ones like ``__str__`` and ``__repr__``) and then stop ignoring D105 in ``.flake8``.

[2019-06-07 14:09] #2049 closed

[2019-06-07 15:48] innovate-invent commented on #2112
NC_018080 downloaded from RefSeq
[code]

[2019-06-07 16:14] peterjc commented on #2112
So the NCBI don't quote it in their files - and it doesn't need quotes especially with the open and closing brackets.

I rather _suspect_ the main bug is in bioperl and the unnamed other applications.

However, it does look like Biopython shouldn't be inserting white space when parsing these:

[code]

e.g. the final tRNA in the file gets it's ``anticodon`` qualifier parsed as ``'(pos:complement(61

[2019-06-07 20:24] innovate-invent commented on #2112
After patching biopython for `anticodon` it appears that `transl_except` also has this issue.
It can be found in NC_008463 from RefSeq

[2019-06-07 20:47] peterjc commented on #2112
Quite likely - do you want to turn your patch into a pull request, or is it more a debugging change than a fix?

[2019-06-07 20:51] innovate-invent commented on #2112
It is a hack at best. Logic needs to be added to quote only on wrap to be consistent with bioperl. I have also contacted NIH trying to get an official statement on the correct way to wrap these qualifiers.

[2019-06-07 20:55] peterjc commented on #2112
I thought it was clear from the NCBI usage that they are *not* quoted, but either way getting an official statement would help - and ideally they can clarify the specification.

[2019-06-08 09:13] peterjc opened #2120 "AppVeyor (Windows) failures from test_BioSQL_mysql_connector.py"
Somethings has broken recently on the 32bit Python 3 Windows (AppVeyors) tests, noticed on multiple unrelated pull requests overnight (which are passing on Linux / TravisCI):

e.g. https://ci.appveyor.com/project/biopython/biopython/builds/25133972/job/5r7ld842y743gksm

[code]

This example had installed:

[code]

First bad test failing this way was 12 hours ago, same versions as above. The last g

[2019-06-08 09:18] peterjc commented on #2120
Release notes here, may need to read 8.0.14, 8.0.15 and 8.0.16:

https://dev.mysql.com/doc/relnotes/connector-python/en/news-8-0.html

[2019-06-08 09:20] peterjc commented on #2120
Nothing really obvious. There are a couple of points in 8.0.14 about pure Python vs C and Python 2 vs 3, perhaps relevant?

[2019-06-11 10:25] MarkusPiotrowski commented on #2120
@peterjc I tried to investigate/test this on Windows, but actually I get caught by this error:
[code]
I had installed **MySQL Server 8.0** and I wonder why it is looking in a non-existing `...\MySQL Server 5.1\` folder. There is nothing obvious in my system paths and I just wonder, if `5.1` is hardcoded anywhere in the Biopython's config files?

[2019-06-11 12:56] peterjc commented on #2120
As far as I can recall, the only SQL configuration we have is in our tests setup (different for TravisCI and AppVeyor). Are you installing this via pip, conda, source?

[2019-06-11 22:28] MarkusPiotrowski commented on #2120
I installed mySQL with a Windows installer and the connector via conda. However, I gave up on this. To complicate for me to set up. I'm sorry.

[2019-06-12 01:29] vinisalazar opened #2123 "[ENTREZ] Some accession numbers won't return FASTA data"
### Setup
I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

Hi, I'm trying to download a bunch of .fasta and .gbk records using `Entrez.efetch`. However, I have noticed that some of my UIDs return both fasta and genbank data, but some only return genbank data. For example:

[code]

I'm puzzled to why this is happening. Do the "NZ" and "NC" f

[2019-06-12 02:44] svalqui commented on #1902
I'll work on Bio.phenotype

[2019-06-12 09:00] peterjc commented on #2123
Yes, the accession prefix does I think reflect a different category in the NCBI databases.

In this case,

https://www.ncbi.nlm.nih.gov/nuccore/NZ_AGNZ00000000

Note the default GenBank output here has not actual sequence, it just ends with instructions for what the record points at:

[code]

Beyond that, you will need to ask the NCBI (try the Entrez help email address), and please comment here wi

[2019-06-13 12:26] sagitter opened #2128 "test_Affy.py UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf0 in position 0: invalid continuation byte"
Hi all.

### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

### Expected behaviour

All offline tests passed.

### Actual behaviour

[code]

[2019-06-13 12:46] peterjc commented on #2128
There are a few as yet unresolved problems on unusual locales (several other open issues on other tests), but this could be due to you testing an early version of Python 3.8?

What do these return?

[code]

[code]

[2019-06-13 19:08] vinisalazar commented on #2123
Hi @peterjc , thank you for the prompt reply.

I considered using @kblin 's package but was trying to avoid (more) external dependencies in my project.

Would you mind leaving the issue open for now? Next week I'll be able to work and this and hopefully can post my solution to help other folks.

Sincerely,
V

[2019-06-13 20:51] innovate-invent opened #2131 "Parse Genbank/EMBL feature qualifiers into dict"
Feature qualifiers anticodon, rpt_unit_range, tag_peptide, and transl_except values are complex data and should be parsed.
Example value:
`(pos:678..680,aa:Leu,seq:taa)`

This should be parsed into a dict:
[code]
Parsing the `pos` element requires the same logic as the location descriptor.
This will require factoring out:
https://github.com/biopython/biopython/blob/264c68972909bf0c74cf6736fae36a70

[2019-06-14 08:00] peterjc commented on #2131
It certainly would be a nice enhancement to parse these, although I'm not convinced about the dict idea:

[code]

I would certainly consider a named tuple (not available to Biopython until relatively recently due to the older versions of Python we supported), or new class. Examples of the other feature types would probably sway me.

Minor asides: In terms of the position, that doesn't look like a

[2019-06-14 14:13] peterjc commented on #1608
You can upgrade warnings to exceptions - that makes sense in a context like Kai's use case.

I suppose we could consider adding a strict mode in ``Bio.SeqIO.parse(..., strict=False)`` and ``Bio.SeqIO.read(..., strict=False)`` with default false for the current behaviour (warnings were the parser can continue). Then when ``strict=True``, the top level function catches any ``BiopythonParserWarning``

[2019-06-14 14:27] peterjc opened #2133 "Fixing malformed fuzzy origin wrapping features in GenBank"
As of PR #1770 for issue #1745, the GenBank parser will attempt to fix simple malformed origin-wrapping features like ``6800..100`` on a 7000bp sequence, and change them to ``join(6800..7000,1..100)`` when the sequence is defined as circular. It would still give a warning about the location string.

However, this does not consider fuzzy locations like ``<6800..100`` or ``6800..>100`` etc as in the

[2019-06-14 14:29] peterjc commented on #1608
@ybendana I've logged the problem you found as a new issue, #2133.

[2019-06-14 14:29] #1608 closed

[2019-06-14 15:48] peterjc commented on #906
Some of you will have noticed a new (currently almost empty) repository appeared, https://github.com/biopython/docs

The goal here is to extend the existing TravisCI job which turns our API documentation into RST and HTML using Sphinx autodoc, by deploying the files to https://github.com/biopython/docs using https://github.com/drdoctr/doctr

[2019-06-14 16:40] innovate-invent commented on #2131
I agree, my vote is for a class `TranslationLocation` rather than a dict. The index interface of a named tuple doesn't make sense in this context.

`CompoundLocation` was to emphasize that these qualifiers can have the full complexity of the location descriptor format.

I copied the relevant examples from http://www.insdc.org/files/feature_table.html
[code]

From this rpt_unit_range and tag_peptid

[2019-06-14 22:57] peterjc commented on #2131
Probably ``Bio/SeqFeature.py`` for the class (given all the location objects are there) would be best. For the GenBank/EMBL parsing, somewhere under ``Bio/GenBank/*.py`` (guided by the location parsing).

What are your thoughts on breaking the expectation that the feature qualifier values are lists of strings? Do you think the proposed ``TranslationLocation`` object can be somewhat string-like to

[2019-06-14 23:27] innovate-invent commented on #2131
I think it would be entirly reasonable for `TranslationLocation` to provide a string interface. The issue is doing the same for `FeatureLocation` and `CompoundLocation`.

[2019-06-17 03:57] juheon opened #2136 "Unexpected output of pairwise2 localms"
### Setup

I am reporting a problem with Biopython version: 1.73, Python version, and operating
system as follows:

[code]

### Expected behaviour

[code]

### Actual behaviour
According to the https://biopython.org/DIST/docs/api/Bio.pairwise2-module.html, "Since Biopython 1.71 identical matches are shown with a pipe character, mismatches as a dot, and gaps as a space."
In the first result, the 21

[2019-06-17 05:53] MarkusPiotrowski commented on #2136
@juheon This is a **local** alignment, therefore leading or trailing gaps or mismatches are not counted (note: A local alignment will *always* start with a positive score!).
You have 19 matching A's with a match score of 2, makes a total score of 38.
This will become clearer with the next Biopython version (1.74), where this alignment would be printed as:
[code]

[2019-06-17 09:55] peterjc commented on #2131
Qualifiers vs attributes is a long standing historical quirk, but reflects the NCBI terminology for feature annotations (and that Biopython's SeqRecord/SeqFeature/etc objects were initially very much targeting GenBank format).

I have not reviewed all the other parsers in SeqIO to see if the qualifier values are lists of strings holds true or not; or if we have this assertion to the test framework

[2019-06-17 10:13] sagitter commented on #2128
(Sorry for delay)

[code]

[2019-06-17 10:38] peterjc commented on #2128
Unless you are having issues with the Affy code in your own scripts, this is most likely a problem in the tests under your particular locale settings (which are unusual in being just ``C`` instead of say ``en_US.UTF-8`` or ``en_GB.UTF-8`` or anything - usually with UTF-8).

Strangley temporarily setting my locale that way does not reproduce the errror:

[code]

[code]

Perhaps I need to try the la

[2019-06-17 11:01] sagitter commented on #2128
I used Python-3.8.0b1

[2019-06-17 15:40] juheon commented on #2136
Thank you a lot. I missed the description of 'format_alignment'. I personally prefer to see the sequences of non-aligned parts of sequences. I am using the local alignment to trim polyA tail and I can tell whether my trimming is correct or not based on the non-aligned parts of sequences.
I think the argument such as bShowOnlyAlignedPart in "format_alignment" could be useful for people like me.

[2019-06-17 17:26] innovate-invent commented on #2112
Copying NIH statement here for reference. Some messages were removed/edited for brevity.

[2019-06-18 08:29] peterjc commented on #2112
Reopening, as per https://github.com/biopython/biopython/issues/2112#issuecomment-499946904 we do have a bug in the Biopython parser putting a space in at the line break.

However, the original inconsistency you noticed was as I suspected a bug in BioPerl adding quotes.

[2019-06-18 10:11] MarkusPiotrowski commented on #2136
Re-opened. Having the option to show the whole local alignment including the non-aligned parts seems sensible.

[2019-06-18 10:14] peterjc opened #2139 "SearchIO does not support nhmmscan outout from HMMER3"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

(*Please copy and run the above in your Python, and copy-and-paste the output*)

### Expected behaviour

The pair of tools ``nhmmer`` / ``nhmmscan`` are new to HMMER3.1.

Much as we can parser the output from protein based HMMER3 tool ``hmmscan``, I would like to parse output from

[2019-06-18 10:15] peterjc commented on #2139
Sample plain text output (would have to rename the tabular files for quick github upload):

[n.txt](https://github.com/biopython/biopython/files/3301030/n.txt)

[p.txt](https://github.com/biopython/biopython/files/3301031/p.txt)

[2019-06-18 10:55] peterjc commented on #2139
Quoting the manual http://eddylab.org/software/hmmer3/3.1b2/Userguide.pdf - this part is relevant for parsing the alternative reporting presentation from ``nhmmscan``:

[2019-06-18 13:09] vinisalazar commented on #2123
The only alternative I found was to extract Assembly identifiers from the Genbank records and then using ncbi-genome-download. Even then, some GenBank records didn't have these identifiers so I had to manually go after the genome.

[2019-06-18 13:09] #2123 closed

[2019-06-18 17:55] sagitter commented on #2120
Looks same error but with much older version of `mysql-connector-python` (1.1.6) (or not?): [log](https://copr-be.cloud.fedoraproject.org/results/sagitter/python3.8/fedora-rawhide-x86_64/00940756-python-biopython/builder-live.log)

[2019-06-18 20:57] pkerpedjiev opened #2142 "Appending to bgzf files misses sequences"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

### Expected behaviour

The script in `Steps to reproduce` outputs both of the sequences added to the bgzf file:

[code]

### Actual behaviour

It only outputs the first sequence:

[code]

### Steps to reproduce

Run the following script:

[code]
If I output both sequences without

[2019-06-18 21:46] peterjc commented on #2142
You mean using append mode when the file already exists seems to be broken?

That does seem possible - looking now I don't think we test append mode in ``Tests/test_bgzf.py`` and although it has been some time since I worked on this, looking at the code in ``Bio/bgzf.py`` it does not seem that when writing in append mode (and the file already exists) that the virtual offset would take into account

[2019-06-18 21:55] peterjc commented on #2120
@sagitter that issue with ``ValueError: invalid literal for int() with base 10: 'ExactPosition(0)'`` looks different to me, likely something about Python 3.8.0b1 - could you log a separate issue for that please?

[2019-06-18 23:07] pkerpedjiev commented on #2142
Hey, thanks for the quick response!

Yes, exactly.

That seems better than the silent error it produces right now and might save others a bit of debugging time. Depending on the use case, the workaround of writing the entire file at once rather than appending may be acceptable.

[2019-06-19 08:23] peterjc commented on #2142
That's what I was thinking - explicit failure as a short term solution. Would you like to make a pull request doing that, raising a ``NotImplementedError`` perhaps?

In principle there is nothing to prevent implementing append mode writing in full - the GZIP block structure lends itself to that. The only anticipated complication is reporting an accurate virtual offset would require scanning all th

[2019-06-19 16:25] pkerpedjiev commented on #2142
Yup, I can do that. Look out for the PR in the next few days :-)

[2019-06-21 09:27] sagitter opened #2145 "str(ExactPosition(...)) behaviour change on Python 3.8"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]
Dependencies: https://copr-be.cloud.fedoraproject.org/results/sagitter/python3.8/fedora-rawhide-x86_64/00940756-python-biopython/root.log.gz

Full log: https://copr-be.cloud.fedoraproject.org/results/sagitter/python3.8/fedora-rawhide-x86_64/00940756-python-biopython/builder-live.log

[2019-06-21 10:27] peterjc commented on #2145
I strongly suspect something has changed in the Python 3.8.0 beta compared to Python 3.7, causing a bug in our BioSQL wrappers, and our integer-subclassing ``ExactPosition`` objects.

We don't currently have a (pre-release) Python 3.8 or nightly Python build on the TravisCI matrix, which might be helpful here.

[2019-06-21 12:14] peterjc commented on #2145
Good news, I can reproduce this on Python 3.8.0 beta under TravisCI, plus a whole load more stemming from the same issue:

[code]

Somehow ``str(ExactPosition(513))`` is not giving string ``'513'`` anymore, but acting like ``repr(ExactPosition(513))`` instead.

[2019-06-21 14:44] peterjc commented on #2145
Looking at https://docs.python.org/3.8/whatsnew/3.8.html I found the cause:

Reading https://bugs.python.org/issue36793 this does make sense - on modern Python the int's ``__str__`` and ``__repr__`` are the same, so only ``__repr__`` was needed.

The fix is simple, we just need to explicitly define ``__str__`` on our position objects which subclass int.

[2019-06-23 05:00] kblin commented on #2123
@vinisalazar Another option is to grab the GenBank records, and then recursively grab the sub-records if the record you got was a WGS master record. I happen to have a library for that as well: https://github.com/kblin/ncbi-acc-download/ because I also was running into this a lot.

You can run this one as both a command line tool and a library. https://github.com/kblin/ncbi-acc-download/blob/maste

[2019-06-24 07:17] mdehoon commented on #1295
The installation documentation in Doc/install/Installation.tex says that we strongly recommend NumPy, while README.rst and the downloads page says it's required. It doesn't matter much for the end user, but for developers it's easier if they can assume that NumPy is present.

[2019-06-24 10:13] peterjc commented on #1295
I'd like to heavily cull ``Doc/install/Installation.tex`` or at least repurpose it for contributors/developers  only. In that context, it is _useful_ to be able to work without NumPy and/or the C modules, but that is still quite niche. Is this distinction worth making?

The other historical reason to work without NumPy was PyPy (not an issue anymore) and Jython (which we deprecated support for).

[2019-06-24 12:55] vinisalazar commented on #2123
@kblin thank you for your suggestions. Your work is very much appreciated. Would be great to see these contributions being somehow incorporated into Biopython's Entrez.

[2019-06-24 13:08] mdehoon commented on #1295
To reduce the burden on the developers, I think it is acceptable to simply require NumPy and the C modules.

[2019-06-24 14:25] peterjc commented on #1295
I am OK with the current situation where we deliberately have a TravisCI target without NumPy to ensure this corner case can be used. This was recently helpful for testing on Python 3.8 betas, since there is not (or was not) any easy way to install NumPy short of self-compiling. See #2146 when on TravisCI it was useful to be able to test a developement release of Python without NumPy (where compil

[2019-06-24 15:06] hannes-brt opened #2150 "Opening Fasta file with gzip.open fails in Python 3"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

[code]

### Expected behaviour

The following should work to open a gzipped Fasta file
[code]

### Actual behaviour

Fails with the following error:

[code]

### Steps to reproduce

Open a Fasta file with gzip.open on Python 3. Same snippet works as expected on Python 2.7.

[2019-06-24 15:12] peterjc commented on #2150
Have you tried Biopython 1.73 (current release)

Could you try this instead, see #1134,

[code]

If not, do you have a URL for ``hg38.fa.gz`` handy? I assume that's the human genome v38 but I don't use that often. Or better, a smaller file where you've seen this error?

As an aside, do you really really want to use ``SeqIO.to_dict(...)`` here? Would ``SeqIO.index(...)`` or ``SeqIO.index_db(...)``

[2019-06-24 15:19] hannes-brt commented on #2150
Thanks for the quick reply. Yes, opening in text mode works, but it would be nice if the error mesassage could be more helpful in this situation.

The hg38 Fasta file is available from http://hgdownload.cse.ucsc.edu/goldenpath/hg38/bigZips/hg38.fa.gz, but you can also try a single small chromosome like http://hgdownload.cse.ucsc.edu/goldenpath/hg38/chromosomes/chr22.fa.gz.

[2019-06-24 15:28] peterjc commented on #2150
Confirming, duplicate of #1134:

[code]

It is I agree very misleading - the problem is the low level FASTA parser not expecting bytes, only strings. I would expect similar problems on all our text-based parsers, but FASTA and FASTQ are problem most likely to be used compressed like this.

[2019-06-24 15:32] peterjc commented on #2150
Note I don't get the exception that you do (later version of Biopthon), rather a silent failure:

[code]

The code is literally say there are no lines of text starting with the string ``">"`` (but there are lines starting ``b">"`` but we're not looking for bytes).

[2019-06-24 15:35] hannes-brt commented on #2150
Would it be possible add a typecheck that ensures that the file handle returns strings, not bytes?

[2019-06-24 15:46] peterjc commented on #2150
Yes, looking at it now - we already handle this in FASTQ

[2019-06-24 16:48] MarkusPiotrowski commented on #1295
Yes, setting up an environment where you can install Biopython from source or even setting up a C compiler to compile single C files into extensions is not trivial on Windows. It's not rocket science but definitely raises the bar for Windows contributors. (The minimal working Visual C++ set-up is several gigabytes large)

BTW, we have already a *de facto* requirement for one C module: `_aligners`:

[2019-06-25 09:24] peterjc commented on #1295
I hadn't realised that the ``_aligners`` code had such an impact. With hindsight perhaps putting it directly into ``Bio.Align`` was not ideal. If we can have a gracefull failure here, that to me would be better... but that does as Michiel says add costs of a different kind.

[2019-06-25 10:02] mdehoon commented on #1295
@MarkusPiotrowski  In my experience, with Cygwin it's trivial on windows.

[2019-06-25 10:08] mdehoon commented on #1295
@peterjc  `Bio.Align` could be modified to allow a graceful failure if `_aligners` is not compiled, even with `_aligners` being imported directly into `Bio.Align`. But in the near future, we will have Seq objects implemented in C (*), so anyway sooner or later developers will need to be able to compile C extensions.

(*) The current Python code in `Bio.SeqIO` and `Bio.Seq` is way too slow for geno

[2019-06-25 10:31] peterjc commented on #1295
We digress, but I don't think C is the only answer to speeding up that code. Dropping the heavy alphabet objects will help a lot, that will leave the ``Seq`` objects much more string like - and make your long held wish to just subclass string much more attainable.

Anyway, it seems we agree that for end users, Numpy is expected, C compilers are not (they will get things pre-compiled as wheels or o

[2019-06-25 11:09] MarkusPiotrowski commented on #1295
@mdehoon

Do you have sort of tutorial or step-by-step instructions for this? Do you use this during installation of Biopython or for single C files? I would like to check this out and possibly add something to our homepage.

[2019-06-25 14:17] mdehoon commented on #1295
@MarkusPiotrowski  See this page: https://www.cygwin.com/
You would run Cygwin's Python and Cygwin's gcc C compiler.

[2019-06-25 14:24] mdehoon commented on #1295
@peterjc

Such developers wouldn't be able to assess how their changes impact the C modules or the numpy-dependent modules (and may find out only from the continuous integration tests on github).

[2019-06-25 14:50] peterjc commented on #1295
@mdehoon Yes, exactly. This covers a lot of useful contributions which need not touch the C code (e.g. docstring work, Python style issues). Perhaps especially true of first time contributors, where expecting them to install the C compilers is a big ask. We want to make their life easier, not harder.

(Even on macOS, installing the command line tools is a substantial download)

[2019-06-25 23:07] nimne commented on #2120
I couldn't figure out what change in the mysql-connector code specifically caused this to happen, but this looks like this problem has been reported in the [mysql-connector bugtracker](https://bugs.mysql.com/bug.php?id=95437). From the bug report: "TEXT column with only digits reads in as int". This matches the failed tests above.

[2019-06-26 04:08] svalqui commented on #1902
I'll work on Bio.PDB.

[2019-06-26 09:03] peterjc commented on #2120
Thanks @nimne - I agree, that looks like the cause, logged against v8.0.16 too.

MySQL Bug 95437: mysql-connector-python: TEXT column with only digits reads in as int
https://bugs.mysql.com/bug.php?id=95437

Does anyone have an account on that tracker to add a "me too" and point at this Biopython issue?

[2019-06-26 09:04] peterjc commented on #2120
[See our issue #2145 for the separate problem @sagitter found - related to Python 3.8 changes]

[2019-06-28 08:48] peterjc commented on #2150
You should get an explicit failure in our next release for FASTA and GenBank/EMBL. Thanks for logging this, the silent failure was most deceptive.

[2019-06-28 08:48] #2150 closed

[2019-06-28 15:00] MarkusPiotrowski commented on #1848
On Windows the location would be:
[code]

[2019-06-28 16:05] peterjc commented on #906
There is a proof of principle live right now, http://biopython.org/docs/dev/

Not so pretty initially, untill you drill down to a specific page, e.g. https://biopython.org/docs/dev/Bio.SeqRecord.html

Final URLs subject to change (I am thinking ``.../dev/`` for the latest code, otherwise the version).

[2019-07-01 21:03] peterjc commented on #1295
I think that the website and tutorial references to the following have been removed or updated now:

http://biopython.org/DIST/docs/install/Installation.html
http://biopython.org/DIST/docs/install/Installation.pdf

That I think just leaves removing the stub ``install/Installation.tex`` file...

[2019-07-02 16:27] jrjhealey opened #2158 "Circular permutations of sequences"
Hi all,

This isn't a bug report, so apologies if this belongs elsewhere.

I've recently been asked about a task which requires some slightly advanced circular permutation manipulation.

The existing docs offer this 'manual' approach to shifting the origin:

[code]

I'm thinking that some of this behaviour might make sense to have a layer of abstraction, e.g. a function that rotates the sequence b

[2019-07-02 16:29] nimne commented on #2133
I'll take a look at this! I agree, it seems reasonable to 'fix' these in the same way as the defined features that span the origin.

[2019-07-03 07:12] kblin commented on #2158
Wouldn't it make more sense to just make the `SeqRecord` run some slightly different logic for circular genomes? You could simply make your `rotate` function raise an exception when called for a linear chromosome and stick it on the `SeqRecord`.

We've been thinking about contributing some higher level "neighbourhood" functions to Biopython along a similar line. Basically a way to say "give me 20

[2019-07-03 07:28] jrjhealey commented on #2158
I think that could well be a good way to go, though patching on to the SeqRecord as it currently exists struck me as possibly a drastic change.

I can foresee the need to redefine the `reprs`, `str` methods, and probably a bunch of other stuff too, which would mean that each method would then also need to test if the sequence is circular (or has been designated as circular), before returning its ‘

[2019-07-03 08:32] peterjc commented on #2158
I think a whole new class is overkill, there are a *lot* of special cases to support. What I did ponder was a ``.roll()`` method which would work like this:

[code]

However, provided you avoid cutting in the middle of a feature, the documented cut-and-add approach is still short, perhaps even clearer?

[2019-07-03 08:39] peterjc opened #2159 "win32 Python 2.7 SeqIO gzip test failure, Invalid mode ('rtb')"
Noticed by @MarkusPiotrowski on #2157 and https://github.com/biopython/biopython/pull/2152#issuecomment-507853870, we were accidentally not testing on 32-bit Windows 2.7 recently, and recent pull request #2151 should have failed:

https://ci.appveyor.com/project/biopython/biopython/builds/25703642/job/6tomvsxafe0vxucn

[code]

It is a return of https://bugs.python.org/issue30012 which requires a h

[2019-07-03 08:42] jrjhealey commented on #2158
I think minimally that would work nicely. It would be good if some logic can be worked in to support breaking the feature across boundaries though...

This would be needed for the `source` feature regardless as I think the documentation I took that snippet from mentions.

It probably isn't that helpful for discussion here since they almost certainly have a bespoke way of doing it (and it's closed

[2019-07-03 09:06] peterjc commented on #2158
Breaking features at the new origin seems fairly well defined, just use the join functionality (in INSDC terminology, the ``CompoundLocation`` object in Biopython). However, I can think of two corner cases immediately where that default processing would be less than ideal.

First, origin spanning features like ``join(Y..N,1..X)`` on a sequence of length N, if the shift is large enough they could b

[2019-07-03 09:21] chris-rands commented on #2158
If you apply the `.roll()` method within the `Seq` class rather than `SeqRecord` it would avoid these complications, but might not be worthwhile.

The `.roll()` method reminds me of [`deque.rotate()`](https://docs.python.org/2/library/collections.html#collections.deque.rotate)

[2019-07-03 09:23] jrjhealey commented on #2158
I think the `source` feature would indeed be fine to (re)define as necessary as simply `1:len(seq)` regardless of how the sequence has been permuted. I'm not too familiar with chimeric sources though, do you have an example to illustrate?

Another option might be to 'preserve the history' of any rolled sequences by adding an additional per-letter annotation for the original source 0th character du

[2019-07-03 11:54] peterjc commented on #2158
Two votes for ``.rotate``, which also makes sense for a circle - so I'm OK with that.

As to chimeras with complex source features, I wrote about some examples here:
https://blastedbio.blogspot.com/2013/11/entrez-trouble-with-chimeras.html

That brings up another potentially problematic feature location type which would require consideration (``order(...)``, used in place of ``join(...)`` where th

[2019-07-03 11:54] peterjc commented on #2159
Closed via  #2160

[2019-07-03 11:54] #2159 closed

[2019-07-05 14:41] hongzhonglu opened #2163 "How to calculate the protein complex interface"
Hi all, do you know how to calculate the interface between protein and protein in a complex?

[2019-07-06 17:04] peterjc commented on #2133
Fixed by #2162

[2019-07-06 17:04] #2133 closed

[2019-07-08 10:50] jgreener64 commented on #2163
You mean you want to know which residues/atoms are part of the interface?

To get the residues where the C-alpha distance to the other chain is less than 8 Angstroms you can do:
[code]
Change the PDB file, chain IDs, contact distance and contacting atoms as appropriate.

[2019-07-08 14:18] Andrey-Raspopov commented on #1902
Hello! I'm looking into BioSQL.BioSeqDatabase and besides the simple import error there is a bigger concern. The existing doctest assumes that user not only has some DB software installed, but:
1) It has 'root' user
2) Without a password
3) This user has access to the existing 'minidb' database

Since we can't guarantee these, my only solution to this could be moving the doctest to the commentary

[2019-07-08 14:33] MarkusPiotrowski commented on #1902
You can/should make it into a literal block. To do this you end the paragraph before with two colons (`::`) and remove the `>>>` from the code block. In this way it is rendered similar to a code block, but it is not run as doctest.

[2019-07-08 15:20] #2101 closed

[2019-07-09 14:40] hongzhonglu commented on #2163
@jgreener64 Great thanks for your help! I find there are function in biopython to do it. But I found it can't work now in the biopython version 1.73:
from Bio.PDB import InterfaceBuilder

parser = PDBParser()
structure = parser.get_structure('test', '/home/directory/of/your/PDB/test.pdb')

[2019-07-09 15:53] jgreener64 commented on #2163
`InterfaceBuilder` doesn't seem to be in the current Biopython version, where have you found reference to it?

[2019-07-09 16:24] peterjc commented on #2163
I suspect this is a reference to the GSoC 2011 work by @mtrellet here, mentored by @etal & @JoaoRodrigues:
https://github.com/mtrellet/biopython/tree/interface_analysis
https://biopython.org/wiki/GSoC2011_mtrellet

I don't recall this got to the point of a pull request to be merged into Biopython's master branch?

[2019-07-10 09:58] mtrellet commented on #2163
As far as I know and remember this project was unfortunately not mature enough to make it to the master branch.
@hongzhonglu Could it be that you are/were using a fork of the main biopython project?

[2019-07-10 10:00] hongzhonglu commented on #2163
@mtrellet  Yes. I am using the fork of the main biopython project.

[2019-07-14 16:02] liugaocn opened #2173 "struct.error unpack requires a buffer of 10 bytes"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

(*3.7.3 (v3.7.3:ef4ec6ed12, Mar 25 2019, 22:22:05) [MSC v.1916 64 bit (AMD64)]
CPython
Windows-10-10.0.17763-SP0
1.73t*)

### Expected behaviour

(*I was trying to use Affy.Cel. It should read properly.*)

### Actual behaviour

(*intensity, stdevs, npix = structa.unpack(binaryFragm

[2019-07-14 21:23] peterjc commented on #2173
By steps to reproduce, we mean we want you to write something like:

1. Download this sample data file from URL ...
2. Run the following short self contained bit of Python code: ...
3. I get the following exception (not just the final line ``struct.error: unpack requires a buffer of 10 bytes``, the whole thing with filenames and line numbers): ...
4. I expected the script to do ... instead.

[2019-07-15 02:50] liugaocn commented on #2173
Thanks.

**from Bio.Affy import CelFile
with open("Affy/affy_v4_example.CEL", "rb") as handle:
         c = CelFile.read(handle)
print(c.version)**

print(c.version)  throws struct.error

[2019-07-15 20:02] sagitter commented on #2128
Can [this solved ticket](https://bugs.python.org/issue24214) help you?

[2019-07-16 07:20] peterjc commented on #2173
Thank you. That worked for me on macOS with Python 3.6.4, we probably need to test this on windows.

One possibility is that the CEL file has been corrupted with Unix vs WIndows new lines (even though it is meant to be a binary file). How big is your file and/or what's the MD5 checksum? I see it as 1079 bytes, MD5 checksum ``1f8ffd17bcd2134f93891cc297ae2881``.

Peter

[2019-07-16 08:06] MarkusPiotrowski commented on #2173
Works for me with Python 2.7.16 on Windows 7 and also with Python 3.7.3 on Windows 10 (using our dev branch):
[code]

[2019-07-16 17:00] peterjc opened #2174 "Sphinx API docs missing Bio.Restriction.Restriction"
As noted on #2172, currently we deliberately exclude ``Bio.Restriction.Restriction`` (see commit 7c2389952911b0d1cec4f286d7a66f1c5894437a):

https://biopython.org/docs/1.74/api/Bio.Restriction.Restriction.html (blank)

There were two reasons, the major one being the order the classes were shown in the HTML was stochastic, so we would get unwanted diffs on the deployment docs repository. We already

[2019-07-17 15:20] liugaocn commented on #2173
I just re-ran with the example v4 cel file. And it worked, so maybe it was because I didn't save it before I ran. But anyhow, I still cannot open my own cel files. I  tried several different cel files. All attempts failed.
I downloaded my cel files from pubmed (https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE128955).
when I try to print c.version, it gives me "None".
**from Bio.Affy import C

[2019-07-17 15:29] liugaocn commented on #2173
I tried with different size of files.
It seems like some kinda memory error. But I have 12GB of memory.

[2019-07-18 01:28] liugaocn commented on #2173
**updates**
I just tried to specifically use read_v4:
[code]

[2019-07-18 14:14] bede opened #2175 "Bio.Phylo.PAML: ability to parse positively selected sites in output file"
Although very useful in its current form, as far as I can tell,`Bio.Phylo.PAML` does not currently extract positively selected sites from the codeml output file when parsing them. In light of PAML's truly horrible output format, I suspect that this would be a useful enhancement, with Github searches revealing the frequent reinvention of this wheel.

Unfortunately the format in which positively sel

[2019-07-18 17:20] vkkodali opened #2177 "multiline text in GenBank structured comments are not parsed correctly"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]
When parsing a GenBank flat file with structured comment that has multiline annotations as shown below, only the information in the first line is captured. The following example uses the following flatfile: https://www.ncbi.nlm.nih.gov/nuccore/NM_000017
[code]
With this flatfile sav

[2019-07-18 19:52] peterjc commented on #907
Following the work in #2172 etc to close #906, we now have the API documentation (docstring comments written in RST) converted to HTML documentation using Sphinx.

I have now managed a proof of principle conversion of the Tutorial from LaTeX into RST, and combined this with the API documentation using Sphinx (which could be deployed on our website via GitHub pages, and/or on Read The Docs).

I del

[2019-07-18 22:13] peterjc commented on #2177
Could you re-test with Biopython 1.74 (although looking at the code I don't think this has changed recently)?

[2019-07-18 22:15] peterjc commented on #2175
What do you think @brandoninvergo? A good idea, or harder than it might look?

[2019-07-18 22:18] peterjc commented on #2173
Can you share an example file with this problem?

Do you know anything about how the problematic files were created? What version of the CEL format are they meant to be?

[2019-07-19 00:07] liugaocn commented on #2173
[GSM3688968_WM793TR_CTRL_1.zip](https://github.com/biopython/biopython/files/3408855/GSM3688968_WM793TR_CTRL_1.zip)
Thank you for checking this out. This is one of my CEL files I want to open with biopython.

[2019-07-19 09:05] brandoninvergo commented on #2175
Huh...I was sure that those were being parsed, but looking at the code I guess not.  It's been several years since I did a positive-selection analysis with codeml.  IIRC, it will list sites with P>0.95 in the main output file and then it lists all sites in the `rst` file. @bede, which are you proposing to do?

Assuming we're just talking about parsing the Naive Empirical Bayes and the Bayes Empiri

[2019-07-19 13:04] vkkodali commented on #2177
I see the same issue with Biopython 1.74
[code]

[2019-07-19 21:25] vanya-antonov commented on #896
Does it make sense to also implement a method that returns the overlap length between two features (in nt or bp)?

A modification of the code in the original question:
[code]

[2019-07-20 02:03] mdehoon commented on #1774
@olundberg  Can we see your implementation of the z-score calculation?

[2019-07-20 09:52] LyonJason opened #2178 "How can I know the sequence from which origenal file in the index_db"
### Question
hey, I'm a freshman in biopython
And I'm trying to analysis over 1 million sequences from a heap of fasta file. after I set up the database. I want to search specify id through Iteration, and I want to get the sequence from which name of the file. thanks.

[code]

[2019-07-20 15:11] peterjc commented on #2178
The dictionary like object from ``Bio.SeqIO.index_db`` does not currently expose the filenames as a public attribute or method, but it does have this information for internal use.

Someone would need to write some code to get this information from the SQLite database (the index file). The most relevant code is here: https://github.com/biopython/biopython/blob/biopython-174/Bio/File.py#L784

Do you

[2019-07-20 17:26] bede commented on #2175
Thanks – my suggestion was just to go for the p>0.95 calls in the main output. That should cover common use cases?

So far I've found two distinct representations of sites selected under BEB and NEB: one for site models and another for branch-site models. Presumably other models may have their own format – I haven't yet explored this. I also haven't tested against a large sample of gene families,

[2019-07-22 08:31] SchwarzMarek opened #2179 "NCBIXML does not set "bits" in 1.74"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

### Expected behaviour

The `bits` attribute in the HSP object having a value (float).

### Actual behaviour

The `bits`attribute is set to `None`.

### Steps to reproduce

Obtain XML file from `biopython/Tests/Blast/xml_2212L_blastx_001.xml`.

Run attached code:
[code]

For biopyt

[2019-07-22 08:50] peterjc commented on #2179
From the timing, this is most likely a side effect of adding BLAST XML v2 support in #1997, could you take a quick look @rtf-const?

[2019-07-22 09:16] brandoninvergo commented on #2175
Sounds good. I agree that's the way to go.

*le sigh*

Anyway, thanks for taking this on. If you run into any problems, don't hesitate to get in touch.

ps - @peterjc, I don't see a general list of possible projects for new contributors anywhere, but fyi if someone came along who is willing to try to write a parser for PAML's supplementary file output (mostly the "rst" file that it produces), that

[2019-07-22 10:16] MarkusPiotrowski commented on #2173
@liugaocn When you open one of these files in a text editor you will see that the format is totally different from the format of the two demo CEL files in our test folder.
[Reading here](https://www.affymetrix.com/support/developer/powertools/changelog/gcos-agcc/cel.html#calvin) it seems that your files are in the **Command Console Format** which seems to be not supported by Biopython's CEL parser

[2019-07-22 11:04] peterjc commented on #2175
You could add this to https://biopython.org/wiki/Active_projects under "Project Ideas", which we sometimes also use for Google Summer of Code ideas https://biopython.org/wiki/Google_Summer_of_Code

[2019-07-22 11:20] MarkusPiotrowski commented on #2173
Of course, this should throw an exception. @picrin?

[2019-07-22 12:38] brandoninvergo commented on #2175
Done, thanks.

[2019-07-22 14:21] peterjc commented on #2175
https://github.com/biopython/biopython.github.io/pull/147 merged, thanks.

[2019-07-24 04:13] svalqui commented on #1288
I'll have a look at Bio.Uniprot

[2019-07-24 21:01] TBWarrington opened #2183 "Parser Warnings not being reported"
### Setup

I am reporting a problem with Biopython version: 1.74, Python version: 3.6.4, and operating
system: Ubuntu (Linux-4.4.0-17763-Microsoft-x86_64-with-Ubuntu-18.04-bionic). Problem also in Biopython version 1.73, Python version 3.7.3 on Windows 10 (Windows-10-10.0.17763-SP0).

### Expected behaviour

Parser Warning warns when it can't parse a feature location when importing genbank files.

[2019-07-24 21:10] peterjc commented on #2183
My guess would be Python's default warning filters suppress duplicate
warnings with the exact same message, and I don't think you are preventing
that.

I would probably write this with the ``warnings`` module used to catch the
warnings by class, see:

https://docs.python.org/3/library/warnings.html#warnings.catch_warnings

I thought we had an example doing something like this in the Tutorial but I

[2019-07-24 21:17] TBWarrington commented on #2183
Yep, that's exactly what was happening. Added this to my script:
warnings.simplefilter('always', Warning)

Works fine now. Thanks!

[2019-07-24 21:27] #2183 closed

[2019-07-26 13:49] jandrovins opened #2184 "BLAST+ new arguments -negative_taxidlist,-negative_taxids,-sorthits,-sorthsps,-subject_besthit,-taxidlist,-taxids etc"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

### Expected behaviour

Run  ```python setup.py test``` and **test_NCBI_BLAST_tools** to be ok without verbosity,

### Actual behaviour

Run ```python setup.py test``` and in **test_NCBI_BLAST_tools**:

[code]

### Steps to reproduce

Clone the repository
[code]

[2019-07-26 17:54] nimne commented on #2184
What version of NCBI BLAST+ is installed? You can find this out by running `blastn -version` (or any of the other BLAST+ commands).

[2019-07-27 12:54] peterjc commented on #2179
Fixed by #2180

[2019-07-27 12:54] #2179 closed

[2019-07-27 13:40] jgreener64 commented on #1884
#2186 would fix this.

[2019-07-27 13:41] jgreener64 commented on #1533
#2186 implements the suggestion to store everything as lists.

[2019-07-28 09:49] jgreener64 commented on #1956
There is a proposal for this in #2185.

[2019-07-29 13:14] jandrovins commented on #2184
blastn: 2.9.0+

[2019-07-29 13:36] peterjc commented on #2184
It looks like the NCBI have added several new arguments to the command line tools: ``-negative_taxidlist``, ``-negative_taxids``, ``-sorthits``, ``-sorthsps``, ``-subject_besthit``, ``-taxidlist``, ``-taxids`` (etc).

We need to update file ``Bio/Blast/Applications.py`` (harder) and then tweak ``Tests/test_NCBI_BLAST_tools.py`` so it won't complain on older versions of BLAST (easy).

https://githu

[2019-07-29 14:39] peterjc commented on #2008
A group of about five or six people discussed this on the second day at the BOSC2019 CoFest, including @sbliven and @hmenager (who else? @jgreener64 and @JoaoRodrigues were you in that discussion?), and went over the GenomeDiagram example on PR #2029.

I would summarise this most of us disliked something in the black style (often the tendency to use more lines than really necessary), but saw great

[2019-07-29 16:09] peterjc commented on #2008
One of the changes ``black`` makes is to preferentially use double quotes for strings, which we can do on its own with a tool like ``unify``, https://github.com/myint/unify

Note it doesn't support folders, so you can do it in stages, e.g.

[code]

It seems helpful to apply those changes first, as this would make the changes from ``black`` smaller and thus easier to review?

[2019-07-29 16:19] peterjc commented on #2008
As a step towards adopting black, I've made a proof of principle pull request doing just the double quote changes - it turned out to be quite monster! See #2192

This would in particular affect code from @mdehoon @brandoninvergo @bow @lijax (and others), who evidently once or still prefer single quotes. What do you think (of the quotes, but also what black would do to your code)?

[2019-07-29 17:12] brandoninvergo commented on #2008
@peterjc: I still have the completely irrelevant and inadvisable habit of putting single-quotes around single characters and double-quotes around longer strings...like C `char` vs `char*`. I'm probably even inconsistent about it. So, no qualms from me about the changes.  Overall, I like what I see.

[2019-07-30 01:28] jandrovins commented on #2184
Yes, I can give it a try! This week will be very busy for me, this would be ready in about 10 days if I take too long.

Would this be OK?

[2019-07-30 09:04] peterjc commented on #2008
Copying Tiago's comment from #2001

Points in favour of single quotes: Python's ``repr(...)`` uses them for strings. The official Python tutorial seems to prefer them https://docs.python.org/3/tutorial/

Points in favour of double quotes: Black uses this. It works for copy-and-paste from our PDF tutorial. It seems to be more common in our code base.

These grep searches can surely be improved, but

[2019-07-30 10:00] MarkusPiotrowski commented on #2008
That's what I don't like about Black, it's style looks very different from the code examples in the Python documentation...(including PEP8). Whereby quotation marks are still the lesser evil.

Another point in favour of double quotes: You can use the single quote within a string without escaping or changing the outer quotes.

[2019-07-30 10:01] peterjc commented on #2184
That'd be fine - thank you 👍

To avoid code duplication, you'll need to work out which of the new commands are shared between tools, and hopefully they will match one of the classes which the individual command wrappers subclass. Please ask if you get stuck, or if we need to explain anything in more detail.

[2019-07-30 10:09] peterjc commented on #2008
Personally I like the double quotes (probably because I learnt C earlier).

Note both ``black`` and ``unify`` allow switching quote style when you need to include the other quote without slash escaping it, so I don't see this as a point in favour of one or the other.

https://black.readthedocs.io/en/stable/the_black_code_style.html#strings

Interestingly black currently has two configurable settin

[2019-07-30 10:31] MarkusPiotrowski commented on #2008
I meant that it is more likely to have an apostrophe in a string and then, if you prefer single quotes, you have to escape it (looks ugly) or change the quotes.

Anyhow, I totally agree with the overall aim to get the style of the codebase more uniform and I don't have problems with using  double quotes.

Funny, I like single quotes because I learnt Basic and Java earlier and Python was different.

[2019-07-30 10:45] widdowquinn commented on #2008
I've come across this in the context of regular expressions, where I've wanted to match a double-quote and the simplest option is to use single-quotes for the string. `black` doesn't complain or modify the code.

[2019-07-31 10:06] #2173 closed

[2019-07-31 10:54] picrin commented on #2173
Hi Markus, AFAIR the only two formats we support are version 3 format and version 4 format. "Command Console Format" is not supported. And agreed, ideally we would detect the format and throw an exception.

[2019-07-31 17:30] servalli commented on #1381
I have edited your example to simulate protein sequences, no other changes:
[code]
It throws the same error as not stating an alphabet:
[code]
If the alphabet is stated as generic_protein, but sequences only contain A|T|G|C, it works. Generic_rna with "U" symbols fails.
**Looks like DNA alphabet is hardcoded somewhere in the count() function**
if I replace alphabet=generic_protein with ProteinAlph

[2019-08-01 01:25] mdehoon commented on #1381
Let's get back to this issue once we drop alphabets from Biopython (in 2020).

[2019-08-01 08:47] MarkusPiotrowski commented on #2173
Reopening, since the principal problem hasn't been solved.

@picrin: Do you want to give it a try?

[2019-08-01 08:52] peterjc commented on #1381
So do you recommend RNA users explicitly convert to DNA as a work around?

[2019-08-01 08:57] picrin commented on #2173
Sorry guys, I'm entirely in a PhD-writeup mode, unable to divert much of my focus away ATM. Could do a code review?

[2019-08-01 09:22] mdehoon commented on #1381
The problem, as always, is in `Bio.Alphabet`:
[code]

[2019-08-01 09:36] servalli commented on #1381
[code]
Ok, now I am definitely puzzled with this, `generic_dna` shouldn't be working with motifs, but it works

[2019-08-01 09:41] mdehoon commented on #1381
@servalli  It works because Bio.motifs defaults to DNA if no usable alphabet is provided.

[2019-08-01 10:48] peterjc commented on #1381
All the generic Alphabet objects have ``.letters = None``, the IUPAC Alphabet objects set this attribute.

[2019-08-01 15:55] peterjc commented on #2173
@liugaocn do you fancy trying this as your first Biopython contribution? Adding a try/except and raising a ``ValueError`` with a message about not being in the expected format?

[2019-08-02 21:04] jgreener64 commented on #1533
I think this can be closed now as #2186 is merged.

[2019-08-02 21:04] jgreener64 commented on #1884
I think this can be closed now as #2186 is merged.

[2019-08-03 06:10] mdehoon opened #2202 "Bio.SubsMat.read_text_matrix unexpected result"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

### Steps to reproduce

Download this Blast substitution matrix from NCBI:
ftp://ftp.ncbi.nlm.nih.gov/blast/matrices/NUC.4.4

Then load it with the `read_text_matrix` function in `Bio.SubsMat`:
[code]

This is the correct value (compare to the file from NCBI). But for off-diagonal

[2019-08-03 06:13] mdehoon commented on #2202
@peterjc  @MarkusPiotrowski  This will affect users who use `read_text_matrix` to create a substitution matrix to use with the pairwise sequence aligners.

[2019-08-05 06:24] svalqui commented on #958
@peterjc Could you please close this one?, it was removed on this commit e9cebed70bbebbcfacf573894fa2ce967c8aba4d

[2019-08-05 08:41] peterjc commented on #958
Thanks

[2019-08-05 08:41] #958 closed

[2019-08-05 10:23] peterjc commented on #2202
This is related to the key order, and treatment as a full matrix vs a half matrix:

[code]

It is the call to ``_full_to_half`` which combines ``mat['A', 'T'] == -4`` with ``mat['T', 'A'] == -4`` into a single entry of ``-8``, quoting the class ``__init__``:

[code]

If this was a mismatch in the parser and the class constructor expectations - treating it as a half matrix input (when it isn't) - i

[2019-08-05 10:23] #1533 closed

[2019-08-05 10:23] #1884 closed

[2019-08-05 10:24] peterjc commented on #1884
Thanks. There is a magic comment pattern which triggers GitHub to close issues when a pull request is merged... we're not seeing that though. I wonder if the pull request template can be tweaked to help?

[2019-08-05 10:44] jgreener64 commented on #1884
I think changing "addresses issue" to "closes" or "fixes" would do it, though it's not always a case that a PR addressing an issue would wish to close the issue on merge.

[2019-08-05 11:14] peterjc commented on #1884
You're right, having the default template wording always trigger the auto-close might not be ideal. But would it be better than the current situation? Maybe best discussed on a new issue... thanks!

[2019-08-05 14:25] mdehoon commented on #2202
Yes it was deliberate - see lines 40-43 in `Bio/SubsMat/__init__.py`. But it leads to surprising results, as in the example above.

I think that there are three fundamental problems with this module:
1) Unexpected behavior of half-matrices and full-matrices, as in the current issue;
2) The name of this module (`SubsMat`). The relevant class in this module is SeqMat. SubsMat refers to substitution

[2019-08-05 14:34] peterjc commented on #2202
https://github.com/biopython/biopython/blob/biopython-174/Bio/SubsMat/__init__.py#L40

A new class seems a good idea.

[2019-08-07 09:55] mdehoon commented on #2202
What do you think would be a good place for a new class to live? I guess `seqmats` could be a reasonable name for a module, and `SeqMat` or `SequenceMatrix` as the class name. And since this module would be used from Bio.Align only, perhaps `seqmats` could be a submodule of Bio.Align?

[2019-08-07 10:56] peterjc commented on #2202
Are you thinking in terms of substitution matrices when you say sequence matrix? To me that sounds more like an array representation of a multiple sequence alignment. But a new top level module under ``Bio`` or a submodule under ``Bio.Align`` seems reasonable either way.

[2019-08-08 12:12] liugaocn commented on #2173
Hahah. I don't know much about this format yet. It would be difficult for me to add support for this format.
This .cel format seems to be popular on pubmed.

[2019-08-09 06:34] svalqui commented on #1288
I'll have a look at extending coverage for Bio.UniGene a bit more.

[2019-08-09 08:47] peterjc commented on #1288
Having had a quick look at the figures, ``Bio.Geo`` is another good target - it looks like adding a test for the record's ``__str__`` method would bump that up a lot:

https://codecov.io/gh/biopython/biopython/src/master/Bio/Geo/Record.py

[2019-08-09 10:08] peterjc commented on #2173
Adding a new format would be an impressive first contribution - but I meant just graceful error handling when trying to parse the wrong file format instead of the ``struct.error: unpack requires a buffer of 10 bytes`` exception.

[2019-08-09 13:18] alffdtu commented on #2179
This bug does not seem fixed in the Biopython that is installed with pip. I get the same error with the biopython 1.74 upgraded with pip

[2019-08-09 13:56] peterjc commented on #2179
@alffdtu Correct, this bug was reported against Biopython 1.74.

The fix ce2a57d1b9ec53ec5814d1de83bf89438bdfe747 was merged on 23 July, so will be included in Biopython 1.75.

[2019-08-12 05:26] macraild opened #2207 "SeqFeature.WithinPosition instances fail to unpickle"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

3.6.6 (default, Jan 26 2019, 16:53:05)
[GCC 4.8.5 20150623 (Red Hat 4.8.5-36)]
CPython
Linux-3.10.0-693.21.1.el7.x86_64-x86_64-with-centos-7.2.1511-Core
1.74

### Expected behaviour

Instances of WithinPosition should pickle and unpickle

### Actual behaviour

Unpickling a WithinPosition i

[2019-08-12 09:26] peterjc commented on #2207
Do you know enough about pickle to fix this and add a couple of unit tests, e.g. to ``Tests/test_SeqFeature.py`` for the positions, and perhaps also higher level in ``Tests/test_SeqRecord.py``?

You can see a test added here to help with pickling a ``SeqRecord`` in the past:

https://github.com/biopython/biopython/blob/biopython-174/Bio/SeqRecord.py#L50

[2019-08-12 16:29] peterjc commented on #907
During the BOSC CoFest 2019, @anilbey was able to convert ``test_Tutorial.py`` to work with RST files - pull request #2188.

Another idea is to use sphinx's built in doctest support - but as far as I know that lacks any fine grained control (e.g. dependencies). We would also have to update all the examples to use a particular working directory for relative paths.

[2019-08-13 03:53] macraild commented on #2207
I'm not certain, but the attached diff seems to work.

Strictly speaking ExactPosition, BeforePosition and AfterPosition should also define \_\_getnewargs\_\_ returning the \_\_new\_\_ arguments position and extension. I haven't done so here because:
1) extension is only available to the instance by way of a method marked obsolete
2) in practice it doesn't matter because extension is defined by de

[2019-08-14 06:47] mukhyala opened #2211 "SeqIO.PdbIO does not support residue insertion codes"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

### Expected behaviour

...     print(record.seq)
...
ILGGREAEAHARPYMASVQLNXGAHLCGGVLVAEQWVLSAAHCLEDAADGKVQVLLGAHSLSQPEPSKRLYDVLRAVPHPDSQPDTIDHDLLLLQLSEKATLGXXPAVRPLPWQRVDRDVAPGTLCDVAGWGIVNHAXGRRPDSLQHVLLPVLDRATCNRRTHHDGAITERLMCAESNRRDSCKGDSGGPLVCGXXXXGVLEGVVTSGSRVCGNRKKPGIYTRVASYA

[2019-08-14 09:44] peterjc commented on #2211
Can you turn your one line fix into a pull request? You can even do this within your web-browser as GitHub will let you edit ``Bio/SeqIO/PdbIO.py`` and guide you through the process.

I've not looked at the PDB code recently enough to comment on the change - I will defer to one of the others for that.

[2019-08-14 11:10] xulesc commented on #898
I hereby give my explicit permission to switch to the BSD 3-clause license.

[2019-08-14 12:25] starius commented on #898
I hereby give my explicit permission to switch to the BSD 3-clause license.

[2019-08-14 15:22] peterjc commented on #906
As of 3c6a2c205bd3b16d7138d906eff07c6fb3d23080 the Sphinx API documentation pages all have working "Edit on GitHub" links (which point at the associated Python files):

https://biopython.org/docs/dev/api/

Again final URLs subject to change, we discussed including a language code like ``/en/`` in the URL - probably before the version or ``/dev/`` for latest version?

[2019-08-14 15:39] peterjc commented on #906
Cross reference #2174 for the current deliberate exclusion of ``Bio.Restriction.Restriction`` from the Sphinx API documentation.

[2019-08-14 16:00] peterjc commented on #906
Other points raised by @MarkusPiotrowski on #2172,

Style and font sizes are down to the Sphinx theme, currently the popular read-the-docs theme. We can look at changing that.

tables of functions - I'm unsure if sphinx apidoc offers anything like this?

tables of variables - I'm not sure how to get Sphinx to include public variables in a module. That would be useful.

It might be worth looking at

[2019-08-14 17:54] wgillett commented on #898
I hereby give my explicit permission to switch to the BSD 3-clause license.

[2019-08-14 20:05] peterjc commented on #898
Thank you all this week, including @hectormartinezdev and @biojerm on #2212.

As a reminder, GtiHub lets you "mute this thread", see the link at the end of their emails on an issue - and I encourage you to do that if you are getting too many emails now that you've agreed to the dual licensing.

[2019-08-15 11:47] cariaso opened #2216 "Bio.pairwise2.align.localds now inconsistently adds labels for some alignments"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

in comparison to 1.73

### Expected behaviour

consistency between 1.73 and 1.74

### Actual behaviour

localds alignments sometimes include numeric positions

### Steps to reproduce

[code]

[code]

specifically the inconsistent presence of ' 2 ' (and the similar formatting) on th

[2019-08-15 13:07] peterjc commented on #2216
You are not expected to parse the output from ``Bio.pairwise2.format_alignment()`` - What are you trying to do? It would be better to access the values directly.

I think the "inconsistency" is the following behaviour:

https://github.com/biopython/biopython/blob/biopython-174/Bio/pairwise2.py#L1102

[2019-08-15 13:59] cariaso commented on #2216
[code]
but what is the equivalent for computing mid?

[2019-08-15 14:24] peterjc commented on #2216
The exact content has changed over the years, I would suggest writing your own function doing what do want it to be? e.g.

[code]

Gives:

[code]

[2019-08-15 14:35] cariaso commented on #2216
I can, and probably will. but given the need for a 'roll your own'. I doubt I'm the only one who's done this, and the change in behavior is probably silently biting a lot of other codes.

[2019-08-15 15:16] peterjc commented on #2216
I think the real problem was the temptation to parse "pretty output" intended for humans, rather than the module exposing the match string as a method or attribute or something. That could still be added?

The changes in Biopython 1.71 and 1.74 were both in the ``NEWS.rst`` file. The pull requests for those changes:
- https://github.com/biopython/biopython/pull/1352
- https://github.com/biopython/

[2019-08-16 12:08] #2207 closed

[2019-08-16 12:57] peterjc commented on #2046
Note to self for a possible reduced sequence type system: ``enum34`` (available on PyPI) is the new Python stdlib enum module available in Python 3.4 backported for previous versions of Python from 2.4 to 3.3. tested on 2.6, 2.7, and 3.3+

[2019-08-16 17:36] claudiusmueller opened #2218 "SearchIO.write crashes with AttributeError"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

3.6.5 (default, Mar 31 2018, 19:45:04) [GCC]
CPython Linux-4.12.14-lp150.12.67-default-x86_64-with-glibc2.3.4
1.74

### Expected behaviour

[code]

or

`SearchIO.convert('raw_blast.xml', 'blast-xml', 'test.tab', 'blast-tab')`

should read a previously saved blast result file in xml

[2019-08-18 12:03] MarkusPiotrowski commented on #2216
Re-opening, until #2143 is merged.

Sorry, I was on holidays.

Actually there is a pull request which allows to set the old behaviour (PR #2143), but it seems, unfortuntately, that we forgot to merge it before releasing Biopython 1.74.

[2019-08-19 14:53] peterjc commented on #2218
Confirming using ``Tests/Blast/xml_2226_tblastx_004.xml``, looks like a regression from Biopython 1.73 to 1.74:

[code]

(note the unwanted ``BiopythonWarning`` in the above, that at least was fixed)

versus:

[code]

[2019-08-19 22:57] svalqui commented on #1288
@peterjc something has happened on codecov that it doesn't highlight the code anymore; there is an issue raised here:
https://github.com/codecov/codecov-python/issues/207
but that project has not been updated much lately, I might be related to changes on this project:
https://github.com/codecov/codecov-bash
having a brief look into other projects, some are working and others aren't; so is unclear

[2019-08-20 06:52] shshivani opened #2219 "Having issues specifying a usertree in phyml commandline."
I want to know what options of phyml does biopython allows to use. I'm not able to input a usertree. The error says option name u not available.

[code]

I'm writing a script that'd use phyml commandline by using a usertree to start with.

[code]

I am reporting a problem with Biopython1.74, Python 3.7.4, and windows 10 home operating
system .

[2019-08-20 07:58] sbliven commented on #2008
Let's not get too bogged down in any particular style choice here. The central point as I see it is whether the conformity represented by black (both conformity within BioPython and conformity to the trends in the larger python community) is worth the inevitable places where manual formatting is superior to automatic formatting.

After the discussions at CoFest I support moving to black.

+1

[2019-08-20 09:12] peterjc commented on #2008
If there are no objections (e.g. @MarkusPiotrowski & @mdehoon?), I propose we start running ``black`` on a module by module level, with pull requests for human review - particularly for things like comment placement, and in rare cases adding the special comment lines to disable black for a region.

Once we've done the whole code base, we can start enforcing this with the continuous integration che

[2019-08-20 09:22] peterjc commented on #2008
OK, requesting any objections by the end of August 2019, here or on the mailing list:
https://mailman.open-bio.org/pipermail/biopython/2019-August/016661.html

[2019-08-20 09:29] peterjc commented on #2219
You need to use ``input_tree =...`` rather than ``u=...``

[code]

Curiously ``help(PhymlCommandline)`` or the online API documentation does not work as well, it has to be an instance of the object... there is likely something we can do better there.

[2019-08-20 09:34] peterjc commented on #1288
I'd noticed the CodeCov issue last week or so - I was hoping it was a temporary glitch. Fingers crossed they can fix it (or point people at any configuration change).

There are/were alternative platforms, but CodeCov was the nicest at the time we set this up.

[2019-08-20 09:48] ShivaniSharma2019 commented on #2219
Sir, I tried that as well.

cmdline = PhymlCommandline(input=str1, datatype='nt', input_tree="C:/Users/Shivani/Documents/Research Internship/Files by Dates/August/19 Aug/usertree.nwk")
out_log, err_log = cmdline()

 I got the following error:
Traceback (most recent call last):
  File "C:\Users\Shivani\Documents\Research Internship\Files by Dates\August\19 August\gene_tree1.py", line 24, in <module

[2019-08-20 11:17] peterjc commented on #2219
Command line tools return an integer value (their "return code"), which by convention is zero for success, and non-zero for failure. In this case, return code 1 means a failure of some kind.

The exact meaning of return codes will depend on the tool, in this case ``phyml``.

At this point I would work directly at the command line to see if I can produce the error, and if there are any clues in the

[2019-08-20 12:08] peterjc opened #2220 "Application wrapper API documentation is lacking"
Related to #906, moving from epydoc to sphinx, I note neither does a good job showing the API documentation of our  command line application wrapper objects - e.g. for ``blastn``:

* http://biopython.org/DIST/docs/api/Bio.Blast.Applications.NcbiblastnCommandline-class.html
* https://biopython.org/docs/1.74/api/Bio.Blast.Applications.html#Bio.Blast.Applications.NcbiblastnCommandline
* https://biopy

[2019-08-20 13:00] mobiusklein opened #2221 "Proposal: pairwise2.align return type"
The return value of `Bio.pairwise2.align` functions is a `tuple` of values whose index labels can only be inferred from reading the (thorough) documentation. This tuple is convenient to pass among functions but is hard for a human to read, especially if the sequence length exceeds the width of the display area.

This proposal suggests replacing the returned tuple with a `namedtuple` based class:
[

[2019-08-20 13:56] peterjc commented on #2221
Using a ``namedtuple`` seems a low risk improvement, but I will defer to @MarkusPiotrowski and @mdehoon for pairwise changes.

[2019-08-21 01:41] svalqui commented on #2008
Is there any agreement in the max line length? is it going to be left as default 80?

[2019-08-21 05:39] mdehoon commented on #2221
I am against adding one more `Alignment` class to Biopython (there is already a `MultipleSeqAlignment` and a `PairwiseAlignment` class in `Bio.Align`). Could you use the pairwise aligner in `Bio.Align` as a replacement for `Bio.pairwise2`? Then the alignment will be returned as an object.