[2020-02-03 10:39] peterjc commented on #2620
If you try to parse this file with a recent Biopython it should fail as follows:

[code]

[2020-02-03 11:04] peterjc commented on #2616
Very likely - can you share that file, or at least a section including the suspect ``misc_feature``?

[2020-02-03 13:09] Andrey-Raspopov commented on #2620
I've created PR with minimal support. As I can see, there were no further commits addressing TSA as well, do we want to expand on that in Record?

[2020-02-03 13:13] peterjc commented on #2620
There is scope to do something with the TSA and TLS lines on output and in the Record class. If you have a motivating use case, great - otherwise improving round trip data preservation is a good guide.

[2020-02-03 13:17] MarkusPiotrowski commented on #2313
No more feedback from the OP; so closing now.

[2020-02-03 13:17] #2313 closed

[2020-02-03 15:07] peterjc commented on #1097
This was included in Biopython 1.72 (21 June 2018), belatedly closing issue.

[2020-02-03 15:07] #1097 closed

[2020-02-03 15:12] peterjc commented on #2145
This was fixed in #2146, forgot to close this issue at the time.

[2020-02-03 15:12] #2145 closed

[2020-02-03 16:00] alexlenail commented on #2616
I'm happy just moving on :) Thanks for getting back!

[2020-02-03 16:00] #2616 closed

[2020-02-05 02:01] svalqui commented on #2552
I'll work on test_SearchIO* files.

[2020-02-05 16:01] BastianJKF opened #2631 "" cannot import name 'BiopythonWarning' from 'Bio' ""
Hi there I´m just starting using Biopython and just want to start the tutorial provided on the website... this happens just in the first command line

### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

(*Please copy and run the above in your Python, and copy-and-paste the output*)

### Expected behaviour

[code]

### Actual behavio

[2020-02-05 16:17] peterjc commented on #2631
This is strange - could you fill in the missing key information about which version of Biopython you have installed?

It looks like it was installed with conda, did you do "conda install biopython"?

[2020-02-05 18:44] Ellmen opened #2632 "Support individual gapped sequences for pairwise alignment"
Currently, the PairwiseAlignment class does not allow you to get the gapped sequences individually. This makes it hard to grab the sequences to, for instance, store them as a specified filetype.

There could be gapped_target() and gapped_query() functions that return these sequences. These functions could also be used when generating the formatted string. It would also be helpful to directly save

[2020-02-05 23:30] mdehoon commented on #2632
@Ellmen  It makes sense; I am happy to look at your proposed code. Probably it makes most sense if gapped_target and gapped_query return a string instead of a Seq object. Also, we may merge the PairwiseAlignment and MultipleSeqAlignment classes at some point, so it may be better to have a single function or attribute that takes an index (0 or 1 for now) instead of target/query.

[2020-02-06 19:11] Ellmen commented on #2632
@mdehoon great, I'll try to get to that today. I like the idea of merging the pairwise and MSA classes 👍

[2020-02-06 23:02] MatthewRalston opened #2641 "Overwrite line in bgzf [Enhancement request]"
Hello,
I understand enough about the bgzf format that after obtaining the block offset and line offset (pardon if my terminology is slightly off), the pointer jumps to the position on disk where the block begins, and can begin parsing the block start bits, and then jump to the line offset, where the user is requesting read or write access.

Is it possible to overwrite the current line with Bio.bgz

[2020-02-07 12:17] BastianJKF commented on #2631
Hey there =)

Thanks for the answer. i think i tried both... however, i fond the problem. somehow i had 2 different versions of python installed. so i had to completely deinstall everything and reinstall it. now it´s working

best,
bastian

[2020-02-07 13:23] peterjc commented on #2631
Ah - glad you solved it. That situation can be very confusing.

[2020-02-07 13:23] #2631 closed

[2020-02-07 14:13] peterjc commented on #2641
I think this would be practically impossible - you'd have to replace a BGZF block mid file with a new block of the same size on disk.

[2020-02-07 14:14] MatthewRalston commented on #2641
Thanks Peter. My mistake. I guess I should just use regular databases for that. Closing.

[2020-02-07 14:14] #2641 closed

[2020-02-07 21:53] TianyiShi2001 opened #2646 "Amend `Bio.SeqUtils.IsoelectricPoint`: Rewrite `IsoelectricPoint.pi()`"
I want to rewrite the pI calculation method in `Bio.SeqUtils.IsoelectricPoint`.

The original code:

[code]

My version:

[code]

The original method involves two stages.

1.  Start with pH 7 and calculate charge. If it's positive, increment pH by 1.0 and calculate charge again, and repeat until the charge becomes negative (if it's negative at pH7 then decrease pH until the sign turns positive). *

[2020-02-08 00:11] TianyiShi2001 opened #2647 "Amend `Bio.SeqUtils.IsoelectricPoint`: Remove unnecessarily duplicated function"
The `charge_at_pH()` and `_chargeR()` methods are unnecessarily duplicated. `_chargeR()` is used three times in the class `IsoelectricPoint` while `charge_at_pH()` is used by other modules. There is no need for this method to be pseudo-private. I suggest merging these two into a single `charge_at_pH()` method, whose name is more intuitive than `_chargeR()`.

Original:

[code]

Suggested:

[code]

[2020-02-08 00:24] TianyiShi2001 opened #2648 "Amend `Bio.SeqUtils.IsoelectricPoint`: updating source data"
The data used in the module `Bio.SeqUtils.IsoelectricPoint` are based on articles in the 1990s — 30 years ago. Can we cite more recent literature, e.g. [Kozlowski 2016](https://doi.org/10.1186/s13062-016-0159-9) and update the data accordingly?

[code]

[2020-02-09 22:17] svalqui commented on #2552
I'll work on test_pro* files.

[2020-02-10 10:13] MarkusPiotrowski commented on #2648
Changing hardcoded values is problematic for backward compatibility. Also, although I can understand to use more recent and probably more accurate data, what do you do if next week there is another paper with even 'better' pKa datasets?
You may consider changing the module that it becomes easy to change the underlying datasets. I did a similar thing with `MeltingTemp`: I hardcoded several often us

[2020-02-10 11:24] TianyiShi2001 commented on #2648
Sounds good. I'll create different datasets which allows for choice, and the default will be the current one (which is used by ExPASy). Probably I will also implement more choosable algorithms in the future.

[2020-02-10 14:43] #2648 closed

[2020-02-11 09:07] abretaud opened #2690 "No more cp27-cp27mu-manylinux1_x86_64 wheels?"
I'm trying to install biopython 1.76 in a 2.7 virtualenv in ubuntu 18.04, but pip can't find a suitable wheel, and tries to compile biopython instead (and fails as gcc is not install).
Running pip install in verbose mode gives me (kept only version 1.76 with cp27):
[code]

My python version is looking for cp27-cp27mu-manylinux1_x86_64, which is not available for 1.75 and 1.76.

For version <=1.74,

[2020-02-11 12:40] peterjc commented on #2690
Note Biopython 1.77 onwards will not have Python 2 support _at all_. Which is not to say belatedly release the missing wheels is impossible.

It looks like you want the 64-bit Linux Python 2.7 manylinux1 wheel with the unicode width which unfortunately didn't work when building the wheels on the last two releases (this and the 32-bit one):

https://travis-ci.org/biopython/biopython-wheels/builds/6

[2020-02-11 12:47] peterjc commented on #2620
Closing with #22662 merged - although there is room for further work here on output etc. Thank you!

[2020-02-11 12:47] #2620 closed

[2020-02-11 12:55] MarkusPiotrowski commented on #2690
This would not apply for the 'old' pairwise aligner `pairwise2`.

[2020-02-11 12:58] peterjc commented on #2690
Right - ``test_pairwise_aligner.py`` is for the 'new' pairwise aligner in ``Bio.Align`` (added in Biopython 1.72), not the 'old'  one in ``Bio.pairwise2``. I should have been clearer.

[2020-02-11 14:34] ms-gx opened #2691 "Question: Test for valid FASTA/Q"
What is the most elegant and efficient way to test if I have a valid FASTA/Q with Biopython?

I have Biopython 1.73

[2020-02-11 14:46] peterjc commented on #2691
Note the current release is Biopython 1.76, your release is a year old. It shouldn't matter for this specific question.

Valid FASTA is a very tricky concept - the format isn't formally defined and almost anything goes - different tools have their own rules and limits on things like what letters are expected in the sequence.

FASTQ is better, but still the closest thing to a specification was some

[2020-02-11 16:25] abretaud commented on #2690
Thanks for the explanation, I see the point now!
I needed it for installation in a docker image of galaxy. Switching to Python 3 is on its way for future versions of galaxy, but not yet for this one.
I think I'll just use the 1.74 version until we switch to python 3. It's better I think than distributing a slightly broken wheel that could give headaches to other people later

[2020-02-11 16:25] #2690 closed

[2020-02-11 16:57] peterjc commented on #2690
That's pragmatic and hopefully a satisfactory solution. Sorry about that.

[2020-02-11 22:37] svalqui commented on #2552
I'll work on test_Phylo* files.

[2020-02-12 05:27] svalqui commented on #2552
I'll work on test_PAML* files.

[2020-02-12 09:58] ms-gx commented on #2691
Yes, I think it does the trick. Thanks!

[2020-02-12 09:58] #2691 closed

[2020-02-12 11:00] peterjc opened #2698 "Use assertIn and assertNotIn unittest methods"
We have now dropped Python 2 support, which means we can take advantage of many of the ``unittest`` framework methods where were not present on Python 2.

This issue is specifically for using ``assertIn`` and ``assertNotIn``, both new in Python 3.1:

https://docs.python.org/3/library/unittest.html#unittest.TestCase.assertIn
https://docs.python.org/3/library/unittest.html#unittest.TestCase.assertNo

[2020-02-12 11:11] peterjc opened #2700 "Use assertIsInstance and assertNotIsInstance unittest methods"
We have now dropped Python 2 support, which means we can take advantage of many of the unittest framework methods where were not present on Python 2.

This issue is specifically for using ``assertIsInstance`` and ``assertNotIsInstance``, both new in Python 3.2:

https://docs.python.org/3/library/unittest.html#unittest.TestCase.assertIsInstance
https://docs.python.org/3/library/unittest.html#unitte

[2020-02-13 02:56] svalqui commented on #2552
I'll work on test_T* files.

[2020-02-13 13:06] TianyiShi2001 opened #2708 "Parse `dbxrefs` from FASTA"
It seems that the current FASTA parser can't parse database references from FASTA files.
Would it be nice to add an **optional argument** `dbxrefs` which:
- can be set to `True`, which means guessing the title format according to [NCBI's schema](https://ncbi.github.io/cxx-toolkit/pages/ch_demo#ch_demo.id1_fetch.html_ref_fasta)
- can be set to a string, e.g. `{gi}|{gi:accession}|{gb}|{gb:accession}

[2020-02-13 13:21] peterjc commented on #2708
Personally I've usually only ever needed a single field (usually the accession) from the string and have done ad hoc parsing of the record's identifier as needed.

Another option available right now is to specify the optional (and I suspect almost never used) ``title2ids`` function, but that only lets you set the record's ``.id``, ``.name`` and ``.description`` - not set things like ``.dbxrefs`` w

[2020-02-13 17:21] andrei-istrate commented on #1733
In this discussion it was mentioned that it was "created an index by _atom_site_anisotrop.id, so it can be related back to _atom_site.id".

However in the current implementation the relation between _atom_site_anisotrop.id and _atom_site.id is not checked which means that the _atom_site_anisotrop.U values are correctly assigned only if _atom_site_anisotrop.id and _atom_site.id follow the same orde

[2020-02-13 18:07] TianyiShi2001 commented on #2708
Making a new `fasta-ncbi` parser looks good. Please see my current implementation in PR #2711 . This is still a prototype so please make comments on this.

Currently, I am not sure about the structure of the `dbxref` dictionary.

[2020-02-13 18:10] TianyiShi2001 commented on #2708
I'd also like to make a `fasta-ncbi` **writer** which can convert valid database cross-references parsed from other filetypes into NCBI FASTA's title lines.

[2020-02-13 18:25] peterjc commented on #2708
The output would be much harder - but if you want to, I would start by downloading matched GenBank and FASTA files from the NCBI, and try to get your output to match up.

In fact, doing that for making the parser output as consistent as possible is a good idea.

[2020-02-13 18:45] TianyiShi2001 commented on #2708
(Quote from the PR)

We can standardise naming and representation of cross-references from different databases in BioPython (this also nicely solves the problem of inconsistent naming of databases in different file formats). This allows both string representation (saving space) and representation of complex cross-references, while avoiding ambiguity.

For example, refseq is called `REFSEQ` in `.gb

[2020-02-13 19:09] TianyiShi2001 commented on #2708
Based on standardised cross-references, it is also possible to construct urls that link to the corresponding webpage. I think this can sometimes be handy.

[2020-02-13 19:46] peterjc commented on #2708
The existing de facto standard for the ``SeqRecord`` annotation is based on the NCBI GenBank style (and by extension though the INSDC, DDBJ and EMBL too), that specifically dictates how ``.dbxrefs`` is populated as a very simple list. I would urge you to work around that for the most short term impact.

Constructing URLs/URIs from accessions is indeed possible - see also semantic web. There was so

[2020-02-14 03:36] svalqui commented on #1733
@andrei-istrate  Yes, I had created an index on #1822 you can see the code there, but at the time #1775 presented a more complete work and addressed the immediate issue #1733 ; also I couldn't find the file that highlighted the issue, So the index is not implemented.
Could you please open a new issue with the details above and I'll review and give more details about this.

[2020-02-14 10:24] andrei-istrate opened #2713 "parsing of anisotropic B factors in MMCIFParser.py"
I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]
### Actual behaviour
In the current implementation the relation between _atom_site_anisotrop.id and _atom_site.id is not checked which means that the _atom_site_anisotrop.U values are correctly assigned only if _atom_site_anisotrop.id and _atom_site.id follow the same order and there are no mi

[2020-02-16 14:26] peterjc commented on #2500
The NCBI team acknowledged a problem here, but are not currently prioritising this corner case.

I think being practical we should make the Biopython parser cope with it (issue a warning, set this feature's location to None as done in similar cases). Not ideal, but better than what we have now as you could access the main sequence and the rest of the annotation.

[2020-02-16 22:20] svalqui commented on #2552
I'll skip test_Tutorial.py as is raising errors with some doctest.
FAIL: efetch (Bio.Entrez)
FAIL: pairwise2 (Bio)

[2020-02-17 05:56] svalqui commented on #2552
I'll work on SCOP files

[2020-02-17 09:29] peterjc commented on #2552
You can try ``python run_tests.py test_Tutoturial.py --offline`` but it sounds like four of the online Entrez tests in the Tutorial were failing. Please confirm if that was only after running black or not. If not, please open a new issue. Thanks.

[2020-02-17 11:51] chris-rands commented on #2713
Did you copy the traceback correctly? It should be `mapped_anisou = [float(_) for _ in u]`, `float()` with no arguments returns `0.0` and could not raise a `ValueError`

[2020-02-17 16:13] peterjc commented on #2261
Fixed via #2716, closing - thank you!

[2020-02-17 16:13] #2261 closed

[2020-02-17 22:17] svalqui opened #2725 "Errors running test_Tutorial, chapter Entrez"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

### Expected behaviour

Run the test and pass it

### Actual behaviour

[code]
### Steps to reproduce

Build, install and run the test:
[code]

[2020-02-17 22:22] svalqui commented on #2713
I'll have a look at this, 2-3 days and I'll give further details.

[2020-02-17 22:43] svalqui commented on #2552
It was before running black, I have logged an issue for that.

[2020-02-17 22:56] svalqui commented on #2552
I'll work on test_PopGen* files

[2020-02-18 01:35] svalqui commented on #2552
I'll work on test_phenotype* files.

[2020-02-18 01:58] svalqui commented on #2552
I'll work on test_NCBI* files.

[2020-02-18 12:03] peterjc commented on #2725
Links pointing at the current master branch tip, which should be the same as what you used in terms of ``Bio.Entrez`` and the tutorial,

- test_chapter_entrez_line_00202 -https://github.com/biopython/biopython/blob/bbfefc134fff6ae9cf2838b1e4dbdba560e1bc51/Doc/Tutorial/chapter_entrez.tex#L202
- test_chapter_entrez_line_00325 - https://github.com/biopython/biopython/blob/bbfefc134fff6ae9cf2838b1e4db

[2020-02-18 12:10] peterjc commented on #2725
Can you run ``tests_Tutorial.py`` directly? That gives some big clues:

[code]

Note you'll see multiple errors from some of these, the first is usually the key.

There seems to be something very strange with Giant Panda results coming back unexpectedly...

[2020-02-18 12:35] MarkusPiotrowski commented on #2725
This is possibly related to #2707? Could it be that there is always an `efetch` call with single IDs as string?

[2020-02-18 13:20] peterjc commented on #2725
Very likely linked, yes.

[2020-02-18 13:23] MarkusPiotrowski commented on #2725
At least a few of them may be related to #2707. But also some examples may need updating, e.g.
[code]
with Biopython 1.76

[2020-02-18 15:27] andrei-istrate commented on #2713
Sorry for the confusion. It seems that I did not run it with the latest version. As far as I can see it works fine with the latest version.

[2020-02-18 15:27] #2713 closed

[2020-02-18 19:51] rubyFeedback opened #2730 "Reconsider deprecation warnings in general, from the end-user point of view"
I am using biopython-1.76, python is 3.8.1, linux version, everything compiled from source.

Since the recent biopython, whenever I start the interactive python interpreter, I get
this:

[GCC 9.2.0] on linux
Type "help", "copyright", "credits" or "license" for more information.
ty/home/Programs/Python/3.8.1/lib/python3.8/site-packages/Bio/Alphabet/__init__.py:22:
PendingDeprecationWarning: We inte

[2020-02-18 22:10] peterjc commented on #2730
Whatever we do here can't please everyone.

I am unclear about the use case - are you using some script or tool which in turn used Biopython?

[2020-02-18 23:03] mdehoon commented on #2730
I would agree with @rubyFeedback ; generally DeprecationWarnings don't seem very useful. If we want to alert the user to a change in Biopython with an easy alternative (e.g. if a function moved from module Bio.A to Bio.B), then I would prefer an Exception informing the user how their script should be adjusted. DeprecatingWarnings may be useful only in cases where some code is about to be removed f

[2020-02-19 02:41] svalqui commented on #2725
I'll work on test_chapter_entrez_line_00202.
esearch returns 20 UIDs by default, "19304878" is not included in the first 20.

[2020-02-19 07:34] MarkusPiotrowski commented on #2725
Sorting the result list may be an option? It seems they are retrieved in the order from "more recent" to "less recent"

[2020-02-19 14:52] MauriceKarrenbrock opened #2733 "Keep TER lines inside a chain"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]
### Expected behaviour

Some MD programs like Gromacs rely on TER lines that are inside a chain to distinguish the different molecules that compose them (like the protein in chain A from a ligand in chain A from a metallic ion in chain A etc...). (In fact many of the structures in t

[2020-02-19 22:29] svalqui commented on #2725
That address the first issue, the rest are efetch so I'll wait for #2707 before reviewing it.

[2020-02-19 23:05] JoaoRodrigues commented on #2733
Thank you for the detailed report! I'll have a look at it in the next couple of days.

[2020-02-20 10:29] peterjc commented on #2730
In the context of https://docs.python.org/3/whatsnew/2.7.html#changes-to-the-handling-of-deprecation-warnings is it still true that most Biopython users are developers writing their own code? There will be a number of people using it indirectly through other libraries/applications (which is think is how the bug report would describe themselves), and they certainly don't want to see the deprecation

[2020-02-20 11:09] MarkusPiotrowski commented on #2730
At least on Windows, I can not reproduce this. Did I understand something wrong?
[code]

Also, I find it strange that you get a `BiopythonDeprecationWarning` just by starting the Python interpreter?

[2020-02-20 11:13] peterjc commented on #2730
Good point, for ``Bio.Alphabet`` we are deliberately using ``PendingDeprecationWarning`` which is silent by default .

Something on @rubyFeedback's setup must be showing all warnings (even the silent by default ones).

[2020-02-20 18:02] JoaoRodrigues commented on #2733
Hi @MauriceKarrenbrock

Since the chains in the HETATM section of your example PDB are interleaved (A B A), and the OpenMM PDBWriter is overzealous about TER statements, it writes a bunch of them where they are not strictly necessary. If you look at the deposited `5aol` file on RCSB PDB, it does not have any TER statements in the HETATM section.

The specifications of the PDB format for TER statem

[2020-02-20 18:34] JoaoRodrigues opened #2736 "Writing TER records with PDBIO"
Opening an issue to discuss the placement of TER records in PDB files written by `PDBIO`, derived from #2733.

The current behavior of `PDBIO` is to write TER records at the end of all atoms of a chain, HETATM inclusive. The PDB format specs state that TER records must follow the last polypeptide/nucleic acid residue in a chain (and they never mention HETATMs).

The current implementation iterates

[2020-02-20 22:29] svalqui commented on #2552
test_NCBI_qblast.py is failing, before and after black, so not black related, I'll apply black style and then log an issue.

[2020-02-21 01:20] svalqui opened #2738 "Errors running test_NCBI_qblast.py"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

(*Please copy and run the above in your Python, and copy-and-paste the output*)

### Expected behaviour

Test to pass

### Actual behaviour

[code]

### Steps to reproduce

[code]

[2020-02-21 03:34] svalqui commented on #2552
I'll work on test_m* files.

[2020-02-21 06:49] svalqui commented on #2552
I'll work on test_l* files.

[2020-02-21 07:04] svalqui commented on #2552
I'll work on test_k* files.

[2020-02-21 09:53] MauriceKarrenbrock commented on #2733
Hello! Thank you for the quick feedback!

I see what you mean and I agree.

This would be great and I think it should stop Gromacs from complaining (when it will be done I'll check as fast as possible).

I am not sure I got what you mean here, but if you mean adding a TER when there is a missing residue I think it would confuse all the programs that complete the protein structures adding missing a

[2020-02-21 14:15] peterjc commented on #2738
Cross reference #2053 which added ``SHORT_QUERY_ADJUST`` support, perhaps @MarkusPiotrowski can take a look?

[2020-02-21 14:16] peterjc commented on #2736
Might be worth examining some PDB examples to confirm the expected behaviour, or emailing for clarification to the specification?

[2020-02-21 16:07] MarkusPiotrowski commented on #2738
There were some recent Python2/3 related changes and I fear that the online tests are often running 'under the radar' (already seen with `test_KEGG_online`).
I'll have a look.

[2020-02-21 16:22] peterjc commented on #2738
Indeed. Currently we only find out when someone tests locally and reports it, or in the run up to rolling a release (which is generally frustrating timing).

It would be fairly simple to make one of the TravisCI build targets include the online tests, but that seems a little excessive (in terms of load on other people's servers) and likely to cause false positives as they do fail intermittently at

[2020-02-21 16:53] jgreener64 commented on #2736
Sounds like a good idea. I don't use TER records much so I don't have strong opinions, but matching the PDB seems like the right thing to do. I would lean against having TER records for internal chain breaks (i.e. missing residues) because semantically I think a TER means the carboxy terminal/3' terminal ends of a protein/DNA chain, which is not relevant to missing residues.

[2020-02-22 14:13] rob-miller commented on #2736
I think that adding a flag at the input layer as suggested in #2733 would be preferable in the general case.

- For PDB input this should be easy to implement, much faster to execute, extremely robust and obvious to the user how to adjust without resorting to documentation.

- I am a dinosaur, so don't know the correct approach to assign the TER atom when reading mmCIF or other formats.  If there

[2020-02-22 17:15] Darklod commented on #1974
How about this for the conversion to ete3 in `Phylo.Newick`?

[code]

[2020-02-22 17:49] MarkusPiotrowski commented on #2738
Seems they changed the usual standard matrix for short protein queries from `PAM30` to `BLOSUM62`. They still use `PAM30` for their own online BLAST, but changed it for the remote service. We can't complain about this, because `SHORT_QUERY_ADJUST` is not officially supported.

[2020-02-22 19:00] MarkusPiotrowski commented on #2647
Solved with #2665. Closing.

[2020-02-22 19:00] #2647 closed

[2020-02-22 19:02] MarkusPiotrowski commented on #2646
Solved by #2665. Closing.

[2020-02-22 19:02] #2646 closed

[2020-02-22 19:05] MarkusPiotrowski commented on #2730
Cross referencing #2488

[2020-02-22 20:56] MarkusPiotrowski opened #2743 "Regular checks of online modules?"
Spin-off from a recent discussion on #2738.

@MarkusPiotrowski:

@peterjc :

It would be fairly simple to make one of the TravisCI build targets include the online tests, but that seems a little excessive (in terms of load on other people's servers) and likely to cause false positives as they do fail intermittently at times.
Perhaps we could run them on TravisCI once a week in online mode, or some

[2020-02-22 21:43] MarkusPiotrowski commented on #2743
I also think that a regular check of online modules with each PR (by making one of the build targets to include the online test) is exaggeratedly much. As you said, online tests are very fragile due to internet issues. But also they can take much time, e.g., `test_NCBI_qblast.py` can take some hours to complete! (The qblast service is very quick in penalizing repeated requests, it seems).

We shou

[2020-02-22 23:17] peterjc commented on #1974
I'd want you to move the ``from ete3 import Tree as EteTree`` import into the ``to_ete3`` function (so that we're not adding a dependency for everyone - especially one with heavy dependencies of its own).

I'll defer to @etal, but to me this is better suited to an example in the documentation than code in Biopython.

[2020-02-23 16:59] MarkusPiotrowski commented on #2738
@svalqui I'm just curious, but for me also the test `test_parse_qblast_ref_page` fails. Are you sure that you run the test under Python 3? My failure seems to be related to the use of "StringIO".

[2020-02-23 21:57] MarkusPiotrowski commented on #2743
I'm not sure about my wording above, what I meant is that a reviewer should ask the submitter for confirmation that the changes were actually tested online.
I guess that this testing is often not done when people are doing "mass changes" on multiples files where the changes are not related to the inner logic of the module, e.g. our recent Python 2/3 changes.

[2020-02-24 00:07] svalqui commented on #2738
@MarkusPiotrowski , definitely Python3, I had some issues with timeouts because the test takes long, but for me it works as as initially logged; I have re-built, re-install to double check output below.

[code]

If SHORT_QUERY_ADJUST is not officially supported, maybe it should be removed?.
Thank you for having a look at this.

[2020-02-24 03:35] svalqui commented on #2725
@peterjc after #2707 the test now passes, this can be closed.
@MarkusPiotrowski  Thank you.

[code]

[2020-02-24 03:37] svalqui commented on #2552
I'll work on test_HMM* files.

[2020-02-24 08:55] peterjc commented on #2725
Excellent, thanks all.

[2020-02-24 08:55] #2725 closed

[2020-02-24 12:11] chris-rands commented on #2743
+1 for the idea to run the online tests regularly (e.g. weekly) via TravisCI. While we can encourage people to run the tests locally, I think often people will not, since currently many PRs fail with `flake8` issues despite the advice

[2020-02-24 12:56] peterjc opened #2756 "No module level docstring for Bio.PDFB.kdtrees"
Noted by @rob-miller here https://github.com/biopython/biopython/issues/2736#issuecomment-589960052

The class and functions within it have some documentation, but not the module itself:

[code]

See https://github.com/biopython/biopython/blob/master/Bio/PDB/kdtrees.c

Related, the epydoc was blank (Biopython 1.75):

http://biopython.org/DIST/docs/api/Bio.PDB.kdtrees-module.html

Related, it does

[2020-02-24 14:16] MarkusPiotrowski commented on #2738
Oh, you ran the test within the test folder without using the test runner (`run_tests.py`). So the system will use your standard `Biopython`.
Can you try (within the test folder): `python run_tests.py test_NCBI_qblast`?

[2020-02-24 14:16] jgreener64 commented on #2743
Travis has a nice CRON job feature for this but builds on public repositories are limited to 50 minutes I think, which might not be enough.

[2020-02-24 14:26] MarkusPiotrowski commented on #2743
We may also think about implementing `mock`, e.g. to simulate online resources. E.g. online tests which have a mock could use it during `--offline` runs. This will help to prevent bugs due to side-effects. We would still need to do regular online runs to uncover changes in the remote services.

[2020-02-24 15:29] chris-rands opened #2757 "Deprecate/remove dead code detected via 'vulture'"
Spun out from https://github.com/biopython/biopython/pull/2717#issuecomment-589177971, [`vulture`]( https://github.com/jendrikseipp/vulture) allows the detection of putatively unused code. I guess code detected by `vulture` will require one of the following actions: removal (e.g. unused imports), deprecation (e.g. unused functions/classes), modification (e.g. detected bugs), no change (e.g. false

[2020-02-24 16:56] peterjc commented on #2757
Interesting selection, the first makes sense immediately:

[code]

See #2533  - those are stubs which raise an error saying what to use instead.

[2020-02-24 17:02] peterjc commented on #2757
[code]

Could be a sign of poor test coverage?

[code]

Yes, an entire class labelled as a work in progress, and which I never came back to - and equally no one has asked about the missing functionality. Might as well remove it?

[code]

That pre-dated SearchIO, and provided an undocumented way to get at some of the results now available via SearchIO. That could be cleaned up... perhaps even refac

[2020-02-24 17:07] peterjc commented on #2738
Should be 'fixed' via #2742 but the SHORT_QUERY_ADJUST test in particular seems to take *hours*. That's not good for us waiting for it, but unless the nature of the computation changed (and the example is no longer trivial meaning it is also wasting NCBI compute time), what is causing the long delay?

[2020-02-24 20:57] MarkusPiotrowski commented on #2738
I thought the long delay is due to the NCBI penalizing us for too many requests in a short time. And the test for SHORT_QUERY_ADJUST is the last to run, so it took the most time. I wonder what the basis for a penalty may be, the IP address or the user-agent? In the last case this would be unfortunate, because all Biopython usage of `Bio.Blast.NCBIWWW` has the same user-agent: BiopythonClient.

[2020-02-25 00:04] JoaoRodrigues commented on #2736
Thanks for the answers and feedback!

The PDB format explicitly states that TER records are to be put when a chain _terminates_. Some tools extend this and add TER records when there is a break in connectivity. It would be simple to just put a TER record when PDBIO finishes writing a chain, but this will give weird results when there are HETATM like `MSE` that follow allow the regular chain. Thus

[2020-02-25 00:25] jil24 opened #2758 "Bio.Align.PairwiseAligner memory leak"
### Setup

I am reporting a problem with Biopython version 1.76, CPython version 2.7.16, and operating
system Mac OS 10.14:

repeatedly finding local alignments using Bio.Align.PairwiseAligner continually increases python memory usage. Unclear to me if this is a python problem or a problem in the C extension module. In this example no alignment results are retrieved or saved, but memory usage stil

[2020-02-25 03:54] svalqui commented on #2738
running ```python run_tests.py test_NCBI_qblast``` is taking me more than 2 hours, I'll try tomorrow.

[2020-02-25 09:00] chris-rands commented on #2757
Thanks Peter, yes, maybe this can be used to improve the test suite coverage in places?

Some changes will be trivial (e.g. unused import) but some will require more knowledge/judgement

Some stats by type:
[code]

By module (top 20):
[code]

[2020-02-25 12:13] svalqui commented on #2738
Ok, this is working now, Thank you, but it takes about 2 Hours

[code]
I have tried with different IP address, no difference; and I tried adding a sleep time of 60 seconds before every query and it didn't help either. It seems as the queries are send to a slower queue, not sure what is the criteria.

[2020-02-25 13:09] peterjc commented on #2738
We should try changing the sub-test order to confirm if ``SHORT_QUERY_ADJUST`` is slow, or simply it is an order effect. This is based on alphabetical sorting of the test method names - so can be manipulated fairly simply.

[2020-02-25 14:49] peterjc commented on #2757
My eye was drawn to these six:

[code]

Those all sound worth checking in detail.

[2020-02-25 15:58] chris-rands commented on #2757
The "redundant" are `if True:` clauses, apparently to preserve indentation. The "unsatisfiable" are `if False:`, presumably to skip the code blocks. The "unreachable" looks like a small but likely unimportant bug.

[code]

[2020-02-26 05:48] svalqui commented on #2738
Here is a break down...
[code]

[code]

[code]

[code]

[code]

[code]

[code]
... but times can change significantly.

[code]

[2020-02-26 07:55] MarkusPiotrowski commented on #2738
We can, of course, remove the negative result test, which demonstrates that there is no alignment without `short_query=True`. I placed it as an indicator for changes in the blast services (if this test fails, the search has become more relaxed).

[2020-02-26 15:03] michaelsilverstein commented on #1532
I'm using version 1.76 and I am still experiencing this problem when aligning with `penalize_end_gaps=False`. I've tried manually swapping sequence as A and B and that hasn't worked. The only way I've managed to get a result is by setting `penalize_end_gaps=True`.

[2020-02-26 16:15] MarkusPiotrowski commented on #1532
Good to hear that you find a solution. Still, can you share an example where you didn't get an alignment?

[2020-02-26 21:57] svalqui commented on #2552
I'll work on test_g* files.

[2020-02-26 23:57] LivC182 opened #2765 "HTTP Error 404 issue"
I am reporting a problem with Biopython version 1.73, Python version 3, and operating
system Ubuntu 18.04.
I am trying to run the code below using multiprocessing package. I send less than 10 requests/second and yet I get urllib.error.HTTPError: HTTP Error 404.
Anyone how knows why ?
[code]

[2020-02-27 00:01] peterjc commented on #2765
https://www.ncbi.nlm.nih.gov/books/NBK25499/table/chapter4.T._valid_values_of__retmode_and/ suggests ``rettype='medline'`` (lower case string), as in the example in http://biopython.org/DIST/docs/tutorial/Tutorial.html

[2020-02-27 00:05] LivC182 commented on #2765
it doesn't work either.

[2020-02-27 00:09] peterjc commented on #2765
Right now I can't run your partial example to debug it. Have you got a similar example working with an API key? Can you get this example to work if you don't use an API key? That would tell you if the problem is the API key, or more fundamental.

[2020-02-27 00:11] LivC182 commented on #2765
It is working fine with remode = xml. Tks for your input, maybe is something wrong on their end.

[2020-02-27 00:20] svalqui commented on #2738
Just run the short query test, and removed ```short_query=True``` from it; the test fails; and takes a while.
[code]

Not sure where to go from here.

[2020-02-27 04:36] mdehoon commented on #2758
Fixed by #2760 .

[2020-02-27 04:36] #2758 closed

[2020-02-27 07:52] MarkusPiotrowski commented on #2738
1. Failing of this test without the 'short_query=True` parameter is expected. What I meant above is that there is another test within this test method (the first one), which does not have the parameter and returns 0 alignments (as expected). There are reasons for running this test, but I may be dropped. However:
2. I also ran these test several time yesterday. I ran each of the three tests, which

[2020-02-27 20:56] michaelsilverstein commented on #1532
Hm, I'm having trouble replicating the behavior - may have been caused by a bug in my code that I have since fixed. If it comes up again I'll post again.

[2020-02-27 20:59] rob-miller commented on #2736
I agree the specific case of writing TER records is relevant only to PDBs, but there seems like a more general issue of how to know where the covalently bonded chain ends when processing SMCRA structures?  I ignore this problem by limiting to 20 natural AAs, but I wonder why it has not been raised before.

[2020-02-27 22:03] svalqui commented on #2738
I think this can be closed now, as the error has been addressed, in terms of the time this test takes that can be discussed as part of #2743

[2020-02-28 08:28] robqiao opened #2768 "Alignment shadebox function"
It would be good to have shade functionality for sequence alignment. Like [this one](https://commons.wikimedia.org/wiki/File:CCDC138_multiple_sequence_alignment_BOXSHADE_1.png)

I can try to contribute this part if deem appropriate.

[2020-02-28 13:03] MauriceKarrenbrock commented on #2736
Sorry if I am interfering, but I noticed that if you convert a pdb to a mmcif only containing natural AA (I used 5aol) the `label_asym_id` (that could be considered the most similar thing to a TER record) is written correctly. But it doesn't look like it would work with a not natural AA (that starts with HETATM) (but I have no example to make a test).

in fact in the [mmcifio.py](https://github.co

[2020-02-28 22:55] MatthewRalston opened #2771 "Bio.bgzf.BgzfWriter splits lines between blocks"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

### Expected behaviour

I expect the `write` method in `bgzf.BgzfWriter.write()` to not split a new line of `data` between blocks. More specifically, I am calling `bgzfout.write` like I would do do print a line of data (like a read) to the bgzf filehandle. Although the [first part

[2020-02-29 15:12] peterjc commented on #2698
Closed via #2772, thank you @adcrn

[2020-02-29 15:16] #2698 closed

[2020-02-29 15:25] peterjc commented on #2771
I don't understand what your issue is asking. Do you think you have found a bug, or just a design choice you disagree with?

Assuming you are dealing with text files, there is no reason to assume a line of text will be entirely within a single block - it can be split over a block boundary.

As I recall the samtool library does not always write a full block, sometimes opting to finish a block early

[2020-02-29 15:33] peterjc commented on #2768
I'm not sure this is a good fit (personally I would use a graphical tool like JalView), but how would you think about implementing this? As HTML output? An image?

[2020-02-29 16:07] MatthewRalston commented on #2771
Yes sir,
It was asking why the default behavior of bgzf is to split a line of text between two blocks, since the readline scans the current `_buffer` for the next newline character. If the next newline character isn't available (i.e. its in the following block), is that considered undesirable behavior.

As I recall, SAM files are also plaintext? I'm attaching [a link to the samtools spec](https://

[2020-02-29 18:11] MarkusPiotrowski commented on #2768
A Rich Text Format (rtf) option would also be nice.

[2020-03-01 04:42] tirkarthi opened #2773 "getiterator was removed in favor of iter in Python 3.9"
https://github.com/biopython/biopython/blob/2b8559b7c1409cbc48d88a209f9db15c4731e53c/Bio/SeqIO/UniprotIO.py#L255

https://bugzilla.redhat.com/show_bug.cgi?id=1808737

[2020-03-01 16:00] peterjc commented on #2773
Good to know people are testing on Python 3.9 already :)

[2020-03-01 16:02] tirkarthi commented on #2773
Fedora does a mass rebuild of all it's packages with latest Python version for their releases. The report is from them.

[2020-03-01 16:12] peterjc commented on #2771
SAM files are plain text, but are not used with BGZF. Instead a more compact binary format is used within BGZF giving a BAM file (B for binary). However, plain text files are used with BGZF in the related tabix tool. And in Biopython SeqIO, see https://blastedbio.blogspot.com/2011/11/bgzf-blocked-bigger-better-gzip.html

We *have* to look for a newline in ``.readline()`` because that's what Python

[2020-03-01 16:19] peterjc commented on #2738
Thanks!

[2020-03-01 16:19] #2738 closed

[2020-03-01 16:37] #2771 closed

[2020-03-03 09:04] peterjc commented on #2700
Almost all of the above were fixed with #2776,

[code]

Probably can be just ``self.assertIsInstance(hits, list)`` as the default failure message is pretty good?

Also I found a few more with a different search:

[code]

[2020-03-03 11:34] da-i opened #2777 "Bio.Sequencing.Applications.BwaMemCommandline options are broken"
### Setup

Using:
[code]

If you run:

[code]

### Expected behaviour

it should run bwa mem using 4 threads,
by executinng:
```bwa mem -t 4 some.fasta reads.fastq ```
and catch the standard out to the given filepath.

### Actual behaviour
```Bio.Application.ApplicationError: Non-zero return code 1 from 'bwa mem some.fasta reads.fastq -t 4 -p', message 'Usage: bwa mem [options] <idxbase> <in1.fq>

[2020-03-03 13:51] peterjc commented on #2777
Ah - I bet this works just fine on Linux, but breaks on macOS and BSD which have different libraries/conventions for parsing command lines.

The fix is to reorder the parameters as defined here, moving the position ones to the end of the list:

https://github.com/biopython/biopython/blob/biopython-176/Bio/Sequencing/Applications/_bwa.py#L510

Looking at that, I suspect some of the other BWA wrappe

[2020-03-03 13:58] adcrn commented on #2700
Oops, I thought I fixed ‘test_PDB_KDTree’. My apologies. I can do that one as well as fixing the other ones in that other search that you mentioned.

[2020-03-03 15:34] peterjc commented on #2700
That'd be great - thanks for tackling this rather tedious bit of code cleanup 🥇

[2020-03-03 16:13] MarkusPiotrowski commented on #2700
There is a `flake8` plugin called `flake8-assertive` which list a number of issues in our `tests` folder:

[code]

The error codes include several similar issues each, e.g. A500 can also be 'prefer assert Equal() for '==' comparisons' etc. etc.

[2020-03-03 16:40] adcrn commented on #2700
Several tests in both `search_tests_common.py` and `seq_tests_common.py` are not subclasses of `unittest.TestCase`, and would need to be restructured to leverage the `unittest` methods. As it's common code for a number of tests, I'm not comfortable making large changes to those modules given my recency to the project. Is there any guidance on how to proceed from here?

[2020-03-03 17:27] peterjc commented on #2700
Sorry @adcrn, I forgot that - yes, this only applies to the tests already using ``unittest``.

Using ``flake8-assertive`` will be more reliable than grep 👍

[2020-03-03 17:30] MarkusPiotrowski opened #2778 "Using unittest.mock for online modules and moduls with external dependencies"
This discussion is related to #384 and the recent #2743.

Online modules and modules with external dependencies are usually not tested regularly in our tests framework (for good reasons). As a result, these modules and/or their tests may accumulate errors and failures. This may be because of the external dependency or online source are changing their interface or output, but also as 'collateral da

[2020-03-03 22:01] svalqui commented on #2552
I'll work on test_Entrez files.

[2020-03-04 22:19] svalqui commented on #2552
I'll work on test_Emboss files.

[2020-03-04 22:33] sorenwacker opened #2783 "Improve doc string for Bio.Blast.NCBIWWW.qblast"
I want to make a Blast search with Bio.Blast.NCBIWWW.qblast for a protein sequence.

    from Bio.Blast.NCBIWWW import qblast
    qblast("blastp", "nt", sequence=seq)

The [help](https://biopython.org/DIST/docs/api/Bio.Blast.NCBIWWW-module.html) text is not very informative. It says you can for example use 'nt', but does not include a list of valid values or references to a list of such. I am spec

[2020-03-04 23:04] peterjc commented on #2783
You need "nr" for the protein non-redundant database, which is listed already (did you make a typo or are you looking somewhere else), and "nt" for the nucleotide one. Those are the big two, and the NCBI documentation linked to has far more details.

Would you like to submit a pull request updating the docstring? In many ways fresh eyes of a new-comer are better for this kind of improvement, you c

[2020-03-04 23:05] peterjc commented on #2783
See also the blast chapter of the tutorial, which is also quite brief on this function:

http://biopython.org/DIST/docs/tutorial/Tutorial.html
http://biopython.org/DIST/docs/tutorial/Tutorial.pdf

The source for that is here:

https://github.com/biopython/biopython/blob/master/Doc/Tutorial/chapter_blast.tex

[2020-03-05 01:26] robqiao commented on #2768
@peterjc an easy start I would suspect to build a wrapper invoke system call `shadebox` or `JalView`.
I suspect there is an option for rtf output via `shadebox` @MarkusPiotrowski

[2020-03-05 04:48] soerendip commented on #2783
I think it would be better to provide a list with the valid parameters right in the docstring or list valid parameters in an error code in case the user provides something invalid. Then the user does not have to look for the tutorial etc.

[2020-03-05 06:03] Santhi1901 opened #2784 "Import Error"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

(*Please copy and run the above in your Python, and copy-and-paste the output*)
(3.8.1 (tags/v3.8.1:1b293b6, Dec 18 2019, 23:11:46) [MSC v.1916 64 bit (AMD64)]
CPython
Windows-8-6.2.9200-SP0
1.76)

### Expected behaviour

(import NCBIXML from Bio.Blast)

### Actual behaviour

(Impo

[2020-03-05 06:06] MarkusPiotrowski commented on #2783
@soerendip You cannot anticipate and prevent any possible wrong input. We are not doing this deliberately. Also, it is fair to suspect that a user of some tool/service (like blast) has some basic knowledge about this tool/service. And it seems also fair to expect that a user of Biopython will take a look in our tutorial, which e.g. has an own chapter about using Blast.

[2020-03-05 07:27] MarkusPiotrowski commented on #2784
Cannot reproduce this:

[code]

From the error message, it looks like you run a script `Align_int.py`. Is there something else in this script? Also, the location of your Biopython folder let suggest that you did install Biopython manually from source (i.e. not via `pip install biopython` or something else). Can you give some more details? E.g. if you have installed from source, did you compile the

[2020-03-05 10:07] MarkusPiotrowski commented on #2783
Besides the topic of documentation, it seems that the `qblast` method may be improved, because the NCBI server displays an error message (and returns an xml with no hits), when the database is not known (e.g. 'nt' for blastp). But the error message goes unrecognized by `qblast` (it only checks for error messages after sending the `put` command). I' ll have a look if we can catch this and throw a `

[2020-03-05 11:06] peterjc commented on #2783
Listing all valid parameters is a moving target with online API wrappers like this - the NCBI can and have added database for example. To me it more reasonable to list the main ones, and point to the official documentation.

[2020-03-05 11:26] peterjc commented on #2784
Do not write your scripts in the Biopython source code folder (file ``Align_int.py`` is in ``C:\Python3.8\biopython-1.76\Bio\`` which is likely an unzipped copy of the Biopython source code). If you do this you run into problems like with the C code, and it is not considered a good way to manage your Python code.

Just install Biopython - we recommend ``pip install biopython`` which will download

[2020-03-09 06:45] svalqui commented on #2552
I'll work on test_AlignIO files.

[2020-03-09 15:44] chris-rands commented on #2757
Can these 3 code blocks be deleted or moved somewhere else? These code snippets were used to make the test files/data it seems. It might be useful to keep this code somewhere for reference I guess, but seem inappropriate to have it in `if False:` clauses in the test suite?

- https://github.com/biopython/biopython/blob/master/Tests/test_SffIO.py#L440-L544
- https://github.com/biopython/biopython/b

[2020-03-09 16:02] peterjc commented on #2757
@chris-rands Do you have a better idea?

The current placement isn't ideal but it is clearly not being executed, and is easily seen if you want to work on the file. The other alternative I considered was using ``Roche/E3MFGYR02_random_10_reads.py`` (next to the file it would create, ``Roche/E3MFGYR02_random_10_reads.sff``), and put a big comment pointing there in ``test_SffIO.py`` instead?

[2020-03-10 21:50] svalqui commented on #2552
All that could had been grouped had black style applied, now looking at individual files.

[2020-03-10 21:52] LWFlouisa commented on #1995
It's causing the same issue in Linux Mint 19.1 I can't seem to open my cinnimon settings.

[2020-03-10 21:58] LWFlouisa opened #2794 "PIL Version Error ( Unable To Open Cinnamon Settings )"
### Setup

I'm not sure if this is a Python error or a Linux Mint 19.1 error:

[code]

Whenever I try to install PIL, it has no matching version. I just want my cinnamon-settings to get back to normal.

[2020-03-10 22:13] peterjc commented on #1995
If wget isn't working there is probably something else wrong with your system, sadly.

Forcing pillow==5.4.1 rather than using pillow version 6 seemed to work for us.

As far as I know, the problem in ReportLab has not been fixed - or if it has, the bug was not closed.

[2020-03-10 22:16] peterjc commented on #2794
What does this have to do with Biopython?

Note PIL is a defunct Python library for working with images, you probably want the replacement Pillow library instead.

Cross reference https://github.com/biopython/biopython/issues/1995#issuecomment-597335695 where you also commented.

[2020-03-10 22:30] LWFlouisa commented on #1995
It worked, thanks a bunch!

[2020-03-11 08:49] peterjc commented on #2794
Closing given here https://github.com/biopython/biopython/issues/1995#issuecomment-597352365 you said it was working for you

[2020-03-11 08:49] #2794 closed

[2020-03-12 16:55] peterjc commented on #1995
ReportLab no longer use BitBucket, the old issue tracker mentioned earlier has been turned off. Quoting Robin Becker on the ReportLab mailing list:

The gentoo patch would also have worked, but my understanding is that the im_load call was only required for a version
exactly equal to 1.1.7 and the getattr(Image,'VERSION','').startswith('1.1.7') test should be OK.

That is the latest release on PyP

[2020-03-16 13:59] chris-rands opened #2808 "Coronavirus themed Biopython tutorial notebook?"
I’ve noticed there can be a barrier to entry for starting using Biopython. The official tutorial is excellent documentation, but too exhaustive for new users. [Peter’s Biopython workshop](https://github.com/peterjc/biopython_workshop) is a great resource (and could feature more prominently on the Biopython github), but I also wanted something more biological and in a Jupter notebook.

Given the ti

[2020-03-16 14:12] peterjc commented on #2808
Sounds good to me - at very least add a link https://biopython.org/wiki/Documentation ?

I recall @tiagoantao did a lot of work with Jupyter Notebooks - something I personally have only dabbled with so far.

[2020-03-17 13:33] udavdasha opened #2809 "ImportError: cannot import name '_aligners'"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]
3.6.2 (default, Aug 11 2017, 16:17:11)
[GCC 5.4.0 20160609]

[code]
CPython
Linux-4.4.0-174-generic-x86_64-with-debian-stretch-sid
[code]
1.76

### Expected behaviour
[code]
I try to import **SeqIO** module from **Bio** and expect it to be imported.

### Actual behaviour

While runn

[2020-03-17 13:40] MarkusPiotrowski commented on #2809
@udavdasha Can you check if you have a compiled `_aligners` file in your `.../Bio/Align` folder. On Linux it is `_aligners.so` (? ), I guess.

[2020-03-17 14:29] udavdasha commented on #2809
Here is the content of this folder, the **.so** file is there:

[code]

[2020-03-18 11:25] chris-rands commented on #2808
Thanks @peterjc , I'll probably move it from gist to a new github repo then. did the notebook render correctly for you? do you like the concept/content or not?

[2020-03-18 13:56] tiagoantao commented on #2808
I probably should add a link to this in the documentation: https://github.com/tiagoantao/biopython-notebook .
What do you think @peterjc ?

[2020-03-18 16:10] peterjc commented on #2808
Yes please Tiago

[2020-03-19 00:02] peterjc commented on #2808
Just some minor comments Chris:

Typo "intupretation"

I would be inclined to drop NCBIXML in the example and focus on SearchIO for parsing the BLAST results (deliberately only introduce the more general function).

For the Entrez call, I would use your-name@example.org or similar - i.e. one of the actual domains created specifically for use in documentation.

Getting the protein sequence from the

[2020-03-20 00:52] mdehoon commented on #2809
@udavdasha  In which directory are you when you start Python? Or does this happen from any directory?

Also, does the PYTHONPATH environment variable point to anything? You can find out by running
[code]
on the Ubuntu command prompt.

[2020-03-20 08:18] JHANSI-G commented on #1729
@Michaelsilverstein

I have tried your code. I really like the idea of chunking the alignment as my sequences are 2000bp long, alignment is disrupted when i view it on text editor.

But the output of the code came as

1 to 5
('ACC-CGTAAGCTACGGTC--A-GT', 'A-CTCG--A--TAC--TCTGACG-', 12.0, 0, 24)
| |||
('ACC-CGTAAGCTACGGTC--A-GT', 'AC-TCG--A--TAC--TCTGACG-', 12.0, 0, 24)

I request you to kindly help

[2020-03-20 08:31] MarkusPiotrowski commented on #1729
@JHANSI-G Please try:
[code]

`pairwise2` returns a list of alignments, so before chunking the aligned sequences, you need to select which alignment. In global alignments there will always be at least one alignment, so it's safe to check for the first (`aln[0]`).

[2020-03-20 09:21] JHANSI-G commented on #1729
@MarkusPiotrowski

Wow!! it worked. Thank you so much

[2020-03-20 14:36] BioGeek commented on #2808
If one of the goals is to lower the barrier to entry for people to start using BioPython, wouldn't it then make more sense to share this as a Google collab notebook like this:

https://colab.research.google.com/drive/1bJl_SCDV0DXgzQay6KtVBaAKaudpKBkk

Then people just need to execute the first cell which contains

    !pip install biopython

and then they can start to play around with the notebook

[2020-03-21 15:45] BalduinLandolt opened #2814 "Reading Nexus file with datatype=standard gets symbols wrong"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

### Expected behaviour
Loading a nexus file... hopefully without error.

### Actual behaviour
Getting an error when loading a nexus file.
[code]

### Steps to reproduce
Following Nexus file:
[code]
(never mind the comments)

Running the following python script:

[code]

Instead of

[2020-03-22 10:26] chris-rands commented on #2808
@peterjc Thank you for the suggestions! I have tried to incorporate them and moved the Notebook into a proper github repo:

https://github.com/chris-rands/biopython-coronavirus

When it is finalised, I will submit a PR to add a link to the Biopython documentation like you suggested

@tiagoantao Would be happy to have a link in your biopython-notebook too, thanks!

[2020-03-22 10:27] chris-rands commented on #2808
I also like @BioGeek 's idea of providing an option to  running the Notebook directly without local installation, but I'm not familiar with these tools. Google collab looks nice, but I notice that Tiago's existing notebooks can be ran via Binder (although it crashed when I tested it). Any views on the best way of doing this?

[2020-03-22 19:07] peterjc commented on #2814
Does removing the whitespace in the symbols line work? ie. ``Symbols = "0 1 2 3 4 5 6 7 8 9";`` to ``Symbols = "0123456789";``

(I would try it myself but a little tied up right now with other things)

[2020-03-22 19:39] BalduinLandolt commented on #2814
Indeed it does... to some extent, at least. I now get a different error message:
[code]

I'll digg into what that error means as soon as I find time.

But in any case, valid Nexus could be either with wite space or without, as far as I know. So that might need fixing anyway.
See e.g. [Maddison et al. 1997](https://watermark.silverchair.com/46-4-590.pdf?token=AQECAHi208BE49Ooan9kkhW_Ercy7Dm3ZL_9Cf3

[2020-03-23 00:59] tiagoantao commented on #2808
The link is https://github.com/tiagoantao/biopython-notebook
Thanks

[2020-03-23 08:25] BioGeek commented on #2808
@chris-rands I had to [rename ](https://github.com/chris-rands/biopython-coronavirus/pull/1) `biopython-coronavirus-environment.yml`
in your repository to simply `environment.yml`.  That way the requirements are picked up by mybinder.org and your notebook can now be launched by clicking on the button below:

[![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/BioGeek/biopyt

[2020-03-23 12:55] chris-rands commented on #2808
Thanks to help from @BioGeek the notebook now runs with both Google colab and Binder

[2020-03-23 12:57] chris-rands commented on #2808
I've created PRs to add links to the tutorial as suggested above. If there are any other suggestions on the Notebook content, I would appreciate them, otherwise I'll close this issue after the PRs are handled

[2020-03-23 15:10] peterjc commented on #2814
The comment here https://github.com/biopython/biopython/blob/fdd4c7b51ebfb28933a9b803745bd9257d7a2150/Bio/Nexus/Nexus.py#L819-L836 was why I suggested ``Symbols = "0123456789";``

That quote does suggest either should work. As to the next error, ``Bio.AlignIO`` has only been extensively tested with RNA/DNA/Protein sequences, so trying digits 0-9 is going to be uncharted territory. Happily there ar

[2020-03-23 15:31] peterjc commented on #2814
It looks like line 820 as quoted, ``self.alphabet = None`` could to be something like:

[code]

(Or we do something similar in ``Bio/AlignIO/NexusIO.py`` when the alphabet is ``None``)

With that change the example gets further, but fails with ``Bio.Nexus.Nexus.NexusError: Unmatched 'end'`` which I think is just because this is a partial example.

Can you share a complete NEXUS file for testing, i

[2020-03-23 20:47] BalduinLandolt commented on #2814
Well... true... I should have spotted that comment myself. No idea how I missed that.
(Though it probably shouldn't be the case.)

As to my use case: I work with humanities data, mostly medieval manuscripts, but also folklore motivs.
For now I'm really just fiddling around and testing stuff. But what I have in mind (and people have done that before) is taking related artefacts (say different manus

[2020-03-23 21:25] peterjc commented on #2814
Cool use case, a little outside our norm, but relatable. If you had more than 10 categories, would some other single letter symbols have worked fine (e.g. 0 to 9 and then letters like in hexadecimal notation)?

I think this can be made to work, but if you can share any other examples which work in other tools, that would be helpful - Wikipedia licensing isn't ideal for reuse in a software package.

[2020-03-24 22:14] camhilker opened #2817 "Biosample query throws error to "contact Biopython developers""
### Setup

I am reporting a problem with Biopython version 1.74, Python version 3.7.6, and operating
system MacOS Catalina 10.15.3 as follows:

[code]

### Error
[code]

### Expected behaviour

Hello, I am trying to extract information about a list of samples by using the biosample IDs via Entrez API (biosample database).

### Actual behaviour

Throws error. How can I successfully query this datab

[2020-03-25 09:43] peterjc commented on #341
Closing on the assumption that the EBI did indeed resolve this.

[2020-03-25 09:43] #341 closed

[2020-03-25 11:03] mdehoon commented on #2817
Short explanation:
Bio.Entrez cannot parse data from the biosample database because the XML data returned by NCBI Entrez does not include a DTD.
Your options are either to write to NCBI Entrez and ask them to fix this, or alternatively to use one of the generic XML parsers in Python (probably `ElementTree`) to parse the data returned by NCBI Entrez.

Long explanation:

Typically, XML data returned

[2020-03-25 15:28] camhilker commented on #2817
Thank you for your help!

One more question: Do the biosample IDs have to begin with 'SAMN---'? I was expecting to find a record for a soil metagenome sample for ID: SAMEA3502652, but I noticed that it is changed to SAMN3502652 in the output, and the information is for a different sample. Thanks again!

[2020-03-25 21:31] ekiefl opened #2819 "PDBParser.get_structure throws unhandled ValueError in rare case"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

### Description

In rare instances, so far 1 / 46,000 cases, this error crops up. The PDB ID in question is 3cmy

[code]

### Steps to reproduce

Paste this in a python interpreter:

[code]

[2020-03-25 23:43] mdehoon commented on #2817
When I try, I am also getting SAMN3502652.
You can get the exact URL that biopython is using from the handle:
[code]
If you use this exact URL in a web browser, you will again get SAMN3502652. If you remove `&rettype=xml&retmode=text&tool=biopython` from the URL, you will get SAMN3502652 in plain text format. So this looks like a problem on NCBI's side.

Apparently more people have run into this.

[2020-03-26 00:47] mdehoon commented on #2817
Fixed by #2820

[2020-03-26 00:47] #2817 closed

[2020-03-26 10:00] peterjc commented on #2819
It might be worth updating to Biopython 1.76 just in case that fixed this (not my area of the code so I'm not sure immediately).

[2020-03-26 16:16] rob-miller commented on #2819
Current dev branch does not handle this, I created a pull request with a
small change and added test case to cover it.  Passes previous test cases,
but would be nice if OP could run the 46k through with this change to see
if it breaks something that worked before?

The issue with PDB file 3CMY appears to be that the missing residue 'REMARK
465' line that breaks refers to a DNA base instead of a st

[2020-03-26 18:54] peterjc commented on #2819
Thanks Rob - @ekiefl are you comfortable with testing Rob's proposed fix? You're on macOS so installing Biopython from source shouldn't be too tricky. You don't have to know git either - we could give some basic directions for getting his branch.

[2020-03-26 19:02] ekiefl commented on #2819
I'm happy to test a couple hundred on master, but testing 45k structures is more internet usage than I'm willing to use.

[2020-03-26 19:05] peterjc commented on #2819
OK, assuming this gets merged to master soon that'd be very helpful. Sometimes people already have vast numbers of PDB files cached locally, so large scale testing is possible - it depends on what you are working on really. Thanks!

[2020-03-26 19:06] ekiefl commented on #2819
Actually I was not thinking clearly. I have those structures cached in a database--no internet required. I can test this next week.

[2020-03-27 13:26] chris-rands opened #2822 "Add "topics" to repo"
In 2017 github [introduced topics](https://github.blog/2017-01-31-introducing-topics/) as a way of labelling repos, increasing visibility and search-ability. Appropriate topic tags could easily be added to this repo, e.g. bioinformatics, python, biopython, genomics etc.

[2020-03-27 13:40] peterjc commented on #2822
I missed that announcement but have added those and a couple more - let's leave this open a week or so for any more suggestions?

[2020-03-27 13:52] chris-rands commented on #2822
Thanks, good idea, could add: phylogenetics, dna, fasta etc. but I'm not sure how many topics is a good number before things start to look cluttered

[2020-03-27 14:08] peterjc commented on #2822
Yes, too many is going to look cluttered and may undermine the usefulness

[2020-03-27 15:03] udavdasha commented on #2809
@mdehoon This happens from any directory. I tried to do it from my home directory or from, e.g., /mnt/Data.

Currently my $PYTHONPATH is empty. I tried to play with it and with the **pip** instalation folder, because previously for some reason **pip** installed all modules into the /usr/local/lib/python3.5/dist-packages, despite I had Python 3.6. Thus now I managed to get Biopython installed into

[2020-03-27 15:21] MarkusPiotrowski commented on #2809
@udavdasha

It could also be that you have several versions of Python and Biopython installed at different locations and that you 'standard' Python is directing to an older Biopython installation?

Can you try the following:
[code]

You can also try to start your Python interpreter in your `.../python3.6/site-packages` folder (so directly sitting on top of the Bio folder) and do the same?

[2020-03-28 21:36] udavdasha commented on #2809
@ MarkusPiotrowski
Regretfully, it appears to be same issue from both folders...

This is what I do from my home folder:
[code]

And this is the same from `.../python3.6/site-packages`:
[code]

[2020-03-29 00:43] mdehoon commented on #2809
One thing has changed: Before you got
[code]
Now you are getting
[code]
So before it was trying to read from `/usr/local/lib/python3.5`; now it is trying to read from `/usr/local/lib/python3.6`.

[2020-03-29 00:46] mdehoon commented on #2809
This may be due to a problem with file permissions. I can trigger this import error if I change the file permission of the `Bio.Align` directory:

[code]

You could try
[code]
to check if you can read this directory.

[2020-03-29 10:50] udavdasha commented on #2809
@mdehoon
1) Regarding the path change from `/usr/local/lib/python3.5` to `/usr/local/lib/python3.6`: I've did this intentionally while trying to figure out where exactly is Biopython installed in my system and how is it red by python. The answer was yes, I can understand and control this, but no, this did not solve my problem.

2) Reading rights seems to be OK:
[code]

I also tried to make this fo

[2020-03-29 11:01] udavdasha commented on #2809
WOW, I think I got a solution! It is closely related to an answer by @MarkusPiotrowski. For some reason, the file `.../Bio/Align/_aligners.cpython-35m-x86_64-linux-gnu.so` was not OK for my Ubuntu (while also weird name `_aligners.cp38-win32.pyd` was OK for Win7).

Thus I simply made a copy of it with the name `_aligners.so`:
[code]
Still I do not understand why this was happening in my case, seem

[2020-03-29 11:29] MarkusPiotrowski commented on #2809
From the 'weird' name I'm tempting to guess that this compiled C file was for Python 3.5 while you are running Python 3.6. Maybe you had an active Python 3.5 when you installed Biopython, which would also explain why the installation ends up in the python 3.5 folder originally.

[2020-03-29 11:32] MarkusPiotrowski commented on #2809
I don't think that we can put a meaningful error message for this into Biopython. Actually it's a problem on your Linux system. As you said, everything is fine on your Windows computer (which, looking at the name of the `pyd` file seems to run Python 3.8).

[2020-03-29 11:47] udavdasha commented on #2809
That is really weird, because originally when this error happened I also had python 3.6.2 (as I reported in the first post). But you seems to be correct: perhaps I had python 3.5 once, and **pip** was installed for it. This is what I see when I check its version:
[code]
Maybe this is the reason why it decided to compile the `_aligners.c` for python3.5?

Despite I changed **pip** path to my current

[2020-03-29 15:22] mdehoon commented on #2809
@udavdasha  Do you get the same problem with other C modules in Biopython? For example,
[code]

[2020-03-29 16:09] MarkusPiotrowski commented on #2809
@mdehoon I guess the general problem is solved, @udavdasha installed Biopython under Python 3.5 but is running Python 3.6. Thus the compiled C files had the wrong naming scheme and were not found by the Python interpreter.

Why this happened, e.g. why his standard `pip` is still for Python 3.5, is something that we probably cannot solve. I have only litte knowledge about Linux systems, but it seem

[2020-03-29 20:03] udavdasha commented on #2809
@MarkusPiotrowski
Yeah, now I understand it has nothing to do with Biopython, but this is something messed up in my system. I cannot figure out how to clean this mess, but it is another issue :)

@mdehoon
The same errors occur with any C libraries; I tried to import **Cluster** as you suggested, but it turned out to be dependent on **numpy**. I installed it, but upon import it had an error with a

[2020-03-30 08:39] mdehoon opened #2823 "test_SeqIO_write.py skips test failures"
See the `check_write_fails` method in `test_SeqIO_write.py`:

[code]

If there is an `err_msg`, then we never check if the error is actually raised.

[2020-03-30 08:51] mdehoon commented on #2823
Apparently two test failures are being missed. If we just use
[code]
regardless of `err_msg`, then these two test failures show up:
[code]

[2020-03-30 12:50] peterjc commented on #2819
Should be fixed on the master branch now that #2821 is merged, testing would be appreciated.

[2020-03-30 13:34] mdehoon commented on #2823
The first test should have raised an `ValueError`. However, since commit ba065bd on April 18, 2015 we allow multiple sequences with the same ID. So this test can be removed.

The second test seems to be a simple mistake. The expected error message is "Sequences have different lengths, or repeated identifier" but the sequences all have the same length, and the identifiers are all different.

[2020-03-30 14:06] mdehoon commented on #2823
Well actually the second test turns out to be more complicated. `SeqIO.write` does not raise a `ValueError` but writes a mangled file; `SeqIO.read` does raise a `ValueError` but the test is designed for `SeqIO.write`, not `SeqIO.read`.

[2020-03-30 15:41] peterjc commented on #2823
I don't immediately see what is wrong in the test code snippet you quoted, but glad you're digging into this - evidently something wrong here.

[2020-03-30 17:27] matteoferla commented on #2631
Actually. I encountered this bug too on a fresh install.

I am running Python 3.7.6 —cannot roll over to 3.8 due to pymol and pyrosetta— with fresh miniconda3 on MacOS Catalina (10.15).

I installed it with `pip install biopython` because conda sometimes gives that annoying lowercase `import bio` business, but I got the same error as OP. `Bio.__version__` is not an extant attribute, but the wheel

[2020-03-30 22:34] mdehoon commented on #2823
@peterjc  `check_write_fails` does not notice if `SeqIO.write` fails to raise an error.

[2020-03-31 07:04] MartinThoma opened #2825 ".travis.yml: amd64_only_packages is not defined"
### Setup

I've just checked out the latest version (`e3870f78f7df9a584eabbd15f4d7c50f170cc3b0`) and ran [pre-commit](https://pre-commit.com/) with the following `.pre-commit-config.yaml`:
[code]

which gave

[code]

The issue is `*amd64_only_packages` - there is no `&amd64_only_packages`.

[2020-03-31 08:12] MartinThoma opened #2828 "Adopt code formatting tool isort for code style?"
This goes in the same direction as #2008: [isort](https://github.com/timothycrosley/isort) is a small little tool to make the code style more similar.

## Why import sorting?

I like it, because it makes it easier for me to read a file. isort distinguishes those kinds of imports:

* Core library: Anything that ships with Python directly (struct, math, sys, os, ...)
* Third party: Stuff that needs

[2020-03-31 14:58] manyshapes commented on #2808
Awesome you did this. I'm a BioPyfhon novice using the package for a covid-19 sequences project. This will be so helpful!

[2020-03-31 21:54] peterjc commented on #2808
Glad to hear it is being useful. Chris - was there anything else still pending, or can we close this now?

[2020-04-01 05:56] mdehoon commented on #2273
Fixed by #2574

[2020-04-01 05:56] #2273 closed

[2020-04-01 08:29] chris-rands commented on #2808
Thanks all! Closing this now- any further issues or suggestions can be raised in the new repo
https://github.com/chris-rands/biopython-coronavirus

[2020-04-01 08:29] #2808 closed

[2020-04-01 13:07] peterjc commented on #2828
I've looked at a few other tools in this area, and personally preferred the output from https://github.com/asottile/reorder_python_imports - in particular how it does multiple imports as one per line (rather than the brackets style here). This is also black compliant and can be enforced with flake8-import-order - see e.g. https://github.com/peterjc/thapbi-pict/commit/3efc7e835d029af3971ddcaa764aff

[2020-04-01 13:09] peterjc commented on #2825
Can you see how to fix this? See #2401 where this was added.

[2020-04-01 16:06] peterjc commented on #2823
Closed by #2824?

[2020-04-01 20:43] MartinThoma commented on #2825
Sorry, I don't know that.

[2020-04-01 20:53] peterjc commented on #2825
@mr-c if you have a moment, your input would be appreciated.

[2020-04-01 20:54] mr-c commented on #2825
That warning can be ignored

[2020-04-01 21:20] peterjc commented on #2825
Can we just define an empty list to match ``&default_packages``?

https://github.com/biopython/biopython/blob/biopython-176/.travis.yml#L139

[2020-04-01 22:39] #2823 closed

[2020-04-07 09:10] #2822 closed

[2020-04-07 09:14] chris-rands commented on #2757
I looked a bit more at the `vulture` outputs, but I don't believe there is substantial value to be added by going through these. Many cases are false positives (due to inadequate test coverage), other cases require a deep/historical knowledge of the code-base to make the right decision (and the benefit of deleting a few lines is rather minor anyway), so I'm closing this

[2020-04-07 09:14] #2757 closed

[2020-04-09 08:24] HLAvieira commented on #2363
For me, this was the only solution that worked, thank you very much

[2020-04-09 09:22] MarkusPiotrowski commented on #2363
I just want to add that the lowercase `bio` folder is not created by Biopython but by a different package which, unfortunately, uses the name `bio`. This happens when people do by mistake

[code]
instead of
[code]
@peterjc had contacted the author of the other package, with no response so far (afaik).

[2020-04-09 09:31] chris-rands commented on #2363
I wonder if there are multiple issues here?  If renaming `bio` to `Bio` sometimes 'works', then in some cases `bio` is created upon the installation of biopython i guess- Peter suggested somewhere this was related to https://github.com/pypa/pip/issues/3309

At least 1 user has also reported this on macOS with conda, so i'm also not clear it's specific to Windows https://stackoverflow.com/questions

[2020-04-09 09:36] ondrejcinek commented on #2363
Yes, this was exactly what I did by mistake, my fault. Still, it might be useful to consider renaming Biopython components in accord with the current naming conventions for modules and packages.

From: Markus Piotrowski [mailto:notifications@github.com]
Sent: Thursday, April 9, 2020 11:23 AM
To: biopython/biopython
Cc: ondrejcinek; Author
Subject: Re: [biopython/biopython] Windows installation pat

[2020-04-09 12:06] #2809 closed

[2020-04-11 11:32] peterjc opened #2835 "Use assertEqual etc unittest methods"
See #2700 for background, cross reference https://github.com/biopython/biopython/pull/2833#discussion_r406737022 e.g.

[code]

and:

[code]

Those should use ``assertEqual``, while:

[code]

and:

[code]

Those shoud use ``self.assertNotEqual``

Not this cleanup work is not specific to dropping Python 3:

https://docs.python.org/3/library/unittest.html#unittest.TestCase.assertEqual
https://docs.py

[2020-04-11 11:35] peterjc commented on #2835
See also https://github.com/biopython/biopython/issues/2700#issuecomment-594032554 where the ``A500`` check from ``flake8-assertive`` should catch more than my quick grep searches.

[2020-04-11 11:44] peterjc commented on #2363
We can't rename ``Bio/`` and ``BioSQL/`` without breaking backward compatibility dramatically - to me that only makes sense as part of a larger Biopython v2 effort (which can also address other non-lowercase module names like ``Bio.SeqIO`` etc).

Sadly no reply yet on https://github.com/ylathouris/bio/issues/1

[2020-04-11 11:52] peterjc commented on #2757
Thanks Chris - at least some code cleanup came from this work, even if less dramatic than we initially hoped.

[2020-04-12 12:29] chris-rands commented on #2363
`ylathouris/bio` is "Used by" 99 other packages (via `requirements.txt`) but from what I can see, they are all meant to biopython, highlighting the scale of the confusion!

pyPI recommends the following process: https://www.python.org/dev/peps/pep-0541/#how-to-request-a-name-transfer

[2020-04-12 14:16] peterjc commented on #2363
Maybe.

If we go down the PyPI name clash resolution route, would we want to ensure "pip install bio" fails (if that is possible)? Or can we setup a replacement dummy package which just depends on the existing "biopython" package? Or we could opt to make separate ``Bio/`` and ``BioSQL/`` packages on PyPI, and make "biopython" a dummy package with those two as dependencies. Lots of questions.

[2020-04-12 15:16] MarkusPiotrowski commented on #2363
As already suggested [earlier](https://github.com/biopython/biopython/issues/2363#issuecomment-559597786),

Possibly don't restrict this to Windows machines. This would solve the problem that a Biopython installation ends up in a `bio` folder. And I guess that will cover 99% of the problematic cases.

Also, this is now a well known issue that we can publish somewhere, e.g. in a FAQ, in our install

[2020-04-12 15:27] peterjc commented on #2363
Good idea on the FAQ, I agree that is overdue in fact.

And yes, ``pip install biopython`` followed by ``pip install bio`` is also going to break Biopython, although here I would expect reinstalling to fix it?

[2020-04-14 02:15] limin321 opened #2838 "How to change feature caption to eithe "product" or "gene" when drawing plasmid diagram?"
### Setup

I am trying to draw a digram of a Ti plasmid genbank file using biopython, one of the code is to add features to empty feature set:
The code is:

gd_feature_set.add_feature(feature, color=color, label=True, label_size=0.7)

The above code will produce a diagram with locus tag as feature caption. What I want is using "product"  as feature caption, how should I modify the previous code. I

[2020-04-15 19:36] naomiajacobs opened #2839 "PHD Trim parsing bug: too many values to unpack"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

(*Please copy and run the above in your Python, and copy-and-paste the output*)

### Expected behaviour

When handling a phd file with a trim line `'TRIM: -1 -1 -1.000000e 000'`, I expect biopyton to parse it successfully.

### Actual behaviour

error is [here](https://github.com/b

[2020-04-15 19:52] naomiajacobs commented on #2839
The PHD format is described [here](http://bozeman.mbt.washington.edu/phrap.docs/phred.html) (search for `10. Phd files`). It states that the trim should only have three values, however in practice, we are seeing PHD files with four values. My suggestion is to make this less strict, and do
[code]
To gracefully handle this case.

[2020-04-16 10:04] peterjc commented on #2839
To me this is a clear bug in the input file. I would suggest if the problem is common enough that an error is a problem, we add a work around with a warnings, e.g.

[code]

[2020-04-17 15:19] YiweiZhu opened #2840 "print Feature Location in a tab-delimited format"
Hi!
I want to print the start and end sites of all CDS from a gbk file to further produce a BED file. However, I cannot print the Feature Location as a string with the code like print("%s"%(location)). I wonder how to print the start and end sites with other features of genes in a tab-delimited format?

### Setup

I am reporting a problem with Biopython version, Python version, and operating
syste

[2020-04-17 17:13] peterjc commented on #2840
This should be close to what you want:

[code]

Both Biopython and BED use zero-based counting, so that should give you a minimal BED line:
https://genome.ucsc.edu/FAQ/FAQformat.html#format1

[2020-04-17 17:15] peterjc commented on #2840
Also, use ``location.strand`` for the strand - and if you need the CDS name, look in the dictionary ``feature.qualifiers`` dictionary, perhaps ``feature.qualifiers['product'][0]`` depending on the way your file has been annotated?

[2020-04-17 17:26] peterjc commented on #2838
Probably you need to do something like this:

[code]

Or, using "gene" where not all the feature have this, thus using the dictionary ``.get(...)`` and setting a default of ``["Unknown"]``:

[code]

[2020-04-18 02:12] YiweiZhu commented on #2840
Many Thanks! @peterjc

[2020-04-18 02:12] #2840 closed

[2020-04-18 02:22] collinarnett commented on #2819
Will this be in the pypi package any time soon? Getting this error with 2f03 on version 1.76

[2020-04-18 02:25] ekiefl commented on #2819
Sorry I was never able to test this. My stored structures actually have comments removed so there are no remark 465s :/

[2020-04-18 03:12] collinarnett opened #2842 "string formatting error when loading PDB"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

3.6.9 (default, Nov  7 2019, 10:44:02)
[GCC 8.3.0]
CPython
Linux-4.15.0-96-generic-x86_64-with-Ubuntu-18.04-bionic
1.76

### Expected behaviour

Structure loaded succesfully

### Actual behaviour

"""
Traceback (most recent call last):
  File "/usr/lib/python3.6/multiprocessing/poo

[2020-04-18 08:01] rob-miller commented on #2819
On Sat, 18 Apr 2020 at 03:22, Collin Arnett <notifications@github.com>
wrote:

not the solution you’re asking for, but I’ve found installing from source
very easy:

Clone the repository from github
Pip uninstall biopython
Pip install /path/to/cloned/repo

As noted in this thread above, the fix has been committed to the current
master branch, and I confirm I can load 2f03 with it now (albeit with
s

[2020-04-18 13:54] peterjc commented on #2842
Looks like ``entity_id`` is a tuple, a corner case with the Python % string formatting. Probably switching to a new Python 3 style f-string would be the simplest fix:

[code]

Can you try making that change? Either by installing from source, or as a quick hack editing ``/home/collin/.virtualenvs/protein_gan/lib/python3.6/site-packages/Bio/PDB/Entity.py`` directly for debugging purposes only.

[2020-04-19 09:35] BalduinLandolt commented on #2814
Glad to hear you don't find my use case entirely absurd. :)

Generally, yes, after 9 one could continue with hexadecimal notation - and even further: 0-z would already make 36 states (and then one could test if all non-whitespace, non-punctuation, non-combining unicode characters work... which would leave me with more than enough.
But in practice I'd probably always try to avoid using more than 10

[2020-04-20 10:00] peterjc commented on #2814
That sounds good - leave this open pending some test data and some time to fix this properly. Thank you!

[2020-04-22 08:23] narsapuramvijaykumar opened #2843 "extractDataBlastXMLBiopython --> ('*', 'M') KeyError: ('*', 'M')"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]
'2.7.2 (default, Apr 21 2015, 13:01:47) \n[GCC 4.4.7 20120313 (Red Hat 4.4.7-4)]'
'CPython';'Linux-2.6.32-696.30.1.el6.x86_64-x86_64-with-redhat-6.9-Santiago'
'1.60'

### Expected behaviour

The extractDataBlastXMLBiopython has to parse the blast xml generated by psiblast and return

[2020-04-22 09:29] peterjc commented on #2843
Your example is not self contained - can you grab the two failing sequences ``dict_record_query[qresult.id]`` and ``dict_record_pep[each_hit.id]`` so the example becomes something like:

[code]

[2020-04-22 22:20] philiptzou opened #2844 "Unable to parse certain Genbank format"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]
[code]

### Expected behaviour

Should be able to process [AYW00820.1](https://www.ncbi.nlm.nih.gov/protein/AYW00820.1).

### Actual behaviour

[code]

### Steps to reproduce

[code]

[2020-04-22 22:29] collinarnett commented on #2842
@peterjc Sorry for getting around to this so late.

Other than a bunch of Biopython warnings, your suggestion worked.

[2020-04-22 22:32] collinarnett commented on #2819
Tested 2f03 and it works when I install from source.

[2020-04-22 22:38] collinarnett commented on #2842
I can submit a PR but I assume if you want f-strings to be the new method of string formatting you would want to change all the instances at once.

[2020-04-23 09:33] peterjc commented on #2842
Given this is a bug fix, I would prioritise that one string. So the tiny pull request would be welcome.

From a stylistic point of view, the Biopython developers are not yet making any mass string formatting style changes, see #2510

[2020-04-23 10:18] peterjc commented on #2819
Thanks everyone - I think we can close this then.

[2020-04-23 10:18] #2819 closed

[2020-04-23 10:21] peterjc commented on #2844
@biologyguy are you able to take a look at this since you wrote the structured comment parsing? I wonder if the input is malformed?

[code]

The trailing full stop on ``##Assembly-Data-END##.`` looks out of place?

[2020-04-24 01:54] biologyguy commented on #2844
Hi @peterjc,
It's been awhile! I hope you and yours are staying safe and healthy during these very 'interesting' days.
So, I'm not sure how best to approach this. The record does seem to be malformed but the trailing full stop isn't the issue. It's the colons that are used within the comment, which are supposed to act as the delimiter for key-value pairs. The parser is looking for the pattern " ::

[2020-04-24 09:51] peterjc commented on #2844
OK - would one of you like to contact the NCBI about this file?

For Biopython, assuming this file is indeed invalid, how about a middle ground: Abort parsing the structured comment and raise a warning, allowing the user to continue (perhaps they don't care about this part of the file).

[2020-04-24 15:49] tinchogb opened #2849 "New argument to handle compression when fetch PDB files in all formats."
First of all, thanks for your work !

### Setup

I am reporting an improvement in Biopython version, Python version, and operating
system as follows:

[code]
Python 3.6.9
( CoDNaS-RNA_py3 ) martingb@Ubu18:~/Projects/2020/CoDNaS-RNA$ python
Python 3.6.9 (default, Nov  7 2019, 10:44:02)
[GCC 8.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

3.6.9 (default, Nov

[2020-04-24 19:24] peterjc commented on #2849
Until I read your code I was expecting this to save the gzipped file to disk - which I would have thought could be used with the PDB parser (via ``import gzip``).

So you are suggesting downloading the files compressed, but continuing to store them uncompressed? That does make sense from a download time point of view, and might be a good default behaviour.

[2020-04-25 05:50] tinchogb commented on #2849
@peterjc Hi, thanks for your answer. Yes, what I wanted to said was that default behaviour should be:
* download files compressed
* stored uncompressed
But that is what already does the main **retrieve_pdb_file()** code now. So, a new feature is need it, incorporating a new argument that allows controlling compression (by default uncompressed). This control will allow users to decide how those PDB

[2020-04-25 11:33] peterjc commented on #2849
The next step would be submit this as a pull request - for a relatively small change like this you could do it entirely within the GitHub website if you wanted to (no need for git on your computer).

Note this particular area of the code will require manual testing.

Maybe @jgreener64 would be a good person to comment on or review this?

[2020-04-26 00:43] biologyguy commented on #2844
Assuming tests pass, I've added in the check and raise a warning. Is okay?
@philiptzou I'll leave it up to you to alert NCBI :)

[2020-04-27 09:35] jgreener64 commented on #2849
Sounds like a good idea, I'll have a look at the PR.

[2020-04-28 11:56] peterjc commented on #2844
@philiptzou are you able to install Biopython from source? The latest master branch should now work, and we'd appreciate you testing it.

Also, have you emailed the NCBI about this problematic structured annotation?

[2020-04-28 15:42] jhaselma opened #2853 "UniGene parser bug - Xx.data files have incompatible formatting differences"
### Setup

I am reporting a problem with Biopython version 1.76, Python version 3.7.7, and operating system as follows:

3.7.7 (default, Apr 15 2020, 05:09:04) [MSC v.1916 64 bit (AMD64)]
CPython
Windows-10-10.0.16299-SP0
1.76

### Expected behaviour

from Bio import UniGene
handle = open('Xl.data')
ugparser = UniGene.parse(handle)

for record in ugparser:
    do something with record

### Actual

[2020-04-28 15:47] peterjc commented on #2853
Are the problem input file(s) official ones from UniGene? Can you share which ones, since we would need something for testing purposes.

[2020-04-28 15:50] jhaselma commented on #2853
The files were pulled from the official FTP yesterday (4/27/20) ftp://ftp.ncbi.nlm.nih.gov/repository/UniGene/
Xenopus laevis (Xl.data) and Xenopus tropicalis (Str.data)
Homo Sapiens (Hs.data) worked perfectly.

[2020-04-28 15:54] peterjc commented on #2853
So ftp://ftp.ncbi.nlm.nih.gov/repository/UniGene/Xenopus_laevis/Xl.data.gz and ftp://ftp.ncbi.nlm.nih.gov/repository/UniGene/Xenopus_tropicalis/Str.data.gz in particular?

[2020-04-28 15:55] jhaselma commented on #2853
Yes

[2020-04-28 15:58] peterjc commented on #2853
Both files seem to have lots of empty lines. Very strange, but easily ignored. It could be bug - do you want to ask the UniGene team?

[2020-04-28 16:01] peterjc commented on #2853
I think you are suggesting adding two lines to the ``_read()`` function, which does look like a sensible fix, but it would be clearer to see as a pull request. You can even do this within the GitHub website (no need for git at the command line for a tiny change like this):

[code]

[2020-04-28 16:39] jhaselma commented on #2853
I appreciate your responsiveness. I'm new to GitHub and have no experience with pull requests. I was hoping this post would be sufficient to bring attention to the issue and at least provide a workaround.

[2020-04-28 17:10] peterjc commented on #2853
It looks like UniGene now sometimes includes blank lines, and I agree with your code change for simply ignoring the blank lines. This could be your first pull request :)

Go to https://github.com/biopython/biopython/blob/master/Bio/UniGene/__init__.py and click on the edit icon (diagonal pencil) top right, GitHub should guide you though what to do next - you'll want to fork the repository (make yo

[2020-04-28 22:14] peterjc opened #2854 "Explore using __slots__ on Seq, SeqRecord, etc"
Defining ``__slots__`` on the core sequence object would be a useful optimisation, but does potentially have downsides if it stops people adding their own attributes at run time. See:

https://twitter.com/raymondh/status/1255228879763054598

https://twitter.com/raymondh/status/1255246344551309313

It would be particularly interesting to see if this make a noticeable difference to e.g. parsing larg

[2020-04-29 02:51] ATPs opened #2855 "SeqIO cannot parse newest swiss format"
### Setup

I am reporting a problem with Biopython version 1.76, Python version 3.7.1, and operating
system as follows:

[code]

file `uniprot_trembl_viruses.dat` is from `ftp://ftp.uniprot.org/pub/databases/uniprot/current_release/knowledgebase/taxonomic_divisions/uniprot_trembl_viruses.dat.gz`

### Expected behaviour

the file can be parsed

### Actual behaviour

--------------------------------

[2020-04-29 09:24] peterjc commented on #2855
And the CC lines too, see #2417 :(

[2020-04-29 09:24] #2855 closed

[2020-04-29 09:26] peterjc commented on #2417
Can we close this issue with #2484 applied?

[2020-04-29 09:26] peterjc commented on #2855
Can you retest with the latest code from GitHub? It looks like it may have been fixed, but we forgot to close #2417.

[2020-04-29 13:45] ATPs commented on #2855
thanks.

[2020-04-29 16:07] peterjc commented on #2854
Defining slots on the Seq object would help with enforcing the expectation that it is immutable (like a string).

[2020-04-29 17:38] ATPs commented on #2855
I just checked with the latest code from GitHub. Now it is working. Thank you again! @peterjc

[2020-04-29 17:48] peterjc commented on #2855
It was @mdehoon who fixed it, but thank you for letting us know it works now 👍

[2020-04-30 05:54] narsapuramvijaykumar commented on #2843
Thanks @peterjc . It got rectified the error is because of the "*" character in my "pep_seq".
I removed and character and it runs fine..!!
Out of curiosity, Is there a  scope in Biopython to incoorporate the "*" character exception and try to ignore it when it come across such cases..!!

PS: Sorry for the delayed response

Thanks,
Vijay N

[2020-04-30 10:15] peterjc commented on #2843
Are you saying you have the empty string as a character in your peptide? If so, I don't understand why or how, but that fits with the exception message ``KeyError: ('', 'M')`` that the combination empty string and letter M has not been defined.

Could you make a self contained example as requested earlier?

[2020-04-30 16:38] trkohler commented on #2835
Hi!
Can I work on this? I'd like to help!
It might be my first open-source issue so if it requires any special knowledge, please let me know

[2020-04-30 18:04] peterjc commented on #2835
@trkohler Welcome! You should be fine with basic Python knowledge (very few of the Biopython objects do anything strange with self-defined equality rules). I suggest you pick a related batch of files, say which ones here (to reduce the chance of someone else working on the same thing), and start working. Thank you.

[2020-04-30 21:46] limin321 commented on #2838
Hi Thank you so much for your suggestion.
I still have issues: when I run this code
for feature in record.features:
    if feature.type != "gene":
        continue
    if len(gd_feature_set) % 2 == 0:
        color = colors.blue
    else:
        color = colors.lightblue
    gd_feature_set.add_feature(feature, color = color, label = True)
gd_diagram.draw(format="linear", orientation="landscape", p

[2020-04-30 23:31] limin321 commented on #2838
I actually add these code,
    caption = feature.qualifiers.get("product",["Unknown"])[0]
    gd_feature_set.add_feature(feature, color = color, label = True, name = caption)

and the output looks like this
<img width="801" alt="Screen Shot 2020-04-30 at 4 29 47 PM" src="https://user-images.githubusercontent.com/42760669/80768654-d1d65680-8aff-11ea-93a8-e66b1683572c.png">

All captions are marked

[2020-05-01 11:34] peterjc commented on #2835
To clarify, probably best don't touch ``test_Restriction.py`` which was done in #2833.

[2020-05-01 13:33] trkohler commented on #2835
may I consider this one as done? Or did I miss something again? I'm sorry for my inattention, I was too excited by the fact I can do something for such a project.

[2020-05-01 17:05] peterjc commented on #2838
Evidently your GenBank file has few or no features with the "product" annotation key. Which file are you loading, or can you share a snippet of the feature table?

[2020-05-01 17:48] limin321 commented on #2838
Sure.
<img width="604" alt="Screen Shot 2020-05-01 at 10 48 19 AM" src="https://user-images.githubusercontent.com/42760669/80827885-47423580-8b99-11ea-8c1d-6f29fc6ce8b7.png">

Here is how the annotation looks like.

[2020-05-01 19:28] peterjc commented on #2838
This is subtle - these CDS features do have "product" annotations, so "product" should be in the ``feature.qualifiers`` dictionary. The mistake is that you are not drawing the CDS features, but the gene features (which have very little annotation).

P.S. Copy and pasting text is usually more helpful than a screen shot - especially with error messages. On github putting a triple back-tick line abov

[2020-05-02 06:51] philiptzou commented on #2844
Thanks! Just noticed the message and I'll soon try it!

[2020-05-02 08:28] trkohler commented on #2854
Hi!
I'd like to get familiar with slots concept more. I read it's like an immutable version of the dictionary where obj properties contained, isn't it?
If you don't mind, I'd get this issue 🔧

[2020-05-02 10:36] peterjc commented on #2854
If you have the time it would be an interesting experiment to make a new branch where you add slots to the ``Seq`` class in ``Bio/Seq.py``, and see if our test suite still passes, and if it makes any difference to some simple benchmarks like parsing a large FASTA files (millions of sequences as in high throughput sequencing).

[2020-05-04 07:28] trkohler commented on #2854
Can I somehow run tests only related to the Seq class? I have a weak machine and running a full test suite (even offline) takes a long time.

Also, silly question, how can I check the difference? Is there anything in the project I can use for doing this? I'd be happy for the help, I'm still not familiar with a lot of things.

And, finally, am I right - Seq obj has 2 properties: data and alphabet?

[2020-05-04 08:03] chris-rands commented on #2854
You can run any of the .py files under the `Test/` folder individually. For benchmarking timing, you could modify this script  https://github.com/biopython/biopython/pull/1808#issuecomment-433043873 - benchmarking memory (where the gains of `__slots__` might be greatest) is a little tricker.

Also if there is still the plan to drop alphabets this year(?), then the Seq object might not be the best

[2020-05-04 09:15] mdehoon commented on #2854
Yes there is. For the upcoming 1.77 release, we focused on the python2 -> python3 transition, removing all python2-specific code. After 1.77 is out, we can start removing the alphabets.

Python offers a better solution nowadays, which is to let Seq implement the buffer protocol. It will still effectively look like a string, but it has the advantage that you won't have to create, read in, and keep

[2020-05-04 09:28] MarkusPiotrowski commented on #2854
@mdehoon I don't understand this. Isn't a SeqRecord object something that represents a sequence database entry and does contain more than just the sequence (e.g. ID, name, description, features, annotations)? Where do you want to put this information?

[2020-05-04 09:48] mdehoon commented on #2854
@MarkusPiotrowski

Yes.

As attributes of the `Seq` object. So instead of having attributes on a `SeqRecord` object, we put them on the `Seq` object directly.

[2020-05-04 10:20] chris-rands commented on #2854
@mdehoon is that similar to how Biotite stores sequence objects using NumPy ndarray objects? e.g. https://github.com/biotite-dev/biotite/blob/master/src/biotite/sequence/sequence.py#L25

How to handle backward compatibility?

[2020-05-04 10:30] MarkusPiotrowski commented on #2854
Mmh, didn't we remove attributes from the Seq object (like the sequence type) with the aim to subclass Seq objects directly from `str`?

[2020-05-04 11:02] peterjc commented on #2854
I do see attractions in making ``Seq`` subclass string (or use the buffer protocol), but like Markus don't see don't see the rational to merge the Seq and SeqRecord.

Anyway, Python strings are immutable, so you cannot add attributes at run time. Adding ``__slots__`` to the current ``Seq`` object would help make it more like the immutable string. i.e. This should be a useful experiment for some of

[2020-05-04 11:09] mdehoon commented on #2854
@chris-rands

It's different. Biotite still stores the sequence information as an attribute to their sequence object.

[2020-05-04 11:12] mdehoon commented on #2854
@MarkusPiotrowski

I think these issues are unrelated. You can subclass Seq objects directly from str and still have attributes:
[code]

[2020-05-04 11:17] mdehoon commented on #2854
@peterjc

You can let `Seq` subclass from `str`, and add attributes to them, and from Python's viewpoint they are act as immutable objects:

[code]

[2020-05-04 11:19] mdehoon commented on #2854
@peterjc

We should ask: What is the rationale for having both a `Seq` and a `SeqRecord`? Other than historical reasons...

[2020-05-04 11:22] peterjc commented on #2854
Is your answer related to ``__slots__`` because we're going way off topic here?

[2020-05-04 11:44] mdehoon commented on #2854
Yes. I don't see which problem adding `__slots__` will solve, and if I am right that `Seq` and `SeqRecord` can be merged, then adding `__slots__` is a step in the wrong direction.

[2020-05-04 12:00] trkohler commented on #2854
I have some issues and I don't understand if there is my lack of knowledge or __ slots__ on seq just  can't be implemented

I added __slots__ on Seq class:
`__slots__ = ('_data', 'alphabet')`

and I have almost all tests failed.
like not just one or two test cases, but around 80%.

[2020-05-04 12:02] peterjc commented on #2854
As per the links at the start of this issue, adding ``__slots_`` can be a useful optimisation technique. A major part of the slowness of parsing files with millions of sequences is the object creation overhead, so potentially adding slots to key objects like the ``Seq`` and ``SeqRecord`` objects could speed this up.

However, it would be a backward incompatible change, and assuming @trkohler's ini

[2020-05-04 12:18] peterjc commented on #2854
I've tried adding slots as per @trkohler's code snippet and it has the expected result:

[code]

I have run the test suite locally (offline) but saw no failures...

[code]

(There were some warnings, including needing to update the BLAST+ wrappers, but that is an aside)

@trkohler I suspect something else is wrong in your local tests. It might be worth making a pull request to run the slots change

[2020-05-04 12:42] mdehoon commented on #2854
I wonder how much speedup you would get if you only had to create one object instead of two.

[2020-05-04 14:29] martinfalk opened #2858 "atom.get_full_id() return value not as documented"
`atom.get_full_id()` returns a tuple of 5 elements and not 6 as stated in the docs/comments. In particular, atom name and alt loc are nested in another tuple.

For example, `a.get_full_id()` returns
[code]

https://github.com/biopython/biopython/blob/6c75d2da18afdc89b6b3ef994d87c601f856ae27/Bio/PDB/Atom.py#L365-L371

[2020-05-04 15:33] dnanto opened #2859 "SeqIO.read GenBank Parser Error"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

### Expected behaviour

Successfully read the GenBank record.

### Actual behaviour

[code]

### Steps to reproduce

[code]

### Suggestion

* Add a degree a permissiveness?
* Ignore this kind of `KeyError`?

[2020-05-04 16:26] peterjc commented on #2859
Sounds just like #2844 which was hopefully fixed in #2851. Are you able to install the latest Biopython from source and retest?

Again https://www.ncbi.nlm.nih.gov/nuccore/MF993533.1 looks to have a stray trailing full stop in the structured comment:

[code]

Also, please report this to the NCBI

CC @biologyguy; maybe this is a widespread issue not just one or two problem records?

[2020-05-04 16:41] trkohler commented on #2854
`ImportError: cannot import name '_aligners' from partially initialized module 'Bio.Align' (most likely due to a circular import) (/Users/Wnb/Desktop/biopython/Bio/Align/__init__.py)`

I understand I can't run the script mentioned by @chris-rands in the root folder. I tried python console and no effect also. How can I solve this?

[2020-05-04 16:45] peterjc commented on #2854
@trkohler that error suggests you have not compiled the C code (for the ``_aligners`` module), and/or are not running the test script as expected.

[2020-05-04 17:55] dnanto commented on #2859
I built from source on my other laptop
[code]

and it worked, generating a warning:

/Users/dnanto/miniconda3/lib/python3.7/site-packages/biopython-1.77.dev0-py3.7-macosx-10.9-x86_64.egg/Bio/GenBank/Scanner.py:1809: BiopythonParserWarning: Structured comment not parsed for MF993533. Is it malformed?
  BiopythonParserWarning,
SeqRecord(seq=Seq('ATGGGCGGCGTATGAGAGTAGCCCAAATTAAAACTACCCATTATGGAGAAAGTT

[2020-05-04 17:55] #2859 closed

[2020-05-05 06:07] mdehoon commented on #2229
Closing this, since as far as I know this has been fixed.
@KKmushroom please let us know if you still see this bug.

[2020-05-05 06:07] #2229 closed

[2020-05-05 06:29] gandalfthegrape commented on #2552
Hello, I'm still new to contributing. Unless I'm mistaken, it looks like test_Nexus.py has not been updated yet. I'm a little confused as to what to do though. When I run black and then "flake8 test_Nexus.py" it only shows 4 lines with trailing whitespace, but when I fix that and go to commit, the pre-commit hook complains about all the missing docstrings for public classes and functions. Glancing

[2020-05-05 06:59] MarkusPiotrowski commented on #2552
Are you using the `.flake8` config file of the master branch? E.g. the errors you mentioned are, afaik, turned off for the `test` folder.

[2020-05-05 07:03] martinfalk opened #2860 "Return element in atom.get_full_id() ?"
Is there a reason why `atom.get_full_id()` does not return the actual element? I know that you can access the element via `atom.element` but I find it a bit strange that the full ID does not know about it.

https://github.com/biopython/biopython/blob/6c75d2da18afdc89b6b3ef994d87c601f856ae27/Bio/PDB/Atom.py#L365-L371

[2020-05-05 11:45] peterjc commented on #2858
This seems to date back to the first commit of this code 98a742e146a3715da15f1fcead8e600e69c226bb where it was:

[code]

Maybe the parent object's method changed...  (I would expect to be a residue here).

[2020-05-05 12:54] martinfalk commented on #2858
OK. Did not think of a blame there.
According to the docs, I would have expected the line to look like this:
[code]
Should this be fixed or might it actually break some code?

[2020-05-05 14:06] peterjc commented on #2858
Given it has been this way for years, I think we should rather change the documentation string.

[2020-05-05 17:00] gandalfthegrape commented on #2552
I'm not quite sure. When I run `flake8 Tests/test_Nexus.py` it does not show errors, but when I go to commit it gives me several errors that the `.flake8` file should be ignoring.

[2020-05-05 19:51] izabelcavassim opened #2861 "Is here supposed to be assigned by j instead of i?"
https://github.com/biopython/biopython/blob/6c75d2da18afdc89b6b3ef994d87c601f856ae27/Bio/codonalign/codonseq.py#L762

[2020-05-05 23:59] limin321 commented on #2838
Hi
Thanks for the advice, you help me figure out the why gene is not availabe, I didn't know this before. Now I changed it to 'CDS', still couldn't make it work. No matter how I modify the label, the output doesn't change acccordingly.

[code]
Run the above code, by default, it use gene name as caption. If no gene name, then it use locus tag.
Then I tried both following, none of them change the ou

[2020-05-06 00:32] svalqui commented on #2552
The file .flake8 has a section where list some errors that can be ignored:
https://github.com/biopython/biopython/blob/6c75d2da18afdc89b6b3ef994d87c601f856ae27/.flake8#L45-48
for example if you run flake and get this:
`test_Nexus.py:1168:1: D102 Missing docstring in public method`
you can ignore it, that relates to missing documentation, a missing docstring in a method not this issue.

if you get

[2020-05-06 02:55] gandalfthegrape commented on #2552
Thanks you for the advice!  That makes sense, I couldn't figure out how to force a commit when it gives those errors I mentioned, but I realized I can use the `--no-verify` argument when I'm sure those are the only errors. I'll get working on this then.

[2020-05-06 06:47] MarkusPiotrowski commented on #2552
Probably, your pre-commit hook is set wrongly. Have you tried to remove and re-set it? Are you in the `\biopython` folder when doing the commit? I mean, the place from where you type `git commit ...`

[2020-05-06 11:05] peterjc commented on #2552
One simple possibility: It could be you had a flake8 error, did the git add, git commit - and got the warning. If you then fixed the flake8 error, and repeated git commit without doing git add first, it would still be trying to commit the bad version, not the newer fixed version. If so, do another git add, then retry the git commit.

[2020-05-06 11:17] peterjc commented on #2838
In the code above, you never use the text value set in variable ``label`` when you call ``gd_feature_set.add_feature(...)``, you need ``gd_feature_set.add_feature(..., name=label)`` as before.

[2020-05-06 11:37] jfoster-f opened #2862 "Affy/CelFile.py read() generates an empty record for Axiom CEL file"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

3.7.5 (default, Nov  1 2019, 02:16:32)
[Clang 11.0.0 (clang-1100.0.33.8)]
CPython
Darwin-19.4.0-x86_64-i386-64bit
1.76

### Expected behaviour

with open('BLANK_Axiom_PMRA_F07.cel', 'rb') as celfile:
...    a = CelFile.read(celfile)

Should return a correctly parsed record for the CEL file

[2020-05-06 12:14] peterjc commented on #2862
@mdehoon are you the best person to look at this? If not, who else?

[2020-05-06 12:32] mdehoon commented on #2862
@peterjc  I may have contributed some bug fixes for this module in the past but I don't use Affy CEL files myself. @jfoster-f  would you be able to provide a fix for this bug?

[2020-05-06 12:50] jfoster-f commented on #2862
@mdehoon unfortunately I'm unable to provide a fix

[2020-05-06 13:57] peterjc commented on #2861
@zruan ?

[2020-05-06 14:03] peterjc opened #2863 "Test updates for NCBI BLAST DB v5"
See https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=959587

[code]

[code]

@tillea wrote:

2.10.0 changed the default database version (controlled by makeblastdb's
-blastdb_version flag) from 4 to 5, causing some output files to change
names (and formats):

Related to this, there are new switches to add to the command line wrappers (shown as warnings from the tests above)

[2020-05-06 14:08] peterjc commented on #2184
See also #2863

[2020-05-06 14:09] peterjc commented on #1982
Can we close this with #2022 merged?

[2020-05-06 16:44] limin321 commented on #2838
Thank you so much.  I am pretty new to python, you taught me a lot.
[code]
 This one works now. It is able to label all features with product name.  I have another question: ``` feature.qualifiers["product"]```  does this mean you are extracting the a key name called "product" in qulifiers list?  why you add [0] in the end?  I tried to remove [0] in the end, it will produce an error message:  Attr

[2020-05-06 17:48] peterjc commented on #2838
We need a Python string as the caption, and Python strings have a ``.strip(...)`` method. If you give some other object (like a list), then it does not have a ``.strip(...)`` method and that triggers the ``AttributeError``.

Where did the list come from? This is down to a quirk of the GenBank format, where the feature annotation qualifiers come in key/value pairs. At first glance a Python dictiona

[2020-05-06 17:49] peterjc commented on #2838
And to your follow up question, try:

[code]

[2020-05-06 19:50] limin321 commented on #2838
Hi

You made things so making sense to me. My brain never had felt so clear for a month. If the tutorial include all this details like the way you explain to me, that will be really awesome. This does help people like me tremendously.

[code]
By the way, could you please recommend more resource with more details for drawing genomediagram, like the way you explained to me. That will be really helpf

[2020-05-06 20:18] limin321 commented on #2838
These codes work perfectly.  Thank you so much.
Really appreciate you taught me so much.

Best and be safe.

[2020-05-06 20:48] peterjc commented on #2838
I'm glad to have helped. Maybe something based on your aim of using different preferences for the label text would be good as another example in the tutorial.

Looking at the code again, I see that the ``.name_qualifiers`` attribute is how @widdowquinn may have intended this to be done. This defaults to ``["gene", "label", "name", "locus_tag", "product"]`` but the initialisation does not explicitl

[2020-05-06 22:54] biologyguy commented on #2859
Looks like maybe they updated the record? I'm not seeing the malformed structured comment in MF993533. Also, AYW00820 seems to be fixed as well, which coincidentially, is related to MF993533 (both from the same group of submissions). I'm guessing it's relatively isolated but I'm happy to make further changes if it starts to crop up more frequently.

[2020-05-07 09:28] bow commented on #1982
I vote for closing ~ the parser has been updated to address the original issue.

[2020-05-07 09:36] #1982 closed

[2020-05-07 09:36] peterjc commented on #1982
Thanks all

[2020-05-07 12:45] chris-rands commented on #1686
I quite like the idea for biopython to support parsing compressed files like `.gz`. The original suggestion here with `for record in SearchIO.parse(gzip.open(infile), 'blast-xml')` is not optimal since the open file handle is never closed explicitly. This is also a popular question on SO, where I suggested a solution that could be generalised (but relies on file extension currently): https://stack

[2020-05-07 13:06] peterjc commented on #1686
Right, you'd use ``gzip.open(...)`` as a context manager - hopefully that's what all our examples do?

[2020-05-07 13:14] peterjc commented on #1686
I would previously have looked at ``as_handle`` in ``Bio/File.py`` as the obvious place to do  include universal transparent support for parsing gzipped files.

@mdehoon in light of your recent refactoring of how handles/filenames are dealt with in SeqIO (having the file format specific code open the handles in the appropriate mode), do you have any suggestions on how we might best tackle this?

[2020-05-07 14:14] chris-rands commented on #1686
Yes, the example in the Tutorial is correct

[2020-05-07 15:20] koko256 opened #2865 "Impossibility to add email and tool in NCBIWWW qblast queries"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]
Python 3.7.3 (default, Dec 20 2019, 18:57:59)
[GCC 8.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

3.7.3 (default, Dec 20 2019, 18:57:59)
[GCC 8.3.0]

CPython
Linux-4.19.98-08076-g24ab33fb8e14-x86_64-with-debian-10.3

1.73

### Expected behavi

[2020-05-07 15:39] peterjc commented on #2865
Confirming with current version of https://blast.ncbi.nlm.nih.gov/Blast.cgi?CMD=Web&PAGE_TYPE=BlastDocs&DOC_TYPE=DeveloperInfo

We definitely do this in ``Bio.Entrez``, but it does seem to be missing in ``Bio.Blast.NCBIWWW``

https://github.com/biopython/biopython/blob/master/Bio/Entrez/__init__.py
https://github.com/biopython/biopython/blob/master/Bio/Blast/NCBIWWW.py

It looks like I missed this

[2020-05-07 15:47] koko256 commented on #2865
It depends, I'm rather new to biopython.
If it is just adding an email field to NCBIWWW and adding it to  urlencode, it is OK. Are there other dependancies I am missing ?

[2020-05-07 16:01] peterjc commented on #2865
That should be it - plus adding a test like this:

[code]

That was from https://github.com/biopython/biopython/blob/master/Tests/test_Entrez.py - we'd want something similar added to https://github.com/biopython/biopython/blob/master/Tests/test_NCBI_qblast.py

[2020-05-07 16:19] koko256 commented on #2865
OK. I'll do that.

[2020-05-07 18:00] zruan commented on #2861
The code here is not elegant and misleading, but it will not affect the result. Maybe we can change it into something like:

[code]

Zheng

[2020-05-07 18:15] koko256 commented on #2865
I wrote it and submitted a pull request. Yet I cannot run the online test it since I cannot get an answer from NCBI blast server. It seems they are really busy, probably with covid19.

[2020-05-07 19:18] MarkusPiotrowski commented on #2865
The "new" Common URL API (https://ncbi.github.io/blast-cloud/dev/api.html) doesn't have these parameters, so their documentation is slightly outdated. However, I'm sure these parameters will still be valid (as it seems for all parameters of the old qblast API which are not part of the Common URL API )

[2020-05-07 23:17] peterjc commented on #2865
Maybe we should double check with the NCBI before applying the changes (especially if live testing is proving difficult right now)?

[2020-05-08 00:34] mdehoon commented on #1686
@peterjc  The `SequenceIterator` class in `Bio/SeqIO/Interfaces.py` could handle this. If we do this, then I would suggest to check the magic number to confirm that the file is gzipped, instead of relying on the file extension only. There is a (small but not zero) chance that a file simply happens to start with the magic number for a particular compression scheme.

Personally I think that just usi

[2020-05-08 04:21] limin321 commented on #2838
Hi,
I just read your comments again. still confused that `.name_qualifiers`  defaults to `["gene", "label", "name", "locus_tag", "product"]`. What does this mean? are those key names of a qualifiers list?  Because when I print singe feature, like
[code]
the output looks like this:
type: CDS
location: [386:1502](-)
qualifiers:
    Key: codon_start, Value: ['1']
    Key: gene, Value: ['torf6']
    K

[2020-05-08 07:14] chebizarro commented on #2502
It looks like the variable name was changed to be `autodoc_default_options` after 1.8 - https://www.sphinx-doc.org/en/2.0/usage/extensions/autodoc.html - changing this in conf.py produces the expected results for me (sphinx v. 2.2.1). I can submit a pull request shortly.

[2020-05-08 11:11] peterjc commented on #2502
That is simple but subtle - I'm glad someone spotted it. Thank you!

[2020-05-08 11:14] peterjc commented on #2502
Here's where ``autodoc_default_options`` was *added* on the main branch, https://github.com/sphinx-doc/sphinx/commit/3d9e2cf8312ed5d86a9838fe7b9485c09fd0a922

I suppose the other form ``autodoc_default_values`` must have been specific to the branch the beta release was made from?

[2020-05-08 12:46] peterjc commented on #2838
Yes, it is the default list of qualifier keys which GenomeDiagram will try when you let it work out the drawing caption on its own. In this case there is a "gene" entry so that is picked, the default caption would be "torf6".

[2020-05-08 14:40] BjornFJohansson commented on #2158
Hi all, Maybe I am late for the party, but the pydna Dseqrecord class has a shifted method for circular sequences. The Dseqrecord is a derivative of the Seqrecord for double stranded sequences. Perhaps the code could be of use or inspiration
https://github.com/BjornFJohansson/pydna/blob/master/pydna/dseqrecord.py

[2020-05-08 15:21] peterjc commented on #2835
Using the ``flake8-assertive`` plugin, code A500 covers more than just equal and not equal, but:

[code]

So assuming ``test_Restriction.py`` is all fine via #2833, that leaves a few cases in ``test_Pathway.py``, ``test_PDB.py``, and ``common_BioSQL.py`` remaining.

[2020-05-08 15:30] trkohler commented on #2835
cool! It means I still have some easy things to do! 👯‍♀️

[2020-05-08 17:32] trkohler commented on #2835
Can I run somehow CI/CD checks in draft PR once again? I added commit to fix errors, but can't test locally - my machine is too weak, it lacks memory and tests run too long.

[2020-05-08 20:25] peterjc commented on #2835
Since you are only editing the tests, you only need to run that one test - e.g. ``python run_tests.py test_Pathway.py`` which should be quick.

Or I guess you must change the GitHub pull request from draft to normal? The draft thing is quite new so we don't yet have that much experience with it.

[2020-05-08 20:30] peterjc commented on #2502
Confirming the fix worked, https://biopython.org/docs/dev/api/Bio.Seq.html etc look good. Thank you @chebizarro 👍

[2020-05-08 20:30] #2502 closed

[2020-05-08 21:12] peterjc commented on #1686
Thanks @mdehoon - yes, the base class would make sense.

[2020-05-09 15:44] peterjc commented on #2552
Many thanks to @svalqui - just merged a bunch of their pull requests for this issue which had been left pending.

[2020-05-09 20:08] peterjc commented on #2835
Let's generalise this issue to any A500 problem found with ``flake8-assertive``, so equality, less than or equal, etc.

(There is just one case left for ``isinstance``which #2873 should resolve, so we can close #2700)

[2020-05-09 20:09] peterjc commented on #2700
My tiny pull request #2873 should close this issue.

[2020-05-10 10:45] #2700 closed

[2020-05-10 12:44] peterjc commented on #2835
Updated report, using ``pip install flake8-assertive`` then:

[code]

[2020-05-10 15:46] #2773 closed

[2020-05-11 06:03] narsapuramvijaykumar commented on #2843
IT was not empty string, its star character "*", Below is the example

MNKIAELRKEKLISQEKLAEQVGLSRTYISEIENNKKQPNVKLAIKIAKVLGTSVESIFG
TTCKL*

[2020-05-11 08:09] Artoria2e5 opened #2876 "Feature request: add support for NeXML <network>"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

### Expected behaviour

With the NeXML below, biopython should be able to recover the edges and attempt to make a cladogram (duplicate edges? that's fine, graphviz &c. can eat that):

<details><summary>Code sample (py3 & xml)</summary>

[code]

[code]

</details>

### Actual behavi

[2020-05-11 08:24] Artoria2e5 commented on #2876
A simple way to "just get it to work" is to have the tree-parsing code also accept `nex:network`. The connectivity works just fine, and clades do make some degree of sense despite the repetition:

[code]

[2020-05-11 10:10] peterjc commented on #2843
I see what confused me, I have edited your initial post to use triple-back-ticks round the quoted output. Now ``KeyError: ('*', 'M')`` appears instead of ``KeyError: ('', 'M')`` which is what was confusing me.

[2020-05-11 10:17] koko256 commented on #2865
To answer Makus's comment, I could add a test and add the TOOL et EMAIL parameters only if the query is to be sent to the ncbi servers.

[2020-05-11 17:56] koko256 commented on #2865
I manage to have a successfull blast with the new code, but only once. I modified the code to allow a callback function to print the RID and it seems our request are not treated at the moment (taking the RID at page https://blast.ncbi.nlm.nih.gov/Blast.cgi?CMD=GetSaved&RECENT_RESULTS=on display the status "searching" until being remove afet 40mn). Unfortunately, putting the email field (I even tri

[2020-05-11 18:41] jgreener64 commented on #2860
I guess because the element isn't used to distinguish between different atoms in an identification sense, whereas all the other properties there are.

So if you copied an atom and changed any one of the 6 values it could exist happily (provided the relevant parents exist).

But if you copied an atom and changed only its element then Biopython would get confused as there is no way to access the ato

[2020-05-11 18:43] MarkusPiotrowski commented on #2865
Let me say that is not unusual with qblast nowadays. Single queries go sometimes fast, but sometimes take tens of minutes. The whole qblast unittest can take 2 hours.

[2020-05-11 23:45] msarfati commented on #2777
I'm interested in taking a stab at resolving this bug. Has anyone else already start work on it?

[2020-05-12 11:00] koko256 commented on #2865
The new code passed the online tests tonight. I modified the code to conform to flake8.

[2020-05-12 13:07] peterjc opened #2877 "Alternatives to Bio.Application for invoking command line tools?"
Issue for the following discussion started on the mailing list:

https://mailman.open-bio.org/pipermail/biopython/2020-May/016769.html

Dear Biopythoneers,

Biopython has a lot of command line tool wrappers, based around the objects
in Bio/Application/__init__.py, for building a command line string and
running it. Some time ago I started to think that we might actually be
better off dropping our i

[2020-05-12 13:07] peterjc commented on #2777
Sure - although be advised that I've suggested we might deprecate all the application wrappers https://mailman.open-bio.org/pipermail/biopython/2020-May/016769.html - just logged as #2877 on GitHub.

[2020-05-12 15:06] peterjc commented on #2877
My summary of the email discussion so far: No objections to removing our wrappers. No clear winner amongst third party libraries (and no new suggestions), people seem to be OK with using subprocess directly for executing applications.

Perhaps the next step would be to  replace all their usage in the tutorial with direct command line building and running via subprocess, and mark the wrappers as ob

[2020-05-12 17:57] peterjc opened #2878 "linting failures with flake8 v3.8"
Yesterday flake8 v3.8.0 and v3.8.1 were released

https://flake8.pycqa.org/en/3.8.1/release-notes/3.8.1.html
https://flake8.pycqa.org/en/3.8.1/release-notes/3.8.0.html

This updated Pyflakes to use 2.2.x which adds F501 - F509 and F521,

https://gitlab.com/pycqa/flake8/-/merge_requests/417/diffs

And it now uses pycodestyle 2.6.x https://pycodestyle.pycqa.org/en/latest/developer.html#changes

Our

[2020-05-12 17:59] peterjc commented on #2878
The F507 is a bug in an exception message, present in 1.76 too.

https://github.com/biopython/biopython/blob/c04d5b772d90608bd17938cffcdb36377cae9446/Bio/Cluster/__init__.py#L1285

[2020-05-12 18:10] benfulton commented on #2877
What is the plan for discontinuing support for Windows versions?

[2020-05-12 18:26] peterjc commented on #2877
I don't want to drop anything for Windows - as far as I know our current application wrappers work fine there (calling subprocess internally for execution), for command line tools available on Windows.

The lack of Windows support is the main reason why I don't want to use the ``sh`` library, which otherwise looks worth following up. Discussion on their issues makes it clear even partial Windows s

[2020-05-12 19:28] jjaskirat opened #2880 "PSSM Matrix"
This is not really an issue,
I just wanted to know if there is a way  can get the PSSM Matrix after 3 iterations using the Blast API?

[2020-05-12 19:57] benfulton commented on #2877
It appears that use_shell will always evaluate to "True" though, excepting perhaps very old versions of Windows. Since the str() method always creates a space-separated, single-string command line, I suspect that use_shell=False wouldn't work anyway.

[2020-05-12 21:04] martonlanga commented on #2552
Went through the files, to see which ones need black. 120/210 already done!
Feel free to tag me if you make a PR, and I'll edit this to make it up to date.

-   [ ] `common_BioSQL.py`
-   [ ] `common_BioSQL_online.py`
-   [ ] `gen_results.py`
-   [x] `pairwise2_testCases.py`
-   [ ] `requires_internet.py`
-   [ ] `requires_wise.py`
-   [x] `run_tests.py`
-   [ ] `search_tests_common.py`
-   [ ] `s

[2020-05-13 03:22] limin321 commented on #2838
Thank you so much. That is very helpful explaination. May I have another question about drawing diagram.  I have some region from different bacterial, and trying to align them for comparing.
is that possible to give the same gene/CDS from different strains the same color? I don't really see the exact codes in biopython book, the example there is manually given each CDS a color. In my case, some ti

[2020-05-13 08:54] peterjc commented on #2838
That new question is much more complicated - how will you define the "same" gene? Do they use the same gene name? Or might you look at reciprocal best blast hits or something? You might find these examples useful https://www.open-bio.org/2012/03/02/cross-links-in-genomediagram/ and https://armchairbiology.blogspot.com/2012/09/the-colours-man-colours.html - Good luck!

[2020-05-13 08:54] #2838 closed

[2020-05-13 09:23] #2878 closed

[2020-05-13 09:46] wdecoster opened #2882 "problem with parsing command line options in MuscleCommandline(clwstrict=True)"
### Setup

I am reporting a problem with Biopython 1.76, Python 3.7.7 and operating system CentOS7

[code]

My code which doesn't work:

[code]

### Expected behaviour

Executes muscle (opens it to read from stdin to feed fasta files afterwards). Muscle is installed and in $PATH.

### Actual behaviour

Returns:
`FileNotFoundError: [Errno 2] No such file or directory: 'muscle -clwstrict': 'muscle -

[2020-05-13 10:25] peterjc commented on #2882
There is an example very much like this in our tutorial, "MUSCLE using stdout" under http://biopython.org/DIST/docs/tutorial/Tutorial.html which does this:

[code]

The key difference looks to be using ``shell=True`` on Linux?

Note my goal in the example was writing something which would work cross platform - if you can restrict to Linux only, avoiding ``shell=True`` is considered best practice f

[2020-05-13 10:27] peterjc commented on #2882
P.S. Cross reference #2877 - you might be interested in that, but equally this is a good example that writing cross platform code with ``subprocess`` can be tricky.

[2020-05-13 12:16] wdecoster commented on #2882
I'm on Linux, and that's the only OS that I intend to support. I use the example from http://biopython.org/DIST/docs/tutorial/Tutorial.html#htoc85, but that example doesn't work for me without the `shlex` part.
The `muscle -clwstrict` command needs to get split in `['muscle', '-clwstrict']`

[2020-05-13 13:53] SchwarzMarek commented on #2877
Hello,
I'm running 3rd party command-line tools quite often and I'm almost exclusively relying directly on `subprocess` module.

My reasoning is mainly:
- only one documentation (that for the tool)
- fine control over the process

IMHO I think that the `Bio.Application` is not needed.

[2020-05-13 16:46] limin321 commented on #2838
Thank you so much.  I will try the two links you shared. Best,

[2020-05-13 17:46] peterjc commented on #2877
@SchwarzMarek how do you build the command line itself (e.g. string or list; hardcoded or template or ...)? Also, do you worry about Windows vs Linux vs macOS?

[2020-05-13 17:59] SchwarzMarek commented on #2877
Usually I use lists of strings. If I need to change parameters often, then I use the `.format` function for that particular argument in list. I'm trying to avoid the `shell=True` if I can - If I need pipes, then I use `subprocess.Popen` or write simple bash script and call that script with arguments needed from python.
I don't have experience with `subprocess` on windows or macOS.

[2020-05-13 18:13] peterjc commented on #2882
There does seem to be a problem with the Tutorial examples (not just missing ``import sys``), it used to work... there is a small chance there was a Python 2 vs 3 issue in our updates.

[2020-05-14 12:02] mdehoon commented on #2417
Yes #2484 fixed this issue.

[2020-05-14 12:02] #2417 closed

[2020-05-14 12:49] DarioMarzella opened #2892 "Problem in parsing pdb structures raised by Entity.py"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]
### Expected behaviour

Whether a residue is defined two times, add() or insert() functions in  Entity.py should raise the following exception, that should not break the code:
[code]
### Actual behaviour

The Exception string is not correctly formatted, thus the following error is r

[2020-05-14 13:59] peterjc commented on #2892
#2891 should fix this problem, which was introduced accidentally in f97a7ada67b597ac557aae51fb08868348e0943b - tuples are a problem with the classic % formatting in Python.

[2020-05-14 14:20] DarioMarzella commented on #2892
Thanks for the answer. I have communicated about this issue directly with Joao Rodrigues, and he asked me to post it here as well, even if he was already fixing the problem, which for some reason was still unnoticed.

[2020-05-14 17:55] #2892 closed

[2020-05-15 19:43] mvhanson opened #2894 "SeqIO runs into "KeyError: 'Assembly-Data" when parsing NIH genbank files"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

3.8.2 (tags/v3.8.2:7b3ab59, Feb 25 2020, 23:03:10) [MSC v.1916 64 bit (AMD64)]

CPython

Windows-10-10.0.18362-SP0

1.76

### Expected behaviour

I'm working with some genbank seq files downloaded from NIH and have the following code:

for seq_record in SeqIO.parse("datafile_location", "ge

[2020-05-15 21:48] peterjc commented on #2894
Sounds like  #2844 & #2859 (but for a different record), a malformed record. We this we fixed this in #2851 to give a warning and continue.

If you are comfortable installing from source, you can install the latest master - or wait a bit longer as we're trying to get Biopython 1.77 out shortly.

[2020-05-15 21:56] peterjc commented on #2863
Test failure due to new extensions fixed in #2801

Closing issue, see #2184 for the changes to the command line options.

[2020-05-16 01:30] limin321 opened #2895 "Concatenate output of different genes is not as expected ."
### Setup
I wrote the following codes to extract genes from a genome, and then concatenate them all as +1 strand.   While Concatenate output is not correct.

[code]
(*Please copy and run the above in your Python, and copy-and-paste the output*)
<img width="573" alt="Screen Shot 2020-05-15 at 7 23 08 PM" src="https://user-images.githubusercontent.com/42760669/82108173-83b97980-96e1-11ea-98a3-cb8744

[2020-05-16 10:02] peterjc commented on #2895
I am having trouble following what the code is trying to do. You make a list of locations with genes of interest, then you make a list of fragments of the parent ``SeqRecord`` - but this doesn't worry about which record the location came from. Some GenBank files contain more than one record. If your files like ``But001.gb`` only ever have one record, then it might be clearer to use this and avoid

[2020-05-16 13:30] peterjc commented on #2863
@tillea reported by email that even with the patch it fails on 32bit systems:

[code]

[2020-05-16 17:09] limin321 commented on #2895
Thank you so much. You made the codes much cleaner.  I didn't know the feature.extract() method.  And you are right, all my genomes have more than one SeqRecord, so I use the first if statement ``` if "chromosome circular" in record.description:
            cir = record``` to pick the SeqRecord I want since I already know all genes are on the same seqrecord, and save it as cir, here it is.
[code]

[2020-05-16 17:36] peterjc commented on #2895
Your example shows six genes, the first starting GTG then 5 starting ATG - and you concatenated them in that order so the combined sequence starts GTG.

I am guessing you want to do a multi-gene phylogeny, making an alignment combining all the glnA sequences, then the atpD, etc. i.e. The order must be the same for each strain.

I would turn this round, and rather than looping over all the features

[2020-05-16 17:37] peterjc commented on #2895
P.S. You need to reset the ``six_genes`` variable inside the strain loop - otherwise the second strain's sequence will have twelve genes (6 from the first strain, 6 from the second), and so on.

[2020-05-16 18:05] limin321 commented on #2895
Your idea is amazing, opening my mind a lot. I didn't know there are so many possibilities to solve this issue.

Yes, I want one multi-sequence FASTA.  The only way I know how to do it is to use  cat  command to combine all files together.  You have better solution using python??

Your solution will make me love python, though I am just a beginner.

[2020-05-16 18:23] peterjc commented on #2895
Given these are relatively small datasets, simple is best - make a list of all six ``SeqRecord`` objects, and write them out at once to a single FASTA file. Something like this:

[code]

There are other ways of solving this, including opening an output handle and writing out one record at a time.

[2020-05-16 20:02] mvhanson commented on #2894
Seems like whatever you did in 1.77 solved the problem.

Here is the output from the affected line (92126 of 93145 in gbvrl18.seq).

Now the program just skips over it and makes it to the end of the file.

![genbank_capture](https://user-images.githubusercontent.com/10411681/82129120-7b6b4800-978e-11ea-865e-aa499827b1e6.PNG)

Many thanks and kudos again for all you are doing.

[2020-05-17 01:06] limin321 commented on #2895
wow. I didn't know you can write a list to a file. I learned in python class that write() method is used to write strings to a file. However, here you the elements of records_to_save list is SeqRecord. I had never thought about that you can write a list with elements not strings into a python. Is this a specific biopython thing? or also apply to normal python write() method.
Thank you so much.  Gr

[2020-05-17 08:53] peterjc commented on #2895
You've learnt about the Python file object's ``.write(...)`` method which takes strings.

Here we are using the ``write(...)`` function defined in ``Bio.SeqIO`` which takes lists of ``SeqRecord`` objects (or a single ``SeqRecord`` object), a filename or output file object, and a sequence format name like ``"fasta"`` or ``"genbank"`` (as a string).

We give an overview here https://biopython.org/wi

[2020-05-17 09:06] peterjc commented on #2894
Perfect - thanks for testing and letting us know.

[2020-05-17 09:06] #2894 closed

[2020-05-17 20:11] JoaoRodrigues opened #2897 "Issues/PR labels for different modules"
It'd be useful to maybe label different issues/PRs with the module they touch on. We could do this from now on, would help a lot already, and in time, backtrack through old issues and assign those too. Would be useful during hackathons or just to filter the issue list for module maintainers. It would also help signal which modules need more attention.

[2020-05-17 21:19] peterjc commented on #2897
More so than searching with module names?  Do you mean all top level modules?

It serves a different role but https://github.com/biopython/biopython/blob/master/.github/CODEOWNERS probably needs some updates?

[2020-05-17 21:41] limin321 commented on #2895
Thank you so much.  I will definitely go back to read Biopython SeqIO  tutorial again.  I have a followed up question, the previous codes can be used to extract genes whose gene name or product name are known.  In reality, there are many incomplete genomes whose assembly is scaffold or contig level.  When I download these genome, there is no good annotation.  To extract genes from these genome,
th

[2020-05-17 22:10] peterjc commented on #2895
You might want to try automated (re)annotation of the draft genomes?

You might also want to use Biopython to parse the BLASTN output (see ``Bio.SearchIO``, perhaps use the XML or tabular output), and programmatically pull out the matching regions of interest. You could use use the start/end coordinates of the match to pull out the match, but BLAST+ can give you the matched sequence as one of the

[2020-05-17 23:25] limin321 commented on #2895
Thank you so much for those advice. I want to learn bioinformatics
that's why I choose bacterial genomics as my project. Unfortunately, I am
not in bioinformatics lab and no one works in genomics in my lab, but I am
taking python courses this quarter, at the same time, I am reading
biopython tutorial. That's how I made progress little by little. Really it
is very struggling to learn from zero.  Th

[2020-05-18 17:10] limin321 commented on #2895
Good morning,
when I went back take a look at my original codes again. The following part actually works,  concatenating different genes by adding SeqRecords sequentially.
[code]
The reason it didn't work because in the second if statement, I did reverse_complement() twice, which I originally tried to test if I could do reverse_complement() on both Seq() and SeqRecord() objects, and then I forgot

[2020-05-18 18:02] limin321 commented on #2895
Hi I tested the above codes today, Here are the codes and error message.
[code]
Output Error msg

[code]
where is the 'NoneType' argument from??

[2020-05-18 18:03] JoaoRodrigues commented on #2897
Hm, maybe I have something wrong in my email settings then, but I get _all_ issues and pull requests. Sometimes it's hard to fish out those that concern me. I think PRs are better covered with the CODEOWNERS file, but issues not so much, unless there's a way to auto-assign people?

[2020-05-18 18:09] sofsta commented on #2894
Hello!

Will 1.77 be available in conda any time soon?

[2020-05-18 19:56] peterjc commented on #2894
Hopefully later this month (doing the BioConda release usually takes less than a day after the Biopython release itself). You can subscribe to our mailing list if you like, or the news feed https://biopython.org/wiki/News

[2020-05-18 20:18] sofsta commented on #2894
@peterjc Sounds good!

[2020-05-18 20:19] peterjc commented on #2895
Sorry. I've accidentally creating a learning opportunity. This might explain the error message:

[code]

In Python, when an object is "iterable" it means it is a container of other objects, and you can iterate over it (e.g. with a "for" loop), or check for membership ("in").

The Python dictionary's ``.get(key)`` method defaults to returning ``None`` if the key is not found. In order to cope with

[2020-05-18 20:24] peterjc commented on #2895
As to the colours, that is a GitHub markdown trick.

Blocks of code surrounded with triple back-ticks, that's the ` symbol, are shown as a code block.

If you start with triple back-ticks and a language name like python, then it gets formatted accordingly.

[code]

rather than just:

[code]

This is documented here https://github.github.com/gfm/#info-string which says you can also use triple tilde

[2020-05-19 02:00] limin321 commented on #2895
Thank you for the learning opportunity, which is what I want. Appreciate that.
This time, the codes work perfectly.  You are such a good teacher.  I really like the way you explain things, wish you are my real teacher.
Now I can close this and soon I think I will have to post more other questions.

Have a good one.

[2020-05-19 07:29] #2895 closed

[2020-05-19 07:48] limin321 opened #2898 "parse file run into issue"
### Setup

I run into two different issues when parsing files.

[code]
Here is the output.
/Users/dklabuser/PycharmProjects/biopython/venv/temp.py
NC_003062.2
Agrobacterium fabrum str. C58 chromosome circular, complete sequence
NC_003063.2
Agrobacterium fabrum str. C58 chromosome linear, complete sequence
NC_003064.2
Agrobacterium fabrum str. C58 plasmid At, complete sequence
NC_003065.3
Agrobacte

[2020-05-19 09:47] peterjc commented on #2898
GitHub issues are not the best place to ask this kind of question, I would suggest https://www.biostars.org/t/biopython/ (BioStars with the Biopython tag), or places like Stack Exchange or Stack Overflow. They allow multiple answers and voting etc - and Google is very good at searching there.

Q1: I don't understand where the path /Users/dklabuser/PycharmProjects/biopython/venv/temp.py came from i

[2020-05-19 16:50] limin321 commented on #2898
Maybe because I run this:
[code]
Mine always have the path in the first line.
Still, it doesn't make sense when include ```print(record.seq)```, why some id and description couldn't be printed out.

Thanks for recommend biostar etc.

[2020-05-19 19:22] limin321 commented on #2898
will you please be able to help me explain why ```print(record.seq)``` makes ```print(record.id)  print(record.description)``` not work anymore?
I know why I don't like to post on biostar, because I post one question 4 months ago, still no one answers me.  I am really sorry that I post such easy questions and take you a lot of time. Feel so sorry about that.

Best,

[2020-05-21 01:03] apsamuel opened #2899 "incomplete/inaccessible SeqFeatures for SeqRecord objects of differing type (gene vs chromosome)"
### Setup

I am reporting a problem with Biopython version 1.76 , Python version (3.7.4), and operating
system as follows:

System version (sys.version)
[code]

Python Version (print(platform.python_implementation()); print(platform.platform()))
[code]

OS
[code]

### Expected behaviour

features attached to seqRecord objects to match the features returned in NCBI UI.

### Actual behaviour

There

[2020-05-21 08:54] peterjc commented on #2899
On https://www.ncbi.nlm.nih.gov/nuccore/568815585 I see one feature, with a banner suggesting using the customise view panel.

In Entrez you probably need to change between ``rettype='gb'`` (some records are abbreviated, e.g. described in terms of other records) and ``rettype='gbwithparts'`` which in the website download options is labelled as "GenBank (full)".

[2020-05-21 11:13] apsamuel commented on #2899
Thanks a lot for the tip @peterjc, this worked as suggested. I believe my issue is resolved.

[code]

[2020-05-21 11:13] #2899 closed

[2020-05-21 21:55] martinfalk commented on #2860
OK, that sounds like a reasonable explanation. Thanks.

[2020-05-21 21:57] JoaoRodrigues commented on #2860
Adding to (or more reinforcing) what @jgreener64 said, an element does not add much to uniquely identify an atom. You cannot have an alpha carbon with different elements. The `full_id` is used for identification, so it includes only the properties that can do that.

[2020-05-22 10:04] peterjc commented on #2860
Can we close this - or is this a sign the documentation could be improved? e.g. the Atom's get_full_id docstring?

[2020-05-22 17:12] JoaoRodrigues commented on #2860
Indeed, just pushed a small edit to the docstring. But I'll go ahead and close this issue.

[2020-05-22 17:12] #2860 closed

[2020-05-23 13:55] mdehoon commented on #2863
@chebizarro @peterjc  Is this still a blocking issue for release 1.77?

[2020-05-23 14:14] peterjc commented on #2863
Possibly - I suspect it is a Debian/Blast issue though.

[2020-05-23 14:51] mdehoon commented on #2863
Then does it make sense to wait for this? Especially since we are considering to drop `Bio.Application`.

[2020-05-23 15:09] peterjc commented on #2863
It works on the major CPUs anyway - seems low risk to proceed with our release.

[2020-05-23 16:32] tillea commented on #2863
On Sat, May 23, 2020 at 08:09:56AM -0700, Peter Cock wrote:

I'd recommend to proceed which also saves some patches on Debian side.  I did not found the time to follow your hints yet but I can perfectly try to hunt this down on the next version.

[2020-05-23 20:57] rra-coder opened #2901 "Bug in parsing genbank features spanning the origin for plasmids with long names"
This is my first bug report so please let me know if I should do this differently.

### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]
CPython
Windows-10-10.0.18362-SP0
1.76

### Expected behaviour

Genbank files containing features that span the origin should be fixed in t

[2020-05-24 06:47] chebizarro commented on #2863
I built a Docker container based on the i386/ubuntu 18.04 image and can't seem to replicate the problem using the i386 build of `makeblastdb` 2.6.0. I can try different base image/blast+ combinations to try and pin down the error but that won't be until next week.

[2020-05-24 08:34] peterjc commented on #2863
Thanks Chris, that is reassuring - less likely one of our main target demographic will hit this.

[2020-05-24 08:41] peterjc commented on #2901
I think we need to review the LOCUS line parsing for this...

Where is your GenBank format plasmid from? Is the tool generating it up to date, as it sounds like it is outputting invalid feature locations?

[2020-05-25 08:40] peterjc opened #2904 "Version specific API links in Tutorial"
As of #2903 for Biopython 1.77, we replaced the links to the old epydoc generated API documentation to point at the Sphinx generated version (see #906).

However, those URLs are deliberately version specific. That means we need a plan for the next release. Options which come to mind:

- (a) Manually update the version in the document title and these links?
- (b) Can we update the LaTeX to define t

[2020-05-25 08:44] peterjc commented on #2904
* (d) Just point at the dev version of the API docs, which is the cutting edge and a useful proxy for the latest version?

[2020-05-25 08:48] peterjc opened #2905 "Adding redirects to old epydoc API documentation"
See #906, we used to generate the API documentation at http://biopython.org/DIST/docs/api/ using epydoc (last updated for Biopython 1.75), but now generate it using Sphinx here https://biopython.org/docs/dev/api/ or https://biopython.org/docs/1.77/api/ etc (version specific URLs)

This issue is for adding redirects, probably to the https://biopython.org/docs/1.75/api/  version to avoid issues with

[2020-05-25 08:58] peterjc opened #2906 "Version switching on the Sphinx API docs"
We now have:

- https://biopython.org/docs/1.74/api/
- https://biopython.org/docs/1.75/api/
- https://biopython.org/docs/1.76/api/
- https://biopython.org/docs/1.77/api/
- ...
- https://biopython.org/docs/dev/api/

The webpage source for these exists here:

https://github.com/biopython/docs

The Sphinx configuration to build them is here:

https://github.com/biopython/biopython/tree/master/Doc/api

[2020-05-25 21:14] rra-coder commented on #2901
This specific example is something I generated to illustrate the problem. Genbank files generated by Geneious (Biomatters) with long names also have this problem which is how I encountered this.
Geneious can export via a strickt Genbank format which will truncate names longer than 16 characters. In Geneious the name from the locus line is used as the primary name for the sequence entity (in most c

[2020-05-26 11:50] peterjc commented on #1765
CLose

[2020-05-26 11:50] #1765 closed

[2020-05-26 22:28] ChrisMoth opened #2913 "MMCIFParser fails to load atom serial numbers."
I have a fix for this.  Please let me know if you approve this issue, and whether you'd like a pull request.

### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

Python 3.7.6 (default, Jan  8 2020, 19:59:22)
[GCC 7.3.0] :: Anaconda, Inc. on linux

I also downloaded the latest version of Biopython to verify that the problem is still in the c

[2020-05-26 22:44] JoaoRodrigues commented on #2913
Thanks for the issue. How do you propose fixing this issue?

[2020-05-27 02:04] ChrisMoth commented on #2913
João, I apologize for missing previously filed issue 1206.  I thought I
had searched for "serial" and "atom serial" both. Google found it -
already here:

https://github.com/biopython/biopython/issues/1206

I am disappointed to further read that the mmcif IDs need not be ints
that correspond to PDB serial numbers:

https://www.ebi.ac.uk/pdbe/docs/exchange/mmcif_pdbx.dic/Items/_atom_site.id.html

T

[2020-05-27 12:25] ChrisMoth commented on #2913
On 3rd thought, Structure/Model/Chain/Residue/Atom may simply need to change a bit when constructed from an mmCIF dict, vs. a PDB file.  'atom serial number' is a member of Atom that _only_ has meaning.  We perhaps need an Atom.site_id to be populated when construction is coming from an mmCIF dict.

Restated, the world is inexorably moving to mmCIF.  We should not patch the mmCIF side of the libra

[2020-05-27 12:33] peterjc opened #2915 "Exploring Python 3.4+ enum for alphabets / molecule types"
This is my notes for a possible replacement for ``Bio.Alphabets`` as per #2050, using the relatively new Python enumerate support added in Python 3.4: https://docs.python.org/3/library/enum.html

Draft docstring content with rationale:

[code]

I essentially want to simplify all the existing alphabet objects to just the following (that in itself could be a major job/milestone), and replace them wi

[2020-05-27 12:48] peterjc commented on #2915
# Reusing Seq attribute .alphabet and argument names

Note that this sequence alphabet / molecule type enum could be an in-place replacement for the ``Seq`` object's ``.alphabet`` attribute and ``alphabet=...`` arguments in places like ``Bio.SeqIO.parse(...)``.

We can redefine ``Bio.Alphabet.generic_dna`` etc as alias of the new enum value, making the majority of existing scripts work as is. i.e.

[2020-05-27 20:03] JoaoRodrigues commented on #2913
Hi Chris,

Thanks for the detailed thoughts and the time you put into this. Reading the mmCIF specification (http://mmcif.wwpdb.org/dictionaries/mmcif_pdbx_v40.dic/Items/_atom_site.id.html) it seems that this field is required but indeed, it does not necessarily have to be numerical.

I think a plausible solution would be to force serial numbers in PDBIO to be numerical (because there they must be

[2020-05-27 20:11] JoaoRodrigues commented on #2913
After a bit of digging, filling in the serial number is actually left to `StructureBuilder`, which defaults to `None`. Since we do parse it in `MMCIFParser`, we should just pass it to the builder? Maybe this would solve the issue?

[2020-05-27 20:40] JoaoRodrigues commented on #2913
I pushed a tentative fix to a branch on my fork. @ChrisMoth could you check it? We would need to write a test or two to make sure that all these combinations work.

The branch is here: https://github.com/JoaoRodrigues/biopython/tree/mmcif_atomid_fix

I added a check to PDBIO to fail if it cannot convert the serial number to a number. Also changed the mmCIF parser to read the serial number from the

[2020-05-28 04:38] mdehoon opened #2917 "transition/transversion scoring matrix in Bio/Phylo/TreeConstruction.py"
In `Bio/Phylo/TreeConstruction.py`, the transition/transversion scoring matrix is defined in the `DistanceCalculator` class as
[code]
so
[code]
Is there a reference for this transition/transversion scoring matrix? A commonly used transition/transversion scoring matrix is the one defined by David Wheeler ("Weight Matrices for Sequence Similarity Scoring", Version 2.0, May 1996):
[code]
(defined as

[2020-05-28 09:00] peterjc opened #2919 "Seq("X").join(single_string) fails"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

### Expected behaviour

The ``Seq`` object should match the Python string's join method with single string arguments:

[code]

### Actual behaviour

[code]

### Steps to reproduce

Given above. Noted by @chris-rands here: https://github.com/biopython/biopython/pull/2916#issuecommen

[2020-05-28 10:59] peterjc commented on #2919
I suspect the reason I didn't implement this originally was the extra work to make ``Seq("X").join(Seq("abc"))`` respect the alphabets.

[2020-05-28 11:47] peterjc commented on #2919
WIP here: https://github.com/peterjc/biopython/tree/seq_join_solo

Has highlighted a corner where we raise ValueError but ought to raise TypeError to better match the string join.

[2020-05-28 11:54] ChrisMoth commented on #2913
Thank you.  My code works with these changes.  My code now replicates PDB python2 structure pre-processing code for Rosetta ddg-monomer calculations in python3, with Biopython, starting from mmcif files.  With preserve_atom_number, I can output PDBs with skipped atom serial numbers (which is an odd thing to want to do of course).

I continue to worry that it is not strategic to assigning mmcif dic

[2020-05-28 12:36] chris-rands commented on #2919
What are the biological use cases for `Seq.join()`, i understand wanting to match python string behaviour, but why interleave biological sequences?

Also the Tutorial is outdated and says "Unlike the Python string, the Biopython Seq does not (currently) have a .join method."

[2020-05-28 14:11] peterjc commented on #2919
Opps - if you want to deal with that Tutorial update, please do.

The main motivation is Seq matching the built in Python string - we've talked about one day subclassing it, but at very least we are agreed on making it more Python string like.

For a specific biological use case, ``fake_genome = spacer.join(contigs)`` is a real example. You might use just something simple like ``Seq("N" * 50)`` as

[2020-05-28 20:38] ChrisMoth opened #2923 "Docstrings for DisorderedEntityWrapper.__len__ and __iter__ are incorrect"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

Python 3.7.6 (default, Jan  8 2020, 19:59:22)
[GCC 7.3.0] :: Anaconda, Inc. on linux

### Expected behaviour

Either than DisorderedEntityWrapper.__len__() would return the count of children in the disordered
dictionary (my preference), or the doc string would be changed to reflect that __

[2020-05-28 21:06] peterjc commented on #2923
@etal can you take this, or suggest someone else?

[2020-05-28 22:18] JoaoRodrigues commented on #2923
If @etal is busy, I can take a look.

[2020-05-28 22:22] JoaoRodrigues commented on #2923
This is a tricky one because while Entity applies to Structure, Model, ... Residue but not Atom, DisorderedEntity applies to DisorderedAtom. It makes sense to have `__len__` return the length of the child, because that's what the normal Entity does. I would be in favor of fixing the docstring of `__iter__` (obviously wrong) and maybe adding a method that returns the number of children. I would the

[2020-05-28 23:49] ChrisMoth commented on #2923
Removing len() from Entity, Atom and DisorderedAtom sounds logical.  However, you may break existing code in doing that.  You may want deprecation warnings for a few revisions.

For Residue, it is very convenient that len() returns the number of atoms (with a disordered atom residue child counting as one).  Thanks for keeping that.  That the len(disordered_residue) will be the count of atoms in (d

[2020-05-29 00:19] JoaoRodrigues commented on #2923
Hi @ChrisMoth

I meant removing `DisorderedEntityWrapper.__len__`, not touching `Entity` as that seems not to matter to this problem.

Agreed, but our parsers are built to parse all of the PDB.

Could give us a short example where using methods on an empty DisorderedEntityWrapper causes an error? Besides `len()`, I don't see an obvious problem since most calls defer to `child_dict`, which is initi

[2020-05-29 00:27] JoaoRodrigues commented on #2913
Thanks for the comments @ChrisMoth and for checking that my fix works. I will work on the tests. Usually we just take a small data file (PDB and mmCIF in this case) and write a small function that replicates the bug we are trying to fix and check it doesn't happen anymore.

I understand that the world should move to mmCIF files, but unfortunately most of us still work with PDB files.. I will close

[2020-05-29 00:27] #2913 closed

[2020-05-29 08:25] peterjc commented on #2919
@chris-rands can you take a look at #2926?

[2020-05-29 11:37] peterjc opened #2928 "Removing AlphabetEncoder - Gapped and HasStopCodon"
Cross reference #2046, this issue is to focus on removing the AlphabetEncoder classes and associated usage in Bio.Seq for things like the translation functions.

(Logging here and self-assigning to avoid duplication of effort with @mdehoon)

[2020-05-29 11:38] peterjc commented on #2928
Note this requires a slightly change to the sequence object's ``.ungap()`` method behaviour.

[2020-05-29 12:09] peterjc commented on #2928
I'm starting with simplifying the Seq translate methods to return just use ``Bio.Alphabet.generic_protein`` and thus stop using ``HasTopCodon``.

[2020-05-29 17:51] muhammadabrar78 opened #2931 "Biopython FastaWriter AttributeError Exception"
### Setup

I am reporting a problem with Biopython 1.77.dev0, in conda environment as follow

[code]
I am using the following conda environment
[code]
### Expected behaviour
I am writing the PDB protein sequence fragment to fasta format as below.
[code]
 IN biopython 1.76 it works fine and write all the information in their respectives files which should be its normal behaviour.
### Actual behavio

[2020-05-29 18:54] peterjc commented on #2931
Using the ``FastaWriter`` directly is unusual when ``Bio.SeqIO.write(...)`` would be typical, but that should still work.

[2020-05-29 18:55] peterjc commented on #2931
Can you be more precise about which version of Biopython you have (e.g. a commit hash), the version indicates somewhere between the Biopython 1.76 and 1.77 releases. Testing with the latest release 1.77 might help.

[2020-05-29 18:58] peterjc commented on #2931
Using the high level API, I might have written this:

[code]

[2020-05-29 19:07] peterjc commented on #2931
Minimal test case:

[code]

Should complain that it was not given a ``SeqRecord`` object.

[2020-05-29 19:19] peterjc commented on #2931
Found it, 07051e7a9047299de1c84086102c207452cca9c4 worked but 5c964a7ba6881a30e8d9efa4233ba484ad6939cc failed from #2717

It was initially this change:

``SequentialSequenceWriter.__init__(self, target)`` --> ``super().__init__(target)``

I have a fix coming...

[2020-05-29 22:16] ChrisMoth commented on #2923
I should have said "calls fail when a disordered instance lacks a _selected_ child."  __init__() does not require any children, and leaves self.selected_child=None.  In turn, any method requiring a selected child fails.

from Bio.PDB.Atom import DisorderedAtom
dis_instance=DisorderedAtom('xx')
Any Code that refers to dis_instances.selected_child must fail with a message that is difficult for new-t

[2020-05-30 01:36] muhammadabrar78 commented on #2931
This worked for me.

[2020-05-30 01:36] muhammadabrar78 commented on #2931
This worked for me

[2020-05-30 09:13] peterjc commented on #2931
Great - the main reason I would recommend the ``SeqIO.parse`` / ``SeqIO.read`` approach is the code stays the same if you switch formats, but it is also more tested.

Thank you for reporting the bug with using ``FastaWriter`` directly 👍

[2020-05-30 18:50] mortonjt opened #2936 "OverflowError: number of optimal alignments is larger than 9223372036854775807"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]
[code]

I'm trying to run a smith waterman alignment between 2 sequences - below is an example

[code]

Running this gets
[code]

Not sure why there are so many optimal alignments. It seems like this is unwanted behavior.

I'm noticing that if I run `optimal = next(alignments)`, thi

[2020-05-30 21:55] mdehoon commented on #2936
See section 6.5.2.8 in the Biopython documentation for an explanation.
[code]
Here you're asking to create a list with an enormous (more than 9223372036854775807) number of elements, just to get the first element. Even if it did work, it would take an enormous amount of time and memory.

Which part is unwanted?

Yes this is how it should be done. But note that you are getting one alignment out of

[2020-05-30 21:55] #2936 closed

[2020-05-30 22:01] mortonjt commented on #2936
Hi @mdehoon thanks for the rapid response, and thank you for linking that section in the documentation - I think that answers my question.  I was a bit confused about why there were so many optimal alignments in the first place - it looks like some tuning of the gap score is required.

[2020-05-31 09:02] peterjc commented on #2915
Cross reference #2046.

[2020-05-31 10:39] peterjc commented on #2931
This is now fixed with #2932, during which I was reminded that we've labeled ``FastaWriter`` as obsolete, so it is likely to be formally deprecated with a warning on use, and later removed.
https://biopython.org/wiki/Deprecation_policy

If you are able to update your Biopython to the latest from git, and retest the original example, that would be appreciated.

[2020-05-31 11:53] #2919 closed

[2020-05-31 20:10] alvyjudy commented on #2882
``subprocess`` requires the commands to be provided in a list of strings (which m why ``shlex`` fixes the issue).

I infer that ``shell=True`` works because ``subprocess`` passes the responsibility of interpreting the command to the system rather than its own implementation, judging from this line of the [doc](https://docs.python.org/3/library/subprocess.html#security-considerations)

With that sa

[2020-05-31 22:22] alvyjudy commented on #2862
It appears that your file is corrupted. The [Affymetrix reference](https://www.affymetrix.com/support/developer/powertools/changelog/gcos-agcc/cel.html) states that the first item of the binary file is a magic number that is always set to 64 (``40000000`` when stored in little endian and presented as a hexadecimal number), which is the case for the sample file in ``Tests`` folder:
<img width="140"

[2020-06-01 08:21] peterjc commented on #2882
I took the cross platform view that a single command line string was the common interface (and therefore the code uses ``shell=True`` as needed). Keeping that approach and working out what hopefully small change are needed to the code or the examples seems easier (but see also final paragraph).

At the time this and the Tutorial was written I could test it on Windows XP, macOS and Linux - but now

[2020-06-01 08:23] peterjc commented on #2862
I wonder what was different on @jfoster-f's machine since they didn't get an exception, just zero records.

[2020-06-01 09:05] jfoster-f commented on #2862
I can confirm that i can successfully parse both files provided in /biopython/Tests/Affy/

I've just tried to parse a different Axiom CEL file and again get no error but a Bio.Affy.CelFile.Record where every element is None.

My guess is that the Axiom product line has a different file format than whatever array the current code is designed for.

[2020-06-01 10:19] peterjc commented on #2862
That seems likely - if anyone can find some technical documentation on the Axiom file format, that would be enormously helpful. Reverse engineering binary formats is a last resort.

[2020-06-01 16:02] alvyjudy commented on #2882
I actually prefer dropping the commandline wrapper. It doesn't necessarily make things easier since now it creates multiple interfaces that one has to learn (the wrapper, ``subprocess`` and the CLI itself, and how they all chain together). The documentation would be much cleaner if it teaches the CLI and how to use it with subprocess.

[2020-06-01 17:37] peterjc commented on #2882
So for #2877 would you suggest using ``subprocess`` directly? And if so, building the command as a single long string, or a list of strings?

[2020-06-02 08:05] cgh2797 opened #2941 "How to get the GEO update list?"
Hi,
I wanted the results GEO series data, "Homo sapiens, Expression profiling" by array, also sorted chronologically from oldest also a format to download the list at once.
How can i do with biopython????

[2020-06-02 09:12] peterjc commented on #2941
You can't right now, all that ``Bio.Geo`` has is a basic GEO parser. Sorry.

I've not worked with GEO or microarrays for years now... sadly there will be less and less people working on this who might be able to give you current advice.

[2020-06-02 09:12] cjw85 opened #2942 "Installing on old pythons."
### Setup

I am reporting a problem with Biopython source, and Python 3.5. This stems from the pypi packages not declaring for which versions of python they are compatible (not specifying `python_requires="....",` in the call to `setup()` in `setup.py`.

### Expected behaviour

Trying to install biopython with pip should install a version of biopython that is compatible with python 3.5.

### Actua

[2020-06-02 09:17] peterjc commented on #2942
Biopython 1.76 was our final release to support Python 3.5

It does look like we should add ``python_requires=">=3.6"`` to ``setup.py``, but that won't fix Biopython 1.77 which is already out.

https://packaging.python.org/guides/distributing-packages-using-setuptools/#python-requires

Do you want to submit that as a pull request?

[2020-06-02 10:46] peterjc opened #2944 "Use of Gapped in PhyloXML as proxy for if aligned"
For #2046 I am trying to remove the use of the ``Gapped`` class, and adding explicit defaulting to ``"-"`` as a gap character where necessary.

The ``to_alignment`` method tests in ``test_PhyloXML.py`` show that the PhyloXML code uses the ``Gapped`` alphabet encoded class as a proxy for if the sequence is aligned - possibly meaning it is part of an alignment (but not if it has a gap character).

e

[2020-06-02 11:18] muhammadabrar78 commented on #2931
Thank you so much peterjc and mdehoon  for you time. I mean it, because it took me a lot of time to merely uninstall the old version (which I install using setup.py)  and install the new one and you people are helping us with deprecated modules.
It is working now perfectly with the FastaWriter directly.

[2020-06-02 11:24] peterjc commented on #2931
Thanks for confirming the fix is working with the original example, I'll close this now.

[2020-06-02 11:24] #2931 closed

[2020-06-02 15:43] alvyjudy commented on #2882
I might need to look into the windows environment myself first since I’m not that familiar with that environment :(

[2020-06-02 17:39] philiptzou commented on #2844
Work like a charm!

[2020-06-02 17:39] #2844 closed

[2020-06-03 00:56] mdehoon commented on #2944
In `test_PhyloXML.py`, line 692 you need to add `is_aligned=True` in the call to `PX.Sequence.from_seqrecord`.

[2020-06-03 05:58] jeongmeani opened #2948 "does pairwise2 have the function to fix one sequence of two input sequence"
Hi,

These days, i have ampliseq reads. and i have to align this to specific sequence.
and i want to fix one sequence.

for example :
X = ATAGGAGATT
Y = CGGATTGAGC

=> i want to X fixed like 'ATAGGAGATT'. not open the gap.  not like 'AT--AG--GAG--ATT'

so what should i do?

Best Regards.

Jeongmin

[2020-06-03 06:08] mdehoon commented on #2948
You could use `PairwiseAligner` in `Bio.Align`, and assign a very low score (e.g. -100000) to `target_gap_score`.

[2020-06-03 07:40] MarkusPiotrowski commented on #2948
In principle, yes. E.g. by using `Bio.pairwise2.align.globalmd`

[code]
I wrote "in principle", because it seems that this returns empty alignments, which is a bug. Need to have a look.

[2020-06-03 08:11] mdehoon commented on #2948
@jeongmeani  With the `PairwiseAligner`, actually you would need `target_internal_gap_score`:

[code]
while this alignment (with a gap in the target sequence) is effectively disallowed:
[code]

@MarkusPiotrowski  Note that in the alignment returned by the `PairwiseAligner` there is a "gap" on the right hand side of the target sequence. If `Bio.pairwise2` includes this gap in the score calculation,

[2020-06-03 13:00] #2942 closed

[2020-06-03 21:08] peterjc commented on #2944
Change from @mdehoon included on #2951, it works in that the test passes, but is this the right thing to do from the end user perspective? Over to @etal to review...

[2020-06-03 23:08] jeongmeani commented on #2948
@mdehoon , @MarkusPiotrowski
very thank you!
your code is much helpful to me :)

i have one more question.
is there way to fix both sequence X,Y?

Best Regards.

Jeongmin

[2020-06-04 03:14] lizza20 opened #2954 "how to import a sequence file ?"

[2020-06-04 03:41] JoaoRodrigues commented on #2954
Our issue tracker is meant to report bugs or problems with the software. For help using Biopython, please refer to our [documentation page](https://biopython.org/wiki/Documentation), our [tutorial](http://biopython.org/DIST/docs/tutorial/Tutorial.html), or if these don't help, please post on our mailing list: biopython@biopython.org

[2020-06-04 03:41] #2954 closed

[2020-06-04 07:22] limin321 opened #2955 "issue when downloading batch of assemblies from assembly database in NCBI"
I try to download 204 agrobacterium assembly refseq from NCBI,
[code]
{'Count': '239', 'RetMax': '5', 'RetStart': '0', 'IdList': ['7144011', '7059611', '6721771', '6399371', '6399361'], 'TranslationSet': [{'From': 'Agrobacterium[ORGN]', 'To': '"Agrobacterium"[Organism]'}], 'TranslationStack': [{'Term': '"Agrobacterium"[Organism]', 'Field': 'Organism', 'Count': '239', 'Explode': 'Y'}, 'GROUP'], 'Qu

[2020-06-04 12:47] peterjc commented on #2955
There's an example in our tutorial under "EFetch: Downloading full records from Entrez" which might be worth starting with:

[code]

The text above this example links to the NCBI documentation describing the supported combinations of ``rettype`` and ``retmode``: https://www.ncbi.nlm.nih.gov/books/NBK25499/#chapter4.EFetch

See http://biopython.org/DIST/docs/tutorial/Tutorial.html or http://biopyth

[2020-06-06 18:41] etal commented on #2944
It's nice to be able to guess `is_aligned` from the input SeqRecord if alphabets are used and already carry that information, but I see alphabets are deprecated. Is the alignment/gapped status tracked elsewhere in SeqRecords now, or is it just implied when they come from a MultipleSeqAlignment?

It might be all right to make the is_aligned option mandatory, or default to `False`. The main use case

[2020-06-06 18:48] etal commented on #2917
FYI @lijax , the original author of this code -- do you remember the source for this scoring matrix?

[2020-06-06 19:14] etal commented on #2917
Looks like it initially landed in commit 3087f3b675 from GSoC 2013. I don't see a description of the scoring matrix choices in the [project blog](https://lijax.github.io/en/index2.html). I wonder if some non-obvious math was involved in converting the Wheel matrix to the values we see here, with 6 on the diagonal -- subtracting Wheeler from scalar 6 doesn't do it.

[2020-06-06 21:42] DGMichael opened #2957 "SwissProt.read Assertion Error"
### Setup

I am reporting a problem with Biopython 1.76, Python 3.7.4, and operating
system as follows:

[code]

(*Please copy and run the above in your Python, and copy-and-paste the output*)

### Expected behaviour

dir(record)
 [..., 'accessions', 'annotation_update', 'comments', 'created', 'cross_references',
 'data_class', 'description', 'entry_name', 'features', 'gene_name', 'host_organism',

[2020-06-06 21:51] DGMichael commented on #2957
Update: When I pulled the SwissProt functions from this repo, I no longer get this error.  Checking on Anaconda now.

[2020-06-07 13:05] peterjc opened #2961 "Removing Alphabets from Bio.CodonTable"
Currently the ``CodonTable`` class defines ``.protein_alphabet`` (apparently unused), and ``.nucleotide_alphabet`` which is used to set the letters to "TCAG" (DNA only) or "UCAG" (default, used for RNA or generic nucleotide).

Working on replacing these attributes with a simple private boolean for DNA only mode... will be an API change but direct use of these tables is presumably rare?

[2020-06-07 13:39] mcbeaker opened #2963 "PDBParser does not parse all records (HETATOM->ATOM->HETATOM transition)"
### Setup

I am reporting a problem with my system as follows:

[code]
[code]
### Expected behaviour

PDBParser to parse all atoms within PDB - expected to parse 6 records from pdbFile.pdb below

### Actual behaviour

Reads only atoms up to and including the record "ATOM 2077 SG ..." from the PDB below - output from code.py (below) print only 3 record ids

### Steps to reproduce

[code]

[code]

[2020-06-07 14:09] peterjc commented on #2963
Can you share the PDB file you are using? Or the ID if from the structure database?

[2020-06-07 14:11] peterjc commented on #2957
Looks like a duplicate of #2417, so Biopython 1.77 should fix this.

[2020-06-07 14:15] peterjc commented on #2944
I wasn't aware of any code using ``Gapped`` in this way, even my thoughts for a simplified enum for DNA/RNA/Nucleotide/Protein/etc wouldn't cover this. The changes to do with gaps have been making the gap character explicit via an argument when needed.

Note in practise the old ``Gapped`` class didn't perfectly map to aligned anyway - you could have sequences with no gaps in an alignment. Being pa

[2020-06-07 15:09] mcbeaker commented on #2963
Hi Peter, thank you for your fast reply! The PDB is in the Steps to Reproduce section - I also will upload it - I missed the part that says "Attach files ..." below - sorry about that

[findgeo.input.copy.pdb.txt](https://github.com/biopython/biopython/files/4742306/findgeo.input.copy.pdb.txt)

[2020-06-07 15:39] etal commented on #2944
True, the `is_aligned` status of a sequence is separate from its alphabet and whether it contains gaps (or Stockholm format's `.` characters).

I see the `MolSeq` class in PhyloXML.py allows its `is_aligned` attribute to be `None`. Since SeqRecord objects don't carry their own alignment status reliably, it may be best to change the default behavior of `from_seqrecord(..., is_aligned=None)` to set

[2020-06-07 15:48] DGMichael commented on #2957
Yep, can confirm it is related to Anaconda conda version not having the fix.

1) Latest conda update still has issue (Biopython 1.76)
2) Local install of Biopython does not have the issue (Biopython 1.77).

-> Biopython 1.77 fixes.  Closing out.

[2020-06-07 15:48] #2957 closed

[2020-06-07 15:57] peterjc commented on #2957
Yeah, Biopython 1.77 on conda-forge needs some assistance, see:
https://github.com/conda-forge/biopython-feedstock/pull/24

[2020-06-07 16:02] peterjc commented on #2944
That sounds worth trying - can I leave it with you?

[2020-06-07 19:59] JoaoRodrigues commented on #2963
Hi @mcbeaker

Thank you for reporting this! Where did you get this structure from?

The issue with your PDB is that the residue ordering is not correct. You have A502, A275, and then again A502. The parser interprets this as a duplicated residue and ignores it because it does not find different insert codes. You should see some warnings when you run that script:

[code]

The PDB format vaguely sta

[2020-06-07 21:28] mcbeaker commented on #2963
Hi Joao, thank you for getting back to me so quickly!

This is a file that is spit out from a program called findgeo, which finds the coordination geometry of every metal present in the protein. Thanks for catching that the residue numbering is off rather then it being a ATOM to HETATOM then back to HETATOM error.

I actually had PDBParser(QUIET=“True”) so that explains not seeing the error. Weird

[2020-06-08 00:11] JoaoRodrigues commented on #2963
No problem!

I wrote a small set of tools to manipulate PDB files (outside biopython) and there is a `pdb_sort` function in there. Maybe you can just plug that after you run findgeo to fix the files before parsing in Biopython: http://www.bonvinlab.org/pdb-tools/

[2020-06-08 14:39] mcbeaker commented on #2963
Beautiful Joao - nice to meet you - I have seen your tools before - I am used to using the other persons tools - thank you for reintroducing me - these are fantastic - I would be quiet interested in being a fly on the wall when you realized you needed such functions in your toolbox and which problem you were addressing.

[2020-06-09 06:41] mdehoon commented on #2917
@etal , @lijax  I guess there is no absolute right or wrong matrix here. If there is no reference for the current matrix, would you be OK if we replace it by the one defined by David Wheeler?

[2020-06-09 23:53] peterjc opened #2968 "Make Seq translate method compatible with string method?"
We have discussed making the ``Seq`` object subclass the Python string. Additional methods are fine (e.g. ``.reverse_complete(...)``) but changes in meaning are more tricky. Currently the ``.translate(...)`` method is very different, and does not attempt to match the Python string behaviour went it might be inferred (rather it raises a specific exception):

https://github.com/biopython/biopython/b

[2020-06-10 09:10] chris-rands commented on #2968
Apparently, i read that python 2 `unicode.translate()` is like python 3 `str.translate()`. And python 2 `str.translate()` is like python 3 `bytes.translate()`

[code]

[2020-06-10 09:20] peterjc commented on #2968
Yes, that was the impression I got trying to find a pre-existing Python issue - along with a lot of work behind the scenes to get the unicode translate method faster for ASCII examples.

(This kind of thing has made me wonder if the ``Seq`` ought to use an internal bytes string rather than an internal unicode string on Python 3)

[2020-06-11 06:51] Meirom-Michal opened #2970 "Error reading msf file using Bio.AlignIO.MsfIO"
@peterjc
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

Biopython 1.7.6
Python 3.6
Ubuntu 18.04

### Expected behaviour

parsing msf file using Bio.AlignIO.MsfIO

### Actual behaviour

raise ValueError("Expected sequence for %r, got: %r" % (name, line))

### Steps to reproduce

msf file is attached

[try_msf.zip](https://github.com/bio

[2020-06-11 10:46] peterjc commented on #2970
Good news, I can reproduce it - but I don't immediately see what the parser is unhappy about.

[code]

Lines in MSF where the sequence is all dots are not unusual, and the order of the sequences seems to be consistent.

[2020-06-11 10:47] peterjc commented on #2970
Do you know how the MSF file was generated? e.g. Tool name, or if a public project a URL?

[2020-06-15 12:23] Meirom-Michal commented on #2970
The MSFfile was generated using Multalin.
Attached, the original file, which I've made some edits  (adding header and Type of sequence).

[try_msf_original.zip](https://github.com/biopython/biopython/files/4780172/try_msf_original.zip)

[2020-06-17 01:54] lijax commented on #2917
hi @mdehoon. The only thing I can remember is that it was from an populoar tool, mega or another command line tool, I forgot which one is. Sorry, better to reference it earlier. Would you like to refactor the class in order to provide custom matrix?

[2020-06-17 05:22] mdehoon commented on #2917
@lijax  Thank you for the explanation. It's actually because I would like to replace the use of `MatrixInfo` from `Bio.SubsMat` by `substitution_matrices` from `Bio.Align`, since `Bio.SubsMat` is currently not being maintained. The substitution matrices from `Bio.Align` would also be easier to use in `Bio.Phylo.TreeConstruction` as you won't need to go through `_build_protein_matrix` (I think). `B

[2020-06-17 09:08] arindam31 commented on #1963
Just sharing my observation. I ran flake8 to catch docstring errors and I did get what I expected.

[code]

However, as you see, the _public method_ is still missing the name of the method.

**My version details:**
3.7.9 (flake8-docstrings: 1.5.0, pydocstyle: 4.0.1, flake8-print: 3.1.4, mccabe: 0.6.1, naming: 0.8.2, pycodestyle: 2.5.0, pyflakes: 2.1.1) CPython 3.6.8 on Linux

**When I use pydocsty

[2020-06-17 13:00] peterjc commented on #1963
@arindam31 How is your query related to Biopython?

Also your flake8 and pydocstyle output quoted both identify a D102 issue on line 206 of file ``test/integration/test_configuration.py`` - they seem to be consistent.

If you use flake8, it should ignore violations as per any flake8 configuration, in our case we are currently ignoring D102 for the ``Tests/*`` files: https://github.com/biopython/bi

[2020-06-17 17:22] JamesABaker opened #2982 "Align.IO fails to parse a stockholm alignment file. /Bio/AlignIO/StockholmIO.py ValueError"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

### Expected behaviour

`align = AlignIO.read(stockholm_file_location, "stockholm")` should parse a Stockholm alignment file to an object called align that can be iterated through for records within the object.

### Actual behaviour

`align = AlignIO.read(stockholm_file_location, "

[2020-06-18 05:57] DuanhaoranCC opened #2983 "ResidueDepth"
Hello,

My biopython version is 1.73, executing `rd= PDB.ResidueDepth (model)` , but I'm sorry to report an error.`The runtime error: failed to generate surface file usingcommand:` I have downloaded the binary file of MSMS. What else should I do? Environment variable? Or something.

[2020-06-18 10:12] peterjc commented on #2983
Can you manually run the command it tried to use as the terminal, and does that work or give a more helpful error message?

Also in case it is relevant, which version of MSMS do you have, and what OS?

[2020-06-18 10:20] peterjc commented on #2982
Helllo.

I can reproduce this. The exception is while handling the ``#=GS <seqname>
<feature> <free text>`` lines, and appears to be a line without any value.
It turns out to be this line:

[code]

Using any value there fixes it:

[code]

I'd have to dig into the specifications to check if this is officially
valid or not, but it ought not to be too complicated to tolerate this
variation.

Where di

[2020-06-18 14:38] srilekhajagarlamudi98 commented on #1588
tq u saved my time..

[2020-06-18 14:41] DuanhaoranCC commented on #2983
I'm sorry. I didn't give you a detailed description,

My computer is windows 10 64bit. I use MSMS's official website (http://mgltools.scripps.edu/downloads),MSMS 2.6.1 - current release downloaded Binaries of the MSMS C library,After that, no configuration was made.

Then I called RD in the python program. `PDB.ResidueDepth (model, 'D:/benchmark5/structures/1DFJ_ R_ b. PDB')`, an error is displaye

[2020-06-18 18:22] peterjc commented on #2983
The simplest option is to add the folder containing the MSMS binary to you PATH environment variable.

Or, you should be able to specify the full path to the binary - strangely the class ``ResidueDepth`` does not let you do that, just the function ``get_surface`` which it calls internally. That would mean a code change in Biopython to allow this - something like this maybe:

[code]

Does that soun

[2020-06-18 18:26] JamesABaker commented on #2982
This is from CATH at UCL as part of their [FunFam](https://github.com/UCLOrengoGroup/cath-funfam-docs) project.
You can directly view the at the [CATH database here](http://www.cathdb.info/version/v4_2_0/superfamily/3.40.50.300/funfam/634591/files/stockholm)

[2020-06-18 20:16] peterjc commented on #2982
Thanks for quoting the specification reference, "free text" was my recollection - so arguably if the free text was empty, the line should end with a trailing space - but the current parser would break anyway with ``"#=GS G4YF51/316-544              OS "`` so we need to make a small change anyway.

Being pragmatic, I think we should cope with the missing value, and assign an empty string as the ann

[2020-06-19 07:06] JamesABaker commented on #2982
This sounds like a good solution.

I'll give it a go!

[2020-06-19 07:47] lijax commented on #2917
I'm OK. It would be much cleaner to import it from `Bio.Align.substitution_matrices`. What about you? @etal

[2020-06-19 16:07] peterjc commented on #2982
Excellent. Thanks!

[2020-06-22 12:31] peterjc commented on #2970
OK, the original file from Multalin does not have an MSF header that we
know about - "!!NA_MULTIPLE_ALIGNMENT", "!!AA_MULTIPLE_ALIGNMENT", and
"PileUp".

Also, the MSF line is just:

[code]

This is missing the "Type:" entry which the parser currently expects. You
fixed both of those but the other change needed was a blank line after this
one. Then it works:

[code]

We could probably tweak the pa

[2020-06-22 18:58] chebizarro commented on #2904
Initially I was thinking that (b) would be a relatively simple solution as the version could be defined in the Makefile (or as a ENV variable) and passed to LaTeX document as an argument (as per [this question](https://tex.stackexchange.com/questions/270755/passing-arguments-to-latex-file)). Sphinx has the [extlinks](https://www.sphinx-doc.org/en/master/usage/extensions/extlinks.html) extension wh

[2020-06-22 23:20] peterjc opened #2993 "test_codonalign.Test_dn_ds regression on scipy 1.5.0"
TravisCI Python 3.7 has started failing on the master branch:

[code]

See https://travis-ci.org/github/biopython/biopython/jobs/700971840

Previous build worked, but had scipy 1.4.1

[code]

See https://travis-ci.org/github/biopython/biopython/jobs/700563827

This is currently the only TravisCI target which has SciPy installed, and thus only Python 3.7 shows the problem.

[2020-06-22 23:23] peterjc commented on #2993
Failure is here:

[code]

https://github.com/biopython/biopython/blob/biopython-177/Tests/test_codonalign.py#L250

Most likely a chance in ``scipy.optimize.minimize``?

[2020-06-22 23:27] peterjc commented on #2993
This test ends up calling the ``_ml`` function:

https://github.com/biopython/biopython/blob/biopython-177/Bio/codonalign/codonseq.py#L1130

This calls ``scipy.optimize.minimize`` as follows:

[code]

https://docs.scipy.org/doc/scipy/reference/release.1.5.0.html says:

[2020-06-23 10:18] peterjc commented on #2993
Short term workaround applied so TravisCI continues to pass (#2994)

[2020-06-23 10:19] peterjc commented on #2993
@zruan Are you able to look at this change to the SciPy minimiser as used in for DN/DS calculation?

[2020-06-23 10:20] peterjc commented on #2904
Sounds good Chris - yes please.

[2020-06-23 20:56] alexandrefassio opened #2995 "Bug identified at PDBIO.set_structure() and solution for it"
Hi,

In the current BioPython version, there are two bugs (lines 86 and 95) in the function **set_structure**() from the class **PDBIO** (Bio/PDB/PDBIO.py):

           Line 86: sb.structure[0]["A"].add(pdb_object.copy())
           Line 95: sb.structure[0]["A"].child_list[0].add(pdb_object.copy())

As you can see, it always tries to access a chain object whose id is "A". However, if one tries to

[2020-06-23 23:16] JoaoRodrigues commented on #2995
Hi @alexandrefassio would you be willing to submit a pull request on this?

[2020-06-24 06:20] Meirom-Michal commented on #2970
Great, it's working now.
Yes, I did notify the Multalin team.

Thanks for your help!

[2020-06-24 06:20] #2970 closed

[2020-06-24 18:14] tokeru opened #2997 "Error importing SeqIO"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

3.7.2 (tags/v3.7.2:9a3ffc0492, Dec 23 2018, 23:09:28) [MSC v.1916 64 bit (AMD64)]

CPython
Windows-10-10.0.18362-SP0

1.77

### Expected behaviour

When I try
`from Bio import SeqIO`
this works fine in my IDE and also when I start my program from windows power shell.

### Actual behaviour

[2020-06-25 15:21] peterjc commented on #2997
Can you tell where (which directory) the double click example starts from? If that happens to be within the Biopython source code tree, bad things happen. You get local imports (where the C code is missing) rather than importing from the installed copy in site-packages. But we have a specific error message for that situation, so something else is evidently breaking here.

Can you check the IDE and

[2020-06-25 15:31] tokeru commented on #2997
The Double Click starts from a generic path in my windows partition, nothing to do with python. (C:\Daten\Alex\NTDB).
While I think that I only have one Python Installation, I'm not entirely sure wether my IDE (Thonny) uses a different one. But I can tell that double click and command line shall use the same. I also looked in my PATH which python it is targeting. I then opened the Python shell in

[2020-06-25 17:28] peterjc commented on #2997
How did you install Python? e.g. Windows installer from python.org, or using something else like Anaconda?

How did you install Biopython? e.g. "pip install biopython"

@mdehoon do you have any idea why this might fail to import ``_aligners``?

[2020-06-25 17:55] tokeru commented on #2997
Python windows installer from python.org. biopython installed first with thonny plugin manager. Then during this Problem already tried to uninstall and reinstall with pip.
I can also add that from Bio import Seq for example works fine. Importing aligners directly also dont work.

[2020-06-25 18:43] peterjc commented on #2997
And the IDE you are using where it works is Thonny? https://thonny.org/ says "Thonny comes with Python 3.7 built in" (by default), so perhaps you only have Biopython installed properly on the Thonny provided Python, not the Python.org installed Python?

[2020-06-25 18:52] tokeru commented on #2997
I would admit but as i told Import bio works as well as from bio import seq

[2020-06-25 18:57] MarkusPiotrowski commented on #2997
I also have the feeling that you have different python installations.

One indication is the installation path which is quite deep in your user folder; I'd expect it to be somewhere in programs or programs x86. Is this the same path which is set in your path variable?

When you right click your python file, you should be able to see in the properties how it is started. Or the information is stored

[2020-06-25 19:03] tokeru commented on #2997
While this would not explain why, in the same python shell, import bio works but from bio import seqio doesnt, i will Check again. As it is the pc at my work I have to wait till tomorrow.

[2020-06-25 19:46] MarkusPiotrowski commented on #2997
It could be that one of the putative installations is missing the compiled C files. E.g. the Bio folder should contain a pairwise2-...pyd file. Imports not requiring a C file will work, others not.

[2020-06-25 22:03] peterjc commented on #2993
Looks like this is breaking on AppVeyor too now...

[2020-06-26 04:10] rchurt opened #3002 "Option to write nucleotide SeqRecord to protein FASTA"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

3.6.9 (default, Apr 18 2020, 01:56:04)
[GCC 8.4.0]
CPython
Linux-4.19.104+-x86_64-with-Ubuntu-18.04-bionic
1.77

### Expected behaviour

Unless I'm mistaken, the only way to write a protein FASTA is to pass a SeqRecord object containing protein sequences into SeqIO.write. However, it's com

[2020-06-26 09:55] peterjc commented on #2993
Closed by #2998.

[2020-06-26 09:55] #2993 closed

[2020-06-26 10:07] peterjc commented on #3002
What is your actual goal here? Converting an annotated genome in GenBank or EMBL to a FASTA file of protein sequences using the given amino acid translations? If so, this is probably what you need - a specialised GenBank parser which gives one SeqRecord per CDS:

[code]

Otherwise, you've need to convert each genomic SeqRecord into multiple protein SeqRecord object - most likely by looping over th

[2020-06-26 14:53] alexandrefassio commented on #2995
Hi @JoaoRodrigues

Sure! I can do it.

[2020-06-26 15:59] rchurt commented on #3002
Thanks very much for this.

My goal here is to take several genomic regions, get the name, nucleotide sequence, and protein sequence of each CDS, and combine all of these from all genomes into a single nucleotide multiFASTA and a single protein multiFASTA. However, in the middle, I have to do a few processing steps (e.g., I want the name to be 'organism name|CDS label' since all CDSs from all orga

[2020-06-26 17:30] peterjc commented on #2046
Following the release of Biopython 1.77 (May 2020) which was focused on removing Python 2 specific code, we are currently removing internal use of ``Bio.Alphabet`` objects. The ``Seq`` objects will no long use this attribute for type checking.

Where recording the molecule type is required (some file formats need this), the ``SeqRecord`` annotation is used instead. Specifically, the ``.annotations

[2020-06-26 17:48] peterjc commented on #3002
The trouble with "directly" is all the special cases processing is likely to be use case specific, like your particular naming requirement. I suspect any sufficiently flexible function to do this would be overly complicated to document (and implement and test). But I could be wrong.

[2020-06-26 21:15] rchurt commented on #3002
Sure, I think that to simplify things, the command could do exactly what `SeqIO.write(nt_SeqRecord, handle, 'fasta')` does (meaning not edit the SeqRecord at all) but instead of grabbing the Seq and ID from the record, grab the translation and ID. I think this alone would be helpful--would that be simple to implement?

[2020-06-27 01:38] mdehoon commented on #3002
My impression is also that this is a specific use case that does not need to be in Biopython for general use.

[2020-06-27 01:43] rchurt commented on #3002
Gotcha, just so I understand, why do you think that writing protein sequences is a specific use case but writing nucleotide sequences is built in? It seems to me like these would be equally common, but I might be mistaken.

[2020-06-27 08:08] peterjc commented on #3002
Parsing the nucleotide sequence in a genomic GenBank file is built in - it is the primary sequence of the record after all. Try ``SeqIO.parse("input.gbk", "genbank")`` or if you have a single record ``record = SeqIO.read("input.gbk", "genbank")``

Parsing the given protein translations in a genomic GenBank file is also built in - the CDS features within the record. Try ``SeqIO.parse("input.gbk", "