[2017-06-21 01:43] jsolvason commented on #1287
Sure thing! Thanks.

Joe

Joseph Solvason
Chimera Bioengineering

On Tue, Jun 20, 2017 at 2:13 PM, Peter Cock <notifications@github.com>
wrote:

[2017-06-21 08:49] Zefeng-Wu opened #1290 "Digits in sequence names breaking NG86 parser in Bio.Phylo.PAML"
File "/usr/local/lib/python2.7/dist-packages/Bio/Phylo/PAML/_parse_yn00.py", line 44, in parse_ng86
  NG86["dN"] = line_floats[i + 1]

I think the 22th line of _parse_yn00.py  has a  bug,  because there are digits in my sequences names. The script mistake the sequence name as lines_floats lines.

[2017-06-21 10:20] Gasta88 commented on #443
I'm using the TogoWS as a reference for testing this service :)

I'll send an email shortly to gather ideas from the other developers.

There are currently 42 databases, here is a list of them: http://www.ebi.ac.uk/Tools/dbfetch/dbfetch/dbfetch.databases

I'm no expert but as popular ones I would consider: Ensembl Gene, UniProtKB, MEDLINE, PDB and EDAM. Can you have a quick glance over the list an

[2017-06-21 10:33] peterjc commented on #443
I'm not an expert on these services either.

I note Biopython used to have ``Bio.InterPro`` which was a parser for the EBI InterPro website - it was deprecated and removed in Biopython 1.58 - the REST API should provide a much more stable interface.

[2017-06-21 10:36] peterjc commented on #1290
Which version of Biopython are you using?

[code]

Can you share a sample file which we could us for a test case?

CC @brandoninvergo

[2017-06-21 11:03] peterjc commented on #1289
Biopython's ``SeqRecord`` object has a ``.features`` list of ``SeqFeature`` operations which have locations giving their co-ordinates on the parent sequence.

Operations on the ``SeqRecord`` like slicing or adding them together (e.g. adding an ``NNNNNNN`` spacer, moving the origin of replication) respect and update the feature coordinates.

See "Slicing a SeqRecord" and "Adding SeqRecord objects"

[2017-06-21 16:34] peterjc commented on #1183
WIP: https://github.com/peterjc/biopython/tree/setuptools

[2017-06-21 16:48] peterjc commented on #1257
I'm trying this without those three tests...

https://ci.appveyor.com/project/peterjc/biopython/build/0.0.7

[2017-06-21 16:57] peterjc commented on #493
I've been thinking that using the ``flake8`` hook might be simpler, although its default settings are not suitable so we'd need to recommend something like:

[code]

Personally, I set the configuration globally rather than just on the current repository. See: http://flake8.pycqa.org/en/latest/user/using-hooks.html

The downside is this would only check the Python files, and not the ``*.rst`` files

[2017-06-21 19:05] zachrodriguez commented on #964
Has this been implemented in biopython @kyrgyzbala?

[2017-06-22 04:11] mebbert commented on #931
@peterjc, I'm curious why this issue was closed. SeqIO.parse is still pretty slow. Are there plans to improve?

[2017-06-22 09:44] peterjc commented on #931
There is very little low hanging fruit for the FASTA parser - the underlying string bassed parser ``SimpleFastaParser`` is pretty competitive (but adding C code may help), but on top of that we have the object creation overheads and splitting off the id as the first word of the title.

If you can find something we've missed, that would be great.

With more complex file formats there is scope for s

[2017-06-22 15:16] mebbert commented on #931
Ah, gotcha. I misunderstood the previous statements in this thread. When you stated "...try the underlying SimpleFastaParser...", I mistakenly interpreted that as an internal-use function ("_function") that shouldn't be called directly. Instead, there are two parsers: the light-weight and the heavy-weight parsers. Is that accurate?

[2017-06-22 16:05] peterjc commented on #931
Yes, the heavy-weight ``Bio.SeqIO.parse(..., "fasta")`` internally calls the light-weight ``Bio.SeqIO.FastaIO.SimpleFastaParser``, which can also be used directly.

[2017-06-23 09:50] #1183 closed

[2017-06-23 13:09] Gasta88 commented on #443
I've no idea how the `Bio.InterPro` worked, but the result from the dbfetch request doesn't contain sequences or potentially static details. Here is an [example](http://www.ebi.ac.uk/Tools/dbfetch/dbfetch?db=interpro;id=IPR006212;format=default).

Regarding the naming, does `Bio.dbfetch` conform to PEP8?

[2017-06-23 13:54] Gasta88 commented on #1288
I'm particularly interested in `Bio.KEGG.REST` thanks to the recent development with the dbfetch module.

From CodeCov.io it seems that the private method `_q()` is never covered. Likewise, most exceptions are not tested.

I could try to expand the test script `Tests\test_KEGG_online.py` to verify the content of the handles and perform some fuzzy testing. Does it sound OK?

[2017-06-23 14:16] peterjc commented on #1288
@Gasta88 Right now (deliberately) the TravisCI tests are all run in offline mode, so none of the network only code in Biopython will be reported as covered. Please run ``coverage`` locally before trying to improve the online test coverage, as otherwise you might be wasting some effort.

Regarding ``Bio.KEGG``, apart from the (online) ``REST.py`` file there is poor coverage in ``Bio/KEGG/__init__.p

[2017-06-23 14:20] peterjc commented on #1288
Good news: I've enabled AppVeyor for continuous integration under Windows:

https://github.com/biopython/biopython/commit/09ba3065d191d204e860d67954d7f1ef7bb4a1b0
https://ci.appveyor.com/project/biopython/biopython/history

Bad news: Some of the ``Bio.Cluster`` doctests in the Tutorial would not work, so have been disabled:

https://github.com/biopython/biopython/commit/c2e2b388f2adc62bd0b14368709

[2017-06-23 14:22] peterjc commented on #1257
AppVeyor is now live :)

[2017-06-23 14:22] #1257 closed

[2017-06-23 14:26] peterjc commented on #443
See 474906806353cd028ffff7605cc5f7fc91752ba0 for the final version of ``Bio.Interpro`` - I would assume dbfetch offers a more computer friendly output format than HTML?

Regarding naming, ``Bio.dbfetch`` would follow PEP8 but would be very ambiguous as its just short for "database fetch". On its own there is no context that this is for the EBI. ``Bio.ebi.dbfetch`` might work.

[2017-06-23 14:44] chris-rands opened #1294 "Add an overlapping count method to seq.py?"
I wonder if an overlapping count is sufficiently common that it would be worth adding a method alongside [`count`](https://github.com/biopython/biopython/blob/master/Bio/Seq.py#L389). This implementation (modified [from SO](https://stackoverflow.com/a/2970542/6260170)) is fairly simple I think (although I've not tested it extensively):

[code]
Thoughts? I can make a git branch if people think this

[2017-06-23 14:47] peterjc commented on #1294
It may be worth asking on the mailing list? Personally I don't recall ever needing the overlapping count - anything complex with motif finding might already be better covered in ``Bio.motifs``. What are your thoughts @barwil and @mdehoon given you've worked on the motif code?

[2017-06-23 14:56] peterjc opened #1295 "Overhaul installation instructions"
Currently we have brief install instructions in the main ``README.rst`` file,

* https://github.com/biopython/biopython/blob/master/README.rst

and the downloads page,

* http://biopython.org/wiki/Download
* https://github.com/biopython/biopython.github.io/blob/master/wiki/Download.md

Those are relatively easy to update, but we also produce a long HTML or PDF file which is included in the source

[2017-06-23 15:35] peterjc opened #1296 "Building compiled wheels for PyPI (Linux, Mac, Windows)"
After Biopython 1.70 is out (which with the move from ``distutils`` to ``setuptools`` already makes enough changes to our installation to make me nervous, see #1293), we should look at how to compile/build suitably portable Linux/Mac/Windows binaries as wheel files for upload to PyPI.

This will likely be heavily guided by how NumPy does it - in part as we need to be binary compatible with theirs.

[2017-06-23 15:36] peterjc commented on #1296
Note we've been running ``python setup.py bdist_wheel`` as a TravisCI test check for a while now, but not doing anything with the output.

[2017-06-25 13:11] paxelito commented on #1128
@MarkusPiotrowski really apologize for the delay. I have tried the new version with my tests, it seems that the last version of Restriction.py works really well, really good work.
I have a question, is there some way to recognize the strand where the enzyme recognize the sequence? For example in the following example:
[code]
is there some method to get the strand of the cut or I have to check it m

[2017-06-26 01:07] mdehoon commented on #1294
I think it's useful, but I would implement it as a method of Seq objects rather than a stand-alone function:

[code]
Btw why use ```if not start == 0:``` instead of ```if start != 0:```?

[2017-06-26 07:47] souravsingh commented on #1296
We can make use of the manylinux to build wheels for Linux- https://github.com/pypa/manylinux

For Mac, I think there is MacPython.

[2017-06-26 08:44] peterjc commented on #1296
Thanks for the ``manylinux`` link - yes, their Docker image seems like the official best practise for the Linux wheels.

Mac is harder as you have Apple Python vs Python.org Python to consider.

[2017-06-26 09:13] peterjc commented on #1294
@chris-rands that sounds like a green light to work on a pull request :)

@mdehoon we would both like the ``Seq`` object to behave more like a ``string``,  and potentially subclass it http://mailman.open-bio.org/pipermail/biopython-dev/2017-May/021698.html

To that end, is there much to choose between adding a new method (``.overlapping_count(...)`` or perhaps ``.count_overlapping(...)`` instead)

[2017-06-26 09:32] peterjc opened #1297 "Enable unit test coverage reporting on AppVeyor"
Much like how we use ``coverage`` on TravisCI for recording our unit test coverage under Linux for display at https://codecov.io/github/biopython/biopython/ we should in principle be able to do this under Windows on AppVeyor.

[2017-06-26 09:54] MarkusPiotrowski commented on #1128
As far as I can tell there is no implemented method which reports the strand on which the recognition sequence was recognized. You would have to do this manually e.g. searching both strands with a regular expression. The regular expression pattern of the enzyme can be inferred from it's ```compsite.pattern```:
[code]
You could then assign the patterns for two regular expression searches:
[code]

[2017-06-26 10:36] chris-rands commented on #1294
Thank you both for the comments! I like the idea of the new argument instead of the new method, but of course it is not my decision to make.

`not start == 0` vs `start != 0` is a question of taste, the performance should be identical (since the CPython bycode output from `dis.dis()` is identical). However, since I note you use `!=` elsewhere, I guess sticking to that would be best for consistency

[2017-06-26 10:41] peterjc commented on #1294
The chances of Python adding an overlapping method to the core string seems practically zero, while I would say there is a small chance of them adding more arguments to the existing ``count`` method. So defining our own method seems less slightly likely to lead to a conflict with the base string?

In terms of what would happen on an older version of Biopython, the two errors are both very clear I

[2017-06-26 12:53] chris-rands commented on #1294
Thank you Peter, I do see you point about the potential conflict, maybe a separate method is better. Anyway, I will wait until a consensus is reached on this.

Are there new tests that should be added with this?

[2017-06-26 13:21] peterjc commented on #1294
Yes, please do include tests (probably in ``Tests/test_Seq_objs.py``) and also a doctest in the docstring would seem sensible (which will be tested via ``run_tests.py``).

[2017-06-26 14:40] tommycarstensen opened #1300 "Convert Ensembl gene ID to Uniprot IDs and/or PDB IDs?"
Is it possible with Biopython to convert an Ensembl gene ID to a Uniprot ID and/or PDB IDs? It is stated on https://www.biostars.org/p/93896/ that there are no Python tools for doing this.

[2017-06-27 12:57] chris-rands commented on #1294
Thanks! On reflection, a new method seem perhaps simpler and would fit more easily with the current code structure and tests, so I would lean towards that if people agree? The name is still an open question, like  `.count_overlap` or `.overlap_count`?

Should the new method be introduced for the `Seq`, `UnknownSeq` and `MutableSeq` classes? Currently, each has a `count` method.

[2017-06-27 15:07] peterjc commented on #1294
I would suggest ``.count_overlap`` because it starts ``.count`` so both would be suggested if the user's editor has auto-completion, but up to you.

Ideally yes, the method would be added to all three classes ``Seq``, ``UnknownSeq`` and ``MutableSeq`.

Also you can update the existing ``.count(...)`` method docstrings to reference the new method (where they currently warn that they do not do an ov

[2017-06-28 12:50] chris-rands commented on #1294
Thanks again, I am making a pull request and I suggest we move the discussions to there

[2017-06-29 00:34] cmungall commented on #686
For python ontology libs (primary format is obojson):

https://github.com/biolink/ontobio
https://ontobio.readthedocs.org

[2017-06-29 13:47] baraaorabi commented on #978
So I just installed biopython without having numpy first, and I don't quite get how it fails midway then concludes by saying biopython installed successfully. I mean why do I need to reinstall it? I feel like many users would just ignore the failure message if the last message is "Successfully installed biopython-1.69
" only to have inexplicable running issues later:

[code]

[2017-06-30 11:35] peterjc opened #1302 "Make NumPy a hard requirement (except on Jython)"
We've recently decided to deprecate support for Jython (which has no numpy support at all), and nowadays PyPy has excellent NumPy support.

We should probably switch to a new policy regarding the optional NumPy dependency:

* Jython: Skip the bits which need NumPy
* Non-Jython: Insist on NumPy absolutely (and abort, all or nothing)

For the next release we've started to require ``setuptools`` (#12

[2017-06-30 11:35] peterjc commented on #978
@baraaorabi It didn't fail - you have installed most of Biopython, just not the bits which need numpy. We should revisit this in light of recent changes in Biopython, see #1302.

[2017-07-01 23:00] Adil-Iqbal commented on #898
I hereby give my explicit permission to switch to the BSD 3-clause license.

[2017-07-02 07:23] DamianSkrzypczak opened #1304 "Make _DistanceMatrix non-private"
I belive that TreeConstruction/_DistanceMatrix could and should be public.
Personally i had this issue when I tried make tree from my own distance matrix...

Of course this is compatibility-breaking but there can always be some hook like simple var named _DistanceMatrix or subclass with deprecation warning

If there is any reason for _DistanceMatrix to keep underscore, please share it :D
Maybe Im

[2017-07-02 09:22] peterjc commented on #1304
I have few worries about breaking backward compatibility of private methods (unless we have reason to believe the are widely used).

CC @lijax and @etal

[2017-07-02 11:56] DamianSkrzypczak commented on #1304
But can't this be done by adding some placeholder _DistanceMatrix = DistanceMatrix
and renaming private class into public one? This is easiest way.

Or maybe extending library by DistanceMatrix class which will inherent from _DistanceMatrix?
Just to show that this can be used by user, IMO because it should be provided to users .

[2017-07-02 19:19] peterjc commented on #1304
Sure, if you really wanted to preserve ``_DistanceMatrix`` as a backward compatible alias something like that should work. From my perspective it seems unnecessary here, but I neither wrote nor have used this part of Biopython and am leaving this to @lijax and @etal.

[2017-07-03 18:07] etal commented on #1247
I'll see if I can find time to fix and test this.

Actually, I'd like to deprecate this function if there's not too much outcry. It was nice before the `draw` function was in place, but `draw_graphviz` is problematic in many ways (including but not limited to maintenance), and there are other packages better suited to the task now. The best long-term solution would be to implement radial tree plot

[2017-07-03 19:02] #919 closed

[2017-07-03 19:39] etal commented on #1022
So! Even though hyphens are apparently allowed as taxon names in the NEXUS spec, the Bio.Nexus parser uses the same list of punctuation characters for parsing the entire NEXUS file, not just the taxon names and Newick trees embedded in it.

The hyphen character does have special meaning for other parts of the format, e.g. the private function [Bio.Nexus.Nexus._parse_list](https://github.com/biopyt

[2017-07-03 19:43] etal commented on #623
I think this is a duplicate of #919 -- now fixed.

[2017-07-03 19:43] #623 closed

[2017-07-03 20:35] etal commented on #471
The unit tests `test_NexusComments` in `Tests/test_Nexus.py` currently passes with a tree that includes commas in comments. Is this bug fixed now?

[2017-07-03 20:52] #1247 closed

[2017-07-03 21:29] peterjc commented on #1022
Paging @cymon and @frankkl on this NEXUS parsing question.

[2017-07-03 21:32] peterjc commented on #1247
That seems like a good cause for deprecating the function.

[2017-07-03 21:36] peterjc commented on #471
Confirming - @cswarth's work on #668 sounds like it would have fixed this - and going back to @tiagoantao's example the file now parses. Closing issue - thanks everyone.

[2017-07-03 21:36] #471 closed

[2017-07-03 21:41] etal commented on #491
I made the `skip_letters` a parameter as @lijax suggested. I'll leave it to your discretion if/when the default behavior should change to make the "identity" model skip gap and stop characters in calculating the score.

[2017-07-03 21:41] #491 closed

[2017-07-03 21:58] #838 closed

[2017-07-03 22:05] etal commented on #1304
I see no problem with making it public. Might as well use the _DistanceMatrix = DistanceMatrix placeholder, since the reason we're interested in making it public is that people have been using it directly.

[2017-07-04 00:43] etal commented on #1247
Shall we add a DeprecationWarning or PendingDeprecationWarning before the upcoming release, then?

[2017-07-04 05:09] DamianSkrzypczak commented on #1304
I suggest to create subclass of _DistanceMatrix and make some more comfortable methods, like for example constructor that can get normal matrix and cut it into lower triangular.

[2017-07-04 09:30] peterjc commented on #1247
I'd go for directly to the ``BiopythonDeprecationWarning`` here - you can ask on the mailing list first if you prefer.

http://biopython.org/wiki/Deprecation_policy

[2017-07-04 09:37] peterjc commented on #1304
Given we're happy to make it public as ``DistanceMatrix``, there is no reason to keep two different classes in the code - the alias seems a better plan than a subclass.

A pull request to further enhance the ``DistanceMatrix`` seems like a good idea.

[2017-07-04 11:04] TBradley27 opened #1308 "MafIO: Concatenation of negative strand exons"
Hello,

My problem relates to the case in which the user invokes the 'MafIndex.get_spliced' method in the case of multiple negative strand exons.

I use the following example:

**Single Exon**

`new_multiple_alignment = idx.get_spliced([22073644],[22073727],-1)`
`AlignIO.write(new_multiple_alignment, "path/bar.fa", "fasta")`

Which returns the following sequence (non-human species omitted for the

[2017-07-04 14:10] peterjc commented on #1308
I assume this is using Biopython 1.69?

CC @polyatail @adamnovak @blaiseli

I wonder if this has ever been tested with mixed-strand features (e.g. transplicing)?

[2017-07-04 14:20] TBradley27 commented on #1308
Yes, this is using Biopython 1.69.

[2017-07-04 14:44] blaiseli commented on #1308
All the tests currently in `Tests/test_MafIO_index.py` pass the coordinates in growing order.

Is it a common thing to have the features not appear in growing coordinates order in a bed file ?

Anyway, I think the spliced alignment should not have its portions swapped, so we need to fix this. Maybe this just amounts to adding a few `sort` somewhere in the code.

[2017-07-04 14:47] blaiseli commented on #1308
I see a comment about sorting is already present in the code of `MafIndex.search`: `# Could it be safer to sort the (exonstart, exonend) pairs?`

[2017-07-04 15:38] peterjc commented on #1308
I've not done anything with MAF, but if there are special cases like trans-splicing, then inserting a sort would likely break them (even though it would be a simple fix for 99% of the more typical cases).

(I'm assuming there is a good analogy here to the Biopython ``SeqFeature`` and ``CompoundLocation`` as used for things like ``join`` locations in EMBL/GenBank)

[2017-07-04 15:41] blaiseli commented on #1308
If we want to allow for special cases, is there anything we can do except let the responsibility to the user to order the coordinates in the correct way?

[2017-07-04 15:46] peterjc commented on #1308
So is it clear to you how the example here should have been written to get the desired output?

[2017-07-04 15:53] blaiseli commented on #1308
I think that the exon starts (and corresponding exon ends) should appear in the order the user wants the exons assembled.

I also think that the current code will not reverse alignment portions. This has 2 consequences:

1. The only way to obtain a correct result for normal splicing is to have the coordinates sorted in growing order.
2. Possible cases of exons coming in opposite strands cannot be

[2017-07-05 05:23] taleinat commented on #1296
@peterjc I can't see `python setup.py bdist_wheel` being run on AppVeyor yet, though.

[2017-07-05 05:38] #1304 closed

[2017-07-05 08:13] peterjc commented on #1296
True, but AppVeyor runs everything in serial so already takes rather a long time to finish on pull requests etc.

I'm thinking baby steps for Biopython 1.70 (which has now shifted to using setuptools internally, see #1293) and trying building self-compiled wheels for Windows and uploading them to PyPI

[2017-07-05 09:09] peterjc commented on #1304
And the PEP8 check fixed in d080655fce8bc5987e4ff653f16c58d3dcd09c9d

[2017-07-05 09:31] peterjc commented on #1297
Done in 30c1d4b3810a1909019b043bdb8b1ef878e1caee having tested this on my personal fork.

[2017-07-05 10:13] chris-rands commented on #1294
Closing, see [pull request 1301](https://github.com/biopython/biopython/pull/1301)

[2017-07-05 10:13] #1294 closed

[2017-07-05 10:36] peterjc commented on #1296
Here is how NumPy etc does their wheels:

https://github.com/MacPython/numpy-wheels

Background to the setup:

https://github.com/MacPython/wiki/wiki

https://github.com/matthew-brett/multibuild

[2017-07-05 11:14] souravsingh commented on #1296
@peterjc This projet could also be interesting- https://github.com/joerick/cibuildwheel

[2017-07-05 11:18] peterjc commented on #1296
That looks good too @souravsingh - but I think given NumPy is our major compile time dependency, joining the wider NumPy community's approach is worth trying first: http://mailman.open-bio.org/pipermail/biopython-dev/2017-July/021809.html

[2017-07-05 13:01] peterjc commented on #1295
We should also remove all references to ``python setup.py install`` once Biopython 1.70 is out, in favour of ``pip install biopython`` or ``pip install .`` as appropriate.

See also #1302 which will likely be in Biopython 1.70 and automate NumPy installation via pip.

[2017-07-06 11:28] peterjc commented on #1297
The CodeCov settings need tweaking so that the TravisCI and AppVeyor coverage combines properly...

[2017-07-06 11:36] peterjc commented on #1297
https://docs.codecov.io/discuss/595e20923989e5001b378adf

[2017-07-07 14:12] peterjc commented on #1167
I've reverted the deprecation in 3b7f121371e2a0f30177a7643acf9ac521996ffd

[2017-07-07 14:12] #1167 closed

[2017-07-07 15:24] peterjc commented on #1297
Paths issue fixed with a57022818a1343db835b9eba7a00bf1b5477bdfe - I was not calling coverage and codecov consistently under TravisCI and AppVeyor.

[2017-07-07 15:24] #1297 closed

[2017-07-08 13:43] picrin opened #1312 "Add support for metadata handling to Bio.Affy"
At the moment Bio.Affy has very limited functionality, which allows for parsing raw v3 and v4 .CEL files.

In order to make sense of microarray data a few more steps are required.

1. One has to parse the .CDF file, which contains the mapping of probe IDs -> chip coordinates. There are open source libraries available for the task of CDF file parsing, or a simple parser could be hand-cooked. After

[2017-07-10 16:45] peterjc commented on #1295
Regarding the Mac, on our download page we currently have this (you don't need all of XCode anymore):

[2017-07-12 07:30] wpwupingwp opened #1315 "Bio.Phylo.write generate invalid newick format output"
`from Bio import Phylo as p;
a=p.parse('20.nwk','newick');
p.write(a, '20.nwk.biopython','newick')`

`diff 20.nwk 20.nwk.biopython`
1c1
< (T0:0.0693147181,T12:0.1309333320,((T16:0.0366725280,T18:0.3296837366)99:0.0701179352,((T11:0.0314710745,T6:0.0752897185)86:0.1052683357,(T2:0.0738144546,T7:0.4135166557)40:0.0605136303,(T8:0.0556869562,(T10:0.0044997366,T19:0.0293029679)39:0.0339677368)100:0.02

[2017-07-12 07:48] wpwupingwp commented on #1315
Update:
Same problem found in nexus format output.

[2017-07-12 09:28] peterjc commented on #1315
Which version of Biopython are you using?

CC @etal

[2017-07-12 09:29] wpwupingwp commented on #1315
Biopython 1.69

[2017-07-12 10:37] peterjc opened #1316 "Phenotype doctests in Tutorial"
We currently only run a limited subset of Windows platforms via AppVeyor for continuous integration. I am currently trying a broader set as part of building wheels - and that has found a new test failure:

https://ci.appveyor.com/project/biopython/biopython-wheels/build/1.0.11/job/cqn7aj3dnvbx99y8

32-bit Python 3.5 (via miniconda):

[code]

[2017-07-12 10:38] peterjc opened #1317 "Bio.Affy.CelFile doctest fails on Windows 64-bit Python 2.7"
Reported in https://github.com/biopython/DIST/pull/3 by @benfulton, I could reproduce the doctest failure under AppVeyor as part of testing the wheel process:

https://ci.appveyor.com/project/biopython/biopython-wheels/build/1.0.10/job/ow4ualic5sha1fcy

[code]

This was using 64-bit Python 2.7 via miniconda.

[2017-07-12 10:46] peterjc commented on #855
Seeing this again during work to build wheels for Biopython 1.70 under TravisCI (using a quite different setup to our TravisCI continuous integration tests),

e.g. https://travis-ci.org/biopython/biopython-wheels/jobs/252754295

This also affects other tests too:

[code]

[2017-07-12 10:51] peterjc commented on #1316
@mgalardini do you have any idea where a nan would come from here?

[2017-07-12 11:29] peterjc commented on #1316
This is also failing here, apparently on all the Linux Python 3.x builds as part of my wheel building experiment:

https://travis-ci.org/biopython/biopython-wheels/builds/252763946

e.g.

https://travis-ci.org/biopython/biopython-wheels/jobs/252763956

[code]

This is using a subtly different Python setup to our main TravisCI Linux tests which use the Travis provided Python 3.x

[2017-07-12 11:31] peterjc commented on #1316
This also broke on a TravisCI Mac build,
https://travis-ci.org/biopython/biopython-wheels/jobs/252763959

Might the version of NumPy be part of the problem? These wheel builds used a range of numpy versions...

[2017-07-12 13:53] peterjc commented on #1316
Looking over the matrix at https://travis-ci.org/biopython/biopython-wheels/builds/252763946 this isn't as simple a particular version of NumPy causing the problem.

[2017-07-12 14:54] mgalardini commented on #1316
Hi @peterjc, sorry to see that! I'll look into it asap.

[2017-07-12 15:35] peterjc commented on #1317
I am testing a simple change to the doctest to avoid this.

[2017-07-12 17:19] peterjc commented on #855
For my reference, how to find some of the problem entries with grep tested on Mac OS X.

We have example files with the composed Unicode form (NFC), e.g. for the a-with-umlaut:

[code]

e.g. for the u-with-umlaut:

[code]

We do not have to worry about the decomposed Unicode form (NFD), used by the Mac OS file system, which we can get using:

[code]

And for the ``u`` and umlaut diacritical charac

[2017-07-13 09:20] peterjc commented on #855
Looking at this with fresh eyes, @smsaladi was right about using the encoding argument to open (under Python 3), I was tricked because with that fix the print can fail with the default locale.

On Mac OS, with my default locale or explicitly using USA settings, things work:

[code]

However, forcibly using ``LANG=C`` so that the default encoding is just ``ascii``, the read fails:

[code]

Adding t

[2017-07-13 09:42] peterjc commented on #1317
Fixed in #1318, specifically by commit https://github.com/biopython/biopython/commit/a1d14584f3fa8002b42ebcf9b79ff26fe82235d7

[2017-07-13 09:42] #1317 closed

[2017-07-13 13:53] peterjc opened #1319 "test_SeqIO_SeqXML.py UnicodeDecodeError: 'ascii' codec can't decode byte 0xc3"
Spin out from #855 which was specifically for ``test_NCBIXML.py`` but has the same root cause.

One of the test XML files contains non-ASCII accented characters (etc):

[code]

Note that this XML file does define an encoding:

[code]

Testing with Biopython 1.70 with my default locale, everything is fine as a UTF8 encoding is the default. However, under some systems (including the ``multibuild`` s

[2017-07-13 14:11] peterjc commented on #1319
Right now when given a filename ``Bio.SeqIO`` for text files, it will open the file using the default encoding (which depends on the locale).

One simple fix seems to be to class ``seqxml`` as a binary file format, which means opening it in bytes mode, and let the XML parser take care of the encoding. That seems to work perfectly.

Alternatively we might make ``Bio.SeqIO`` default to opening text

[2017-07-13 14:12] peterjc commented on #855
There seems to be a simpler option - open the XML files in binary mode and let the XML parser handle the encoding and conversion from bytes into strings.

[2017-07-13 14:17] peterjc opened #1320 "test_Phylo.py UnicodeDecodeError: 'ascii' codec can't decode byte 0xc3"
Spin out from #855 which was specifically for ``test_NCBIXML.py`` but has the same root cause.

Some of the test XML files contain a non-ASCII accented character:

[code]

Note while ``PhyloXML/distribution.xml`` fails to do so, ``PhyloXML/phyloxml_examples.xml`` does define an encoding,

[code]

Testing with Biopython 1.70 with my default locale, everything is fine as a UTF8 encoding is the defau

[2017-07-13 14:24] mgalardini commented on #1316
Hi @peterjc,

I've tried running the tests on yesterday's latest commit `b32f43f`, using python 3.5.2, numpy 1.13.1 and scipy 0.19.1. No error was reported. Should I run the tests differently? So far I did it through the command line...

Best,
Marco

[2017-07-13 14:26] peterjc opened #1321 "test_Nexus.py UnicodeDecodeError: 'ascii' codec can't decode byte 0xc3"
Spin out from #855 which was specifically for ``test_NCBIXML.py`` but has a similar root cause.

One of the test NEXUS files contains a non-ASCII accented character:

[code]

Does the NEXUS format as anything about locales, unicode, ASCII?

Testing with Biopython 1.70 with my default locale, everything is fine as a UTF8 encoding is the default. However, under some systems (including the multibuild

[2017-07-13 14:29] peterjc commented on #1320
See also https://github.com/biopython/biopython/blob/biopython-170/Tests/test_Phylo.py#L56

[code]

From https://github.com/biopython/biopython/commit/10fadabfa7b3c3f9c74833fbe79230af01c7252b

[2017-07-13 15:25] peterjc commented on #1316
There is something subtly different about the Wheel setup https://github.com/biopython/biopython-wheels (where the ``nan`` appears), compared to most setups where everything seems fine - like  my local machines and our main TravisCI and AppVeyor setup.

Given this is a floating point problem of some kind, it may be down to the underlying fast maths libraries used by NumPy?

[2017-07-13 16:10] hendrikweisser opened #1323 "Bio.Phylo: "neighbor joining" tree construction fails for minimal alignment"
The "neighbor joining" algorithm for the construction of phylogenetic trees, implemented in `Bio.Phylo.TreeConstruction.DistanceTreeConstructor.nj` fails with the following error, if applied to a minimal sequence alignment containing only two sequences:
[code]
This is with BioPython version 1.68, but looking at the code, the cause of the problem seems to be still present in the "master" branch: Fo

[2017-07-13 16:13] peterjc commented on #1323
CC @lijax, @etal

[2017-07-13 16:45] peterjc commented on #1320
This also breaks some of the Phylo examples in ``test_Tutorial.py``,

[code]

[2017-07-13 16:50] peterjc commented on #1320
And ``test_PhyloXML.py`` too, although only one test here:

[code]

[2017-07-13 16:52] peterjc commented on #1320
This seems to help, but would need work for output too...

[code]

[2017-07-13 19:52] smsaladi commented on #855
34e78d2 is a clever fix -- cool!

[2017-07-15 10:22] #855 closed

[2017-07-15 10:22] #1319 closed

[2017-07-17 09:32] peterjc commented on #1295
I'm hoping to have wheels out before too long, which will further change things - it ought to be possible to install the latest Biopython release under Linux/Windows/Mac without needing a compiler 👍

https://github.com/biopython/biopython/issues/1296

That would mean we could refocus the compiler detail heavy information in ``Installation.tex`` into a developer centric document?

[2017-07-17 09:36] peterjc commented on #1296
This is in progress using the NumPy eco-system's approach (Mathhew Brett's multibuild):

https://github.com/biopython/biopython-wheels

[2017-07-17 12:03] aj26git opened #1325 "error parsing cif files"
Reading the pdb file 5uyk.cif fails with the log:

[code]

(*Peter: Updated to use triple-back-tick markup for the exception)

[2017-07-17 13:16] peterjc commented on #1325
Which version of Biopython are you using?

Does the equivalent PDB file work?

[2017-07-17 13:52] peterjc commented on #754
We've dropped Python 3.3 support, so don't need to worry about that special case.

[2017-07-18 10:44] Gasta88 commented on #754
I'll be happy to have a look at it.

What tutorial docs are we referring to? the [biopython cookbook?](http://biopython.org/DIST/docs/tutorial/Tutorial.html)

[2017-07-18 13:13] peterjc commented on #754
Yes, source to which is these per-chapter LaTeX files:

https://github.com/biopython/biopython/tree/master/Doc/Tutorial

You can compile it with the ``Makefile`` in the main ``Doc`` directory, i.e.

[code]

Note that would need ``pdflatex`` (for the PDF) and ``hevea`` (for the HTML) installed.

Note we have an ad hoc doctest system used for testing many of the examples, see ``Tests/test_Tutorial.p

[2017-07-19 12:06] Gasta88 commented on #754
Thanks.
I'm on Ubuntu 17.04 and I've installed `texlive`, `pdflatex` and `hevea`.

Following your instructions I get several warnings when I run `make` but it still compile the files and I get the `.pdf` and `.html` ones. Is it normal?

[2017-07-19 14:45] peterjc commented on #754
Probably - the LaTeX step is run three times, the first time will always warn about undefined labels but that's normal. On the second run though all the labels are known, and the third run is just in case any page layout has changed.

[2017-07-20 12:07] jgreener64 commented on #1325
This appears to read in without an error using the Biopython master branch.

[2017-07-20 12:07] peterjc commented on #1295
Wheels are out - still an open question as to if we still need to release Windows Installers or not.

[2017-07-20 12:18] #967 closed

[2017-07-20 16:02] aj26git commented on #1325
Thanks for looking into this. Sorry for the delay. We are using biopython v 1.66, seems to fail for the associated pdb files as well..

[2017-07-20 16:33] jgreener64 opened #1331 "Biopython structural integration with nglview"
Not sure if an issue is the best place for this, but just making people aware that I am working on a small addition to the cool nglview package to allow viewing of Biopython structural entities in Jupyter notebooks:

<img width="738" alt="screen shot 2017-07-20 at 17 00 33" src="https://user-images.githubusercontent.com/6620652/28428450-b7da9684-6d79-11e7-8e37-2cd60e082a29.png">

[2017-07-20 19:28] aj26git commented on #1325
It worked with v 1.7. Many thanks.

[2017-07-20 19:29] #1325 closed

[2017-07-20 19:55] peterjc commented on #1325
Thanks for checking with our current release (Biopython 1.70), good to hear this has been fixed already :)

[2017-07-20 20:43] peterjc commented on #1331
That looks very nice. There has been talk of converting material to notebooks, but for now maybe add it to http://biopython.org/wiki/The_Biopython_Structural_Bioinformatics_FAQ ?

(It used to be a wiki, it is now written in Markdown using GitHub pages - there should be an edit link top right via GitHub)

[2017-07-20 20:45] jgreener64 commented on #1331
Okay thanks, will wait for it to get sorted and released as part of nglview first.

[2017-07-21 15:27] souravsingh opened #1338 "QuantifiedCode is shutting down"
As mentioned in the blog post here- https://www.quantifiedcode.com/blog/quantifiedcode-shutdown, QuantifiedCode will shut down from July 22 onwards.

For alternatives to QuantifiedCode, We can make use of [Scrutinizer](https://scrutinizer-ci.com/) or [Codacy](https://www.codacy.com/)

[2017-07-22 15:08] michaelmhoffman commented on #898
I hereby give my explicit permission to switch to the BSD 3-clause license (as already noted by @peterjc  above). I appear to be in https://github.com/biopython/biopython/blob/master/CONTRIB.rst as "hoffman+biopython at domain ebi.ac.uk". You can switch to @michaelmhoffman if you wish.

[2017-07-26 11:03] Gasta88 commented on #1104
Finally got myself to setup a Linux box and this issue seems solved. I'll start working on the self test for this module.

[2017-07-26 11:03] #1104 closed

[2017-07-26 11:05] Gasta88 commented on #820
I'll handle `Bio/KDtree/KDTree.py`.

[2017-07-26 11:42] peterjc commented on #1104
Note that from Biopython 1.70 onwards we are able to provide pre-compiled Windows binaries via https://github.com/biopython/biopython-wheels - and here the KDTree tests passed.

[2017-07-26 13:52] jgreener64 commented on #1331
This is now in a release of nglview, so I have made a PR to edit the wiki: https://github.com/biopython/biopython.github.io/pull/122.

[2017-07-26 13:52] #1331 closed

[2017-07-26 20:22] jhutar opened #1343 "getting "AttributeError: 'NoneType' object has no attribute 'readline'" when reading Bio.SCOP.search()"
I'm most probably using this incorrectly, but have not found much info on how to use it. Also this might be clearly issue on a server. Anyway, could somebody knowledgeable check these steps?

[code]

I'm using python2-biopython-1.68-3.fc26.x86_64 and python2-2.7.13-11.fc26.x86_64.

[2017-07-27 13:20] kblin opened #1344 "SeqIO.index fails on empty ACCESSION lines in GenBank"
When running `SeqIO.index` on a GenBank file that has an `ACCESSION` line without any content, `SeqIO.index` crashes with an `IndexError` like this:

[code]

The regular GenBank parser is handling these files just fine, it functionally reacts like there was no `ACCESSION` line.

[2017-07-27 13:49] kblin commented on #1344
Unfortunately, it looks like `SeqIO.index` is very insistent on not using the ID available in the `LOCUS` line, so the behaviour here differs. I'm a bit at a loss on how to fix this properly.
That said, we should at least trigger the same `ValueError` the code throws if there is no `ACCESSION` or `VERSION` line.

[2017-07-27 13:50] peterjc commented on #1344
It probably does not matter given the ``.rstrip()`` but can you share an example - is it just ``ACCESSION\n`` in these cases, or might there be trailing whitespace?

[2017-07-27 13:51] jgreener64 opened #1345 "MMTF parser errors"
I tested the MMTF parser on the whole PDB and got 6 files that errored before the `PDBConstructionException` (i.e. controlled failure) stage.

I think this is an issue with the mmtf package and have raised it there: https://github.com/rcsb/mmtf-python/issues/28.

[2017-07-27 13:53] peterjc commented on #1344
Do your files have a ``VERSION`` line which would be used in preference to the (blank) ``ACCESSION`` line?

If neither is missing then from memory the parser would use the ``LOCUS`` line - but the indexer does not have that implemented.

[2017-07-27 13:59] peterjc commented on #1345
Thanks - @abradle did the Biopython mapping on top of the ``mmtf`` package, so is there perfect person to look into this.

[2017-07-27 14:00] kblin commented on #1344
In this particular case, the file has trailing whitespace, and no `VERSION` line. Let me reproduce with a similar file I can share.

[2017-07-27 14:03] kblin commented on #1344
This one has the same issue:
[empty_accession.gbk.txt](https://github.com/biopython/biopython/files/1180176/empty_accession.gbk.txt)

[2017-07-27 14:03] peterjc commented on #1344
Short term "fix" would be:

[code]

That should at least trigger ValueError ``Did not find ACCESSION/VERSION lines`` although there would actually be an incomplete ACCESSION line.

[2017-07-27 14:05] peterjc commented on #1344
The real fix is to implement the exact same ``LOCUS`` line fall back implemented by the GenBank parser.

(Given a clean slate for efficient indexing I would have used the ``LOCUS`` line entry as the record's ``.id`` but that was not what the parser did when I came to write the indexing)

[2017-07-27 14:11] kblin commented on #1344
You need to catch an `IndexError`, not a `ValueError`, though.

[2017-07-27 14:12] kblin commented on #1344
I'd have submitted a patch in that direction already, but I can't figure out where to put the unit test for that. I am confused by `test_SeqIO_index.py`.

[2017-07-27 14:14] kblin commented on #1344
That said, so far I relied on having another part of my code sanity checking the GenBank file via `parse()` prior to indexing it where this blew up, and I guess I need more defense in depth anyway.

[2017-07-27 14:49] peterjc commented on #1344
Good point on the exception, how about:

[code]

Regarding ``test_SeqIO_index.py`` the first half is fairly traditional unittests (some wrapped for use when SQLite3 is missing), then there is a list for files and formats from which tests are generated dynamically.

Simple option add your new pathological GenBank file to this list:
https://github.com/biopython/biopython/blob/biopython-170/Tests/tes

[2017-07-27 15:56] peterjc commented on #1343
The ``Bio.SCOP.search`` function returns a network handle, which seems to default to HTML which is probably not ideal. e.g.

[code]

Note that the handle's ``.info()`` returns an ``httplib.HTTPMessage`` instance, which is not something Biopython provides.

What are you trying to do here?

[2017-07-27 17:06] Gasta88 commented on #754
In order to sort out the `urlopen` error in the other chapter (`chapter_cluster.tex`) shall I open a new PR or add the commit to #1340?

Moreover, the file opened is a `.txt` for the cluster chapter. There is already a text file in `Doc/examples`; would it be OK to use it or do I need to upload a new file?

[2017-07-27 17:27] Gasta88 commented on #751
Hi @tiagoantao, this is a long shot but I've recently had a look at this chapter and came to these conclusions:
1) Given that we want to maintain at the minimum the amount of files in `Doc/examples` I would suggest to leave those files that are not further manipulated in the doctests. In particular I'm referring to `myswissprotfile.dat.gz`, `mysingleprositerecord.dat` and `myprositerecord.html`.

[2017-07-28 13:26] peterjc commented on #751
@Gasta88 What do you mean for getting ``urlopen`` to work with a sample ``.dat`` file in the repository?

Regarding Prosite, we have potentially suitable test files under ``Tests/Prosite/`` and ``Tests/Prosite/Doc/``

[2017-07-28 15:41] peterjc commented on #1338
It looks like QuantifiedCode is still alive (for now), but the 22 July deadline has passed.

https://scrutinizer-ci.com/pricing says *"What about open-source repositories? We do not charge for open-source repositories, you can add as many as you like."*

https://www.codacy.com/pricing is even clearer *"Open Source: Free"*

[2017-07-28 15:50] peterjc commented on #1338
Here are two non-trivial example Python projects using these tools:

* https://www.codacy.com/app/Weblate/weblate/issues
* https://scrutinizer-ci.com/g/pyload/pyload/issues

[2017-07-31 09:34] kblin commented on #1344
How do I tell that test that I expect a ValueError then?

[2017-07-31 10:26] peterjc commented on #1344
Umm. Good point, I hadn't thought that though. Those main tests are for working files.

Right now it would have be a special case test method, something like:

[code]

It would be better to fix the indexer for this case, which I guess is something for me to tackle if I can find a quite moment.

[2017-07-31 13:23] peterjc commented on #753
``cyano.txt`` as added in #1216

[2017-07-31 13:25] peterjc commented on #754
See also #1216 which added ``Tests/Cluster/cyano.txt`` for the Cluster examples, although currently the tutorial doctests are disabled as something breaks under Windows - see https://github.com/biopython/biopython/commit/c2e2b388f2adc62bd0b143687091d2dc469c5b33

[2017-07-31 14:57] peterjc commented on #1344
Thanks for #1346 - clear exceptions here is a worthwhile step forward.

[2017-07-31 16:24] peterjc commented on #349
This came up again on the mailing list last month (June 2017), see this thread:

http://mailman.open-bio.org/pipermail/biopython-dev/2017-June/021740.html

Some of us were able to have an in person discussion in July at the CodeFest preceding BOSC 2017 in Prague, including: @peterjc, @bow, @cbrueffer, @kblin

My recollection:

The improvements to the Python packaging infrastructure including PyPI,

[2017-08-01 06:39] souravsingh commented on #1338
QuantifiedCode has now shut down officially(The link shows a 404). They point to a repository for hosting QuantifiedCode for your own project- https://github.com/quantifiedcode/quantifiedcode

[2017-08-01 07:46] Gasta88 commented on #754
Thanks, I'll create another PR for `chapter_cluster.tex` and keep the doctest offline.

Feel free to merge them later on.

[2017-08-01 09:27] peterjc commented on #1338
Is there anything left in our documentation which mentions QuantifiedCode? I've run a basic grep to check, and don't see anything other than a simple comment in one test to silence an unused variable warning:

[code]

[2017-08-01 09:38] #1344 closed

[2017-08-02 10:21] rht commented on #898
I have read https://github.com/biopython/biopython/issues/898#issue-167420613.
I hereby give my explicit permission to switch the license of my existing and
future contributions to Biopython to the BSD 3-clause license. ;)

(like this? This statement is still amendable to edits and removal by the server host, and wouldn't be sufficient as a signed+hashed+timestamped record required in a court proo

[2017-08-02 10:24] peterjc commented on #898
@rht Thank you. I agree using a GitHub issue for this is imperfect, but it is practical. You can send an email to our mailing lists (after first subscribing) if you would prefer a more permanent record, as those are independently archived.

[2017-08-02 19:02] conchoecia opened #1353 "Default `codon_table` for codonalign.CodonSeq should be `self.alphabet`"
Hi All,

I noticed something weird about the `codonalign.CodonSeq` object's `.translate()` function -- It uses the `default_codon_table` even if self.alphabet is something different, like mold an protozoan mitochondrial alphabet. To me it would make more sense if `codon_table=self.alphabet` instead of `codon_table=default_codon_table`. What do you all think?

[code]

[2017-08-02 19:21] conchoecia commented on #1353
I also just noticed that there is documentation at [biopython/blob/master/Doc/doc.rst](biopython/blob/master/Doc/doc.rst) that states incorrectly how the `translate` function works.

[2017-08-02 21:07] junaruga opened #1354 "Adding style test for Python 3 to Travis"
Right now the style test is running for only default Python (2.7). Not for Python 3.

When I tried to run it on local for both Python 2.7 and 3.6.
3.6 was failed.

So, I want to add the style test on Python 3.6 in Travis CI.
Is it possible?
Because I am basically developing on Python 3.6.

[code]

[code]

[code]

[code]

[2017-08-02 21:11] #1189 closed

[2017-08-02 21:13] peterjc commented on #1354
Good idea - This has just been solved by #1291 which by chance I was looking at again this afternoon (and just merged now, since the rebased branch tests passed while I had dinner).

(I should perhaps have logged an issue on the style checking aspect, rather than just a mental to do list)

[2017-08-02 21:13] #1354 closed

[2017-08-02 21:21] junaruga commented on #1354
Oh that is coincidence. Thanks!

[2017-08-02 21:25] junaruga commented on #1354
I am fine for your mental todo list :)

[2017-08-03 08:38] #1103 closed

[2017-08-03 09:09] peterjc commented on #1353
What do you think @zruan?

P.S. This is slightly related to #1160

[2017-08-03 20:18] zruan commented on #1353
This is indeed very confusing and the document is not correct. But the `codon_alphabet` is different from `codon_table`. `codon_alphabet` only saves the possible three letter codons of the CodonSeq, but `codon_table` contains the mapping from codon to amino acid. Perhaps I can add the `self.codon_table` attribute to CodonSeq so that we can then translate from it?

[2017-08-04 11:29] peterjc commented on #493
As per my last comment, I was hoping we might be able to use the default ``flake8`` pre-commit hook.  However, right now that does not work well with per-folder ``.flake8`` settings files: https://gitlab.com/pycqa/flake8/issues/360

[2017-08-04 16:04] #516 closed

[2017-08-06 05:33] conchoecia commented on #1353
Adding `self.codon_table` seems like a good option since there is information intrinsically linked in the `codon_table` that is useful to a `CodonSeq` object. I'd be interesting in contributing but will defer to you both since I'm very new to this module!

[2017-08-07 10:16] harryjubb opened #1356 "Python3 PDB NeighborSearch: TypeError: '<' not supported between instances of 'Residue' and 'Residue'"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

[code]

### Expected behaviour

`ns.search_all(2.0, level='R')` to return all pairs of residues in the NeighborSearch object that are within 2 Angstroms of each other.

### Actual behaviour

[code]

### Steps to reproduce

Minimal script to reproduce the problem:

[code]

[2017-08-07 10:57] peterjc commented on #1356
Object ordering is something which changed drastically from Python 2 to Python 3, and it appears there are still things missing in the PDB code for this (and missing unit test coverage).

Cross reference #1189 which is related and was fixed after Biopython 1.70 was released.

[2017-08-07 16:38] jgreener64 opened #1357 "mmCIF parsing failures due to line splitting"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

2.7.11 (default, Jun  1 2016, 15:51:35)
[GCC 4.2.1 Compatible Apple LLVM 6.1.0 (clang-602.0.53)]
CPython
Darwin-14.5.0-x86_64-i386-64bit
1.71.dev0

### Expected behaviour

Parsing mmCIF files 1mom, 1n5m, 1tsl, 1y59, 2a9w, 3b3p and 3dqt should work.

### Actual behaviour

These 7 files fail

[2017-08-07 16:49] peterjc commented on #1357
That's an interesting corner case - good job on tracking this down and coming up with a fix 👍

[2017-08-08 13:18] JoaoRodrigues commented on #1356
Can confirm it here on an independent piece of code. I'll have a look. Thanks for assigning this Peter, and thanks @harryjubb for raising it!

[2017-08-08 13:50] JoaoRodrigues commented on #1356
@peterjc this also breaks in 1.69 and Python 3. I don't really understand how the comparison was done before, truth be told. The private sorting methods were never called afaik, unless there is some magic somewhere...

My first guess is that we need to define `__gt__` and other comparison operators for each object?

[2017-08-08 13:50] Gasta88 commented on #676
Apologies to bring this issue up again, but even after the merge of #1182 the `test_KEGG.py` fails for the `CompoundTests` section again.

[2017-08-08 15:16] etal commented on #1356
Yes, __lt__ or __gt__ along with the decorator functools.total_ordering
should do it.

[2017-08-08 17:18] JoaoRodrigues commented on #1356
I *think* I fixed it. @harryjubb could you test it on your end?

[2017-08-09 09:26] peterjc commented on #1356
Thanks for working on this - I agree a full implementation of sorting with tests is the best plan here 🥇

[2017-08-09 11:03] peterjc commented on #676
@Gasta88 can you give more details please? What fails and how?

The example failing for me earlier now mostly works - giving the same output on Python 2.7 or 3.6:

[code]

Note there is something odd/broken with the Enzyme parsing.

[2017-08-09 13:43] #1357 closed

[2017-08-09 14:33] Gasta88 commented on #676
If I run the `test_KEGG.py` script in Python 2 and 3 I get the following:
[code]

In more details:
[code]
for Python 2. Same for Python 3.

The output from your example is the same as mine.

I've made sure to update my forked repository before testing anything.

[2017-08-09 15:16] peterjc commented on #676
The fact that these tests are working (passing) on TravisCI and AppVeyor strongly suggests something is not quite right on your local machine. My guess is something simple like you are not testing with the official master branch, or what is currently installed does not match the git checkout.

In this situation I have often had to clear my local Biopython installation manually, e.g. something like

[2017-08-10 00:58] hmkim opened #1361 "Non-ASCII non-UTF-8 characters in GenBank files break on Python 3"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

3.6.1 |Continuum Analytics, Inc.| (default, May 11 2017, 13:04:09)
[GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.57)]
import platform; print platform.python_implementation(); print(platform.platform())
import Bio; print(Bio.__version__)>>> import platform; print platform.python

[2017-08-10 11:23] Gasta88 commented on #676
Thanks, it works now.

[2017-08-10 15:11] peterjc commented on #1361
It seems our suggested Python commands to report the Python version and platform failed somehow, but it looks like Biopython 1.69 under Python 3.6 via miniconda under Mac OS X?

Note we've fixed several encoding specific bugs since Biopython 1.70 was released in XML files.

Thank you for the test case, I can reproduce this with the latest Biopython code:

[code]

[code]

[code]

[2017-08-10 15:53] peterjc commented on #1361
I think these are the problem lines:

[code]

Those "question marks" after Lasergene seem to be 0xAE, or in decimal character 174:

[code]

On my computer in emacs they show up as R in a circle (``®``) which is a symbol for registered trade mark https://en.wikipedia.org/wiki/Registered_trademark_symbol

[code]

Where did you get this GenBank format file from? The NCBI directly? If so was it via FT

[2017-08-10 15:56] peterjc commented on #676
@kozo2 can you see why this prints something strange for the enzyme lines?

[code]

Thanks!

[2017-08-10 16:10] peterjc commented on #1361
According to https://www.compart.com/en/unicode/U+00AE and https://www.compart.com/en/unicode/charsets/containing/U+00AE under UTF-8 the registered trademark should be two bytes (0xC2 0xAE), but the single byte encoding 0xAE (as used in your file) did get used in some legacy encodings. Explicitly using one of those encodings might be a workaround for Python 3 without changing Biopython.

We need t

[2017-08-10 16:29] peterjc opened #1362 "escaping double-quote characters in GenBank qualifier values"
TODO: Confirm if we handle escaped double-quote characters in GenBank qualifier values correctly, and that this has unit test coverage

Quoting ftp://ftp.ncbi.nlm.nih.gov/genbank/gbrel.txt

Prompted by https://twitter.com/GenIgnored/status/895682479461462016 and https://twitter.com/iddux/status/895681866489102336

CC: @idoerg

[2017-08-10 16:32] peterjc commented on #1361
Quoting ftp://ftp.ncbi.nlm.nih.gov/genbank/gbrel.txt

Spotted by @idoerg - thanks.

This is not quite as strong as saying all GenBank format files should be ASCII only, but it strongly suggests your files are invalid due to the non-ASCII registered trade mark symbol in some of the COMMENT entries. If the files are from the NCBI, we ought to contact them for clarification.

[2017-08-11 08:51] peterjc commented on #1361
I've checked an example directly from the NCBI website, https://www.ncbi.nlm.nih.gov/nuccore/KU996377

As per this screenshot, the problem character in the comment is shown there as a question-mark-in-black-diamond:

<img width="621" alt="screenshot 2017-08-11 09 50 36" src="https://user-images.githubusercontent.com/63959/29206614-8904e366-7e7a-11e7-8493-4dbc89127c1f.png">

I will email the NCBI a

[2017-08-11 13:26] peterjc commented on #1361
Logged via https://support.ncbi.nlm.nih.gov using the link on https://www.ncbi.nlm.nih.gov/nuccore/KU996377 - their reference #28045-244780

[2017-08-11 15:01] kcamnairb opened #1363 "reverse_complement() removes id, name, and description"
Hi, when I reverse compement a SeqRecord object, it no longer contains the name, id, or description. Is this the expected behavior? I would expect it to maintain these features and maybe indicate that it is reverse complemented. I am using Biopython 1.70 and python 3.5.2 on Ubuntu 14.

Here's an example:
[code]

[2017-08-11 15:06] peterjc commented on #1363
This is by design, try ``help(my_seq.reverse_complement)`` which should show you the docstring, linked to here:

http://biopython.org/DIST/docs/api/Bio.SeqRecord.SeqRecord-class.html#reverse_complement

https://github.com/biopython/biopython/blob/biopython-170/Bio/SeqRecord.py#L985

In brief, once reverse complemented any accession or description is likely invalid, so is dropped by default to avoi

[2017-08-11 15:43] kcamnairb commented on #1363
Thanks. That makes sense.

[2017-08-11 15:43] #1363 closed

[2017-08-11 15:47] peterjc commented on #1363
Great :)

[2017-08-12 17:20] abradle commented on #1345
I'm gonna close this - because the underlying data issue is being investigated by https://github.com/biojava/biojava/issues/696 as seen in https://github.com/rcsb/mmtf-python/issues/28

[2017-08-14 09:03] peterjc commented on #1361
This identifies all the accessions in the shared GenBank file with a unicode problem:

[code]

[2017-08-14 11:02] peterjc commented on #1345
Thanks @abradle for those links. I'm OK with closing this Biopython issue since it sounds like the underlying data in those files is going to be curated and the MMTF files fixed.

[2017-08-14 11:02] #1345 closed

[2017-08-15 12:34] peterjc commented on #676
Thanks @kozo2 for the fix in #1365 for the enzyme output, closing this issue.

@wegnerce these fixes will be included in Biopython 1.71. If you need them urgently you would have to install the fixes from git - please let us know if you need any further assistance, and thank you for reporting this.

[2017-08-15 12:34] #676 closed

[2017-08-15 15:32] #1338 closed

[2017-08-16 13:25] peterjc commented on #1361
It sounds like the NCBI will curate these records to remove the problem character.

To do that yourself, the following command will remove these characters under Mac OS X or Linux. This works because the problem character is 0xAE in hex, 174 in decimal, and thus 256 in octal.

[code]

Note this deliberately temporarily changes the locale settings, it wasn't essential on the Linux machine I tested,

[2017-08-16 21:33] tedder commented on #770
For posterity, this can happen (aside from py2/py3 confusion) if numpy and biopy are being installed during the same pip 'session'. Install numpy, then install biopy.

[2017-08-16 23:20] drelo commented on #770
Thanks for your help!

On mié., ago. 16, 2017 18:33 Ted Timmons <notifications@github.com> wrote:

--

Postdoctoral Associate

Instituto de Cs Ambientales y Evolutivas
Universidad Austral de Chile
Campus Isla Teja s/n
Valdivia, Chile

[2017-08-17 04:36] hmkim commented on #1361
Thank you so much.
For your close investigation of this.

[2017-08-17 04:36] #1361 closed

[2017-08-17 08:38] peterjc commented on #1361
Thanks for raising the issue - the NCBI should be fixing those 19 records, and it has given us a better awareness of some of the encoding things to watch out for in future.

[2017-08-17 08:47] peterjc commented on #770
@tedder since Biopython 1.70 we now declare numpy as an explicit dependency via setuptools, and this seems to work nicely for installing numpy and biopython in one go via ``pip install biopython``, at least when there are suitable pre-compiled wheel files. Please open a new issue if you run into problems. Thanks!

[2017-08-17 16:13] souravsingh commented on #908
@peterjc Is the issue still open? I can try and take a stab at this.

[2017-08-17 16:21] tedder commented on #770
Aha- I was forced onto 1.68. Knowing 1.70 changed things is great.

[2017-08-18 10:00] peterjc commented on #481
We closed #523, and I just checked the original example from @ingvarlagerstedt  for this issue and that passes now - also on Python 3 if updated to use print functions:

[code]

So, while I've not worked out when it was fixed, it works now. Thanks everyone - closing this.

[2017-08-18 10:00] #481 closed

[2017-08-18 15:40] ofajardo opened #1368 "Conversion from embl to fasta fails"
### Setup

I am reporting a problem with Biopython version 1.68 and 1.70, Python version 2.7.11, and operating
system windows 7 and linux Red Hat as follows:

[code]
(On linux)
2.7.11 |Anaconda 2.5.0 (64-bit)| (default, Dec  6 2015, 18:08:32)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)]
CPython
Linux-2.6.32-431.20.3.el6.x86_64-x86_64-with-redhat-6.3-Santiago
1.68

(*Please copy and run the above in your

[2017-08-18 15:42] ofajardo commented on #1368
Files with an extra .txt so that this page lets me attach

[101ma_168.fasta.txt](https://github.com/biopython/biopython/files/1234871/101ma_168.fasta.txt)
[101ma.entret.txt](https://github.com/biopython/biopython/files/1234872/101ma.entret.txt)
[101ma_166.fasta.txt](https://github.com/biopython/biopython/files/1234870/101ma_166.fasta.txt)

[2017-08-18 16:01] peterjc commented on #1368
Confirmed using latest Biopython from github and Python 2.7 and 3.6 on macOS.

This is not a problem in the convert function itself, parse/write also fails:

[code]

as too does simply using parse:

[code]

Where does the input file ``101ma.entret`` come from please?

[2017-08-18 16:09] peterjc commented on #1368
Confirming this worked on Biopython 1.67,

[code]

(Although note it did not label the sequence as protein)

This broke in Biopython 1.68,

[code]

[2017-08-18 16:20] peterjc commented on #1368
I believe this was caused by 81a2cee65da4198af3021df1d4ef1160e3812dfc which did not consider the special case of not-quite-valid sequence lines which are missing the coordinates at the end of each line of sequence.

As noted above, I'd like to know where your EMBL file came from.

[2017-08-18 16:29] peterjc commented on #1368
Possible fix on https://github.com/biopython/biopython/pull/1369 - are you familiar with git and how to install Biopython from source order to test this?

If the example EMBL file ``101ma.entret`` is not from a public source, may we have your permission to use it as a test case?

[2017-08-19 10:21] ofajardo commented on #1368
Hi,

The embl file was generated with the Emboss command entret (thats where the extension is coming from). I tried with several other variants as well and none did work. I chose this as example, as I would consider that the output of Emboss should be a standard and something that biopython should be able to deal with. By the way, what is the standard for embl files that biopython takes?
The seque

[2017-08-19 10:38] ofajardo commented on #1368
For completeness here the original output from Emboss entret.
[101ma_original.entret.txt](https://github.com/biopython/biopython/files/1236266/101ma_original.entret.txt)

[2017-08-19 21:57] peterjc commented on #1368
Thanks for the extra info - if you can check the version of EMBOSS you have, that may be useful too.

Regarding git, you'd need to checkout my branch to test the proposed fix - it isn't (yet) on the main Biopython master branch. However, with that test case etc I'll probably have this included next week...

[2017-08-20 10:09] ofajardo commented on #1368
The Emboss version is 6.6.0.0

I cloned https://github.com/peterjc/biopython.git and tested, but again got the ???? characters instead of the aminoacids.

[2017-08-21 11:18] peterjc commented on #1368
After cloning my repository you'd need to do something like ``git checkout -t peterjc/embl_no_coord`` to try the branch from pull request #1369

Thanks for checking the EMBOSS version - that should be useful.

Regarding the EMBL file format as defined by the EBI at ftp://ftp.ebi.ac.uk/pub/databases/ena/sequence/release/doc/usrman.txt this says:

[code]

i.e. This does seem like an EMBOSS bug if th

[2017-08-21 11:30] peterjc commented on #1368
What file did you give to EMBOSS ``seqret`` to make this EMBL (like) file, and how did you run it?

I've tried starting from the PDB file from http://www.rcsb.org/pdb/explore/webMol.do?structureId=101M

EMBOSS will happily turn the PDB file into FASTA:

[code]

However, it refused to make a protein EMBL file:

[code]

The EBI does provide protein EMBL files for patent sequences etc. Perhaps my EMB

[2017-08-21 11:31] peterjc commented on #1368
For interest, using Biopython to convert from the PDB to FASTA:

[code]

[code]

In this example the solved structure seems to be complete as the sequences match. See http://biopython.org/wiki/SeqIO

This is the FASTA file downloaded from http://www.rcsb.org/pdb/explore/webMol.do?structureId=101M

[code]

[2017-08-21 14:59] ofajardo commented on #1368
Thanks a lot for the interesting comments. I am surprised that Emboss writes embl files with bugs. The function to generate fasta from pdb with biopython looks good and I potentially could use that in the future.

Regarding your question about how I generated the entret file in first place.

Short answer: A embl database was generated from an embl file such as this. My embl file to generate the da

[2017-08-21 15:06] peterjc commented on #1368
File formats change, so it may be EMBOSS is matching an older style of EMBL file. For example, their output is missing the ``XX`` lines added in more recent EMBL releases which are basically a redundant separator between other line types. For parsing Biopython does not care about that.

[2017-08-21 15:24] peterjc commented on #1368
GitHub has been a little unreliable today, but hopefully our automated checks on pull request #1369 will pass which now include your test case, thank you.

[2017-08-22 06:25] jhutar commented on #1343
Sorry for not responding earlier. Thank you for explaining the usage. I wanted to map <protein>-<chain> to superfamily. But I admit I might be using incorrect tool. For now I'm using CATH's data files. I do not know what server part can do - would it be possible to return some structured data instead of HTML?

[2017-08-22 08:50] peterjc commented on #1343
I think it might be worth asking on the Biopython mailing list - http://biopython.org/wiki/Mailing_lists - I am not familiar with SCOP or CATH personally.

[2017-08-22 08:50] #1343 closed

[2017-08-22 09:29] peterjc commented on #1368
I've merged the pull request so if you are able to re-test with the latest Biopython from git (the default ``master`` branch on the main repository), that would be great. Thank you .

[2017-08-22 13:36] sbliven commented on #563
This should be fixed as of 94c9d7e right?

[2017-08-22 13:40] peterjc commented on #563
Yep, thank you!

[2017-08-22 13:40] #563 closed

[2017-08-23 11:35] wegnerce commented on #676
Thanks for the update and the fix.

[2017-08-23 13:15] hwalinga opened #1372 "Meme parser fails on any version of meme above 4.11.4 (newest is currently 4.12.0)"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

3.6.1 |Continuum Analytics, Inc.| (default, May 11 2017, 13:09:58)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)]
CPython
Linux-3.19.0-32-generic-x86_64-with-debian-jessie-sid
1.70

### Expected behaviour

I expect Biopython's meme parser to run with the newest version of meme. In my case 4.12.0.

[2017-08-23 13:18] hwalinga opened #1373 "Cavener rules for exactly 50 % frequency in motifs"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

3.6.1 |Continuum Analytics, Inc.| (default, May 11 2017, 13:09:58)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)]
CPython
Linux-3.19.0-32-generic-x86_64-with-debian-jessie-sid
1.70

### Expected behaviour

I expect that when the frequency is exactly 50 %, the nucleotide will not be accepted as the

[2017-08-23 13:36] peterjc commented on #1372
CC @aralap who worked on this on pull request #1266.

I tried tweaking this line of the code which checks for ``4.11.4`` but the parser still failed...

[2017-08-23 13:38] peterjc commented on #1373
@mdehoon and/or @barwil - could you look at this please?

[2017-08-23 15:29] aralap commented on #1372
Will look into it.

[2017-08-23 17:10] ofajardo commented on #1368
yes, it works well! thanks a lot!

[2017-08-23 19:46] hwalinga commented on #1372
@peterjc did you tried to change the file directly from the module? Because I did that as well first, but somehow the changes I make there were not applied. (I tested this with a print statement.)  (It did, however, alter the line which is shown in the error traceback.) I don't know the exact details of the working of pythons internals, but I thought it might be something similar to pycache.
Maybe

[2017-08-23 21:30] hwalinga commented on #1372
@aralap I see that you already created change. However, I think it would still be better to raise a different exception than 'ValueError: unexpected end of stream' when a file from a not yet supported version of meme is parsed. What about something like this:
[code]

[2017-08-23 22:15] aralap commented on #1372
@hwalinga It's probably good to raise a different exception, but i dont know about importing StrictVersion.
Do you think something like this would work :

`def version_to_tuple(version):
    return tuple(map(int, (version.split("."))))
...
if  version_to_tuple(record.version) > version_to_tuple(supported[-1]):
        raise ValueError('Parser not yet supporting version %s' % record.version)
`

[2017-08-24 05:12] mdehoon commented on #1373
Fixed, thanks!

[2017-08-24 09:25] hwalinga commented on #1372
@aralap I took a closer look and using StrictVersion would be a mistake. Meme has also had version numbers on which it attached an underscore to its version number, for example 4.11.4_1 and then StrictVersion will fail. (You can take a look here for all previous versions http://meme-suite.org/doc/download.html?man_type=web)

But your function needs some adjustments as well then. Another thing that

[2017-08-24 09:32] peterjc commented on #1373
I see d25d8cb72e38557388e3efd769b737a4c17a8ed2 fixed this but a tutorial example needs updating:

https://travis-ci.org/biopython/biopython/builds/267847525

eg

[code]

https://ci.appveyor.com/project/biopython/biopython/build/0.0.284

[code]

[2017-08-24 09:37] peterjc commented on #1368
Great - thank you!

[2017-08-24 09:37] #1368 closed

[2017-08-24 09:55] #1373 closed

[2017-08-24 12:57] peterjc commented on #1170
New numbers, ignoring the controversial D406 and D407:

[code]

[2017-08-24 15:53] jocelyne8 opened #1375 "blast option qcov_hsp_perc not recognized"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:
[code]

blast option qcov_hsp_perc not recognized. Added in BLAST+ 2.2.30:
https://www.ncbi.nlm.nih.gov/books/NBK131777/#_Blast_ReleaseNotes_BLAST_2_2_30_October_

[code]

### Expected behaviour

Start Blast

### Actual behaviour
[code]

### Steps to reproduce

[code]

[2017-08-24 15:56] jocelyne8 commented on #1375
Actually, let me investigate. I see the code here:
https://github.com/biopython/biopython/blob/master/Bio/Blast/Applications.py#L173
And it's been there for 3 years according to blame...

[2017-08-24 16:06] peterjc commented on #1375
Biopython 1.64 was released May 2014 and the line you've spotted was added in Nov 2014 in 27b2c42a9e5106c79508d753568067c02faed78a - so Biopython 1.65  or later should be fine.

Can you update? The current release is Biopython 1.70.

[2017-08-24 16:17] jocelyne8 commented on #1375
Yes, that's what I did. It just took forever for conda to install so I could test it.
FYI 1.67 is the latest on conda.

[2017-08-24 16:17] #1375 closed

[2017-08-24 16:31] peterjc commented on #1375
That's strange - which channels do you have setup on conda?

Conda-forge has Biopython 1.70 https://anaconda.org/conda-forge/biopython (as does BioConda but that won't be updated in future in favour of conda-forge).

Even the default channel has Biopython 1.69 https://anaconda.org/anaconda/biopython

[2017-08-24 17:08] jocelyne8 commented on #1375
That's very odd. I'm using the default channels (see below), and both conda and biopython get an
"All requested packages already installed." on upgrade. Maybe I need to update anaconda itself.  That's a task for another day.

[code]

[2017-08-25 09:11] peterjc commented on #1375
Good luck with the Conda update, but at least updating from Biopython 1.64 to 1.67 has fixed this issues. Thanks for the report.

[2017-08-25 15:34] peterjc commented on #443
See also https://github.com/bebatut/ebisearch for a Python wrapper for EBI Search

[2017-08-26 06:05] croth1 opened #1376 "AlignIO fails to read in emboss reads when using -sreverse parameter."
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

3.5.4 | packaged by conda-forge | (default, Aug 10 2017, 01:41:15)
[GCC 4.2.1 Compatible Apple LLVM 6.1.0 (clang-602.0.53)]
CPython
Darwin-16.7.0-x86_64-i386-64bit
1.70

### Expected behaviour

Successfully reading in emboss file.

### Actual behaviour

[code]

### Steps to reprodu

[2017-08-26 17:14] smsaladi opened #1377 "Broken link"
The [docs for Bio.Alphabet.Reduced](http://biopython.org/DIST/docs/api/Bio.Alphabet.Reduced-pysrc.html) suggest looking at the following website for examples of reduced alphabets:

http://viscose.ifg.uni-muenster.de/html/alphabets.html

but isn't available anymore. The Wayback Machine's last working crawl is from 2007:

https://web.archive.org/web/20070303172013/http://viscose.ifg.uni-muenster.de/

[2017-08-28 10:10] Gasta88 commented on #443
This looks like an interesting expansion of the `Bio.EBI` module.

Would you consider to substitute the dbfetch wrapper with this?

If yes, would it be a good idea to get in touch with the developer and ask for permission to integrate the script in Biopython?

[2017-08-28 10:16] peterjc commented on #443
Does it overlap, or cover different content?

[2017-08-28 10:52] Gasta88 commented on #443
Overlap, because DBfetch is covered but there are other repositories as well (ex; HMMER or Expression Atlas).

It depends if other users find them important to have.

[2017-08-28 11:22] peterjc commented on #443
I don't use the EBI online API, so perhaps ask on the Biopython mailing list?

If you think https://github.com/bebatut/ebisearch is more comprehensive we could ask if they would consider re-licensing it and contributing it to Biopython - or we could document it as a recommend library?

[2017-08-28 11:36] peterjc opened #1378 "AppVeyor is not testing our C code"
Noted on #1366, e.g. from the most recent test https://ci.appveyor.com/project/biopython/biopython/build/0.0.294

[code]

[code]

[code]

[code]

[code]

[code]

[2017-08-28 14:26] peterjc commented on #1377
Using the archive.org URL sounds like an improvement, unless @idoerg can thing of a better page. I've never needed to use reduced alphabets some am unsure what to suggest.

[2017-08-28 14:34] peterjc commented on #1376
Confirmed, I can reproduce your test case locally on Linux using a slightly out of date EMBOSS,

[code]

and then something like this (with the latest Biopython from GitHub, which in this area is unchanged from Biopython 1.70):

[code]

[2017-08-28 14:35] peterjc commented on #1376
I think this is due to the reverse complement and the decreasing sequence coordinates...

[2017-08-28 14:50] peterjc commented on #1376
Yes, on re-reading the code which I last did any major changes to in 2009, it does not expect reverse complemented sequences where the coordinates decrease.

Some additional logic would be required if ``start > end`` for this case, to check the numbers work out - plus some additional test cases.

Is this something you'd be will to try to work on?

[2017-08-28 17:26] aralap commented on #1372
@hwalinga From what i see here in [MEME versions.](http://meme-suite.org/doc/download.html?man_type=web)
It seems as the version number has always been "x.x.x" format. There arent so many versions, so maybe just listing them like this could work to get the "Version not supported" exception. (Is not elegant, but will be easy to add future versions, even if the format changes)
[code]

[2017-08-28 20:30] croth1 commented on #1376
Unfortunately due to time pressure I already had to move on and change to a format that is easier to parse - I will not have time to work on that in the next weeks.

[2017-08-29 08:31] peterjc commented on #1376
Thanks - EMBOSS is great in that it supports multiple output formats so I'm glad you are not held up by this.

[2017-08-29 08:36] peterjc commented on #1378
Fixed by https://github.com/peterjc/biopython/commit/7d792b358845d2b1f8107b16f7295b2f38150759 - see https://ci.appveyor.com/project/biopython/biopython/build/0.0.295

I wonder if we should review the way we run the tests, as per https://github.com/biopython/biopython-wheels where we build, install and test the fresh wheel files?

[2017-08-29 08:36] #1378 closed

[2017-08-29 08:45] peterjc commented on #1372
I think comparing the version as a tuple-of-ints is a good approach, as that has a well defined order for the comparison. Having a hard coded list of supported versions seems very fragile and will keep breaking on new releases.

Does the code actually work if you remove the version check completely? Is that an acceptable solution? Normally we'd only have a version check if there was a major change

[2017-08-29 19:08] aralap commented on #1372
It could work without a version check. I tested the change below on version 4.9.0, 4.11.4 and 4.12.0 and worked.
[code]

[2017-08-30 01:23] tbrailov commented on #566
In case of the Bio.motifs.create method, there is an issue in Instances.count method that finds the counts across all instances of the given motif. This error arises when alphabets are being compared. Because the alphabets are classes of something like
Bio.Alphabet.ProteinAlphabet() == Bio.Alphabet.ProteinAlphabet()
returns false, which results in the error: ValueError: Alphabets are inconsistent.

[2017-08-30 07:52] souravsingh commented on #754
I believe the issue is now fixed

[2017-08-30 09:34] peterjc commented on #754
Yes, I think you are right based on repeating that grep search. Thanks!

[2017-08-30 09:34] #754 closed

[2017-08-30 09:37] peterjc commented on #566
@tbrailov Could you file an new issue on this ``Bio.motifs.create`` problem please? I had a quick look but don't see where alphabet comparison is being triggered.

Note that the sequence objects do comparison essentially ignoring the alphabet (other than to issue warnings about things like protein vs DNA), see https://github.com/biopython/biopython/blob/biopython-170/Bio/Seq.py#L158

[2017-08-30 10:04] peterjc commented on #1372
Great - I see you've proposed that as pull request #1374 which I have now merged. Thank you both, this will be included in Biopython 1.71.

@hwalinga are you able to try installing Biopython from git, or making this change locally?

[2017-08-30 10:04] #1372 closed

[2017-08-30 19:16] tbrailov opened #1381 "Alphabets issue with Bio.motifs.create"
### Setup

3.5.3 |Anaconda custom (x86_64)| (default, Mar  6 2017, 12:15:08)
[GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.57)]
CPython
Darwin-15.6.0-x86_64-i386-64bit
1.68

### Expected behavior

I expect my code to generate a Motif() object with specified instances.

### Actual behavior

When trying to create a motif object from amino acid sequences with Bio.Alphabets.ProteinAlphabet() alpha

[2017-08-30 20:51] peterjc commented on #1381
Can you share more of your code? i.e. what is ``new_seqs`` here?

One suggested workaround is to pass the exact same instance of the alphabet as you used in the sequence construction. In this case, probably all you need to do is replace every use of ``Bio.Alphabet.ProteinAlphabet()`` with ``Bio.Alphabet.generic_protein`` which is a pre-instantiated instance of that class.

But yes, the alphabet co

[2017-08-30 21:06] guerrajorge opened #1382 "Support multiple AD affiliation lines in Medline parser"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

3.6.1 |Anaconda custom (64-bit)| (default, May 11 2017, 13:25:24) [MSC v.1900 64 bit (AMD64)]
CPython
Windows-7-6.1.7601-SP1
1.69

### Expected behavior

`fetch_records_handle = Entrez.efetch(db="pubmed", id=id_list, retmode="text", rettype="medline")
fetch_records = Medline.parse(

[2017-08-30 21:40] peterjc commented on #1382
Can you save the raw MedLine formatted text file and share it - or at least tell us a couple of the pmid IDs with the problem so we can try to reproduce this? Thanks.

[2017-08-31 12:47] guerrajorge commented on #1382
Hello Peter,

I see the problem with these PMIDs: 28456991, 28456694.

Thank you for your help!

[2017-08-31 13:17] peterjc commented on #1382
Thanks, here are the raw records in MedLine format:

[code]

Generated with:

[code]

I can then reproduce the issue with the saved medline records,

[code]

Referring to https://www.nlm.nih.gov/bsd/mms/medlineelements.html#ad it seems multiple ``AD`` lines was added in 2014, prior to that only the first author details were provided. Our current test cases only have one ``AD`` line per record, and

[2017-08-31 13:20] peterjc commented on #1382
@mdehoon could you look at this please? I'm not sure what the best solution would be - perhaps returning a list of strings, although that would break existing scripts?

[2017-09-01 19:10] ChristopheDeprez opened #1383 "Bio.PDB.PDBIO.py - increment serial number of the TER record"
### Setup

I am reporting a problem with Biopython version 1.70

### Expected behaviour

When writing out in PDB format, the serial number of the TER record should be one number greater than the serial number of the ATOM/HETATM preceding the TER.

Reference: http://deposit.rcsb.org/adit/docs/pdb_atom_format.html#TER

### Actual behaviour

When writing out in PDB format, the serial number of the TE

[2017-09-01 20:56] aralap commented on #232
Maybe meme minimal format can be treated as a different format.
Below is a relatively functioning parser for minimal format.
It's inspired on meme parser. I also made a writer function.

[code]

[2017-09-01 21:33] peterjc commented on #232
What do you think @mdehoon, @barwil - should we ask @aralap to turn that into a pull request?

[2017-09-01 21:36] peterjc commented on #1383
@lennax could you look at this please?

Cross reference 7e185d8be91e170d8dd33c19d36fc265b2e9198f

[2017-09-04 08:11] JoaoRodrigues commented on #1383
This will actually cause the TER statement and the the ATOM record right after to have the same serial number. Also needs to account for when we want to preserve numbering (how do we preserve numbering then if we *add* statements is another very good question).

[2017-09-05 13:39] ChristopheDeprez commented on #1383
You're right, I was only considering the "preserve_atom_numbering" case!
In the not "preserve_atom_numbering" case, the serial number should be incremented after writing each record (after writing the TER as well as after writing the ATOM/HETATM records). I guess the following patch would cover both cases, because in the "preserve_atom_numbering" case, the serial number of the ATOM/HETATM records

[2017-09-05 16:41] peterjc commented on #1170
I've addressed ``D402`` now, there were a few false positives which was curious.

New numbers, ignoring the controversial D406 and D407:

[code]

[2017-09-06 15:17] hwalinga commented on #1372
Certainly great.

I use a locally changed file now.

Nitpicking: comment on line 223 is now slightly off, since it still states to be applicable only for version 4.11.4

[2017-09-07 17:16] hwalinga opened #1387 "Meme parser fails on output of unfinished meme process"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

3.6.1 |Continuum Analytics, Inc.| (default, May 11 2017, 13:09:58)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)]
CPython
Linux-3.19.0-32-generic-x86_64-with-debian-jessie-sid
1.69

### Context

I terminated a meme command due to the large time it took to finish. The output is now unfinished, but

[2017-09-07 19:00] aralap commented on #1372
The comment is this :
[code]
It's still applicable to version 4.12.0 as the line format they use is of the form:
[code]
What do you think @hwalinga,  maybe changing the "onwards" for something else ? erasing the comment ?

[2017-09-07 20:51] peterjc commented on #1372
But version 4.12.0 is after 4.11.4, so isn't this fine as written?

[2017-09-07 20:56] peterjc commented on #1387
What's the current exception, and would you be happy if it was more specific and thus indicated premature end of file? i.e Something you could catch in a try/except?

[2017-09-07 20:56] peterjc commented on #1387
CC @mdehoon

[2017-09-07 21:38] hwalinga commented on #1387
The current exception tells quite specific what's wrong and indicates the premature ending of the file.
```ValueError: Unexpected end of stream: Expected to find line starting with '***'```
So that's not really the problem and I can perfectly wrap it a try/except block if I wanted to.

The point of this thread is not really raising a problem, but it's more a feature request. Can we make the parser

[2017-09-08 08:12] hwalinga commented on #1372
@aralap Are you aware that 'onwards' was added by @peterjc after I commented that the comment was wrong?

It's now fine as it is written, because it is no longer a wrong comment. 'Onwards' also covers the situation correctly. However I think it is not yet a perfect comment. In my opinion it can be improved.

English is not my first language, but I suspect the first sentence of the comment is gramm

[2017-09-08 08:58] peterjc commented on #1372
The version information is very useful for anyone trying to work on the parser - if you know more about when the first change happened let's add that.

[2017-09-08 09:12] peterjc commented on #1387
I didn't write this parser, but see a clear distinction between a valid complete file, and an invalid but usable file which ends prematurely. That ought to raise an exception or at least a warning.

For these as long as you can loop over all the records and catch the exception, I would be happy. I assume that is the case now (do you definitely get the final record before the exception?)

An altern

[2017-09-08 11:07] peterjc commented on #906
As a proof of principle, I hacked ``pdoc`` to support reStructuredText using docutils, https://github.com/BurntSushi/pdoc/pull/137

Run as follows, not sure if I can get it to do ``Bio`` and ``BioSQL`` at the same time:

[code]

Sample output showing the ``SeqRecord`` class. Note the doctest snippets of Python code are not currently syntax coloured:

<img width="1145" alt="screenshot 2017-09-08 11

[2017-09-08 11:33] hwalinga commented on #1372
I don't know, luckily github knows. Maybe include these links as well then:
Old version: https://github.com/aralap/biopython/blob/ec665e0010ad47b411740c1a50ff0a2c6dd9d25d/Tests/motifs/meme.out
First change first appeared in version 4.10.0 according to https://github.com/biopython/biopython/issues/461 :
https://gist.github.com/mgalardini/78cc9d918d3af6cccf22
Second change first appeared in version

[2017-09-08 11:51] hwalinga commented on #1387
Indeed a clear distinction.

Let's make a few things clear first. The file contains numerous motifs, but there is only one record. The record contains all the motifs. The parser parses the file by reading it all at once and then return the record. It does not return an iterator or something like that, so that you can read all the motifs till the exception occurs. You cannot loop over all the motif

[2017-09-11 08:29] peterjc commented on #1387
Thanks for the clarification - I had expected ``Bio.motifs`` to be iterator based (like most of the other high-level multi-formats parsers in Biopython), but having looked more closely at least the MEME parser does indeed read everything into a multi-motif record. Either @barwil or @mdehoon will have to comment on the design, and if an iterator approach is desirable for this and the other motif fo

[2017-09-11 09:56] hwalinga commented on #1387
Would indeed be great if it was iterator based, should solve the problem I raised by this issue entirely. I also think it is feasible, since no information at all is extracted from the ending of the file. Would love to help with it too if I can, but only have time for that in December.

[2017-09-11 10:06] mdehoon commented on #232
@aralap  Is the difference between the full MEME output and the minimal MEME output a matter of how information is stored in the file? Or does the full MEME output store more information than the minimal MEME output? This can help us decide how to organize the code. For example, could we use the same Record class for both full and minimal MEME output?

[2017-09-11 10:49] peterjc commented on #906
Using Sphinx,

[code]

<img width="924" alt="screenshot 2017-09-11 11 34 15" src="https://user-images.githubusercontent.com/63959/30270615-1c8cbfc8-96e5-11e7-9dbf-910c713f3bac.png">

Note there are quite a few warnings from Sphinx about section names etc.

There are some thinks I don't like in the default API template, for example I find the division of the left hand column listing into sub-packag

[2017-09-11 15:31] aralap commented on #232
The full MEME output contains instances, and these are required by the parser.
The minimal MEME output **only** contains statistics with a pwm/log-odds matrix .
Although the full MEME does contain pwm/log-odds matrix they are different in format.
(For example, they are transversed in version 4.12.0)

[2017-09-12 14:52] peterjc commented on #906
Work in progress for automating building the API documentation using Sphinx, using our TravisCI/Tox setup (tested under Python 2.7):

[code]

This branch also includes a ``conf.py`` file with Biopython meta-data filled in, plus a custom ``index.rst`` file in order to cover both the ``Bio`` and ``BioSQL`` top level namespaces:

[code]

There is still a lot to tinker with here, including things like

[2017-09-12 22:23] dwinter opened #1389 ""Version 2.0" esummary records in Bio.Entrez"
As discussed in a [stack overflow thread](https://stackoverflow.com/questions/44320675/differences-between-biopython-ncbi-entrez-esummary-output-and-r-package-output/45952296?noredirect=1#comment79192528_45952296), at present the `Bio.Entrez` module doses document or otherwise handle the existence of "version 2.0" summary records.

## How are "1.0" and "2.0" different?

At the time `Bio.Entrez` wa

[2017-09-13 09:07] Gasta88 commented on #443
Sorry to report this here, but the mail list is blocking me every time.

Anyway, I got in touch with Berenice and she's happy to allow us to integrate EBIsearch to the project.

I'm happy to work on this in the future.

[2017-09-13 09:28] mdehoon commented on #1389
I think there are a couple of issues mixed here.
First, the XML returned by NCBI does include the DTD:
[code]

In the second line, you will see the link to the URL.

If you try to parse the XML using Entrez.read, you will get an error message:
[code]
which shows that the DTD is not fully consistent with the XML: The tag 'BioSample' is used in the XML, but not defined in the DTD.

If you use valida

[2017-09-14 02:51] mdehoon commented on #232
If full MEME = minimal MEME + instances, then I would suggest to use the same module and parser, and update the parser such that it can handle both formats.

[2017-09-14 09:22] peterjc commented on #1389
+1 on reporting the DTD inconsistencies to the NCBI (this isn't the first time the default XML DTD validation in Biopython has caught mistakes like this).

[2017-09-14 09:28] peterjc commented on #443
@Gasta88 Someone else reported a problem recently sending to ...@biopython.org but ...@lists.open-bio.org or ...@mailman.open-bio.org seemed OK. Can you email me at my Google account with the failure message, and if this is a recent thing roughly when it started?

@bebatut If you are happy to contribute your ebisearch code to Biopython that'd be great. We'd ask you re-license the contribution unde

[2017-09-14 11:37] Gasta88 commented on #443
Ok, I rectify my problem with the mail list.
 It works, it was just my Outlook account that had problems.

[2017-09-14 21:23] dwinter commented on #1389
Hi all,

Here's a plan.

* I will contact the EUtils maintainers to let them know about the missing DTD entry
* I will add a note in the in-line documentation of `Entrez.esummary` describing the optional `version` argument and why a user might want to know about it
* I will add a tutorial example that gets something "extra" from a 2.0 record and documents the slight differences (e.g. Version 2.0 r

[2017-09-14 21:35] peterjc commented on #1389
That sounds perfect!

[2017-09-15 01:49] mdehoon commented on #1389
@dwinter  Sounds good!
Btw in your json output, did you pretty-print it somehow? If I run ```json.load(summ_handle_3)```, I get a plain Python dictionary. Perhaps at some point we should add a ```__str__``` method to Bio.Entrez to pretty-print the results.

Also, the reason that in the Entrez.read output you see things like ListElement and StringElement instead of plain lists and strings is that t

[2017-09-15 02:05] dwinter commented on #1389
Hi @mdehoon,
Thanks for the heads up about the attributes, I hadn't quite "got" how Bio.Entrez was handling these.

I use the `ipython` REPL, which seems print the JSON-derived dictionary more nicely than the XML-derived ones for some reason.

Will try to get the PRs for this done next week

[2017-09-15 13:00] hwalinga commented on #1372
@peterjc and @aralap
Can we include this information. And also maybe include  https://gist.github.com/mgalardini/78cc9d918d3af6cccf22 in a test case. This is version 4.10.0 through 4.11.4.

[2017-09-15 13:07] peterjc commented on #1372
That sounds sensible, please submit a pull request.

[2017-09-17 15:42] VikramMisra opened #1392 "BioPython Throws a KeyError 'X'"
### Setup

Biopython 1.7.0, Python 2.7.13, and Mac OSX 10.12.6

I am trying to run the MEME parser on a file with protein motifs, but it returns a KeyError with 'X'.
The protein motifs occasionally contain the 'X' ambiguous residue.

### Expected behaviour

I expected the parser to print information from the motif record, whether or not the X was present in the protein sequences.

### Actual behav

[2017-09-17 21:13] peterjc commented on #1392
Can you share a (small) test case protein motif file with an X in it? Ideally something you could give permission to be included with Biopython as part of our test suite?

[2017-09-17 21:14] peterjc commented on #1392
CC @mdehoon @barwil

[2017-09-18 04:11] VikramMisra commented on #1392
@peterjc @mdehoon @barwil Here is a file that produces the same error:

[soy-sut-meme.txt](https://github.com/biopython/biopython/files/1309655/soy-sut-meme.txt)

[2017-09-18 10:07] peterjc commented on #1392
My guess would be replacing line 182 in ``Bio/motifs/meme.py`` might help, https://github.com/biopython/biopython/blob/biopython-170/Bio/motifs/meme.py#L182

Changing:

[code]

to:

[code]

That will add the following extra letters:

- `B` = "Asx";  Aspartic acid (R) or Asparagine (N)
- `X` = "Xxx";  Unknown or 'other' amino acid
- `Z` = "Glx";  Glutamic acid (E) or Glutamine (Q)
- `J` = "Xle";  L

[2017-09-18 19:11] VikramMisra commented on #1392
@peterjc I just tried changing 182 to:
```al = IUPAC.extended_protein ```

Unfortunately, I got the same error.

[2017-09-22 10:55] peterjc commented on #1296
This worked, and the Biopython 1.70 wheels went up on PyPI some time back. Belated closing issue.

[2017-09-22 13:02] peterjc commented on #1224
I emailed the NCBI about this again, it looks like the source file has been updated based on https://www.ncbi.nlm.nih.gov/IEB/ToolBox/C_DOC/lxr/source/data/gc.prt - but the public copy on the FTP site has not.

[2017-09-24 13:12] rraadd88 opened #1396 "ImportError: cannot import name Alphabet"
This error is very strange as I looked into github repo and found that `Alphabet` is very much present [latest biopython](https://github.com/biopython/biopython/tree/4d01a84f0aa8f91863075f7f0f074b4b69e53959/Bio). Not only that, I looked into the old biopython packages and found that `Alphabet` is even present in biopython's [1st release 16 yrs ago.](http://biopython.org/DIST/biopython-1.00a3.tar.g

[2017-09-25 14:57] peterjc commented on #1396
This is very strange, this may help:

[code]

That will tell you where Python is loading Biopython from on disk, and then you can ``ls`` that folder to see if the ``Alphabet/`` subfolder and ``Alphabet/__init__.py`` exists.

How was your Biopython installed?

Note I have heard people say it is best to avoid mixing ``pip install`` and ``conda install``, which comes up in the discussion on https://g

[2017-09-25 17:22] StefansM opened #1397 "PDB/mmCIF parsers spawn multiple threads (thanks to numpy)"
If the underlying BLAS library allows it, numpy will spawn a thread for every core in the machine as soon as it is imported. As far as I can tell, these are POSIX threads rather than python threads, so the overhead is not huge, but this can still cause problems when a program is expected to run in a single thread. If you try to run 64 jobs on a 64 core machine, you will end up with 4096 threads, w

[2017-09-25 19:47] peterjc commented on #1397
I've never noticed it myself as our cluster does not currently enforce CPU thread limits. This is clearly a NumPy issue, but given people do use Biopython on clusters and thus may run into it, I would also suggest we add an FAQ to the Tutorial: https://github.com/biopython/biopython/blob/master/Doc/Tutorial/chapter_introduction.tex

(i.e. Your suggestion 2)

Do you fancy submitting this as a pull

[2017-09-25 20:24] StefansM commented on #1397
I think you're right. Everything is working as designed, just with some unexpected consequences, and altering environment variables in library code is a bad idea. I'll type up an FAQ and make a pull request—the LaTeX is no problem.

It occurs to me that I was thinking incorrectly about python's import mechanism in my earlier post. Once a module is loaded it is cached for later use, so something li

[2017-09-26 08:12] peterjc commented on #1397
You could give that example in the FAQ, but at this point I don't think we need the helper function in Biopython. If it becomes more of an problem (i.e. multiple user reports), I'd reconsider.

[2017-10-02 19:23] j-andrews7 commented on #898
I hereby give my explicit permission to dual-license all my existing and future contributions under the Biopython License Agreement and the BSD 3-Clause License.

Just so I don't end up putting that in any other threads.

[2017-10-06 10:26] BioGeek opened #1402 "UnicodeDecodeError when reading Entrez handle with Python 3.6 but not with Python 2.7"
### Setup

I am reporting a problem wich works with Python 2.7 but fails with Python 3.6

Full details:
The sample script below  works on system where

[code]
(note that I added a line with the default encoding) returns

[code]
but fails on system with:

[code]

### Expected behaviour

The script:

[code]

returns on the system with Python 2.7:

[code]

### Actual behaviour

But on the system with

[2017-10-06 16:06] peterjc commented on #1402
I've never seen any clear documentation from the NCBI on what encoding they use, and it is most unfortunate when they use non UTF8 characters. That said, the example works for me which suggests closer examination of the locale settings and these fancy quote characters...

[code]

You may need to report this to the NCBI...

See also #1361 where some invalid characters had entered the GenBank databa

[2017-10-06 17:21] peterjc commented on #1402
This reproduces it - definitely something about the locale settings:

[code]

[2017-10-08 20:40] BioGeek commented on #1402
Logged with NCBI via https://support.ncbi.nlm.nih.gov.
Their reference #28045-267686.

[2017-10-10 15:51] peterjc commented on #906
I think I've got the special methods working nicely now on #1388 (subject to a feature request being merged in Sphinx itself).

[2017-10-11 12:07] BioGeek commented on #1402
The reply from NCBI was:

Not sure what I should reply, because I don't know how to reproduce the issue using `efetch` from NCBI itself.  The [E-utilities are available for UNIX and Mac environments](https://www.ncbi.nlm.nih.gov/books/NBK179288/), but since I was having the problem on Windows 10, I installed `entrez-direct` via `conda` on the [Windows Subsystem for Linux](https://msdn.microsoft.co

[2017-10-11 12:39] peterjc commented on #1402
You would ideally have sent the NCBI a tool neutral test case, first you'd first need the Entrez URL:

[code]

More generally, you can remove the tool and email and it gives a minimal working URL - note you must quote the URL to prevent bash doing magic with the ampersands:

[code]

If you save that, or pipe it directly though hexdump, we can examine the problem characters:

[code]

You can see th

[2017-10-11 14:07] peterjc opened #1404 "TravisCI flake8 failing on master branch (pydocstyle?)"
This build on TravisCI https://travis-ci.org/biopython/biopython/builds/283656159 passed:

[code]

But https://travis-ci.org/biopython/biopython/builds/285670742 which was a cron triggered build for the same commit (so no code change on our part) failed:

[code]

My guess is the version of pydocstyle is important, changing from ``pydocstyle==2.1.0`` to ``pydocstyle==2.0.0``

[2017-10-11 14:09] peterjc commented on #1404
Confirmed, they introduced D106 and D107 for what were previously special cases of D101 and D201.

[2017-10-11 17:43] peterjc commented on #1404
Closed via #1405

[2017-10-11 17:43] #1404 closed

[2017-10-17 21:07] wdecoster opened #1410 "SeqIO unexpected silent with inputting fasta as fastq"
Hi,

### Setup

Python 3.6.1 |Anaconda 4.4.0 (64-bit)| (default, May 11 2017, 13:09:58) [GCC 4.4.7 20120313 (Red Hat 4.4.7-1)]
CPython
Linux-4.4.0-97-generic-x86_64-with-debian-stretch-sid
Biopython 1.70

### Expected behaviour

I use on Biopython SeqIO to parse fastq files in various scripts. A user used a fasta file as input, I expected an error or warning to be raised.

### Actual behaviour

No

[2017-10-17 21:13] peterjc commented on #1410
Right now I don't recall why, but this is a side effect of tolerating a header before the first sequence. The special case of a FASTA record does seem worth giving an error on...

(Likewise the FASTA parser allows a generic header before the first record, one real life use of this is in GFF where after the annotations you can have the FASTA sequence)

[2017-10-18 04:46] wdecoster commented on #1410
I just naively tested something more ridiculous:

[code]
And the behaviour is pretty much the same.

I haven't digged too deep in the SeqIO code, but I believe this issue is coming from FastqGeneralIterator https://github.com/biopython/biopython/blob/master/Bio/SeqIO/QualityIO.py#L896 where the loop never encounters a '@' and therefore just finishes silently.

[code]

I would argue that an empty g

[2017-10-18 09:33] peterjc commented on #1410
Empty files are a real valid FASTQ corner use case (as are empty files for many of the sequence file formats we support).

We never touched on possible headers in current FASTQ usage in https://dx.doi.org/10.1093%2Fnar%2Fgkp1137 (other than a remark that this would have been a good way to declare the encoding), so it would probably be fine to remove this loop and insist the first line starts with

[2017-10-18 14:12] cjfields commented on #1410
@wdecoster I agree w/ @peterjc: an empty FASTQ file is a real side effect i have encountered fairly often (e.g. trimming paired reads for microbiome data, where one orphan read file such as R2 is empty for some samples).  I have also encountered empty files with other formats such as on-the-fly NCBI queries to attempt retrieval of sequences, or filtering steps with FASTA.  So immediately failing w

[2017-10-18 14:14] peterjc commented on #1410
It sounds like we're in agreement for FASTQ that other that for non-empty files there should be an error or some sequences returned.

Note in some file formats like XML you would have a non-empty file even with zero sequences.

[2017-10-18 14:35] peterjc commented on #1410
@wdecoster are you willing and able to test #1411 ?

[2017-10-18 14:37] wdecoster commented on #1410
Absolutely, will do so tonight.

[2017-10-18 15:17] cjfields commented on #1410
@peterjc re: XML good point.

[2017-10-19 05:57] wdecoster commented on #1410
Hi Peter,

I hope I did this right:

[code]

And the result is:

[code]

So it seems to work perfectly. Thanks!

I only wonder (without sufficient experience in handling/raising errors) if a ValueError is sufficiently specific. Would a FileFormatError or something similar be more descriptive and easier to catch unambiguously? I can imagine that catching a ValueError in a more complicated setup cou

[2017-10-19 08:51] peterjc commented on #1410
We do have a ``BiopythonParserWarning`` but not currently a Biopython specific parser or file-format exception. As a separate enhancement, that might be worthwhile - it could subclass ``ValueError``?

[2017-10-19 08:56] wdecoster commented on #1410
Sounds okay - although I have to admit I don't completely understand :)

[2017-10-19 18:24] peterjc commented on #1203
Note as per https://github.com/biopython/biopython/commit/048192fc86d591e8460f61c35e4175aedf3a2042 and other commits at that time, pydocstyle v2.1.0 introduced D106 and D107 which were previously special cases of existing D10# codes.

[2017-10-20 09:34] peterjc commented on #1203
Another update with the new ``D107`` code (introduced in pydocstyle v2.1.0 as a special case of an existing code) fixed via #1414,

[code]

Generally good progress but more D105 codes, not sure why right now.

[code]

[2017-10-23 16:37] j-andrews7 commented on #1193
@aralap Has this been addressed? Do we know what change caused the error? It'd be nice to retain backwards compatibility with previous versions if possible.

[2017-10-23 17:48] aralap commented on #1193
@j-andrews7 It has been adressed, and retains backwards compatibility (as far as i know)
#1372 #1374

[2017-10-23 17:52] j-andrews7 commented on #1193
@aralap thanks, good to know. @peterjc could this issue be closed to prevent further confusion?

[2017-10-23 20:01] peterjc commented on #1193
Thanks for the reminder, closed via #1372 and #1374.

[2017-10-23 20:01] #1193 closed

[2017-10-23 21:32] j-andrews7 commented on #232
@aralap did you plan to submit a pull request for this? If not, I will revise the existing parser to also handle the minimal MEME format.

[2017-10-24 12:41] peterjc commented on #1410
Closed via #1411

[2017-10-24 12:41] #1410 closed

[2017-10-24 12:47] peterjc opened #1422 "flake8 v3.5.0 breaking, E741 ambiguous variable name"
TravisCI has started failing our style checks, eg https://travis-ci.org/biopython/biopython/jobs/292025381

[code]

After upgrading ``flake8``, I can reproduce this locally:

[code]

[2017-10-24 14:34] wdecoster commented on #1410
Thanks a lot for the quick fix!

[2017-10-24 14:38] peterjc commented on #1410
Your fresh eyes helped, thanks - this oddity has been there for far too long :(

We should start thinking about the next release as well to get this and other recent work out.

[2017-10-24 17:19] dterg commented on #1402
Same issue here on Win10. Locale are set as @peterjc reported.

[2017-10-24 17:24] #1422 closed

[2017-10-24 17:29] peterjc commented on #865
Fixed via #1421, thank you!

[2017-10-24 17:29] #865 closed

[2017-10-24 18:02] j-andrews7 commented on #909
I am planning to turn this into pull requests unless @ghuls would rather take care of it. I think it will alleviate many of the issues that have plagued the `motifs` module for some time. I will also try to add support for the minimal MEME format per #232.

[2017-10-24 21:30] peterjc commented on #1402
@dterg how do you check the locale settings on Win10? And can you post that output please

[2017-10-24 21:34] peterjc commented on #909
@j-andrews7 Please go ahead and turn this into a pull request - as long as @ghuls is clearly credited that should be fine. Thanks.

(Ideally commit the initial files with him as the author, but if you don't know how to do that in git, that's not essential)

[2017-10-24 21:38] j-andrews7 commented on #909
@peterjc I will look at it tonight and see what needs to be done to ensure it works. I will be sure to attribute @ghuls as appropriate.

I'll see if I can figure out how to commit with him as the author and try to commit any changes I make personally under my own name.

[2017-10-25 09:16] peterjc commented on #909
I've emailed you about how to commit under a different name.

[2017-10-25 10:39] dterg commented on #1402
@peterjc Assuming you have bash for windows installed (as instructed [here](https://www.howtogeek.com/249966/how-to-install-and-use-the-linux-bash-shell-on-windows-10/)), then you can run any linux commands; in this case `locale`. This is my output:

[code]

As @BioGeek reported, everything works fine with python 2.7 so I have temporarily switch to 2.7. I attempted to explicitly define the encodin

[2017-10-25 13:08] peterjc commented on #1402
@dterg Are you running Python via bash for Windows (in which case those locale settings are probably being used), or native Windows Python (in which case the locale settings may differ)?

Does this tell you anything useful (here running on my work Mac):

[code]

[2017-10-26 00:29] JoaoRodrigues opened #1425 "mmCIF parser should pass both '?' and '.' as empty fields to StructureBuilder"
The mmCIF documentation states:

The current mmCIF parser arbitrarily checks for '.' or '?' depending on the field when it should check for both and translate both as empty to `StructureBuilder`. The result is a structure with, for example, '.' in insertion codes or '?' in alt codes (when you write a PDB file this will be trouble).

[2017-10-26 09:24] peterjc commented on #1425
Fix applied, thanks.

[2017-10-26 09:24] #1425 closed

[2017-10-26 10:17] BioGeek commented on #1402
OK, so let's recapitulate my experiments:

I'll show the output of

[code]

and whether or not the sample script from the first post succeeded.

----

**Windows 7, Python 2.7.11**
[code]

:heavy_check_mark: script succeeded

**Windows 7, Python 3.5.1**
[code]
 :x: UnicodeDecodeError

**Windows 10, Anaconda Python 3.6.3**

[code]
 :x: UnicodeDecodeError

**Windows 10, Linux subsystem for Windows,

[2017-10-26 10:26] peterjc commented on #1402
Great - so the answer seems to be ensure you are using a UTF-8 locale to work with NCBI data from Entrez (or stick with Python 2 which doesn't care).

Assuming the NCBI were to officially state that Entrez returns data encoded as UTF-8, is there anything we can change in ``Bio.Entrez`` to work better on locales like ``cp1252`` or ``C``?

[2017-10-26 10:40] dterg commented on #1402
In my case on Windows 10, Anaconda Python 3.5.4 this is the output:
`('en_US', 'cp1252')
('None, None)
cp1252`

Checking the systems default encoding:
[code]

outputs `utf-8`

Given that locale.getdefaultlocale() outputted `cp1252`, the below fixes it for me:

[code]

Does it fix it for you @BioGeek?

[2017-10-26 10:42] dterg commented on #1402
@peterjc Maybe an internal check on the encoding of the handle to see if its anything other than utf8 and internally set the locale to utf8 might be more user-friendly?

[2017-10-26 11:07] peterjc commented on #1402
@dterg can you explore that idea? I do not currently have access to a Windows machine for direct testing.

We may need to document setting the locale to UTF-8 for Python 3 Windows users.

I also think we should follow up with the NCBI, as they should either fix the funny quotes in this example, or document what encoding they are using.

[2017-10-26 11:27] BioGeek commented on #1402
@dterg Unfortunately, your fix doesn't work for me:

[code]

prints (when run with Anaconda Python 3.6.3 on Windows 10):

[code]

So, despite the monkeypatching, it still is going into the `lib\encodings\cp1252.py` file.

I'll follow up with the NCBI to get a definite answer about the encoding they are using.

[2017-10-26 14:25] BioGeek commented on #1402
Response from NCBI:

[2017-10-26 14:35] uiwjgensuali opened #1427 "ssl.CertificateError: hostname 'www.expasy.ch' doesn't match either of 'www.expasy.org', 'expasy.org', 'insights.expasy.org'"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

python 3.6.2 |Anaconda custom (64-bit)| (default, Sep 19 2017, 08:03:39) [MSC v.1900 64 bit (AMD64)]
platform CPython Windows-10-10.0.17017-SP0
Bio 1.71.dev0

### Expected behaviour
running without ssl.CertificateError

### Actual behaviour
I'm learning biopython by the tutorial,  when  se

[2017-10-26 14:44] peterjc commented on #1427
Looks like a problem with the domain itself, try https://www.expasy.ch/ in your browser - Chrome complains. @jervenbolleman may know who to contact about that.

Separately it is highly likely that some of the URLs in ``Bio.ExPASy`` are considered legacy, and can likely be moved over to point a UniProt equivalent.

[2017-10-26 14:48] peterjc commented on #1402
They're right that the XML formats will often declare an encoding, as here:

[code]

The problem is the plain text output - where I appreciate that Entrez is sitting on top of a range of back end systems with different limitations. One option is they could commit to only return ASCII, but otherwise it certainly seems assuming UTF-8 from Entrez is a reasonable stance.

[2017-10-26 14:59] JervenBolleman commented on #1427
expasy.ch should not be used but expasy.org I will however take it up with the relevant team that the rewrite rules are not correct.

I think that anything UniProtKB or Swiss-Prot related should be on uniprot.org. However, expasy.org hosts many interesting resources and is not a deprecated service. It is actually a key entry point to all of the Swiss Institute of Bioinformatics tools.

[2017-10-26 16:03] peterjc commented on #1427
Thank you! So we should look to move REST calls against https://www.expasy.ch/ to https://www.expasy.org/ then?

[2017-10-26 16:33] JervenBolleman commented on #1427
@peterjc I think so see my broken pull request at https://github.com/biopython/biopython/pull/1428

[2017-10-27 11:10] peterjc commented on #1402
In pull request #1429 @BioGeek is taking advantage of the HTTP headers to see which encoding the NCBI Entrez (or other web-services) say they are using.  I would still welcome a human readable statement in the Entrez help about the encoding, but this is a practical way forward.

[2017-10-27 13:06] peterjc opened #1430 "Entrez tests failing due to NCBI espell problem"
e.g.

[code]

This is a general problem in Entrez itself, which I have reported by email, cross reference https://blastedbio.blogspot.co.uk/2017/10/entrez-espell-cant-resolve.html#more

[2017-10-27 13:12] peterjc commented on #825
Implemented for PostgreSQL in #1420.

[2017-10-27 13:12] #825 closed

[2017-10-30 04:17] pgarland opened #1431 "BWA test failure"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

3.6.3 (default, Oct  3 2017, 21:16:13)
[GCC 7.2.0]

Linux-4.13.0-1-amd64-x86_64-with-debian-buster-sid

### Expected behaviour

BWA test succeeds and shows the output of running the BWA index command.

### Actual behaviour
[code]

### Steps to reproduce

Running the biopython test suite.

[2017-10-30 08:13] qzlshy opened #1433 "How to read HETATM line in pdb file?"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

(*
from Bio.PDB.PDBParser import PDBParser
p = PDBParser()
s = p.get_structure("*.pdb")
 *)

### Expected behaviour

(*
I want to read the line begin with "HETATM" from pdb file. But the result only include the "ATOM" line.
*)

### Actual behaviour

(*Please fill this in, and provi

[2017-10-30 08:33] #1433 closed

[2017-10-30 09:34] peterjc commented on #1431
It would appear the test has caught a major behaviour change in BWA, which is worth knowing about. A little investigation would be needed, but assuming that to be the case and that BWA is well behaved, checking for a non-zero return makes sense. CC @saketkc (original wrapper author).

[2017-10-30 19:33] JoaoRodrigues commented on #1433
The `PDBParser` reads HETATM lines by default. If you have questions about the usage of the code, instead of opening an issue, write to the Biopython users mailing list (biopython@biopython.org). You'll get faster help there.

[2017-10-31 22:23] peterjc commented on #1224
Good news: The NCBI's GenBank taxonomy team got in touch by email, and the FTP site has been updated with version 4.2 of the genetic codes:

ftp://ftp.ncbi.nih.gov/entrez/misc/data/gc.prt

That still leaves the tricky question of how we're going to represent these new codons which can be stop of an amino acid in Biopython...

[2017-10-31 23:54] peterjc commented on #1431
Cross reference Debian issue: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=880236

[2017-11-01 00:51] saketkc commented on #1431
Thank you @pgarland and @peterjc! It seems to break because of the change upstream:
https://github.com/lh3/bwa/commit/298284d754aa946b24a9d40d12cd911c57e8eacd
See #1437

[2017-11-01 03:33] pgarland commented on #1431
I tried the bwa banch from the repo of @saketkc and running the BWA_tool test now passes on my system.

[2017-11-01 12:00] peterjc commented on #1431
Good detective work @saketkc, that BWA commit explains the stderr/stdout change.

[2017-11-04 17:20] MarkusPiotrowski commented on #1210
As the docstring issue is solved, we can close this one

[2017-11-05 22:13] peterjc opened #1440 "New API Keys for the E-utilities"
See https://ncbiinsights.ncbi.nlm.nih.gov/2017/11/02/new-api-keys-for-the-e-utilities/

We need our documentation to mention this and include an example, adding ``api_key='...' to an Entrez call.

We may want to register a key for the Biopython test suite?

We may also want to make Biopython a little more cautious on the default limiting of 3 requests/seconds to make sure we don't accidentally exc

[2017-11-06 11:35] StefansM opened #1441 "mmCIF issue parsing multine text and line-end comments"
I've just encountered a possible issue using `Bio.PDB.MMCIF2Dict` to parse a more-complex-than-usual CIF file. This was tested on the most recent development version of biopython.

### Multiline text strings don't preserve newlines

The CIF format uses a pair of semicolons in column 1 to delimit multiline blocks of text. The current parser merges each line in the block into one:

[code]

According

[2017-11-06 15:28] peterjc commented on #1441
Probably @jgreener64, @JoaoRodrigues or @lennax is best placed to comment on this...

[2017-11-06 17:08] jgreener64 commented on #1441
Hey @StefansM, nice one for finding this stuff.

I agree with the first point and the fix you propose.

Re comments, the CIF spec has a few things to say:

at number 21 as you point out. But also, in the formal grammar section (number 45):

This sounds more thorough and says in-line comments are not allowed. However, it would require a change on line 97 of the `MMCIF2Dict.py` file from

[code]

to

[2017-11-06 21:44] ctSkennerton opened #1443 "Setting description to None in Seqrecord causes error on write"
I've found that `SeqIO.write` assumes that attributes like description in seqrecords are filled in and fails if they are `None`. The default constructor for SeqRecord provides dummy values but there is nothing stopping anyone from changing the value to `None`.

### Background
In my actual use case, I have a BioSQL database where some of the records were added in not using biopython and do not have

[2017-11-07 12:49] peterjc commented on #1443
Yes, this is (unfortunately perhaps) by design.

There are so many ``SeqIO`` back ends that rather updating them all to allow ``None`` for common attributes like the ``.id``, ``.name`` and ``.description`` I suggest you use the empty string, or allow ``SeqRecord`` to use its current horrible default values. However, I'd review a pull request to handle this (most likely using the empty string if th

[2017-11-07 12:50] peterjc commented on #1210
Thanks all.

[2017-11-07 12:50] #1210 closed

[2017-11-07 13:11] MarkDunne opened #1444 "Error parsing ABI files"
The current master breaks when trying to read FSA files

### Setup

[code]

### Expected behaviour

No Errors

### Actual behaviour

[code]

### Steps to reproduce

[code]

[2017-11-07 13:28] bow commented on #1444
Hi @MarkDunne ,

Hmm..this is unexpected. I could not reproduce this on my machine, either on Python 2 or Python 3. Both are also on the tip of the current master branch (d465649c2). Perhaps this is a MacOS-specific behavior? I do not expect that as well, to be honest.

[2017-11-07 13:34] peterjc commented on #1444
Confirmed using the FSA file in our test suite on my Mac laptop using Apple's Python 2:

[code]

Or, for the record, using our test suite:

[code]

It works on the same machine using a self-compiled Python 3.4.1

This is unusual - we don't currently have macOS continuous integration (last time I checked, TravisCI did not yet officially support Python on macOS).

[2017-11-07 13:39] peterjc commented on #1444
Correction: I was testing with an older version of the master branch (I rarely use Python 2 on this machine, mostly Python 3). It works now that I've updated to the current master branch, i.e. commit d465649c2f2ef85bbf067bd84d3ac4b6fd46444d

Note my failure was at line 409, likely reflecting a commit prior to the FSA work being merged.

@MarkDunne could you double check you have the latest version

[2017-11-07 14:05] MarkDunne commented on #1444
@peterjc

Yes, I am on d465649

`git log -n 3`
[code]

[2017-11-07 14:09] StefansM commented on #1441
Hi @jgreener64, thanks for the comment. I read "... after blanks, i.e. only after space, tab or \<eol\>..." as allowing comments after other tokens as long as they are separated by whitespace. That is,
[code]
is legal. The [mmCIF dictionary](http://mmcif.wwpdb.org/dictionaries/ascii/mmcif_pdbx_v50.dic) (5.2MiB text file) seems to use line-end comments like ``#V5`` to indicate the version of the sp

[2017-11-07 14:16] bow commented on #1444
@MarkDunne, aha ~ this looks like a failing check on the `fsa` file then. Currently we define a file as fsa if it has these following tags: `['SpNm1', 'LIMS1', 'CTID1']` (appropriately located on line 404). Looks like your file is missing one of these tag values, so `AbiIO` thinks it's an ABI file that has a sequence (failing the check at line 406).

Would it be possible for us to look into the FS

[2017-11-07 14:20] MarkDunne commented on #1444
@bow Sorry I don't think I'll be able able to do that for confidentiality reasons. If you could tell me how to inspect the files, I can let you know what tags there are.

[2017-11-07 14:25] bow commented on #1444
@MarkDunne No worries. If you don't mind a simple print-style debugging, adding this:

    print([t in raw for t in ['SpNm1', 'LIMS1', 'CTID1']])

on line 404, above `is_fsa_file` should show which of the expected-to-be-present tags are not there.

[2017-11-07 14:28] peterjc commented on #1444
@MarkDunne if it helps, you'd only need to email a sample file to Bow in private (we don't need a public sample for debugging this).

[2017-11-07 14:31] MarkDunne commented on #1444
@bow Thanks bow. The output was `[True, True, False]`, so it doesn't contain a `CTID1` tag.

[2017-11-07 14:54] bow commented on #1444
Great, thank you @MarkDunne. Modifying the fsa check to handle this is quite simple (I just pushed a branch [here](https://github.com/bow/biopython/commit/9aa256f254d7516037623e1667a81d8307cd7781)).

That being said, I feel less confident about the fsa file check now. @peterjc , what do you think about making `fsa` a separate file format string that `SeqIO.[read|parse]` accepts?

[2017-11-07 15:54] jgreener64 commented on #1441
Okay I hadn't spotted that ambiguity but I think your reading is correct. We should certainly be able to parse the mmCIF dictionary. Your suggestion looks good.

[2017-11-07 17:58] peterjc commented on #1444
I don't know enough about this file format ecosystem, but if you think so adding ``fsa`` or maybe ``abi-fsa`` as a named (sub)format ought to be fine.

If we do add ``fsa`` as its own top level format, I'd like to deprecate parsing FSA files under the ``abi`` format name.

[2017-11-07 18:11] MarkDunne commented on #1444
There is a document published by ABI specifying the fields in .abi and .fsa ABIF file formats. Maybe this might help to determine the file type.

http://www6.appliedbiosystems.com/support/software_community/ABIF_File_Format.pdf

[2017-11-08 11:56] peterjc commented on #1444
I'm pretty sure we've looked at that before, but worth reviewing again now. Quoting that,

That to me argues against adding ``fsa`` as a top level format in the SeqIO API.

Sadly they do not seem to state explicitly how to tell the ABI and FSA files apart from the tags, but list lots of instrument specific tags in tables so it can perhaps be deduced.

Do you know which instrument your file is from

[2017-11-08 12:01] MarkDunne commented on #1444
@peterjc This FSA file comes from an ABI 3500 Series Genetic Analyzer.

I also agree that it seems dubious for FSA files to be the top level file type. It should be ABIF file formats in general. In fact, that was my original understanding from reading the Bio.SeqIO [documentation](http://biopython.org/DIST/docs/api/Bio.SeqIO-module.html). I think it implies that SeqIO.parse is meant to accept 'abi

[2017-11-08 13:09] peterjc commented on #1444
Yes, with hindsight perhaps the format name in SeqIO ought to have been "abif".

[2017-11-08 13:12] bow commented on #1444
My rationale for adding this as a separate file format is simply being explicit. While the underlying file format (ABIF) is technically the same for both `.ab1` and `.fsa` files, the information they store is apparently different.

Under the hood, they would still use the same iterator of course. Only then, for example, there would be another argument passed to the iterator. This is, in some ways,

[2017-11-08 13:14] peterjc commented on #1444
Checking for the ``PBAS`` tag with a sequence sounds like a good choice, very Pythonic (in terms of object type checking).

[2017-11-08 17:34] bow commented on #1444
Hmm..after more thought, this is indeed perhaps the most sensible thing to do now. The absence of this tag is what caused this buggy behavior essentially. Modifying the check would require minimal change to the code and is still in line with what we currently are doing.

I'm not to keen on scouring the fsa vs ab1 tags from the specs, to be honest, simply because of the worry that there are excepti

[2017-11-08 17:34] Zsailer commented on #666
I'd like to avoid wrapping fasta output using the `SeqIO.write` method as well. Why not float a `**kwargs` in the `SeqIO.write` method that is then passed to the writer classes as specific options for that format?

[2017-11-08 21:17] peterjc commented on #666
@Zsailer this was a deliberate design choice to keep the main SeqIO API as simple and usable as possible. Would an output variant name of ``fasta-nowrap`` or similar be acceptable?

[2017-11-08 21:27] #1431 closed

[2017-11-08 22:16] Zsailer commented on #666
@peterjc  I completely agree with the design decision to make the API simple and usable. And don't get me wrong, I think this API great!

I guess my point was that adding `**kwargs` to `SeqIO.write` and passing it to whatever `_FormatToWriter` the user specifies doesn't really add any extra complexity for the user or the API. Most users ignore it.

I went ahead and created a branch to show what I

[2017-11-09 10:28] bow commented on #1444
@MarkDunne and @peterjc, a merge request is now open. If there are no errors and/or objections, I will merge it.

[2017-11-09 11:23] dixonmd opened #1449 "NCBIStandalone ValueError: Line does not start with 'S2'"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

(*Please copy and run the above in your Python, and copy-and-paste the output*)

2.7.12 (default, Nov 19 2016, 06:48:10)
[GCC 5.4.0 20160609]

CPython
Linux-4.4.0-98-generic-x86_64-with-Ubuntu-16.04-xenial

1.70

### Expected behaviour

Blast text parser

### Actual behaviour

Gett

[2017-11-09 14:19] peterjc commented on #1444
Good job. Thanks @MarkDunne for reporting this and working though it with us. Are you able to re-test with the latest master branch now that #1448 has been merged?

[2017-11-09 14:28] peterjc commented on #1449
Can you make a short Python example which fails with this error, or share some of your code? It is clear from the exception traceback you are using ``Bio.Blast.NCBIStandalone`` but not clear how you are using it.

[2017-11-09 14:30] peterjc commented on #1449
Also can you share a complete sample BLAST text file which breaks?

[2017-11-09 14:36] peterjc commented on #666
I agree the code change to enable ``**kwargs`` is trivial, it is the implication of doing this which worries me. It suddenly massively expands the public API - documentation alone would be a mass of work. So I'm again going to be stubborn on this.

Adding ``fasta-nowrap`` (or similar) as an output variant format would solve what seems to be a relatively common use case, within the current API and

[2017-11-09 17:35] Zsailer commented on #666
Fair enough 👍

I've submitted PR #1450 adding this variant. Let me know what you think.

Thanks for your thoughts on this, @peterjc!

[2017-11-10 11:01] MarkDunne commented on #1444
@peterjc @bow Yes this is all working perfectly now. Thank you for fixing this so quickly.

[2017-11-10 13:30] peterjc commented on #1444
Great - thanks for engaging with this process and testing. Marking as closed.

[2017-11-10 13:30] #1444 closed

[2017-11-14 00:36] qifei9 opened #1451 "Wrong parameter in FuzznucCommandline (Bio/Emboss/Applications.py)"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

### Problem

In `FuzznucCommandline` of `Bio/Emboss/Applications.py`, the parameter `mismatch` should be `pmismatch` and it is not `is_required`.

ref: http://emboss.bioinformatics.nl/cgi-bin/emboss/help/fuzznuc

[2017-11-14 03:24] j-andrews7 commented on #909
@peterjc and @ghuls, I've just created the pull request that should add this code. I didn't write tests for all of the different four column and four row formats but those I tested manually worked fine. I committed the bulk of the code as @ghuls, so be sure to credit him appropriately. Most of my additions were just tests, flake8 compliance, and fixing a few edge cases.

[2017-11-14 13:27] peterjc commented on #1451
Confirmed in semi-recent EMBOSS,

[code]

I would guess their command line API changed at some point... do you happen to have older copies of EMBOSS installed or easily available to check that?

[2017-11-14 13:39] ghuls commented on #909
@j-andrews7 Thanks for working on this.

[2017-11-14 13:56] qifei9 commented on #1451
I do not have older version of Emboss installed. However, if their website is telling the truth, it is `pmismatch` at least since `Emboss version 6.0`.

see: http://emboss.sourceforge.net/apps/release/6.0/emboss/apps/fuzznuc.html

[2017-11-14 13:59] peterjc commented on #1451
Thanks for checking, if this was an EMBOSS change it was a *long* time ago. Your changes should be fine then - the risk of breaking someone's Python script seems minimal.

[2017-11-15 10:07] peterjc commented on #898
@zaidurrehman would you agree to agree to dual licence your Biopython contributions under both
the _Biopython License Agreement_ AND the _BSD 3-Clause License_.

e.g. Motif work on #867

[2017-11-15 12:19] michaldrori opened #1454 "SeqIO.parse failing with anaconda3-4.0.0/lib/python3.5"
[55457.zip](https://github.com/biopython/biopython/files/1474598/55457.zip)
### Setup

I am reporting a problem with Biopython, Python 3.5, running on linux. When switching to python 3.3.0
there was no error:

[code]

(*Please copy and run the above in your Python, and copy-and-paste the output*)

[code]

### Expected behaviour

[code]

### Actual behaviour

(*Please fill this in, and provide any

[2017-11-15 14:51] peterjc commented on #1454
Thanks for providing a test case.

What version of Biopython do you have? Running this in Python ought to tell us:

[code]

[2017-11-15 15:17] peterjc commented on #1454
Note Biopython 1.69 was our last release to support Python 3.3

You test case as written will not work - the line ``write list(speciesSeqRecords)`` is invalid syntax.

Reduced test case which works for me on Apple macOS provided Python 2.7:

[code]

And works on my self-compiled Python 3.6 on macOS etc:

[code]

I've tried Biopython 1.65, 1.66, 1.67, 1.68, 1.69, 1.70 and current master branch unde

[2017-11-16 07:53] michaldrori commented on #1454
Hi,

Thank you for responding :) my Biopython version is 1.68  working under the following system.

$ module load python/anaconda3-4.0.0
$ python
Python 3.5.3 |Anaconda custom (64-bit)| (default, Feb 22 2017, 21:13:27)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)] on linux

The anaconda was forced by IT so I'm not sure how to answer your question. I can try and ask them if you think it can help solve thi

[2017-11-16 09:44] zaidurrehman commented on #898
I hereby give my explicit permission to dual-license all my existing and future contributions under the Biopython License Agreement and the BSD 3-Clause License.

[2017-11-16 11:25] peterjc commented on #1454
Can you run this (long) command at the terminal please, and copy-paste the output?

[code]

It works for me using Python 3.5 (which is slightly older than your Python 3.5.3) on Linux:

[code]

Assuming that fails for you, I could try to get an Anaconda or at least conda version of Python setup to match yours.

[2017-11-16 13:22] michaldrori commented on #1454
Hi,

It seems that loading python/**anaconda3-5.0.0** solved the problem

Thanks,
Michal

[2017-11-16 13:34] peterjc commented on #1454
I remain puzzled about what was wrong, and if there is anything we need to fix within Biopython, but good news that it works for you now.

Unless you want to help explore this further, should we close this issue?

[2017-11-18 22:03] Cediddi opened #1457 "Warning users about their old pip installations"
This is not a bug but a proposal, thus ignoring the issue report template.

As a continuation of https://github.com/biopython/biopython/pull/130 I think if pip version is important for biopython, then it should give either an error for prehistoric pip versions or give a update error for old versions.

I tried installing biopython with 1.5.x, 6-7-8-9 and only 1.5 can't install biopython without num

[2017-11-20 18:54] thkuo opened #1458 "Unable to output nexus file"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

(*Please copy and run the above in your Python, and copy-and-paste the output*)

### Expected behaviour
Conversion of a fasta file (dna alignment) to a nexus file
### Actual behaviour
The file was successfully parsed, but the records couldn't be written in nexus format. The message

[2017-11-20 20:35] peterjc commented on #1458
That is expected behaviour. When loading the FASTA file you need to tell Biopython this is DNA, try:

[code]

and then use:

[code]

Also you might prefer to use ``AlignIO.convert(...)`` instead of calling ``AlignIO.read(...)`` and ``AlignIO.write(...)`` here:

[code]

[2017-11-20 21:16] cgoliver opened #1460 "PDB.PDBList().download_entire_pdb() failing due to improper file path"
### Setup

I am reporting a problem with Biopython 1.68, Python version 3.6.2 , and operating
system OSX 10.13.1 as follows:

[code]

### Expected behaviour

Download all PDB entries from RCSB PDB server.

### Actual behaviour

[code]
### Steps to reproduce

See above.

Thanks!

[2017-11-20 22:11] peterjc commented on #1460
Please update to Biopython 1.70 and retest, as I think this was fixed via #943

[2017-11-21 08:36] thkuo commented on #1458
It works perfectly. Many thanks!

[2017-11-21 11:37] peterjc commented on #1458
Excellent, thanks for confirming it worked. If you can suggest any specific change to our documentation to help others here, that would be great.

[2017-11-21 20:55] cgoliver commented on #1460
thanks that fixed it! sorry, anaconda update wasn't going past 1.68 so I assumed that was the latest version.

[2017-11-21 20:55] #1460 closed

[2017-11-22 10:58] peterjc commented on #1460
Great - thanks for confirming.

With conda, we recommend using the conda-forge channel which is community maintained and should have the latest Biopython packaged for Linux, Windows and macOS. The default channel is sadly often a few releases behind. I've updated http://biopython.org/wiki/Packages to make this more explicit.

[2017-11-22 18:25] harryjubb commented on #1356
Apologies for the long delay: have run a quick test and so far so good! Thanks for fixing it :), I'll keep trying it out.

[2017-11-22 23:30] peterjc commented on #1356
OK, I'll close this issue now - but please do report back if you run into any problems. Thank you!

[2017-11-22 23:30] #1356 closed

[2017-11-23 08:03] thkuo commented on #1458
Sorry for bothering again, but probably I found some behaviors that I didn't expect. Part of the sequence names in my fasta file were quoted after the conversion (ie. seq1-0 -> 'seq1-0'). These names, in my case, have non-word characters but without gaps. Do you think it should be fixed?

[2017-11-23 09:24] peterjc commented on #1458
Can you share the example input and output files? Or some of the text?

[2017-11-23 12:15] peterjc commented on #1170
Little change in the latest numbers, still ignoring the controversial D406 and D407:

[code]

[2017-11-23 13:54] peterjc commented on #1170
I'm working on D205 right now...

[2017-11-23 17:09] peterjc commented on #1170
I've started work on D400 now.

[2017-11-23 17:23] sdhutchins opened #1463 "Question: Adding Blastdbcmd?"
Has there ever been any interest in adding some of the other NCBI Standalone blast tools? I'm working on a wrapper for the `blastdbmcd` command line tool right now, and I'd like to add it here.

[2017-11-23 22:07] peterjc commented on #1463
If it follows the style of our existing BLAST command line wrappers, then absolutely it would be very welcome as a Biopython contribution. Thanks!

[2017-11-24 04:05] sdhutchins commented on #1463
awesome! @peterjc glad to hear that.

[2017-11-24 09:01] thkuo commented on #1458
The full alignment is large, so I am just showing part of it.
The original fasta was:
[code]
The nexus output was:
[code]

[2017-11-24 10:36] peterjc commented on #1458
I believe this is deliberate - NEXUS has rules about putting quotes around names using special characters (like spaces), and I presume the minus sign triggered that.

[2017-11-24 10:36] #1458 closed

[2017-11-24 11:43] peterjc commented on #1170
Pull request #1462 would fix and enforce D205 and D400 via our TravisCI/Tox style check, which would leave missing docstrings (#1203) and the following:

[code]

To be honest, while I would like to follow D401 imperative mood, it seems a very low priority.

I have started work on D301, cross reference discussion on #1173.

[2017-11-24 13:55] souravsingh commented on #1170
I can work on the D401 if it is needed. If not, we can ignore the error.

[2017-11-24 14:42] peterjc commented on #1170
Once #1173 is merged I think we can close this issue :)

@saketkc If you want to try doing a few D401 cases, sure - give it a try. Please start on those modules you have contributed to and are most familiar with. Thank you.

[2017-11-27 03:12] schultzm opened #1464 "feature request: parse iqtree format"
Hi,

In iqtree, it is possible to perform multiple tests of branch support, each one being assigned to the same branch delimited by `/`.   As far as I can tell, biophylo cannot parse these trees.  For example, branch support may look like `94.3/99` when using `ultrafast bootstrapping` and the `approximate likelihood ratio test` in the same run.  For further information, refer to [iqtree user manua

[2017-11-27 16:52] peterjc commented on #1464
Is this an iqtree-specific extension to the Newick format? Does any other tool support this (e.g. FigTree or another tree drawing package)?

[2017-11-27 19:54] laserson opened #1465 "SeqIO docstring lists "abif" as possible format"
Biopython v1.71.dev0

The docstring for SeqIO.parse lists `abif` as a possible format, but it really means to say `abi` and `abi-trim`.

[2017-11-27 22:57] schultzm commented on #1464
Hi @peterjc ,

Thanks for the reply.  Yes, FigTree can draw the support values.  Here is an example:
![screen shot 2017-11-28 at 09 55 53](https://user-images.githubusercontent.com/5474971/33293868-5aef7362-d422-11e7-9e6f-afcd344fa7a2.png)

[2017-11-28 09:50] peterjc commented on #1464
@etal @lennax @JoaoRodrigues etc - any thoughts?

[2017-11-28 09:51] peterjc commented on #1465
Well spotted. Would you like to submit a pull request? CC @bow

[2017-11-28 09:54] JoaoRodrigues commented on #1464
@etal is clearly the one indicated to answer this, I have no idea about phylogenetics :)

[2017-11-28 12:14] peterjc opened #1466 "Adding (PRIVATE) to summary line of private docstrings"
The following grep command identifies hundreds of private functions and methods where the one-line docstring summary does not end with ``(PRIVATE).`` as per current Biopython style:

[code]

(The grep will miss any cases using a multi-line ``def`` statement).

Note that given we intend to move from epydoc to sphinx-apidoc for building our HTML API documentation (see #1388 and http://mailman.open-b

[2017-11-28 12:42] lozybean opened #1467 "support for sam and vcf format"
[sam format](https://samtools.github.io/hts-specs/SAMv1.pdf) and [vcf format](https://samtools.github.io/hts-specs/VCFv4.2.pdf) is frequently used.
Is it possible to support these two format?

[2017-11-28 13:49] peterjc commented on #1467
For SAM/BAM, I would recommend pysam which builds on top of the samtools C API: https://github.com/pysam-developers/pysam

However, I did write a pure Python implementation (built on top of ``Bio.bgzf`` for the BAM code) which still exists on my Biopython fork's branches, eg most recently rebased in 2015:

https://github.com/peterjc/biopython/tree/SamBam2015

At the time I wrote that, one of the m

[2017-11-28 14:02] lozybean commented on #1467
It seems that I must use pysam and pyvcf etc. packages along with biopython.
It's fine and I'm going to close this issue.

Thanks very much for your quick response.

[2017-11-28 14:02] #1467 closed

[2017-11-28 14:59] #1441 closed

[2017-11-28 15:11] peterjc commented on #1441
Oh yeah, thanks for closing this issue now that #1445 was merged.

[2017-11-28 17:11] laserson commented on #1465
Sure, on the way...

[2017-11-29 12:09] peterjc commented on #1392
@zaidurrehman is this something you might be able to help with (given your recent contribution for RNA support in pull request #1421)? Thanks!

[2017-11-29 15:06] zaidurrehman commented on #1392
@VikramMisra Does your protein samples use the [standard protein](http://meme-suite.org/doc/alphabets.html#protein) alphabet or have you defined your own custom alphabet?

Can you give a small meme output file which has X alphabet?

[2017-11-29 17:45] etal commented on #1464
I would guess FigTree is not attempting to parse the support values into floating-point numbers, just keeping and displaying the values as strings. It would be possible to represent multiple support values in phyloXML or NeXML in keeping with those standards. It's even possible that the Bio.Nexus or Bio.Phylo parsers could load these trees if the slashes were replaced with commas.

This isn't the

[2017-11-30 19:55] stephy2985 commented on #1454
@peterjc
I am having an issue running BLAST in Biopython. This is my code:

from Bio import SearchIO

result_handle = NCBIWWW.qblast("blastn", "nt", 153219)
with open("my_blast.xml", "w") as out_handle:
    out_handle.write(result_handle.read())

result_handle.close()

And then the main error I get is this:
ssl.SSLError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:748)

I ha

[2017-12-03 22:59] peterjc commented on #1454
@stephy2985 that is a completely separate issue and is something to do with the SSL certificates on your machine (not specific to Biopython). If you are still stuck, please open a new issue about this.

[2017-12-03 22:59] peterjc commented on #1454
Closing as @michaldrori's original issue seems to be solved.

[2017-12-03 22:59] #1454 closed

[2017-12-08 10:49] kblin commented on #515
Recently the NCBI seems to have started using
` Error: External viewer error: Empty Response. Bytes read: 0 Status: Timeout` as well. Just as a heads up.

[2017-12-08 13:03] kblin opened #1471 "SeqRecord broken on Debian packages when -sql package is not installed"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

This is a Debian 9 (stretch), with `python-biopython` installed and `python-biopython-sql` not installed.

### Expected behaviour

Calling `extract` on a `SeqFeature` that's coming from a `SeqRecord` loaded from a GenBank file on disk works.

### Actual behaviour

`__getitem__` in

[2017-12-08 13:25] kblin commented on #1471
Just to confirm, installing `python-biopython-sql` in addition to `python-biopython` makes this problem go away, at the cost of pulling in client-side MariaDB.

[2017-12-08 13:26] peterjc commented on #1471
As discussed on Twitter, due to change in Biopython 1.68 onwards https://github.com/biopython/biopython/commit/48cd6bc1 - CC @ctSkennerton

Ideally all the ``Bio`` code would work without importing from ``BioSQL`` (as per the Debian split packaging approach).

We could implement ``__getitem__`` on the ``DBSeqRecord`` object (more code duplication for all the annotation handling), or perhaps make t

[2017-12-08 13:27] peterjc commented on #1471
Cross reference https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=883860 (filed by @kblin)

[2017-12-08 13:28] kblin commented on #1471
I'm a bit stumped on how to write a meaningful test for this, otherwise I'd propose a patch that'd only do the `DBSeqRecord` logic if the import worked.

[2017-12-08 13:53] kblin commented on #1471
Not sure how to test if this works, though

[2017-12-08 23:27] #1471 closed

[2017-12-08 23:29] peterjc commented on #1471
Closed via #1472 on the Biopython side, fix will be in our next release, i.e. Biopython 1.71

I suggest for Debian they back-port Kai's patch to whichever of the Biopython 1.68, 1.69 and 1.70 packages are still in active use.

[2017-12-08 23:32] peterjc commented on #1471
In terms of testing this (outside of Debian), one could hack the ``setup.py`` and/or delete the installed ``BioSQL/*.py`` files from the Python path, and then try ``test_SeqRecord.py`` or Kai's minimal test case before and after the patch.

I have not done that (its bed time here), but perhaps I should have to be 100% sure we've fixed this.

[2017-12-11 11:45] peterjc commented on #666
I started thinking about merging #1450 from @Zsailer and then how to implement the matching (strict) no-wrapping parser, and realised there is a choice here - do we really want a strict two-line-per-record FASTA variant here?

The distinction is about the corner case of zero-length records, which could be one line only (the ``>`` line) or two lines (the ``>`` line and a blank sequence line). As wr

[2017-12-11 14:41] aralap commented on #232
@j-andrews7  I planned to do it but haven't found the time recently. Also i wasn't sure the approach i would take was the desired one. I already have a minimal format parser working and wouldn't bother to make a pull request with that.

[2017-12-11 15:41] peterjc opened #1473 "Use imperative mood for one-line docstring summaries"
This a low priority issue for better following the wider Python community style for our docstring documentation. This is a spin out from issue #1170.

For background, read PEP257 first https://www.python.org/dev/peps/pep-0257/ (and note we use reStructuredText for the docstrings, not just plain text).

To test this locally, first install ``pydocstyle``,

[code]

Then:

[code]

If we do manage to m

[2017-12-11 15:42] peterjc commented on #1170
Current numbers,

[code]

i.e. 416 cases of D401 which I have logged as #1473 as a low priority issue.

Closing this as most of the pydocstyle checks now pass. Horray - thank you everyone who contributed to this effort!

[2017-12-11 15:42] #1170 closed

[2017-12-11 15:55] xguse commented on #232
Same here. I have one that works for me. But I don't have the time to make it behave similar to biopythons conventions.

[2017-12-11 16:19] Zsailer commented on #666
@peterjc, renaming `fasta-nowrap` to `fasta-2line` makes sense to me.

I agree, a strict interpretation is better. As a user, I'd expect `fasta-2line` to produce two-line output even in a zero-record scenario. The output from a `fasta-nowrap` syntax in that scenario feels ambiguous.

[2017-12-11 16:20] peterjc commented on #666
@Zsailer Good, we are in agreement. I added a few commits along these lines to #1450.

[2017-12-11 17:52] MarkusPiotrowski commented on #1473
I'm going to work on ```Bio/SeqUtils```

[2017-12-12 11:32] EmanIsmail opened #1474 "Convert protein Seq to binary vector?"
How can I convert protein sequence
"MASVKSSSSSSSSSFISLLLLILLVIVLQSQVIECQPQQSCTASLTGLNVCAPFLVPGSP"
to binary vector "01100001111011111110"
to be able work with it as numpy vector??

[2017-12-12 13:32] JoaoRodrigues commented on #1474
I guess you have to define what each letter means, then you can convert it
to its proper numerical representation. For example, charged residues = 1,
non-charged = 0.

Otherwise if you want to convert EACH letter to its binary representation
and concatenate the entire array: http://bfy.tw/FWTe

[2017-12-13 14:19] peterjc commented on #1474
You'd have to explain what exactly you had in mind for a binary encoding.

FYI, you can have fixed length string arrays in NumPy, e.g. one-character entries:

[code]

Example from http://biopython.org/DIST/docs/tutorial/Tutorial.html

You can also have NumPy arrays of Python strings of variable length.

[2017-12-15 15:40] MarkusPiotrowski commented on #1473
I go on with ```Alphabet```, ```Compass``` and ```Data```

[2017-12-17 10:45] danablanc commented on #1402
Hi!

I have the same problem when I invoke the read function.
How can I deal with this issue?

Thank you!

[2017-12-17 11:57] BioGeek commented on #1402
Hi @danablanc,

You can manually apply [these changes](https://github.com/biopython/biopython/commit/1a32c50fb91b9461eb4c0d0d427823dca81b41ee#diff-b8f7b5fcb0c648cc6cfee1f8fb719af6) to the file `Bio/_py3k/__init__.py`.

Can you confirm that this solves your issue?

[2017-12-17 13:04] danablanc commented on #1402
@BioGeek thank you! My issue was solved

[2017-12-18 11:38] Gasta88 commented on #1473
I'll take `Bio/_utils.py`, `Bio/SeqRecord.py` and `Bio/phenotype`.

[2017-12-19 09:46] Gasta88 commented on #1473
I'll start with `Bio/Nexus`, `Bio/Wise` and `Bio/PopGene`

[2017-12-19 22:21] cjfields opened #1481 "OBF mail list issues"
(@peterjc : this is per the OBF Board Meeting, feel free to edit/add to the ticket or text as needed)

As @peterjc has noted on the [main OBF blog](https://news.open-bio.org/2017/12/15/mailing-list-consolidation/), the OBF hosted mail lists (including the various Biopython lists) have had serious issues over the last several months due to heavy spam traffic on the OBF mailman server. We are solici

[2017-12-19 23:16] EmanIsmail commented on #1474
Thanks a lot

[2017-12-19 23:18] EmanIsmail opened #1482 "Fetch Pubchem compounds as 881 binary vector??"
How can I download pubchem compounds as 881 binary fingerprint
I am confused from where I can fetch them??

[2017-12-20 22:05] peterjc commented on #1481
Thanks Chris, good idea to log this on each project's GitHub.

[2017-12-22 11:08] peterjc commented on #1474
Can we close this issue, or do you have a more precise question?

[2017-12-22 11:09] peterjc commented on #1482
I am not familiar with this 881 binary fingerprint. Can you do this from the PubChem website? If so, can you give an example?

[2017-12-22 14:38] #1474 closed

[2017-12-27 10:35] Gasta88 commented on #1473
I'll work on `Bio/Entrez`, `Bio/PDB`, `Bio/FSSP` and `Bio/Phylo`.

[2017-12-27 23:44] peterjc commented on #1473
Wow - this is going quicker than I expected - thanks for all the work so far!

[2017-12-30 00:39] MarkusPiotrowski commented on #1224
I just stumbled upon this issue while working on ```CodonTable.py``` for coding style issues.
The current ```update_NCBI_codon_table.py``` script will not recognize these 'alternative' stop codons, but it's easy to change that (I did this already in my branch).

What would you suggest for the moment? Not implementing these codon tables (27, 28, 31) at all? Raising a warning when they are imported?

[2018-01-01 19:23] hsiaoyi0504 commented on #1463
Just want to know the status of this issue. Will something like `makeblastdb` be included into `biopython` in the future ?

[2018-01-01 23:30] peterjc commented on #1224
There may be a few people using the codon tables directly, but the main use case is in ``Bio.Seq`` for translation.

I agree that if ``translate(..., cds=True)`` is used we have a clear interpretation: Any special ambiguous codons during the sequence are amino acids, but as the final codon are a stop codon.

Perhaps the safest option if ``cds=False`` and one of these special codons appears is to r

[2018-01-01 23:34] peterjc commented on #1463
Right now unless @sdhutchins is working on adding this, I am not aware that anyone else is. This is not a priority for my own needs, so I do not plan to write the code myself. However, I am happy to review a pull request adding this to the existing BLAST command line wrappers.

[2018-01-03 07:18] szhan commented on #808
Hi, I think I am experiencing a related issue. There has been no follow-up? Thanks!

[2018-01-03 11:40] peterjc commented on #808
The NCBI didn't get back to me, I will email them again to see where things stand.

Right now the nad1 example discussed earlier in FP885871.1 appears to still be broken :(

[2018-01-04 15:49] tambua81 commented on #808
Dear Peter, if it can be of help I would like to participate to solve the problem acting on biopython source.

Happy new year.

[2018-01-04 17:22] JamesJeffryes opened #1490 "WithinPosition as a valid feature location"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

2.7.10 (default, Feb  7 2017, 00:08:15)
[GCC 4.2.1 Compatible Apple LLVM 8.0.0 (clang-800.0.34)]
CPython
Darwin-16.7.0-x86_64-i386-64bit
1.70

### Expected behaviour
I expect to be able to specify a "WithinPosition" as in a genbank file in accordance with http://www.insdc.org/files/feature

[2018-01-04 21:50] peterjc commented on #1490
Problem entry:

[code]

Where did you get the file from? https://www.ncbi.nlm.nih.gov/nuccore/U49845 does not have this feature, the annotation there is rather different.

What are you suggesting as the parser location structure?

[2018-01-04 22:19] JamesJeffryes commented on #1490
A colleague of mine made this file to test a genome parser I am working on
that uses biopython by mutating an existing genbank file. As such the
feature does not exist in the source and is nonsensical (a point feature
would not the other qualifiers) but the syntax is valid as far as I can
tell.

I'd recommend using the same WithinPosition as the start and end of the
feature location similar to how

[2018-01-04 22:26] peterjc commented on #1490
I'm not convinced that representation makes sense... can you find a real world GenBank file from the NCBI which might help me?

(BTW, I'm not saying testing the parser with mutated genbank file is a bad idea - its a very good idea, especially if it catches things like infinite loops etc. But here we have a very clear warning, and one problematic feature has its location ignored which is a graceful

[2018-01-04 22:52] jkbaumohl commented on #1490
Peter please look at http://www.insdc.org/files/feature_table.html#3.4.3
It is pretty clear that "123.235" is a valid position information.
Additionally I have contacted RefSeq :
Here is that inquiry and answer:
Comment: Hello I am working on GenBank uploader into KBase. We are using the biopython parser but ran into an interesting discrepancy in a unit testing for "non-standard" locations.

So ba

[2018-01-05 10:57] BjornFJohansson opened #1491 "Representation of restriction enzymes do not work in the IPython shell"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

(bjorn36) bjorn@bjorn-ThinkPad-T450s:~/python_packages/biopython$ python
Python 3.6.3 |Anaconda custom (64-bit)| (default, Oct 13 2017, 12:02:49)
[GCC 7.2.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

3.6.3 |Anaconda custom (64-bit)| (default, Oct 13 2

[2018-01-05 11:00] BjornFJohansson commented on #1491
I wrote up some more details here:

https://gist.github.com/BjornFJohansson/7c5185a38e024dc684762da272b29481

[2018-01-05 12:16] MarkusPiotrowski commented on #1491
@BjornFJohansson There is actually a PR (#1486) on a related issue by @peterjc, also related to the ```len()```.
Can you try his "hack" if this solves the problem?

[2018-01-05 12:55] peterjc commented on #1491
I'm guessing this is a Python 3 specific bug, is it easy for you to try this under Ipython with Python 2?

[2018-01-05 14:22] BjornFJohansson commented on #1491
My initial test with Python 3.6 confirm that #1486 also solves the IPython problem I have. I will try Python 2.7 as well.

[2018-01-05 14:30] BjornFJohansson commented on #1491
#1486 also solves IPython problem in 2.7.

[2018-01-07 00:43] peterjc commented on #1491
Excellent news, thank you @BjornFJohansson - and @MarkusPiotrowski for spotting the connection.

[2018-01-07 14:44] Gasta88 commented on #1473
Working on `Bio/Uniprot`, `Bio/motifs`, `Bio/KEGG`, `Bio/NMR` and `Bio/SCOP`.

[2018-01-07 18:47] #1482 closed

[2018-01-07 18:50] EmanIsmail opened #1494 "Fetch Protein domains??"
How can I fetch domains of protein from pfam DB?

[2018-01-07 18:58] JoaoRodrigues commented on #1494
@EmanIsmail: Biopython's issue tracker is not a 'generic' mailing list for bioinformatics. Questions such as this one would be better suited for [Biostars](https://www.biostars.org), [the Bioinformatics' Stack Exchange](https://bioinformatics.stackexchange.com), etc. Often, the databases you are trying to access have their own help pages (e.g. [PFAM's](http://pfam.xfam.org/help)) with examples on

[2018-01-07 18:58] #1494 closed

[2018-01-08 14:29] Gasta88 commented on #1473
I'll take `Bio/SeqIO`, `Bio/Crystal` and `Bio/SearchIO`.

[2018-01-08 14:35] peterjc commented on #1473
I'll do ``Bio/Sequencing/*.py`` now...

[2018-01-08 14:53] peterjc commented on #1490
I agree that as per  http://www.insdc.org/files/feature_table.html#3.4.3 a location ``123.456`` is currently considered valid GenBank syntax,

[code]

But I don't recall ever seeing one, and don't think the current Biopython object model can adequately express this.

And I think Terence is right, that regular expression you pointed to handles horrible locations like:

[code]

It is interesting tha

[2018-01-08 16:24] peterjc opened #1496 "numpy 1.14.0 breaks some doctests"
See e.g. https://travis-ci.org/biopython/biopython/jobs/326400449 from pull request #1495, which shows the following failures:

[code]

Quoting the NumPy 1.14.0 release notes:

Specifically I think we're seeing this change:

We might want to try calling ``numpy.set_printoptions(legacy="1.13")`` from ``run_tests.py`` to avoid this in the short term.

[2018-01-08 16:24] peterjc commented on #1496
Or, we could explicitly request numpy 1.13.x for TravisCI and AppVeyor?

[2018-01-09 03:26] JamesJeffryes opened #1497 "FeatureLocation allows for swapped start and end coordinates"
**Setup**
I am reporting a problem with Biopython version, Python version, and operating
system as follows:

2.7.10 (default, Feb 7 2017, 00:08:15)
[GCC 4.2.1 Compatible Apple LLVM 8.0.0 (clang-800.0.34)]
CPython
Darwin-16.7.0-x86_64-i386-64bit
1.70

**Expected behaviour**
If given a malformed location string in a genbank file where the end location is smaller than the start location(e.g. 3000..10

[2018-01-09 10:15] peterjc commented on #1497
The feature positions define an order, so this could be added to the ``FeatureLocation.__init__`` and cover both parser-created locations and user-created locations. It would be simplest to have this raise an exception there.

However, you specifically suggested a warning when parsing problematic locations like this. Would an exception cause you problems?

Would you like to work on this (submit a

[2018-01-09 14:20] JamesJeffryes commented on #1497
An exception will be fine for my uses. Thanks!

[2018-01-11 11:33] Gasta88 commented on #1473
I'll do `Bio/Pathway`, `Bio/NeuralNetwork` and `Bio/Blast`.

[2018-01-11 15:50] peterjc commented on #1491
Hmm, this isn't as simple as I was hoping for:

[code]

i.e. Neither ``__repr__`` nor ``__bool__`` are breaking in C Python.

[2018-01-11 15:51] peterjc commented on #1491
Reading the stacktrace in https://gist.github.com/BjornFJohansson/7c5185a38e024dc684762da272b29481 it makes sense that the ``__len__`` change on #1486 would also work for IPython.

[2018-01-11 16:55] BjornFJohansson commented on #1491
@peterjc That is my experience as well. We probably do not need both #1486 and #1491. What I do not know is if #1491 also solve the sphinx problem even in the absence of #1486. If it does, I wonder if people would agree with me that #1491 is slightly less hackish since we add a __bool__ method instead of a try except in __len__. Although I would be satisfied with either.

[2018-01-11 17:03] peterjc commented on #1491
I agree that explicitly defining ``__bool__`` is more elegant and cleaner than my try/except hack in ``__len__``. Although I do wonder if there are any enzymes where the length is reported as zero, and thus the boolean value would be false? Seems unlikely.

However... it was at almost same time, so you may not have seen this: https://github.com/biopython/biopython/pull/1486#issuecomment-356990613

[2018-01-11 17:24] BjornFJohansson commented on #1491
@peterjc I can not think of any situation where an enzyme should report False as the module only deals with enzymes with known recognition sequences... However, it is probably better to stick with #1486 and discard the #1491 since the former solves both problems.

[2018-01-11 17:38] MarkusPiotrowski commented on #1491
@BjornFJohansson Thank you for your efforts. I think it's consense that we should merge #1486 now (since it solves both problems) and close #1492.

[2018-01-11 21:22] peterjc commented on #1491
Agreed, thank you both for looking at this.

[2018-01-11 21:22] #1491 closed

[2018-01-12 16:11] peterjc commented on #1473
Good work everyone. We're almost there - just three left:

[code]

Markus' pull request #1501 will fix these (and adds the latest NCBI genetic codes to our codon tables).

Once that's merged, we can start enforcing ``D401`` in the ``Bio/.flake8`` configuration.

[2018-01-13 09:33] MarkusPiotrowski commented on #1377
This has been solved in #1479, I found a valide and working version here: http://viscose.herokuapp.com/html/alphabets.html. So I'm closing this now.

[2018-01-13 09:33] #1377 closed

[2018-01-16 03:52] ctSkennerton opened #1507 "Translation of partial sequence in a different frame"
I've found that when translating a partial feature from a genbank file (https://www.ncbi.nlm.nih.gov/nuccore/938512178) with a `codon_start` tag the correct frame isn't used. Is there another way to translate a feature such that this information is taken into account?

### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

### Expected

[2018-01-16 08:54] Gasta88 commented on #1152
Installed MSMS on my Linux environment and I'm carry on some testing for the `Bio.PDB.ResidueDepth` module. A new PR will be open in the near future.

[2018-01-16 08:54] #1152 closed

[2018-01-16 09:43] peterjc commented on #1507
Personally I've never needed to do much with partial gene features, but have pondered this functionality as a sister method of the ``SeqFeature``'s existing ``extract`` method. i.e. Something to extract and translate the sequence using any ``codon_start`` and ``transl_table`` information from the qualifiers.

So currently nothing built in, you'd need to do something like this I'd guess:

[code]

[2018-01-16 10:33] peterjc commented on #1152
See #1508

[2018-01-17 00:01] ctSkennerton commented on #1507
Thanks for the solution Peter. I made a pull #1509 as a possible way to add in a translate method for seqfeatures.

[2018-01-17 00:01] #1507 closed

[2018-01-17 11:36] peterjc commented on #1481
We have now closed the ``biopython-dev`` mailing list, having moved all its subscribers over to the main ``biopython`` mailing list:

http://mailman.open-bio.org/pipermail/biopython/2018-January/016339.html

There have been no objections to the suggestion we close the ``biopython-announce`` list in future (i.e. when we do the migration).

[2018-01-17 18:41] anusurendra opened #1510 "Way to highlight pathway based on a compound"
Hi,
I am new to biopython and the KGML module. I am wondering if there is a way to highlight a pathway based on a compound. Below is the code I am using, with the help of the KGML tutorial:
[code]
However, this is only highlighting the compound element. Any help is appreciated.

[2018-01-18 09:54] peterjc commented on #1510
Perhaps @widdowquinn can advise here? It might help to read his blog posts about the work leading up to what went into Biopython for drawing KEGG diagrams:

https://armchairbiology.blogspot.co.uk/2013/01/keggwatch-part-i.html
https://armchairbiology.blogspot.co.uk/2013/02/keggwatch-part-ii.html
https://armchairbiology.blogspot.co.uk/2013/02/keggwatch-part-iii.html

Some of the pictures are lovely,

[2018-01-18 16:00] anusurendra commented on #1510
@peterjc,
Thanks for the quick reply and passing along this question to @widdowquinn. I have gone through the blogs and used one of the tutorial examples to get started. However, there does not seem to be tutorial that shows a way to highlight a specific pathway or part of a pathway.

[2018-01-18 19:44] widdowquinn commented on #1510
Hi both,

Assuming you know (or can determine) the reactions that constitute the pathway you want to highlight in one of the three KEGG maps that describe the locations/paths of arrows that represent reactions, the way you would highlight those elements in the map would be to iterate over them and modify some combination of line thickness, colour, and transparency. See cells 46 onwards here: <http

[2018-01-18 21:04] anusurendra commented on #1510
@widdowquinn,
Thank you for pointing me to the notebook, I really appreciate it. I have another quick question. Is there a way to make the font on the labels larger?

[2018-01-19 16:37] raoasifraza11 opened #1511 "Is there any way to remove gaps and complete deletion from fasta file"
### Setup

I want to remove gaps "----" form align fasta file. I search from documentation but did't found any hlep. Can any one help me?

[code]

[2018-01-19 17:58] kblin opened #1512 "UnknownSeq.ungap() ignores the passed gap character"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

I took the liberty of adding my git hash. :)

### Expected behaviour

`UnknownSeq.ungap()` passes on the gap character used to `Seq.ungap()` in https://github.com/biopython/biopython/blob/master/Bio/Seq.py#L1693

### Actual behaviour

Gap character is ignored.

### Steps to reprodu

[2018-01-19 18:03] kblin commented on #1512
I'll do a patch for this next week, just can't be bothered today.

[2018-01-20 17:40] widdowquinn commented on #1510
When you create a `KGMLCanvas` object (e.g. with `KGMLCanvas(KGML_parser.read(kegg_get("ko00061", "kgml")))` you can specify a font size with the `fontsize` argument:

[code]

Or, after creating the instance, you can modify the `fontsize` parameter directly:

[code]

[2018-01-22 12:30] peterjc commented on #1512
Opps. Good catch. The fix look easy (one word), but adding a unit test is slightly more work.

[2018-01-22 14:46] peterjc commented on #1481
Cross reference website update via https://github.com/biopython/biopython.github.io/commit/aead627059e7d908599d3db154d7608059c7c57f

[2018-01-22 15:16] anusurendra commented on #1510
@widdowquinn,
Thanks for that help. I am wondering if there is a way to change the font-size of certain compound circles.
Thanks again.

[2018-01-22 15:27] peterjc commented on #1511
The ``Seq`` object has an ``.ungap()`` method, which should help do what you want, e.g.

[code]

If that is not enough, could you be more explicit about what you want to do? Can you give an example of the input file and desired output?

[2018-01-22 15:31] widdowquinn commented on #1510
You mean to change the font size of a subset of all the compound circles, in order to highlight them? I don't think there's a way to do that in the current API.

Off the top of my head, the changes we'd need to make to the `KGML_vis.py` code would be to allow each graphical element to have a `.fontsize` attribute, then override the `KGMLCanvas` default `self.fontsize` in the `__add_labels()` metho

[2018-01-22 15:36] anusurendra commented on #1510
@widdowquinn,

Thanks for that information. I really appreciate it :).

[2018-01-23 04:32] janeetjovial commented on #1511
Hello! I tried this method earlier but it only removes (-) from the input aligned file.  Actually i need to apply complete deletion method in which all the gaps and missing residues should be removed. So is there any way to remove residues(entries ) against gap (-) in aligned file?

[2018-01-23 08:53] mdehoon commented on #1382
Given that Medline records can now contain multiple AD lines, I think that the parser should now return a list of strings. Looking at the parser code, I think that treating AD the same way as MH should solve the problem.
@guerrajorge  Would you be able to create a pull request to fix this bug?

[2018-01-23 09:37] raoasifraza11 commented on #1511
@peterjc

[2018-01-23 09:38] peterjc commented on #1511
Ah! So what you want to do is manipulate the alignment as a matrix, and remove columns which have any gaps (or some other criteria?). The tutorial http://biopython.org/DIST/docs/tutorial/Tutorial.html touches on this

[code]

Right now there is nothing built in, but I did wonder this a long time ago: http://mailman.open-bio.org/pipermail/biopython-dev/2010-June/016979.html

[2018-01-23 09:39] raoasifraza11 commented on #1511
@peterjc Okay let me check it.

[2018-01-24 03:57] janeetjovial commented on #1511
Thanks @peterjc . This can be helpful i guess.

[2018-01-24 17:05] peterjc opened #1515 "Replace use of mult-line assert statements"
Biopython has lots of ``assert`` statements, many of which are in code for parsing files and might be better turned into explicit error raising code:

[code]

Note there are some which are really in-line self tests, which I am more comfortable with, but this is still not ideal:

[code]

In order to enable ``flake8`` check E127, I would particularly like to fix the multi-line assert statements. Som

[2018-01-24 21:20] MarkusPiotrowski commented on #1515
I also want to shortly point out that ```assert```s are not the tool to inform the **user** about possible errors. Asserts are for the **programmer** to check for conditions that *should never* occur, and if they occur, then there is a problem with my code. E.g. my intention and expectation is that  ```count``` is always an ```int```. If it isn't I have missed something crucial.
If an error is *li

[2018-01-24 22:14] siongkong commented on #1515
I replaced the multiline assert statements in the HMM module, PR in #1516.

[2018-01-25 10:36] peterjc commented on #1515
@MarkusPiotrowski you're right, there is a spectrum here. See also https://wiki.python.org/moin/UsingAssertionsEffectively

From memory, most of the asserts in our parser code are defensive coding which could be triggered by bad input. Many of those ought to be exceptions.

Even for the Biopython programmer's sanity checks, there is an argument for using exceptions as ``python -O ...`` would turn

[2018-01-26 18:27] cparmet opened #1517 "Enhancement? Support for Entrez on AWS Lambda and perhaps other serverless platforms"
### Setup

Hi there. Huge huge fan of the Entrez module.

This is more of an FYI, in case it's useful to know my experience. I defer to the team about whether this enhancement rises to the level of a revision to the package.

I had a Flask web app that uses Entrez working on my local Windows 10 machine. When I deployed to Amazon Web Services as a Lambda function, it ran into trouble.

[code]

###

[2018-01-28 22:49] peterjc commented on #1517
Would exposing the cache location via something like ``Bio.Entrez.cache`` work for you? I can see this might have other applications, e.g. running Biopython as apache as part of a webservice.

CC @mdehoon

[2018-01-29 01:46] mdehoon commented on #1517
@peterjc  Yes exposing Bio.Entrez.cache would work. It's a bit fragile, since python will try to create the directory as soon as Bio.Entrez.Parser is imported.
So
[code]
works, but
[code]
wouldn't.

[2018-01-29 12:41] peterjc commented on #1517
Hmm. Style wise it is unfortunate - lots of projects like to have all their imports at top level before any code (and there are flake8 plugins etc to enforce this).

We could delay looking at the cache folder, but I think even with that proviso it would work for this use case.

What do you think @cparmet ?

[2018-01-29 13:05] cparmet commented on #1517
Peter, this would certainly work for my use case. I see the style issue you
mean and the need to import Parser carefully, but for the added
functionality it would have absolutely been worth it and a timesaver.

Thank you for considering my enhancement request.

On Mon, Jan 29, 2018 at 7:41 AM, Peter Cock <notifications@github.com>
wrote:

[2018-01-29 14:16] peterjc commented on #1517
@cparmet would you like to make a pull request implementing this idea?

[2018-01-29 16:01] cparmet commented on #1517
@peterjc Absolutely I'd love to, and will test with an AWS Lambda
deployment.

On Mon, Jan 29, 2018 at 9:16 AM, Peter Cock <notifications@github.com>
wrote:

[2018-01-30 10:40] kblin commented on #1512
One week later than intended, but there we go. :)

[2018-01-30 10:52] peterjc commented on #1512
Thanks! I was wondering if I should do it if I got a lull in my day.

[2018-01-30 12:04] peterjc opened #1520 "BioSQL mysql connector, InterfaceError: Use multi=True when executing multiple statements"
### Setup

I am reporting a problem with Biopython version 1.70.dev0, Python version PyPy 5.8.0, under TravisCI:

https://travis-ci.org/peterjc/biopython/jobs/335109271

### Expected behaviour

Test pass, as seen with PyPy 5.7.1, e.g.

[code]

Excerpt from https://travis-ci.org/biopython/biopython/jobs/335102378

### Actual behaviour

Using PyPy 5.8.0 fails:

[code]

Excerpt from https://travis-ci

[2018-01-30 13:17] peterjc commented on #1520
Duplicate of #1274 - I should have searched, I thought this felt familiar.

[2018-01-30 13:17] #1520 closed

[2018-01-30 20:39] btski opened #1521 "Include distout option in MAFFT wrapper"
MAFFT provides distance scoring through the distout command which does not appear available via the command line wrapper. It seems it may have been done in the past (https://www.biostars.org/p/6732/), but I see no record on this GitHub page mentioning a distout feature. I am interested in an alignment scoring feature and will attempt to make modifications to the wrapper accordingly.

[2018-01-30 23:31] btski commented on #1521
Source code: https://github.com/biopython/biopython/blob/master/Bio/Align/Applications/_Mafft.py
Seems including the distout feature to the wrapper should be as simple as adding two lines of code:
_Switch(["--distout", "distout"],
              "Generates distance matrix as hat2 file. Default: off"),
However, I don't seem to be modifying the same file being called. I've tried following the file pa

[2018-01-31 10:05] peterjc commented on #1521
Yes, editing installed Python files is not recommended - although it can be done.

Your proposal makes sense if MAFFT has this option - but my version does not seem to:

[code]

That's only some of the options - https://mafft.cbrc.jp/alignment/software/manual/manual.html#lbAI lists more, but again I don't see a ``distout`` feature.

Right now https://www.biostars.org/p/6732/ is failing (Internal S

[2018-01-31 10:59] muffinman563 opened #1523 "test_water_file (test_Emboss.PairwiseAlignmentTests) error"
Hello, i am trying to install Biopython 1.70 and ran the following code:

python setup.py test

I noticed 1 failure which was:

FAIL: test_water_file (test_Emboss.PairwiseAlignmentTests)
water with the asis trick, output to a file.

How can i amend this?
Thank you

### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

[2018-01-31 11:31] peterjc commented on #1523
What version of EMBOSS do you have? e.g.

[code]

Can you share the full error message from the tests? I would expect a stack trace.

[2018-01-31 13:54] peterjc commented on #1497
Closed via #1499, thank you James!

[2018-01-31 13:54] #1497 closed

[2018-02-01 21:34] btski commented on #1521
Sorry, here's an image of the biostars post:
<img width="879" alt="screen shot 2018-02-01 at 3 23 03 pm" src="https://user-images.githubusercontent.com/32686196/35704081-da78f864-0763-11e8-8a09-361819e3ee99.png">

The distout feature is in the source code but isn't documented (the biostars post seems to be the best existing documentation). I am currently using MAFFT v7.310 (2017/Mar/17). I will up

[2018-02-02 11:02] peterjc commented on #1521
OK, assuming the MAFFT authors are happy for people to use ``--distout`` adding it to the Biopython wrapper is a good idea. Would you be able to submit a pull request doing this, and adding a brief test using the new argument and confirming the file is created?

[2018-02-02 12:14] mihailefter opened #1524 "Entrez urlopen socket timeout"
Some of our processes that make use of the Entrez module seem to stall unexpectedly from time to time. This could be because they are waiting for an NCBI response which doesn't arrive any longer. For this reason, maybe it would be nice to be able to pass a `timeout` value to the [`urlopen()`](https://github.com/biopython/biopython/blob/master/Bio/Entrez/__init__.py#L526) function, part of the [`Bi

[2018-02-02 13:14] peterjc commented on #1524
I take it simply catching the timeout exception is not an elegant solution for you?

Have you noticed any pattern or particular examples where changing the default timeout helps? That would be great for manual testing.

Automated testing error conditions and other special cases against something like this against the live NCBI systems is tricky. We could use ``mock``, but its quite complicated. Se

[2018-02-02 16:26] chris-rands opened #1525 "Shadowing 'id' built-in function"
I hope it's okay not to use the template for this kind of issue, but I was just perusing some code and I noticed that the [`id` built-in function](https://docs.python.org/3/library/functions.html#id) is frequently shadowed in `Bio/SeqIO/FastaIO.py` (e.g. [here](https://github.com/biopython/biopython/blob/master/Bio/SeqIO/FastaIO.py#L179)). Of course this is harmless since the `id()` function is ne

[2018-02-02 16:46] peterjc commented on #1525
My personal feeling is that ``id`` as a variable name for ``identifier`` is harmless, as the built-in function ``id()`` is rarely used. It is also widespread in Biopython.

This also comes up in existing object attributes and argument names (e.g. ``SeqRecord``), where we can't change this without major disruption.

[2018-02-02 16:58] chris-rands commented on #1525
Thank you Peter, well since this is your view (and I agree we don't want to cause major disruption which such a  trivial change, even though it does contradict PEP8), shall we close the issue? Apologies for taking your time on this one!

[2018-02-02 22:17] btski commented on #1521
The developer's response in it's entirety:

The distout setting is not what I expected but with appropriate documentation it could still be useful.

[2018-02-03 13:13] peterjc commented on #1521
It is interesting to see those details - I would have guess this was a distance matrix computed from the MSA. It seems that the author does not really intend it for general use, so we probably shouldn't advertise it by adding it to the Biopython wrapper.

[2018-02-03 13:18] peterjc commented on #1221
I fixed the encoding issue a while ago, and our TravisCI ``flake8`` setup has been using ``flake8-rst-docstrings`` successfully for a long time now. Belated closing this issue.

[2018-02-03 13:18] #1221 closed

[2018-02-03 13:20] peterjc commented on #1525
Thanks for checking. There are lots of things in Biopython which don't follow PEP8, many choices made very early which pre-dated PEP8. Where we can change things without breaking backwards compatibility this seems worth while, see for example our efforts to adopt current coding conventions and docstring conventions.

See also https://github.com/biopython/biopython/commits/master/Bio/.flake8 for th

[2018-02-03 15:33] raoasifraza11 commented on #1511
I am going to close this issue the above answer is not the solution which we want.

[2018-02-03 15:33] #1511 closed

[2018-02-07 10:31] Gasta88 commented on #820
Hi @peterjc , I see that `AlignIO/FastaIO` need to be sorted out, but the `test_AlignIO_FastaIO.py` script has been already developed (by you).

Is it ok if I edit this script to use `unittest`, or shall i just remove the self-test from `FastaIO`?

[2018-02-07 11:11] peterjc commented on #820
@Gasta88 from a quick check by eye, the current ``Tests/test_AlignIO_FastaIO.py`` covers everything in the self-test in ``Bio/AlignIO/FastaIO.py``, so a pull request to remove the self-test seems fine.

If you also wanted to convert ``Tests/test_AlignIO_FastaIO.py`` from its current print-and-compare style to a ``unittest`` based style, that would also be very welcome. Thanks!

[2018-02-11 11:31] rbutleriii opened #1528 "ValidationError With Clinvar and rettype variation"
### Setup
I am reporting a problem with Biopython version, Python version, and operating
system as follows:

Python 3.5.2 (default, Nov 23 2017, 16:37:01)
[GCC 5.4.0 20160609]
CPython
Linux-4.4.0-43-Microsoft-x86_64-with-Ubuntu-16.04-xenial
Biopython 1.70

### Expected behaviour
[code]
should return an xml

### Actual behaviour
[code]
### Steps to reproduce

I tried replacing my DTD folder with th

[2018-02-12 10:33] peterjc commented on #1528
Thanks for reporting this.

This kind of DTD XML validation problem is usually a (temporary) problem with the NCBI where the DTD file is out of sync, or sometimes the back end system for some of their databases simply do not have a defined DTD. In these cases, an non-DTD based XML parser is the best fall back, and Python comes with several (e.g. ``ElementTree``).

Sadly here the NCBI are simply no

[2018-02-13 15:48] rbutleriii commented on #1528
My response from eutilities was somewhat uninformative:

I did some browsing on the ftp, and the structure may have changed. They also appear to be using xsd to validate now. I am a bit in over my depth here, but if I put the clinvar .xsd in the Bio/Entrez/XSD folder, will it check there?

[2018-02-13 16:14] peterjc commented on #1528
There seem to be some confusion in the communications with the NCBI - there are no 3rd party tools involved in the key questions:

* Does the Clinvar XML have a DTD? If so, why doesn't the Entrez Clinvar XML refer to it?

It appears there is no DTD file (unlike most of the databases supported by Entrez with XML output).

* Does the Clinvar XML have an XSD? If so, why doesn't the Entrez Clinvar XML

[2018-02-15 04:04] EdwardBlakeMiller commented on #1402
The latest commit still can result in crashes on Windows with python3.

For example, the following URL, generated from an NCBI request, returns an xml file:

`https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=protein&id=71042798%2C157833493%2C371927696%2C157834149%2C386783435%2C390981250%2C848130061%2C99031714%2C40889881%2C835020732%2C119390124%2C308198780%2C157833610%2C161172175%2C2781

[2018-02-15 12:58] peterjc commented on #1402
@EdwardBlakeMiller Please report to the NCBI that with ``db=protein`` and ``retmode=xml`` you are getting back an XML file which does not declare its encoding.

But good to know that in this example too, defaulting to UTF-8 works.

[2018-02-15 15:02] mrdzne opened #1531 "Incorrect sequence read when loading ab1 file with low quality by SeqIO.read"
Hey there,

I am reporting a problem with Biopython 1.70, Python version 3.6.4 on Linux-4.15.3-1-ARCH-x86_64-with-arch.

It appears that the nucleotide sequence is incorrectly parsed, when loading the attached file test.ab1 with SeqIO.read. Specifically, nucleotide 336 should either be a G or a N, not a C. The sequencing quality is bad at this position, so probably it should be a N.

[seq.zip](htt

[2018-02-15 15:03] EdwardBlakeMiller commented on #1402
Hi, @peterjc. Is there a submission form to use to report this to the NCBI?

[2018-02-15 16:53] peterjc commented on #1402
I don't think there is a contact form, try the ``eutilities`` at ``ncbi.nlm.nih.gov``  address? You can CC my GoogleMail address if you like.

[2018-02-15 16:55] peterjc commented on #1531
Thanks for providing a test case, that should make things much easier to investigate.

[2018-02-15 17:35] mrdzne commented on #1531
`#!/usr/bin/python
from Bio import SeqIO

record=SeqIO.read("test.ab1","abi")
print("Read at position 336: " + record.seq[335 ])
print("Quality of sequencing at position 336: " + str(record.letter_annotations['phred_quality'][335]))`

See the above minimal working example.

If you open that file manually in SnapGene or SequenceViewer (these are the two Windows freeware ab1 file readers I checked),

[2018-02-15 18:12] MarkusPiotrowski commented on #1531
I opened the file in another freeware to read abi files (Chromas) where you can display the "original" sequence, and this has a C. So this is not a real bug. The file seems to contain two sequences, the sequence called by the base caller and the user edited sequence. It seems that SeqIO returns the first one.

[2018-02-15 18:32] mrdzne commented on #1531
I agree that the sequence is ambiguous (hence I think N is maybe more appropriate).
But also in Chromas at position 336 the peak for G is higher than the one for C, right?

I doubt the file has been manually edited though - it came from the sequencing provider like this. I will re-check with my coworker tomorrow though.

[2018-02-15 18:43] bow commented on #1531
@mrdzne, thanks for reporting the error and including the test case. @MarkusPiotrowski is right, this isn't a bug per-se, but a decision that we made earlier to show the sequence as called by the base caller.

If you're interested, the details are in [the ABI file specification](http://www6.appliedbiosystems.com/support/software_community/ABIF_File_Format.pdf), page 36. Look for the tag called `PB

[2018-02-15 19:05] MarkusPiotrowski commented on #1531
@mrdzne Keep in mind that  ```SeqIO``` is just reporting the sequence as it was stored in the ab1 file, it is not re-interpreting the chromatogram data. And I also think that it is quite usual in sequencing facilities that _they_ edit the original sequence. As a wet bench biologist I agree with you that the interpretation should be 'S' (G or C). Could be a mixture of two sequences with a single nu

[2018-02-16 03:20] dhauge opened #1532 "The 'pairwise2.align.globalms' function is sometimes not returning any alignments"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

Calls to `Bio.pairwise2.align.globalms` with some sequences and weights return no alignments. Unless I am missing some subtlety of the algorithm it should always return something because there are always alignments, so there must be at least one best one.

One problematic set of ar

[2018-02-16 07:19] MarkusPiotrowski commented on #1532
Thank you for reporting, I will have a look into it. May take some days, though.

[2018-02-16 09:00] mrdzne commented on #1531
@MarkusPiotrowski @bow you guys were right, the sequence was user-edited by us at a previous stage. Probably the plasmid is a mixture of two variants, as resequencing yielded the same ambiguity at this position at a comparable quality.

I think an option to fetch the user-edited sequence would be great. Anyway, thanks for this great piece of software!

[2018-02-16 09:41] peterjc commented on #1531
An option to prefer the user-edited sequence seems a good idea (optional argument to the ABI parser), or perhaps even as a named format variant in the SeqIO interface?

Would ``abi`` (current default) and ``abi-edited`` make sense (use edited sequence if present)?

[2018-02-16 13:37] MarkusPiotrowski commented on #1532
@dhauge Good news for me, the v1.67 result was wrong. Actually there is a better alignment with score 11.

Good news for you: There may be a workaround by reversing the sequence input and reversing the ```penalize_end_gaps``` parameters.

[code]
So, if you receive an empty alignment, you can try to reverse sequence input and change ```penalize_end_gaps``` accordingly. Please let me known when you

[2018-02-16 14:42] bow commented on #1531
@peterjc , if possible I'd like to expose this via `SeqIO.[read|parse]` as a keyword argument that is ignored or will raise an error for non-ABI file formats.

Making a new `abi-edited` format works, but then there would be no option for users to use the user-edited variant with trimming (`abi-trim`), for example. Of course we can also add `abi-edited-trim`, but I think a better way is to have som

[2018-02-16 16:27] peterjc commented on #1531
I've thus far resisted allowing arbitrary keyword arguments to ``SeqIO`` (*Special cases aren't special enough to break the rules*), and the ``format-variant`` approach has generally sufficed. If you are suggesting allowing only keyword arguments with a format-underscore prefix, that gets more interesting, as it side steps the question about consistency in common argument names like (like trimming

[2018-02-16 18:27] dhauge commented on #1532
Thanks! I'll try the workaround

Here is a smaller case I encountered
[code]
For `1.70` it returns
[code]
whereas for `1.67` it returns
[code]

And removing 1 base pair from the end makes it start returning results. On `1.70`
[code]

[2018-02-16 20:04] dhauge commented on #1532
Stepping through the code in `_recover_alignments`, the short example above seems to hit the `dead_end = True` in
[code]
Is that really the correct behavior? Looking at the reverse of the alignments of the reversed strings gives an alignment with score `-7.5`
[code]
Which is a case where, iterating from the end, a `col_gap`  gets ended by opening a `row_gap`, so it seems it shouldn't be discarded

[2018-02-17 00:35] dhauge commented on #1532
Here's an even more minimal example
[code]

[2018-02-17 11:31] speleo3 opened #1533 "inconsistent types of MMCIF2Dict data values"
### Setup

`Bio.__version__`: 1.71.dev0

### Expected behaviour

Consistent types for `MMCIF2Dict` data values.

### Actual behaviour

It's unpredictable whether a key may hold `list` or `str` type.

If an item has more than one value, it only can be represented in a `loop_`. But if it has a single value, it could either be in a loop or not in a loop. To my understanding, both representations are

[2018-02-17 12:59] christopherjenness opened #1534 "NCBI BLAST AMI URL is incorrect"
It currently redirects to the correct URL, but this may not occur in the future

[2018-02-17 13:17] MarkusPiotrowski commented on #1532
@dhauge Yes, I spotted the problem at the same position. With ```Biopython 1.68``` on it is possible to have aligments where a gap in one sequence is followed by a gap in another sequences. This is the correct implementation of Gotoh's original algorithm. So the following alignment is valid and, depending on the costs you assign, also has a higher score:
[code]
This was not possible with the older

[2018-02-19 13:19] bow commented on #1531
@peterjc A prototype sounds nice. I'll try to write something up soon and ping everyone ~

[2018-02-19 20:05] jvollme commented on #1315
I also have this problem (Biopython 1.70). Newick and Nexus trees generated by Bio.Phylo are not readable at all by any tool. Also in the PhyloXML format, bootstraps are not recognized (by ITOL at least).
Is there some kind of workaround for this?

[2018-02-19 22:53] #1534 closed

[2018-02-19 22:53] peterjc commented on #1534
Thanks for the fix

[2018-02-20 09:59] peterjc commented on #1532
Nicely explained Markus. That sounds tricky.

[2018-02-20 10:16] peterjc commented on #1533
CC @JoaoRodrigues @jgreener64 @etal

[2018-02-20 10:26] speleo3 commented on #1533
[gemmi](https://github.com/project-gemmi/gemmi) library has a **find_values** method that always returns a list:
http://gemmi.readthedocs.io/en/latest/cif-parser.html#pair-or-loop

[2018-02-20 10:41] jgreener64 commented on #1533
I follow your logic and guess this is an inconsistency, I don't think I'll have time to look at it now though.

I guess as a workaround use:
[code]

Of your suggested solutions, the first seems better long term but is breaking. I suppose the second would be implemented by the following in `MMCIF2Dict`:

[code]

This could be a simple-ish PR?

[2018-02-20 11:57] azneto opened #1536 "Questions: interproscan suport"
I have to parse a xml from Inteproscan and couldn't find a python module for that.
Should I just deal with the XML directly or is it worth to implement a biopython module + the XML parser?
If the best option is to create the module, should it be independent, like Bio/Blast, or should it integrate Bio/SearchIO?

[2018-02-20 12:12] peterjc commented on #1536
I would think integration into ``Bio.SearchIO`` would be best, what do you think @bow ?

[2018-02-20 13:11] jvollme opened #1537 "No default value for "unsupported" clades in Phylo.get_support?"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

When inferring bootsrap values for a reference tree using a set of replicate trees with ```get_support```, I would expect "unsupported" branches (not found in the replicate trees) to get a support value of "0".

However, it seems unsupported clades do not get any support value. Thi

[2018-02-20 13:19] peterjc commented on #1537
Can you give a concrete example? Do you get the special return value ``None`` or an exception like a ``KeyError``?

--

Regarding colons, see #888, #1315, #1276

[2018-02-20 14:14] jvollme commented on #1537
Here is an example using this reference: [reference_tree.ntree.txt](https://github.com/biopython/biopython/files/1740248/reference_tree.ntree.txt), and these 10 concatenated support trees: [ten_support_trees.ntree.txt](https://github.com/biopython/biopython/files/1740250/ten_support_trees.ntree.txt)  (I know ten are to few to get accurate support values. This is just an example). The leaves are ju

[2018-02-20 14:37] peterjc commented on #1537
I see what you mean now - that's very clear, thank you.

CC @lijax @etal

[2018-02-20 17:59] etal commented on #1537
A default support value of 0 sounds good to me.

[2018-02-20 18:08] jvollme commented on #1537
Thanks.
Just to be sure though, I think it would be important to set the support to that default "0.0" only during ```get_support``` and **not** e.g. as a potential general default for clade-objects.

[2018-02-20 18:27] bow commented on #1536
It does sound like a fit for SearchIO. It's also nice that the InterproScan team [has put up a proper documentation on what we can expect from the output](https://github.com/ebi-pf-team/interproscan/wiki/OutputFormats).

I would say it depends on your use case. Plain XML parsing seems to be the simplest and quickest way to get whatever you need from the file. But if you're interested in contributi

[2018-02-20 20:42] azneto commented on #1536
We're already using blast-xml, therefore interpro-xml would be a really nice solution for handling interproscan files. I'll study your code and give it a try. @bow , do you mind if I write you directly to have your feedback on my fork and discuss the progress?