[2018-07-04 14:44] #1600 closed

[2018-07-04 14:45] peterjc commented on #1652
Belatedly closing this issue thanks to your work on pull request #1653

[2018-07-04 14:45] #1652 closed

[2018-07-04 15:00] peterjc commented on #1650
I've retitled this issue as a potential enhancement to our ``setup.py`` file to use the ``extras_requires`` field.

We would have to define several named optional bundles, e.g. ``graphics`` which would pull in ``reportlab`` for ``Bio.Graphics``, and something generic for ``numpy`` - but other things like ``scipy``, ``matplolib`` and ``networkx`` seem harder to map to specific topics.

Also note th

[2018-07-04 15:04] peterjc commented on #1579
Looks like I didn't click the close button in April, trying again...

[2018-07-04 15:04] #1579 closed

[2018-07-04 15:06] peterjc commented on #1048
I think this is working as intended (giving an error for an invalid ID), closing.

[2018-07-04 15:06] #1048 closed

[2018-07-04 15:07] peterjc commented on #1608
As of Biopython 1.72 you will get a warning with these invalid locations, parsing will continue but the problem feature will have ``None`` as the location.`

[2018-07-04 15:10] peterjc commented on #518
I'm going to close this issue now - I hope the problem went away, but without more information I don't see what else we can do.

[2018-07-04 15:10] #518 closed

[2018-07-04 15:12] peterjc commented on #341
Unless someone can provide a test case (e.g. an EMBL accession), I think we can close this old issue...

[2018-07-04 15:15] peterjc commented on #480
Closing as a duplicate of #253

[2018-07-04 15:15] #480 closed

[2018-07-04 15:33] peterjc commented on #1427
After today's commits 5d3dbb12bf02a6c9ac1cd269571f7feb93dbd5a7 and 240e5fb0ef1c242fbcf21e78318323686a8e900c there should not be any references to the ``expasy.ch`` domain left.

[2018-07-04 15:33] #1427 closed

[2018-07-04 15:41] peterjc commented on #996
Good news: The bytes vs string issue seems to have been fixed.

Bad news: The regular expression used in the ``Doc/Tutorial/chapter_uniprot.tex`` tutorial example to get the matches fails.

Parsing HTML is always going to be fragile, but unless there is a better way to do this we might just want to remove that example (and consider deprecating ``Bio.ExPASy.sprot_search_ful``)?

[2018-07-04 15:55] peterjc commented on #372
Perhaps the ``SeqRecord`` object's ``.dbxrefs`` list is not the right place to record this annotation.

Reading https://web.expasy.org/docs/userman.html#DR_EMBL there is a lot of nuance here which would be difficult to recover if we just used a single flat list for the entire record.

[2018-07-05 09:34] peterjc commented on #1680
Hi @vineetgopal - thanks for commenting. I appreciate the design pressures when dealing with multiple input sources, especially if free format rather than restricted to a controlled vocabulary or ontology.

The INSDC feature key list is at http://www.insdc.org/documents/feature_table.html#7.2 (e.g. ``gene``) with the qualifiers (key-value entries) listed at http://www.insdc.org/documents/feature_t

[2018-07-05 10:31] peterjc opened #1715 "Rate limit calls to NCBIWWW.qblast function"
We simplified the delay code in ``NCBIWWW`` for Biopython 1.72,

https://github.com/biopython/biopython/blob/biopython-172/Bio/Blast/NCBIWWW.py#L162

However, this does not currently impose a delay check between calls to the ``qblast`` function, and it should.

The simplest way to do this would be to store previous call time at function level as implemented in our Entrez and TogoWS code - see http

[2018-07-05 10:39] peterjc commented on #1656
Closed via #1713, thanks Kai!

[2018-07-05 10:39] #1656 closed

[2018-07-05 13:31] peterjc opened #1716 "Using IUPAC alphabets in mixed case Seq objects"
Migrating from old RedMine issue https://redmine.open-bio.org/issues/2532 opened 30 June 2008 - cross reference #1040

Bio.Alphabets.IUPAC defines a number of alphabets with defined lists of valid letters which are in upper case ONLY.

Bio.Nexus and Bio.Sequencing.Phd create Seq objects which use these alphabets even with mixed case sequences.

This contradicts how I think the alphabet's .letters

[2018-07-05 13:33] peterjc commented on #1716
There were a few patches, eg mixed_case_IUPAC.patch Magnifier - Adding lower and mixed case IUPAC Alphabets (2.57 KB)

[code]

[2018-07-05 13:33] peterjc commented on #1716
Another patch I wrote 2008-12-22 nexus_alphabets.patch Magnifier - Patch for Bio/Nexus/Nexus.py (non IUPAC) alphabet handling (1.83 KB)

[code]

[2018-07-05 13:34] peterjc commented on #1716
I wrote this on 2008-06-30, phd_alpha.patch Magnifier - Patch to Bio.Sequencing.Phd (759 Bytes)

[code]

[2018-07-05 13:36] peterjc commented on #1716
Final patch was eee.txt Magnifier - Hack not to break on Ns for unknown bases in ESTs (1.29 KB) by Martin Mokrejs, 2008-07-18

[code]

[2018-07-05 13:38] peterjc opened #1717 "SeqFeature's .id property is not preserved in BioSQL"
Migrated from RedMine https://redmine.open-bio.org/issues/2526 which I filed on 2008-06-20

As per the title, a SeqFeature's .id property is not preserved after a save/retrieve in BioSQL.

I found this while working on Bug 2235, where my modified "swiss" parser creates SeqRecord objects with SeqFeature object which may have their .id set. Note that in GenBank and EMBL, the SeqFeature objects do no

[2018-07-05 13:42] peterjc opened #1718 "BioSQL: record annotations enhancements"
Migrated from https://redmine.open-bio.org/issues/2681 filed by @cymon on 2008-11-21

BioSQL storage and retrieval of record annotations. See also bug 2396.

Patch fixes 3 annotations:

1) Fixed date/dates typo.
2) comment's were being stored by not retrieved - fixed with test.
3) A 'reference' annotation, even if an empty list, was being retrieved in a
DBSeqRecord. Fixed so that if there are no r

[2018-07-05 13:43] peterjc commented on #1718
@cymon - are you OK with closing this? I don't immediately know where things stand with the current codebase...

[2018-07-05 13:45] peterjc opened #1719 "Nicer GC and AT content and skew functions"
Migrated from https://redmine.open-bio.org/issues/2705 which I filed on 2008-12-09

This bug started out as a discussion on Bug 2671, based on some nucleotide scoring functions in GenomeDiagram which were used for plotting sequence properties along a sequence using a sliding window. The basic underlying functions could make a nice addition under Bio.SeqUtils (rather than hiding them under Bio.Grap

[2018-07-05 13:51] peterjc opened #1720 "Bio.SeqUtils.CodonUsage is not translation table aware"
Migrated from https://redmine.open-bio.org/issues/2653 which I filed on 2008-11-11,

Comment from  Renato Alves,

[2018-07-05 13:52] peterjc commented on #962
This is a duplicate of #243.

[2018-07-05 13:52] #962 closed

[2018-07-05 13:53] peterjc commented on #1720
The divide by zero error noted by Renato was also logged as #243

[2018-07-05 13:54] peterjc commented on #1688
See also semi-related issues, divide-by-zero error #243 and fixed genetic code #1720

[2018-07-05 13:57] cymon commented on #1718
Sure... no problem.

[2018-07-05 13:57] #1718 closed

[2018-07-05 14:09] peterjc opened #1721 "Deprecate ParseBlastTable?"
This bit of code ``Bio/Blast/ParseBlastTable.py`` has no unit tests, and has had only maintaince updates (e.g. style changes) since @idoerg wrote it in 2003. It targets a niche part of the BLAST suite output:

Cross reference https://redmine.open-bio.org/issues/2319 filed by  Xizeng Mao on 2007-06-13,

[code]

To which @mdehoon replied:

[2018-07-05 14:16] peterjc opened #1722 "Column based iteration over MultipleSeqAlignment"
Migrated from https://redmine.open-bio.org/issues/3066 which I filed on 2010-04-28,

[code]

Comment from @etal,

My reply,

And also me,

[2018-07-05 14:17] peterjc commented on #1722
On the subject of numpy arrays, we added this example to the Tutorial some time ago:

[code]

[2018-07-05 14:21] peterjc commented on #1721
See also discussion on https://redmine.open-bio.org/issues/2929 filed by Miguel, on 2009-10-15

We may not be capturing everything in the blastpgp XML, but it seems a good replacement for the text output table.

[2018-07-05 14:25] peterjc opened #1723 "blastpgp XML parsing"
Migrated from https://redmine.open-bio.org/issues/2929 filed by Miguel, on 2009-10-15, in reference to the table parser issue now logged as #1721.

I asked:

He replied:

My reply, edited lightly:

[2018-07-05 14:34] peterjc opened #1724 "Parser for PHYLIP distance matrix files"
Migrated from https://redmine.open-bio.org/issues/2034 which I filed in 2006-06-27.
Cross reference #292 which added output in this format.

[code]

At the time I was unsure where this might fit in Biopython, perhaps under ``Bio.phylo`` which didn't exist at the time?

[2018-07-05 14:35] peterjc commented on #1724
@etal might this fit under ``Bio.phylo``? It would need some style updates and converting the test to use unittest.

[2018-07-05 14:37] peterjc opened #1725 "Bio.SeqIO support for NCBI protein tables (*.ptt files)"
Migrated from https://redmine.open-bio.org/issues/2819 which I filed on 2009-04-22,

ftp://ftp.ncbi.nih.gov/genomes/Protozoa/Cryptosporidium_parvum/

[2018-07-05 14:38] peterjc commented on #1725
Proposed file ``Bio/SeqIO/ProteinTableIO.py``,

[code]

[2018-07-05 14:39] peterjc commented on #1725
Out of date patch to add this to ``Bio/SeqIO/__init__.py``,

[code]

And patch to add a test:

[code]

[2018-07-05 14:51] peterjc opened #1726 "fastPHASE parser for AlignIO"
Migrated from https://redmine.open-bio.org/issues/2643 filed by @ dalloliogm on 2008-11-06, originally titled "Proposal: fastPhaseOutputIO for SeqIO"

In discussion it became clear that with pairwise sequences, AlignIO might be a better fit, but not conclusion was reached. I will try to attach the final versions of the code here as a record.

[2018-07-05 14:52] peterjc commented on #1726
fastPhaseOutputIO.py - fastPhase output iterator (returns an Alignment object with SeqRecords) (5.39 KB) Marco Dall'Olio, 11/10/2008 11:06 AM

[code]

[2018-07-05 14:53] peterjc commented on #1726
test_fastPhaseOutputIO.py - a doctest file to test fastPhaseOutputIterator (6.47 KB) Marco Dall'Olio, 11/09/2008 12:30 PM

[code]

[2018-07-05 14:54] peterjc commented on #1726
My final comment from nine years ago:

Hi Marco,

Looking at your example, the important part of the file is this bit:

...
BEGIN GENOTYPES
Ind1 # subpop. label: 6 (internally 1)
T T T T T G A A A C C A A A G A C G C T G C G T C A G C C T G C A A T C T G
T T T T T G C C C C C A A A A G C G C G T C G T C A G T C T A A G A C C T A
Ind2 # subpop. label: 6 (internally 1)
C T T T T G C C C T C A A A A

[2018-07-05 14:57] peterjc opened #1727 "Incremental parsing in Bio.Emboss.PrimerSearch"
Migrated from https://redmine.open-bio.org/issues/3057 which I filed on 2010-04-13,

[2018-07-06 03:53] etal commented on #1724
Yes, this would be nice to have under Bio.Phylo and would fit well alongside TreeConstructor.

[2018-07-09 09:57] peterhabib opened #1729 "Save the output of Alignment"
i trying to save the output of alignment in fasta file but still have problem with that

I am reporting a problem with biopython-1.71, Python version 3.4, and operating
system Ubuntu (bio-linux)

from Bio import pairwise2
from Bio.pairwise2 import format_alignment
from Bio import AlignIO
from Bio import SeqIO
alignments = pairwise2.align.globalxx("ACCCGTAAGCTACGGTCAGT", "ACTCGATACGGTCTGACG")
print

[2018-07-09 11:01] peterjc commented on #1729
The ``pairwise2`` module does not make ``SeqRecord`` objects - you need to do that, which means giving your sequences identifiers. This seems like a good thing to add to our documentation.

Also, with Biopython 1.72 (latest release) there is a newer alternative alignment tool under ``Bio.Align``, you might want to look at that (the tutorial was updated).

[2018-07-09 11:38] peterhabib commented on #1729
when i use the normal code to save which is this:
file = open('Alignment.txt', 'w')
file.write(alignments)
file.close()

the alignment in file is disrupted and overlapped (please, find the attached result file for more clarification)
[Alignment.txt](https://github.com/biopython/biopython/files/2175934/Alignment.txt)

[2018-07-09 12:00] peterjc commented on #1729
That output is not intended to be viewed with line wrapping. It is not actually very helpful once the alignment is longer than a screen width.

[2018-07-09 12:03] MarkusPiotrowski commented on #1729
It also depends on your text editor (e.g. how it handles line wrapping). In Notepad ++ it looks OK

[2018-07-09 12:05] peterjc commented on #1729
You could probably just do something like this, untested, working with the raw strings:

[code]

Ideally you can give the two sequence better names than A and B.

[2018-07-10 10:20] peterjc opened #1730 "TravisCI/Tox setup fails with tox v3.1.x"
There have been no recent changes to our TravisCI configuration but our automated tests are now failing as follows (the style stage passes, the main test stage fails):

[code]

[code]

The most recent passing build used Tox 3.0.0, while Tox 3.1.1 has broken.

From the timing, this is most likely due to the release of Tox 3.1.0 (2018-07-09) and 3.1.1 (2018-07-10), and from the release notes https:/

[2018-07-10 11:54] peterjc commented on #1730
I've changed our TravisCI setup to use Tox v3.0.0 as a workaround.

Leaving issue open to resolve what it is about our configuration which Tox v3.1 does not like.

Note we do not use the ``basepython`` setting.

[2018-07-10 12:00] reederz commented on #341
@peterjc can we re-open the issue? accession CM004508 (first record in ftp://ftp.ebi.ac.uk/pub/databases/embl/expanded_con/new/cum_exp_con_fun_01_r137.dat.gz) has CO line.

Stacktrace trying to parse:
[code]

BioPython version: 1.7.0

[2018-07-10 12:12] peterjc commented on #341
Certainly - especially as you provided a test case 👍

[2018-07-10 12:56] widdowquinn opened #1731 "Addition of a `Seq.join()` method"
### Setup

I would like to be able to use the string-like concatenation/addition behaviour of `Seq` objects in the same way as using `'some_string'.join()`, but this behaviour is not currently available.

### Expected behaviour

[code]

### Actual behaviour

Not implemented.

I appreciate that this is a minefield for resolving alphabets…

[2018-07-10 13:14] kblin commented on #341
Can't reproduce with https://www.ebi.ac.uk/Tools/dbfetch/dbfetch?db=embl&id=CM004508&style=raw

[2018-07-10 13:17] reederz commented on #341
The link you've provided contains different data to that in the dat file I linked. Here's what I have:
[CM004508.dat.gz](https://github.com/biopython/biopython/files/2180482/CM004508.dat.gz)

[2018-07-10 13:21] peterjc commented on #1730
Logged with Tox team as https://github.com/tox-dev/tox/issues/899

If this is related to the ``basepython`` settings change in Tox v3.0.0, is seems to be indirectly as we don't explicitly use that.

[2018-07-10 13:23] reederz commented on #341
I'll paste it in here too (without sequence):
[code]

[2018-07-10 13:30] kblin commented on #341
Note that this is the diff between the record I linked and the record from @reederz:

[code]
Notably, the `CO` line moved to after the feature table in the newer version.

[2018-07-10 13:31] reederz commented on #341
Maybe true but for what it's worth, I can find quite a few examples of feature table coming after CO.

[2018-07-10 13:31] peterjc commented on #341
So the FTP site version breaks, but dbfetch via the website is fine?

[2018-07-10 13:31] kblin commented on #341
Having said that, it looks like we're not treating `XX` lines like we should according to the manual.

[2018-07-10 13:33] kblin commented on #341
Yeah. I think they noticed they broke stuff, seeing how they released a version 1 four days after the version 0 that is on the FTP site.

[2018-07-10 13:35] peterjc commented on #341
That would make sense, in  ftp://ftp.ebi.ac.uk/pub/databases/embl/doc/usrman.txt  section *"3.4.14 The CO Line (in CON records only)"* clearly has the ``CO`` line after the feature table.

Does it seem like there was a glitch at the EBI releasing some files with CO before the FH and FT lines?

[2018-07-10 13:43] kblin commented on #341
Yes. And fixing this on our side is really non-trivial, as hitting a sequence start marker like `CO` or `SQ` sends our state machine into the "parse the sequence now" mode.

[2018-07-10 13:46] peterjc commented on #341
I would agree, the nature of the parser structure makes this a bit awkward to deal with.

I'm hoping the EBI sort this out, and the problem goes away - but if anyone can see an elegant fix I'll look at it for potential merging.

[2018-07-10 14:02] widdowquinn commented on #1731
Yeah, sorry about the mix-up of classes with `SeqIO.parse()` there… ;)

[2018-07-10 23:22] peterhabib commented on #1729
@peterjc

can you give me working Example using your code?
for align1, align2, score, begin, end in alignments:
    filename = "generate_name_here.fasta"
    with open(filename, "w" as handle:
        handle.write(">A\n%s\nB\n%s\n" % (align1, align2)

[2018-07-11 06:43] berrisfordjohn opened #1733 "parsing of anisotropic B factors in Bio/PDB/MMCIFParser.py uses wrong mmCIF category"
In Bio/PDB/MMCIFParser.py

The mmCIF parser tries to parse aniso records from the mmCIF file.
It uses _atom_site.aniso_U[1][1] to determine if an atom has aniso records.

aniso records are separate from atom_site in mmCIF
It should use the mmCIF category _atom_site_anisotrop

See (for example)
https://www.ebi.ac.uk/pdbe/entry-files/3nir.cif

Current behavior - all structures will have aniso_flag o

[2018-07-11 11:00] peterjc commented on #1729
I had a few typos in the snippet above, this has been tested:

[code]

[2018-07-11 11:22] peterhabib commented on #1729
Wow! Thank you Very much

[2018-07-11 19:58] aralap commented on #232
Initial commit of code #1734 to make this work, will add test for it soon.

[2018-07-17 00:32] peterjc opened #1737 "TravisCI: ReportLab 3.5.0 breaks tests under Python 2.7 and 3.5"
Noticed on some recent pull requests, e.g. https://github.com/biopython/biopython/pull/1735#issuecomment-405063386

Python 2.7.14,

[code]

and Python 3.5,

[code]

Given the timing it looks like the release of ReportLab 3.5.0 earlier this week is to blame, see https://pypi.org/project/reportlab/#history

e.g. Our weekly TravisCI cron job failed on the previously passing master branch:

https://tr

[2018-07-17 00:35] peterjc commented on #1730
We've updated our Tox configuration to work with this change, but in any case the Tox team have reverted this in Tox 3.1.2 as enough other projects were affected that they considered it an important regression.

[2018-07-17 00:35] #1730 closed

[2018-07-17 00:42] peterjc commented on #1737
Testing a workaround by pinning ReportLab 3.4
https://travis-ci.org/peterjc/biopython/builds/404681877

Note we currently only install ReportLab under Python 2.7 and 3.5, so that is why only those failed.

[2018-07-17 00:43] peterjc commented on #1729
Great - can you see a good place to add an example like this to the current tutorial?

(Note the pairwise alignment section changed quite a bit with Biopython 1.72's release)

Otherwise I think we can close this issue. Thanks!

[2018-07-17 05:40] swamyr commented on #1706
Yes. It has fixed. Thank you all for your prompt reply and support.

[2018-07-17 05:41] shivanand-cellworks commented on #1706
Yes. It has fixed. Thank you all for your prompt reply and support.

[2018-07-18 01:34] #1706 closed

[2018-07-19 19:36] althonos opened #1738 "Clarify "appropriate annotations preserved" when slicing a SeqRecord"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

### Expected behaviour

When slicing a `SeqRecord` instance, keep annotations of type `source` even when they overflow the slicing window. For instance, given a `SeqRecord` annotated coming completely from *E. coli*, slicing the record should return another `SeqRecord` also annotat

[2018-07-22 13:48] peterjc commented on #898
Another contributor to check:

 - [ ] Jason A. Hackney, see https://github.com/biopython/biopython/blob/biopython-172/Bio/motifs/mast.py#L2

[2018-07-23 08:45] voidxb commented on #1682
OK,I see,I will try it now

[2018-07-23 11:55] althonos commented on #1738
Ok, fair enough. I just felt that the "appropriate annotations preserved" also applied to the `source` feature as well, but I can get why you don't want any feature-specific behaviour.

[2018-07-23 12:48] althonos opened #1739 "`Bio.SeqIO.write` fails in Python 2 when using `io` module"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

### Expected behaviour

For a given record `r`,  `Bio.SeqIO.write(r, io.StringIO(), 'gb')` should write the record to the `StringIO`.
and `write(r, io.TextIOWrapper(gzip.open('/tmp/test.gb.gz', 'wb')), 'gb')` shoudl write the record to the gzip-compressed test file.

### Actual beh

[2018-07-23 14:46] peterhabib opened #1740 "problem with cross links between tracks"
i am trying to cross link between three records as described and shown in biopython tutorial

I am reporting a problem with biopython-1.71, Python version 3.4, and operating
system Ubuntu (bio-linux)

[code]

(*Please copy and run the above in your Python, and copy-and-paste the output*)

### Expected behaviour

give me figure like Figure 17.11 in page 285 of biopython tutorial

### Actual behavio

[2018-07-23 21:08] ananswam opened #1741 "Loading .ab1 files fails if the sample_id is not defined. Maybe define sample_id by default to some value?"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

3.5.5 |Anaconda custom (64-bit)| (default, Apr 26 2018, 08:11:22)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]
CPython
Darwin-15.4.0-x86_64-i386-64bit
1.70

### Expected behaviour

When reading in Sanger files (.ab1), I get an error that says local variable sequence_

[2018-07-24 01:56] peterhabib commented on #1729
i think you should add it at the end of multiple sequence alignment chapter to describe how dealing with outpout of alignment in another way other than AlignIO.Write()

[2018-07-24 06:08] mdehoon commented on #1681
@MarkusPiotrowski  Yesterday I had a chance to meet up with @peterjc , and we discussed the issue of alphabets in Biopython. Because of the complexity of alphabets and their use in Biopython, we felt that it may be a good idea to have a PEP (Python Enhancement Proposal)-like discussion to define the purpose of alphabets and their technical implementation in Biopython. This would mean that somebody

[2018-07-24 07:58] bow commented on #1741
Hi @ananswam,

Thanks for reporting! This sounds like a case where a tag that we expected to be present in the file (SMPL1) is missing. Would it be possible to attach an example file using which the error was triggered? Also, do you know if something specific happened for those samples when their data was input to the machine? We expected the SMPL1 tag to be set by the sequencing machine operator,

[2018-07-24 08:02] ananswam commented on #1741
Sure! Don't know what happened to the samples.
[EX25-1-A1-Sanger-For_A01.ab1.zip](https://github.com/biopython/biopython/files/2222598/EX25-1-A1-Sanger-For_A01.ab1.zip)

[2018-07-24 15:24] ewohnlich opened #1742 "HTML entities in abstracts incorrectly parsed"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

2.7.9 (default, Dec 10 2014, 12:28:03) [MSC v.1500 64 bit (AMD64)]
CPython
Windows-7-6.1.7601-SP1
1.72

### Behaviour

In a recent change, Entrez started allowing HTML tags in some fields like title and abstract and Biopython was updated to support this. However, it seems that HTML entitie

[2018-07-25 02:15] ewohnlich commented on #1742
I would expect it to be the following (truncated)
`StringElement('Self-reported lifetime... (TSH &gt;4.5 mIU/L) compared with normal TSH (0.4-<u>&lt;</u>4.5 mIU/L) and for anti-TPO positivity. We also examined pesticide associations with TSH, T4 and T3 in multivariate linear regression models.', attributes={u'NlmCategory': u'METHODS', u'Label': u'METHODS'})`

[2018-07-25 08:33] bow commented on #1741
Thanks @ananswam ~ the fix is really simple and they should be in `master` soon (see linked PR). In the meantime, if you would prefer to use an official release, your `locals()` fix should do the trick.

[2018-07-25 15:40] peterjc commented on #1742
Your proposal does match the raw XML,

[code]

I wonder what historically plain less-than and greater-than signs were presented as when parser with Biopython? Would this be a change?

[2018-07-26 04:30] peterjc commented on #1740
Does an unmodified https://github.com/biopython/biopython/blob/master/Doc/examples/Proux_et_al_2002_Figure_6.py work for you (other than adjusting the filenames)?

[2018-07-26 04:32] peterjc commented on #1738
Good point - my meaning with "appropriate annotations preserved" isn't necessarily going to be what the reader expects. We can try to improve that, reopening for a documentation clarification.

[2018-07-26 06:23] mdehoon commented on #1742
In the past, less-than and greater-than were returned as '<' and '>', not as '&lt;' and '&gt;'. This is actually done by the expat parser in the Python standard library (which is used by the Bio.Entrez parser).

The purpose of the parser is to convert XML to plain text (using the XML to organize the data). From this viewpoint, converting '&lt;' and '&gt;' to '<' and '>' makes sense; just the fact

[2018-07-26 12:03] althonos commented on #1739
Yes, but when trying to write to a compressed file, you may not have any other choice that writing in binary mode and using a `TextIOWrapper` to turn it into a text file. I'm writing my code in Python 3, so it more a question of being *past-proof*

Actually, I managed to fix the `biopython` source, so I could open a PR if you're interested. It's just a question of a `from __future__ import unicode

[2018-07-26 16:23] jadolfbr commented on #1551
This has broken many, many scripts out in the wild for PDB manipulation.  The chain at the end of the manipulation is consistent.  Raising an error before a whole work up of manipulation makes the manipulations harder to do, but if detach_child works, that would be great.  Perhaps it fails for consistent detaches?  I'll try the detach_child function on master. Thanks for the info.

[2018-07-26 18:34] ewohnlich commented on #1742
@mdehoon I think you are getting caught by the same behavior that got me, where github is rendering what you are trying to paste as html entities. We need to put it in markdown as code (I've updated my original post)

[2018-07-26 20:38] peterhabib commented on #1740
it gives the same error like follow:

    raise KeyError(id)
KeyError: 'lin2581'

[2018-07-27 05:30] paxelito commented on #1608
Dear all,

sorry to read here just now. I am really interested in this issue.
I think that this topic should not be related to the current distinct standards or formats (e.g. genbank). Unfortunately, they change in time and it is not possible to stick to all of them. Nevertheless, I think the problem concerns the biological description of a particular context, is an origin wrapping feature possibl

[2018-07-27 08:54] Zulko commented on #1608
From the discussion, I think everyone agrees that cross-origin features exist, the question is how to represent their location, either ``6800..100``, or ``join(6800..7000,1..100)`` (assuming a 7kb plasmid), and what should Biopython do with ``6800..100``.

Software like Benchling and SnapGene use ``6800..100``, which is why in synbio we see a lot of these. The problem with this representation is t

[2018-07-27 09:47] paxelito commented on #1608
@Zulko thank you for the summary, now everything is clear.
I agree that Biopython 1.70 works fine, nevertheless I think a solution must be found, not only to parse data from a whatever source but also to produce data from analysis. As far as I have understood the current solution now for cross-wrapping features should be using together ´CompoundLocaltion´and ´FeatureLocation´ as in the following

[2018-07-27 11:11] Bernhard10 commented on #1551
I believe that many scripts out in the wild used the old behaviour and made sure themselves that the chain was consistent at the end of all manipulations. I had I script like that as well.
However, I felt it would be better to let biopython ensure that the chain is consistent at all times. This way, I guess, many scripts in the future will be less error prone. I had many bugs where I changed a res

[2018-07-29 22:46] svalqui commented on #1466
I'll have a look at this.

[2018-07-30 01:34] peterjc commented on #1608
@paxelito yes, for creating origin wrapping features we expect you to explicitly construct the two halves, and combine them into a compound location as you have shown, or equivalently you can use the addition support:

[code]

[2018-07-30 01:54] peterjc opened #1745 "Automatically fix bad origin wrapping locations in GenBank/EMBL?"
Given a circular plasmid of say 7000bp, some tools producing GenBank format files are known to represent origin spanning locations as ``6800..100`` rather than the expected more explicit notation ``join(6800..7000,1..100)`` as used by the NCBI GenBank files. Likewise for reverse complement strand origin wrapping.

* Biopython up to 1.70 would parse locations like ``6800..100`` without error or war

[2018-07-30 01:56] peterjc commented on #1608
The best solution from my perspective is to report and fix non-standard tools (with no further action in Biopython).

Snapgene plan to fix their output for follow the NCBI GenBank join convention - are any of you paying customers of Benchling and in a position to ask they do the same?

However, it seems there would be value in going further and handling this in Bioypthon by automatically convertin

[2018-07-30 02:08] peterjc commented on #1739
So the real issue you are interested in is writing to a gzip handle, not using ``io.StringIO``? You don't need to use ``TextIOWrapper`` here though.

It reminds me of https://bugs.python.org/issue13989 which has been fixed, so this works for me on Python 2.7 and 3.6:

[code]

[2018-07-30 02:13] peterjc commented on #1740
I think it is likely the NCBI have changed the GenBank files again, and that the feature annotation does not quite match up anymore - most likely something simple like renaming ``locustag`` as happened before with https://github.com/biopython/biopython/commit/8457989f090df0e304e83cabff6d8cdc1a61a88e#diff-1d459d35ff06c386cd3dc362ccc22963

Can you find the string ``lin2581`` in your downloaded GenBa

[2018-07-30 08:04] bow commented on #1741
Closing this as the fix has been merged in #1743. Feel free to reopen if you encounter this again.

[2018-07-30 08:04] #1741 closed

[2018-07-30 10:37] kblin commented on #1608
There's NCBI RefSeq records that have features spanning the origin on circular bacterial genomes. They are always a pain to deal with, even if the GenBank file contains a correct CompoundLocation. Basically, on a circular genome you always need to check if you're working on a regular FeatureLocation or a CompoundLocation that spans the origin. Locations like that also make the logic of "get me all

[2018-07-30 11:05] kaskales commented on #1731
@peterjc I see this issue is still open. Is it ok if I give it a shot as well?

[2018-07-31 02:51] peterjc commented on #1731
@kaskales did you have any thoughts on examples like ``Seq("").join(some_dna_seqs)`` vs ``Seq("", some_generic_alphabet).join(some_dna_seqs)`` where in some senses the default/generic alphabet of the empty sequence space is not important for the combined sequence (which in this example might be expected to be DNA from the alphabet attributes set in ``some_dna_seqs``)

[2018-07-31 02:54] peterjc commented on #1608
@kblin That sounds like good use case for adding feature/location methods for extracting upstream/downstream/flanking sequences - does that seem worth opening an enhancement issue for?

[2018-07-31 09:16] kblin commented on #1608
Can do.

[2018-08-01 06:27] peterjc commented on #1731
Yes, I'm talking about the special case where the spacer is a zero length sequence.

[2018-08-08 08:06] svalqui commented on #1466
Hi @peterjc , I have opened a PR, it address the files found by the grep command, and few more I found, I think that covers the scope of this issue.
Regards,

[2018-08-08 10:23] chris-rands opened #1750 "Inconsistent behaviour with Seq '>' and '>=' operators"
### Setup

I am reporting a problem with Biopython version and operating
system as follows:

[code]
The behaviour is different in Python 2 and 3

###  Behaviour

Python 3.6.6:
[code]

Python 2.7.15:
[code]

It also impacts the `>=` operator in the same way. And it illustrates that the current Python 2 behaviour is wrong:

[code]

I'm not exactly sure what changed between Python 2 and 3, but I note

[2018-08-09 19:10] jianlianggao opened #1751 "What is return params for Gompertz function?"
Hi Bjorn,

I am trying to use your Python code to fit my data with Gompertz function. I want to plot the fitting results, but I am not sure your fit function return Gompertz parameters in the order of (A, u, d, v, y0). When I assumed they were in the order of (A, u, d, v, y0), I got an almost horizontal line rather than a growth curve. Looking for your advise please. Many thanks,

BW,
Jianliang

#

[2018-08-11 10:12] rtf-const commented on #1737
I finally realised the issue.
The assertion that fails is the one that simple checks that PDF file saved in a file binary equals to PDF saved as string. But reportlab add unique ID to each file, value of ID is depending on current timestamp, so the file generated now and after millisecod will be different because of different PDF ID.
But there is a way to switch out generating ID based on timestam

[2018-08-11 13:29] peterjc commented on #1737
Good work @rtf-const :)

[2018-08-11 13:45] peterjc commented on #1751
Are you asking about the Gompertz  function in ``Bio/phenotype/pm_fitting.py``?

You have not filling in an example of the code you are using, which is very helpful for understanding a bug report.

CC @mgalardini

[2018-08-11 13:46] peterjc commented on #1751
Also you have not copy-and-pasted the version information we ask for, which is again very important for understanding bug reports.

[2018-08-11 13:51] peterjc commented on #1750
It looks like an oversight with the way Python 2 and 3 object comparison changed. The design expectation is that ``my_seq`` and ``str(my_seq)`` should behave the same for comparison checks, i.e. act like a plain string.

Do you want to work on this?

[2018-08-11 14:01] peterjc commented on #1737
This seems to affect AppVeyor as well,

[code]

Seen on a couple of pull requests recently.

[2018-08-13 07:53] peterjc commented on #1737
Pull request #1753 should have fixed the TravisCI problem, let's see what AppVeyor does...

[2018-08-13 12:48] replabrobin commented on #1737
Hi, I am maintainer of the reportlab package and this is a reverse bug pointed out to me by a debian person. It seems the issue here is actually a repeatability issue. The difference between the two versions of GD_region_linear.pdf is caused by an id embedded in the document so in one case it is

/ID [<9737910ac7bddb2a43b171782188193c> <9737910ac7bddb2a43b171782188193c>]

and in the other

/ID [<b

[2018-08-13 12:58] peterjc commented on #1737
Thanks Robin - following up on this from the ReportLab side is a welcome surprise.

Your patch sets a specific date, while @rtf-const toggled this setting:

[code]

Our Linux (TravisCI) and Windows (AppVeyor) tests are now passing.

As to the ``\r\n`` special case in the comparison, that dates back to cfc38cecd5ef71c81b7ce1e59fb4ca3a3188aa3d and may reflect some confusion at the time when I was ge

[2018-08-13 12:58] #1737 closed

[2018-08-13 13:07] peterjc commented on #1737
Testing https://github.com/peterjc/biopython/tree/binary-pdf right now:

https://ci.appveyor.com/project/peterjc/biopython/build/0.0.261
https://travis-ci.org/peterjc/biopython/builds/415436696

[2018-08-13 13:11] replabrobin commented on #1737
Hi Peter, the alternative using rl_config is another way to do this; it changes other things in the PDF as well eg it removes pdf comments that might have python ids in so is probably preferred for this case.

[2018-08-13 14:30] peterjc commented on #1737
Test cleanup applied as c7b909e842139f82d87639f3080bc45ff9613cca - thanks @replabrobin

[2018-08-13 21:33] maquino1985 opened #1754 "biopython SeqIO.parse pukes trying to parse IMGT.dat db file"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

[code]

### Expected behaviour

expect: No errors

### Actual behaviour

[code]

### Steps to reproduce

Download imgt.dat.Z from IMGT http://www.imgt.org/download/LIGM-DB/, gunzip the file, and parse it with SeqIO as 'imgt' format.

[2018-08-14 12:02] peterjc commented on #1754
Biopython 1.72 is the current release, but does not fix this. Reproduced with:

[code]

[2018-08-14 13:04] maquino1985 commented on #1754
Thanks Peter.  I'll let the folks at IMGT know.

[2018-08-14 13:05] #1754 closed

[2018-08-14 14:05] jianlianggao commented on #1751
Hi Marco,

Thank you very much for this. I played with the initial of p0 and when I used 1.2 and 0.1 rather than 4.0 and 0.1, I got  nice gompertz fitting using the fit function in Biopython, same as the red line in your plot.

Best wishes,
Jianliang

[2018-08-14 14:05] #1751 closed

[2018-08-14 15:39] SchwarzMarek commented on #1738
Hello,
I've needed to do some visualization on sliced sequences and I wanted to have features spanning bounds of the slice preserved. Since this behaviour is not supported by standard slice I've wrote function for this kind of slicing.

My feeling is, that I'm not the only one with need for such slicing function (not to replace the standard one). I'm considering opening a PR, but the code need som

[2018-08-14 15:56] peterjc commented on #1738
@SchwarzMarek Why not open a new issue to discuss this, including what happens to features which get clipped, and how the functionality might be exposed (e.g. maybe a new ``SeqRecord`` method, but what to call it?).

[2018-08-15 07:15] SchwarzMarek opened #1755 "SeqRecord slice with feature clipping"
## Enhancement discussion
This is continuation of discussion form #1738

### method / function name
some brainstorming
- slice_features
- slice_with_features
- slice_with_annotations (this would imply also preserving annotations)
- view
- window

### Clipped features:
Features which get clipped get their appropriate position in FeatureLocation changed to BeforePosition or AfterPosition.
Informatio

[2018-08-15 12:01] peterjc commented on #1755
We could perhaps follow the example of (e.g.) the ``seq_record.reverse_complement()`` method for deciding and controlling which annotation is kept or discarded:

https://github.com/biopython/biopython/blob/biopython-172/Bio/SeqRecord.py#L1000

That would also be more flexible than the ``seq_record[start:stop]`` slicing which cannot take optional arguments.

--

You are proposing using ``BeforePosi

[2018-08-15 12:28] SchwarzMarek commented on #1755
I agree with the seq_record.reverse_complement() example.

--

Using the `BeforePosition` and `AfterPosition` appeared to me better then directly setting the position to beginning/end of the sequence.
The `OneOfPosition` might be resolved by reducing it only to positions within wanted scope. If none of `OneOfPositions` is within the scope then replace it with either `Before/After Position`.

From

[2018-08-15 12:44] peterjc commented on #1755
Currently with ``SeqRecord`` slicing features are only retained if they fall fully within the window - a ``CompoundLocation`` where one exon is in the window and another outside the window is dropped entirely.

[2018-08-15 12:54] peterjc commented on #1013
With #1747 merged, another group of unwanted files from the test suite have been fixed.

Leaving this issue open pending a complete audit.

[2018-08-16 14:19] JohnMCMa opened #1756 "bwa mem support for Bio::Sequencing::Applications::_bwa"
This is more of an Enhancement request.

As most of us know bwa has implemented the mem mode for quite a while. However, while Biopython has wrappers for bwa aln, samse, sampe and samsw, there is no wrapper for the mem alignment, which is frequently used. I think a wrapper for bwa mem is urgently needed.

[2018-08-16 15:59] chris-rands commented on #1750
Thanks Peter, I will work on a PR when I find the time

[2018-08-16 16:34] peterjc commented on #1756
True - @saketkc as the original wrapper author, do you want to do this, or would you be happy for someone else to volunteer?

[2018-08-16 18:02] VishwanathRavula commented on #1756
Apologies for hijacking this platform for knowing something trivial.I am very much interested in contributing to OBF organisation, but don't from which project to start with.I am interested in this organisation regardless of technology. Could someone help me out.

[2018-08-16 18:37] peterjc commented on #1756
@VishwanathRavula If you want to contribute to one of the Bio* projects, look at their mailing lists and GitHub trackers. Biopython has labeled some of its issues as suitable for first-time contributors for example, see also our CONTRIBUTING file - https://github.com/biopython/biopython/blob/master/CONTRIBUTING.rst

Outside of that, you might be able to help with the OBF's annual meeting BOSC http

[2018-08-16 22:47] peterhabib opened #1757 "NCBIWWW BLAST"
what the default of Blast parameters ?!! i trying to sit and change parameters and nothing happend

I am reporting a problem with biopython-1.71, Python version 3.4, and operating
system Ubuntu (bio-linux)

[code]

### Expected behaviour

to give different result depending on the parameters value

### Actual behaviour

[code]

[2018-08-17 08:40] SchwarzMarek commented on #1755
After more thorough investigation of properties of each position classes, I propose to:
1) inspect if each `SeqFeature` (its `FeatureLocation` object) violates new boundary by getting `int(pos)` without checking what type of Position object it is.
This will ignore positions such `WithinPosition (5.10)` given by `WithinPosition(10, 5, 10)`, but this should be rare.
2) The position object gets inspe

[2018-08-17 09:39] peterjc commented on #1755
If a feature is fully within the sliced region, we keep it (offset for the new relative start). If a feature is fully outside the sliced region, we drop it. The troublesome cases are those partly within the sliced region - and these are the ones you care about keeping, which currently get dropped.

You probably appreciate why the ``SeqRecord`` slicing via the ``seq_record[start:end]`` notation tak

[2018-08-17 09:48] peterjc commented on #1757
As you can see from our ``qblast`` function definition, almost all of the options have no default set in Biopython:

https://github.com/biopython/biopython/blob/biopython-171/Bio/Blast/NCBIWWW.py#L27

In these cases you just get the current NCBI default - which will likely not match the NCBI website default, as that does some automated tuning of options for you (e.g. for small sequences vs long se

[2018-08-17 12:37] saketkc commented on #1756
Hi @peterjc, I will not have the bandwidth to do this for the next couple of months or so. Happy to review a PR though. @VishwanathRavula would you be interested? The relevant file is [here]( https://github.com/biopython/biopython/blob/master/Bio/Sequencing/Applications/_bwa.py)
and the relevant manual page is [here](http://bio-bwa.sourceforge.net/bwa.shtml)

[2018-08-17 12:41] peterjc commented on #1756
Or @JohnMCMa? You actually want to use bwa-mem so would be in a better position to update the wrapper and test it for real.

[2018-08-17 12:45] peterjc commented on #1466
Closed via #1749.

[2018-08-17 12:45] #1466 closed

[2018-08-17 13:42] peterjc commented on #898
A major contributor to check,

 - [ ] JThomas Hamelryck (Bio.PDB etc), username ``nisse`` in the CVS era commits.

[2018-08-17 13:46] peterjc commented on #1609
We were down to file files now where the license is unclear:

* ``Bio/codonalign/chisq.py`` - see #1610
* ``Bio/PDB/parse_pdb_header.py`` - done in dffc896dbf9939bf42cc1753e6e0e47cf19abe09
* ``Bio/SeqUtils/CodonUsageIndices.py`` - done in 67c4e4e18e79397b42bc27c00d0382989997b055
* ``Bio/SeqUtils/IsoelectricPoint.py`` -  done in 67c4e4e18e79397b42bc27c00d0382989997b055
* ``Bio/SeqUtils/ProtParam.py

[2018-08-17 13:46] #1609 closed

[2018-08-17 16:52] peterjc commented on #1207
Belatedly, would you agree to dual license your contributions as per #898? Thanks!

[2018-08-17 22:10] peterhabib commented on #1757
okay, but can you tell me what should to do to get the alignment? which parameter should i change ?

[2018-08-20 11:16] peterjc commented on #1757
I don't understand what you are trying to get out of BLAST, so can't tell you which parameters you should try.

Your question could be about how to see the pairwise alignments for each HSP from BLAST using the ``Bio.SearchIO`` objects?

[2018-08-20 14:42] evanswang commented on #1549
Yes, I agree to dual licence my Biopython contributions as per #898. Thank you!

Best wishes,

Shicai

[2018-08-20 15:13] peterjc commented on #898
@gotgenes Hi Chris, could you confirm these were your contributions to Biopython and would you agree to dual license them please?

https://github.com/biopython/biopython/search?q=chris+lasher&type=Commits

Thanks!

[2018-08-20 19:00] danich1 commented on #898
I hereby give my explicit permission to switch to the BSD 3-clause license.

[2018-08-20 20:26] hacertilbec commented on #757
Hi, I have the same problem. I downloaded dssp and added path variable.
`➜ which dssp
/usr/local/bin/dssp`

`➜  echo $PATH
/usr/local/bin/dssp:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/X11/bin`

Still I'm getting this error:
`---------------------------------------------------------------------------
OSError                                   Traceback (most recent call last)
<ipython-input

[2018-08-21 02:45] gotgenes commented on #898
@peterjc Hi Peter. I hereby give my explicit permission to switch to the BSD 3-clause license.

[2018-08-21 13:29] jamesabbott commented on #1608
I've also just come across this problem with features spanning the origin in some Ensembl bacteria  embl format records. Although a parser warning is generated for the invalid location, in this case subsequent exceptions are thrown resulting in the records being unparesable.

For example, parsing the [Helicobacter_sp_mit_91_6242](ftp://ftp.ensemblgenomes.org/pub/bacteria/current/embl/bacteria_178_

[2018-08-21 14:59] peterjc commented on #1608
@jamesabbott From the partial information you've given, this looks like a problem on output - could you file a new issue with full details including a URL for this EMBL format Helicobacter_sp_mit_91_6242 record please?

In short, bits of the output code are not gracefully handling a location of ``None``.

[2018-08-21 15:34] peterjc commented on #757
Your error looks different, a new issue report might have been better.

Is ``mkdssp`` installed and on your path, or just ``dssp``? This is tried as a fall back if the suggested name did not work (to cope with the tool being renamed). One might be a symlink to the other...

[2018-08-21 15:35] peterjc commented on #898
@luizirber agreed here https://github.com/biopython/biopython/pull/184#issuecomment-414420646 - thank you.

Thank you everyone so far - if you do not wish to follow further comments on this issue, please use GitHub's "mute this thread" option.

[2018-08-21 16:33] SchwarzMarek commented on #1755
Hi again,
I've looked into examples for the appropriate records and did some checking.
The test data in BioPython gets decoded to these location objects: `ExactPosition, AfterPosition, BeforePosition` (and `OneOfPosition`, I'll get to that latter on).
This is true even for `BetweenPosition` like in Biopython Tests `GenBank/NC_005816.gb`, which get parsed as two adjacent `ExactPositions`.
[code]
I

[2018-08-21 18:45] rtf-const commented on #1666
I added autodetection of ordinary gzipped files in _open_for_random_access method, but don't you think than current behavior of sequential access parsing methods (SeqIO.parse, SeqIO.read) and random-accessed methods (SeqIO.index, SeqIO.index_db) is not well consistent and may be confusing.
* random access methods use _open_for_random_access method that supports compessed method autodetection, but

[2018-08-22 06:30] #806 closed

[2018-08-22 08:58] peterjc commented on #1686
Retitled to cover SeqIO and AlignIO too.

Note this is for parsing only, not indexing, and not writing.

[2018-08-22 09:03] peterjc commented on #1666
No, the whole point of ``_open_for_random_access`` is to handle ordinary files or BGZF files for indexing (but NOT ordinary gzip files - here it should ideally give a clear error message). The indexing code assumes and expects a file on disk, there is no reason to support an in-memory file-like object like BytesIO.

For the separate issue of allowing parsing of gzipped files in SeqIO, AlignIO, Sea

[2018-08-22 09:12] peterjc commented on #1755
The ``WithinPosition`` was used for things like ``((1.4)..100)``, and as with the ``OneOfPosition`` these were rare, and may have been phased out of modern GenBank/EMBL records. We'd need to check that.

You also need to worry about ``UnknownPosition`` as used in UniProt.

[2018-08-22 10:46] peterjc commented on #308
Nice job @darcymason - I didn't have a chance to look at this last month as I was on holiday, but you seem to have solved this.

Going back to the original reference, Table 2 from:

https://doi.org/10.1126/science.185.4154.862
https://www.ncbi.nlm.nih.gov/pubmed/4843792

<img width="1198" alt="screenshot 2018-08-22 10 37 45" src="https://user-images.githubusercontent.com/63959/44455991-58caf000-a5

[2018-08-22 11:54] peterjc commented on #1686
i.e. You'd support automatic detection of gzipped files based on their content when parsing via ``Bio.SeqIO.parse(filename, ...)`` etc.

[2018-08-22 14:03] peterjc commented on #1515
Closed via #1748, there are a few remaining multi-line asserts (mostly commented out):

[code]

However, flake8 E127 now passes, and we now enforce this as of e70ad424830f936a8ed5a08e567617669f2decfd

[code]

[2018-08-22 15:04] peterjc commented on #1515
That was premature, reverted in f93043f665b711bc0e7d28f6872ca23641f8fb43

Something odd in my local testing - see https://travis-ci.org/biopython/biopython/builds/419192810 which has a few E127 (and loads of E128) errors.

[2018-08-22 15:51] notestaff opened #1765 "docs - tutorial - blast - UML diagram out of date"
@peterjc the UML diagram at https://github.com/biopython/biopython/blob/master/Doc/Tutorial/chapter_blast.tex#L445
is out of date; a number of fields are missing.

[2018-08-22 15:57] notestaff opened #1766 "Blast - Bio.Blast.Record.HSP.strand is (None, None)"
When parsing Blast XML results, Bio.Blast.Record.HSP.strand ends up as (None, None).

[2018-08-22 16:52] peterjc commented on #1765
Yes. Quoting the link you linked to:

This was written by @chapmanb in https://github.com/biopython/biopython/commit/4f535baa8e768ac6b90aeace1641f4fe539a6995 back in 2000, and sadly no one has stepped up to update the UML diagrams.

Can you help?

Quoting from the original header of the combined tutorial

[code]

The source files still exist, see https://github.com/biopython/biopython/tree/master/

[2018-08-22 16:55] peterjc commented on #1766
Do you have a test case (or does it happen with any of the sample files in our tests)?

Which version of BLAST and of Biopython?

See also #893 for the strange default of ``(None, None)``.

[2018-08-22 18:29] nimne commented on #1515
I have a branch that passes R127 and R128 checks. Most of the changes were really minor (adding/removing spaces).

The changes that I wasn't sure how to approach best were in `Bio/SearchIO/_model/hsp.py`.

Things like this:
[code]
are corrected to this:
[code]
which makes them really long in some cases.

[2018-08-22 19:18] darcymason commented on #308
@peterjc, I'm glad you were able to confirm this, but I should have saved you some time and attached some of the tables as you did (I had a spreadsheet very similar to what you pasted).

The last part of my post above has a link to that table, and it is in the code I attached as well.  The order was completely different, so the code turns them into SeqMat tables and prints with the alphabets to ma

[2018-08-23 09:07] peterjc commented on #1515
Having looked at the work in progress, I'm a bit surprised how much funny indentation was left - and look forward to a pull request cleaning this up. My only real point was I'd prefer not to introduce unnecessary slash line continuation - this can almost always be avoided (sometimes with the addition of brackets).

Regarding the property definitions in SearchIO, I think the longer lines are still

[2018-08-23 09:49] peterjc commented on #308
Oh yeah, I missed the https://www.genome.jp/dbget-bin/www_bget?aaindex:GRAR740104 link and confess I didn't look at your code - in part I wanted to see if I came to the same conclusion as you without following the exact same route.

Please go ahead with the pull request correcting the dictionary in Biopython.

Looking at https://web.archive.org/web/19990220002158/http://www.embl-heidelberg.de:80/~

[2018-08-23 14:38] peterjc commented on #1701
This should be fixed via #1767 by @rtf-const, and assuming this does solve the pyfaidx issues, it would be good to get another Biopython release out fairly soon.

[2018-08-23 15:10] mdshw5 commented on #1701
This fixes the issue in https://github.com/mdshw5/pyfaidx/issues/125 and can be marked as closed. Thanks @rtf-const and @peterjc!

[2018-08-23 18:31] nimne commented on #1745
I think that it is reasonable to throw a warning, then try to fix it. I've done my best to [implement this](https://github.com/biopython/biopython/compare/master...nimne:Origin_wrapping), and it seems like it works well. Are there any unusual situations where a notation like `6800..100` would be ambiguous, or cases where an origin wrap would have anything except the two positions? It seems like th

[2018-08-24 01:10] nimne commented on #1515
Thanks for the feedback. I agree, there are usually better alternatives than the slash line continuation.

I changed the triple quotes which made breaking up the long lines simple, and I added a full stop where needed.

I need to look over the changes carefully and I'll submit a pull request soon.

[2018-08-24 03:32] benfulton commented on #531
Should doctest run without building (python setup.py build) ?

If so, the doctests that rely on Bio._aligners must be discarded as they cannot work.

If not, I think this issue can be closed. After building but without installing:

$ python run_tests.py doctest
Ran 77 tests in 3.950 seconds

[2018-08-24 08:32] peterjc commented on #531
Building without installing then testing ought to work:

[code]

Or variations like this:

[code]

[code]

[2018-08-24 08:34] peterjc commented on #531
The issue here is sometimes (and I never worked out when), rather than testing the newly built code in the ``build/`` folder (which is what ``run_tests.py`` adds to the path), it uses the (typically older) code from an installed copy of Biopython.

Does this work reliably for you?

0. Remove any installed Biopython
1. Install a really old Biopython
2. Checkout the latest Biopython
3. python setup.

[2018-08-24 08:49] peterjc opened #1769 "Enforce flake8 E127 and E128 on Tests/"
This is a continuation of #1515 which allowed us to enforce the flake8 style checks E127 and E128 on Bio (and this was already enforced on BioSQL, Scripts and Doc/examples).

This is part of an ongoing effort to more closely follow the PEP8 style guide, see https://www.python.org/dev/peps/pep-0008/

I'm marking this as a good first issue for a potential new contributor - it does not require any pr

[2018-08-24 08:50] peterjc commented on #1515
We're now enforcing flake8 E127 and E128 on Bio and BioSQL, so I'm going to close this issue now.

I've filed a new issue for enforcing flake8 E127 and E128 on Tests, #1769.

@nimne if you want to work on that too, please comment on the new issue to avoid any duplication of effort. Thank you!

[2018-08-24 08:50] #1515 closed

[2018-08-24 09:07] peterjc commented on #1745
@nimne If you want to submit a pull request for this, that'd be great. Your basic approach is what I had in mind (including checking the reference was declared as circular).

Note that I think you need to be careful about the order of the two child locations depending on the strand. The best check for this would be verifying the sequence the ``.extract()`` method pulls out is correct (e.g. for an

[2018-08-24 09:49] peterjc commented on #1755
1. In general our test files are static, especially if they are copied directly from public databases (and if they are edited, e.g. in a mock GenBank file might be added to add a special broken feature, then we'd be running the full test suite so we'd see if it had a side effect). So, do not make extra copies.

2. I was thinking a new method of the ``SeqRecord`` object (although if you do that, yo

[2018-08-24 10:05] peterjc commented on #1738
Closing this documentation issue via 26eae59ad27d31e1b2e0f35ca8608d4138ef683f

[2018-08-24 10:05] #1738 closed

[2018-08-26 02:36] benfulton commented on #531
This seems to work. I used a Jetstream Ubuntu 18.04 image and installed BioPython 1.62 using Python 2.7.15rc1 and 3.6.5.

77 doctests ran successfully in both cases using the latest BioPython. I then modified a Bio.Align doctest so it would fail, and rebuilt. The doctests successfully, well, failed :)

The only thing that occurs to me is a namespace issue, either in the BioPython code or something

[2018-08-26 19:50] nimne commented on #1769
I'll take a crack at this. It'll be a good chance to get familiar with the testing code!

[2018-08-27 09:30] peterjc commented on #898
@jamescasbon agreed by email, see http://mailman.open-bio.org/pipermail/biopython/2018-August/016530.html

@barwil agreed by email, see http://mailman.open-bio.org/pipermail/biopython/2018-August/016533.html

Once again, thank you everyone so far - and if you do not wish to follow further comments on this issue, please use GitHub's "mute this thread" option.

[2018-08-27 09:51] peterjc commented on #1745
I've merged the pull request from @nimne which implements this. So, continuing the bullet points:

* Biopython up to 1.70 would parse locations like ``6800..100`` without error or warning, but create inconsistent location objects (e.g. ``len(...)`` would fail).
* Biopython 1.71 would error when parsing these locations due to #1497 which enforces the location object model expectation that start <=

[2018-08-27 09:51] #1745 closed

[2018-08-27 12:01] SchwarzMarek opened #1772 "Slicing SeqRecort with UnknowPosition TypeError in python3"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

### Prelim
[code]

### Expected behaviour
[code]

### Actual behaviour
[code]

### Steps to reproduce

[code]

### File with source data
[uniprot_up.zip.zip](https://github.com/biopython/biopython/files/2323740/uniprot_up.zip.zip)

### Probable cause -> different types are comparab

[2018-08-27 12:33] peterjc commented on #1772
Your record is actually short enough to quote in full,

[code]

Here a human might infer the end position is after 7 (given start <= end),  in which case ``a[:2]`` clearly does not cover or intersect with the record, so the feature can be dropped.

What if the slice was ``a[1:50]`` where the feature start is contained in the slice, but the end might not be? One might argue either way for including

[2018-08-27 14:28] SchwarzMarek commented on #1772
Yes, the solution at pars-time would certainly help. Other option is to add location to `UnknownPosition` class. It might seem confusing, but for `WithinPosition` you also need to specify what the` int(pos)` would return.

If both of the positions are Unknown then this feels more like a comment to the sequence. I would either keep it at all times or drop by default. Still we need to device a way t

[2018-08-27 23:13] nimne commented on #1769
Couple questions as I'm working through this.

It looks like PEP 257 recommends that single line docstrings look like this:
[code]
rather than:
[code]
Should I fix these along with this issue, or leave this for a separate pull request?

Also, there are a few examples of tests that look like this
[code]
I can fix the E127 error that is raised by the assert line by changing it to a single indent aft

[2018-08-28 10:51] peterjc commented on #1769
Yes, PEP8 does recommend that for the one-line docstrings, and we enforce this on ``Bio/`` etc already. A second pull request fixing that on ``Tests/`` and updating ``Tests/.flake8`` to enforce it would be great.

[2018-08-28 10:56] peterjc commented on #1769
Also yes, where the test files are using the ``unittest`` framework we should be using ``self.assertTrue(statement, message)`` or similar over ``assert statement, message`` - doing that as part of the E127 pull request makes perfect sense to me. This syntax with brackets is also more elegant for multi-line statements.

And yes, try to use the more specific ``self.assert*`` methods as appropriate -

[2018-08-29 07:36] #1757 closed

[2018-08-29 07:37] peterhabib opened #1773 "clustal alignment"
can please any one tell me how to use ClustalwCommandline() in biopython? please i need working example

[2018-08-29 07:37] #1729 closed

[2018-08-29 08:00] olundberg opened #1774 "Addition of z-score in alignment label:Enhancement"
Working with sequences alignments, the methods for alignment usually returns a tuple with the score of the alignment.

However, this score is not always very easy to interpret (is it good or bad?).

In terms of the statistical analysis it is nice to calculate the z-score to see how the score deviates from the mean value in terms of standard deviations.

[2018-08-29 09:15] olundberg commented on #1773
Make sure that you are able to run the clustalw2.exe file correctly before trying to run this example:

[code]

[2018-08-29 09:48] peterjc commented on #1740
Did you solve this then?

[2018-08-29 09:49] peterjc commented on #1774
Which alignment code in Biopython are you using and suggesting adding this to?

[2018-08-29 14:09] peterhabib commented on #1773
no thank very much :))

[2018-08-29 14:10] peterhabib commented on #1773
Thank you @olundberg
No, Thank You @peterjc

[2018-08-29 14:35] peterjc commented on #1773
OK, closing issue - glad we could help.

[2018-08-29 14:35] #1773 closed

[2018-08-29 15:09] olundberg commented on #1774
I am currently using the Smith-Waterman algorithms quite extensively in my work. I have implemented a method in Cython which acts a like a wrapper for the  pairwise2.align.localms where I scramble the sequences on my own to be able to calculate the z-score between two sequences.

The reason for opening this issue was that maybe other persons are also interested in this significance measure which i

[2018-08-29 15:21] peterjc commented on #1774
Biopython 1.72 introduced a new pairwise sequence aligner is available in ``Bio.Align``, as an alternative to the existing pairwise sequence aligner in ``Bio.pairwise2``. See #1655, it should be 3 to 10 times faster with similar memory usage.

We may now deprecate ``Bio.pairwise2`` - following the time line in https://biopython.org/wiki/Deprecation_policy - so there is no immediate rush to switch

[2018-08-29 20:41] jhutar opened #1776 "how to get label residue numbering instead of author numbering in MMCIFParser?"
### Setup

[code]

### Expected behaviour

I would like to have label sequence numbering instead of author sequence numbering for residues when MMCIFParser is used. I understand that can not be a default, but have not found a way how to achieve that.

### Actual behaviour

Only author sequence numbering for residues is returned.

Would you consider path like this?

Add something like following int

[2018-08-30 06:15] MarkusPiotrowski commented on #1774
@olundberg Is there a standardized way to calculate the z score, e.g. how many scrambled alignments, how to scramble the sequences exactly, etc? Can you give a referenence or name a usual pairwise aligner that returns the z score?

[2018-08-31 12:08] JohnMCMa commented on #1756
Hi @peterjc, maybe I should try this out a bit.

[2018-09-01 18:32] nimne opened #1777 "test_PopGen_GenePop_EasyController fails"
### Setup
`./Tests/run_tests.py test_PopGen_GenePop_EasyController` fails

Biopython versions tested: 1.72, 1.73dev0
Python versions: 2.7.15, 3.6.6, 3.7.0
Operating system: MacOS and Debian
Genepop versions tested: 4.7.0

### Expected behaviour

[code]

### Actual behaviour
[code]

### Steps to reproduce

Install GenePop v4.7 from: http://kimura.univ-montp2.fr/~rousset/Genepop.htm
Run test_PopGen_

[2018-09-02 14:27] peterhabib opened #1778 "convert .py to .exe"
first of all, sorry if that not the correct place to ask such questions but, what is the recommended tool to convert software or tool wrote in biopython file to executable file? i tried pyinstaller and it finished the conversion process without any problem and give me the .exe file but it doesn't open.

[2018-09-02 15:47] rtf-const commented on #1778
did you try py2exe https://pypi.org/project/py2exe/

[2018-09-02 22:48] darcymason commented on #308
Just to be clear -- should it be using the IUPAC characters?  And subtracted from 215?

[2018-09-03 09:39] peterjc commented on #308
I don't understand your phrasing "using the IUPAC characters" as all of this is using IUPAC protein codes, just in different orders (and sometimes missing K).

You've convinced me that Gerhard Vogt made an error in computing his table which we copied, so yes - repeat the calculation of 215 less values in the paper/wikipedia, but this time with the correct amino acid labels.

[2018-09-03 09:40] peterjc commented on #1778
I've not done much with Windows directly for some years, but I know of people using py2exe successfully. Some parts of Biopython do have C code, so this might cause complications - but all our C code is compiled and tested under Windows so it should be OK.

[2018-09-03 09:46] peterjc commented on #1777
I still have GenePop 4.6 installed locally on macOS, and ``test_PopGen_GenePop_EasyController.py`` passes. Unfortunately I don't seem to have the source code anymore.

It is frustrating that the authors only seem to host the latest v4.x release (i.e. they replaced v4.6 with v4.7). If need be we could try emailing them about keeping the older releases available for historical back-ward compatibilit

[2018-09-03 16:43] jgreener64 commented on #1776
If you need a quick (and not that robust) mapping between the two numberings you could create a dictionary that converts one to the other:
[code]
and then pass the number and chain through the dictionary to convert it, e.g. "100A" goes to "100".

[2018-09-03 21:37] jhutar commented on #1776
Another question is how to handle dots in `seq_id_list` :-(

[2018-09-03 22:15] jhutar commented on #1776
Hello @jgreener64 . this would need to loading/parsing *.fif file twice if I understand it correctly. Also I quite like encapsulation structure returned by parser provides and have quite some code around it. For now I have created a class with parent being `MMCIFParser` from https://github.com/biopython/biopython/blob/master/Bio/PDB/MMCIFParser.py and simply redefined `def _build_structure(...)` w

[2018-09-03 23:29] darcymason commented on #308
I should have been clearer about that.  I forgot to mention that there are actually two differences between the characters used:

[code]
So vogt is missing both K and D, and has instead a U and O.  And many of the other characters in the  table row/col headers line up, but not all, so it does not seem like a simple conversion error that Vogt made -- I just wanted to make sure that there isn't some

[2018-09-04 00:27] tiagoantao commented on #1777
I will have a look at this tomorrow. Not in front of the computer today

On Mon, Sep 3, 2018, 4:22 PM Nick Negretti <notifications@github.com> wrote:

[2018-09-04 08:59] peterjc commented on #308
Looking at your pull request, from the test output I immediately spotted that we were missing 'K' and 'D', you're ahead of me with the set example showing it had instead 'U' and 'O'. We may never understand how the mix up happened, but your pull request does seem to be the original intent.

[2018-09-04 09:37] peterjc commented on #1769
Closed via #1780, thank you @nimne!

[2018-09-04 09:37] #1769 closed

[2018-09-04 10:09] jgreener64 commented on #1776
The `label_seq_id` is only given a number for polymer entities, e.g. proteins, so is assigned a `.` for cofactors and water. This makes sense as these entites have no concept of a sequence, though they do have `auth_seq_id`s as people would give them residue numbers in PDB files. Converting between them is non-trivial.

That code probably does what you want, yes. Though you are going to run into p

[2018-09-04 16:08] tiagoantao commented on #1777
Thanks @nimne

[2018-09-04 16:08] #1777 closed

[2018-09-04 19:12] shz9 opened #1782 "Issue with newick tree parser"
Hi all,

I'm having some issues with the newick tree parser in Biopython. In particular, I think the parser doesn't work properly with the tree format that you obtain from PAML.

### Setup

I'm using python version 2.7.5 on Linux (CentOS) with Biopython v. 1.71. I'm trying to parse and transform the following tree structure that I obtained from PAML 4.9:

[code]

### Steps to reproduce

[code]

##

[2018-09-05 10:26] peterjc commented on #465
Closed via #1783, thank you.

[2018-09-05 10:26] #465 closed

[2018-09-05 11:05] peterjc commented on #1782
Reformulation of your test case:

[code]

Going instead to the Newick parser inside the Nexus module, things seem fine:

[code]

[2018-09-05 19:48] etal commented on #1782
Is the difference due to the extra space after `taxon_name:` ? That should be easy enough to fix.

[2018-09-06 09:13] peterjc commented on #308
Closed via #1781, thank you!

[2018-09-06 09:13] #308 closed

[2018-09-06 09:16] peterjc commented on #1782
I think you are right about the white space here - giving the space-less version which I copied and pasted from the Nexus module's output, this works:

[code]

[2018-09-06 10:02] Bernhard10 opened #1784 "MMCIFIO not quoting correctly"
MMCIFIO quotes `O5'` as `'O5''` instead of `"O5'"`.

I believe line  236 of [Bio.PDB.mmcifio](https://github.com/biopython/biopython/blob/2fda5c6120063e385411094e12ae231be7febc6b/Bio/PDB/mmcifio.py#L236) should be changed from `if "' " in val:` to `if "'" in val:`

I'll run some more checks and submit a pullrequest soon.

[2018-09-06 10:13] peterjc commented on #1784
CC @jgreener64

[2018-09-06 11:15] jgreener64 commented on #1784
Actually, I think this is okay as it is. `'O5''` is valid mmCIF and is correctly parsed, e.g.
[code]
gives
[code]
This is allowed provided whitespace does not follow the quote, see point 15 here: https://www.iucr.org/resources/cif/spec/version1.1/cifsyntax. If other tools can't parse it, it's their problem I guess.

The conditional exists as it is because in `_requires_newline` we check that the s

[2018-09-06 11:28] Bernhard10 commented on #1784
Hi.
Thanks for looking into this. I was unaware that this is allowed in mmcif.
Indeed,  `'O5''` works fine. What caused issues with other tools was something unrelated.

Anyway, I noticed another issue when writing tests for the PR, I'll open another issue for that.

[2018-09-06 11:28] #1784 closed

[2018-09-06 11:34] jgreener64 commented on #1784
Thanks for fixing the other issue!

[2018-09-07 09:20] reederz opened #1787 "Option to keep original id, name and description when calling SeqFeature.extract -> SeqFeature.location.extract"
**Biopython version:** 1.72

Whenever `seq_feature.location.strand == -1`, `SeqFeature.extract(dna_seq_record)` returns a `SeqRecord` without preserving original id, name and description. Digging into the code, I found that this is due to `FeatureLocation.extract` internally calling `SeqRecord.reverse_complement` method which drops id, name and description by default.

Relevant code in `SeqRecord`

[2018-09-07 13:05] reederz commented on #1787
So I'm not that versed in BioIT yet but I'll try to ellaborate (I asked my colleague to pitch in as well).

Whenever I call `.format('fastq')` on a SeqRecord that's been extracted, and feature has `seq_feature.location.strand == -1`, the fastq document header looks like this:

`@<unknown id> <unknown description>` (similar for other formats E.g. fasta, embl, genbank)

As a result of this, we have

[2018-09-07 13:14] peterjc commented on #1787
I'm hoping you can explain why you are using the feature's extract method on a SeqRecord and wanting to preserve the ID etc of the sequence record.

Typically the SeqFeature will be a gene or similar, which will have completely different names/accessions/IDs than the parent SeqRecord which will be contig or chromosome containing many different genes.

[2018-09-07 16:06] JohnMCMa commented on #1756
I have written the code for it, but I'll test the code and study `CONTRIBUTING.rst` and make sure I have checked all boxes before I make a pull request.

[2018-09-07 16:09] peterjc commented on #1756
OK - if you can run the style checks locally that will make the pull request go more smoothly. Thanks!

[2018-09-07 19:53] JohnMCMa commented on #1756
You are welcome.

[2018-09-07 22:47] nimne opened #1788 "Adding makeblastdb to the BLAST wrappers"
I'd like to work on adding `makeblastdb` to the BLAST command wrappers. This is to address a comment in #1463 as well as my own needs. As far as I'm aware, I haven't seen anyone else working on this!

Opening this issue as a discussion location separate from #1463

[2018-09-10 08:57] peterjc commented on #1787
OK, we're in agreement that the inconsistency is worth fixing. But how is much more tricky, and it would be best to have more perspectives on this.

I still lean towards dropping the SeqRecords' ID, name, description in this case - but it would make sense to preserve any per-letter annotation (e.g. if the reference genome was contigs loaded as FASTQ files with quality scores).

In someways SeqFeat

[2018-09-10 09:15] peterjc commented on #1788
Sounds sensible, thank you for working on this.

[2018-09-13 14:42] Ashafix commented on #1016
Should the fields go to `date` and we'll only keep the latest date? or should it got to an attribute which is a `list`? or should it become a single `dt` attribute?

[2018-09-13 14:48] peterjc commented on #1016
You tell me? We'd want to examine the equivalent fields in the GenBank format and how they are parsed and ideally do the same thing. If there isn't an exact match it may be practical to simply take the most recent EMBL date and record that where we'd store the GenBank date.

If you could pick a (small) matched pair of entries from GenBank and EMBL (through their mirror arrangements - so two repres

[2018-09-18 08:09] chris-rands commented on #1750
Fixed in PR #1789

[2018-09-18 08:09] #1750 closed

[2018-09-19 14:58] leptoceratops opened #1796 "Tests fail if used with MariaDB"
### Setup

I am reporting a problem with Biopython version 1.72, Python version 2.7, and operating
system cygwin as follows:

[code]

and I ran:

[code]

### Expected behaviour

The expected behaviour is to PASS the test

### Actual behaviour

[code]

### Steps to reproduce

[code]

and I ran:

[code]

[2018-09-19 15:09] peterjc commented on #1796
Could you run ``python`` and report the output of these commands as requested in the issue template:

[code]

(This should help rule out there being more than one copy of Biopython installed, and that the versions you think you are using are what is being used)

[2018-09-19 15:10] leptoceratops commented on #1796
2.7.14 (default, Oct 31 2017, 21:12:13)
[GCC 6.4.0]

print(platform.platform())
import Bio; print(Bio.__version__)CPython
CYGWIN_NT-10.0-2.11.1-0.329-5-3-x86_64-64bit

1.72

On 19/09/2018 16:10, Peter Cock wrote:

[2018-09-19 15:12] peterjc commented on #1796
Also, to confirm the SQL syntax being run here, what does this say:

[code]

(I'm struggling to see where ``TYPE=INNODB`` is coming from, as the SQL script included with Biopython 1.72 should be using ``ENGINE=INNODB``)

[2018-09-19 15:30] peterjc commented on #898
Thank you @gecrooks - sadly your ``Bio.SCOP`` contributions like b704cc0f6a06bdb2c8a524aaf2d11ff41de27e07 are not linked to your GitHub account, but great to have your agreement.

[2018-09-19 15:43] peterjc commented on #1796
Resolved by email - Biopython 1.72 was installed with pip, but the tests were from an older fork of the main repository rather than https://github.com/biopython/biopython/ (and predated 42c95a769971b55628afed15ab414259612e6ae6 and thus was missing the TYPE/ENGINE change).

[2018-09-19 15:43] #1796 closed

[2018-09-19 18:45] jfinkels commented on #898
I agree to dual license all my existing and future contributions under the Biopython License Agreement and the BSD 3-Clause License, including but not limited to https://github.com/biopython/biopython/commit/9ec46f981a1fb7f97eaee4a2a01ad8bb3297234b and https://github.com/biopython/biopython/commit/ce675b9299bf34e12335330d627385262f59b4e7.

[2018-09-20 12:54] peterjc commented on #898
Yair Benita who made multiple contributions including much of ``Bio.SeqUtils`` (e.g. 19f997e2fb9e68f0672b8cd735150bcb30ba53b9 and c0c6690a779659869bc18dd7360adb569341464b) agreed by email, see http://mailman.open-bio.org/pipermail/biopython/2018-September/016541.html

[2018-09-20 13:17] Amrithasuresh commented on #1715
@peterjc Is this issue still available? I would like to do this.

Do I need to add previous call time at qblast function  "_open.previous = 0" in the script?

[2018-09-20 13:53] peterjc commented on #1715
Earlier it looked like @yangwu91 was trying to do the delays as part of other work on #1732, but I don't think I was able to explain what I meant.

So yes @Amrithasuresh, please have a go at recording the time stamps via ``_open.previous = ...`` in BLAST, following the examples in Entrez and TogoWS.

[2018-09-21 00:04] svalqui commented on #1733
/home/s/PythonProjects/biopython/Bio/PDB/StructureBuilder.py:127: PDBConstructionWarning: WARNING: Residue (' ', 22, ' ') redefined at line 434.
  PDBConstructionWarning)
/home/s/PythonProjects/biopython/Bio/PDB/StructureBuilder.py:127: PDBConstructionWarning: WARNING: Residue (' ', 25, ' ') redefined at line 490.
  PDBConstructionWarning)

[  3.265 -14.107  16.877]

None

I'll have a look at this

[2018-09-21 06:09] berrisfordjohn commented on #1733
If you have to change the mmCIF parsing you might consider using an external mmCIF parser.
At PDBe (pdbe.org) we use a pure python parser: https://gitlab.com/glenveegee/PDBeCIF
or there is a joint project between CCP4 and Global Phasing to produce an mmCIF parser
https://github.com/project-gemmi/gemmi
I use the later to update mmCIF files https://github.com/berrisfordjohn/adding_stats_to_mmcif

[2018-09-21 16:45] peterjc commented on #1788
Closed via #1800

[2018-09-21 16:45] #1788 closed

[2018-09-21 18:36] Amrithasuresh commented on #1715
@peterjc I am trying to mimic the examples. Is it something like this? But the tests are failing it says

If you have time can you point some hints. I am also reading the help/doc.

`    delay = 20  # seconds
    current = time.time()
    _open.previous = 0
    while True:
        wait = _open.previous + delay - current
        if wait > 0:
            time.sleep(wait)
            _open.previous =

[2018-09-24 08:50] peterjc commented on #898
Hello all, a brief progress report after last week's efforts - as a reminder, GitHub has a mute this thread option, which I would recommend if you are getting too many emails about Biopython's BSD dual licensing effort:

[code]

The "other" entry refers to ``Bio/codonalign/chisq.py`` - see #1610

[2018-09-24 08:53] peterjc commented on #1715
In TogoWS and Entrez, there is a locally defined private function ``_open`` and we've recorded the last used time as an attribute of that function. e.g.

Function definition:
https://github.com/biopython/biopython/blob/biopython-172/Bio/Entrez/__init__.py#L494

Creating the attribute immediately after function definition:
https://github.com/biopython/biopython/blob/biopython-172/Bio/Entrez/__init_

[2018-09-24 10:55] nstfk opened #1801 "entrez.read NotImplementedError"
I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

### Expected behaviour

fetching the articles

### Actual behaviour

`NotImplementedError:` The Bio.Entrez parser cannot handle XML data that make use of XML namespaces

### Steps to reproduce
    targetQ="personalized medicine"
    handle = Entrez.esearch(db="pubmed", term=targetQ, RetMax=50

[2018-09-24 11:12] peterjc commented on #1801
Most of the NCBI XML files use a DTD which is required for the ``Bio.Entrez`` parser. For the problem databases you might try ``ElementTree`` from the standard library. i.e. This is the expected behaviour for some NCBI databases' XML output, but that could be made more explicit in the message and also the documentation including the Tutorial: https://github.com/biopython/biopython/blob/master/Doc/

[2018-09-24 11:21] jgreener64 commented on #1733
The goal of the Biopython mmCIF parser is slightly different from others: to extract a hierarchical protein representation rather than just add/remove/change mmCIF dictionary entries.

mmCIF parsing has two steps in Biopython - reading the file into a dictionary-style data structure and then assembling a Biopython structure object from that.

Whilst we can always learn a lot from other implementat

[2018-09-25 04:45] mdehoon commented on #1801
The new DTD now include MathML, which does indeed make use of XML namespaces. The XML parser in Bio.Entrez does not yet handle XML namespaces.

[2018-09-25 09:27] peterjc commented on #1801
Shall we retitle this to something like "Entrez parser support for MathML in PubMed XML with new DTD"?

[2018-09-25 15:41] chris-rands opened #1805 "Can we improve the speed of "SimpleFastaParser"?"
### Setup

I am testing with Biopython version, Python version, and operating
system as follows:

[code]

### Behaviour

I noticed that `SimpleFastaParser`  uses a lot of idioms like `while True:  line = handle.readline()`. Probably when the code was written this was the best way, but I think it is faster and more idiomatic now to iterate over the file handles in `for` loops, so I did some timings

[2018-09-25 15:52] seandavi commented on #898
I hereby give my explicit permission to switch to the BSD 3-clause license.

[2018-09-25 15:56] peterjc commented on #1805
This is certainly worth looking into, but you'd need to present the alternative implementations in a fair test  - as written the ``old_parser`` wrapper is adding an overhead which is not present in ``new_parser``. That may be clouding the results.

It would be clearer to import and use ``SimpleFastaParser`` directly as one thing tested, and write your alternative implementation (with the same argu

[2018-09-25 16:03] peterjc commented on #898
Thank you Sean - specifically this includes re-writing ``Bio/UniGene/__init__.py`` back in 2006: https://github.com/biopython/biopython/commit/33f706c65816d1ab4e6c3481c5900f8332b90789

[2018-09-25 17:55] chris-rands commented on #1805
Thanks Peter, good point, I re-wrote the testing, is this fair? There is still a time difference on my system at least.

Timings:

[code]

Implementation:

[code]

[2018-09-25 20:08] Amrithasuresh commented on #1715
@peterjc Let me if this ok.

[2018-09-26 09:13] peterjc commented on #1805
OK, that seems worth doing - a small but measurable performance gain (at least on your system) from using ``for line in handle:`` rather than ``line = handle.readline()`` - could you submit this as a pull request please?

I forget now how many variants I originally tried, but it is entirely possible that the performance balance has shifted from Python 2.7 to recent Python 3.x, and we'll be droppin

[2018-09-26 17:30] rtf-const commented on #1733
[code]

[2018-09-28 02:15] mdehoon commented on #1801
This is an example of a pubmed record that uses MathML:
[code]
This is the XML fragment where MathML is being used:
[code]
The MathML is rendered as a T followed by a subscript 2 and a superscript *.
Any opinions on how we want to represent this in Python?

[2018-09-28 12:00] peterjc commented on #1801
This specific example only using subscripts and subscripts could have been described with simple HTML tags, but I assume there are more complex examples in other abstracts.

I presume that for backward compatibility we want to continue to present the abstract as a single string (or string subclass), in which perhaps we are best off  leaving the XML alone? However, for that to be useful, the whole

[2018-09-28 12:45] mdehoon commented on #1742
@ewohnlich  Could you convert the text using the html module:
[code]
I believe that would fix your problem.

[2018-09-28 13:02] peterjc commented on #1742
I don't think either of those are useful as the different meanings of the ``<`` have been lost (opening an XML tag, and a less than sign).

As @ewohnlich wrote earlier, I think  ``'... compared with normal TSH (0.4-<u>&gt;</u>4.5 mIU/L) and ...'`` be the most useful HTML fragment to aim for.

To me is seems pragmatic to just return the abstract text as is, with the HTML entries and escaping as per

[2018-09-28 14:15] chris-rands commented on #1320
As I mentioned briefly in #1805, I encountered the same issue (or a closely related one).

I had `UnicodeDecodeError: 'ascii' codec can't decode byte 0xc3 in position 13090: ordinal not in range(128)` test failures from running `python3 setup.py test`, the ERRORs occurring in : `test_Nexus`, `test_Phylo`, `test_PhyloXML`, and `test_Tutorial`. Most errors were in `test_Phylo` (I can provide full tr

[2018-09-28 14:40] chris-rands commented on #1320
As I mentioned briefly in PR #1805, I encountered the same issue (or a closely related one) to this issue and also issues #1321 and #669.

I had `UnicodeDecodeError: 'ascii' codec can't decode byte 0xc3 in position 13090: ordinal not in range(128)` test failures from running `python3 setup.py test`, the ERRORs occurring in: `test_Nexus`, `test_Phylo`, `test_PhyloXML`, and `test_Tutorial`. Most err

[2018-09-28 14:46] mdehoon commented on #1742
Sorry, I wasn't thinking clearly.
It's fairly easy to change less-than signs to `&lt;` (and all other HTML escaping needed) but it can be very confusing to users who expect plain text.
In the current example, `<u>&lt;</u>` is reasonable, but if the abstract contains plain text only, without any HTML tags, then it would be strange to have HTML-escaped text in it.
We could add an argument `escape` t

[2018-09-28 14:50] peterjc commented on #1320
From #855, it seems for the XML files the default encoding problem when *loading* the files can be side-stepped by opening the files in binary mode (and letting the XML parser handle the encoding settings), which is what I tried in https://github.com/biopython/biopython/issues/1320#issuecomment-315137452

@chris-rands If you'd like to explore this, I suggest using that as a starting point.

[2018-09-28 14:57] peterjc commented on #1742
The proposed new argument would I think be a neat solution here 👍

[2018-09-28 15:49] peterjc commented on #1805
Fixed via #1808, thank you!

[2018-09-28 15:49] #1805 closed

[2018-10-01 10:14] peterjc commented on #1715
Closed via #1807

[2018-10-01 10:14] #1715 closed

[2018-10-01 12:40] peterjc opened #1812 "Strict four line FASTQ parser"
As of Biopython 1.71, *Bio.SeqIO now supports reading and writing two-line-per-record FASTA files under the format name "fasta-2line", useful if you wish to work without line-wrapped sequences.*

Related to this, I was thinking about adding a similar FASTQ parser for Sanger encoded files which use exactly four lines per record (which makes up the vast majority of FASTQ files in use now as we hoped

[2018-10-01 13:49] chris-rands commented on #1812
Hi Peter, I can't work on this right away, but assuming there is no rush, I'd be happy to help so you can assign it to me :thumbsup:

[2018-10-01 13:57] peterjc commented on #1812
That'd be great - thank you. This would be nice to have, but does not not seem urgent.

[2018-10-01 16:14] chris-rands opened #1814 "Add a new warning when parsing plain text files without a final new line character?"
### Overview

From #1810,

Quoting Peter:

To expand, here is a toy example of the behaviour using the `cat` command on Unix with FASTA files, here `test.fa` lacks the final new line and the resulting aggregated data is wrong:

[code]

Biopython example...

### Possible behaviour (with warning)

[code]

### Actual behaviour (no warning)

[code]

[2018-10-02 09:14] peterjc commented on #1742
Fixed via #1811

[2018-10-02 09:14] #1742 closed

[2018-10-02 09:15] peterjc commented on #1801
@mdehoon Is this (MathML) now also fixed by #1811?

[2018-10-02 09:17] peterjc commented on #1814
Nice clear report - do you think the "good first issue" fits here? It might actually be quite tricky as there are lots of parsers which would need updating to add this warning - and in some cases the existing structure may not lend itself to this change.

[2018-10-03 14:30] peterjc opened #1817 "Deprecate Bio.GenBank.Record based GenBank parser?"
Asked on the mailing list http://mailman.open-bio.org/pipermail/biopython/2018-October/016550.html

Am I right in thinking almost everyone working with GenBank or EMBL files in Biopython does so via ``Bio.SeqIO`` these days?

Underneath, this calls the scanner/consumer parser defined in ``Bio.GenBank``, where the scanner code breaks up the file into logical bits which are passed to a consumer whic

[2018-10-03 21:05] Pezhvuk commented on #558
Has this added functionality been deprecated now?

[2018-10-04 09:39] peterjc commented on #558
@Pezhvuk What do you mean? Quoting the release notes from Biopython 1.67 (8 June 2016),

 As far as I know, it is working perfectly, e.g.

It works perfectly and there is no deprecation warning:

[code]

Or, doing this via an explicitly declared gapped alphabet:

[code]

[2018-10-04 09:43] peterjc commented on #1689
Fixed via #1818, thank you @alonalj

[2018-10-04 09:43] #1689 closed

[2018-10-04 12:36] jvkersch commented on #666
I benefitted a lot from @Zsailer's patch to expose `fasta-2line` but now I have a similar question: would it make sense to expose another option `qual-2line` to output qual files in strict 2-line format? I have a pipeline with tools, some of which expect 2-line qual files. I monkey-patched my BioPython to add a `QualPhredTwoLineWriter` along the lines of what was done in #1450, so for my use case

[2018-10-04 13:05] peterjc commented on #666
Hi Joris  - I'm surprised to here anyone is still using qual files - I used to with Roche 454 data but that was some years back - I'd be curious to here more about the use case, and if it justifies adding this extra code. Would you mind opening an new issue about this proposal? Thanks!

Also I am belatedly closing this issue, the ``fasta-2line`` support added in Biopython 1.71 addressed the origin

[2018-10-04 13:05] #666 closed

[2018-10-04 18:30] nimne commented on #1782
It looks like the right place to strip the spaces is in `Phylo/NewickIO.py` here:
[code]
to this:
[code]

Does this have the potential to break anything? All I can find is that spaces are generally ignored during parsing, so this seems safe.

[2018-10-04 18:44] etal commented on #1782
That should be safe, but the extra `.replace(': ', ':')` might slow down the parser overall. I'd like to see if the regex `tokenizer` can be updated to skip over these extra spaces.

[2018-10-05 00:14] svalqui commented on #1733
Replaced _atom_site.aniso_U with _atom_site_anisotrop.U, and created an index by _atom_site_anisotrop.id, so it can be related back to _atom_site.id.

@peterjc  Hi Peter here an amendment that address the issue raised, I have tested it with 3nir.cif that I found on the PDB web site; also works with 4CUP.cif on /Test/PDB as below

...     print("a_name:", atom.get_name(), " a_id: ", atom.get_id(),

[2018-10-05 22:20] funcylambda commented on #1708
I'll pick this up :)

[2018-10-06 16:20] mdehoon commented on #1801
Fixed by pull request #1823

[2018-10-06 16:20] #1801 closed

[2018-10-06 16:55] sars1492 opened #1826 "Dead references in the Tutorial"
DISCUSSION

The Tutorial contains several dead references to external sites. I have tried to google them out, but I struggled to find an actual working website of any of these projects.

The main point of this discussion is whether or not these references should be removed from the Tutorial or replaced by other references.

The list of the dead references I have found:

- [x] http://www.chem.qmw.a

[2018-10-08 08:43] peterjc commented on #1826
The first one is easy, http://www.sbcs.qmul.ac.uk/iupac/ - see https://github.com/biopython/biopython/pull/1825#discussion_r223282531

[2018-10-08 08:46] peterjc commented on #1826
Regarding PAZAR, you had a typo - this is in the motifs chapter, https://github.com/biopython/biopython/blob/biopython-172/Doc/Tutorial/chapter_motifs.tex#L206 and is/was used in JASPAR. Over to @mdehoon for that one.

[2018-10-08 08:48] peterjc commented on #1826
The WU BLAST link and text still seem fine to me,

[code]

https://github.com/biopython/biopython/blob/biopython-172/Doc/Tutorial/chapter_blast.tex#L251

(Although as per #1825 we can use HTTPS now)

[2018-10-08 08:49] peterjc commented on #1826
The PFAM example should I think now point at http://pfam.xfam.org/family/PF05371 - if you agree could you include this in #1825 please?

[2018-10-08 08:51] peterjc commented on #1826
For http://www.expasy.org/cgi-bin/sprot-search-de and http://www.expasy.org/cgi-bin/sprot-search-ful see #253, which I'd forgotten about.

[2018-10-08 08:53] peterjc commented on #253
I was reminded of this via #1826 and the tutorial having the (defunct) URLs http://www.expasy.org/cgi-bin/sprot-search-de and http://www.expasy.org/cgi-bin/sprot-search-ful

@bow Should we deprecate these two functions now? What state is the UniProt API wrapper?

[2018-10-08 08:54] peterjc commented on #996
Cross reference #253, I think we should deprecate ``sprot_search_ful`` as well.

[2018-10-08 10:02] sars1492 commented on #1826
OK
WU-BLAST webpage does not have HTTPS. We should leave HTTP.

[2018-10-09 14:39] peterjc commented on #1733
Fixed via #1775, see also #1822 for any followup...

[2018-10-09 14:39] #1733 closed

[2018-10-09 20:41] bow commented on #253
@peterjc Deprecating the functions seems sensible given that the upstream services are not there anymore. To be honest, I also have not touched the API for a very long time.

[2018-10-10 13:45] JohnMCMa commented on #1756
Since pull request #1790 is merged, I'm closing this as resolved.

[2018-10-10 13:45] #1756 closed

[2018-10-11 11:33] romagnolid opened #1828 "Fastq parser: retrive original quality string in addition to Phred Scores"
To my knowledge the only way to retrive the orginal string is to split the representation of the record.
[code]
Personally I think it would be better if each record had a `record.quality` property.
Something like this:
[code]

[2018-10-15 11:55] peterjc commented on #1828
If you are using FASTQ files via ``Bio.SeqIO`` you get ``SeqRecord`` objects where the quality string has been decoded into integer values, accessible as ``record.letter_annotations["phred_quality"]``. This object model tries to be file format neutral, and as such adding a ``.quality`` attribute would be too narrow in scope.

If you actually want the (original) FASTQ ASCII string, don't use the hi

[2018-10-15 12:19] romagnolid commented on #1828
I realized I missed this line from the tutorial http://biopython.org/DIST/docs/tutorial/Tutorial.html#htoc68
_If you don’t need the quality scores turned into integers, or can work with them as ASCII strings [...]_

The only minor improvement in the documentation I could think of is to highlight that the quality string is present  in the tuple produced by `FastqGeneralIterator` but I'm just nitpic

[2018-10-15 12:19] #1828 closed

[2018-10-17 11:55] peterjc commented on #1826
I think a pull request removing the reference to http://www.columba-db.de/  would make sense.

[2018-10-19 10:15] peterjc commented on #1573
This is now implemented via #1635, it just needs a minor update to the webpage to say this will be in Biopython 1.73 and we can close this issue:

https://github.com/biopython/biopython.github.io/blob/master/wiki/SeqIO.md

[2018-10-19 16:11] #253 closed

[2018-10-24 09:41] sbliven opened #1831 "Support PDB residue mappings with SIFTS"
It would be nice to support residue-level mappings from structures to SEQRES indexes and other sequences. This would probably entail an interface to the SIFTS API (https://www.ebi.ac.uk/pdbe/docs/sifts/quick.html).

For instance, given a structure and a seq object, I would like to map between residues and sequence positions:
[code]

The reverse map would also be important.

Note that SIFTS support

[2018-10-25 15:49] peterjc opened #1833 "Investigate flake8 W605 invalid escape sequence"
With the release of flake8 3.6.0 (which includes pycodestyle 2.4.0), we now get lots of new warnings unless configured to be ignored), including W605:

[code]

In most cases these are likely best resolved with explicit raw string mode, e.g.

[code]

[2018-10-25 15:50] peterjc commented on #1833
Cross reference ec573b5869902035627f28ecae917d5a0db6fe1a which added W605 to our ignore list.

[2018-10-25 16:07] peterjc commented on #1693
As noted on https://github.com/biopython/biopython/pull/1832#issuecomment-433094531 a recently merged pull request https://github.com/biopython/biopython/pull/1635#issuecomment-433106961 has sadly reintroduced this problem under Python 3.7

It should be a simple enough fix...

[2018-10-25 20:15] chris-rands commented on #1693
I am not using Python 3.7 yet myself I'm not familiar with the Biopython module, but it might be as simple as this [here](https://github.com/biopython/biopython/blob/master/Bio/PDB/MMCIF2Dict.py#L29)?

[code]

[2018-10-25 22:09] andrewsanchez opened #1834 "Specific ID format with epost"
Biopython version:  1.70
Python version:  3.5.4
CPython
operating system: Linux-4.4.0-137-generic-x86_64-with-debian-stretch-sid

### Expected behaviour

Return valid epost results, such as:

[code]

### Actual behaviour

[code]

### Steps to reproduce

[code]

[2018-10-25 22:15] andrewsanchez commented on #1834
The HTTP response objects contains the error "ID list is empty! In it there are neither IDs nor accessions."

[2018-10-26 06:51] svalqui commented on #1203
I'll work on Bio.PDB.

[2018-10-26 10:55] peterjc commented on #1834
I don't think this is a Biopython problem, rather one of working out what the NCBI Entrez API expects.

You seem to need to use an appropriate SRA accession here, e.g. https://www.ncbi.nlm.nih.gov/sra/?term=SRS3972851 suggests four SRX accessions to try:

[code]

As to the parser error, it looks like something about the error message is breaking it:

[code]

@mdehoon what should the parser be retu

[2018-10-26 10:59] peterjc commented on #1693
@chris-rands quite possibly - if you try it on a pull request, we'll find out 👍

[2018-10-26 11:11] #1270 closed

[2018-10-26 15:42] aditya1709 opened #1836 "Dynamic bayesian networks (DBNs)"
Has the Mocapy++ been integrated into biopython. I can't seem to find any sample code on DBNs in biopython. Any help is appreciated. [I am specifically looking at parameter learning in DBNs]

[2018-10-26 15:52] peterjc commented on #1836
No, it has now. Are you talking about https://sourceforge.net/projects/mocapy/ which is a C++ project? What form would such an integration take?

[2018-10-26 19:44] andrewsanchez commented on #1834
To clarify:  I am trying to get *to* those accessions you provided, e.g. `SRX4927791` *from* the BioSample ID, `SRS3972851`.

But why then would both  of these work:
[code]

Returning the expected Count value of 4 (verified by this link you provided:  https://www.ncbi.nlm.nih.gov/sra/?term=SRS3972851)

Yet these fail:

[code]

[code]

[2018-10-29 00:15] mdehoon commented on #1834
The parser is doing what it is supposed to do: It takes the first error message returned by Entrez and raises a RuntimeError with this message.

[2018-10-29 09:35] peterjc commented on #1834
@andrewsanchez I suspect you want to use ``elink`` here, but I didn't immediately spot the appropriate entry on this long table to try: https://eutils.ncbi.nlm.nih.gov/entrez/query/static/entrezlinks.html

[2018-10-29 17:19] mdehoon commented on #1834
@peterjc

Yes ValueError could be better.

The HTTP Error appears with Entrez.efetch; this is independent of the parser.

[2018-10-30 09:29] peterjc opened #1838 "Review empty file behaviour for SeqIO parsers"
In some sequence formats (e.g. FASTA, FASTQ, GenBank, EMBL, Swiss) an empty file is a legitimate corner case meaning no sequences. In order formats (e.g. SFF, XML) an empty file is invalid as a minimal header is expected.

This issue is to review all the SeqIO file formats and their behaviour when asked to parse an empty file - and document on this issue what they currently do.

They should either

[2018-10-30 09:39] peterjc commented on #1834
Ah. So the Entrez internal URL open function would have to catch the HTTP Error, see if there was an additional message in the return value, and then raise either the original exception or an extended one. That could be done but seems like a lot of work and potentially fragile.

@anderspitman Could you update to Biopython 1.72 (or the latest code from git) and retry your example? Do you agree with

[2018-10-31 16:05] abkomissarov opened #1839 "Add support for NCBI BLAST XML v2"
Hi, I'm now learning how to use BioPython for parsing BLAST XML output files. I have got a problem with parsing. Below is my code and the output error - "AttributeError: 'BlastParser' object has no attribute '_blast'". I have no idea how to fix it. Could anyone help me? Thanks a lot in advance.
Sorry if issue formatting is not OK. It's my first issue raised.
XML example file is attached.

python 3

[2018-10-31 16:51] peterjc commented on #1839
You do not have the original BLAST XML output, you have BLAST XML v2 which
we do not yet support:

[code]

On Wed, Oct 31, 2018 at 4:14 PM abkomissarov <notifications@github.com>
wrote:

[2018-10-31 21:37] svalqui commented on #1203
I'll work on Bio.SearchIO.

[2018-11-01 06:01] abkomissarov commented on #1839
Thanks a lot for clarification. On original XML output it works fine.

[2018-11-01 09:29] peterjc commented on #1839
@bow Would it make sense to add ``blastxml2`` to ``Bio.SearchIO`` directly (only), or do you think putting it under ``Bio.Blast`` would be just as straightforward?

[2018-11-01 13:28] vanya-antonov opened #1840 "Improve documentation of Bio.codonalign.build() function"
I am new to the github and this is my first post, so I am sorry if it is not very appropriate..

Anyway, I was thinking to use Biopython to create a nucleotide alignment based on a protein alignment, i.e. to do what was asked on Biostars a while ago: https://www.biostars.org/p/89741/

Apparently, this Biopython function was developed to help with similar tasks. However, the example from this funct

[2018-11-01 14:23] peterjc commented on #1840
Which bit of the Biopython documentation specifically are you referring to?

[2018-11-01 14:52] vanya-antonov commented on #1840
Hello Peter,
I am talking about this part from the "biopython/Bio/codonalign/__init__.py" file:
https://github.com/biopython/biopython/blob/868b63d1af71650d247d70ba5ea4f82f6c732c61/Bio/codonalign/__init__.py#L33-L64

[2018-11-01 15:12] peterjc commented on #1840
Could you contribute a more typical example to insert above this one?

[2018-11-01 16:32] vanya-antonov commented on #1840
BTW, there is also a typo in the documentation. The second argument of the function is `nucl_seqs`, however in the documentation it is called `nucl_align`:
https://github.com/biopython/biopython/blob/868b63d1af71650d247d70ba5ea4f82f6c732c61/Bio/codonalign/__init__.py#L37

I believe `nucl_align` should be changed `nucl_seqs` in documentation.

[2018-11-01 16:43] peterjc commented on #1840
That sounds good - do you fancy turning this into a pull request? You can do it all from the GitHub website if you like (without running git at the command line).

[2018-11-02 18:27] #1840 closed, assigned to nobody

[2018-11-02 18:54] vanya-antonov opened #1842 "Error while concatenating CodonAlignment with another alignment object"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

### Expected behaviour
Creation of a new MultipleSeqAlignment object by concatenating CodonAlignment with another CodonAlignment or MultipleSeqAlignment object via the `+` operator.

### Actual behaviour
TypeError is produced in both cases

### Steps to reproduce
[code]
[code]

[co

[2018-11-02 23:01] bow commented on #1839
Hmm..my hunch says it's more straightforward to add it directly to SearchIO. And although it's hard for me not to be biased here, I think it's also best if there is one interface for parsing these files (at least for newly supported files).

[2018-11-03 09:52] peterjc commented on #1839
If it looked easy/clean to extend ``NCBIXML.py``, then I'd focus on that - but if the new format needs a complete new parser then I'm OK with putting in under SearchIO. Its up to you.

[2018-11-03 09:59] peterjc commented on #1842
Supporting this looks like a very reasonable expectation, but it looks like it was never implemented/tested.

Here ``CodonAlignment`` inherits the addition method from ``MultipleSeqAlignment``, but the codon specific alphabet rules in ``CodonAlphabet`` clash somewhere.

@zruan does this look like something you could work on?

[2018-11-06 23:57] peterjc commented on #1737
Cross reference Debian issue:
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=913064

[2018-11-07 00:44] aditya1709 commented on #1836
There was a GSoC 2011 project that was focused on integrating Mocapy++ into biopython. Wanted to confirm if it was done.

[2018-11-07 00:53] peterjc commented on #1836
You can read about that on https://biopython.org/wiki/GSOC2011_Mocapy (although it looks like some of the Mediawiki markup broke in the move to Markdown on GitHub pages). There is some code on https://github.com/mchelem/biopython/commits/master (yes, the fork's master branch), but I don't recall anything being merged into the official Biopython repository.

Hopefully @mchelem or @etal can clarify

[2018-11-07 02:03] zruan commented on #1842
Peter is correct. The codon alphabet clashes with the single letter alphabet rule.

In general, I don't think concatenating a CodonAlignment object with a MultipleSeqAlignment object is a good practice. If this is really necessary, converting the CodonAlignment object to a MultipleSeqAlignment object first is more reasonable. CodonAlignment class has a `toMultipleSeqAlignment` method for this purp

[2018-11-09 20:04] DevangThakkar commented on #1838
I've tried to document the results that are printed out when SeqIO encounters an empty file in each of the formats mentioned in the [documentation](https://biopython.org/wiki/SeqIO). I've uploaded the test script and the results [here](https://github.com/DevangThakkar/Misc_scripts).

Most formats do not print anything (25/31). cif-atom and cif-seqres give `Unknown format 'cif-atom'` and `Unknown f

[2018-11-09 20:34] peterjc commented on #1838
It sounds like a pull request for cif-atom and cif-seqres, and/or a pull request for uniprot-xml, would be a good idea. Rather than the current message I think these should return ``ValueError("Empty file")`` like SFF?

For pdb-atom, I'm not sure if return no records is sensible, or again, the Empty File message is better.

[2018-11-10 13:24] hmkim opened #1846 "premature end in GenBank"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

(*Please copy and run the above in your Python, and copy-and-paste the output*)

### Expected behaviour

Parsing sucessfully

### Actual behaviour

$ time python ../oligo-designer/test/brandon/validat_gb.py

<img width="806" alt="2018-11-10 10 25 29" src="https://user-images.github

[2018-11-10 23:03] peterjc commented on #1846
It appears the parser is correct, the record ends part way though the CDS feature's translation with the start if what looks like an NCBI XML page (possibly an error message). i.e. It should fail validation, and you got a ValueError = Good.

Can you confirm this by looking at the raw GenBank file in a text editor or similar?

[2018-11-13 10:07] peterjc commented on #1833
@biojerm that'd be great, thank you. I've seen W605 come up in other projects use of regular expressions, and again they just added the raw prefix to fix it. Note if there are some real uses of slash like ``\n`` or ``\t`` in the string things are more complicated...

[2018-11-14 00:19] biojerm commented on #1833
@peterjc  I created a [fork](https://github.com/biojerm/biopython/tree/1833-flake8-strings) of the biopython repo, and made the changes to the files mentioned above.  I also re-ran the flake8 checker and no new warning came up.  All of the changes look to be within regex search patterns with the exception of the `Nexus.py` and `db.py` files.  However I don't think changing those string to raw will

[2018-11-14 02:38] hmkim commented on #1846
@peterjc  I know it. but I want to pass for this entry.
becuase..
Sometimes, when I download the genbank from NCBi using API, some record had  premature end.
so, I want to pass for premature entry.  (like try.. except in Python)
Could you suggest the code  related to this issue ?

[2018-11-14 10:06] peterjc commented on #1846
You can see how Kai Blin uses Biopython to do a basic validation of GenBank or FASTA files downloaded from the NCBI here.

https://github.com/kblin/ncbi-acc-download/blob/master/ncbi_acc_download/validate.py

As you suggest, he uses a try/except catching ValueError (like your example) or AssertError (see also #933, we should replace those with ValueError or similar).

Note he checks the parser fin

[2018-11-14 13:40] peterjc commented on #1833
Your next step would be to make a pull request from your branch https://github.com/biojerm/biopython/tree/1833-flake8-strings - there should be a big green button on the GitHub interface (and when you have recently updated a branch, a yellow banner usually appears suggesting this).

As to the tests, there is a chapter in the tutorial which might answer your question? http://biopython.org/DIST/docs

[2018-11-14 13:42] peterjc commented on #1833
Of course, once you make the pull request, the tests will be run automatically on TravisCI and AppVeyor, so that ought to be enough in this case if you can't get things to run on your own machine.

[2018-11-14 13:46] peterjc commented on #1833
I had an initial look by eye, and almost everything looks fine. However, the Nexus change looks like it might be wrong,

[code]

However I'd want to run this past our NEXUS experts to double check the intent (unless the tests tell us).

[2018-11-15 03:08] biojerm commented on #1833
@peterjc I made the suggested changes to the Nexus.py.

I am still having trouble getting the specs to pass, but I don't want to pollute, this issue should I post to the mailing list? Or is there a better place?
I am getting a bunch of errors like this one:
[code]

[2018-11-15 08:17] hmkim commented on #1846
Thank you for suggestion!
I'll try to solving issue based on your suggestion.

[2018-11-15 08:17] #1846 closed

[2018-11-15 13:37] peterjc opened #1848 "test_Entrez_online .py test_fetch_xml_schemas fails with ProteinList"
Testing on macOS installed from git, using Python 3.6.4 from Anaconda,

[code]

Also seeing this on Linux Python 2.7.15

[2018-11-15 14:19] peterjc opened #1849 "test_Entrez_online.py test_efetch_gds_utf8 fails with encoding issue (Python 2)"
It looks like this test is working on Python 3, but failing on Python 2.7 - we don't run this on AppVeyor or TravisCI because is it an online test and therefore we expect some intermittent failures and also don't want to burden the online servers.

64bit Linux, Python 2.7.15 via conda

[code]

(It also fails on #1848 but I have omitted that here)

Same issue on macOS using Apple provided Python 2.

[2018-11-15 15:22] peterjc commented on #1833
All done, closing issue now.

[2018-11-15 15:22] #1833 closed

[2018-11-16 04:48] biojerm opened #1850 "Tests Fail on Windows"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

### Expected behaviour

After downloading the master branch I tired to run the existing specs using the the command `$ python setup.py test`.  These tests are not currently passing, I would have expected them to pass seeing that the code passes on AppVeyor.

### Actual behaviour

I

[2018-11-16 09:33] peterjc commented on #1850
Thanks for filing this.

Many of the "permissions" errors relate to removing temporary files, and I have spent many hours in total on older versions of Windows tracking down and fixing similar cases. In general this is a sign that something still has an open handle to the file (on Windows this means it can't be deleted, on Unix it can be deleted). That in turn usually means we are not explicitly c

[2018-11-16 09:36] peterjc commented on #1850
Also, can we change "specs" to "tests" in the issue title?

[2018-11-16 10:19] peterjc commented on #1850
Do the individual problem tests fail reproducibly if run directly? e.g.

[code]

Running this way often gives us more logging information too.

[2018-11-16 14:40] biojerm commented on #1850
I get two different outputs depending on if I am running my terminal as an administrator vs 'normal' .  In 'administrator' mode I get no errors, in normal mode the tests have an error.  When I ran these commands, I ran the tests in the administrator terminal first followed by the  'normal' terminal.  Below are the outputs.

### Administrator terminal output:
[code]

####  Normal terminal output

[

[2018-11-16 14:50] peterjc commented on #1850
This is strange (the BGZF test working in administrator mode only), but as it is only a failure to delete a temp file I am not too worried about this.
bg
Looking at another example, the messages from ``test_Application.py`` suggest that Windows 10 does not have the ``echo`` command anymore. Does ``echo Hello World`` not work at the Windows command prompt? Maybe we'll have to skip this test under W

[2018-11-16 14:55] biojerm commented on #1850
echo seems to work on both admin and normal terminals

(py3k) C:\Users\Splab-PC\Dropbox\python\biopython\Tests>echo hello world
hello world

[2018-11-16 15:10] peterjc commented on #1850
The echo thing is strange, but I think this explains why - we had to special case Windows 7, 8 and 8.1 , but we've not tried this on Windows 10 before:

https://github.com/biopython/biopython/blob/biopython-172/Bio/Application/__init__.py#L494

What does this print:

[code]

And do either of these work:

[code]

[2018-11-16 15:12] peterjc commented on #1850
If you do ``python setup.py test`` it effectively does ``cd Tests/`` and then ``python run_tests.py`` - and doing it this way should test with the not-yet-installed Biopython (and not any old already installed Biopython).

If you do ``cd Tests/`` and then ``python test_bgzf.py`` (or similar), it uses whatever version of Biopython you have installed. So as long as you have recently installed the cu

[2018-11-16 15:14] peterjc commented on #1850
Oh, and there is little reason to update to the very latest code from git just for the MAF example, as that code has not changed since April 2018. But updating would get you this week's TogoWS test fix.

[2018-11-16 15:38] mchelem commented on #1836
A couple of years ago @etal contacted Thomas Hamelryck (my GSoC mentor) and I to discuss integrating Mocapy's fork into the official Biopython repository. Back then, Thomas wanted to include some new work a masters student under his supervision was finishing. After that, we didn't keep in touch.

I just checked the Mocapy project and noticed the GSoC branch has been integrated into the main source

[2018-11-16 23:35] biojerm commented on #1850
@peterjc
[code]

[code]

[code]

It looks like without the `shell=True` argument `subprocess` is not being called correctly.  I saw the same results for both the admin and regular terminals.

[2018-11-17 05:20] biojerm commented on #1850
I was looking at this again tonight and ran the command below from my normal terminal from the Bio/Tests folder.

`python test_bgzf.py`

I ran the command twice in a row because the first time all the tests passed (which was unexpected) but then they failed on the second call

[code]

I noticed there is no `h.close()` statement here:
https://github.com/biopython/biopython/blob/bf93a76150868076cfc9

[2018-11-18 12:29] MarkusPiotrowski commented on #1850
This is the same with Python 2.7 on Windows 7.

[code]

[2018-11-19 10:40] peterjc commented on #1850
@biojerm Yes, you're right - in ``test_bgzf.py`` the method ``test_many_blocks_in_single_read`` is missing a final ``h.close()`` line. Normally this is harmless, but would be worth adding. Again, would you like to submit this as a pull request (so you are formally recorded as a Biopython contributor)? If not I can add that.

The error you saw was from ``check_random`` called here, but by eye I don

[2018-11-19 22:20] svalqui commented on #1203
I'll work on Bio.Phylo.

[2018-11-20 03:41] biojerm commented on #1850
@peterjc I will give these a shot.  I will submit them all as separate PRs.  Is that OK or is a single PR better?

[2018-11-20 05:06] biojerm commented on #1850
@peterjc I changed the `__init__.py` file to your suggestion.  But I am still getting errors.

I pasted the complete errors below, but here is a screen shot from a diff checker.  The only changes of adding windows 10 (and presumably making `shell=True`) was a different error from `test_echo_file_stderr`.  The left (red) code is without Windows10 in the `win_ver` list and the right (green) code has

[2018-11-21 07:45] hello2sys opened #1856 "distancematrix failed"
import numpy as np
distance=np.array([[0,1,2,3],[4,5,6,7],[8,9,10,11],[1,2,3,4]])

from Bio.Cluster import distancematrix
matrix = distancematrix(distance,dist='e')

**result:unexpected format.**
there is no example to show how to use the function

[2018-11-21 09:41] peterjc commented on #1850
Ideally two separate pull requests would be best,

(1) adding the missing final ``h.close()`` line to method  ``test_many_blocks_in_single_read`` in ``Tests/test_bgzf.py`` - which seems simple enough even though there may still be another issue causing ``test_bgzf.py`` to fail sometimes.

(2) adding the string ``'10'`` to the ``win_ver`` list in ``Bio/Application/__init__.py``, which does seem to

[2018-11-21 21:20] biojerm commented on #1850
@peterjc I will keep poking at this for the next few days.  I added in the `sleep(1)` line, but that did not seem to resolve the problem.  Right now I cannot reliably get this error:
[code]

If I make any changes to the file (including the `sleep(1)` or even in the header `from time import sleep`) the error changes to:
[code]

I need to look into my setup and make sure that everything is configure

[2018-11-21 22:43] peterjc commented on #1850
If you know what you're doing with the debugger (or are willing to find out), that'd be great. There is very little I can do from here to help diagnose this BGZF test failure, or the application wrapper one. And yes, error messages without an actual filename are frustrating to debug.

[2018-11-22 10:16] peterjc commented on #1850
Good detective work! I tend to use different machines, and/or different versions of Python, to make it more obvious which library is being imported.

If you want/need to use the same Python, then virtual environments are worth looking at - but personally I tend to just have the latest Biopython from git installed (be that the master when I'm just using Biopython, or a branch when working on Biopyt

[2018-11-22 15:44] peterjc commented on #313
@bow Is this still pending?

[2018-11-22 16:22] peterjc commented on #306
I happened to find this old issue while looking for something else - there was a happier ending:

As of Biopython 1.71 (April 2018), Bio.SeqIO now supports reading and writing two-line-per-record FASTA files under the format name "fasta-2line", useful if you wish to work without line-wrapped sequences. See pull request #1450

[2018-11-24 19:07] nimne commented on #1849
This error is probably due to the fact that in python3 `unicode()` is renamed to `str()`. The result of this, is that strings are unicode by default in python3 but not python2. See [here](https://docs.python.org/dev/howto/pyporting.html#text-versus-binary-data).

I can't think of a better solution than version checks, as you have suggested.

[2018-11-25 04:13] DevangThakkar commented on #1812
@chris-rands @peterjc Do you mind if I try working on this?

[2018-11-26 00:56] pmet007 opened #1863 "ProteinAnalysis should handle ambiguous amino acid codes -"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

2.7.15 | packaged by conda-forge | (default, Jul 27 2018, 10:23:44)
[GCC 4.2.1 Compatible Apple LLVM 6.1.0 (clang-602.0.53)]
CPython
Darwin-18.2.0-x86_64-i386-64bit
1.72

### Expected behaviour - ProteinAnalysis should deal with ambiguous amino acid codes

from Bio.SeqUtils.ProtParam impor

[2018-11-26 06:06] biojerm commented on #1850
Good news is that while working on sorting out my development environment I am seeing most of the tests pass except the MafIO.  So adding windows 10 to the `win_var` (at least for the moment) cleared up most of my issues.  I will take a look at these the MAFIO errors in the next few days.  I tried to converted the EOL in the `cnksr.fa` file using Notepad++ but that did not solve the failing test.

[2018-11-26 09:14] chris-rands commented on #1812
@DevangThakkar I can't speak for Peter, but from my perspective that would be good, thanks. Things have got busy for me, so I haven't actually started working on this yet. I can help review a pull request if this is appropriate

[2018-11-26 09:44] peterjc commented on #1812
Sure - @DevangThakkar please give this a go. Are you clear on the goal here, and will you be able to do some timings (see Chris' work on the FASTA side for some ideas there)?

[2018-11-26 09:52] peterjc commented on #1850
Your development copy of Biopython (under version control, or just an unzipped tar-ball of the source release) would normally be separate from the installed version under ``.../site-packages/``, so I would recommend following this style. I suspect having both in the same place won't work for the compiled C code either. Also the installed copy will not have the tests folder. Personally I use ``~/re

[2018-11-26 09:59] peterjc commented on #1849
We might have something suitable already defined in ``Bio._py3k``, perhaps ``as_unicode``, rather than an explicit version check as per my initial suggestion.

[2018-11-26 11:36] peterjc commented on #1863
You missed out the current behaviour,

[code]

i.e. An explicit clear exception.

You also didn't say what behaviour you expected or would like. What would you expect from B, Z, X and J? You might argue for the mean value of aspartic acid and asparagine (D or N) be used for B (and similarly for Z and J), but is that useful for X? Would NaN be better than the current exception?

[2018-11-27 06:14] pmet007 commented on #1863
Hi Peter

First - thanks for all your work on BioPython - I use it often.

I guess how ProtParam responds to ambiguous amino acids depends on what it is being used for

e.g The. Isoleucine / Leucine ambiguity  should be allowed for MW and pI estimation since it doesn’t affect the results.

If there are a limited number of ambiguities one could calculate results for all combinations and if there is

[2018-11-27 06:59] DevangThakkar commented on #1812
@peterjc Yeah, I think I do. I've opened a pull request with the new parser code and the timings comparing the existing and the new parser similar to the one @chris-rands had compiled. Let me know what you think of it, and do let me know if we can make it even faster somehow.

[2018-11-27 14:52] biojerm commented on #1850
@peterjc Thanks for the clarification.  I will setup keep working on my setup and getting the tests to pass.

[2018-11-28 03:19] biojerm commented on #1778
Is it not opening, or is it opening then then closing?  I had an issue a while back where a dependency would not load and the .exe file would close quickly after I opened it.  To figure out the problem, I had to create a message box that would pop and display the error.

maybe these SO sites will provide inspiration for an alert box:

https://stackoverflow.com/questions/177287/alert-boxes-in-pytho

[2018-11-28 11:07] peterjc commented on #1863
There are several properties being calculated here. Starting with molecular weight, are you saying for B, Z and J using the mean of the two possible meanings is sensible (perhaps with a warning)? What about X?

If instead for changing the code behaviour, you wanted to submit a pull request to re-phrase the current molecular weight error message, that would be great.

[2018-11-28 13:31] peterjc commented on #1849
Using ``_as_unicode`` takes the default encoding and fails - using UTF8 explicitly seems to be required here, so I've applied the if-statement shown earlier.

[2018-11-29 11:43] SchwarzMarek opened #1865 "plot orfs"
Hello,
I've implemented function for plotting potential ORFs in 6-frame translation as ascii string.

It looks like this.
[code]

I was looking for this functionality and found it lacking and I think it could be useful to others as well. It could accompany the "six_frame_translations" function from SeqUtils module.

If aggreed, I'll create a pull request.

Also, I have a function, which returns st

[2018-11-30 08:58] bow commented on #313
@peterjc Yes, not much time to work on this unfortunately. I'm still generating the test cases (along with the more difficult edge cases).

[2018-12-03 10:52] hsiaoyi0504 opened #1867 "[Discussion] handle too many request of Entrez"
### Setup

I am reporting a problem with Biopython 1.72, 3.6, and CentOS 7 as follows:

[code]

### Expected behaviour

Provide a option to avoid this

### Actual behaviour

raise HTTPError

### Steps to reproduce

invoke request frequently

It's a feature request and I think I can contribute this part.
The reason why I open this is just to have a discussion how should I do that (spec ...).

[2018-12-03 11:22] peterjc commented on #1867
That should not happen - we already try to enforce most of the NCBI usage restrictions - although as documented, not the *For any series of more than 100 requests, do this at weekends or outside USA peak times.* rule. See "Entrez Guidelines" in our tutorial:

http://biopython.org/DIST/docs/tutorial/Tutorial.html
https://github.com/biopython/biopython/blob/biopython-172/Doc/Tutorial/chapter_entrez.

[2018-12-03 12:13] hsiaoyi0504 commented on #1867
I am thinking if it's good to have another option to set the sleep time inside the function that calls API and when we got such kinds of error, giving some suggestion about that (like what you mentioned, add email, add key, or setting up a sleep time as what I propose here).

I didn't introduce those ways such as multiple threads (processes).

I do know that there is a Entrez API key, but I didn't

[2018-12-03 15:39] peterjc commented on #1867
The NCBI recommends setting up an API key, and then allows up to 10 queries per second. Otherwise they allow up to 3 queries per second. We should update our tutorial to be clearer on this point....

Anyway, we use those values to set a delay of either 1/10 seconds or 1/3 seconds between calls using sleep here:

https://github.com/biopython/biopython/blob/biopython-172/Bio/Entrez/__init__.py#L509

[2018-12-03 15:43] peterjc commented on #1867
It could be that as of 1st December the NCBI are indeed being much stricter - hopefully all we need to do is slightly longer pauses....

https://www.ncbi.nlm.nih.gov/books/NBK25497/#_chapter2_Usage_Guidelines_and_Requiremen_

[2018-12-03 15:49] peterjc commented on #1867
The tutorial talked about the rate limit twice, 703ec76355cbb1c53f5677e9d6a2b88f32d77e29 simplifies this.

[2018-12-03 18:06] hsiaoyi0504 commented on #1867
Initially, I added a fair enough long time (more than 1 sec) to make it works.
Just few minutes ago, I did a small testing (with less than 100 requests) and it looks like with additional 0.025 should be enough.
I guess the 3 queries per second is more like 0.36 or 0.37 (pretty weird though).

[2018-12-04 10:44] peterjc commented on #1867
Thank you for looking at this. I can imagine ways the NCBI are measuring this which could explain this - for example they are looking at the interval between calls, there is some fuzziness in the start/end times of each request and its processing.

Would it be easy for you to try a modified Biopython with the current ``0.333333334`` delay increased to say ``0.37`` instead?:

https://github.com/bio

[2018-12-05 10:42] hsiaoyi0504 commented on #1867
I have tested and it works for me and create a PR in #1869. However, I am not sure if we should expose the delay time. One of possible conditions is that user get permission from NCBI with higher rate-limit and want to decrease the delay time.

[2018-12-05 10:59] peterjc commented on #1867
Thank you.

The NCBI have already created the API key approach to allow the higher rate-limit of 10 requests per second, so I don't think we need to expose this as an option.

If anyone really want to slow down calls to Entrez, it is easy to add explicit calls to ``sleep(...)`` in the user's code.

[2018-12-05 12:49] hsiaoyi0504 commented on #1867
Sorry, perhaps I didn't describe clearly. What I mean earlier is that if an organization / user got higher rate permission and it's based on Biopython, they may want to decrease the delay time. That is, speeding up
 rather than slowing down.

from https://www.ncbi.nlm.nih.gov/books/NBK25497/?report=reader

[2018-12-05 16:03] peterjc commented on #1867
Ah - I see what you mean now. I would wait until someone actually sets that up and can actually test it. Thanks for the clarification.

[2018-12-05 17:09] peterjc opened #1870 "Updating GenBank parser for extra long accession"
Quoting this from the NCBI,

https://ncbiinsights.ncbi.nlm.nih.gov/2018/12/03/adapting-flatfile-parsers-genbank-new-accession-formats/

And from the release notes,

[2018-12-06 02:31] hsiaoyi0504 commented on #1867
Thanks.

[2018-12-09 22:49] smsaladi opened #1871 "training set absent from MEME.txt file"
It looks like MEME now skips over providing sequences from the training set. I'm not certain if it has anything to do with this, but there is an option called `-nbrief` that is set to 1000 by default, which is documented to do the following:

I am also not sure if this option is new (and how it effects the `meme.txt` output).

MEME documentaiton: http://meme-suite.org/doc/meme.html

I am happy to

[2018-12-09 22:58] smsaladi commented on #1871
Update: Does look like it has to do with `-brief`:

[code]

...

[code]

[meme.txt](https://github.com/biopython/biopython/files/2661104/meme.txt)

[2018-12-10 02:43] mnmelo commented on #1287
I got this error installing on MacOS 10.13.6 and was able to track it to the [compiler version check](https://github.com/biopython/biopython/blob/b1e33b9d7c619dd122bd7e1d6337455273194602/setup.py#L85) in `setup.py`.

That check, which reads the output of `cc -v`, ignores environment flags like `$CC`, which will later be used to decide the compiler. In my mac `cc` is the OS-distributed clang, where

[2018-12-10 10:14] peterjc commented on #1287
You are likely right about the source of this problem, not looking at ``$CC``. Good detective work, let's reopen this issue 👍

I'd be comfortable with explicitly checking ``os.environ["CC"]`` or similar (has to work cross platform including Windows, so something like ``${CC:-cc} -v`` would probably not work), but if not - is there a ``setuptools`` equivalent of the ``distutils`` approach you linke

[2018-12-10 19:16] DavidBSauer opened #1872 "multiprocessing in consensus calculation"
Forgive me if this (or something similar) has already been asked, it seems like a simple question but my quick search didn't find anything.

I noticed that the dumb_consensus and gap_consensus methods can be slow for large multiple sequence alignments. This seems like a very good situation for multiprocessing using mp.Pool. Is there a good reason to avoid multiprocessing? (Code readability?)

If n

[2018-12-10 21:57] mnmelo commented on #1287
I couldn't find anything specific to `setuptools`. Are there even platforms where biopython is deployed that have `setuptools` but not `distutils`? Seems a bit odd given the former's dependence on the latter.

If the matter is avoiding direct `distutils` import, would it be acceptable to use it via `setuptools.distutils`?

Finally, the `distutils.sysconfig.customize_compiler` routine is the core b

[2018-12-11 08:57] peterjc commented on #1287
No, just that only relatively recently we accepted ``setuptools`` as a Biopython installation requirement, and it seems in some ways further along that ``distutils`` which as part of the standard library is effectively in maintenance mode.

We can assume ``distutils`` is present and use that if it is appropriate.

[2018-12-11 09:08] peterjc commented on #1872
The simple answer is history, multiprocessing is relatively new - only added Python 2.6, so would not have existed when the consensus methods were created:

https://docs.python.org/2/library/multiprocessing.html

The pragmatic answer is if your datasets are large enough for this to be a problem, you are likely doing most of the heave lifting in an external tool (e.g. MUSCLE or something).

Looking

[2018-12-11 16:19] DavidBSauer commented on #1872
That does make a lot of sense. I was thinking each column would be its own process. But I expect this would offer a significant speed up, while being a lot simpler than multiprocessing. Thanks!

[2018-12-11 18:08] mnmelo commented on #1287
There. Let me now if the PR is ok.

[2018-12-12 10:42] peterjc commented on #1872
If you want to try experimenting with this, that'd be great. We do have unit tests covering this area of the code - and also some Python style guidelines - see https://github.com/biopython/biopython/blob/master/CONTRIBUTING.rst and the testing chapter in our tutorial http://biopython.org/DIST/docs/tutorial/Tutorial.html

[2018-12-12 17:39] vanya-antonov opened #1874 "[Discussion] generate_random_dna.py script"
Hello,

I know this has been asked before ( https://lists.open-bio.org/pipermail/biopython/2004-June/002140.html ), but I have a simple script that generates random DNA sequences with specific GC content:
https://github.com/vanya-antonov/ivanya_python/blob/master/scripts/baseutil/bio/generate_random_dna.py

Do you think it may be useful to the Biopython users? If so, I will be happy to donate it t

[2018-12-12 17:50] peterjc commented on #1874
The core code here is actually very simple - most of your work is wrapping this up into a usable command line script. However, Biopython doesn't currently ship a set of scripts for command line use - other people have made packages to do so (e.g. expose the file converting abilities of ``Bio.SeqIO`` as a script). So unfortunately, my feeling is no, this would not be relevant contribution. You are

[2018-12-12 17:51] peterjc commented on #1874
I should clarify that while we do have things in the folder ``Scripts/`` these are more like examples or for internal use - and are not added to the ``$PATH`` as part of a standard installation of Biopython.

[2018-12-12 18:03] vanya-antonov commented on #1874
Indeed, the `Scripts/` folder is what got me confused:) Thanks for the quick answer, Peter!

[2018-12-12 18:03] #1874 closed

[2018-12-13 02:57] hsiaoyi0504 commented on #1867
@peterjc Oh, you are right. I forget that is a conditional there. Thanks.

[2018-12-13 02:57] #1867 closed

[2018-12-15 16:06] jasiozaucha opened #1875 "PDBList does not have the option to retrieve the 'biological assembly file'"
PDBList does not have the option to retrieve the 'biological assembly file'.

The file_format="bundle" option usually returns
"Desired structure doesn't exists"

Can anyone explain how to overcome this?
As an example, try downloading the 'biological assembly file' for PDB '2exs'. At the moment I can only achieve this by using the PDB website.

[2018-12-16 21:23] vinisalazar opened #1876 "Are you planning on developing Assembly and Genome db support for efetch?"
Hi,

I have a bunch of Genbank Assembly accession numbers, such as:

GCA_000760295.1
GCA_000759885.1
GCA_000158595.1
GCA_000011385.1
GCA_000757845.1
GCA_000009725.1
GCA_000760035.1
GCA_000317555.1
GCA_000012505.1
GCA_000332255.1

and about 600 more. I want to download the FASTA file for each of those identifiers.

But, I have noticed there is no support for downloading files from the Genome or the

[2018-12-16 21:58] peterjc commented on #1876
We (Biopython) are not able to add anything to efetch - that's in the hands of the NCBI. If you can see a logical addition to Biopython in this area though, it would be interesting to hear more details about your idea.

If you are looking for practical help, I would suggest you try https://github.com/kblin/ncbi-genome-download

[2018-12-16 22:05] vinisalazar commented on #1876
Hi @peterjc,

Thanks for the reply. That makes sense. I'll look into the repo you linked, it seems helpful.

Bw,
Vini

[2018-12-16 22:10] #1876 closed

[2018-12-17 09:58] chris-rands commented on #1320
I was just testing this again but with Python 3.7, and found all tests now pass on my system with LANG C, so I think this has been fixed for >=3.7.  [PEP 538](https://www.python.org/dev/peps/pep-0538/) seems to explains the relevant changes.

[2018-12-17 10:02] chris-rands commented on #1693
I suggest we can close this as fixed on #1835

[2018-12-17 11:02] peterjc commented on #1693
Thanks, closing.

[2018-12-17 11:02] #1693 closed

[2018-12-18 11:02] peterjc commented on #1849
Test passes now, marking as resolved.

[2018-12-18 11:02] #1849 closed

[2018-12-18 11:04] peterjc commented on #1850
With #1859 applied for calling tools on Windows 10, and the MAF issue identified as #1149, can we close this or are there any other failures still?

[2018-12-18 11:08] peterjc commented on #1320
If these problems will "go away" with Python 3.7 onwards, that is good news.

If there are any simple changes we can make for Python 3.4, 3.5, 3.6, even better.

[2018-12-18 12:42] peterjc opened #1877 "silence warnings PDBConstructionWarning in test_PDB_StructureAlignment.py"
### Setup

Seen with latest code from git while preparing the 1.73 release on Linux, but applies to all platforms.

### Expected behaviour

[code]

### Actual behaviour

[code]

### Steps to reproduce

Use ``python run_tests.py --offline test_PDB_StructureAlignment.py`` or similar.

We need to catch and ignore the ``PDBConstructionWarning`` here, see for example:

https://github.com/biopython/biop

[2018-12-19 21:23] biojerm commented on #1850
@peterjc Sorry I dropped the ball on this issue. I will check in the next day or so, but we can probably close it.

[2018-12-20 09:13] peterjc commented on #898
David Winter (@dwinter) agreed by email, see
https://mailman.open-bio.org/pipermail/biopython/2018-December/016584.html

[2018-12-20 09:45] peterjc opened #1878 "BSD Dual Licensing Bio/Blast/NCBIXML.py"
Sub-issue of #898, have not yet heard back from my emails to Bertrand Frottier as the original author of ``Bio/Blast/NCBIXML.py`` about dual licensing their contributions to Biopython.

[2018-12-20 10:02] peterjc opened #1879 "BSD Dual Licensing Bio/Blast/NCBIWWW.py"
Spin out from #898, based on the commit authors for ``Bio/Blast/NCBIWWW.py`` we have all their consent - but there are a few commits credited to people without commit rights (very common while Biopython was on CVS) where we do not yet have permission to dual license.

--

We've not been able to get in touch with Chris Wroe by email regarding this Feb 2004 contribution:

https://github.com/biopytho

[2018-12-20 10:31] peterjc commented on #898
@sjcockell Dear Simon, you made at least one small contribution to Biopython back in 2009, abc02631d67ca7e58d5a5393ad1c5aa1c868d64c

Would you agree to dual license your existing and any future contributions under the *Biopython License Agreement* and the *BSD 3-Clause License*?

(P.S. Public reminder that GitHub lets you mute an issue if you get too many emails from it)

[2018-12-20 16:17] konqr commented on #1877
Hey. Beginner here. I am on it. :)

[2018-12-21 08:44] konqr commented on #1877
Hey Peter. Thanks for the email. Sorry for the wrong PR. I understood what you want to be done. I'm on it, thanks.

[2018-12-21 08:52] konqr commented on #1877
Please check #1881 for PR. Hope this runs well.

[2018-12-24 07:29] lhovo opened #1882 "mysql keyword rank"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

[code]

Running code

[code]

### Expected behaviour

To insert records as per example
https://biopython.org/wiki/BioSQL

### Actual behaviour

Failed to insert record due to table name "rank", is now a keyword in mysql?

### Steps to reproduce

I believe in mysql 8.0 'rank' is now

[2018-12-25 00:06] biojerm commented on #1850
So now I am seeing something weird.  When I run:

[code]
That then hangs for > 15 min before I get impatient and close the terminal window.  Keyboard interrupt does not work.

When I put insert a `import pdb; pdb.Pdb(stdout=sys.__stdout__).set_trace()` I see the code hangs on the `yield` of the `MafIterator` method.

https://github.com/biopython/biopython/blob/c0898a49eb2d4ae3ae778553c08b17fb4415d

[2018-12-26 11:57] Abdul194 opened #1883 "Negative branch length in NJ Tree"
### Setup

I am reporting a problem with Biopython version, Python 3.7.1, and operating
system as follows:
windows 10 (64 bit)
[code]

(*Please copy and run the above in your Python, and copy-and-paste the output*)

### Expected behaviour

(*Tree(rooted=False)
    Clade(branch_length=0, name='Inner3')
        Clade(branch_length=0.008156485011351827, name='Inner2')
            Clade(branch_length=

[2018-12-28 20:01] Minys233 opened #1884 "Bio.PDB.MMCIFParser.MMCIFParser exception"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

(*Please copy and run the above in your Python, and copy-and-paste the output*)

### Expected behaviour

`Bio.PDB.MMCIFParser.MMCIFParser.get_structure()` parses structure `3HR6` normally.

### Actual behaviour

It will try to parse a string which representing a float number in a c

[2018-12-30 06:52] Minys233 commented on #1884
After testing whole data on PDB (12/28/2018), I collected the whole list of proteins which could make `MMCIFParser` throw same exception:
[code]
All cases above will make `MMCIFParser` throw `ValueError` because of the reason stated above.

[2019-01-02 11:05] jgreener64 commented on #1884
I think this was introduced by https://github.com/biopython/biopython/commit/c04ecd81509cb8f3563e7d09ac03c6bd8d8d009a#diff-cf792422691c3383d148ddd366857178.

I can have a look at fixing this. Thanks for the clear error report.

[2019-01-03 10:13] peterjc commented on #1882
This makes sense, according to https://dev.mysql.com/doc/refman/8.0/en/keywords.html

How exactly did you escape the table's column name? In words or better yet as a pull request would be great?

If this is simple we probably don't need to change the schema itself - which would be annoying as BioSQL is shared across Bio* projects.

[2019-01-03 10:27] SidraYounas opened #1887 "get_support function does not display branch supports for all"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

### Expected behavior
I have used the `get_support()` function from Biopython.Phylo module to generate the support values for my original tree branches as follows:

[code]
Example sequence file is:
[example.pdf](https://github.com/biopython/biopython/files/2730370/example.pdf)
##Th

[2019-01-03 13:58] lhovo commented on #1882
Sorry my code was rather hackey as I only escaped the rank key words.

I would expect to do this correctly the code should escape all table names like so.

[code]

[2019-01-03 14:40] peterjc commented on #1882
If we just wrap the problematic column name ``rank`` with back-ticks that's good news. We won't need to change the schema.

I've logged https://github.com/biosql/biosql/issues/22 on the schema itself, but it seems likely we need to make this change to lots of our Biopython SQL command with the column name rank in them - in both ``BioSQL/BioSeq.py`` and ``BioSQL/Loader.py``

Are you interested in m

[2019-01-03 15:01] OscarMaestre commented on #1884
The parsing problem can be solved replacing line

`if aniso_flag == 1 and i < len(aniso_u11) :`

with

`if aniso_flag == 1 and i < len(aniso_u11) and isinstance(aniso_u11, list):`

I would provide a patch but I don't know how the calculation works

[2019-01-03 15:09] jgreener64 commented on #1884
This would remove the loud error, but it would prevent assigning a single aniso value in a mmCIF file.

[2019-01-03 15:16] OscarMaestre commented on #1884
Maybe check if aniso value is a list or a string and do the calculations differently?

[2019-01-03 18:09] sagitter opened #1889 "test_SearchIO_blast_xml.py failed"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

### Expected behaviour

All tests passed

### Actual behaviour

[code]

[2019-01-03 20:09] nimne commented on #1889
Looks like this is related to #1866, where a `BiopythonDeprecationWarning` was changed to a `BiopythonWarning`.  It's odd that running all of the tests won't trigger this, but running the test directly does.

[2019-01-04 00:57] lhovo commented on #1882
I was helping a friend get this working for their project as such I'm not overly knowledgeable in bio concepts.

I'm about to go on holidays so it would be 2+ months before I would get around making the changes.

If the work hasn't started before then I will give it a go, it should be straight forward but finding all the SQL queries in the code and testing them might take time as I'm unfamiliar wi

[2019-01-04 09:36] peterjc commented on #1882
Thanks. I'll tag this issue as help wanted for now.

Based on our test coverage measurements, although BioSQL is not fully covered, looking at https://codecov.io/gh/biopython/biopython/tree/master/BioSQL by eye suggests all most all the SQL lines are checked. So, the good news is getting our test suite to pass should be enough - once you've managed to get MySQL v8 installed and configured ``Tests/

[2019-01-04 09:39] peterjc commented on #1889
The Python ``warnings`` system, even with a context manager, does seem to leak state and can be annoying like this regarding test order. That likely explains the difference in running the full suite vs just on file, but doesn't directly solve this problem.

Can you want to do a little debugging, e.g. report the actual 2 warnings seen, and then see how this needs adjusting?

[2019-01-04 10:00] peterjc commented on #1870
Thanks for working on this @nimne - it looks like the code changes are relatively minor, relaxing some warnings on the parser side (which already coped), and removing a restriction on the output side (which refused to use very long identifiers). The hard work is in the testing...

[2019-01-04 10:02] peterjc commented on #1882
As noted by Hilmar Lapp on https://github.com/biosql/biosql/issues/22 using double quotes for escaping would be more standard (it seems the backticks may be MySQL specific).

[2019-01-04 17:31] nimne commented on #1889
Here are the warning messages:
[code]

The strange thing is that it only catches one warning when running all of the tests. My guess is that it has to do with the different `BiopythonWarning` and `BiopythonParserWarning` warnings. I'll investigate and submit a pull request once I've figured it out.

[2019-01-04 18:34] nimne commented on #1889
Well, I know what the bug is - now I just need to find a way to fix it.

Importing NCBIStandalone causes a `BiopythonWarning`
[code]

`test_SearchIO_blast_xml` imports `NCBIStandalone` when running the first test (it doesn't matter what test it is), and causes a warning. When running all of the tests, `NCBIStandalone` is imported by some earlier test with the warning suppressed.

[2019-01-05 08:47] gandalfthegrape commented on #1203
Hi, I'd like to help out with this as my first contribution. I don't have a lot of experience with git, so I may need help figuring out the proper steps and etiquette. I will look at SeqRecord.py first.

[2019-01-06 15:08] SidraYounas commented on #1887
Any suggestions yet?

[2019-01-07 10:12] peterjc commented on #1887
Where is ``"example.phy`` from? Can you share the file as without it we can't repeat your example.

[2019-01-07 10:15] SidraYounas commented on #1887
Yeah sure, I can provide the sequence text file in FASTA format. The `"example.phy"` is the MSA file for the data using clustalw.
Here is the file;
[example.txt](https://github.com/biopython/biopython/files/2732311/example.txt)

[2019-01-07 10:35] SidraYounas commented on #1887
Alright, I am trying to check it this way. I will tell you once the results are generated.
Meanwhile , I want to discuss that
 there is one more issue with this Phylo.draw function, if the data is too large, then the drawn tree looks disaster.
As like this;
![figure_1](https://user-images.githubusercontent.com/37397762/50763532-d84d1900-1291-11e9-9487-250b59ffaed3.png)

[2019-01-07 10:37] peterjc commented on #1203
@gandalfthegrape Welcome. That looks like a sensible choice for your first contribution.

[code]

These six turn out to be a group:

https://github.com/biopython/biopython/blob/biopython-173/Bio/SeqRecord.py#L743

[code]

These are special Python class methods to define comparisons, so I would suggest your pull request add entries like this:

[code]

For editing a single file like this, you could

[2019-01-07 10:40] peterjc commented on #1887
I think you would need to look at enhancing the ``Bio.Phylo`` code if you wanted more flexibility.

I practice I would use the Biopython code for large scale automation (e.g. generating hundreds of trees and images), but when I wanted to prepare a single image for publication I would like use a dedicated package like http://tree.bio.ed.ac.uk/software/figtree/ (which can help with things like colou

[2019-01-07 10:42] SidraYounas commented on #1887
Can't the axes sizes be made flexible for `"draw()"` function.?

[2019-01-07 10:47] peterjc commented on #1887
Yes in principle, although it is less clear how best to extend the API for flexibility and ease of use (more and more optional arguments for things like image size and font size could become unwieldy). If you worked on this you'd be in a position to suggest something, but it would down to @etal to review it.

[2019-01-07 10:51] SidraYounas commented on #1887
The things is I can't do like, first generating a tree and then go to some tool to display it. This is the reason I wanted your help to suggest me how can I enhance the window axes for display so that it becomes scrollable if the file data size is larger.

[2019-01-07 10:58] SidraYounas commented on #1887
One thing that I do not understand is that, when I use the first tree from bootstrap replicates to be compared with the rest of the replicates , the resulted tree shows a high confidence values for all of the branches, even when I used just 50 bootstrap value.
Then how does it not give the bootstrap support for the same inner nodes as they are present in the original tree.?

[2019-01-07 11:49] peterjc commented on #1887
Your examples are still incomplete, you are missing the imports - this is enough for the second example to run:

[code]

The first example does not define ``example_tree`` so fails.

[2019-01-07 11:59] SidraYounas commented on #1887
No , see my imports.
[code]

If I have'nt been using them, I could not have generated the tree files. I am really sorry that I forgot to mention.

[2019-01-07 12:02] SidraYounas commented on #1887
Here is the complete code;

from Bio import Phylo
[code]

[2019-01-07 14:17] peterjc commented on #1887
Adding this line to your complete example is instructive:

[code]

Quoting in full,

[code]

Some but not all of the inner nodes (which have been automatically named) do seem to have confidences, such as ``Inner4`` or ``Inner10``,  but look at ``Inner2`` and ``Inner5`` for example - they do not.

The question becomes are these bootstrap values really missing, or are they really branches with zero

[2019-01-07 16:00] SidraYounas commented on #1887
So what does it conclude?

[2019-01-07 17:19] peterjc commented on #1887
My _guess_ right now is the missing bootstrap values are simply zero.

Do you agree that the same values are missing in the figures as in the data files? For example, look at the saved trees in a text editor or graphical tree tool. If so, that is good progress - it strongly suggests the problem is not in the tree drawing.

If you do not want to delve into debugging Biopython, and need to resolve t

[2019-01-07 21:58] svalqui commented on #1765
I'll have a look at this.

[2019-01-08 05:30] SidraYounas commented on #1887
Alright, I might test my trees again.

[2019-01-08 05:31] SidraYounas commented on #1887
Ain't there any way for displaying '0' for the branch support where it is zero rather showing nothing?

[2019-01-08 11:03] peterjc commented on #1887
If you want to experiment with the non-display of zero bootstraps, try changing this line:

https://github.com/biopython/biopython/blob/biopython-173/Bio/Phylo/_utils.py#L370

Currently:

[code]

This might work better by showing zero:

[code]

I am guessing that ``None`` is also a possible value if the is no bootstrap.

[2019-01-09 02:49] etal commented on #1887
I think `is not None` should be added to the code there. Mind if I add that without a unit test?

[2019-01-09 06:02] SidraYounas commented on #1887
Yeah okay, I 'll give it a try now.

[2019-01-09 09:21] peterjc commented on #1887
@etal I would expect the line of code to be exercised by the existing tests, and with graphical output we don't currently have anyway of confirming the output except inspection by eye - so sure, if it works in a hands on test, go ahead and commit it.

Is there potentially something similar happening with the PhyloXML (and other format) output?

[2019-01-10 20:59] AvantiShri commented on #1871
I also get a similar error when attempting to parse a MEME file:
[code]
The file I am trying to parse is attached
[NFE2_meme_results.txt](https://github.com/biopython/biopython/files/2747046/NFE2_meme_results.txt)

[2019-01-14 09:42] peterjc commented on #1850
Thanks for looking at this. I think we should probably switch ``test_bgzf.py`` (and others) to using ``tempfile`` rather than predetermined filenames, and with that change it would probably be OK to silently ignore removal failures. The good news is that (aside from MAF  issue #1149) all these failures look like artefacts of the tests, not a problem in Biopython itself.

[2019-01-14 10:58] peterjc commented on #1887
I tested adding ``is not None`` in the draw function with a modified version of ``Tests/Nexus/bats.nex`` and the following:

[code]

Given @etal's comment earlier, I went ahead and committed that fix in 5ba7092dbe3d1f2d77f86a8d93e1b1075b325fe1 to label zero value bootstraps in ``Bio.Phylo.draw()``.

However, this alone does not solve @SidraYounas's problem. Someone needs to dig into the data struc

[2019-01-14 13:44] peterjc commented on #1870
Closed by #1888.

[2019-01-14 13:44] #1870 closed

[2019-01-15 01:50] nimne commented on #1875
Best as I can tell, PDB only has the 'bundle' files for structures that are too big to be represented in the PDBx/mmCIF file format, see [documentation here](http://www.wwpdb.org/documentation/file-formats-and-the-pdb). I'm able to find a bundle for [4UG0](https://www.rcsb.org/structure/4ug0) but not [2exs](https://www.rcsb.org/structure/2exs).

I think that the 'biological assembly file' is somet

[2019-01-15 06:09] svalqui commented on #820
I'll have a look at Bio/PDB/Dice.py

[2019-01-15 08:42] peterjc commented on #1875
@dadoskawina or @jgreener64 might have some advice here?

[2019-01-16 11:32] fabianegli commented on #1681
The study of post translational modifications (PTM) is prevalent and we will see an increase of applications that involve sequences with PTMs. The expansion of alphabets and Biopythons ability to cope with them in a straight forward manner is paramount. There are hundreds of PTMs and coding them in multi-letter codes seems to be problematic for some underlying software Biopython uses for alignment

[2019-01-16 11:55] peterjc commented on #1681
TL;DR - there is no PEP-like proposal for alphabets as yet. Michael wants to remove the currently alphabet objects completely (but bits of the wider codebase still need somewhere to record DNA / RNA / protein), while I lean towards a drastic simplification to just an enum-like type system.

Technical input from someone wanting to work with modified bases / residues would be welcome. Taking advanta

[2019-01-17 09:09] rwst opened #1896 "SeqFeature.translate ignores CDS type"
This is master with Python3. The doctest of `SeqFeature.translate` follows:
[code]
 I would expect that giving a type of `CDS` make the translation behave as if I would have said:
[code]
But the output is:
[code]
Reason is that the `type` property of `SeqFeature` is ignored in `SeqFeature.translate()` and a default `cds` parameter of `False` is used.

I'd like to do a PR where the translation uses

[2019-01-17 11:09] peterjc commented on #1896
I thought we had something related as an existing issue, on using more of the NCBI style annotation typically stored in the ``SeqFeature`` object's ``.qualifiers`` annotation dictionary, but I could only find:

* NCBI Genetic Code Tables 27 to 31 + ambiguous codons #1224
* translational recoding for UGA for Selenocysteine, UAG for Pyrrolysine, etc #1164

--

Your idea seems very sensible.

I would

[2019-01-17 19:10] jfallmann opened #1898 "QualityIO Sequence and quality captions differ"
I am reporting a problem with Biopython 1.72 , Python 3.7.1 on Fedora 29
When reading in FASTQ files with SeqIO with differing lines 1 (header) and 3 (optional) we get the above error message. We use Biopython to post-process unmapped reads from metagenomics mapping and tend to use line three to add information about runs and metagenomes used, which seems to be a topic of controversial opinions, h

[2019-01-18 05:13] mdehoon commented on #1681
@fabianegli @peterjc
UTF8 would be slow, because the number of bytes used to store a character varies. Then if `s` is a Seq object,
[code]
requires evaluating one million characters to find out where s[1000000] starts.

[2019-01-18 08:01] rwst opened #1899 "no flake8 doctests checking in Bio/"
(master with Py3)
flake8 is not finding doctest code problems under `Bio/` because `Bio/.flake8` does not have the line `doctests = True` as in `Scripts/.flake8` and `Tests/.flake8` (it's commented out). This leads to the following problems not being reported:
[code]
I'll try to fix these. I have no opinion on if the line should be activated in  `Bio/.flake8` (and  `BioSQL/.flake8`).

[2019-01-18 09:18] peterjc commented on #1899
It would be good to activate, but quite a lot of work to fix. By all means have a go, even fixing some of these warnings would be good.

I think most of the F821 cases will require replacing ``from XXX import *`` with ``from XXX import, u, v, w``

[2019-01-18 09:19] peterjc commented on #1898
Because we wrote the "spec" http://dx.doi.org/10.1093/nar/gkp1137 ;)

Practically speaking, do you want access to the plus line information, or would downgrading to a warning be enough?

[2019-01-18 12:38] peterjc commented on #1898
If this is urgent, just comment out that if statement, or to reduce the exception to a warning, replace:

[code]

with:

[code]

In terms of integrating this into Biopython, it might make sense as part of #1812 / #1864 where we're looking at a revised faster FASTQ parser which assumes four lines (it would not support line wrapping, which is almost never used).

[2019-01-18 12:59] jfallmann commented on #1898
@peterjc Thanks for forwarding this to the revised FASTQ parser issues, if somebody takes this up it would be great. In the meantime I'll just edit locally. Feel free to close this issue anytime

[2019-01-18 13:03] peterjc commented on #1681
Currently on Python 3 the ``Seq`` object is using a Python unicode string, so we are implicitly using the system default encoding, i.e. it _already_ is usually stored UTF-8.

On the bright side, almost all the biological sequences we use currently are plain ASCII, and Python 3 handles those very efficiently as unicode strings - we ought not to need to worry about performance for now.

If we start

[2019-01-18 17:15] peterjc commented on #1899
A couple of specific examples would help - I'm unclear what you mean by comment out in this context - convert to an RST literal block?

[2019-01-18 17:16] rwst commented on #1899
No, just put a `#` after the `>>> ` in the respective lines.

[2019-01-19 06:10] rwst commented on #1899
Actually, converting to an RST literal block seems best.

[2019-01-19 16:46] rwst opened #1902 "fix untested doctests"
The following modules are not tested because of failing doctests:

- [x] `Bio.AlignIO.MauveIO`
- [x] `Bio.Cluster`
- [x] `Bio.Data.CodonTable`
- [x] `Bio.ExPASy`
- [x] `Bio.ExPASy.cellosaurus`
- [x] `Bio.File`
- [x] `Bio.Medline`
- [x] `Bio.motifs.jaspar.db`
- [x] `Bio.motifs.mast`
- [x] `Bio.motifs.meme`
- [x] `Bio.motifs.minimal`
- [ ] `Bio.PDB`
- [ ] `Bio.PDB.AbstractPropertyMap`
- [x] `Bio.PDB

[2019-01-21 08:57] mdehoon commented on #1681
@peterjc  As far as I know, Python3 does not use UTF-8 internally.

[2019-01-21 09:36] peterjc commented on #1681
I may have misunderstood something then, or am being imprecise with my language and the terms (unicode, encoding, UTF-8 etc):
https://docs.python.org/3/howto/unicode.html

[2019-01-21 10:13] peterjc commented on #1899
Closed via #1900, thank you!

[2019-01-21 10:13] #1899 closed

[2019-01-21 10:22] peterjc commented on #1902
Cross reference #1901 to test more doctests in ``run_tests.py``.

[2019-01-21 15:13] fabianegli commented on #1546
Assuming text transfers to be `ISO-8859-1` a.k.a. `latin-1` encoded seems to be obsolete for version HTTP 1.1 (contrary to HTTP 1.0).

From https://tools.ietf.org/html/rfc7231 `Appendix B.  Changes from RFC 2616`:

   removed; the default is now whatever the media type definition says.
   Likewise, special treatment of ISO-8859-1 has been removed from the
   Accept-Charset header field.  (Section

[2019-01-21 16:56] peterjc commented on #1546
We can add:

[code]

doing the same thing as the ``AttributeError`` handler.

So what is the default encoding now if the headers don't say? Is ``latin-1`` a better choice than the local system default?

[2019-01-21 17:06] peterjc commented on #1902
This looks like a good idea for new-comers. If you want to work on this, you'd need to update ``Tests/run_tests.py`` to add one of the problem modules like ``Bio.SubsMat`` to the ``DOCTEST_MODULES`` list - and then:

[code]

And then edit ``Bio/SubsMat/__init__.py`` to try to fix the doctest, and repeat.

Some of the examples might be intended to work as doctests, but might just need a file path a

[2019-01-21 22:02] fabianegli commented on #1546
Being used on a staggering 92.9% (as of 01/21/2019) of websites, the `UTF-8` encoding permeates the web. See [https://w3techs.com/technologies/details/en-utf8/all/all](https://w3techs.com/technologies/details/en-utf8/all/all) for current numbers. I think the following is the most reasonable and robust approach.
Choose the first that holds true for all documents downloaded from the web
1. believe t

[2019-01-22 07:59] #1896 closed

[2019-01-22 10:17] peterjc commented on #1896
Ah, thanks. Sometimes I get the magic comment right in the comment for a squash merge, and GitHub closes the relevant issue for me.

[2019-01-22 15:49] rwst opened #1904 "exclude rather than include doctests in "run_tests.py doctest""
The testing code in `Tests/run_tests.py` that does doctests relies on people updating the list of modules to test.
@peterjc in https://github.com/biopython/biopython/pull/1901#issuecomment-456022268_:

A solution would be to call `pkgutil.iter_modules` recursively to get all modules, then exclude all which should not be tested. This way the resulting list may contain modules without doctests, only

[2019-01-22 15:51] peterjc commented on #1904
Retitled to avoid the loaded term blacklist.

[2019-01-22 15:55] peterjc commented on #1904
It might be possible to query our ``setup.py`` which has the definitive list of packages - although separately we should be able to move away from that in favour of ``from setuptools import find_packages`` (which wasn't available in the early years of Biopython, and only relatively recently have we required ``setuptools`` as a dependency).

[2019-01-22 16:11] rwst commented on #1904
I'll use this, thanks.

[2019-01-23 09:46] rwst commented on #1904
Actually there are appveyor failures if a file has no docstring at all. I consider it a feature and will open a ticket with those files when I can figure out how to reproduce it.

[2019-01-23 11:15] peterjc commented on #1904
Maybe open the issue now (or add the appveyor links and log excerpts here) without waiting to figure out how to reproduce it locally?

[2019-01-23 11:36] peterjc commented on #1203
Progress, let's solve D100 next?

[code]

See also https://github.com/biopython/biopython/pull/1906 which has notes on two of the above.

[2019-01-23 21:31] svalqui commented on #1203
@peterjc Bio.Phylo docstrings are already on PR #1868, I'll have a look at Bio.motifs.
cheers,

[2019-01-24 21:14] ChrisMoth opened #1908 "Changes to Entity.py in 1.69 break residue 'renumber' scenario."
### Setup

I am reporting a problem with Biopython version 1.69 and higher, Python versions 2.7 and 3.7, and operating system Redhat Linux 6 and 7

Prior to Biopython 1.69 our PDB residue renumbering code could renumber a residue to itself (and perhaps that is itself the bug) without causing a crash.  The new behavior clearly comes from changes in Entity.py.  Indeed, copying Entity.py from earlier

[2019-01-25 09:30] peterjc commented on #1908
This sounds like the bug fixed in biopython 1.73 by this change: ff52656bd93b207ae12e008b897a9cb0548582c1 from PR #1744

Does updating to Biopython 1.73 fix things for you?

[2019-01-25 16:51] xhlulu opened #1910 "[Discussion] get_col_position depth value testing in draw_ascii"
### Setup

CPython
Windows-10-10.0.17134
1.73

### Description

In `Phylo._utils`, we can use the `draw_ascii()` function to draw a command line-friendly representation of our phylogeny tree. The function can be found here:
https://github.com/biopython/biopython/blob/0593e2f4890897653c4cf6e0f76b9fb4adb5dfb2/Bio/Phylo/_utils.py#L206-L269

We notice that the `get_col_position` function assigns a uni

[2019-01-25 16:57] peterjc commented on #1910
PEP8 doesn't seem to cover this, but in general Python style would be ``if expr:`` and ``if not expr:`` rather than ``if expr == 0`` and ``if expr != 0:`` when testing if something is or isn't zero.

However, I agree your proposal is clearer when reading the code. Over to @etal to decide.

[2019-01-28 12:00] mkcor commented on #1910
@peterjc Ok *in general* but, here, `max(depths.values())` is expected to be a number, so we might as well be explicit (instead of relying on the implicit type conversion), right?

In between `depths = tree.depths()` and the `if` statement, should we include some type checking or exception handling?

[2019-01-29 22:15] ChrisMoth commented on #1908
YES and NO sort of, and a documentation request.

1 of 3) YES: First Thank you.  I'm embarrassed to have missed this. 
Anaconda2 (we're moving to 3 ASAP) only _just_ moved to Biopython 1.73,
and so YES I see now that the problem I reported is fixed in that bug.

2 of 3 ) NO sort of :)

In 1.68 and earlier Entity.py was much less sophisticated.  It lacked
the "id.@setter id" function.  Now, As I mo

[2019-01-31 11:30] biostu24 opened #1911 "Outdated seqtype parameter values in Bio.Align.Applications.MuscleCommandline"
### Description of issue

I have found an issue where valid MUSCLE seqtype parameters values cannot be passed using MuscleCommandline(seqtype=XXX). This appears to be due to a change in MUSCLE parameter values that have not been updated in Biopython.

The flag for nucleotide sequence in MUSCLE used to be ```-seqtype nucleo``` but ```nucelo``` has been changed to either ```rna``` or ```dna``` and `

[2019-01-31 15:31] platinhom opened #1912 "PDBIO.set_structure() KeyError when residue/atom not in chain A"
### The Case

When use PDBIO to write a residue/atom which is not in chain A, it will get `KeyError`.

In the `set_structure` method, it will set the self.structure Chain ID to object Chain ID('B'), the next step to add the residue in the chain, the chain A is not exist now.

[code]

I think to change `sb.structure[0]['A'].add(pdb_object.copy())` to `sb.structure[0][parent_id].add(pdb_object.copy(

[2019-01-31 16:44] tanhevg opened #1913 "Incorrect handling of residue pairs with zero score at the start of local alignment"
I would expect the snippet below to print more alignments, that have residue pairs ('Q', 'N') and ('N', 'E') prepended to the aligned region (see output from my own implementation). BLOSUM62 scores for ('Q', 'N') and ('N', 'E') are set to zero, so prepending these residues to the alignment would keep the score at 21. Note that there is a separate alignment with ('D', 'L') (which also scores zero)

[2019-01-31 20:04] sconstable opened #1914 "Vector division broken in python 3.x"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

[code]

### Expected behaviour

I should be able to write `v = Vector(2, 2, 2) / 2` to divide a vector by a scalar.

### Actual behaviour

An error is raised: `TypeError: unsupported operand type(s) for /: 'Vector' and 'int'`
It appears to be due to the fact that BioPython supplied

[2019-01-31 21:14] svalqui commented on #820
I'll have a look at Bio/PDB/NeighborSearch.

[2019-02-01 01:57] platinhom commented on #1914
You can add `Bio.PDB.Vector.__truediv__ = Bio.PDB.Vector.__div__` before use.

 Biopython should modify the `Bio/PDB/vectors.py`, add `from __future__ import division` and modify `__div__` to `__truediv__`.

[2019-02-01 04:40] mdehoon commented on #1913
Is there some reference in the literature (textbook or authoritative paper) that specifies how this should be handled? It seems strange to extend an alignment if it does not increase the score.

[2019-02-01 08:21] tanhevg commented on #1913
I would expect **all** alignments with the same score to be returned

[2019-02-01 15:02] peterjc commented on #1782
Should be fixed by #1821, although we don't have a new unittest for this yet if anyone wanted to work on that? Thanks!

[2019-02-01 15:02] #1782 closed

[2019-02-01 15:07] peterjc commented on #1911
That seems clear, the source for this is here:

https://github.com/biopython/biopython/blob/master/Bio/Align/Applications/_Muscle.py

Specifically, this line looks like it needs expanding:

[code]

From your description, it should be:

[code]

Or, if anyone still wants to use older versions of MUSCLE as well something like this:

[code]

Would you like to submit this change as a pull request? You

[2019-02-01 15:11] peterjc commented on #1914
This clearly highlights that vector division is missing in our unit tests, visible here (the ``__contains__`` method also looks untested):

https://codecov.io/gh/biopython/biopython/src/master/Bio/PDB/vectors.py

Ideally we'd add something like @sconstable's example to ``Tests/test_PDB_vectors.py`` as part of fixing this.

@platinhom Your fix sounds perfect - do you want to make a pull request?

[2019-02-01 15:21] peterjc commented on #1908
GitHub didn't manage to make your email formatting as readable as it might have been, but it was still clear - thank you.

1. Fixed, great. Sorry the conda-forge channel package for Biopython 1.73 took longer than expected to get updated.

2. Old script broke (tries to delete something new Biopython has now already deleted). Unfortunate but you can probably wrap the delete in a try/except of simil

[2019-02-01 15:57] peterjc commented on #1913
From an end user perspective, I can certainly see a desire to have the longer (and equally scoring) alignments returned.

CC @MarkusPiotrowski

[2019-02-01 15:59] #1898 closed

[2019-02-01 16:46] peterjc commented on #1203
I think #1868 and #1906 plus the commits I just made will solve all the D100 cases.

[2019-02-01 16:48] xhlulu commented on #1910
@peterjc Thanks for the heads up! I created the PR at https://github.com/biopython/biopython/pull/1916

[2019-02-01 18:08] platinhom commented on #1912
Because I want to write out a protein pocket near a ligand. This pocket indeed contains two chains. I got error when writing chain B.

[2019-02-01 19:08] peterjc commented on #1912
This isn't going to address the limitation you've hit, but rather is thoughts on work-arounds or other ways of looking at it.

Can you not provide the full structure instead?

See also the ``Select`` class examples for how Thomas intended this to be used with ``PDBIO`` to export only a subset of a PDB file:

http://biopython.org/DIST/docs/tutorial/Tutorial.html

Or the ``Dice`` class if you know t

[2019-02-01 23:00] chris-rands opened #1918 "Conversion of Seq to MutableSeq causes failure of methods"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

### Expected and Actual behaviour

This works as expected...
[code]

I would expect this to work the same way, but instead it raises an exception...
[code]

Note `type(s1)` still returns `<class 'Bio.Seq.MutableSeq'>`, but apparently the underlying `Seq` type methods are being invo

[2019-02-02 05:39] mdehoon commented on #1913
But you wouldn't return a local alignment that has zero score. Can you compare with other software packages (for example Ensembl EMBOSS Water) to see how they handle this case?

[2019-02-02 11:07] tanhevg commented on #1913
Why not? If zero is the highest score that can be reached by aligning these sequences,  why not return the alignment that attains it?

[2019-02-02 11:48] peterjc commented on #1914
It turns out a Python 2 and 3 fix was a little different, but you got there with #1920. Well done.

Note for next time, GitHub lets you update a pull request by updating the associated branch, so you don't have to make new pull requests.

[2019-02-02 12:09] rob-miller opened #1921 "Get PDB idcode (a.k.a. pdbid) from PDB header"
### Setup

This is an enhancement request.  I am using Biopython version, Python version, and operating
system as follows:

3.7.2 (default, Jan 13 2019, 12:50:01)
[Clang 10.0.0 (clang-1000.11.45.5)]
CPython
Darwin-18.2.0-x86_64-i386-64bit
1.74.dev0   (I fixed mine already)

### Desired behaviour

The 4-character idCode (PDBID) is a unique reference for a specific structure within the PDB.  See [PD

[2019-02-02 12:32] peterjc commented on #1918
In this setting I would expect you to use ``s1 = MutableSeq('A')`` or if you have a ``Seq`` object already, something long these lines: ``s1 = Seq('A').tomutable()``

I initially thought trying ``s1 = MutableSeq(Seq('A'))`` ought to raise an error - although it would be easy enough to support this directly as it is not unreasonable behaviour. Would you like to make a pull request doing either?

[2019-02-02 12:32] peterjc commented on #1918
P.S. Yes, that's exactly where a change would be needed.

[2019-02-02 14:33] mdehoon commented on #1913
If we allow local alignments with a zero score, then alignments consisting of gaps only would be valid alignments.

EMBOSS water gives the short alignment only:
[code]

[2019-02-03 00:36] tanhevg commented on #1913
Only if gap penalty is zero,  which might be the case for some DNA alignments. The common setup for aligning protein sequences is using BLOSUM62 substitution marix, and gap opening penalty of -11, and extension penalty of -1. Some off diagonal entries of BLOSUM62 are 0, therefore alignments with zero score are legit.

[2019-02-03 02:12] mdehoon commented on #1913
In the chapter on Smith-Waterman alignments in "Biological Sequence Analysis" by Richard Durbin et al., they write "The traceback ends when we meet a cell with value 0, which corresponds to the start of the alignment."

I am open to changing the implementation such that at the end, no alignments are added with zero score, to be consistent in how the local alignment is defined at the beginning and

[2019-02-03 11:51] #1918 closed

[2019-02-03 12:15] tanhevg commented on #1913
The question is whether BioPython returns all the alignments with maximum score or not. Gotoh algorithm returns them all, so I think this implementation should do that as well. This means that the stopping condition from Durbin et al cited above would only be applicable to zero gap penalties.

[2019-02-03 13:07] mdehoon commented on #1913
@tanhevg  Why do you think that the Gotoh algorithm returns all alignments with maximum score?

[2019-02-03 16:11] MarkusPiotrowski commented on #1913
We are not talking about Gotoh, but about Smith-Waterman. AFAIK, in local alignments, alignments always start with a positive score.

[2019-02-04 12:32] tanhevg commented on #1913
Although the original paper by (Gotoh, 1982) describes the algorithm that returns just a single alignment, extensions that return all alignments have been published a while ago, for example, (Altschul & Erickson, 1986). These papers are quite antiquated; when I was writing my own implementation I was using a very good explanation from a book by (Compeau and Pevzner, 2015). The BioPython implementa

[2019-02-05 08:57] MarkusPiotrowski commented on #1913
@tanhevg
It's about a proper implementation of an algorithm. In local alignments according to Smith & Waterman, you fill the score matrix only with positive scores. Negative scores and zero scores are just stored as zero. During backtracing, the alignment stops when it encounters the first 0 (https://www.sciencedirect.com/science/article/pii/0022283681900875). Or, to put it in other words, a local

[2019-02-05 09:22] MarkusPiotrowski commented on #1913
May want to add that "Gotoh" itself is not a different way how to find optimal alignments. But Gotoh showed that, when using affine gap penalties (which is usually done), the calculation for each cell in the matrix is only dependent on the neighbouring cells.

[2019-02-05 14:16] tanhevg commented on #1913
@MarkusPiotrowski , I think the algorithm that is outlined in the original S&W paper makes some implicit assumptions about the scoring scheme, which do not always hold for the commonly used schemes. Namely, that all scores (match, mismatch, gap open and extend) are non zero.

Let's consider a simple scenario: align two amino acid sequences, `IIAA` and `CCKK`, using BLOSUM62 substitution matrix, ga

[2019-02-05 15:58] danilotat opened #1924 "No request-limit for Entrez with api-key cause data loss"
### Setup

3.6.7 |Anaconda, Inc.| (default, Dec 10 2018, 20:35:02) [MSC v.1915 64 bit (AMD64)]
CPython
Windows-10-10.0.17134-SP0
1.72

### Actual behaviour

Entrez api key also have the limit of 10 request/s : while submitting a query to ncbi, Entrez will just visualize the first 20 permitted files, and goes forward without displaying something.

### Steps to reproduce

[code]

[2019-02-05 16:03] peterjc commented on #1924
Is it just the NCBI applying a default limit of 20? I think you should set ``retmax`` explicitly when you call ``esearch`` if you want more than that.

[2019-02-05 16:09] MarkusPiotrowski commented on #1913
At least Biopython does what I would expect here: reporting no alignment. Don't know why EMBOSS' Water reports an alignment at all, still, the score is the highest (and lowest) it can obtain in this case: 0 (because there are no negative values in a score matrix of SW local alignments).

As I said before, I'm talking about an implementation of the Smith-Waterman algorithm here. For ```pairwise2```

[2019-02-05 16:11] danilotat commented on #1924
How could be implemented the `retmax `inside my code? Reading from documentation

But I don't know actually how many records I will get using this `Bifidobacterium` query.

[2019-02-05 16:12] peterjc commented on #1924
Try it in code, and in the NCBI web-browser.

[code]

[2019-02-05 16:21] danilotat commented on #1924
Solved, many thanks.

[2019-02-05 16:33] #1924 closed

[2019-02-05 16:33] peterjc commented on #1924
Glad we could help.

[2019-02-06 02:39] mdehoon commented on #1913
@tanhevg

I haven't checked the book by Compeau & Pevzner yet, but the articles by Gotoh (1982) and Altschul & Erickson (1986) seem to deal with global alignments only.

In your implementation, how does the algorithm work? There must be some difference between your implementation and the description of local alignment algorithms by Richard Durbin et al.

[2019-02-06 16:01] tanhevg commented on #1913
@mdehoon , My implementation is not fully finished and tested yet. In keeping with the approach from Compeau & Pevzner, 2015, I handle the local alignments very similarly to global alignments. The main difference is that for local alignments it is possible to get from source cell `(0,0)` of the matrix to any cell `(i, j)` without paying a penalty, and similarly from any cell `(i, j)` to the sink c

[2019-02-06 17:10] MarkusPiotrowski commented on #1913
I don't have the book but today I saw some slides and videos from Compeau & Pevzner and I can't see that they do something different for local alignments than the scoring scheme of Smith & Waterman. They just use other words. The "free ride" with zero cost means that each cell in the score matrix will have a non-negative score. S(i,j) = max{0 (free ride), S(i-1, j-1) + match/mismatch, S(i-1, j) +

[2019-02-07 10:28] #1911 closed

[2019-02-11 04:10] nimne opened #1928 "test_BioSQL_MySQLdb fails under python 3.6 with MySQL 5.7"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows: Python 3.6.7 (and probably all 3.x), biopython version 1.74.dev0, on linux with mysqlclient version 1.3.10.

I am running the test_BioSQL_MySQLdb against a MySQL 5.7.25 server on ubuntu linux, with whatever default configuration comes with the packages from https://dev.mysql.com/

Not sure

[2019-02-11 07:11] svalqui commented on #820
* Bio/PDB/NeighborSearch.py, is commented above and here #1366  , changes out of the scope of this PR.
    * Bio/PDB/PSEA.py, Had some work done here #1336 , unclear current state, leaving it as is.
    * Bio/PDB/NACCESS.py, requires a key from the author to work, leaving it as is.

I'll work on Bio/PDB/DSSP.py, also relates to #1288.

[2019-02-11 09:47] peterjc commented on #820
@svalqui you'll need to install the command line tool DSSP to try this.

It may turn out that the self-test functionality is already covered in https://github.com/biopython/biopython/blob/master/Tests/test_DSSP_tool.py (in which case we can remove the ``if __name__ == "__main__":`` bit from https://github.com/biopython/biopython/blob/master/Bio/PDB/DSSP.py

[2019-02-11 12:03] peterjc commented on #1928
Which version of MySQLdb did you install, and how? I though it wasn't available on Python 3, and that's what we have written in the README file still:

https://github.com/biopython/biopython/blob/biopython-173/README.rst

[2019-02-11 12:05] peterjc commented on #821
We removed Bio.DocSQL in Biopython 1.71, so the only thing in Biopython still using MySQLDB is BioSQL.

[2019-02-11 12:06] peterjc commented on #1928
I think your proposed fix is correct BTW.

[2019-02-11 15:29] nimne commented on #1928
Ha, I was so curious as to why my test suite started to fail after setting up `biosql.ini` that I didn't check the readme!

It looks like the package that I have is called `mysqlclient` ([pypi link](https://pypi.org/project/mysqlclient/), [github link](https://github.com/PyMySQL/mysqlclient-python)) and I installed it through pip. It's not quite a compatibility layer, but a MySQLdb rewrite. I prob

[2019-02-11 15:49] peterjc commented on #1928
So it looks like a Python 3 fork of a Python 2 only GitHub fork of the Python 2 only SourceForge project. Curious.

I think a pull request with this fix is a good idea, perhaps also adding ``mysqlclient`` to the dependencies installed on one of the Python 3 targets in ``.tox-travis.ini`` as well?

Do you think we should still go ahead and deprecate support for MySQLdb anyway as per #821?

[2019-02-11 18:48] nimne commented on #1928
I think it makes sense to keep the MySQLdb support as implemented by `mysqlclient`. It looks like `mysqlclient` is under active development, works with the current code, and it appears that it could be faster for many queries than `mysql-connector`. Although, I haven't tested this myself.

While `mysql-connector` has no additional dependencies, I don't think it makes sense to remove support for `m

[2019-02-11 22:02] svalqui commented on #820
@peterjc Thank you for that I had missed test_DSSP_tool, which takes care of dssp; I have removed if name is main. I will have a look at Bio/Graphics/GenomeDiagram/_FeatureSet.py.
Cheers,

[2019-02-12 19:10] peterjc commented on #1323
This should be closed via #1891.

[2019-02-12 19:10] #1323 closed

[2019-02-12 19:11] peterjc commented on #1921
What do you think @lennax, @etal, etc - is this a sensible addition?

[2019-02-12 19:14] peterjc commented on #1921
@rob-miller As a former ``Bio.PDB`` user, I can see this being useful - I'm hoping to get input from one of our active PDB maintainers, but if no one is available I would be willing to review a pull request for this.

[2019-02-12 22:36] svalqui commented on #820
Self test on:
* `Bio/Graphics/GenomeDiagram/_FeatureSet.py`
* `Bio/Graphics/GenomeDiagram/_GraphSet.py`
* `Bio/Graphics/GenomeDiagram/_Track.py`
are covered on Tests/test_GenomeDiagram.py
I'll remove self test.

[2019-02-12 22:42] svalqui commented on #820
I'll have a look at Bio/GenBank/Scanner.py

[2019-02-13 17:22] nimne commented on #1882
I'll take a look at this issue! MySQL 8 is considered a stable production release so it should certainly be supported.

[2019-02-14 02:45] mdehoon commented on #1913
@tanhevg  @MarkusPiotrowski  It is possible to get all alignments by keeping track in the trace matrix of the cells that can act as the starting point of the alignment. But I still wonder if this is a good thing. In the original example, you would get 3 possible starting points, and 2 possible end points, so 6 alignments for what is essentially the same thing. If I had a choice, I would take the s

[2019-02-14 07:58] MarkusPiotrowski commented on #1913
@tanhevg  @mdehoon Although I also acknowledge that option (b) is more consistent how to handle 'zero-extensions' on both sides of the alignment, it makes backtracing more difficult (check each cell with maximum score if it is the result of a 'zero-extension'). Also, I feel that this is not part of the original algorithm.

So I would vote for option (a).

I wonder if the reason that EMBOSS Water r

[2019-02-14 08:48] peterjc commented on #821
In light of #1931 and the existence of an active Python 3 compatible fork, I don't think we need to deprecate support for MySQLDB.

[2019-02-14 08:48] #821 closed

[2019-02-14 09:07] peterjc commented on #1681
Somewhat relevant news from the PyPy project, https://twitter.com/pypyproject/status/1095971192513708032

[2019-02-14 10:01] mdehoon commented on #1913
@MarkusPiotrowski  It wouldn't make the algorithm much more difficult; all you need to do when back-tracing is to discard an alignment if you find an alternative end point.

[2019-02-15 13:43] mdehoon commented on #1913
@MarkusPiotrowski  In 1000 alignments by EMBOSS water of randomly generated sequences with multiple ending points for the same starting points, in all cases the shortest alignment was returned.

[2019-02-15 14:51] MarkusPiotrowski commented on #1913
@mdehoon My suspiscion it, since it EMBOSS Water only returns one alignment, it stores the position of the cell with the highest score already during the score table calculation and replaces the value only if there is a higher score (e.g. ```if actual_score > max_score: traceback_start = (i,j) ...```). Thus the backtrace would always start at the earliest possible cell (most up, most left) and you

[2019-02-15 15:00] MarkusPiotrowski commented on #1913
@mdehoon
Do you agree:
-A local alignment never starts or ends with a gap
-Thus from a cell with a maximum score the trace back must go diagonally
-So if the cells S(i,j) and S(i-1, j-1) have the same maximum score, then S(i,j) cannot be a valid starting point for the traceback

[2019-02-15 17:19] jwhite007 opened #1932 "Failure of test_hw_pop from PopGen"
### Setup

I am reporting a problem with Biopython version, GenPython version, and operating
system as follows:

[code]
### Expected behaviour
Generation of data and files associated with the hardy-weinberg tests. This works when running Genepop as a standalone application.

### Actual behaviour
[code]
### Steps to reproduce
Use the big.gen file,
https://raw.githubusercontent.com/biopython/biopyth

[2019-02-15 17:43] tiagoantao commented on #1932
Will try to have a look during the weekend

On Fri, Feb 15, 2019, 12:30 PM Peter Cock <notifications@github.com> wrote:

[2019-02-16 04:16] mdehoon commented on #1913
@MarkusPiotrowski  Yes I agree. But that may not be sufficient to avoid all zero-score extensions.

[2019-02-16 10:42] fabianegli commented on #1681
Accessing char at pos x in a string is also O(1) in Python 3. Although memory usage for UTF-8 strings is higher than for ASCII. The code point size in Python is fixed - check out wide and narrow builds. This is also the case - to some extent - in the new PyPy, when the additional index is used for the linear time access. Thus I anticipate that, if at all, memory usage is a more serious concern tha

[2019-02-17 20:05] nimne commented on #1928
Thanks for merging #1931!

[2019-02-17 20:05] #1928 closed

[2019-02-18 09:40] peterjc commented on #821
For future reference,

https://pypi.org/project/mysqlclient/
https://github.com/PyMySQL/mysqlclient-python

[2019-02-18 19:37] chmccarthy commented on #1290
Hi,

I've encountered the same problem as the OP and I think it might due to the presence of periods in sequence names rather than digits or other symbols. I'm using yn00 to analyze FASTA-formatted CDS alignments which have sequence headers in the format Genome|ContigID_Start_Stop (e.g. "H222|CP028442.1_6509_9127", [I've attached an example file](https://github.com/biopython/biopython/files/287715

[2019-02-18 23:15] tiagoantao commented on #1932
I will need to address this on bioconda first (as it still has 4.6.0)

[2019-02-19 10:24] peterjc commented on #1290
Your description does sound like dots are the problem - good detective work @chmccarthy

My guess is that the regular expression to match a data value is wrongly picking up on the numbers dot numbers in your sequence name:

https://github.com/biopython/biopython/blob/biopython-173/Bio/Phylo/PAML/_parse_yn00.py#L22

@brandoninvergo could you look at this, or perhaps advise on how it might best be f

[2019-02-19 10:26] peterjc commented on #1932
Ah, I did wonder if it was a change in the latest version of GenPop.

@jwhite007 it sounds like you could temporarily use a slightly older version of GenPop if you need a workaround.

[2019-02-19 15:45] jwhite007 commented on #1932
@peterjc, I would not mind using an older version, if I could find one. The developer does not seem to make the archive of older versions available.

[2019-02-19 16:00] tiagoantao commented on #1932
I have emailed François and he will start doing that.
That being said, old versions are available via CRAN (not the most obvious path). You can get 4.6 here:
https://cran.r-project.org/src/contrib/Archive/genepop/

I am in the process of adding 4.7 to Bioconda. After that I will update Biopython to support 4.7 (probably breaking 4.6)

[2019-02-19 16:10] jwhite007 commented on #1932
Thanks, @tiagoantao. I'm not in a total rush, if the older version works for me. I appreciate the work that you put in helping to maintain Biopython.

[2019-02-20 14:23] fabianegli commented on #1681
After following this issue and considering the implications of my proposal to use UTF-8 to extended alphabets and encodings for bio-sequences, I am currently setting up a project to investigate this proposal. I chose to make the process public to speed it up and allow stakeholders to influence the project or collaborate. Here is the link to the (still rudimentary) repository: https://github.com/fa

[2019-02-21 12:56] peterjc commented on #1921
Closed via #1933, thank you!

[2019-02-21 12:56] #1921 closed

[2019-02-21 19:37] kaskales commented on #1842
I see this issue is still open, is it ok if I give it a shot?

[2019-02-22 03:36] zruan commented on #1842
Hi @kaskales ,

Thank you for your interest. I implemented this function in my own fork of biopython, but I've never got a chance to finish the test case. You can check out my code [here](https://github.com/biopython/biopython/compare/master...zruan:master). It will be good if you can write some unittest to the new add scheme.

Zheng

[2019-02-22 12:29] kaskales commented on #1842
@zruan Thank you for letting me know. I've pulled your changes and I will get started working on the unittests on my fork.

[2019-02-23 08:16] sehjk opened #1939 "efetch to Pubmed API failing in for loop"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

3.6.8 |Anaconda, Inc.| (default, Dec 29 2018, 19:04:46)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]
CPython
Darwin-17.7.0-x86_64-i386-64bit
1.72

### Expected behaviour

[code]

Currently, my search function returns 80 PMIDs and I split these into a list of 40 each

[2019-02-23 09:03] mdehoon commented on #1913
Fixed for the PairwiseAligner in Bio.Align by #1938  by disallowing zero-score extensions.

[2019-02-23 09:09] mdehoon commented on #1939
Works for me, using the latest source code of Biopython in github.

[2019-02-23 16:57] sehjk commented on #1939
@mdehoon the same code I pasted? Amazing... hm, not sure why it is not working for me then.

[2019-02-23 17:37] sehjk commented on #1939
Resolved.

I updated to the latest biopython package 1.73 and the code is working. Thank you for checking on your end.

[2019-02-23 20:19] #1939 closed

[2019-02-26 04:01] ttyskg opened #1940 "Entrez parsing Entrez.esummary from BioSystems has an error because of "hilitetype""
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

### Expected behavior

I tried to find the biological pathways that my target gene is involved in from the BioSystems database. However, a 'ValueError' was raised.

### Actual behavior

[code]

### Steps to reproduce

I wrote a reproducible code in the **Actual behavior** section.

[2019-02-26 05:41] mdehoon commented on #1940
Fixed by #1941

[2019-02-26 05:41] #1940 closed

[2019-02-27 16:52] peterjc commented on #820
[code]

These are executable code so a false positive:

* `Bio/bgzf.py`
* `Bio/PDB/PDBList.py`

These are all self tests to review:

* `Bio/PDB/PSEA.py` - work in progress on #1336
* `Bio/PDB/NACCESS.py` - requires a key from the command line tool author to run
* `Bio/PDB/NeighborSearch.py` - work started on #1366

[2019-02-28 09:14] sehjk opened #1944 "IncompleteRead"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

3.6.8 |Anaconda, Inc.| (default, Dec 29 2018, 19:04:46)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]
CPython
Darwin-18.2.0-x86_64-i386-64bit
1.73

### Expected behaviour

I have a list of MESH terms that are looped through. The Pubmed IDs are retrieved and then infor

[2019-02-28 11:51] peterjc commented on #1944
I've not used MESH  like this, but 50 thousand does seem like a rather large value for ``retmax = 50000`` in ``esearch`` . Does the NCBI respect this or is there a cap on the number of results?

You are doing an ``esearch`` and then making batched calls to ``efetch`` for 10,000 records at a time (if I am reading the code correctly). As an aside, that seems like a rather large chunk size.

My main

[2019-03-04 11:30] rikmills opened #1945 "Test precision failure on Ubuntu autopkgtests with glibc 2.29"
We are seeing the following failure only on ppc64el architecture when the tests for 1.73 are run against new glib 2.29 on Ubuntu autopkgtests.

http://autopkgtest.ubuntu.com/packages/p/python-biopython/disco/ppc64el

FAIL: test_WellRecord (test_phenotype_fit.TestPhenoMicro)
Test basic functionalities of WellRecord objects
Traceback (most recent call last):
  File "/tmp/autopkgtest.6H8J2c/autopkgte

[2019-03-04 13:42] peterjc commented on #1945
A similar fix seems appropriate and would be welcome - are you happy to make a pull request?

Perhaps we should drop all of these comparisons from 5 places to 4?

CC @mgalardini

[2019-03-04 22:33] mgalardini commented on #1945
Hi both,

I am of course very happy to drop the precision to 4 places instead of 5. I'm also happy to do the PR, just let me know.

Best,
Marco