[2017-01-29 11:30] peterjc commented on #1051
It probably doesn't make much difference, but which version of Biopython do you have.

Do you think the could could do something like issue a warning if over half the base pairs don't match? e.g.

[code]

[2017-01-29 16:48] larssnip commented on #1051
Yes, a warning or something like that is needed here, I think.

It is also amazing how little is known about melting temperatures in general. The IMM-table contains Delta-H and Delta-H values for only 3 double mismatches, and I suppose this is all that is known (in the entire world) about this? I haven't found anything better than BioPython in thsi direction. Given the HUGE amount of PCR-like Tech

[2017-02-01 07:05] Jhird commented on #1027
Here is what I found out hoping that it helps.

BEFORE the 2017 update, one could parse PUBMED records using:

*from Bio import Entrez
Entrez.email = "Your.Name.Here@example.org"
handle = Entrez.efetch("pubmed", id="19304878,14630660", retmode="xml")
records = Entrez.parse(handle)*

That would make "records" a generator object from which individual records could be parsed. However, if you want you

[2017-02-01 10:18] peterjc commented on #1027
Thanks @Jhird - I think that information was on the associated mailing list thread, but good to have it here. With the NCBI changes to the returned data, this is the current solution.

I have just emailed the NCBI EUtilities team (and CC'd Michiel), and that should let us close this issue one way or the other.

[2017-02-01 15:24] m-charlton commented on #978
I've tested following on both Linux & OSX

[code]

Included the `platform_version` restriction as biopython no longer supports
python version 2.6

[2017-02-01 15:28] peterjc commented on #978
@m-charlton Shouldn't there be a single line for numpy combining all relevant conditions?

And did you make a copy/paste error because the second example won't work - ``platform_python_version`` returns a version number, not an implementation string, e.g.

[code]

i.e. We need ``platform_python_implementation`` as in my example earlier.

[2017-02-01 16:43] m-charlton commented on #978
Good catch, `platform_python_version` should read `platform_python_implementation`.

I tried to specify the constraints on one line, like so:

[code]

And I got a parsing error. Noticed the following example [here](https://pip.pypa.io/en/stable/reference/pip_install/#requirements-file-format):

[code]
And this format works. Seems bit verbose to specify the constraints over multiple lines.

I'm usi

[2017-02-01 16:55] peterjc commented on #978
I don't think the documentation means to suggest using multiple lines - I thought they were just multiple examples.

In any case, we don't really need to put a Python version restriction on the dependency for NumPy - the entirety of Biopython now requires Python 2.7 or later.

[2017-02-01 16:57] peterjc commented on #1027
My query has been passed to the NCBI Entrez Utilities developers...

[2017-02-02 09:20] brandoninvergo commented on #483
Very sorry for the late reply. Are you using the latest Biopython version on Git?

[2017-02-02 12:35] he-leon opened #1053 "Bio.PDB.Dice fails with PDBs including icodes"
Hi!

Using `Bio.PDB.Dice.extract` with PDB structures including insertion codes results in a `TypeError` when a warning should be printed:

[code]

Script to reproduce the error:
[code]

Fix:
Add correct list index in [Dice.py](https://github.com/biopython/biopython/blob/master/Bio/PDB/Dice.py#L45) to print the warning correctly:
[code]

Best
Leonhard

[2017-02-02 15:32] peterjc commented on #1053
It might be more useful to report the full residue information, how about switching ``%s`` to ``%r`` to print the ``repr(...)`` instead?

Would you like to submit this as a pull request?

[2017-02-02 15:48] peterjc commented on #526
The 16 character limit implied by using columns 13 to 28 has not changed as of December 15 2016, NCBI-GenBank Flat File Release 217.0. Note they do recommend:

[code]

However, many of the fields like devision and date do not define any way to specify a null value for missing data, which traditionally has been left blank (i.e. spaces) - which breaks parsing based on a white space separator.

[2017-02-02 18:42] peterjc commented on #1027
The reply from the NCBI is clear although not enlightening:

Closing issue, unfortunately people using ``Bio.Entrez`` will as discussed above have to update their scripts due to the NCBI PubMed XML/DTD change.

[2017-02-02 18:42] #1027 closed

[2017-02-02 20:53] peterjc commented on #526
See also https://github.com/biopython/biopython/pull/802 as of which Biopython will squeeze up to 26 letters in if space allows (by stealing space from the length field).

[2017-02-03 04:55] jconover11 commented on #483
Yes, I did find the newest updates. Thanks for the reply!

[2017-02-03 09:32] brandoninvergo commented on #483
Sorry, do you mean you've updated and it now works, or that you've updated and you still have the problem?

[2017-02-03 12:11] #1053 closed

[2017-02-03 12:43] MarkusPiotrowski commented on #1051
I will have a look if there is a bug.
On the other hand, Tm calculations using nearest neighbour thermodynamics are sensible to the input, especially when having mismatches:

- as you said, there is only litte data available for neighbouring mismatches (see also #682), I'm happy to include them if more are availabe.
- I wonder if these calculations can be used for multiple mismatches at all. I hav

[2017-02-03 13:03] larssnip commented on #1051
Yes, I think that a warning in the documentation is fine. I have been doing some testing, and found that if the two oligos have no more than 25% mismatches the computations are fine, in the sense they never seems to produce Extreme high temperatures. They produce largish negative values, but that is less of a concern. It just means there will be no hydridization...

In my code I test for percent m

[2017-02-03 16:30] jconover11 commented on #483
Whoops, I should have been more specific. I have the correct update, and I've gotten it to work now. Thanks!

[2017-02-03 16:38] brandoninvergo commented on #483
OK, glad to hear it works now!

[2017-02-07 17:05] tiagoantao commented on #898
Sorry for the late reply. Of course, yes

[2017-02-12 17:34] peterjc opened #1058 "Bio.Nexus.StandardData Python 3 non-iterator of type"
While working on moving the Nexus self-tests into ``test_Nexus.py`` (see #820), I found that ``Bio/Nexus/StandardData.py`` is broken under Python 3. This was new in pull request #562, contributed by @JoeCora:

[code]

Unless using a very recent checkout, you'd first get a ``basestring`` error, which by chance I recently fixed having found that by running ``flake8`` under Python 3 - see 5c974988100

[2017-02-12 17:37] peterjc commented on #1058
We just need to define ``__next__``, see also bf6445d9de00c739825eb6cf1b649b919c02c19d

[2017-02-12 17:43] peterjc commented on #1058
I think I've fixed this, I filed the bug primarily as I wasn't sure I'd have time to finish debugging this right now...

[2017-02-12 23:25] #1058 closed

[2017-02-12 23:31] peterjc opened #1059 "PyPy NEXUS Character states exceed number of available symbols in line"
Having recently moved some NEXUS self-tests into the main test suite, db8a3f7da6a0f6fa660932e591730b88fbf8f39a, this has revealed a problem under PyPy 2.5.0 run on TravisCI (i.e. the PyPy implementation of Python 2),

https://travis-ci.org/biopython/biopython/jobs/200919990
and
https://travis-ci.org/biopython/biopython/jobs/200922141

[code]

There is apparently something subtly different about Py

[2017-02-12 23:32] peterjc commented on #1058
Fixed in https://github.com/biopython/biopython/commit/02e208abba77620cbde05de2ba46a80906620204

[2017-02-13 12:50] kblin opened #1060 "SearchIO.QueryResult object does not have an 'accession' attribute all the time when parsing hmmer3-text records"
When parsing hmmer3-text records, the `QueryResult` objects returned only have an `accession` attribute when there's an `Accession:` line in the corresponding hmmer file.
This behaviour is at odds with the behaviour on e.g. hmmsearch3-domtab files, where there is always an `accession` attribute on the `QueryResult`, but it may be `-` if not set.

See the zip file below for a reproducer.

[example.

[2017-02-13 12:58] kblin commented on #1060
If we agree that we want to fix this, the fix should be as trivial as adding a default "accession" attribute to `qresult_attrs` in `_parse_qresult()` for `Bio/SearchIO/HmmerIO/hmmer3_text.py`.

[2017-02-13 12:59] peterjc commented on #1060
Yes, or ensuring all the parsers leave the object's default value as is if the accession is unknown? Over to Bow to decide.

[2017-02-13 15:19] peterjc commented on #1059
Bad news: Also fails locally using PyPy v5.1.1 on Linux

[code]

Good news: Seems to work using PyPy v5.6

[code]

That is currently the newest (Python 2 compatible) release of PyPy, specifically I used the portable package as I'm running this on an older version of Linux, https://bitbucket.org/squeaky/portable-pypy/downloads/pypy-5.6-linux_x86_64-portable.tar.bz2

I think that means we don't need

[2017-02-13 15:47] kblin commented on #1060
There is no default value.

The relevant snippet is:

[code]

[2017-02-13 15:54] bow commented on #1060
Thanks for reporting @kblin!

I intentionally left this undefined to better mirror what is represented by the file. In (Bio)python, I'm not sure if we have settled on a unified way to represent this.

We can do at least either of these two:

* Whenever an attribute is missing, set the attribute value to `None`. This means that `hasattr(obj, "attr_name")` will always return `True`.

* Whenever an a

[2017-02-13 17:53] OscarMaestre commented on #898
I hereby give my explicit permission to switch to the BSD 3-clause license

[2017-02-13 21:37] Gasta88 commented on #820
Hi, I'm having a look at Bio/Blast/NCBIXML.py.

Ideally the class should be tested with every kind of blast XML output found in Test/Blast? Ex: blastn, blastp, etc?

[2017-02-13 22:20] peterjc commented on #820
@Gasta88 that's an interesting one, right now https://github.com/biopython/biopython/blob/master/Bio/Blast/NCBIXML.py#L646 (link points at current latest code) when run directly takes a filename via the command line, and tries parsing it. I think we/you could just delete that ``if __name__ == '__main__':`` block.

In terms of test coverage, other than this ``NCBIXML.py`` looks good - eg https://co

[2017-02-14 10:04] kblin commented on #1060
It's just really surprising when code that works just fine with domtab input suddenly fails with an AttributeError just because the file format you're parsing changed.

[2017-02-14 12:21] kblin commented on #1060
Note that I'm not suggesting to parse `-` into `None`. I'm aware that this is mainly a question of style, but personally I think `if qresult.accession is None or qresult.accession == '-':` reads nicer than `if not hasattr(qresult, 'accession') or qresult.accession == '-':`

[2017-02-14 12:34] bow commented on #1060
Would this be an acceptable option?

[code]

There's the small case of when the ID is actually set to `-`, but I hope prior validation on that is not too much to ask :).

[2017-02-14 12:52] bow commented on #1060
On second thought, while we're discussing this, would it be an option to add functions like the one above for attributes that are optional to the module as well?

So you'd have `qresult.accession` which may or may not raise an `AttributeError` exception and `qresult.get_accession()` which will always return something.

[2017-02-14 13:58] kblin commented on #1060
Works for me. I just don't want to worry about code not being portable between different outputs of the same hmmer run.

[2017-02-15 00:19] njbernstein opened #1062 "AbiIO.py as a template for reading FSA files"
any thoughts about how to do this?

[2017-02-15 15:02] peterjc commented on #1062
What's an FSA file and why might the ABI parser be a good starting point?

[2017-02-15 18:08] njbernstein commented on #1062
An FSA file is a file format from applied biosystems genetic analyzer for fragment analysis that uses the ABIF (http://www6.appliedbiosystems.com/support/software_community/ABIF_File_Format.pdf
) like the ABI file format does. But I figured out how to do it. Have a good one

[2017-02-15 18:08] #1062 closed

[2017-02-17 17:40] riemaxi opened #1064 "PDBList::retrieve_pdb_file overpowers the API user"
This VERY HANDY funcion is doing two things that are inconvenient

- It prints messages to the console, like "Downloading PDB structure 'XXXX'..."
- It saves the data into a local file

My suggestion is to use callback functions for
- messaging
- for the downloaded content

For messaging do not use any specific languaje, use an message id
For the downloaded content, let the user decide where to pu

[2017-02-20 11:31] flass opened #1065 "non-standard Newick formating"
Hi,

I wish to mention that the string returned by NewickIO.Writer.write() has a format not compliant to Newick standard, when the default option of writing both branch length and branch supports is chosen. Two semi-colons are written: a regular one before the branch length, but also a wrong one before the branch support, e.g. (as highlighted by RAxML when trying to read the file outputed by Bio.P

[2017-02-20 21:02] etal commented on #1065
We've gone back and forth on this, see: #488

Newick has only a vague spec, and I'm not an expert in how current tools prefer to parse it.

[2017-02-21 10:45] flass commented on #1065
I can see why someone would want to have the full information on the node, i.e. "(labelA, labelB)labelC:confval:branchlenght" retained in the Newick string.

Unfortunately, most Newick parser will fail on that formatting, because the semicolon is expected only once per node, to signal the branch length field. As said in the issue #488 the usual way is to replace internal labels with confidence val

[2017-02-21 21:35] bow commented on #1060
@peterjc What do you think about adding a `get_*` method for `accession` for uniform return types? If this is ok, we could also do the same thing for the `description` attributes of `QueryResult` and `Hit` objects. There the, objects without the `description` attribute is has an empty string by default.

[2017-02-22 14:44] peterjc commented on #1060
If you mean using _private_ get methods as part of a Python property, that seems like a sensible implementation.

(On a related point, the defaults for the ``SeqRecord`` object's ``.id``, ``.name`` and ``.description`` are less than ideal - but changing these is much harder than in ``SearchIO`` as we have more historical usage to worry about for backward compatibility)

[2017-02-22 18:56] mmagnus opened #1066 "Is there a way to get GC SS_cons from an alignment in the Stockholm format?"
[code]

i would like to get the first line? If there is no way how to do it, is there any problem to do it? I could do it but is it breaking something else?

(I'm new to Biopython development, but I'd love to contribute).

[2017-02-23 10:27] peterjc commented on #1066
Right now you can't, sorry. Closing as a duplicate of #357.

There are a few bits of code looking at doing this, e.g. #528 and #769, fresh eyes on  this would be good if you're interested in helping.

[2017-02-23 10:27] #1066 closed

[2017-02-23 18:00] peterjc commented on #493
Thinking about this again, I think we should do something like this:

1. Create new file called ``Scripts/git_pre_commit_hook.py`` or similar (it could be written in bash?) within our repository
2. Provide instructions to set this up as a your pre-commit hook, ``cd biopython`` and run ``ln -s Scripts/git_pre_commit_hook.py .git/hooks/pre-commit``

The new script would ideally cover not just the co

[2017-02-24 16:14] peterjc commented on #493
Work in progress here which runs flake8 etc and rst-lint (planned for the TravisCI/Tox setup soon):

https://github.com/peterjc/biopython/blob/pre_commit_linting/Scripts/git_pre_commit_hook.py

[2017-02-26 11:30] peterjc commented on #1009
Fixed a few more related examples in https://github.com/biopython/biopython/commit/63194ccff5d72ee78c4bcd1ba72173b8cf3d19f9

[2017-02-28 08:51] bow commented on #1060
Hmm, I was thinking of making public methods actually.

So anyone using the package can choose, for example, `.accession` to retrieve the closest representation to the file or `.get_accession()` to retrieve what we think is the correct representation (`None` for missing values or whatever is in the file otherwise).

`.get_accession()` always returns something, while `.accession` may or may not rai

[2017-02-28 15:21] peterjc commented on #1060
That choice of ways to access the data with a subtly different value seems confusing and un-Pythonic to me. I'd push for just ``.accession`` here only (which might be a plain attribute or a read only property underneath). If the simplest way to do this is to set ``None`` as a default value for missing data, that seems fine to me.

@kblin As someone directly using this and familiar with the data co

[2017-02-28 16:32] peterjc commented on #998
I've tried (and BCC'd you), but I don't think I have any personal contacts in this part of the NCBI so have email the main information address.

[2017-02-28 16:58] bachev commented on #998
Seen it, thank you.

There was just a small error in your mail, there was a "not" too many. It should have read:

"However, current real files from the FTP site do have spaces after"

Regarding NCBI mail address: I usually go via their "Write to the Help Desk" link at the bottom of the main NCBI landing page. You need then one more click but then land in a window which apparently sends something t

[2017-02-28 23:04] peterjc commented on #998
This was assigned NCBI ticket ID #28045-174281, and in their reply they pointed me at a newer article https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3531190/ which gives examples with spaces, but this is far from explicit.

[2017-03-01 03:53] mdehoon commented on #1060
FWIW, I agree with @peterjc  's suggestion. I believe it's the most Pythonic solution, and feels most consistent with the principle of least astonishment.

[2017-03-02 18:29] p-himik opened #1070 "Support for uncompressed file offset for bgzf"
SAMtools implements `bgzf_useek` that apparently allows seeking bgzf files using offset in uncompressed data. https://github.com/samtools/htslib/blob/84a89da6cf0eb828d39f9a85b82411d58c840e16/htslib/bgzf.h#L326

Is it possible to implement the same thing in Biopython's bgzf module?

[2017-03-02 22:04] peterjc commented on #1070
Hmm. Probably. I'd have to spend some time digging into how samtools does it, and how it might be done in our code. Do you have a use-case motivating this?

[2017-03-02 23:52] StuntsPT commented on #926
As promised, now that NCBI has updated the *Entrez* API to allow `esearch` to return Accession numbers, I have updated the docs.
Please look at #1071.
I thought about simply adding the parameter `idtype="acc"` in the code, but 1) it's not how the API works, and 2) it would break existing code.
Although I'm not really sure the alternative of simply having half working code is better than having bro

[2017-03-03 06:22] p-himik commented on #1070
Dask (http://dask.pydata.org) requires seekable files for efficient reading, and in this particular case, I have a bunch of files from GTEx Analysis (http://www.gtexportal.org) that that weigh up to 14GB uncompressed.

[2017-03-03 12:31] peterjc commented on #1070
Code wise, existing debugging function ``BgzfBlocks`` reports the relevant information which could be used to map the uncompressed offset into a virtual offset.

Do you envisage mixing virtual offsets and uncompressed offsets, or just using one or the other?

If its just one or the other, we could add an alternative class to ``BgzfReader`` which does not expose virtual offsets to the users - only

[2017-03-03 14:01] #926 closed

[2017-03-03 17:07] #582 closed

[2017-03-03 19:06] p-himik commented on #1070
As far as I understand, Dask uses only uncompressed offsets - it doesn't have any notion of virtual offsets. Even if I don't use Dask, I still can't think of a scenario where I'd want to use both kinds of offsets.
So yes, I'd be glad to have just an alternative class (or just a parameter) to `BgzfReader`.

`.tell()` is also would be great to have. And I think `.seek(...)` is supposed to return exa

[2017-03-04 00:27] adalke commented on #1044
Git and github confuse me. My brain has 25 years of practice using SCCS/CSV/SVN/Mercurial and exchanging patches or working with a central private repo. I submit pull requests on github about once per year, and have to relearn the process each time.

Pull request is #1073 .

If you look at #898 you'll see I've already given permission. The answer is "yes", and I apologize again for not using the B

[2017-03-04 00:27] #1044 closed

[2017-03-04 09:20] peterjc commented on #1044
Thanks Andrew, I'll look at this shortly - don't have time this morning.

[2017-03-04 10:26] peterjc commented on #1044
CONTRIB updated. I should have recognised your GitHub username but as the profile doesn't list your name I didn't - otherwise I would have recalled the license discussion. Great to have your name on another Biopython release, thank you 👍

[2017-03-04 15:35] adalke commented on #1044
It's more a matter of "There's a github profile?" :)

[2017-03-05 03:29] andrewguy commented on #787
Just coming back to this issue with fresh eyes. The issue with `deepcopy` arises in Python 3, but not Python 2. It seems to be an issue with the line `if hasattr(y, '__setstate__'):` in the `deepcopy` code generating infinite recursion when disordered atoms are present. I'm not sure why this is the case though - simply calling `hasattr(atom, '__setstate__')` on a disordered `atom` doesn't raise an

[2017-03-06 12:21] peterjc commented on #1070
I am unlikely to be able to work on this any time soon - and next time I can spare a chunk of time for Biopython there's an overdue release to do first.

If you would like to work on this, I would try to give you feedback and review. I would suggest introducing a new alternative class which only exposes the uncompressed offets. This would need to keep an internal table of the blocks.

For a first

[2017-03-06 12:35] p-himik commented on #1070
I have no idea about my time constraints, and right now we just decompressed the files, so there's no immediate need for this feature. But I'll look into it if the time allows.

[2017-03-06 22:30] JoaoRodrigues opened #1081 "CIF to PDB conversion yields bad PDBs"
The PDB format is character delimited and the `PDBParser` relies on this spacing to determine  some things from the atom name (e.g. element). MMCIF files on the other hand are designed to be tabulated and therefore we cannot rely on 'spacing'. This is particularly important for the `Atom.fullname` attribute and has implications in writing PDB files from parsed mmCIFs.

A possible fix is to work on

[2017-03-06 23:57] bow commented on #883
Hi @peterjc,

This isn't exactly the refined PEP8 standard we are aiming for, but what do you think about moving the per-directory style settings out of the `.travis-tox.ini` file and into separate config in the respective directories (i.e. something like [this](https://github.com/bow/biopython/commit/2d56380fbcfd42ed744dede3ff1f38d81f1b5908))?

Would this have any downside compared to the current

[2017-03-07 10:56] peterjc commented on #883
Good plan. 👍

Since I transitioned from the command line tool ``pep8`` to ``flake8`` that makes a lot of sense. When we used the command line tool ``pep8`` (now renamed ``pycodestyle``), per-folder settings did not seem to be easily possible with hidden files https://pycodestyle.readthedocs.io/en/latest/intro.html#configuration

If we need to use per-folder ``. pydocstyle`` files, according to htt

[2017-03-07 10:59] bow commented on #883
I can apply this directly sometime later today, if that's ok.

On second look, what do you think about using `setup.cfg` instead of `.pycodestyle` in the root folder? The goal is then to gradually remove the `.flake8` files in the subdirectories to have just a single `[flake8]` entry in the root `setup.cfg` (in other words, to have a single style setting for the entire Biopython).

[2017-03-07 11:04] peterjc commented on #883
I certainly would hope we can get to a single flake8 configuration for the whole of Biopython.

I'm a little less settled on yet another non-hidden file in the project root, but that does make sense as a longer term goal covering all the style settings.

[2017-03-07 14:51] bow commented on #883
Ok then. I'll apply the changes [here](https://github.com/bow/biopython/commit/2d56380fbcfd42ed744dede3ff1f38d81f1b5908) as-is to `master` soon.

[2017-03-07 16:27] bow commented on #883
Done in 302773437 ~

[2017-03-07 17:37] TBradley27 opened #1083 "MafIO: Duplication of MAF blocks which span two exons?"
Hello,

I have had a problem trying to use biopython/Bio/AlignIO/MafIO.py recently

Version: Cloned from Github repository Feb 14 2017

In particular, I have been having problems using the 'get_spliced' method of the MafIndex class.

Here is my code:

[code]

NB: Chr1.maf and its corresponding index refers to the relevant MAF file from UCSC 100-way alignment:

http://hgdownload.cse.ucsc.edu/golden

[2017-03-07 17:53] peterjc commented on #1083
Thanks @TBradley27 - this is the first bug report against the new MAF code filed here.

Looking over https://github.com/biopython/biopython/commits/master/Bio/AlignIO/MafIO.py the ``MafIO.py`` code was last updated 22 Feb with https://github.com/biopython/biopython/commit/49e7da7b44c913143956e3662f4ada36937a3dc8 but that was a trivial white-space edit. Otherwise you're working with the latest vers

[2017-03-07 17:55] peterjc commented on #1043
Fixed via #1047

[2017-03-07 17:55] #1043 closed

[2017-03-07 22:57] #787 closed

[2017-03-08 08:40] JoaoRodrigues opened #1085 "Prevent PDBIO from writing large structures not supported in PDB format"
The PDB format specification imposes several limits on the number of atoms, residues, and chains that can be written to file. This is one of the reasons behind the move to the mmCIF format as the default structural data storage format.

Since we have the ability to read both PDB and mmCIF structures, but only to write PDB files, there should be a check to prevent writing very large structures that

[2017-03-08 09:39] blaiseli commented on #1083
@peterjc I'm currently trying to include a fix for this bug in my branch. The idea is to keep a record of start and stop positions already yielded in `MafIndex.search` and skip the blocks that have an already recorded (start, stop) pair. Maybe it would be more efficient to just perform this check on offset values.

[2017-03-08 10:47] blaiseli commented on #1083
@TBradley27 can you check whether the bug persists with my updated fork: <https://github.com/blaiseli/biopython/tree/alignio-maf> ?

[2017-03-08 11:39] peterjc commented on #1083
@TBradley27 are you comfortable cloning and checking out specific branches for testing?

I've included @blaiseli's proposed fix and test case in pull request #1086 (started from his work in #504 but excluding any changes to the end point treatment), so this is an alternative branch which could be tested https://github.com/peterjc/biopython/tree/mafio

[2017-03-08 12:00] TBradley27 commented on #1083
@peterjc and @blaiseli - thank you very much for your quick responses.

Yes, I am happy to test the changes made to the forked repositories. I will hopefully have time to do this at some point today

[2017-03-08 12:49] peterjc commented on #1085
Good idea.

[2017-03-08 20:45] TBradley27 commented on #1083
I have now tested both of the branches mentioned in your previous comments.

First, I tested the code I posted in my first comment in this thread, on the following branch:

https://github.com/blaiseli/biopython/tree/alignio-maf

Which returned no error messages, and returned the following output when using `AlignIO.write` - with just the output shown for the reference species:

[code]

Secondly, I

[2017-03-08 22:34] #1083 closed

[2017-03-08 22:39] peterjc commented on #1083
@TBradley27 thank you for your clear report, and testing the proposed fix from @blaiseli which I have now committed to the master (as part of pull request #1086). Please don't hesitate to reopen this issue if further testing reveals a problem - or indeed any new problems.

[2017-03-10 10:09] hmarlo opened #1090 "Missing module in PDBList"
There is a missing module in the PDBList which is used to write a warning to stderr using the module "sys", which is not imported (line 105). I'm forking the project and correcting the file.

[2017-03-10 16:52] bachev opened #1093 "SearchIO parsing hmmer3-text records: allow for concatenated records"
Hi there,

I just stumbled across this problem while trying to speed up a couple of things by using GNU parallel for hmmscan: the current hmmer3-text parser does not handle cases where multiple outputs of hmmscan are concatenated together (as GNU parallel does).

I am implementing a workaround to clean up files prior to handing them over to the parser, but it would be nice for future users if this

[2017-03-10 17:02] peterjc commented on #1093
I can certainly see the utility of this, provided it does not overly complicate the parser.

[2017-03-10 17:10] peterjc commented on #1090
Well spotted. I wonder why ``flake8`` didn't spot that?

[2017-03-10 17:28] bow commented on #1093
Hi @bachev,

Thanks for opening this issue. I'll see what I can do. I hope it is as trivial as checking the line :).

[2017-03-10 19:06] hmarlo commented on #1090
Thank you :) Maybe because flake 8 saw a import sys, but didn't notice that the range of that sys didn't include the scope of the write to stderr.

[2017-03-10 22:09] peterjc commented on #1090
That could explain it - even though that ``import sys`` was at the end of the file (as discussed on #1091) and not being executed.

[2017-03-12 17:37] bosborne commented on #907
I think that reST would be preferable given its compatibility with Sphinx and Python documentation generally, but on the other hand it looks like there's still no syntax highlighting of Python code blocks in reST files in GitHub. That argues for Markdown. Any new thoughts on this? Happy to help, if an approach is chosen.

[2017-03-12 19:16] peterjc commented on #907
I'm leaning very much towards RST - we're already using it for the Python docstrings in the code itself, and the misc text files.

[2017-03-13 07:36] hmarlo commented on #1090
@peterjc I close the issue.

[2017-03-13 07:36] #1090 closed

[2017-03-13 09:29] peterjc commented on #1090
Yes, I should have closed this after merging #1091. Thank you.

[2017-03-14 08:16] hmarlo commented on #1064
@riemaxi Could you extend on using callback functions to messaging or downloaded content?

For messaging I think that move the print function/statement to the logging module would be useful, since you can set verbosity and hide the messages.

For the downloaded content, you mean return a plain text, instead of creating a file and let the user save the text in a file or passing it to another functi

[2017-03-14 10:49] Gasta88 opened #1095 "Improving doctest Bio/Graphics/GenomeDiagram/_FeatureSet.py"
Hi all,

before editing and creating a PR for this script there are few things that I would like to discuss:

1) Testing on this script rely on a GenBank file which seems to be stored locally on the creator machine. I've found a copy of it and I would like to place it in the repo, but I'm not sure about the location. Maybe `Tests/Graphics`?

2) I'm relying on the doctest framework over the unittes

[2017-03-14 11:14] peterjc opened #1096 "Explicitly test origin wrapping in test_GenomeDiagram.py"
Many bacteria have circular genomes where there is a gene spanning the origin (usually the annotators try to avoid this by shifting the origin), e.g. ``NC_005213`` from *Nanoarchaeum equitans* (which interestingly has been withdrawn from RefSeq because "data validation identified problems with the assembly or annotation.") has:

[code]

Here ``complement(join(490883..490885,1..879))`` is spanning

[2017-03-14 11:14] peterjc commented on #1095
RE: self test in https://github.com/biopython/biopython/blob/biopython-168/Bio/Graphics/GenomeDiagram/_FeatureSet.py#L198

The basic functionality being tested here is already covered, e.g. https://github.com/biopython/biopython/blob/biopython-168/Tests/test_GenomeDiagram.py#L822

I'm reluctant to add another reasonably sized file to the repository (and thus the files distributed with Biopython) u

[2017-03-14 11:30] Gasta88 commented on #1095
Thanks @peterjc.

I'll get my head around this issue then.

[2017-03-14 12:19] riemaxi commented on #1064
Hi hector
Thanks for answering.
Yes of course I can do that ... would be a pleasure.
I would however, avoid parameters and use only a functional approach, so we
keep a clean implementation and at the same time we let the user decide by
passing its own functions.

The current implementation can be based on this new, so everybody is happy
... :-) ...
//Sam

On Tue, 14 Mar 2017 at 09:16, Hector Marti

[2017-03-14 18:12] peterjc opened #1097 "Optimise single-record calls to SeqIO.write and SeqRecord format"
The design of ``SeqIO.write(...)`` intended it to be called once to write an entire file in one go, and indeed this is essential for complex file formats with a header/footer structure (e.g. XML).

However, for many sequence file formats (e.g. FASTA, GenBank, EMBL), you can call ``SeqIO.write(single_record, output_handle, format)`` safely within a loop. However, it is much slower than it needs to

[2017-03-14 22:20] peterjc commented on #820
Current line counts from the script posted earlier,

- lines after ``__main__`` if statement
- total number of lines
- filename

[code]

Of these ``Bio/PDB/QCPSuperimposer/__init__.py`` looks like a good one for @MaxGreil to try converting for addition to `` Tests/test_QCPSuperimposer.py`` as this is quite a recent addition to the code so was can easily check with the author if needed.

Note that

[2017-03-15 09:55] nylander commented on #471
Hi,
I'm running into similar issues as described, and

The problem is definitely with the Nexus parser. It should not choke on the commas **inside the comments**, it should ignore them along with the rest of the comment - that's what the square brackets are for!

Ever since people realized that the current Nexus standard is limited, they started putting all sorts of information inside the comments

[2017-03-15 10:50] JoshuaMeyers opened #1098 "MUSCLE command line wrapper options"
The options available in the biopython wrapper for MUSCLE MSA do not correspond to those available in the command line version (for MUSCLE v3.8)

The most significant of these are the '-matrix' flag which allows users to set a scoring matrix (e.g. BLOSUM62) and '-gapextend' which defines the penalty for extending a gap. Both of these are not available in the biopython wrapper.

<br><br>

_This was

[2017-03-15 11:32] peterjc commented on #1097
Related to this, it would make sense to expose simple functions for:

- building a FASTA formatted string (including sequence line wrapping) from a title and sequence (string or Seq object)
- building a FASTQ formatted string from a title, sequence (string or Seq object), and ASCI quality string

This would be analogous to the low-level parsing functions ``SimpleFastaParser`` and ``FastqGeneralIte

[2017-03-17 10:28] kblin commented on #1060
Late to the party again, but as I mentioned previously, `if hit.accession is None` in my eyes reads much nicer than `if not hasattr(qresult, 'accession')`, so fine by me. I mainly think having a different selection of attributes for a `QueryResult` depending on what format was parsed is needlessly confusing and likely to cause errors in downstream code.

[2017-03-17 14:18] peterjc opened #1102 "Update Tutorial to use mmCIF in place of PDB format"
PDBx/mmCIF became the standard PDB archive format in 2014. The plain text PDB file format is now deprecated, so we should update the Biopython Tutorial to use the mmCIF parser instead.

http://mmcif.wwpdb.org/docs/faqs/pdbx-mmcif-faq-general.html

This should be fairly easy to fix, if you are familiar with the topic already.

[2017-03-17 14:36] peterjc opened #1103 "translate method for SeqRecord"
We have a ``.reverse_complement(...)`` method in the ``SeqRecord``, using the method of the same name on the ``Seq`` object.

It would be natural to do this for ``.translate(...)`` as well, with similar behaviour for the metadata. i.e. default to dropping it, but make it easy to explicitly retain it (e.g. ``.translate(..., id=True)`` to retain the nucleotide record's ``.id`` on the protein record.

[2017-03-17 14:53] Gasta88 commented on #820
I'm having problem with increasing coverage for `Bio/KDTree`.

The C module `_CKDTree` can't be found when loaded from `Bio/KDTree/KDTree.py` or `Tests/test_KDTree.py`.

Is the file missing altogether or have I forgot to pre-compile something?

[2017-03-17 16:15] peterjc commented on #820
@Gasta88 have you definitely run ``python setup.py build`` or ``python setup.py install`` before trying to use ``test_KDTree.py``? The compiled C code will not be available otherwise.

[2017-03-17 19:29] saketkc commented on #850
Thanks to @MarkusPiotrowski, I was able to scale it up. It now works with multiple fonts:
http://nbviewer.jupyter.org/github/saketkc/notebooks/blob/master/python/Sequence%20Logo%20Python%20%20--%20Any%20font.ipynb?flush=true

[2017-03-17 21:08] peterjc commented on #850
That looks very nice 👍

[2017-03-17 21:16] JoaoRodrigues commented on #1102
We can highlight that we do have this feature indeed, but despite what
format is now default, many many people still use PDBs. Besides, we do no
have a mmCIF writer..

2017-03-17 7:18 GMT-07:00 Peter Cock <notifications@github.com>:

[2017-03-19 22:34] bow commented on #1030
Closing this issue since this has been addressed in #1037.

[2017-03-19 22:34] #1030 closed

[2017-03-19 22:39] bow commented on #1060
Hmm..

Ok then, let's keep using `hit.accession` as a simple attribute then. We could default to using `None` whenever a missing value is encountered. This may be an empty string in some formats, or a `-` (as in hmmer3-domtab), or a value that is altogether not present in the file. SearchIO will have format-specific defaults on what the missing values are, but this may be overridden via an argumen

[2017-03-19 22:46] peterjc commented on #1060
Using ``None`` as a default for missing values sounds good. I'm not sure what you have in mind for (extra?) arguments to ``SearchIO.parse`` or ``SearchIO.read``.

[2017-03-19 22:48] peterjc commented on #1102
True, adding an mmCIF writer would be nice. People are going to continue using PDB files for some time yet, so the tutorial transition could be more gradual - it should at least show parsing mmCIF and MMTF as early as possible?

[2017-03-19 23:15] bow commented on #1060
It's just me (probably) being too cautious of a corner case where some records may have an actual ID of `-` in a `hmmer3-domtab` file, I guess. SearchIO would then thinks the ID value is nonexistent and sets it to `None`, while the user may be expecting a `-` value. So maybe giving the user an option to ignore what SearchIO thinks is a blank value is useful.

I don't expect this to happen under an

[2017-03-20 17:34] peterjc commented on #1097
I've been exploring a proof-of-principle which introduces functions named ``as_fasta``, ``as_fastq``, ``as_fastq_solexa`` etc.

However named, should these ``SeqRecord`` to formatted string functions allow optional arguments? Perhaps only when implemented by the writer objects they would replace (like line wrapping for FASTA or QUAL ), or focus on keeping things simple?

[2017-03-20 21:17] Gasta88 commented on #820
@peterjc  I didn't before, but now that I've run the command the `_CKDTree` module is still missing.

Both tests in the `Tests/test_KDTree.py` are unable to create 'C KDTree' instances.

I can see that there is a C file named after the class, but I'm not sure how it is compiled.

[2017-03-20 21:35] peterjc commented on #820
@Gasta88 I suggest you open a separate issue to discuss this (giving details of the machine setup, OS, version of Python, etc). Thanks.

[2017-03-21 00:28] JoaoRodrigues commented on #1102
Agreed. I'll have a look at that.

2017-03-19 15:48 GMT-07:00 Peter Cock <notifications@github.com>:

[2017-03-21 03:33] mdehoon commented on #1097
Perhaps, instead of introducing one function for each format, we can have a single method (maybe called "format") that takes the requested format as the argument?
So record.format("fasta"), record.format("fastq"), record.format("fastq_solexa").Then we can have additional optional arguments as needed.
-Michiel.

    On Tuesday, March 21, 2017 2:34 AM, Peter Cock <notifications@github.com> wrote:

[2017-03-21 08:48] peterjc commented on #1097
@mdehoon we already have a ``SeqRecord`` method, e.g. ``record.format("fasta")``. Currently it calls ``SeqIO.write(...)`` with a ``StringIO`` handle internally, which is a lot of overhead. This issue would speed this up enormously.

I'm not entirely sure if the one-function-per-format ought even to be part of the public API? The idea is they will replace the current one-writer-class-per-format.

C

[2017-03-21 16:50] MaxGreil commented on #820
@peterjc I referenced my Unit test for QCPSuperimposer.
Is my code valid or should I change/modify it?
If it is valid, with which biopython module should I continue?

[2017-03-21 16:57] peterjc commented on #820
@MaxGreil Hi Max, there are two things I'd like done - neither is urgent.

First of all, this GitHub issue (#820) is about moving test code out of files like ``Bio/PDB/QCPSuperimposer/__init__.py`` into our main test suite, in this case ``Tests/test_QCPSuperimposer.py`` so that the tests are run automatically (and are counted in our unit test coverage reports). I'm talking about this bit of your c

[2017-03-21 19:32] Gasta88 opened #1104 "64-bit Windows, TypeError: cannot create 'C KDTree' instances"
Hi,

As mentioned in my comment in issue #820 , I'm not able to run `Tests/test_KDTree.py` or the related class in the `Bio` folder.

Following @peterjc suggestion, I've run the `python setup.py install` and `python setup.py build`. Both don't raise any error.

When I run `Tests/test_KDTree.py` this is what I get:
[code]

My setup is as follow:

Let me know if I have omitted any details.

[2017-03-21 21:21] peterjc commented on #1104
Ah, 64-bit Windows 10 is going to be potentially interesting - we've not really solved this yet... but if you didn't get any error messages during the build and install, that sounds positive. Our existing notes are here:

http://biopython.org/wiki/64-bit_Windows_Biopython

I am assuming you have got a copy of Biopython on disk via ``git clone ...`` and are then trying to compile and install Biopyt

[2017-03-22 09:16] Cashalow opened #1107 "GC_skew () issue"
Hello,
I found a rather strange issue in the GC_skew() function in Bio.SeqUtils.
If you run this code :

import Bio
import Bio.SeqUtils
from Bio.Seq import Seq

Bio.SeqUtils.GC_skew(Seq("G"*100 +"A"))

this will fail because GC_skew will try to calculate the skew on the last remaining nucleotide which is not a G/C. Should this function check before trying to divide by zero?

Cheers and thanks for

[2017-03-22 12:35] peterjc commented on #1107
You missed out the error, under Python 3.6 I get:

[code]

This is a corner case, due to the windowing scheme the final chunk of sequence can be far smaller than the window size (here one base ``A`` rather than a window of 100bp), and it is therefore more likely to have no ``C`` or ``G`` and thus give a divide by zero exception.

What would you suggest be returned here? ``None`` or the special flo

[2017-03-22 13:42] Cashalow commented on #1107
Yes indeed but it could also happen with a theoretical window of only A/Ts. I am trying to see how other tools deal with this theoretical case and this one http://genskew.csb.univie.ac.at/ returns "0" when no G/C are found, which as far as I'm concerned makes sense because indeed no GC skew can be observed on such sequences.

[2017-03-22 14:48] peterjc commented on #1095
I was not clear enough in my comment. As genomes go, NC_005213 is relatively small but I still DO NOT want to include it in the test suite.

Instead, we could recreate an origin spanning feature in code for the test.

[2017-03-22 14:51] peterjc commented on #1095
Closing, see #1096.

[2017-03-22 14:51] #1095 closed

[2017-03-22 15:04] peterjc commented on #1107
You could make a good case for returning zero here too.

[2017-03-22 17:02] souravsingh commented on #1102
@peterjc Do we need to make the changes everywhere in the Tutorial sections where PDB parser is used?

[2017-03-22 17:05] peterjc commented on #1102
Not everywhere - as noted above, people will be using PDB for some time yet. In any case Joao says he'll look at this...

[2017-03-22 22:04] JoaoRodrigues commented on #1102
Hi @souravsingh, I was planning to have a look at it this weekend, but if you want to go ahead and add to the tutorial examples of the other two parsers, go for it. I need to have a look at the tutorial, but as @peterjc mentioned, we should try to introduce the mmCIF and MMTF parsers as soon as possible (not as an afterthought) to the user.

[2017-03-23 12:26] JoshuaMeyers commented on #1098
Issue resolved: https://github.com/biopython/biopython/pull/1100

[2017-03-23 12:26] #1098 closed

[2017-03-23 12:31] peterjc commented on #1098
I'd forgotten to close this after #1100 was merged, thanks!

[2017-03-23 16:14] peterjc opened #1109 "NCBI Entrez protein IPG XML issue, XSD missing Protein and ProteinList"
At the time of writing, our test ``test_Entrez_online.py`` fails as follows:

[code]

We can verify this outside of Biopython, this is https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=protein&id=783730874&rettype=ipg&retmode=xml downloaded today,

[code]

This references XSD file https://www.ncbi.nlm.nih.gov/data_specs/schema/other/seq_report/IPGReportSet.xsd again downloaded today:

[

[2017-03-23 18:19] peterjc commented on #658
I'm going to close it - I've not seen error this for a long, and have updated PyPy3 several times since this was filed.

[2017-03-23 18:19] #658 closed

[2017-03-23 18:20] peterjc commented on #845
I'm going to close this as it seems to have been fixed in a more recent version of PyPy3

[2017-03-23 18:20] #845 closed

[2017-03-23 18:21] peterjc commented on #953
Things look very good under PyPy2 v5.6 and the brand new PyPy2 v5.7 as well...

[2017-03-23 18:41] peterjc commented on #953
After some small tweaks to ``setup.py``, under macOS with PyPy3 v5.6 and v5.7, it looks everything except compiling ``Bio.trie`` is working:

[code]

[2017-03-23 19:15] MaxGreil commented on #820
If it is ok, I now have a look at Tests/test_SVDSuperimposer.py.

[2017-03-23 21:36] foenpeng opened #1111 "Prank_codon"
In the file Module Bio.Align.Applications._Prank.py,  Prank cannot recognize the codon argument.

_Option(["-codon", "codon"],

should be

_Switch(["-codon", "codon"],

It is not supposed to manually input a codon model in prank. Instead, it is just a switch on/off

[2017-03-23 21:57] Gasta88 commented on #1104
Thanks for the note, I'll download Numpy 64bit at work (here at home is trying to download the wheels for 40 minutes and it's still calculating the size of the file..)

I haven't got anything related to C++ beside Microsoft Visual C++ pre-installed.
I've downloaded mingw64 and run the command. Below the long output:
[code]

[2017-03-23 21:59] Gasta88 commented on #820
Beside my problem with `Tests/test_KDTree.py`, is there any other module that takes priority?

[2017-03-23 23:06] peterjc commented on #1111
Thanks for reporting this. Could you make this into a pull request? Its a tiny change so you've even be able to do it within GitHub in the browser (without using git at the command line at all).

[2017-03-23 23:07] peterjc commented on #1104
It looks like things are getting compiled - fingers crossed everything will just work.

[2017-03-23 23:10] peterjc commented on #820
@Gasta88 how about looking at the self-test in ``Bio/PDB/Vector.py`` and checking if all the operations are covered already in ``Tests/test_PDB.py``? If we'll lucky then you can just remove the self-test from ``Bio/PDB/Vector.py``.

[2017-03-24 00:01] JoaoRodrigues commented on #1104
Just as a side-note. I just got my hands on a Windows 10 64-bit machine, is
there anything I can setup to help check these things?

I haven't installed Biopython, but was planning to do so using miniconda.

[2017-03-24 09:48] peterjc commented on #1104
@JoaoRodrigues please have a go building Biopython (and the installers) for multiple Python versions (including 32 bit and 64 bit), using both MSVC and mingw to see what needs updating on http://biopython.org/wiki/64-bit_Windows_Biopython and http://biopython.org/wiki/Building_a_release

(Also please report any test failures - my elderly Windows Buildbot has been offline recently)

[2017-03-24 10:48] Gasta88 commented on #1104
Here's an updated.

After installing mingw64 and numpy 64-bit version, this issue is not being resolved.

Any other idea that I should try?

[2017-03-24 11:05] peterjc commented on #1104
I think this is likely to be a problem with the C code under 64-bit Windows, something which worked on the older 32-bit Windows machines, and on Mac OS and Linux. Unfortunately this is likely going to be difficult to solve with some experience in C code and Python, and direct access to a 64-bit Windows machine.

Hopefully @JoaoRodrigues can at least reproduce the problem?

I am still planning to g

[2017-03-24 14:52] peterjc opened #1112 "test_NaiveBayes.py fails under PyPy3.5 v5.7 beta"
See #953, on a branch I have modified ``setup.py`` to expect NumPy to be present under PyPy. This exposes a problem with hashing NumPy floats under the current latest version of PyPy3.

e.g. https://travis-ci.org/peterjc/biopython/jobs/214366116

[code]

Underlying problem with NumPy under PyPy3.5 v5.7 beta, logged as https://bitbucket.org/pypy/pypy/issues/2518/pypy3-hashing-numpy-float-types whic

[2017-03-24 16:40] paxelito opened #1113 "Method search in Bio.Restriction.AllEnzymes"
[code]

It works perfectly with CommOnly but not with AllEnzymes RestritionBatch

Python 3.6.0
Biopython 1.68
Numpy 1.12.0

THX in advance

[2017-03-24 16:49] peterjc opened #1114 "PyPy cannot build Bio.trie"
Biopython releases until now have not attempted to compile any C extension code under PyPy. During the early days of PyPy we deliberately excluded them:

https://github.com/biopython/biopython/blob/biopython-168/setup.py#L416

However, in experiments with PyPy2 v5.6 and v5.7 compiling our C code mostly works, with the exception of:

[code]

The following tests are from https://github.com/peterjc/b

[2017-03-24 16:51] peterjc commented on #953
Almost everything is working according to the test suite:

- ``Bio.Trie`` fails to compile (#1114) which is unrelated to NumPy but I mentioned it above
- ``test_NaiveBayes.py`` fails as ``numpy.float64`` is currently unhashable under PyPy (#1112)

I intend to enable our NumPy-dependent code, and most of our C code, under PyPy...

[2017-03-24 16:56] paxelito opened #1115 "Restriction analysis error with IUPACAmbiguousDNA Seq."
[code]
output
[code]
It works perfectly if
[code]
Python 3.6.0
Biopython 1.68
Numpy 1.12.0

THX in advance

[2017-03-24 17:23] foenpeng commented on #1111
Hi Peter, thanks! I've done it the way as you suggested.

[2017-03-24 22:40] peterjc commented on #1115
You need to use:

[code]

Then you'll get:

[code]

Just ``IUPACAmbiguousDNA`` is the name of a class, ``IUPACAmbiguousDNA()`` gives you an instance of the class. The ``Seq`` object could do stricter checking when it is created, but it would slow things down a little...

[2017-03-24 22:40] #1115 closed

[2017-03-24 22:46] peterjc commented on #1111
Closed via #1117, thank you.

[2017-03-24 22:46] #1111 closed

[2017-03-25 10:02] autodataming opened #1121 "how to convert atom object to structue object?"
I have select some atom objects. Then I want to convert these atom objects to structure object and save it to pdb file as the following:

I was confused that how to convert atom object to structue object.

[2017-03-26 18:01] MaxGreil commented on #820
If the new unittests for test_SVDSuperimposer.py are acceptable, for which biopython module should I write some unittests next?

[2017-03-26 22:47] peterjc commented on #820
@MaxGreil Thanks Max. Browsing https://codecov.io/gh/biopython/biopython one example in need of more test coverage is ``Bio/MarkovModel.py`` - it has some tests but according to the coverage report visualised as https://codecov.io/gh/biopython/biopython/src/48ae539449dded4ff1ff1e9f4ff7b8d0b7a28256/Bio/MarkovModel.py large parts are not being tested, e.g. function ``train_bw``, or the ``load`` and

[2017-03-26 22:52] peterjc commented on #1114
It seems unlikely that PyPy will support the Python Marshal C API soon.

Would anyone be interested in writing some (or all) of ``Bio.trie`` in pure python as they suggest?

Writing the whole thing in Python would also let it run under Jython too, and might be simpler than trying to this piece by piece...

[2017-03-27 00:24] JoaoRodrigues commented on #1121
This is a question better suited for the general user mailing list: http://biopython.org/wiki/Mailing_lists

In short, if you select a *few* atom objects and you want to save only those to a file, you should look into the Select class and how it is used together with PDBIO. There's a simple example in the [Tutorial](http://biopython.org/DIST/docs/tutorial/Tutorial.html#htoc154). You have to find a

[2017-03-27 00:25] #1121 closed

[2017-03-27 11:29] MaxGreil commented on #820
Hello Peter,
thanks for the suggestion. I have a look at the unittests for Bio/MarkovModel.py.

[2017-03-28 09:30] davidvilanova opened #1125 "Bioproject id not found through API with Efetch ??"
Hi,
I cannot find the following ids (although they are present at NCBI using the webinterface (database bioproject). The script takes a list of Boiprojects ids and returns the accesion numbers. Later in another script i get each dna sequence for each accession.

In this case i do not have an associated accession so i cannot get the genome sequence.

What is the problem ??

The following bioproject

[2017-03-28 16:43] #1125 closed

[2017-03-28 20:34] mkorycinski opened #1126 "SearchIO fails to parse HMMER 3 results with additional lines"
Hi,

I've encountered today a possible bug while parsing HMMER3 text output. In some rare cases HMMER appends additional lines below line indicating the end of results section ('//'). In such case parser will fail:

Traceback (most recent call last):
File "test_hmmer.py", line 6, in <module>
for qres in SearchIO.parse(ifile, 'hmmer3-text'):
File "/usr/lib/python2.7/dist-packages/Bio/SearchIO/__ini

[2017-03-28 21:01] peterjc commented on #1126
This sounds to me like a clear bug in HMMER3, so please (also) report it to them. If there is any pattern to these rare outputs that would help track down the cause.

As to coping with this in the Biopython SearchIO parser (and indexing code), @bow is the best person to comment. One solution might be to ignore these extra lines with a warning message...

[2017-03-28 21:02] peterjc commented on #1107
Would you like to submit a pull request returning zero in this cases (and explaining this in the docstring)?

Ideally please include a doctest or unittest for this as well.

[2017-03-28 21:15] bow commented on #1126
Hi @mkorycinski,

Thanks for reporting the bug and including a test case! I can reproduce it on Python 3.5 on the latest Biopython master indeed. If you want to try fix the error, go ahead. The place to start would be the `hmmer3_text.py` file inside the `Bio.SearchIO.HmmerIO` module. Feel free to ping me if you have any questions about anything.

[2017-03-28 21:29] peterjc commented on #1125
Note to self: These are not Entrez URLs, but they both work:

https://www.ncbi.nlm.nih.gov/bioproject/?term=246801
https://www.ncbi.nlm.nih.gov/bioproject/?term=211200

I see you closed this, did you solve this David?

[2017-03-28 23:46] jaredsagendorf commented on #455
I have run into the exact same issue as schwarz-ben.

When copying a structure and then applying a transformation to the copied structure, the transformation is not applied to the disordered atoms.

Any chance of getting this fixed relatively quickly? Seems like a pretty major bug which should have a simply fix...

[2017-03-29 07:29] Cashalow commented on #1107
Yes sorry, I have prepared the pull request but did not send it yet. I'll try to add a test as well then.

[2017-03-29 07:56] davidvilanova commented on #1125
Hi Peter,
I realised that there is no assembly available for this bioproject yet at NCBI. I finally downloaded the assembly from the JGI Gold microbe database. which seems to be more up to date.

Thanks,

For instance the bioproject below will work as there is an assembly associated to it.
[https://www.ncbi.nlm.nih.gov/bioproject/?term=40683](https://www.ncbi.nlm.nih.gov/bioproject/?term=40683
)

[2017-03-29 08:53] peterjc commented on #1125
Thanks for the clarification.

[2017-03-29 09:12] mkorycinski commented on #1126
@peterjc
Thank you for the reply. I will indeed report this to HMMER maintainer, given such messages looks kind of like debugging 'left-overs'.

@bow
Thank you! I will look into it then and contact you in case I have any questions.

[2017-03-29 21:22] JoaoRodrigues commented on #455
Hi @jaredsagendorf

Could you post here a simple script that reproduces this issue? I can try to fix this asap.

[2017-03-30 14:30] paxelito opened #1128 "Restriction Analysis: Strange behavior of AbaSI in CommOnly"
Hi,
I obtained strange results from the restriction analysis based on CommOnly restriction batch for several enzymes, for example focusing on a simple search of AbaSI I find the following results
[code]
The enzyme cuts forward at 3 and 4. If the "^" is placed 12 bases after the recognized sequence, how the first cut can be 3?

Really thx

[2017-03-30 22:28] peterjc commented on #1128
Why do you say the enzyme cuts at 3 and 4?

(Also beware that due to a what I consider to be an unfortunate design choice, ``Bio.Restriction`` counts from one rather than zero like Python and most of Biopython)

[2017-03-31 08:27] paxelito commented on #1128
Hi,
in accordance with the documentation
[code]

and

as in
[code]
thus, if I understand correctly,
[code]
means that the `AbaSI` enzyme cuts in the sense strand **12 bases after** the recognized site `C` as also documented in
[code]
thus, looking at my sequence, if search() returns 3 it means that the recognized sequence should be 12 bases before that is **not possible**.

Moreover, looking at th

[2017-03-31 10:04] peterjc commented on #1128
OK, there is definitely something odd here.

Unfortunately this module has no active maintainer and there are other open issues including #509 and your #1113.

Also we'd like to replace it - see eg #268

[2017-04-03 19:29] peterjc commented on #1112
Turned out not to be a PyPy3 bug but a NumPy issue. Logged with NumPy as https://github.com/numpy/numpy/issues/8887 which they have fixed with https://github.com/numpy/numpy/pull/8888

[2017-04-03 20:31] MaxGreil commented on #820
Are there still biopython modules in need of more test coverage? On [https://codecov.io/gh/biopython/biopython/tree/master/Bio] `Cluster/__init__.py` has a coverage of 5.38%. Should I have a look at this next? If yes, what is the name of the correspnding test file?

[2017-04-03 21:23] peterjc commented on #820
@MaxGreil you're asking important questions, but not relevant to this issue which was specifically about existing "self-tests" in the Bio/*.py files using the ``__main__`` trick. In the case of ``Bio.Cluster``, I think the fact that much of that is written in C may be confusing the coverage reports. In any case, have a look at ``test_Cluster.py``.

[2017-04-04 07:59] peterjc commented on #1112
We can get TravisCI to pass by explicitly using the fixed (but unreleased) numpy in our Tox file, but that in turn means adding Cython as a NumPy non-release build dependency:

[code]

I think it would be simpler to skip this test if the float64 is unhashable with a message about updating NumPy for use on PyPy3.

[2017-04-04 08:31] MaxGreil commented on #820
@peterjc thank you for your suggestion. I am going to have a look at `test_Cluster.py`. However, you are right with focusing on the main priority of this issue. I am also going to have a look at the remaining modules in this issue and move their self-tests to the corresponding unittests. Another question: after moving the self-tests, can the `__main__` part in the corresponding module then be dele

[2017-04-04 09:19] peterjc commented on #820
If you can move the self-tests to proper unittests, then the ``__main__`` part can be removed - unless the module has some doctests in which case use this only:

[code]

(This stub is to make it easy to run that module's doctests without having to do ``run_tests.py doctests`` which is slower as it runs all the Biopython doctests)

[2017-04-04 09:56] peterjc commented on #1112
Resolved via c696fb8d25d8abf9591967864ea5f4944c9e276d - PyPy3 users will need to wait for the next NumPy release to use NaiveBayes

[2017-04-04 09:56] #1112 closed

[2017-04-04 12:44] francoiscoste opened #1130 "Format change in prosite.dat"
Hi and thanks for your work on this nice library!

In Biopython 1.68, the new date format of prosite.dat is not supported. Here is the error message:

[code]

The format of DT field changed indeed recently according to ftp://ftp.expasy.org/databases/prosite/NEWS to add a day field (and remove parenthesis!) :

New (current) format:
[code]
Old format:
[code]

Example:
New (current) format:
[code]
Ol

[2017-04-04 13:02] peterjc commented on #1130
Thank you for your well researched report - would you like to try preparing a fix for this (pull request with one new test file) so that it can parse both old and new style ``DT`` lines?

[2017-04-04 13:37] schwarz-ben commented on #455
I think there are actually two problems colliding : copying a structure with alt-loc atoms, and transforming a structure with alt-loc atoms.

The sample code below should do.
 * Run as is it should crash (can't copy disordered atoms)
 * Uncommenting FIX1 (as suggested above in the thread) the script should execute, but the job is imperfectly done (alt-loc atoms aren't moved, neither in the loaded

[2017-04-04 14:37] francoiscoste commented on #1130
Hi again,
I am not familiar with github and biopython, but the fix can be very simple...
I have made a pull request "small fix to deal with new date format in prosite" #1132
I hope it can help...
Best,
François

[2017-04-06 11:03] peterjc commented on #953
``Bio.Trie`` still fails to compile, but the ``numpy.float64`` issue has been fixed in NumPy.

Thinks look good for Biopython's NumPy code under PyPy now - closing :)

[2017-04-06 11:03] #953 closed

[2017-04-06 11:06] peterjc commented on #978
Hopefully fixed with 363bc0c8c080a1546271bf42e2cd8a456766a9b0 which adds a minimal ``requirements.txt`` as follows:

[code]

Note since the above discussion we've confirmed our NumPy dependent code works under the latest PyPy release, see #953

There is scope to add a ``requirements-dev.txt`` file which includes all the optional/soft dependencies (eg ``reportlab``) and other things we currently us

[2017-04-06 11:06] #978 closed

[2017-04-06 11:33] mojones opened #1134 "SeqIO not parsing gzipped genbank file"
Using BioPython 1.68, freshly installed using pip.

Using this file from the NCBI FTP site:

    ftp://ftp.ncbi.nih.gov/genbank/gbinv1.seq.gz

and the example from the tutorial, I get no records found and hence zero bases:

[code]

The same file works as expected if uncompressed. Is this maybe something to do with the fact that the gzipped handle returns  `bytes` objects rather than strings?

[2017-04-06 13:09] Cediddi commented on #978
Oh, thank you. I believe with this last commit I can create a virtual environment and just run this command and it'll work.

    pip install biopython

[2017-04-06 13:11] peterjc commented on #1134
Sorry, we've already updated the documentation read for the next release - the gzip defaults changed in Python 3 and you need to do:

[code]

[2017-04-06 13:13] peterjc commented on #978
This change hasn't yet been uploaded to PyPI (but it would be as part of Biopython 1.69), so for now you must probably still use:

[code]

[2017-04-06 13:15] Cediddi commented on #978
Thank you so so much. This'll really solve a big problem for me.

[2017-04-06 16:07] mojones commented on #1134
Yep, that works perfectly. Many thanks.

[2017-04-06 16:07] #1134 closed

[2017-04-06 17:46] frcamacho opened #1135 "Duplicated ID in HMM 3.0 results"
Hi there,
I ran hmmsearch and within the results I have duplicated IDs in the results. The duplicated IDs is caused because the model detected different sections of a sequence (query). Because of this issue when I run the following:
[code]
I receive the following error:

I have multiple files so editing files one by one will be too time consuming. Is there a way that I could edit the handle to cha

[2017-04-06 18:10] docmanny opened #1136 "SearchIO.BlatIO assertion statements block parsing of blatx (protein query vs dnax database) PSL files"
Hello all,

While working on a program to automate BLAT searches, I stumbled across this error. In short, the mismatch between the query ranges and target ranges that are inherit in blatx searches are triggering the following AssertionError:

[code]
This bug was replicated by myself using various versions of BLAT (v0.33, a few revisions of v0.34, and the recent v0.35), using various genomes from U

[2017-04-06 18:23] bow commented on #1136
Hi @docmanny,

Thanks for reporting the bug and including a test case. I can confirm I could reproduce the bug with the latest master. There is indeed an expected difference of coordinates when doing blatx searches, but this was anticipated with some test cases (and this assert check was put in place to ensure my assumptions about the files were all correct ~ apparently this is not the case). I wi

[2017-04-06 18:32] bow commented on #1135
Hello @frcamacho,

Hmm..having multiple hits of different parts of a sequence is an expected case of the parser. However, when that occurs, HMMER would output it as a single database record hit with multiple alignments. May I ask if you are sure that the database you are searching against do not have duplicate IDs? If you don't mind, I could also take a look at the file (feel free to send it to me

[2017-04-06 19:09] Gasta88 commented on #820
@peterjc , can I pick `Bio/PDB/StructureAlignment.py`?

I'm not sure if I'm reading the Codecov report correctly ( https://codecov.io/gh/biopython/biopython/tree/master/Bio/PDB ), but it seems a safe bet.

[2017-04-06 19:22] frcamacho commented on #1135
Hi @bow,
I figured out the issue was due to the translation tool (transeq) cutting off the headers causing the duplication error.
Thanks for your input!

[2017-04-06 19:38] bow commented on #1135
Good to hear + thanks for the update :). I'm closing this now then.

[2017-04-06 19:38] #1135 closed

[2017-04-06 21:21] peterjc commented on #820
@Gasta88 good choice. Based on the coverage report, the class itself is not being tested at all - but there is a nice template you could use from the ``__main__`` block. Hopefully some of the existing PDB files under ``Tests/PDB/`` will work - otherwise you'll need to come up with a real example. Try to pick something small (small files as test cases).

[2017-04-07 04:09] nurykim opened #1137 "ptyp, text and other filters"
Hi, this is Nury, learning to use Biopython

I am trying to obtain titles and abstracts from 'journal articles' (in all documents) and analyze their language

-----------------------------------------
My code goes as follows:

from Bio import Entrez

def search(query):
	Entrez.email = 'my@real.email' # I use my email here
	handle = Entrez.esearch(db = 'pubmed', term = query, ptyp = 'Journal Articl

[2017-04-07 08:27] peterjc commented on #1137
Use the exact same the search term for ``Entrez.esearch`` as a long string,

[code]

Note because the search term has double quote characters in it, I have used single quote characters to define the Python string start and end. You can alternatively escape the quotes but I find that harder to read.

See also https://news.open-bio.org/2009/06/21/ncbi-einfo-biopython/

[2017-04-07 09:12] nurykim commented on #1137
Thanks a lot! I'll try as you've said!

[2017-04-07 09:12] #1137 closed

[2017-04-07 09:31] peterjc opened #1138 "gzip.open(filename, "rt") fails on Python 2.7 on Windows"
This is a Python bug, logged as http://bugs.python.org/issue30012

Right now it shows up as a failure on our test suite,

[code]

Example from http://testing.open-bio.org/biopython/builders/Windows%20XP%20-%20Python%202.7/builds/796

[2017-04-07 15:02] #1107 closed

[2017-04-07 15:14] peterjc opened #1139 "Removing Bio.PopGen.Async, FDist and SimCoal"
RE: https://github.com/biopython/biopython/commit/442475af0d3bd637a214444d8dbd3f5abf83c3e7

With Biopython 1.69 out, would you like to do the actual removal of deprecated modules and their tests @tiagoantao?

- ``Bio.PopGen.Async``
- ``Bio.PopGen.FDist``
- ``Bio.PopGen.SimCoal``

[2017-04-08 18:36] JoaoRodrigues opened #1140 "ResidueDepth fails on Windows"
Related to a question posted on the users mailing list, quoted below:

Running the code on Windows 10 with the latest available MSMS executable fails because of the code calls a BASH script. This script - `pdb_to_xyzr` - seems to be mapping atom names to radii, so we might be able to add those as a table to the ResidueDepth module and have full Windows compatibility.

[2017-04-08 18:51] peterjc commented on #1140
I wonder if the Linux subsystem for Windows 10 would fix this for us?

[2017-04-08 18:56] JoaoRodrigues commented on #1140
The msms executable wouldn't run there then, nor we would have access to
the Windows' Biopython installation. I'm looking at the files, seems to be
a simple fix if I write a parsing function that replaces the BASH script.

[2017-04-08 22:00] mkorycinski commented on #1126
Hi,

I am sorry for not giving any updates on the issue for a while. I was simply swamped with other things (day job) and couldn't tackle this. Now I think I have a working solution.

I've contacted HMMER maintainer and his response was:
"The end of the output from each query is "^//". The end of the output from the entire search is "^[ok]". The [ok] tag at the end of the output allows a parser to

[2017-04-08 22:14] bow commented on #1126
Hey @mkorycinski,

No worries & thanks for the update + the work! This looks ok already, but I'm curious if you have implemented these changes in a public branch somewhere? That would make it easier to pull your proposed changes :).

Also, have you tested your changes against the existing HmmerIO test cases? Formats like this (semi-readable without any hard specs) often feels quite fickle to me an

[2017-04-08 22:31] mkorycinski commented on #1126
Hi @bow,

Thank you for reply! I am glad it looks ok. ;-) I can push these changes to the local fork in my repository. Would that be sufficient?

That's actually a good point, I didn't run HmmerIO test cases. I will do that and see if I can include my test cases in there for future. I'll do that probably during the day.

[2017-04-08 22:43] JoaoRodrigues commented on #1104
Hi all,

Finally sat down and tried to compile something on my Windows machine. I can compile Biopython (latest git version) on Python 3.6 (Miniconda) and Windows 10 (64 bits) with MSVS 2017. It passes all tests (including KDTree).

I had to go through some hoops to get this working, namely installing VS C++ support and SDK support, manually setting `vcvarsall.bat amd64` from my cmd line, and sett

[2017-04-08 22:50] bow commented on #1126
That would be perfect ~ you can make your own branch and later on when we're sure all the changes pass the test we can either rebase the changes on the main branch (with/without squashing).

[2017-04-09 09:43] mkorycinski commented on #1126
All tests run smoothly.

[code]

I've added two simple tests checking whether proper amount of queries, proper queries id and proper number of hits for queries are read. Example:

[code]

All changes are pushed with 2 commits to my fork of biopython [mkorycinski/biopython](https://github.com/mkorycinski/biopython):
bb1a46c25b03ab9dba29560aae8fab1106ed0bcf - deals with changes in hmmer3_text module

[2017-04-09 12:51] bow commented on #1126
Great, this looks ok for a merge. Would you like to open a pull request with your changes rebased against the latest master? This should keep the commit history linear & makes it easier to merge (it may be helpful to take a look at [the short guide we've written](http://biopython.org/wiki/GitUsage#submitting-changes-for-inclusion-in-biopython)).

[2017-04-09 14:18] mkorycinski commented on #1126
Sure. I'll fix my local repository according to the guide (thanks for the link!) and create pull request with changes.

[2017-04-09 16:53] mkorycinski commented on #1126
I hope it looks ok that way. Turned out I made a mistake to make changes to the main branch of my fork. In order to fix that I would need to delete fork and fork biopython again.

Would pull request from a main branch in my fork be sufficient for now? For future contributions (hopefully there will be) I will set separate brunch and set biopython/biopython as an upstream.

[2017-04-09 17:31] #1126 closed

[2017-04-09 17:31] bow commented on #1126
@mkorycinski , you can always branch off to a new branch (i.e. `git checkout -b <new_branch_name>`) and keep the changes intact on it and then hard-resetting your own copy of the master branch.

But for now, no worries. I can cherry-pick your changes onto master :). It should come up soon.

[2017-04-10 07:50] mkorycinski commented on #1126
@bow I forgot about hard-reset... I'll do it for the future. Thanks for help with everything! ;-)

[2017-04-10 09:08] peterjc commented on #1138
The Python decided this was a feature request, and that the difference in behaviour on Windows Python 2.7 is not actually a bug. This will not be fixed in Python 2.7 given its maintenance status.

The simplest 'fix' is to stop using this tutorial example as a doctest since it will fail on our BuildBot etc.

We could further enhance ``test_Tutorial.py`` to offer Python version conditional checks, w

[2017-04-10 14:51] jlalmeidaf opened #1145 "Error 404 in Bio.ExPASy"
Good morning,

I get error 404 when i use Bio.ExPASy.get_prosite_raw(), Bio.ExPASy.get_prosite_entry() and Bio.ExPASY.get_prodoc_entry().
Thanks

[2017-04-10 14:54] peterjc commented on #1145
Which version of Biopython do you have? You can check with:

[code]

[2017-04-10 14:58] peterjc commented on #1145
It looks like only ``Bio.ExPASy.get_sprot_raw(...)`` has unit test coverage, which explains why we didn't notice till your report:

https://codecov.io/gh/biopython/biopython/src/master/Bio/ExPASy/__init__.py

Could you give a specific example in each case which ought to work? i.e. Sensible ID for a small record which we could use for a new test.

[2017-04-10 15:39] peterjc commented on #978
Now that Biopython 1.69 is out with a simple ``requirements.txt`` file, did it help?

[2017-04-10 15:44] peterjc commented on #705
Belatedly closing this issue - we added ``pip install biopython`` to the README last year in https://github.com/biopython/biopython/commit/8a16a61109f40ed353cac3970a9965e3e7505916 (with the traditional ``python setup.py build``, ``test``, and ``install`` also covered).

[2017-04-10 15:44] #705 closed

[2017-04-10 15:56] abdounasser202 commented on #978
cool!

[2017-04-11 13:14] agrippaAT opened #1146 "GFF parser fails to parse comment"
The GFF (BCBio.GFF.Parser) parser fails to parse the following file:
[code]

The problem seems to be line 3, where the library assumes that "vector" is an integer:

[code]

I'm not sure the file is valid, but wouldn't it be best to ignore malformed comment lines in case the library can't use them?

[2017-04-11 13:43] peterjc commented on #1146
I would say you'd best file this at @chapmanb's repository https://github.com/chapmanb/bcbb/issues

However, in this case the file is clearly invalid, there should not be a plain space in the sequence identifier on the ``##sequence-region`` line. See https://github.com/The-Sequence-Ontology/Specifications/blob/master/gff3.md which defines the  ``##sequence-region seqid start end`` line.

Also the

[2017-04-11 13:43] #1146 closed

[2017-04-11 15:51] peterjc commented on #1008
See also #168

[2017-04-11 16:22] peterjc commented on #892
Should be fixed via #1015 from @noamkremen

[2017-04-11 19:49] jlalmeidaf commented on #1145
My version is 1.67

I really do not know what the output of these methods would be like, I'm just reading the documentation for this site http://biopython.org/DIST/docs/tutorial/Tutorial.html#htoc144. In session 10.5.3 you have the use of these methods. I believe the method "handle = ExPASy.get_prosite_raw ('PDOC00001')" returns a  Bio.Prosite.Record object

[2017-04-11 21:22] peterjc commented on #1145
Ah - that helps, I've never used these functions myself but should have checked there. e.g.

[code]

I'm pretty sure the ExPASy site will explain the new URL structure somewhere - or anyone familiar with the site can probably figure it out...

Cross referencing #1072 which explores including the online doctests into ``test_Tutorial.py``.

[2017-04-12 10:19] Gasta88 commented on #820
I'll start working on `Bio/PDB/Dice.py`, from the CodeCov report it loos like a good candidate.

Any information that I should know before hand?

[2017-04-12 10:25] peterjc commented on #820
@Gasta88 Hmm. That file is currently very under documented:

https://github.com/biopython/biopython/blob/master/Bio/PDB/Dice.py

 I would guess from the name it means dice as in chop/cut finely, since it seems to be some helper functions for selecting only part of a PDB file. @etal @lennax @JoaoRodrigues - any comments? Is it simpler just to deprecate ``Bio/PDB/Dice.py``?

[2017-04-12 10:26] Gasta88 commented on #820
Ok, while we are waiting for comments on this file, do you have any other one that can be take care of?

[2017-04-12 10:27] JoaoRodrigues commented on #820
This functionality is offered by the Select module anyway, so I would be OK
with deprecating it.

[2017-04-12 13:54] kianho commented on #898
I hereby give my explicit permission to switch to the BSD 3-clause license.

@peterjc, apologies for the late reply

[2017-04-12 14:02] peterjc commented on #898
Thank you @kianho - I was hoping the Biopython 1.69 release would draw attention to this :)

[2017-04-12 15:32] benfulton opened #1149 "MafIO should index files in bytes mode"
Does not seem to occur using Python 3.6.

Test failure as follows:

======================================================================
ERROR: test_correct_retrieval_1 (test_MafIO_index.TestSpliceGoodMAF)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "C:\GIT\biopython\Tests\test_MafIO_index.py", line 398, in test_correct_retriev

[2017-04-12 16:09] peterjc commented on #1149
This is with Biopython 1.69, I assume?

@polyatail @adamnovak @blaiseli Do any of you have access to a Windows machine to try reproducing this?

It puzzles me that this works on Python 3.6 but fails on Python 3.5, otherwise I would immediately suspect something like text mode versus binary mode...

[2017-04-12 16:11] peterjc commented on #1149
Actually the file mode might be the problem, does changing this line fix it?

https://github.com/biopython/biopython/blob/biopython-169/Bio/AlignIO/MafIO.py#L250

[code]
proposed:

[code]

[2017-04-12 16:12] peterjc commented on #1149
Separately it might be worth trying using ``from Bio.File import _open_for_random_access`` instead which would do this and hopefully make it work on BGZF compressed MAF files?

[2017-04-12 17:07] Gasta88 commented on #898
I hereby give my explicit permission to switch to the BSD 3-clause license.

[2017-04-12 17:27] benfulton commented on #1149
Changing the "r" to "rb" fixes the issue, and causes half the remaining MafIO_Index tests to fail :)

I believe PEP 529 -- Change Windows filesystem encoding to UTF-8 -- probably fixed the issue for 3.6.

[2017-04-12 18:14] benfulton commented on #1104
To precisely reproduce the environment you'd have to compile with mingw64 rather than VS.

[2017-04-12 18:19] JoaoRodrigues commented on #1104
Right, I see. If you can point me to a download page, etc, I can try to
reproduce this.

[2017-04-12 18:28] benfulton commented on #1104
The page is here: [http://tdm-gcc.tdragon.net/download](http://tdm-gcc.tdragon.net/download). I've not tried it myself, though, so I don't know how difficult it is.

[2017-04-12 18:28] souravsingh commented on #1000
@peterjc Do we have to add the property decorator for ``database_letters`` [here](https://github.com/biopython/biopython/blob/master/Bio/Blast/Record.py)?

[2017-04-12 21:47] peterjc commented on #1149
OK - this is an oversight from the MAF indexing not previously having proper testing on Windows.

I think I know what to look for having been though similar issues with the SeqIO indexing, although I'm not sure if I'll be able to dig into it immediately. The key design point was deliberately opening the files in binary mode, so that the indexes are always raw bytes - and not offsets corrected with

[2017-04-12 21:49] peterjc commented on #1000
Probably yes, I would think to class ``DatabaseReport``?

[2017-04-13 15:39] MaxGreil commented on #820
I have a question:
I wanted to move to self test from `Bio/AlignIO/FastaIO.py` to the corresponding unittest file.
However, the only file I found was `Tests/test_AlignIO_FastaIO`. Is this the correct correspnding test file?
If yes, should I also convert the printtest in this file to a unittest?

[2017-04-13 15:44] souravsingh commented on #820
@MaxGreil There is a PR for FastaIO at #1046

[2017-04-13 17:10] peterjc commented on #1109
The NCBI replied the XSD has now been updated...

[2017-04-13 17:21] peterjc commented on #1109
Good news, https://www.ncbi.nlm.nih.gov/data_specs/schema/other/seq_report/IPGReportSet.xsd does now include:

[code]

[2017-04-13 17:28] peterjc commented on #1109
Bad news, uncommenting the test gave this:

[code]

I don't have time to look into this any further today.

[2017-04-13 19:56] Gasta88 commented on #820
I'm trying to test `Bio/PDB/ResidueDepth.py`, but an auxiliary application is require (http://mgltools.scripps.edu/packages/MSMS).

I download the application but the batch file doesn't start and the script is not able to see MSMS on my system. Any idea of what am I doing wrong?

[2017-04-13 22:21] peterjc commented on #820
@Gasta88 I don't recall using MSMS. I suggest you open a new issue for that, hopefully you can improve the documentation for using this in Biopython too :)

[2017-04-14 10:38] universvm opened #1151 "Alphabet error "alignment should be a *PROTEIN* alignment" with MultipleSeqAlignment of Proteins"
Basically my aim is to use `.get_dn_ds_matrix` on a group sequences. I parsed with SeqIO `(stored in "sequence" list)` and translated my sequences  `(stored in "protein" list)`. While I was following [this tutorial](https://github.com/biopython/biopython/blob/master/Doc/doc.rst) I managed to get my dnds matrix on an ungapped sequence.

However when the sequence is gapped, although I specify `alpha

[2017-04-14 10:54] Gasta88 opened #1152 "Testing Bio/PDB/REsidueDepth.py, missing MSMS software"
Hi,

in the process of testing `Bio/PDB/ResidueDepth.py` I'm finding some problems.

I'm  using one of the PDB in the `Tests/PDB` folder.
As mentioned in the `Bio/PDB/ResidueDepth.py`, a tool called MSMS is required (source: http://mgltools.scripps.edu/packages/MSMS).

I download and install the application for Windows. This is the result:

[code]

Machine specs:

[2017-04-14 10:55] peterjc commented on #1151
Next time please include your version of Biopython, Python, OS, and the full error message.

This is an oversight (small bug) in ``codonalign``, it does not consider fancy protein alphabets with gaps or stop codons (an old and overly complicated design in biopython):

https://github.com/biopython/biopython/blob/biopython-169/Bio/codonalign/__init__.py#L82

[2017-04-14 11:03] peterjc commented on #1152
How are you running ``ResidueDepth``?

Can you run ``pdb_to_xyzr`` directly yourself at the Windows command line?

Can you run ``msms`` directly yourself at the Windows command line?

[2017-04-14 11:07] peterjc commented on #1151
I think I have a fix for this, but it would be useful to have a small test case...

[2017-04-14 11:11] universvm commented on #1151
Sorry for the format issues. I just fixed my post.

I can send you 3 sequences I was working on. I added a "---" after the first ATG. I had to make a zip file since they do not accept fasta as a format.
[sequence.fasta.zip](https://github.com/biopython/biopython/files/921963/sequence.fasta.zip)

[2017-04-14 11:17] peterjc commented on #1151
Could you share your script too? If we use this to write a test case, are you happy to dual licence your contributions under both the _Biopython License Agreement_ AND the _BSD 3-Clause License_? See #898.

Also, are you happy to be thanked by name in the ``NEWS.rst`` and ``CONTRIB.rst`` files?

[2017-04-14 11:27] universvm commented on #1151
My file is extremely long at the moment, as I did all sorts of stuff. However if you are ok with it I could simplify it and send it to you. At the moment it includes:

- dN/dS calculation for a matrix,
- N and S calculation for each sequence,
- Production of a dn_tree and a ds_tree,

I also worked on a matrix parser which takes elements in the matrix generated by Biopython and produces something l

[2017-04-14 11:35] peterjc commented on #1151
Hmm. Hopefully the module's author can come up with a short test case then, I've asked on #1153.

[2017-04-14 11:45] universvm commented on #1151
I updated a simplified file for a test case, if you want you could use it as a test case.

[2017-04-14 12:53] Gasta88 commented on #1152
I'm taking the self-test of `ResidueDepth` and modify it as such:
[code]

From comand line I'm not able to run neither `msms` nor `pdb_to_xyzr`.

[2017-04-14 13:15] peterjc commented on #1152
OK, first you have to be able to run these tools from the command line.

Does it work with a full path like ``C:\Program Files\where you installed the file\msms.exe`` at the command line? If so, the simple fix is likely adding that folder to the ``$PATH``.

Also, given the warning ``UNC paths are not supported.`` try replacing:

[code]

The tests will be run from the ``.../biopython/Tests`` folder

[2017-04-14 14:29] #1151 closed

[2017-04-14 14:30] peterjc commented on #1151
This should be fixed now.

@universvm are you comfortable getting Biopython from GitHub and installing it from source on your Mac? You can do this via pip if you installed Biopython that way...

Otherwise the simplest option may be to backup ``/usr/local/lib/python2.7/site-packages/Bio/codonalign/__init__.py`` and then edit it by hand to apply these three small changes:

https://github.com/biopyth

[2017-04-14 14:43] universvm commented on #1151
I updated biopython by hand since pip didn't seem to work. Everything is fixed! Thank you so much!

[2017-04-14 14:49] peterjc commented on #1151
You would have needed something like this to grab the latest code from GitHub via pip (rather than ``pip install --upgrade biopython`` which would just get the latest release on PyPI which does not have this fix yet),

[code]

or,

[code]

(untested, based on a quick Google search)

Anyway, thanks for quickly trying this out and confirming the fix works for your example. 👍

[2017-04-14 20:01] robear22890 opened #1155 "Customizing the BioSQL database schema."
I'd like to make some customizations to the BioSQL schema so that I can more efficiently access the data that I require.  I'm interested in a handful of genes.  I understand SQL, but I'm also very new to it so I have a lot to learn.  I'd like to add the following data to the schema in the **_biosqldb-sqlite.sql_** file:
[example_BioSQL_table.csv](https://github.com/robear22890/Vallender-Labs-Scrip

[2017-04-14 21:32] jimmyodonnell opened #1156 "Faulty assertion in Tutorial::Entrez"
#There is an assertion in the entrez chapter of the tutorial that requires that the total count of records  returned (`search_result["Count"]`) is equal to the length of the list of accession numbers (`search_result["IdList"]`). However, `search_result["IdList"]` is constrained by the `retmax` argument to `Entrez.esearch`, while `search_result["Count"]` is the total number of records found. Thus,

[2017-04-15 20:18] underOATH777 commented on #1140
Hi, when is this going to be fixed?

[2017-04-15 20:57] peterjc commented on #1156
As per our discussion on #1068, it isn't a faulty assert - its emphasising that while you might expect the count to match the number of IDs it might not.

I agree that right now this is not very explicit/clear, but rather than just removing it (as in #1157) the tutorial could explain how the return max limit comes into play.

[2017-04-15 21:00] peterjc commented on #1140
@underOATH777 we don't know. Would you like to help? Do you have access to a Windows machine and any experience with the MSMS tool?

[2017-04-15 21:03] peterjc commented on #1155
If this would be a generally useful extension to BioSQL, then see https://github.com/biosql/biosql

If you just want to add tables for local use, then you are free to modify your local copy of the schema - are you looking for advice on doing this from Python?

[2017-04-15 21:06] underOATH777 commented on #1140
I definitely would, if I could. My work depends on this. I'm even thinking of installing Ubuntu just to get it done. However not being very familiar with Linux systems is holding me back a little. Do you think I'm better off waiting for a fix, or should I just take the red pill and embark on a Linux adventure?

[2017-04-15 22:49] jimmyodonnell commented on #1156
Got it; I agree that an explanation would be great and I'm happy to add it. I started to do so, but felt it interrupted the flow of this section. I understand the intent of this section to be introducing the additional WebEnv and QueryKey elements of the search results. I think pointing out the potential for differences between the length of `IdList` and `Count` would be best introduced much earli

[2017-04-16 00:03] JoaoRodrigues commented on #1140
On this today, expect a PR in a couple of hours. I changed machines
recently and had to go through the trouble of getting my compiler chain/git
working correctly before doing any work!

On the other hand, getting a Virtual Machine with Linux wouldn't hurt,
since a lot of programs just bail when it comes to supporting Windows.. Or,
try the new WSL (Bash on Windows). I've had mixed success with comp

[2017-04-16 04:42] underOATH777 commented on #1140
Thanks a lot for your input and efforts. I'm waiting eagerly for the "patch release", if that's what PR means. Cheers. :D

[2017-04-16 05:35] JoaoRodrigues commented on #1140
@underOATH777 I successfully ran MSMS here on my Win 64 machine and it seems to give proper values for radii (compared to the original BASH script). When the pull gets accepted and merged, can you download the latest version of Biopython (from Git) and test if it works on your end as well?

[2017-04-16 05:37] underOATH777 commented on #1140
Of course, I'd be happy to. :)

[2017-04-16 08:10] underOATH777 commented on #1140
Joao passed me the code, and I conform it works for me as well. He did a fantastic job. Thanks a lot. Great work. Keep it up guys.

[2017-04-16 19:39] robear22890 commented on #1155
Well I'd like to test out some ideas once I get some SQL under my belt.  However, I am interested in changing the .sql script for my needs in the long term.  In the short term I could definitely use some advice on using Python/BioPython to upload my own tables and data.  For instance is there anything that I should avoid?  And is there an easier way to do this/Is someone else already doing somethi

[2017-04-16 20:42] psathyrella opened #1159 "bppseqgen expected to ignore branch length from root to mrca?"
It appears that bppseqgen doesn't mutate according to the distance between root and mrca. For instance using a tree like:

`(t1:0.001,t2:0.001):0.1;`

results in two essentially unmutated sequences. Adding a dummy leaf `xxx` branched from root to this tree, on the other hand, results in the expected mutation rates:

`((t1:0.001,t2:0.001):0.1,xxx:0.101):0.0;`

This seems like unexpected behavior to

[2017-04-17 07:22] universvm opened #1160 "codonalign.build not recognizing ambiguous DNA"
I am parsing my sequences with SeqIO and I have ambiguous DNA specified in my alphabet. I successfully translate the sequence and store in a list called "protein". When I build the alignment however:
`aln = MultipleSeqAlignment(protein)`
`codon_aln = codonalign.build(aln, sequence)`

it gives me the error:

would it be possible to just ignore the Ambiguous letters in the alignment?

OS: MacOS
Biop

[2017-04-17 08:31] #1081 closed

[2017-04-17 08:43] peterjc commented on #1160
This is coming from the ``CodonSeq`` class ``__init__`` in ``Bio/codonalign/codonseq.py``.

It is not clear from your report what you are asking the code to do, but I suspect you have calling it with unexpected arguments. Can you provide more of your code, and the full error message (traceback)?

Here is ``CCR`` an ambiguous codon (``CCA`` or ``CCG`` since ``R`` is ``A`` or ``G``)?

In particular

[2017-04-17 08:53] peterjc commented on #1159
What is bppseqgen?

[2017-04-17 08:54] peterjc commented on #1156
If you think this fits better later on, you're probably right 👍

[2017-04-17 09:00] peterjc commented on #1155
The database back ends that Biopython's BioSQL code uses are fairly low level, and we've essentially implemented our our ``SeqRecord`` focused Object-relational mapping (ORM), with enough abstraction to handle different SQL back ends and adaptors (not just SQLite3).

Nowadays there are things like SQLAlchemy for this general problem, although using something like this with a pre-defined schema (li

[2017-04-17 09:19] peterjc commented on #848
Belatedly closing this issue - thank you Markus for the updates.

[2017-04-17 09:19] #848 closed

[2017-04-17 10:15] universvm commented on #1160
Hi, see the attached zip file.

The code is exactly the same as last time, however I specified the alphabet in seq.IO with:

`alphabet=Gapped(IUPAC.ambiguous_dna)`

My sequence contains CCR which is successfully translated into Proline. However the alignment fails. Here is the error:

`Traceback (most recent call last):
  File "X/mainmatrix.py", line 34, in <module>
    codon_aln = codonalign.buil

[2017-04-17 10:41] Gasta88 commented on #1152
I've managed to make some progress with the Windows installation and reach the point of calling the method `get_surface`. After that, it failed.

I'll wait for @JoaoRodrigues to update the module and try again to see if I can progress further.

[2017-04-17 11:12] wpwupingwp opened #1161 "Entrez.efetch could not get Genbank flat text recently"
[code]

This is my code. It works fine before to get Genbank flat text from given Accession id list.
Today I found that efetch return strange result which Bio.SeqIO could not parse as genbank format:

If I change **retmode** to "xml", Entrez.parse could handle it but I do not know how to generate files from it which Bio.SeqIO could handle with.
Does Entrez change its result format or my code is wr

[2017-04-17 12:27] peterjc commented on #1161
That looks like JSON format.

It looks like you have a mistake in the argument name where you doing this:

``Entrez.efetch(..., retfragment_type='gb', retmode='text')``

try:

``Entrez.efetch(..., rettype='gb', retmode='text')``

[2017-04-17 12:43] peterjc opened #1162 "Clashing definitions of get_codon_alphabet"
While looking at #1160, I noticed if the user wanted to define their own codon alphabet (e.g. for ambiguous RNA or DNA), there is a problem with ``get_codon_alphabet`` being redefined:

https://github.com/biopython/biopython/blob/biopython-169/Bio/codonalign/codonalphabet.py#L24

[code]

vs:

https://github.com/biopython/biopython/blob/biopython-169/Bio/codonalign/codonalphabet.py#L54

[code]

@zr

[2017-04-17 12:44] peterjc commented on #1160
OK, the problem is the default alphabet here is only unambiguous codons:

[code]

I'm not sure how @zruan would expect the user to deal with this - see also #1162.

[2017-04-17 13:21] jimmyodonnell commented on #1156
Bueno -- I made these changes.

[2017-04-17 15:15] idoerg commented on #1103
Some comments on translation:
1. Need to work with different codon tables. (E.g. UGA--> Trp in Mictochondria and some bacteria, if we don't already).
2. Should we  provide translational recoding for UGA for Selenocysteine., UAG for Pyrrolysine https://en.wikipedia.org/wiki/Selenocysteine
https://en.wikipedia.org/wiki/Pyrrolysine

or is that too idiosyncratic?

[2017-04-17 15:22] peterjc commented on #1103
Hi Iddo, the table option should be covered by the ``table`` argument as already implemented in the ``Seq`` object (usually an integer code or string for a table name, it can be a ``CodonTable`` object). The proposal here just extends that to the (annotated) ``SeqRecord`` object.

What did you have in mind for translational recoding? I've seen explicit annotation of this in GenBank records as part

[2017-04-17 15:31] idoerg commented on #1103
Probably option 2, maybe 1 as well:
1. Enable a reading from the genbank file (with a boolean _flag `trans_recode=False` for default)
2. Allow explicit translational recoding as an optional argument, e.g.
`.translate(...., recode=rc_list)`

Where `rc_list` has the following format:
`[(pos_1, AA1),...(pos_n,AAn)]`
The `pos_i` is the start position of the codon, `AAi` is the amino-acid.

[2017-04-17 15:39] peterjc opened #1164 "translational recoding for UGA for Selenocysteine, UAG for Pyrrolysine, etc"
Raised by @idoerg on #1103, how can the existing Biopython translation function/method support translational recoding? e.g. UGA for Selenocysteine https://en.wikipedia.org/wiki/Selenocysteine
and UAG for Pyrrolysine https://en.wikipedia.org/wiki/Pyrrolysine

[2017-04-17 15:39] peterjc commented on #1164
In GenBank files this can be annotated with the ``/transl_except=...`` qualifier,

Quoting ftp://ftp.ncbi.nih.gov/genbank/gbrel.txt

[code]

Quoting https://www.ddbj.nig.ac.jp/FT/full_index.html

[code]

[2017-04-17 15:46] peterjc commented on #1103
@idoerg could you expand on translational recoding over on new issue #1164 please? A specific example would be great.

This pull request is specially for extending the ``Seq`` object's ``.translate()`` to the ``SeqRecord`` object, and @idoerg's suggestion does raise an issue about this:

What happens when the ``Seq`` object's ``.translate()`` gains new options vs the argument order in the ``SeqRec

[2017-04-17 17:33] robear22890 commented on #1155
Ok thanks.  I'll start learning SQLAlchemy and SQLite3 as well, and then I'll start making some changes.  Maybe I can do something worth pushing to biosql.
Thanks for helping.

[2017-04-17 17:36] peterjc commented on #1155
OK. I'm going to close this issue for now. Good luck.

[2017-04-17 17:36] #1155 closed

[2017-04-17 19:32] aaronk opened #1165 "Handling UnknownPosition"
I'm working on a BioSQL database for SwissProt entries and it's balking at some of the UnknownPosition values that are being set by the SeqIO parser (I'm using BioPython 1.69).  I'm sure wading into the fuzzy location morass is not a fun prospect, but I'm wondering if this has been given some thought.  I'm happy to try to implement any reasonable suggestion.

For reference, the specific error that

[2017-04-17 21:43] lennax commented on #820
@peterjc I agree that `PDB/Dice.py` looks like a helper script that is fairly straightforward to replicate ad hoc.

@Gasta88 The `PDB/ResidueDepth.py` self-test runs fine on Linux ("msms" and "pdb_to_xyzr" need to be in your executable search path, and the file "atmtypenumbers" needs to be in the current directory because "pdb_to_xyzr" opens it as "./atmtypenumbers"!).

[2017-04-18 00:06] zruan commented on #1160
The `default_codon_table` do not contain the information for translating ambiguous codons. You can manually add such piece of information to the  `default_codon_table` by specifying the following code.
[code]

[2017-04-18 01:03] zruan commented on #1162
By looking at the code, I think the first `def get_codon_alphabet(alphabet, gap="-", stop="*"):` is not used anywhere else in the code. Right after the function, a `default_alphabet` is defined but not being used as well.

This might be the conflict piece of code when I do the git rebase and both copy gets retained. Simply removing the first `def get_codon_alphabet` and `get_codon_alphabet` should

[2017-04-18 03:06] wpwupingwp commented on #1161
!!!
Sorry for bothering. Fix it.

Ping Wu

[2017-04-18 03:06] #1161 closed

[2017-04-18 06:01] universvm commented on #1160
Wouldn't it be easier to just add the alphabet from the ambiguos dna to codonalphabet.py at line 41?

I could try specifying there that the alphabet is ambiguos. However, shouldn't it load the ambiguos by default since the ambiguos alphabet also contains the unambiguos alphabet?

[2017-04-18 09:32] #1156 closed

[2017-04-18 09:36] peterjc commented on #1162
OK - can you make that change as a pull request please (you can probably do it via the GitHub web-interface). This would be easier for me to review and credits you properly. Thanks!

[2017-04-18 09:37] peterjc commented on #1161
No problem - it can be hard sometimes to spot a typo like this if you're not familiar with the API.

[2017-04-18 09:48] peterjc commented on #820
Thanks @lennax - let's deprecate ``PDB/PDB/Dice.py``, but perhaps the code from it could be turned into another test and/or an example script under ``Scripts/``.

Regarding ``Bio/PDB/ResidueDepth.py``, on pull request #1158 @JoaoRodrigues has replaced the ``pdb_to_xyzr`` script with Python code so that it should in principle be able to use ``msms`` under Windows. CC @Gasta88

Back to the other sel

[2017-04-18 10:36] peterjc commented on #1165
At first glance this looks like something missing from our BioSQL mappings - the ``UnknownPosition`` does not exist in EMBL/GenBank which is what BioSQL was designed for.

The tricky bit would likely be how best to represent this in BioSQL: https://github.com/biosql/biosql/issues/11

e.g. Does the relevant table allow us to use ``NULL`` for the start/end?

[2017-04-18 12:33] peterjc opened #1167 "Turn Bio/PDB/Dice.py into an example script and/or test case"
Following discussion on #820, we propose to deprecate ``Bio.PDB.Dice`` - see pull request #1166

It would be nice to turn ``Bio/PDB/Dice.py`` into an example under ``Scripts/PDB/`` or a unit test under ``Tests/`` (if needed for test coverage).

[2017-04-18 13:53] MarkusPiotrowski commented on #1128
What happens if you make your sequence longer? At the moment the sequence is too short to find the correct cutting site, it seems like it wraps over and starts from the beginning?
Is this the same problem (cutting site outside the given sequence) for the other enzymes you mentioned?

[2017-04-18 14:02] aaronk commented on #1165
I don't recall where I saw it, but there was some note somewhere that said the value could be null.

ajk

[2017-04-18 14:18] peterjc commented on #1165
You're right - there are comments in the schema about explicitly allowing NULL for the location table start/end.

Do you have enough information to have a go adding this to Biopython's BioSQL interface?

[2017-04-18 14:49] aaronk commented on #1165
Sure.

ajk

[2017-04-18 20:51] aaronk commented on #1165
Dealing with the UnknownPosition was not too hard.  It's the pydocstyle test that seems to be a problem :)

I haven't changed files like Bio/NaiveBayes.py, but I'm getting a bunch of errors when generating the pull request:

    style runtests: commands[5] | pydocstyle Bio/ BioSQL/ Tests/ Scripts/ Doc/
    Bio/NaiveBayes.py:42 in public class `NaiveBayes`:
            D406: Section name should end

[2017-04-18 21:21] peterjc commented on #1165
Thanks for the heads up. I was able to reproduce this - it looks like the new release pydocstyle v2.0.0 is stricter, v1.1.1 was fine.

[2017-04-18 22:15] peterjc opened #1170 "Improve pydocstyle (PEP257) compliance"
Biopython aspires to follow Python's docstring style guidelines in PEP257 https://www.python.org/dev/peps/pep-0257/ (and use reStructuredText for the docstrings).

We run the automatic tool ``pydocstyle`` on the code as part of the automated TravisCI tests (also used on pull requests). Right now this is configured to ignore many style violations. For example, the new release of pydocstyle v2.0.0 a

[2017-04-18 22:16] peterjc commented on #1165
I've 'fixed' the pydocstyle problem cc2ad72f1f237b3ff779b151fdf529abba1f3459, and filed an issue about cleaning up the style issues - #1170

[2017-04-19 06:50] psathyrella commented on #1159
oh my goodness, oops. Wrong repo, sorry.

[2017-04-19 06:50] #1159 closed

[2017-04-19 07:52] peterjc commented on #1159
Ah - easily done. Thanks

[2017-04-19 09:40] MarkusPiotrowski commented on #1113
This seems to be a Pyton 2/3 problem.

Works fine for me under Phyton 2.7.11, Biopython 1.68

[code]
However, the same error on Python 3.5.1, Biopython 1.68:
[code]
The problem seems to be this line (2575) in ```Restriction.py```
[code]
because in Python 2.7 this gives the same type:
[code]
but in Python 3 not:
[code]

[2017-04-19 09:47] peterjc commented on #1113
Good detective work @MarkusPiotrowski - this shows if nothing else our test coverage is lacking here.

It looks like this is just a subclass of ``set`` with no explicit ``__or__`` method:

[code]

Curious.

[2017-04-19 09:55] peterjc commented on #1113
@paxelito's example can be turned into a unit test easily, which is great:

[code]

[2017-04-19 10:10] MarkusPiotrowski commented on #1113
I guess the problem can be overcome by replacing the ```|``` operator with an explicit ```update()``` method:
[code]
which works under Python 2 and 3:
[code]

[2017-04-19 10:37] peterjc commented on #1113
Good plan Markus, could you turn that into a pull request along with the new test case please?

[2017-04-19 10:44] MarkusPiotrowski commented on #1113
Yes, I do. Hopefully I will also find the problem in #1128

[2017-04-19 11:00] paxelito commented on #1128
Thanks @MarkusPiotrowski. Hoping to do something useful I am preparing a short report where all the enzymes contained in Common batch are tested. I have also found problems in those enzymes cutting at the very end of the sequence. If you think that the report may be useful, I hope to finish it in the next few days.

For example  GsaI does not work in the following test case
[code]
but if I add a b

[2017-04-19 11:58] MarkusPiotrowski commented on #1128
@paxelito can you also test ```is_palindromic()``` in your script? My guess would be that the problematic enzymes are all non-palindromic.

[2017-04-19 12:31] paxelito commented on #1128
@MarkusPiotrowski ok, I will test it. I will update you in a few days.

[2017-04-19 15:26] morrme commented on #1170
I would like to help with this, but as I'm new to your codebase, I'd need a little mentoring to get started.

[2017-04-19 15:28] #1165 closed

[2017-04-19 15:35] peterjc commented on #1170
@morrme how about you try D211 then - it just means removing the blank lines which ``pydocstyle`` is complaining about?

You'll need to fork the Biopython repository, make a new branch, install and run ``pydocstyle``, fix the blank lines, commit the changes, push to your fork on GitHub, and then make a pull request. Does all of that make sense?

[2017-04-19 15:46] morrme commented on #1170
@peterjc yes, it does! i will get started with it and let you know if i run into any issues.

[2017-04-19 17:20] morrme commented on #1170
@peterjc all done! what is the next rule on your wishlist?

[2017-04-19 20:37] peterjc commented on #1170
@morrme Speedy! Thanks! Since you're not familiar with the codebase, I suggest you avoid the issues about missing docstrings. There are more blank line checks you could tackle if you like?

Or how about D301? It theory it should be easy if you're familiar with r"string" notation for raw strings to avoid the need to slash escape special characters, but I've not looked at why these are present here.

[2017-04-19 20:44] morrme commented on #1170
@peterjc sure, which ones are the blank line checks? D201-D205?

I can take a look at what is failing D301 as well.

A lot of these can definitely be fixed automatically. I hope that issue you made gets some traction!

[2017-04-20 05:26] bow commented on #1136
@docmanny, I've just pushed a fix for this. There is one more thing I would like to ask: would you mind if we add your test case to Biopython's test suite? This is to prevent regression bugs in the future. If not, I would add it to the linked PR.

[2017-04-20 06:49] mdehoon commented on #566
Frankly speaking I don't understand why we have all those different Alphabet classes in Bio.Alphabet. I think we can do away with them, and make all preinstantiated alphabets instances of the Alphabet class in Bio.Alphabet.

[2017-04-20 08:13] peterjc commented on #566
I think we'd all agree the old historic alphabet system is a mess, and the current system of private methods was my attempt to work with it but fails to make the system usable.

If you can see a nice way forward with minimal code-breakage, that would be a very welcome idea.

[2017-04-20 14:44] zruan commented on #1160
The `codonalign.build` function doesn't support ambiguous dna right now. Internally, it maps each amino acid to its codon using a re expression dictionary based on user specified codon table. Since there is no ambiguous alphabet in the available codon table, such a dictionary will not be able to map amino acid to ambigous dna sequences.

[2017-04-20 17:10] peterjc commented on #820
For anyone looking for a good target, ``Bio/PDB/FragmentMapper.py`` currently has just 21% coverage but has a self-test you start from:

https://codecov.io/gh/biopython/biopython/src/master/Bio/PDB/FragmentMapper.py

[2017-04-21 02:03] zruan commented on #1162
The pull request #1179 is made.

[2017-04-21 08:39] peterjc commented on #1162
Closed by #1179, thank you.

[2017-04-21 08:39] #1162 closed

[2017-04-21 09:05] souravsingh commented on #1170
@peterjc I think the coala PyDocStyleBear could be useful for automated checks.

[2017-04-21 09:08] souravsingh commented on #1167
Would it be good if we can use Dice.py both as example as well as a unit-test?

[2017-04-21 09:18] sbliven commented on #210
+1 I also would have preferred labels to appear above the greytrack. Perhaps rather than treating greytrack as a Boolean it could also accept the special values "TOP" and "BOTTOM".

We'll see if the label position bothers me enough to write the patch myself.

[2017-04-21 09:33] peterjc commented on #1170
@souravsingh That looks like a Coala wrapper for ``pydocstyle``, so wouldn't add anything directly, but using coala generally in our TravisCI/Tox style checks and/or git commit hook might be good. I suggest you comment on #883

[2017-04-21 10:36] peterjc commented on #1167
Both would be nice.

For the unit-test you would off course have to pick some specific PDB file from ``Tests/PDB/`` as the input, and include some validation of the output. e.g. Write it to a temporary file, parse that to confirm the number of atoms, and then delete the temp file.

[2017-04-21 10:40] kozo2 commented on #898
I hereby give my explicit permission to switch to the BSD 3-clause license.
@peterjc I'm sorry my reply is late

[2017-04-21 10:42] peterjc commented on #898
Thank you everyone so far - I knew from the start this would be a long process but we'll get there.

P.S. To stop getting emails from GitHub about this issue, you can mute this thread.

[2017-04-21 11:01] peterjc commented on #676
I think this would be fixed by #1182

[2017-04-21 11:36] peterjc opened #1183 "Updating setup.py to assume and use setuptools"
RE: http://mailman.open-bio.org/pipermail/biopython-dev/2017-April/021690.html

[2017-04-22 09:49] MaxGreil commented on #820
@peterjc I can have a look at `Bio/PDB/FragmentMapper.py`

[2017-04-22 15:49] souravsingh commented on #883
@peterjc We can make use of Coala for the pre-commit checks in docstrings and Lint errors. It has integration with Travis, but I am not sure if it works with Tox.

[2017-04-22 20:38] peterjc commented on #883
@souravsingh if Coala has an easy to install git pre-commit hook, which we can configure to match our current settings (or it reads the ``.flake8`` and ``.pydocstyle`` files etc), that might be interesting. Could you look into this please?

[2017-04-22 21:32] souravsingh commented on #883
Coala doesn't read the ``.flake8`` or ``.pydocstyle`` file, but it makes use of a ``.coafile`` config file to set parameters for the various bears( PEP8Bear, PyDocStyleBear etc.)

[2017-04-22 21:44] peterjc commented on #883
So it is simple to match what we're doing right now (i.e. copy the current ignore lists), and use coala for (1) the TravisCI style checks and (2) a git pre-commit check?

[2017-04-22 21:50] souravsingh commented on #883
Yes, As for a git pre-commit check, I think something like [Gitmate](http://gitmate.io/) could be handy.

[2017-04-23 08:14] universvm commented on #1160
I was thinking that since Ambiguous Alphabet contains the unambiguous alphabet, it could have been used by default. In the meantime, should I just use the:
`default_codon_table.forward_table['CCR'] = "P"`
method to define my Ambiguous codons?

[2017-04-24 00:42] zruan commented on #1160
Yes, you can modify the codon table by adding all desired ambiguous codon to amino acid mapping.

[2017-04-24 11:23] universvm commented on #1160
Ok, perfect thanks! Will there be any option to specify the codon alphabet in future releases of Biopython?

[2017-04-24 11:47] peterjc commented on #493
I've update the hook on my branch which runs ``flake8`` and ``rst-lint`` to use the same configuration as our TravisCI/Tox setup - i.e. read the ``.flake8`` and ``.pydocstyle`` files:

https://github.com/peterjc/biopython/blob/pre_commit_linting/Scripts/git_pre_commit_hook.py

This makes it much simpler to explain to a new-comer what is going on with the TravisCI tests vs the git hook, which is a

[2017-04-24 11:56] cbrueffer commented on #493
Nice, this is quite a step forward from the previous hook! I think whether TravisCI/local check have the same settings or local is stricter doesn't make much of a difference, so the current choice seems fine.

[2017-04-24 15:14] peterjc opened #1189 "Bio.PDB sorting not tested and Python 2 only"
The ``cmp`` function is Python 2 only, sorting using a key function is the preferred idiom for Python 2 and 3.

``Bio/PDB/Chain.py`` class ``Chain`` uses ``cmp`` in never used private method ``._sort```, could remove this?

``Bio/PDB/Structure.py`` class ``Structure``, same.

``Bio/PDB/Model.py`` class ``Model``, same.

``Bio/PDB/Residue.py`` class ``Residue`` defines ``._sort`` and uses in public

[2017-04-24 15:14] peterjc commented on #1189
@etal @lennax @JoaoRodrigues etc - comments welcome on how best to solve this, thanks.

[2017-04-24 19:18] JoaoRodrigues commented on #1189
I'll have a look. Sorting should be simple for anything but Atom objects.

[2017-04-24 20:12] peterjc commented on #1189
I would guess we can delete/deprecate the ``._sort`` methods, and add ``.sort`` using ``key=...`` rather than the legacy ``cmp`` style sorting?

[2017-04-24 21:53] JoaoRodrigues commented on #1189
I guess so, but I need to have a look. Can't remember the exact
implementation and details..​

[2017-04-24 23:01] peterjc commented on #1149
I've had an initial look at this, and unfortunately retrospectively fixing the indexing to use bytes mode will be more work than I hoped - work in progress at https://github.com/peterjc/biopython/tree/maf_index

The SeqIO and SearchIO indexer all implement a ``get_raw`` method returning bytes, and the default for pulling out a single entry is essentially to call ``next(iterator_based_text_parser(S

[2017-04-25 09:58] peterjc commented on #1170
Cross reference https://github.com/PyCQA/pydocstyle/issues/250 which would make it easier to merge changes to ``.pydocstyle`` and comment why we still ignore some entries.

[2017-04-25 14:56] peterjc commented on #906
Related to this, we should check our docstrings are valid RST, see e.g. feature request at https://github.com/PyCQA/pydocstyle/issues/245

[2017-04-25 16:53] peterjc commented on #1170
Updated counts,

[code]

D412 was annoying - it seemed to be clashing with valid RST content - so I reenabled it in https://github.com/biopython/biopython/commit/12ee1844c55fb4fb597ca817326ae74c38efbbd6

[2017-04-25 17:01] morrme commented on #1170
@peterjc I haven't gotten to them yet, but I am interested in the difference between D212 and D213.

[2017-04-25 20:22] emily-bradley commented on #825
@peterjc I would like to work on this issue.

[2017-04-25 22:20] peterjc commented on #825
I am the de facto maintainer for the Biopython BioSQL code, but I am by no means a database expert. So, if you know that side of things this is a nice choice to work on, albeit a relatively low priority issue.

Note the way we configure the usernames and passwords for the BioSQL tests has changed since I opened this issue - see file ``Tests/biosql.ini.sample`` and how it is used in ``.travis.yml``

[2017-04-26 02:17] zruan commented on #1160
I have an idea to incorporate ambiguous codon alphabet into the current code set. This could be a user specified option in future release. I will see if I can write it up over next month or so. Once this is done, do you mind if I use your dataset as one of the test case?

[2017-04-26 02:55] morrme commented on #1170
But I am now working on D203 (`1 blank line required before class docstring`  )  and once I make changes, it violates D211 (No blank lines allowed before class docstring  ). So this is another pair of conflicting rules.

[2017-04-26 07:27] universvm commented on #1160
Oh yes sure! I removed it from the post as I wasn't sure it was useful. This is my code with the sequences I'm using. One of the sequences contains "CCR":
[Archive 2.zip](https://github.com/biopython/biopython/files/957556/Archive.2.zip)

[2017-04-26 08:32] peterjc commented on #1170
I'd wondered from the description D2013 and D211 were mutually exclusive. Best ask on their issue tracker, perhaps they offer both and expect any one project to just neither, or pick one?

[2017-04-26 11:12] peterjc commented on #1170
See https://github.com/PyCQA/pydocstyle/issues/141 for D203 vs D211, by default D203 is ignored.

I think we should should aim to pass D211 (do not try to follow D203).

[2017-04-26 15:15] morrme commented on #1170
OK @peterjc I will undo my changes.

What about D212 and D213? I think it is another case of having to pick between them because you cannot adhere to both.

[2017-04-26 15:43] peterjc commented on #1170
Yes, https://github.com/PyCQA/pydocstyle/issues/242 confirms D212 and D213 are mutually exclusive. It might be worth logging an issue for ``pydocstyle`` to error/warn when told to run mutually exclusive checks?

I think we should aim to pass D212 (do not try to follow D213).

To my eye this matches the https://www.python.org/dev/peps/pep-0257/#multi-line-docstrings example, and it reflects the cur

[2017-04-26 17:18] souravsingh commented on #1040
I think there is a patch for this issue.

[2017-04-26 17:33] peterjc commented on #1040
Yes, the original patch I attached to bugzilla was:

[code]

[2017-04-26 17:38] souravsingh commented on #1040
Reading through the comments in bugzilla, I think the patch is working well. The issue can be closed if the patch is submitted, right?

[2017-04-26 17:49] mrafante opened #1193 "Parser needs updating for MEME version 4.11.4"
As the MEME was updated at Apr, 07, 2017, the Bio/motifs/meme.py lib to read the resultant file is not working.

[2017-04-26 19:02] docmanny commented on #1136
Yeah go for it, feel free!

[2017-04-26 19:28] bow commented on #1136
Great. I'll include your test case to the PR, merge the PR, and then close this issue.

Thanks again for reporting and sharing the test case!

[2017-04-26 21:55] peterjc commented on #1040
The code in that patch was the easy part. The hard part is should we add this? It would impose a speed overhead which would affect all the sequence parsers, which for FASTA and FASTQ are already slow in comparison to a string-based approach due to all the object overhead.

Also, this is part of a larger more complex discussion about the design and direction of the alphabet support in Biopython. No

[2017-04-27 09:46] MarkusPiotrowski commented on #1128
OK, two things:
1. AbaSI behaves as expected. The design in ```Restriction.py``` is that it will only report cuts _in the given sequence/strand_ although both strands are searched for recognition sites.
  - So in your first example, although there are some recognition sites for AbaSI in the given sequence (=forward strand), the cuts would occur outside of the given strand.
  - However, there are a

[2017-04-27 10:34] peterjc commented on #1128
This should now be fixed on the master branch - I have merged #1195 from @MarkusPiotrowski

@paxelito are you able to install Biopython from github and re-test?

[2017-04-27 15:59] paxelito commented on #1128
@peterjc thank you so much for your effort. I will do that in the weekend I hope.

[2017-04-27 17:24] peterjc commented on #1170
I'm doing D404 at the moment - it requires some editorial judgement ;)

[2017-04-27 17:29] peterjc commented on #1170
Updated numbers, ignoring D203 and D213 as discussed above:

[code]

The mysterious new entry D415 is using an experimental hack to check the docstrings are valid reStructuredText via ``docutils``, see https://github.com/PyCQA/pydocstyle/pull/254

[2017-04-27 17:45] Gasta88 commented on #1167
@souravsingh are you working on the unit-test?If not, I can help on this.

Will this testing be hosted inside the others in `Tests/test_PDB.py` or will it be by itself?

[2017-04-27 17:46] souravsingh commented on #1167
@Gasta88 I am working on it.

[2017-04-27 18:40] morrme commented on #1170
My next targets: D412,  D403 and D212
then I'll look at D205, D406, D200

[2017-04-27 19:32] peterjc commented on #1170
@morrme Great - most of those look simple from their description, so good plan:

D403: First word of the first line should be properly capitalized
D212: Multi-line docstring summary should start at the first line
D205: 1 blank line required between summary line and description
D200: One-line docstring should fit on one line with quotes

These are going to depend on how exactly ``pydocstyle`` defin

[2017-04-27 19:34] peterjc commented on #1167
I was thinking we might want to split up ``test_PDB.py`` as its getting quite long...

[2017-04-28 03:08] andrewguy opened #1197 "PDB mmCIF parser labels water molecules as 'H_HOH', not 'W'"
The two parsers for PDB files should behave consistently, but currently the mmcCIF parser labels all waters as `'H_HOH'`, rather than `'W'`.

#1196 fixes this inconsistency, but wanted to raise this here as it will change the output from the mmCIF parser  - all water residues would now be accessed with the key `('W', ##, ' ')`, rather than `('HOH', ##, ' ')`. Note that this is the approach used by

[2017-04-28 10:13] peterjc commented on #1197
Good question: @JoaoRodrigues @lennax @etal etc, what do you think?

[2017-04-28 10:14] peterjc commented on #1197
You might as well comment on the pull request #1196...

[2017-04-28 16:02] peterjc opened #1199 "Adopt flake8-docstrings to run pydocstyle via flake8"
Once it has been updated for pydocstyle v2.0.0, I propose we use ``flake8-docstrings`` to run the docstring (PEP257) checks via ``flake8`` instead of calling ``pydocstyle``.

Cross reference https://gitlab.com/pycqa/flake8-docstrings/issues/19

i.e. For both the TravisCI/Tox configuration and the proposed git pre-commit hook.

The advantage of this is we can get ride of our ``.pydocstyle`` configu

[2017-04-28 19:10] MarkusPiotrowski commented on #1199
I adopted the fix mentioned in https://gitlab.com/nightmarebadger/flake8-docstrings/commit/8ffc68a821fd3b89641c10c3086d6672e04f5bf4 manually. These are just a few lines and it worked fine. Used ```flake8-docstring``` for the recent work on ```Restriction.py``` as pre-commit hook locally.

[2017-04-28 21:13] MarkusPiotrowski commented on #1170
My feeling is that many of the errors overdo the job, e.g.

D405   Section name should be properly capitalized

You can't find anything about this in PEP257. What's the problem with _This_ as first word in a class docstring? Why should I capitalize any word in a section header? Don't want to speak about wrongly identified section headers...(just found out that section headers are identified by the

[2017-04-28 21:30] MarkusPiotrowski commented on #1128
@paxelito In case you won't/can't install Biopython completely from scratch, it should work just to replace ``` Restriction.py```, e.g., display as raw file and copy/paste to Idle.

[2017-04-28 21:59] peterjc commented on #1170
That explains the mystery of the section names, thanks @MarkusPiotrowski

As to "This" as the first word, it does seem to be a good indicator that the docstring could be better worded.

Where do we stand if running ``pydocstyle -convention=pep257``, as that is a good standard to aim for.

[2017-04-28 22:01] peterjc commented on #1199
That's good news. If we can get all the python code checks via ``flake8``, then a standard flake8 pre-commit git hook ought to be enough for Biopython.

Right now on #1188 I have an overly complicated script which does ``flake8`` and ``pydocstyle`` on changed Python files, plus ``rst-lint`` on changed RST files.

[2017-04-29 02:38] #1197 closed

[2017-04-29 10:53] peterjc opened #1200 "DSSP failing on new mmCIF tests"
According to the buildbot http://testing.open-bio.org/biopython/tgrid a recent change on the master has broken DSSP testing, 7a42665d5fce fails while a172cb930029 passed.

e.g. http://testing.open-bio.org/biopython/builders/Linux%2064%20-%20Python%203.4/builds/832/steps/shell/logs/stdio

[code]

Given the timing and failure 67bc849e77688e4be13f69e8477920122389d64d seems likely the cause from #1194

[2017-04-29 13:10] andrewguy commented on #1200
That would seem like the most likely culprit. It seems that only DSSP 2.2.0 onwards supports mmCIF files.

What do you think the best approach is for this? I'm happy to do a version check on DSSP in the tests and skip these tests if DSSP is <2.2.0. I'll see if I can get that into a PR tonight.

[2017-04-29 14:11] andrewguy commented on #1200
#1201 should resolve this, although I'm more than happy if you've got other suggestions.

Do we need to add a warning somewhere that DSSP <2.2.0 won't handle mmCIF files?

[2017-04-29 16:31] MarkusPiotrowski commented on #1170
When running ```pydocstyle``` in the ```Bio``` folder:
[code]
we got __3183__ issues.

[2017-05-01 10:08] peterjc commented on #1199
flake8-docstrings v1.0.1 has been released now, testing now...

[2017-05-01 13:18] peterjc commented on #883
As part of #1199 I've started commenting the ``.flake8`` configuration so we can explain why we might be ignoring specific checks.

[2017-05-01 15:43] peterjc opened #1203 "Adding missing public docstrings"
Using the tool ``pydocstyle`` (installed with ``pip install pydocstyle``), or its flake8 plugin equivalent (installed with ``pip install flake8-docstring``), we can count missing docstrings:

[code]

or more simply using flake8:

[code]

Ideally all the public facing code in Biopython would have docstrings, so it would be great to (gradually) add these where they are missing.

We can list the miss

[2017-05-01 15:52] peterjc commented on #1199
Note right now the flake8 provided git pre-commit hook is unusable as it doesn't restrict itself to just Python files: https://gitlab.com/pycqa/flake8/issues/325

[2017-05-01 16:00] peterjc commented on #1170
I've logged #1203 for the missing public docstrings (D1## errors).

[2017-05-01 17:04] morrme commented on #1170
@peterjc should i push the changed docstirngs or are we moving to make the other changes now?

[2017-05-01 17:06] peterjc commented on #1170
@morrme if you've got pending changes you've already made, you might as well put them into a pull request - even if we decide not to use them and/or it requires a manual merge.

Assuming #1202 is merged soon it will at a minimum mean differences in how the checks are done.

[2017-05-02 15:19] #1200 closed

[2017-05-03 02:21] andrewguy opened #1206 "mmCIF parser - missing atom serial numbers?"
Been playing around with the mmCIF parser a bit more (`Bio.PDB.MMCIFParser.py`), noticed that it doesn't record atom serial numbers (`_atom_site.id` in mmCIF files).

Was there a reason that this was excluded from the mmCIF parser? It seems like a deliberate omission (line 425):

[code]

Compare to PDBParser (line 226):

[code]

Was this due to issues with lack of correspondence between atom seria

[2017-05-03 02:37] andrewguy commented on #1206
Note that this also breaks writing to a PDB output file when `preserve_atom_numbering=True`:

[code]
[code]

My inclination would be to record `_atom_site.id` as the atom `serial_number`, and make a note of this in the documentation. Happy to do the work on this if there are no objections to the change.

[2017-05-03 12:52] FredericBGA opened #1207 "SwissProt : parse PE line, debug sequence version and propagate to record"
In order to get an Uniprot fasta header (http://www.uniprot.org/help/fasta-headers), you need to retrieve Protein Existence value and sequence version as well.

The PE tag was not yet parsed.
The value of version seemed to be broken (always retrieved as 0).

Using the patch, you will be able to create PE and SV tags in this manner :

[code]

I have parsed the whole Uniprot .dat files without any p

[2017-05-03 12:54] Gasta88 commented on #1203
I would like to help but I'm probably missing some basic information here.

I have both `pydocstyle` and `flake8` on my machines and when I pick some random files from the posted list, I get no warnings in return.
By looking at these random files I can see that there is docstring inside.

What else do we need to code?

[2017-05-03 13:16] peterjc commented on #1203
First try this - it may just be an out of date flake8?:

[code]

This should (via the ``--isolated`` option) ignore any local configuration which might be ignoring the D1## codes.

There isn't a similar option for ``pydocstyle`` so also try something like this:

[code]

(Note on my personal machine I am using ``pip3 install ...`` which runs these tools under Python 3, which gives very slightly dif

[2017-05-03 13:20] peterjc commented on #1207
It looks like you are adding a new attribute to the ``SeqRecord`` here:

[code]

Please instead add this to the ``.annotations`` dictionary, e.g.

[code]

Regarding the git push failure, can you show us the exact error message and also the output for ``git remote -v`` (sometimes it is down to the URL used for cloning, https vs git, and your firewall)?

[2017-05-03 13:32] peterjc commented on #1206
It is almost certainly due to forcing the mmCIF data into an object structure designed for the PDB files. CC @lennax @etal etc as well.

[2017-05-03 14:15] FredericBGA commented on #1207
Ok, I will modify in order to avoid the creation of a new attribute.

And regarding the push failure, I know that this is due to the firewall but it's not that simple to ask for a change in the current configuration.

[2017-05-03 14:20] peterjc commented on #1207
What I mean is I have found sometimes when e.g. ``git@github.com:peterjc/biopython.git`` does not work, ``https://github.com/peterjc/biopython.git`` might. Or the other way round.

[2017-05-03 14:25] FredericBGA commented on #1207
Here is the new patch.
[swissProt-parse-PE-and-debug-sequence-version.patch2.txt](https://github.com/biopython/biopython/files/973619/swissProt-parse-PE-and-debug-sequence-version.patch2.txt)

[2017-05-03 14:30] peterjc commented on #1207
I may have to create a pull request on your behalf (using your patches) to get the TravisCI tests run. I would ask you to include a unit test for this though, something in ``test_Uniprot.py`` I would think which confirms the field has been parsed.

Also, are you happy to dual licence your contributions under both the _Biopython License Agreement_ AND the _BSD 3-Clause License_? See #898.

And, are

[2017-05-03 14:44] Gasta88 commented on #1203
Much better, thanks Peter. I'll start with `Bio/bgzf.py` .

[2017-05-03 14:46] FredericBGA commented on #1207
ok, I will have a look to tests.
I agree for the licence and citation.

[2017-05-04 02:43] stuckmke opened #1208 "Enhancement: Fix for UPGMA issues"
I've been using the Biopython version 1.66.win32-py2.7.  I noticed two issues when constructing a UPGMA tree:

1. The tree is not ultrametric. This issue was also noted on stack overflow: [http://stackoverflow.com/questions/36461738/biopython-upgma-tree-construction-is-not-giving-ultrametric-tree](url)

2. WPGMA was being used to create the tree as opposed to UPGMA.

I have modified the "upgma" an

[2017-05-04 09:45] peterjc commented on #1208
Are you able to submit your patch as a GitHub pull request? If you don't know git, as this is just one file you would even be able to do this via the GitHub website (fork the repository, click edit the file, and copy-paste in your new version).

CC @lijax and @etal

[2017-05-04 10:45] peterjc opened #1210 "Bio.pairwise.align.* docstrings"
As flagged on Twitter by Bede Constantinides (@Bebe on GitHub),
https://twitter.com/beconstant/status/860079532946202624

The main docstring describes e.g. ``localxx``,

[code]

However, the alignment class lacks this key information:

[code]
[code]

As do the methods,

[code]
[code]

Initially we could perhaps move/copy key bits of the module docstring into the class docstring?

Adding docstrings

[2017-05-04 11:21] peterjc commented on #1203
I would suggest one pull request per file or related set of files (e.g. if you updated several entries under ``Bio/SeqIO/`` then one pull request makes sense). This is in part to help with reviewing with a random group of files we may need more than one reviewer if several module owners are involved.

[2017-05-04 13:40] FredericBGA commented on #1207
here is the new version of the patch

I have added test, cast version and protein existence to int.

I have change annotations version to sequence_version and entry_version in order to be clearer.
I have add a test because protein existence is not always present (old SP files)

[swissProt-parse-PE-and-debug-sequence-version.patch3.txt](https://github.com/biopython/biopython/files/976256/swissProt-

[2017-05-04 14:43] FredericBGA commented on #1207
ok, I manage to create a Pull Request (over SSH).
This topic can be closed.

[2017-05-04 14:45] peterjc commented on #1207
Cross reference pull request #1211 - thank you for sorting the firewall issue 👍

[2017-05-04 14:50] Gasta88 commented on #1203
I'll start with `Bio.DocSQL`

[2017-05-04 15:01] peterjc commented on #1203
If you want to, sure - but ``Bio.DocSQL`` was deprecated in Biopython 1.69, and unless anyone objects it will be deleted next year. If you think the code is still useful and want to adopt it that would be reason enough to cancel the deprecation :)

[2017-05-04 15:14] Gasta88 commented on #1203
I have no personal reason to use it, therefore I'll leave it as it is.

I'll concentrate instead on `Bio.File` then.

[2017-05-04 15:48] peterjc commented on #1203
@Gasta88 good choice - some of the methods in ``Bio.File`` will be familiar from ``Bio.bgzf`` 👍

[2017-05-04 16:23] #1199 closed

[2017-05-04 16:27] #1207 closed

[2017-05-04 16:58] peterjc commented on #1170
I've just merged #1202 which means our TravisCI/Tox checks no longer use ``pydocstyle`` directly, but via ``flake8`` using the ``flake8-docstrings`` plugin.

This means ``.pydocstyle`` has gone away and instead the docstring settings are in ``Bio/.flake8``, ``BioSQL/.flake8``, etc. Having separate configurations for each folder is a short term solution allowing some rules to be more strictly enfor

[2017-05-04 16:59] morrme commented on #1170
@peterjc I was wondering what would happen to the work we did here.

So for now, what additional work needs to be done?

[2017-05-04 17:05] peterjc commented on #1170
Updated numbers ignoring D203 and D213 as discussed, and all the D1## missing docstring issues (see #1203),

[code]

BioSQL, Scripts and Doc seem to be OK.

It looks like a small job to resolve these issues in the ``Tests/`` folder:

[code]

While for Bio there are still plenty of things to look at:

[code]

[2017-05-04 17:11] morrme commented on #1170
@peterjc How do you feel about `D401: First line should be in imperative mood ` , given some of the other discussion here?

[2017-05-04 20:49] peterjc commented on #1170
Personally I think ``D401: First line should be in imperative mood`` is worth fixing but as a low priority - and I recognise not everyone would agree so it may not end up on our enforced list. While sometimes it is a trivial fix (e.g. ``Returns ...`` vs ``Return ...``), in other cases it requires a bit more thought - and having fresh eyes on any docstring should be a good thing.

All the 'section

[2017-05-04 21:48] peterjc commented on #1139
@tiagoantao - do you want to do the removal of the deprecated bits of ``Bio.PopGen`` yourself, or just give the OK for someone else to do it?

[2017-05-04 22:22] peterjc commented on #1170
I'm currently doing ``D207: Docstring is under-indented``

[2017-05-04 22:26] morrme commented on #1170
OK then I'll go for `D200: One-line docstring should fit on one line with quotes`

[2017-05-04 23:08] roccomoretti commented on #1210
I came here to post this.

Though I would argue that this counts as a "Bug" rather than an "Enhancement", as the current `help(pairwise2)` has the following to say near the bottom:

    To see a description of the parameters for a function, please look at
    the docstring for the function via the help function, e.g.
    type ``help(pairwise2.align.localds)`` at the Python prompt.

And `help(pairw

[2017-05-04 23:10] peterjc commented on #1210
Well spotted. If we can't easily add docstrings to the magic methods, we can at least tweak that text.

[2017-05-05 02:56] stuckmke commented on #1208
I am new to GitHub, but I believe that I was able to create a pull request.

[2017-05-05 10:11] OscarMaestre commented on #898
Hello!

I hereby give my explicit permission to switch to the BSD 3-clause license.

:)

[2017-05-05 10:50] peterjc commented on #1145
This looks like the raw data URL we need: http://prosite.expasy.org/PDOC00001.txt

[2017-05-05 11:01] peterjc commented on #1145
It looks like for Python 3 we might want to return a text mode handle (as expected in our parser), as done in e.g. ``Bio.TogoWS`` and ``Bio.Entrez``...

[2017-05-05 12:28] MarkusPiotrowski commented on #1210
There is an attempt to set the docstring correctly in ```pairwise2``` but it doesn't seem to work:

[code]

```self.__doc__``` is obviously not used by ```help()```. Interestingly, you can print it:

[code]

[2017-05-05 13:16] peterjc commented on #1210
Yeah, I think the problem is how the 'method' is defined at run time - likely something like https://github.com/biopython/biopython/blob/biopython-169/Tests/test_SeqIO_index.py#L666 would work better?

At least there the docstring exists via the help command:

[code]

[2017-05-05 13:34] peterjc commented on #1145
The Prosite parser will need updating too:

[code]

[2017-05-05 14:29] peterjc commented on #1145
Proposed fix on pull request #1215

[2017-05-06 09:49] ajm commented on #898
I hereby give my explicit permission to switch to the BSD 3-clause license.

[2017-05-06 15:58] paxelito commented on #1128
Hi, finally I have found the time to test the new Restriction.py. As @MarkusPiotrowski suggested I just created my restriction.py by copying and pasting the new Restriction.py.
1. The first thing that I noticed is that CommOnly restriction batch is now composed of 895 enzymes (as AllEnzymes) instead of 622 as in the old one, is it right?
2. Some new enzyme as `None` cutting point

[code]
3. MspJI

[2017-05-06 18:22] MarkusPiotrowski commented on #1128
@paxelito
1. Damn, this is a bug I introduced, sorry. Forgot that ```a = b``` with ```sets``` does not make a copy of ```b```, Need to make a copy of CommOnly...
2. That's a consequence of the bug. Sen18988IV is not commercially available and has no known cutting site.
3. The problem with MspJI does not seem to be 'N' or 'R' related, but the position seems to be critical. It works if the recogniti

[2017-05-07 22:30] peterjc commented on #1170
New numbers for ``Bio/``

[code]

I'm not 100% sure why but this wrongly tells me the Tests folder is now clear:

[code]

vs:

[code]

Thus when I tightened the TravisCI settings in https://github.com/biopython/biopython/commit/39d4f6297524bf7a1fa5d8b8914d88e26cd8144a I had to undo it in https://github.com/biopython/biopython/commit/44fe007c802d618c48a5d51b578fa58f91dbbe78

[2017-05-08 10:13] peterjc commented on #898
Thank you @ajm, @OscarMaestre - we had your agreement on the pull requests mentioned, but it doesn't hurt to explicitly agree here on this issue too.

[2017-05-08 13:08] paxelito commented on #1128
@MarkusPiotrowski i'm only happy to give my small contribute to this issue. Let me know when you fix it, do you think is it useful to prepare an exhaustive test for all the enzymes? At least the ones in CommOnly batch as soon as you fix it?

[2017-05-08 16:37] peterjc commented on #1170
Ah, one mystery solved - by default ``pydocstyle`` ignores ``test_*.py``,

[code]

This seems to do the trick:

[code]

Giving:

[code]

In any case, the ``Bio`` entries are more pressing - the main thing the docstrings in the ``Tests/`` folder are used for is the test names in verbose output when running the tests.

[2017-05-08 17:23] morrme commented on #1170
In the above output for `D401`(for both Tests and Bio), there are 2 different entries for it in the same result set.

`205` is tricky; some of the docstrings dont have natural "summary lines"; your corrections from the last commit were reasonable, but there are others that are moreso sample inputs, etc.

This also leads to issues with `D400: First line should end with a period ` ,  `D402: First li

[2017-05-08 17:27] souravsingh commented on #1203
@peterjc I will pick Nexus

[2017-05-08 22:04] peterjc commented on #1170
@morrme - Its probably just a quirk of how my piped command line truncating the variable part of the message which means D401 gets two separate entries.

I think we do want to comply with D205 (docstring should start with a one line summary), although doing this isn't something we can automate - some of these will be hard without knowing the module.

Of the remaining items these look most straight

[2017-05-08 22:41] peterjc opened #1221 "Fixing reStructuredText markup in docstrings"
This is a tracking issue for fixing the reStructuredText (RST) markup violations in our docstrings.

[2017-05-08 22:41] peterjc commented on #1221
**Background**

One year ago in May 2016 we switched from using epydoc to reStructuredText as the default markup language in the docstrings as rendered into help pages using epydoc:

https://github.com/biopython/biopython.github.io/commit/06548be5f3b7500e510911e471d85b1a4b9fabc9

While this runs, the output is in many cases less than perfect - and will hamper long term goals to replace using epydo

[2017-05-08 22:45] peterjc commented on #1221
**Linting / Validating**

Right now there is no off the shelf tool that I am aware of for reStructuredText (RST) validation of docstrings, despite RST being the proposed as the preferred markup language for docstrings in PEP287 https://www.python.org/dev/peps/pep-0287/

I have written a proof of principle pull-request to ``pydocstring`` which can be used for this, calling ``docutils`` to validate

[2017-05-09 09:40] peterjc commented on #1170
I've done ``D214: Section is over-indented`` with 57771d301df503410fabc819b3500a4ac237594d (which took a long time as I tried to tackle a lot of docstring style changes in that module) and aca5162ae6b44900e4d4d3fd31b5fdba57c7774c

Strangely D214 is not in ``Bio/.flake8`` yet seems to be ignored by default...

[2017-05-10 10:06] peterjc opened #1224 "NCBI Genetic Code Tables 27 to 31 + ambiguous codons"
The NCBI has added more genetic code tables, now up to 31:
https://www.ncbi.nlm.nih.gov/Taxonomy/Utils/wprintgc.cgi#SG27

We have NCBI tables up to 26 already in https://github.com/biopython/biopython/blob/master/Bio/Data/CodonTable.py

There is a minor issue, first the NCBI have not yet updated the computer readable file ftp://ftp.ncbi.nih.gov/entrez/misc/data/gc.prt (which I've emailed them abou

[2017-05-10 10:24] peterjc commented on #1224
Based on archive.org, the new tables 27 to 31 were added between 28 Oct and 26 Nov 2016.

[2017-05-10 10:59] peterjc commented on #1164
Slightly related #1224 raises some more tricky translation corner cases, where a codon can be an amino acid or a stop codon, and this is documented at the genetic code table level.

[2017-05-10 18:14] souravsingh commented on #353
@peterjc Is the issue now fixed?

[2017-05-10 19:16] peterjc commented on #353
Probably not, although there are still bits of Python 2.7 where file like handles do not support with statements:

[code]

[2017-05-11 05:56] paxelito opened #1226 "Restriction Enzymes Type #enhancement"
Hi,

is there a way to get the relative restriction enzymes type (I, II, IIs, ..., V) from the Bio.Restriction package?

[2017-05-11 09:02] peterjc commented on #1226
Hmm, REBASE does have the types (at leave, I to IV but I don't see V):

http://rebase.neb.com/rebase/rebtypes.html

However, I don't see this information in the EMBOSS format downloads we use for Biopython http://rebase.neb.com/rebase/rebase.f37.html nor in the format used for BioPerl http://rebase.neb.com/rebase/rebase.f31.html

Indeed scanning http://rebase.neb.com/rebase/rebase.files.html I can

[2017-05-11 12:04] MarkusPiotrowski commented on #1226
As said by @peterjc, the REBASE files we use don't have this information. There are some REBASE files which do have this information (e.g. http://rebase.neb.com/rebase/rebase.f19.html). So to get this information we would need to use a different file format from the beginning or in addition to the used files. Which would require a major re-write of ```ranacompyler.py``` the script that extracts th

[2017-05-12 09:40] ctSkennerton commented on #1203
@peterjc I'll do the BioSQL module

[2017-05-12 09:48] peterjc commented on #1203
Thank you both. I know the BioSQL module fairly well so can review that.

[2017-05-12 15:57] MarkusPiotrowski commented on #1210
I give up on this one. Posted a question to SO (http://stackoverflow.com/questions/43830759/help-doesnt-return-docstring-of-method-when-using-magical-getatrr), without getting a solution.

As a workaround, we can rephrase the module's docstring part saying:

the docstring for the function via the help function, e.g.
type ``help(pairwise2.align.localds)`` at the Python prompt.

into

 ``print(pairw

[2017-05-12 21:42] peterjc commented on #1210
For the short term I would say expand the align class docstring to include some of the function name information and/or a pointer to the main module docstring.

Medium term it does look like we have to replace the ``__getattr__`` magic in order to add proper docstrings to the class methods.

[2017-05-13 16:18] MarkusPiotrowski commented on #1210
The problem is that parameters are encoded within the function names, so 16, sorry, 32 different functions are possible: ```globalxx```, ```globalxs```, ... ```localcc```. I guess that was the reason for using ```__getattr___``` in the first place.
As suggested earlier by @mdehoon in #782 we should, in median term, made a new ```pairwise``` module,
1.  with a different interface (e.g. two methods

[2017-05-13 23:29] universvm commented on #1160
Hi @zruan . Today I implemented my code since I had some extra time, however I noticed that the method you specified had some weird behaviour.

Basically one of my sequences contains "NAA" and I therefore added:
`default_codon_table.forward_table['NAA'] = "X"`

However after this, I received another error:
[code]

[2017-05-14 22:20] peterjc commented on #1210
A new module with a clean API would seen a good long term solution.

[2017-05-15 09:58] Gasta88 commented on #1203
@peterjc I'll do `Bio.MarkovModel` module.

[2017-05-15 14:30] zruan commented on #1160
Hi @universvm,

If you update your biopython to the latest version in github, the the unexpected keyword argument `codon_table` error should not occur [(see here)](https://github.com/biopython/biopython/blob/master/Bio/codonalign/codonalignment.py). `get_dn_ds_matrix()` now accepts `codon_table` argument.

The problem of your second error on unrecognized codon is during the counting step. And the

[2017-05-15 17:33] souravsingh commented on #1221
I have run the ``doc8`` on ``Doc/doc.rst`` as a preliminary check, Here is the output-

[code]

[2017-05-15 18:14] peterjc opened #1232 "Codon Alignment documentation in Tutorial?"
The filename is unclear but ``Doc/doc.rst`` and ``Doc/doc.tex`` are from @zruan for the codon alignment module. I assume one is generated from the other?

Perhaps this should be turned into a Tutorial chapter (currently LaTeX), but keep the RST version as we may move the entire Tutorial into RST at some point - see #907.

[2017-05-15 18:16] peterjc commented on #1221
@souravsingh this issue is about the docstrings inside Python files, not actual RST files. Please continue any notes about ``Doc/doc.rst`` that on new issue #1232.

[2017-05-15 19:58] zruan commented on #1232
If I remember correctly, the `doc.rst` is the original one and `doc.tex` is automatically generated. I agree to include the `doc.tex` into the Tutorial.

[2017-05-16 00:17] andrewdholmes opened #1233 "Pairwise2 reversing character when given list input"
I was trying out pairwise2 list mode, tested by aligning three letter amino acid codes

[code]

What that gets is

[code]
Where many of the 'characters' are split and reversed

    biopython version: 1.69
    Pyton version: 2.7.12
    OS: CentOS release 6.9

[2017-05-16 04:16] morrme commented on #1170
OK where are we now?

[2017-05-16 09:34] MarkusPiotrowski commented on #1233
@andrewdholmes Thank's for reporting this. Actually there is a problem with the list input. A similar problem was recently reported on [StackOverflow](https://stackoverflow.com/questions/43299822/how-to-align-lists-of-words-using-biopython-pairwise2/43339322).
Obviously I broke the list input during the last major update of ```pairwise2```. I'm working on it and have already found the problem (and

[2017-05-16 09:47] Gasta88 commented on #1203
@peterjc I'll work on `Bio.MaxEntropy` module.

[2017-05-16 10:15] peterjc commented on #1170
[code]

This is using experimental pydocstyle hack to check the docstrings are valid reStructuredText via docutils, D415, see PyCQA/pydocstyle#254

We're ignoring D203 in favour of passing D211.

We're ignoring D213 in favour of passing D212.

Of these I would focus on D208 (indentation) and these first-line points:

* D200: One-line docstring should fit on one line with quotes
* D202: No blank li

[2017-05-16 10:24] morrme commented on #1170
Your `Organism.py` replacement looks good.
200/202/204 do not appear in your Bio/ output. Should I look at these in Tests/ ?

I will look at the Phylo style again but the Numpy style is clear.

[2017-05-16 10:49] peterjc commented on #1170
If you want to work on the ``Tests/`` sure - but here the docstrings are less important as they are not user facing.

Sorry, I'd copy-pasted already solved line-one issues, how about these next - all of which will require looking at the context and selecting a good one line summary:

* D402: First line should not be the function's "signature"
* D205: 1 blank line required between summary line and

[2017-05-16 14:39] Gasta88 commented on #820
The file `Bio\PDB\PDBParser.py` has a coverage of 83% and a self-test section inside.

It's not explicitly tested in `Tests\test_PDB.py` but its basic functionality is used over and over again throughout the file.

Would it make sense to remove only the self-test from the module only?

[2017-05-16 15:01] peterjc commented on #820
@Gasta88 regarding ``Bio/PDB/PDBParser.py``, the self-test does explicitly test the ``.get_parent()`` method of the various objects in the object model and that appears not to be directly covered at the moment:

[code]

but:

[code]

Note that there does seem to be some code coverage but only via a doctest-style test in the Tutorial,

[code]

So, it would be useful to convert the ``Bio/PDB/PDBPars

[2017-05-16 17:01] peterjc commented on #344
This code has not been touched other than minor style issues for some years.

I suggest we deprecate ``Bio.Statistics.lowess``, unless someone wants to put @anntzer's fix into practice?

[2017-05-16 17:04] peterjc commented on #491
@lijax @etal is this scoring question still relevant, or can we close this issue?

[2017-05-16 22:16] docmanny commented on #1136
@bow, I downloaded the latest master with the fix as of two days ago, and I tried it again. While the test case I gave you works, as well as a few others, files made by blatting the same query sequence as before against other UCSC genomes are giving me similar AssertionErrors.
The gfServers were generally made using the command:
```gfServer start localhost [port] -canStop -trans -mask [2bit]```
An

[2017-05-16 22:22] bow commented on #1136
Hi @docmanny,

Thanks for reporting the issue with the complete test cases. The incorrect assumption last time was related to the nucleotide-amino acid coordinate conversion, I will check if I need to do more adjustments in other places.

[2017-05-17 05:38] mdehoon commented on #1210
I have some working code for pairwise alignments that I have been using for my own work. I'd be happy to share it if somebody wants to turn it into a new module for Biopython.

[2017-05-17 06:38] MarkusPiotrowski commented on #1210
@mdehoon Can I have a look at the code?
I think the functionality of the current ```pairwise2``` is OK, and speed and memory usage is also OK (when using the C module). Writing a C function from scratch is probably beyond my capabilities.

[2017-05-17 15:02] Gasta88 commented on #1203
I'll work on `Bio.NaiveBayes` module.

[2017-05-18 02:50] mdehoon commented on #1210
@MarkusPiotrowski
Please have a look at
https://github.com/mdehoon/biopython/tree/aligner/Bio/Align

An example script is
[code]

which prints all alignments between the two sequences with the maximum alignment score:
[code]

I think the alignment scores can be further generalized a bit by replacing `end_gap_open`, `end_gap_extend` by `left_gap_open`, `left_gap_extend`, `right_gap_open`, `right_ga

[2017-05-18 06:27] bow commented on #1136
Right, so this indeed boils down to the same issue: not correctly specifying the dna-protein coordinate conversion. What I missed here was the case when the hit is on the negative strand. Correctly specifying the size multiplier there seems to have fixed the issue.

Thanks again for reporting (and having an even more complete test cases!). I added the `BalAcu1_CAG33136_1.psl.txt` and `BalAcu1_CAG3

[2017-05-18 09:26] bow commented on #1136
Ok, all tests seem to pass now and the fix is in `master`. Would you mind checking that this is the case?

[2017-05-18 14:03] Gasta88 opened #1240 "problem in testing m2rotaxis from Bio.PDB.Vector module."
Hi,

in my attempt to move the unittest for `Bio.PDB.Vector` from `test_PDB.py` I've notice a weird behavior  for the `m2rotaxis` method.

When tested for 180 degrees rotation, the script throws this error:
[code]

Looking at the values returned it's possible to see that `angle` is `1.57` and `axis` is `Vector<nan,nan,nan>`.

If I attempt to test the `r2motaxis` function in this cut&paste script:

[2017-05-18 14:08] peterjc commented on #1240
Are you definitely running the latest Biopython from git? Have a read of #494 and #1171 which are likely relevant. This looks like a pathological numerical case where system differences (e.g. using Windows) are not completely unexpected.

[2017-05-18 14:24] Gasta88 commented on #1240
Yes, I've fetch the latest version yesterday from GitHub. I'll setup a Linux environment and try again.

[2017-05-18 14:28] peterjc commented on #1240
Right now the Windows XP buildbot is offline (it needs patching, and frankly replacing), otherwise http://testing.open-bio.org/biopython/ might have flagged this.

[2017-05-18 15:28] docmanny commented on #1136
Hey @bow,
As always, thanks so much for the quick fix! I just tested the fix in the master branch and it works perfectly, not only for the aforementioned test cases but also when I ran other proteins. Thanks again!

[2017-05-18 15:31] bow commented on #1136
Good to hear :). I'm closing this issue now, then.

[2017-05-18 15:31] #1136 closed

[2017-05-18 15:59] jocelyne8 commented on #365
FYI:
It looks like the _star_info doesn't get sliced.

No consensus line for this:
`
alignment._star_info = consensus
AlignIO.write(alignment[:, start:end], sys.stdout, 'clustal')
`

But it works for this:
`
palign = alignment[:, start:end]
palign._star_info = consensus[start:end]
AlignIO.write(palign, sys.stdout, 'clustal')
`

[2017-05-18 16:03] peterjc commented on #365
Yes, you're right @jocelyne8 - but I am reluctant to change the class to special case slicing ``._star_info`` here.

We should resolve this generally, see #516.

[2017-05-18 17:15] jocelyne8 commented on #365
Sounds good. This was mostly for the next person who stumbles on this thread before the general fix is released.

[2017-05-18 17:17] peterjc commented on #516
I've updated  https://github.com/peterjc/biopython/tree/per-column-annotation and the associated pull request #528

[2017-05-18 17:33] docmanny opened #1241 "QueryResult object from Bio.SearchIO is not picklable"
Hello all,

I first encountered this issue when trying to adapt script running BLAST analysis in parallel to use BLAT and SearchIO:
[code]
After confirming that the rest of my code was free of lambdas, I was able to conclude that the error was intrinsic to the QueryResults object, and was able to generate a minimal reproducible example:
[code]
[code]
From what I can see in the source code, I suspe

[2017-05-18 17:35] peterjc commented on #1241
Probably we should do:

[code]

Better yet, define the this as a private function once at module level?

[2017-05-18 21:38] bow commented on #1241
Ah indeed, the closure makes the object unplickable. @peterjc , I think we should go with not using lambda at all (so private function is an option). How about making it a private staticmethod of the class? Just to avoid cluttering the module namespace, even as a private function.

Anyway, I'll open a PR soon.

[2017-05-18 21:44] bow commented on #1241
@docmanny , thanks again by the way for reporting the issue (with a bit of a detective work on your end which makes it easier to write the fix :) ). I've just opened a PR to address this, which should already be visible to you.

[2017-05-19 11:21] bow opened #1245 "Blat PSL writer in SearchIO errors when handling protein queries"
This is related to #1136 (creating the issue here for book keeping), in this case the cause is the writer class currently ignores the `is_protein` attribute of the input `QueryResult` which causes some coordinate-related sanity checks to fail. I'm making a PR and will close this when all tests pass.

[2017-05-19 12:04] #1130 closed

[2017-05-19 12:04] #1145 closed

[2017-05-19 12:49] #1245 closed

[2017-05-19 14:07] wpwupingwp opened #1247 "Bio.Phylo.draw_graphviz fail"
Python 3.6
Biopython 1.69
Debian stretch

[code]

Google it and someone said that graphviz_layout changed its location in networkx from
`networkx.graphviz_layout`
to
`networkx.drawing.nx_agraph.graphviz_layout`
See http://stackoverflow.com/questions/39411102/attributeerror-module-object-has-no-attribute-graphviz-layout-with-networkx

[2017-05-19 15:57] iriet opened #1248 "problem importing SeqIO"
I am trying to import SeqIO using:

from Bio import SeqIO

My biopython installation (1.68) is through anaconda (conda 4.3.18), on a mac running Sierra (10.12.5). Somehow, depending on which directory I run python from, I am finding that there are some directories where I am getting this error :

#####
[code]
#####
I have managed a workaround by invoking python from a different directory, doing th

[2017-05-19 22:59] peterjc commented on #1247
What version of networkx do you have?

[2017-05-19 23:02] peterjc commented on #1248
Could you give more details about where (which directory) you have been trying to run Python from?

As general advise, you should not run Python from within the Biopython source code (or any installed library's source code), as it will generally mess up the imports. Are you running Python from within the anaconda folder? If so, don't.

[2017-05-20 18:26] bow commented on #1093
Hello @bachev,

After spending some time playing with this, I don't think I really like the idea of reworking the parser to support this I'm afraid.

The hmmer3-text format is actually quite poorly specified (there is no formal specification of it) and so it is subject to change on the HMMER maintainers. This is fine for them of course, but makes it difficult to have a parser that could work consi

[2017-05-20 18:29] bow commented on #772
@peterjc , shall I close this issue? I would prefer that we do not allow invalid XML files ...

[2017-05-20 18:58] bow commented on #795
Refreshing this currently open issue again. @peterjc what do you think about doing these changes:

* Make the hit ID-mangling optional for the `blast-xml` format, setting it to False by default.
* Making the `_blast_id`, which stores the BLAST-generated ID public?

[2017-05-20 19:20] bow commented on #911
(doing some issue clean up now after a while) ~ yes, let's close this issue as there has been no further replies ...

[2017-05-20 19:25] bow commented on #893
Has there been any updates on this or any plans? If not, perhaps this can be closed? I can't recall correctly what my patch was I'm afraid.

[2017-05-20 21:16] peterjc commented on #772
Given the NCBI fixed this, I'm OK with you opting not to support it - they are clearly invalid XML.

[2017-05-20 21:16] #772 closed

[2017-05-20 21:17] #911 closed

[2017-05-20 21:17] souravsingh commented on #1203
I will now work on the ``Bio.NeuralNetwork`` module

[2017-05-20 21:21] peterjc commented on #795
Sure - exposing the BLAST generated ID seems sensible - it is there in the XML and may be useful in some analyses.

[2017-05-20 21:25] bow commented on #795
Ok, I'll push some commits soon then.

[2017-05-21 15:16] Gasta88 commented on #1203
I will work on `Bio.pairwise2` module

[2017-05-21 21:26] peterjc commented on #1233
I believe this should be fixed on the master now after #1242 was merged.

[2017-05-22 02:44] wpwupingwp commented on #1247
[code]

[2017-05-22 08:20] bow commented on #886
@peterjc This is one of the long-standing issues that I would like to close.

The underlying issue here is that SearchIO currently only tracks the strand of the actual alignment. For example, on a BLASTX the strands of the hit and query will always be 0 as BLASTX produces protein-protein alignment.

However, it may be useful (as pointed out in this issue) to keep the strands of the original input

[2017-05-22 09:13] peterjc commented on #886
We've previously avoided annotating the ``Seq`` object by using the ``SeqRecord``, but it is not a subclass (something suggested a long time back but we'd need more work on harmonising methods before that were practical, see e.g. #1103).

Does it make sense to record this on the ``HSP.hit`` and ``HSP.query`` objects instead?

[2017-05-22 10:27] iriet commented on #1248
I can run the conda python from any directory, but when I import Biopython features such as SeqIO (as shown in the example I clipped), I get the error. If I import all of Bio, I don't get the error, but if I import SeqIO, I get the error. I have not been running these scripts from inside the anaconda folder. In the past, when I installed Biopython manually per the instructions, I was able to invok

[2017-05-22 10:30] Gasta88 commented on #1203
I'll work on `Bio.Seq` module.

[2017-05-22 10:48] peterjc commented on #1248
With Google I found some similar issues, e.g. https://lists.gt.net/python/python/1180947

My guess is you have a file named ``token.py`` which is over-riding the Python standard library file of the same name.

[2017-05-22 11:46] bow commented on #886
I think it does (those are `SeqRecord` objects). As an entry in the `.annotation` dictionary, perhaps?

[2017-05-22 11:56] peterjc commented on #886
If you're going to use the ``SeqRecord`` objects, then yes, inside the ``.annotations`` dictionary would be best.

However, looking at this again I would personally use the ``HSP`` object - it has things like ``.query_start``, ``.query_end``, ``.query_span`` so why not ``.query_strand`` as well?

[2017-05-22 12:20] souravsingh commented on #1203
I will now work on Bio.BioSeqDatabase

[2017-05-22 13:19] peterjc commented on #1203
@souravsingh - note @ctSkennerton already volunteered to do the ``BioSQL`` docstrings.

[2017-05-22 13:46] souravsingh commented on #1203
Hmm, I will then work on ``Bio.Phylo``

[2017-05-22 15:43] bow commented on #886
`HSP` would indeed be a better place to put this. There is already a `.query_strand` and `.hit_strand` properties in the `HSP` object. Perhaps `.query_original_strand` and `.hit_original_strand` then?

[2017-05-22 15:53] peterjc commented on #886
That sounds like a plan :)

[2017-05-22 20:07] Gasta88 commented on #1203
I'll work on `Bio.SeqFeature` module.

[2017-05-22 20:58] bow commented on #795
@mmokrejs This has been quite long standing, but I think #1250 solves this. Feel free to reopen this issue if you think that isn't the case :).

[2017-05-22 20:58] #795 closed

[2017-05-23 15:10] iriet commented on #1248
Yes! That was the problem.
Thank you. My student had created a script called token.py and I didn't
think to check for namespace conflicts.
Much appreciated!

On Mon, May 22, 2017 at 6:48 AM, Peter Cock <notifications@github.com>
wrote:

[2017-05-23 15:15] peterjc commented on #1248
Its an easy mistake to make as Python gives a very cryptic error. Thanks for confirming, I'll close this issue.

[2017-05-23 15:15] #1248 closed

[2017-05-23 20:36] mmokrejs commented on #893
I think the old tracker contains the relevant details: https://redmine.open-bio.org/issues/3363

[2017-05-23 20:59] mmokrejs commented on #893
It should be possible to re-create a "broken" XL for testing with `blastall-2.2.26 -b blastn ...`. It seemed it is related these "statistics" entries not just at the very end of XML stream but sometimes, also in the middle of the stream. Parsing the very next entry (a real match) triggered this error (at least ident_num was (None, None) from my old notes).

[code]

[2017-05-23 22:11] aralap commented on #1193
Is someone working on this? I will adress it if not.

[2017-05-24 09:12] peterjc commented on #1193
I'm not aware of anyone working on it, so that would be great. See also #232

[2017-05-24 09:13] peterjc commented on #1193
And see also #793.

[2017-05-24 15:25] #1226 closed

[2017-05-24 15:27] paxelito commented on #1128
Dear @MarkusPiotrowski do you know when the fixed Restriction.py will be officially released?

[2017-05-24 15:30] peterjc commented on #1128
It would be part of the next Biopython release, version 1.70, likely June 2017 as we'll be wanting it out before the annual Bioinformatics Open Source Conference (BOSC) in July.

[2017-05-24 15:35] paxelito commented on #1128
@peterjc that's cool!!! thx so much.

[2017-05-24 15:46] peterjc commented on #1128
@MarkusPiotrowski did you make a pull request for the ``CommOnly`` problem you noted above?

[2017-05-24 18:26] MarkusPiotrowski commented on #1128
Not yet, I'm working on ```test_Restriction.py``` to get the coverage of ```Restriction.py``` somewhere above 70% (hopefully). I think I'm through with it in a few days.
I have fixed the ```CommOnly``` problem and the other problem with non-palindromic enzymes (MspJI example from above). So I could do a separate PR only for ```Restriction.py```.

[2017-05-25 17:03] peterjc opened #1257 "Bio.Phylo.PAML tests failing on 64-bit Windows Python 3.6.0"
See https://ci.appveyor.com/project/peterjc/biopython/build/0.0.5 where using AppVeyor to run the test suite, under 64-bit Python 3.6 these fail (while 32-bit Python 3.6 and 2.7 are fine):

(*Update:* Correction, 32-bit Python 2.7 is fine. Both 32-bit and 64-bit Python 3.6 fail)

[code]

[2017-05-26 10:26] peterjc commented on #1257
This commit may help - and at very least avoids the confusion about which ``relpath`` is being used: https://github.com/biopython/biopython/commit/d8db6c4cbfcd6cffaffdc0085eccc5495ad09f27

[2017-05-26 10:32] peterjc commented on #1139
This has now been done, thanks Tiago 👍

[2017-05-26 10:32] #1139 closed

[2017-05-26 10:33] peterjc commented on #1138
I've disabled the problematic test for now, and am closing this.

[2017-05-26 10:33] #1138 closed

[2017-05-26 10:57] peterjc commented on #1257
@brandoninvergo do you have any idea what's going on here?

If you have access to a 64-bit Windows machine with Python 3 that would be handy...

[2017-05-26 14:30] MarkusPiotrowski commented on #1128
@paxelito Another bugfix has been merged. If you like you can repeat your tests with the new version of ```Restriction.py```?

[2017-05-27 01:16] gajucoder opened #1259 "pairwise2 results differ with python2.7 vs python3.4"
aseq='ACTCTGGTAACTAG'
bseq='ACCTGGTAACTAGAGATCCCTCA'
gap_open = -10
gap_extend = -0.5
match = 5.0
mismatch = -4.0
alns=pairwise2.align.localms(aseq, bseq, match, mismatch, gap_open, gap_extend)

output with python 2.7.6
ACTCTGGTAACTAG-----------
AC-CTGGTAACTAGAGATCCCTCAG
  Score=55

ACTCTGGTAACTAG-----------
-ACCTGGTAACTAGAGATCCCTCAG
  Score=55

output with python 3.4.3
ACTCTGGTAACTAG-----------
-

[2017-05-27 10:19] MarkusPiotrowski commented on #1259
@gajucoder Are you running the same Biopython version in boh in Python 2.7 and 3.4?

[2017-05-28 03:50] gajucoder commented on #1259
In python 3.4 latest  biopython 1.69.
If pairwaise2 output is going to depend on the version of biopython then it
will be very difficult to use this function over long period.

Thanks

On Sat, May 27, 2017 at 3:19 AM Markus Piotrowski <notifications@github.com>
wrote:

[2017-05-28 09:23] MarkusPiotrowski commented on #1259
@gajucoder  Sorry, maybe I was not clear enough. The output of ```pairwise2``` will not change which each version. There was a major re-write of ```pairwise2``` between Biopython 1.67 and 1.68. As a result it is much faster and consumes less memory. Also, some minor errors especially in local alignments were fixed.

So it would be nice to know under which Biopython version you got the __two__ alig

[2017-05-29 09:57] peterjc commented on #1259
You can check the version of Biopython like this:

[code]

[2017-05-29 14:52] peterjc commented on #909
This has not been merged - but see https://github.com/biopython/biopython/issues/898#issuecomment-236995038 where @ghuls did agree to dual licensing.

As the ``Bio.motifs`` module owner Michiel seems happy, so if @ghuls or you (@olgabot) would like to turn this into a pull request, that would be great.

Separately a pull request to add HOMER motif support sounds great.

[2017-05-30 09:49] brandoninvergo commented on #1257
It looks like `os.path.relpath` works differently on NT systems compared to POSIX systems.  The test in question tries setting one of the configured files to a list rather than a string or path-like object. On my POSIX machine:

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
      File "/usr/lib/python3.6/posixpath.py", line 448, in relpath
        raise ValueErro

[2017-05-30 09:50] brandoninvergo commented on #1257
Sorry, forgot to mention that I don't have a Windows machine on hand to test....

[2017-05-30 16:35] gajucoder commented on #1259
First of all I would like to thank you guys for providing biopython. It has made work way easier. I really appreciate your efforts.
$ python2.7 -c "import Bio; print(Bio.__version__)"
1.66
$ python3.4 -c "import Bio; print(Bio.__version__)"
1.69
Hope this helps you in finding the bug.

Thanks

[2017-05-30 19:02] gajucoder commented on #1259
@MarkusPiotrowski Thanks for clarification. Here are the results as you suggested.
[code]
python 3.4 output with Biopython version1.69
[code]

python 2.7 output with biopython version 1.66

[code]
As for me I know that alignment by biopython 1.66 is more accurate as I can see missing T is more likely event in my case.

[2017-05-30 21:53] MarkusPiotrowski commented on #1259
@gajucoder Thank you very much for the detailed output. I have investigated a little bit and this is the result:

1.  From the point of view of a correct implementation of the Smith-Waterman algorithm (which is used here in local alignments) the result with only one alignment is correct (Biopython version >1.67).
Although the longer alignment has the same score, the S-W algorithm would not report

[2017-05-30 22:16] gajucoder commented on #1259
@MarkusPiotrowski
Thank you very much for the detailed explanation. It really helped me understand how the pairwise2 works.
Correct me if I am wrong. Biopython > 1.67 will not report more than one alignment. Is this the case? If so is it possible to get more than one alignments even with lower scores as in Biopython 1.66?

[2017-05-31 06:32] MarkusPiotrowski commented on #1259
@gajucoder
No, ```pairwise2``` will report up to 1000 alignments, given that they have the same optimal score (have a look at the [api](http://biopython.org/DIST/docs/api/Bio.pairwise2-module.html), there are some examples. You can also try ```align.localxx(aseq, bseq)``` to see that there are several aligments).
The problem with the 'older' version of ```pairwise2``` was that the aligment algorit

[2017-05-31 17:44] Gasta88 commented on #443
Hi @peterjc , this issue is quite old but if people still find some interest in it, I would like to develop a wrapper for it.

I have few questions:
1) I would like to use other wrapper in Biopython as a reference (ex: those one present in `Bio.Align.Applications`. Is it correct to use the `Bio.Application` module to develop them?

2) On the website there is a reference to their web service: [http

[2017-06-01 09:49] peterjc commented on #443
Our framework using ``Bio.Application`` is for wrapping command line tools, so no.

This is for wrapping an online resource, which is why ``Bio.Entrez`` or ``Bio.TogoWS`` would be a better example. Or ``Bio.KEGG.REST``.

Maybe under ``Bio.EBI`` would be a good namespace, although it does not follow PEP8 and use lower case...

http://www.ebi.ac.uk/Tools/webservices/services/dbfetch appears to be is

[2017-06-01 10:25] peterjc commented on #1257
We'll have to use appveyor to test any proposal, or ask for a volunteer. Perhaps Ben could help?

I was puzzled where the list came from. I had assumed your paths would be strings or ``None``, with ``.`` as an explicit PWD, so am not sure if ``if self.working_dir is not None:`` is better than ``if self.working_dir:`` or not.

If you think removing the path test is most sensible, that's OK with me.

[2017-06-01 10:26] peterjc commented on #1257
For reference, see also http://mailman.open-bio.org/pipermail/biopython-dev/2017-May/021705.html

Windows test run on my first attempt for Biopython (running via my
personal fork, not the official GitHub repository):

[2017-06-01 10:31] brandoninvergo commented on #1257
I would suggest just dropping those tests.

[2017-06-01 10:38] peterjc commented on #1257
Could you make a pull request doing that please?

[2017-06-01 10:40] brandoninvergo commented on #1257
Sure, I'll try to do it today.

[2017-06-01 18:50] docmanny commented on #1241
Sorry it took me so long to get around to checking this. There's now an error when Pickle tries to look-up _hit_key_function:
[code]

[2017-06-01 19:23] bow commented on #1241
Hi @docmanny ,

This seems to be related to the Python version. I could reproduce this locally in Python 3.4, but it works in Python 3.5 (Changelog [here](https://docs.python.org/3/whatsnew/3.5.html#pickle)).

I'm not sure how to make this works for versions 3.4 or before (without applying too big of a hack). Is it an option for you to switch to Python 3.5?

[2017-06-02 09:12] peterjc commented on #1241
Given the Python 3 release notes talk about nested functions, my guess is we can fix this by moving the static class method:

[code]

into a self-contain top level module function:

[code]

[2017-06-02 11:36] peterjc commented on #1170
Current numbers,

[code]

As before, ``D415: Fails reStructuredText validation`` is from an experimental fork of ``pydocstyle``, see https://github.com/PyCQA/pydocstyle/pull/254

[2017-06-05 13:28] kescobo commented on #1040
Coming here from mailing list issue - is there a way to (without dramatically increasing overhead) add something to an error message that gets spit when alphabets collide that points people to potential solutions?

[2017-06-05 14:27] peterjc commented on #1040
@kescobo Which error message? The one I was proposing adding ``Letter X not in XXX``?

[2017-06-05 16:31] kescobo commented on #1040
@peterjc Not sure - I haven't run into this problem before, but yes, `Letter X not in XXX` is a useful starting point for sure.

[2017-06-05 21:23] gajucoder commented on #1259
Thank you for providing solution to my problem. It has helped me a lot.

On Tue, May 30, 2017 at 11:32 PM, Markus Piotrowski <
notifications@github.com> wrote:

[2017-06-06 09:40] peterjc commented on #1259
Great - I'll close this issue now then. Thank you both.

[2017-06-06 09:40] #1259 closed

[2017-06-07 16:15] StefansM opened #1270 "`Bio.PDB.PDBIO.set_structure()` alters parent of chains, residues and atoms"
Calling the `set_structure` method of the `Bio.PDB.PDBIO` class alters the parent of (non-`Structure`) entities in a non-obvious way. For example, this script:
[code]
Gives this error from line 91 of `Bio/PDB/Entity.py`:
[code]
Removing the call to `set_structure` acts as I would expect: temporarily renaming the chain name, and then reverting it without problems.

When `set_structure` is called wi

[2017-06-07 16:38] MarkusPiotrowski commented on #1233
@andrewdholmes Do you want to give it a try? The bugfix is merged with the main branch, so you can download ```pairwise2.py``` (e.g. display as raw file and save in a text editor) and replace the 1.69 version for testing.

[2017-06-07 18:35] JoaoRodrigues commented on #1270
Indeed. Copying is the better way. I added this 'feature' to allow writing individual bits of Structure object (chains, residues), did not foresee this indeed. Thanks!

If you want to go on with the pull request, I'd be happy to review it.

[2017-06-07 18:38] andrewdholmes commented on #1233
Oh, sorry, I gave it a try a bit ago and it's working great.  Thanks for
the fix.

Andrew Holmes

On Wed, Jun 7, 2017 at 9:38 AM, Markus Piotrowski <notifications@github.com>
wrote:

[2017-06-08 09:26] peterjc commented on #1233
Great - thanks for confirming the fix @andrewdholmes, and of course @MarkusPiotrowski for writing it. I'm closing this issue now.

[2017-06-08 09:26] #1233 closed

[2017-06-08 17:18] peterjc commented on #1221
I wrote a proof of principle pull-request extending to ``pydocstring`` calling ``docutils`` to validate the docstrings as RST: PyCQA/pydocstyle#254

The ``pydocstyle`` team recommended implementing RST docstring validation as a separate flake8 plugin, which I have started at https://github.com/peterjc/flake8-rst-docstrings

[2017-06-08 19:22] docmanny commented on #1241
@bow I see... I'll make a new env with Python 3.5+ for future testing. Regarding Python 3.4, however, one fix that works well is to either use `dill` instead of `pickle` when explicitly pickling functions, or in the case of parallelizing code, using `multiprocess` rather than `multiprocessing`, which is a fork that uses `dill` internally.

[2017-06-09 09:19] bow commented on #1241
@docmanny Thank you for the tip ~ that is certainly possible. @peterjc is also right that we can move the offending function to a top-level function so that it is pickle-able. I've added now some tests to ensure that we catch any pickle-related errors from now on.

I will close this issue when [this PR](https://github.com/biopython/biopython/pull/1272) is merged.

[2017-06-09 09:30] santirdnd opened #1273 "SeqIO.read() fails parsing genbank formated file from NCBI with extraneous comment lines"
Sequences NZ_CP015967.1 and NZ_CP015968.1 have these kind of lines on COMMENT section:

`            StructuredCommentPrefix###Genome-Assembly-Data-START## Assembly`
`            Method#HGAP v. 2.3.0 Genome Coverage#83.43x Sequencing`
`            Technology#PacBio.`

followed by the real `##Genome-Assembly-Data-START##` section and, certainly, deleting them fix the problem.

Obviously, this shoul

[2017-06-09 09:36] peterjc commented on #1273
Which version of Biopython are you using?

[code]

How *exactly* did you download NZ_CP015967.1 and NZ_CP015968.1 from the NCBI? Do you have the exactly FTP or HTTP URL? I'm asking because on their website in particular there are multiple options which affect the data returned.

[2017-06-09 10:22] peterjc opened #1274 "mysql connector, InterfaceError: Use multi=True when executing multiple statements"
Seen on a TravisCI run using the new PyPy 5.8 release, https://travis-ci.org/peterjc/biopython/jobs/241126458 which probably actually down to an update of ``mysql-connector-python-rf``?

[code]

(and many similar failures).

Probably cause: https://stackoverflow.com/questions/15288594/update-database-with-multiple-sql-statments

[2017-06-09 10:26] peterjc commented on #1274
The above failing build used this under PyPy 5.8:

``pypy-nocov installed: cffi==1.10.1,greenlet==0.4.12,isodate==0.5.4,mysql-connector-python-rf==2.2.2,numpy==1.13.0,pluggy==0.4.0,py==1.4.34,pyparsing==2.2.0,rdflib==4.2.2,readline==6.2.4.1,tox==2.7.0,virtualenv==15.1.0
``

Recent passing build https://travis-ci.org/biopython/biopython/jobs/240302092 using PyPy 5.7.1 had:

``pypy-nocov installed:

[2017-06-09 10:32] peterjc commented on #1274
It may be related to the changes in the recently released NumPy 1.13.0 which has incidentally broken PyPy on the master branch - hopefully that's fixed with https://github.com/biopython/biopython/commit/3c964ec627334002cbb2450610c9e1b294456123

[2017-06-09 11:43] peterjc commented on #1274
Curious https://travis-ci.org/peterjc/biopython/jobs/241147686 is running PyPy v5.8 and:

[code]

This fails too, so it is not ``numpy==1.12.1`` vs ``numpy==1.13.0`` but rather seems to be something linked to PyPy itself?

[2017-06-09 16:05] fsimkovic opened #1275 "Bio.KEGG.Enzyme assumes GENES keys are 3 characters"
## Problem

    [<Bio.KEGG.Enzyme.Record at 0x7f182a1e2ed0>]

    ---------------------------------------------------------------------------
    IndexError                                Traceback (most recent call last)
    <ipython-input-32-3263d682ee05> in <module>()
    ----> 1 list(Enzyme.parse(open("ec_2.3.1.246.txt")))

    /home/felix/anaconda/lib/python2.7/site-packages/Bio/KEGG/Enzyme/_

[2017-06-09 16:12] peterjc commented on #1275
Which version of Biopython are you using? You can check with:

[code]

This should be fixed by https://github.com/biopython/biopython/commit/ede2ffd52c18daf78857778683c20990e3db99c6 from https://github.com/biopython/biopython/pull/722 which was included in Biopython 1.69

[2017-06-09 16:16] fsimkovic commented on #1275
Duh ... good spot!
[code]

[2017-06-09 16:16] #1275 closed

[2017-06-09 16:18] peterjc commented on #1275
Great - please do let us know if you find any other issues after updating your system. Thanks!

[2017-06-09 16:20] fsimkovic commented on #1275
Maybe a slightly more future-proof version should be considered.

[code]

[2017-06-09 19:05] bow commented on #1241
Ok, the PR is merged ~ you should be able to work on this using the regular pickle in Python < 3.5 @docmanny. Feel free to reopen this if you stumble on any pickling-failures.

[2017-06-09 19:05] #1241 closed

[2017-06-09 19:41] santirdnd commented on #1273
Ughh, sorry! It was with 1.68 from anaconda. I have just realised there is a new version released and now I can't reproduce it.

Again, sorry for the noise.

[2017-06-10 23:37] peterjc commented on #1273
Thanks for the additional information - my guess is this was a duplicate of #951 which was fixed in Biopython 1.69.

Since updating your Biopython fixed this, I'm going to close this issue. Cheers.

[2017-06-10 23:37] #1273 closed

[2017-06-11 18:47] larssnip opened #1277 "The Tm_NN function in Bio.SeqUtils.MeltingTemp"
This function takes arguments seq and c_seq. Then, copies of both are made, named tmp_seq and tmp_cseq. Next, tmp_seq and tmp_cseq are used to check for dangling ends and terminal mismatches, and they are modified if such cases are found.

Then, the original seq and c_seq are used for initiation? Is this really correct? If so, why not do this before the checking for dangling ends and mismatches? I

[2017-06-11 21:44] MarkusPiotrowski commented on #1277
The simple answer is: I found it convenient to have the possibility to change the sequence string (e.g. to produce a matching key like ```AA/.T``` or to remove a dangling end and a terminal mismatch so that the 'zipping' can always start at the beginning of the 'usual' sequence), but I didn't want to change the original sequence since it may be used for other purposes, e.g. for the salt correction

[2017-06-12 04:03] zhqu1148980644 opened #1278 "why I got a wrong file when using efetch to download a genbank file"

[2017-06-12 04:05] zhqu1148980644 commented on #1278
from Bio import Entrez
Entrez.email = "A.N.Other@example.com"
net_handle = Entrez.efetch(db="Nucleotide", id="NC_000019", rettype="gb", retmode="text")
out_handle = open("my_file.txt", "w")

for line in net_handle:
    out_handle.write(line)

out_handle.close()
net_handle.close()

result
txt file ends with
                     /db_xref="taxon:9606"
                     /chromosome="19"
CONTIG

[2017-06-12 04:08] zhqu1148980644 commented on #1278
I also tried to read it use SeqIO.read() function
result:
请输入您要下载的基因idNC_000019
NC_000019.10 Homo sapiens chromosome 19, GRCh38.p7 Primary Assembly 1 [] <class 'list'>
geneNC_000019   has 0genesequence and 0cds  58617616

[2017-06-12 06:40] siongkong commented on #898
I hereby give my explicit permission to switch to the BSD 3-clause license.

[2017-06-12 07:09] larssnip commented on #1277
Hi Markus,

Thanks for your quick reply. It was really helpful to me.

Would it perhaps be possible to just re-arrange the order of computations a little?

It looks to me like adding to delta_h and delta_s is what is done almost everywhere, and the order of this is then unimportant. If it is possible to compute all that requires the original sequence first, and then start to manipulate it, the cop

[2017-06-12 10:11] wpwupingwp commented on #1278
From website, it says
`
Due to the size of this record, annotated features are not shown by default.
`
I guess it's because of too large size.

If you really want to get the whole chromosome, you may change 'rettype=gb' to **'rettype=gbwithparts'**, which I not recommend, because I think NCBI FTP is a better choice for such large data.

[2017-06-12 11:50] zhqu1148980644 commented on #1278
thanks

[2017-06-12 11:50] #1278 closed

[2017-06-12 12:07] zhqu1148980644 commented on #1278
by the way, how did you get that information,which websit?

[2017-06-12 12:49] wpwupingwp commented on #1278
The website is NCBI, just query the id.
In NCBI FTP, it is compressed so you could download the data faster.
If you only want this sequence, just use your web browser.

[2017-06-12 13:22] peterjc commented on #898
@siongkong thank you. Could you confirm it was you who helped fix a Bio.PDB build_peptides bug https://redmine.open-bio.org/issues/3096 as part of Biopython 1.56 back in 2010?

[2017-06-12 16:14] j-andrews7 commented on #232
It'd probably be a good idea to mention this in the docs until it's resolved, as the error message is not very useful.

See pull request #1280 for a small addition. Might save some people a Google to find this issue.

[2017-06-12 21:43] MarkusPiotrowski commented on #1277
Most of the salt correction methods directly correct the melting temperature, which means that the correction can only be done after the calculation of the uncorrected Tm. But for the salt correction I need the original sequence. So, for my code I'd prefer to keep the salt correction block as one (at the end).

[2017-06-13 10:24] peterjc commented on #898
Thank you @siongkong for confirmation by email - I'll update your entry in the contributors file as requested.

[2017-06-13 13:49] peterjc commented on #1257
Hi @brandoninvergo - would you be able to remove these tests this week, or should I tackle this? Thanks!

[2017-06-13 21:05] abrialmeyer opened #1282 "Entrez search returning incorrect results"
Hi!
My team and I are creating an external database pulling genomic data from genbank using the biopython entrez interface tool. We have hit a problem with our query. When calling from a python script, this search “Squilla empusa”[Organism] AND “18S”[Title] NOT (mito* OR “whole genome”) returns 4 correct results, and 2 results for the 28S gene instead. We think this may be because the 'Title' fiel

[2017-06-13 21:35] peterjc commented on #1282
Please show the exact Python code you used (or better, a minimal example showing the problem), along with the OS and version of Python and Biopython:

[code]

It can be helpful to look at the ``.url`` attribute of the network handle returned by the ``Bio.Entrez`` functions to look at exactly how it was constructed and compare this to the website.

[2017-06-14 16:17] abrialmeyer commented on #1282
Hi - thank you for your response!
Sorry about not including all the relevant information, I will make sure to do so in the future.
We are using Mac OS 10.11.6, Python version 2.7.12 and Biopython version 1.68.

How would be look at the `.url` of the handle?

Below is the code - it's definitely not a minimal example. We are creating a SQL database as part of an internship project to house genetic a

[2017-06-14 16:38] peterjc commented on #1282
I would suggest adding this for logging purposes:

[code]

Just in case it makes a difference, it would also be worth trying to upgrade to Biopython 1.69 (the current latest release) before going any further.

[2017-06-16 15:45] peterjc commented on #1170
Current numbers as of commit 1abacd6739468226b5f20d4557cfa9b5401ebbff which follows me doing a bunch of work on #1221 and fixing some related docstring issues along the way:

[code]

[2017-06-16 15:54] peterjc commented on #1221
With the proviso that https://github.com/peterjc/flake8-rst-docstrings is still a work in progress, I have used it to silence a lot of RST validation errors it reported from docutils - see commits leading up to and including 6ae8fa1d996bea95a101ff7c44f204132b0138ae - mostly it wanting more blank lines in certain places.

Right now my flake8 plugin only reports from "information" level messages ``P

[2017-06-16 16:01] peterjc commented on #1203
We've made steady progress since May,

[code]

and:

[code]

[2017-06-18 03:08] mdehoon opened #1286 "Bio.SeqIO.Interfaces _get_seq_string is silly"
The SequenceWriter._get_seq_string method first demands that the sequence is a Seq object, not a plain string, and then extracts the plain string only:

[code]

So if I have a plain string, and want to write it to a Fasta file using SeqIO.write, then I have to wrap it in a Seq object, just so that _get_seq_string can extract the plain string.

Oh how simple life could be without alphabets.

[2017-06-19 03:50] morrme commented on #1170
You chose to un-ignore D407. Is that intentional?

[2017-06-19 09:18] peterjc commented on #1170
Do you mean not ignoring D407 in the ``pydocstyle`` output on this issue, or in the code? I've just been repeating the same command the last few times, not sure why back in May I was more inclusive.

Markus made a good argument that we shouldn't worry about D407:

Right now I would still focus on:

* D205: 1 blank line required between summary line and description
* D400: First line should end wit

[2017-06-19 09:26] peterjc commented on #1286
It was an API design choice that ``SeqIO`` produce and accept ``SeqRecord`` objects, and their ``.seq`` attribute is expected to be a ``Seq`` type object, not a string.

I would be happy to move this check to the ``SeqRecord`` object itself, we could consider accepting a string via a property method, and upgrade it to a ``Seq`` with the generic single letter alphabet (perhaps with a warning)?

Sep

[2017-06-19 11:58] peterjc commented on #1221
My flake8 plugin is now on PyPI, https://pypi.python.org/pypi/flake8-rst-docstrings

Currently it does not report the "INFO" level messages from ``docutils``, which in the cases I checked all seemed to be false positives, meaning it is happy with the Biopython docstrings.

[2017-06-19 13:32] peterjc commented on #1221
I'm trying enabling this on our TravisCI/Tox style check - interestingly this failed on TravisCI under Python 2.7,

[code]

Likely there is a non-ASCII character in there somewhere, and we've not declared an encoding.

I've been running ``flake8`` locally under Python 3.6 so will seek to reproduce this...

[2017-06-19 14:09] peterjc commented on #1189
@JoaoRodrigues are you likely to be able to look at this this week? If not do you mind if I try?

[2017-06-19 23:25] jsolvason opened #1287 "gcc Error raised during installation"
I am following the instructions on installing biopython [here](http://biopython.org/wiki/Download). After unzipping, cding into the folder and typing `python setup.py build` the following error is raised:

[code]

I have also tried installing with pip, but the following error was raised:

`failed building wheel for biopython`

and

`Command "/Users/josephsolvason/miniconda3/bin/python -u -c "impor

[2017-06-20 09:45] JoaoRodrigues commented on #1189
Hi Peter,

Go ahead, I've been swamped lately with several different projects needing
my attention and these issues were sort of left behind for now..​

Cheers,

João

[2017-06-20 15:02] Gasta88 commented on #443
Hi @peterjc,

I've made some progress and created a simple module for dbfetch. I have few questions on how to test it and integrate it with Biopython:

I'll place it in `Bio\EBI`. The module will be name `__init__.py`. This wrapper offer two methods only:

For the testing part I'm creating a script that will be located in `Tests\test_EBI_dbfetch.py`.

I'm not sure if I should test each single data

[2017-06-20 15:07] peterjc commented on #443
It might be worth asking about the name ``Bio.EBI`` on the mailing list - we try to use lower case names for new modules as per PEP8 guidelines, but this is an acronym.

Regarding the tests, how many databases are there? It might be enough to test a few popular ones.

Regarding the content, I would try to parse it and confirm some minimal details which should be static (e.g. sequence data ought to

[2017-06-20 15:11] peterjc commented on #1287
Which version of Biopython did you download?

Which version of Python are you using? It looks like some version of Python 3 via conda?

Which OS are you using? It looks like it could be Mac OS X?

Which version of ``gcc`` is installed? Try ``gcc - v`` for this.

What is the default compiler, i.e. What does ``cc -v`` give?

[2017-06-20 15:13] peterjc commented on #1287
Also given you appear to be using conda, did you try ``conda install biopython``?

[2017-06-20 15:14] morrme commented on #1170
I agree with ignoring D407, I just noticed it in the output of your most recent issue count.

[2017-06-20 15:16] peterjc commented on #1183
We have now dropped Python 3.3
https://github.com/biopython/biopython/commit/8724f624eb6ac46dbe632ab2b57bee218466c22a

[2017-06-20 15:41] peterjc commented on #820
An update of the numbers:

[code]

Note ``Bio/bgzf.py`` is not actually a self test, it is more calling the code as a command line tool - not perhaps the best place to put that code, but not relevant for this issue.

[2017-06-20 15:55] peterjc opened #1288 "Improving test coverage"
We have for some time run the continuous integration tests on TravisCI via the Python tool ``coverage`` and uploaded the metrics to https://codecov.io/github/biopython/biopython/

For Biopython 1.69 the test coverage reported was about 80%, as we approach Biopython 1.70 we are now up to 84%.

This has been a combination of removing some deprecated code, and adding more tests - including efforts li

[2017-06-20 16:22] souravsingh commented on #820
@peterjc I will handle Genbank and a few PDB tests.

[2017-06-20 19:50] evanbiederstedt opened #1289 "Translating string indices into genomic coordinates"
I'm beginning with the reference genome in FASTA format, hg19. I am reading the sequence into a Python dictionary with `BioPython`:

    genome_dictionary = {}
    for seq_record.id in SeqIO.parse(input_fasta_file, "fasta"):
        genome_dictionary[seq_record.id] = seq_record

This creates a Python dictionary with keys as chromosome names and values as strings from the FASTA.

My goal is to take

[2017-06-20 20:55] jsolvason commented on #1287
Ok, based on your response I tried using Python 2.7.13 to build in the biopython directory and it worked. However, it still did not work with python 3.6.0

I was able to use biopython with python 3.6.0 after installing with  `conda install python`. Thanks for your suggestion!

[2017-06-20 21:13] peterjc commented on #1287
It seems the conda Python environment is subtly different in some way that our ``setup.py`` does not handle. But I'm glad that ``conda install biopython`` worked as that would be my recommendation for adding packages within the conda Python environment.

Shall we close this issue?