[2019-08-21 06:34] ShivaniSharma2019 commented on #2219
Hi. I'm getting the results, when I type this command
nt -u "C:/Users/Shivani/Documents/Research Internship/Files by Dates/August/19 Aug/usertree.nwk"

I am familiar with relative paths so cd to the directory where gene2.phy was.

Output look like this:
                                 ..........................
 ooooooooooooooooooooooooooooo        CURRENT SETTINGS        oooooooooooooooooooooooo

[2019-08-21 12:51] mobiusklein commented on #2221
That does appear to be faster, though it also seems to produce an improbable number of optimal alignments:
[code]
Is `pairwise2` deprecated?

Is there any will to include a version of the aligner from:

[2019-08-21 13:18] mdehoon commented on #2221
@mobiusklein

Why do you think it is improbable?

[2019-08-21 13:28] mobiusklein commented on #2221
I didn't expect it to produce that many optimal solutions. Then again, the total number of ways that those two sequences could be compared exceeds 309 ** 315, which is much larger than what `Py_ssize_t` could hold.

[2019-08-21 13:38] mdehoon commented on #2221
@mobiusklein  See section 6.5.2.8 in the Biopython documentation for more information.

[2019-08-21 13:49] peterjc commented on #2221
Currently ``Bio.pairwise2`` is not deprecated, but that is a possibility if the new aligner code proves itself (added a year ago in Biopython 1.72).

How easy would it be just to change the return value of the ``Bio.pairwise2.align`` functions from ``tuple`` to ``namedtuple`` (given there is a Python and a C implementation)?

(That seems to me to be a minimal change from the user perspective, but

[2019-08-21 13:54] mobiusklein commented on #2221
Thank you for the reference. I suppose it's a mismatch between my expectation that if `__len__` is implemented, it will return a useful value, and the complexity of sequence alignment. For simpler sequence comparisons, `__len__` would produce a useful value, and if the query for total number of optimal alignments weren't passing through `__len__` it would be possible to return a `PyInt/Long` which

[2019-08-21 13:59] mdehoon commented on #2221
In principle yes, but that would have to be implemented in the C code, and supporting arbitrarily large integer values in C code is not trivial. Additionally, if the number of alignments is huge, then the actual number doesn't really matter (iterating over them would take forever), so you may as well raise an `OverflowError`.

[2019-08-21 14:02] peterjc commented on #2219
I'm guessing that you mean you ran this command:

[code]

not just:

[code]

Given it works at the command line, and assuming your working directory is the same, I would want to see the stdout/stderr from within Python:

[code]

Or, perhaps more simply:

[code]

It looks like we don't have an example using ``ApplicationError`` in the tutorial right now... we should.

[2019-08-21 15:26] peterjc opened #2222 "BSD Dual Licensing Bio.Geo"
Sub-issue of #898, I have not been able to get in touch with Cayte Lindner (katel@worldpath.net), also known as Katharine Lindner, original author of ``Bio.Geo`` - see commit 1accbfb7e633dc03bb143ec85964f77fec116402 -  May 2002.

Note that the parser was re-written some time ago in 824f87c4f03a04da7ba027f526eb443d979da8ff - one could argue nothing of the original version of ``Bio/Geo/__init__.py``

[2019-08-21 15:33] peterjc opened #2223 "BSD Dual Licensing Bio.Crystal"
Sub-issue of #898, I have not been able to get in touch with Cayte Lindner (katel@worldpath.net), also known as Katharine Lindner, original author of ``Bio.Crystal`` - see commit da3f027dbe0e64d5bb822a653c8d7bc9ee31879f and other commits from 2002.

(See also open issue #2222)

Note we do have consent from Andreas Kuntzagk (see eg 7ef4150e46ed5f98f02a35add877b1923a6b652b), https://mailman.open-bio

[2019-08-21 15:44] peterjc commented on #1878
No success with the Google email address.

His website http://bertrand.frottier.free.fr/ as listed on http://www.bioinformatics.org/people/list.php is blank.

[2019-08-21 15:51] cbrueffer commented on #1878
He appears to be on Linkedin, have you tried that?

[2019-08-21 15:54] peterjc commented on #1878
No - do you have an account on there?

[2019-08-21 15:54] cbrueffer commented on #1878
Yes, I'll give it a try.

[2019-08-22 09:56] peterjc commented on #1878
Thanks Christian - https://mailman.open-bio.org/pipermail/biopython/2019-August/016662.html - thanks Bertrand 👍

[2019-08-22 14:25] zisikons opened #2226 "Implement support for parsing PQR files"
### Description:
The [PQR](https://sites.google.com/a/poissonboltzmann.org/software/file-formats/biomolecular-structurw/pqr) is a format that is very similar to the [PDB](https://www.cgl.ucsf.edu/chimera/docs/UsersGuide/tutorials/pdbintro.html) format,  where the *beta factor* and *occupancy* fields have been replaced with *charge* and *radius*. Although this format is not as popular as the PDB fo

[2019-08-22 15:16] peterjc commented on #2226
I was emailed privately about this beforehand, and suggested those three names as people familiar with the PDB code and worth consulting.

[2019-08-22 18:27] shz9 opened #2227 "Phylo newick parser fails when names contain single quotes"
Hi everyone,

It seems like there's a bug in the Phylo newick parser where the parser fails if the name of the node contains single quotes (e.g. as in "Burton's_mouthbreeder"). A similar issue was raised before (#887), though in that case they wanted to allow parenthesis in quoted node names.

### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follo

[2019-08-22 20:27] mukhyala commented on #2211
A huge thanks to Ewout Vanden Eynden (ewout.vanden_eynden@roche.com) for reporting this bug!

[2019-08-23 08:33] ShivaniSharma2019 commented on #2219
Okay. Makes sense. Where can I find out the meaning of non zero return
codes?

On Wed, Aug 21, 2019, 7:39 PM Peter Cock <notifications@github.com> wrote:

[2019-08-23 08:34] ShivaniSharma2019 commented on #2219
Also, I'm not receiving any notification about this thread (Notifications
are turned on) so i apologize for the delay in my reply.

On Fri, Aug 23, 2019, 2:03 PM Revathi <shivanis270@gmail.com> wrote:

[2019-08-23 09:10] peterjc commented on #2219
Every command line tool defines its own return codes - although often tools will just use 0 for success, and 1 for failure.

In this case you should consult the ``phyml`` documentation. However, anything it prints to stdout/stderr is likely going to tell you what is wrong.

[2019-08-23 14:49] jgreener64 commented on #2226
Sounds like a good idea to have something like this in Biopython. Having a quick look at the file format, and based on what you say, it seems to differ principally in two places: the charge/radius fields replacing bfac/occupancy and a different header. So the implementation is probably best kept as close as possible to the existing PDB parser, which it sounds like you have done. Reducing code dupl

[2019-08-24 14:11] artbendandi commented on #2226
Regarding the header parser, according to the Bio.PDB documentation, the only accessible information on PDB file headers, as entries of a dictionary, are: name, head, deposition_date, release_date, structure_method, resolution, structure_reference, journal_reference, author and compound.

The remark types present in PQR files do not  contain these keywords and would be ignored by the already prese

[2019-08-24 14:29] KKmushroom opened #2229 "Bio.Cluster.clustercentroids cannot returned the result, Why?"
### Setup

I am reporting a problem with Biopython 1.74, Python version 3.7.3, I am running the following program on the spyder as follows:

[code]

(*Please copy and run the above in your Python, and copy-and-paste the output*)
![图片](https://user-images.githubusercontent.com/48720081/63638612-33b30680-c6bd-11e9-9d2b-d3eb768019fc.png)
### Expected behaviour

I want to get the return of clustercent

[2019-08-24 17:14] lennax commented on #2094
Sorry for late comment - I agree that if no one is actively using Lyx, it makes sense to delete the out-of-date lyx file.

[2019-08-25 02:31] mdehoon commented on #2229
Can you add some print statements to the script to find out at which point the program hangs? It is not clear now which statement causes the program to hang; the problem may occur before the call to kcluster or clustercentroids.

[2019-08-25 04:08] ShivaniSharma2019 commented on #2219
So the return code mentioned in the error is return code of command line
and not biopython or phyml. Is my understanding correct?

On Fri, Aug 23, 2019, 2:49 PM Peter Cock <notifications@github.com> wrote:

[2019-08-25 08:30] KKmushroom commented on #2229
@mdehoon Thank you for your reply. I added a few printed statements to the original manuscript and debugged the program:
`from sklearn.preprocessing import MinMaxScaler
from Bio.Cluster import kcluster
from Bio.Cluster import clustercentroids
import pandas as pd

df_full = pd.read_csv('../data/FCM_testdata.csv')
print(df_full.head(5))
print('size of df_full with real_labels:',df_full.shape)
column

[2019-08-25 09:09] peterjc commented on #2219
Yes - and the meaning could be as simple as can’t find the input file. You said you checked the working directory but using absolute paths might help.

[2019-08-25 10:53] jgreener64 commented on #2226
Ah I see, you are using the existing function without adding to it. That sounds sensible given what you have said, as it is conceivable that PQR files would have some of the PDB header information. And if they don't then nothing will get read in, which is fine.

[2019-08-25 18:20] azdaly opened #5013 "Get phred quality for ab1 traces"
Hello!
So I'm using python 3.5.5 and biopython 1.73, and I'm trying to get the phred quality scores for each peak in my .ab1 files. Unfortunately the following just returns an array of zeroes, which I know is false (given the scores I'm returned on the [Indigo website](https://gear.embl.de/indigo/)):
[code]
What am I doing wrong?
Thanks!!

[2019-08-26 00:27] mdehoon commented on #2229
Can you provide the file `FCM_testdata.csv`? Then I can debug it.

[2019-08-26 02:15] KKmushroom commented on #2229
Thank you for your reply, here is the test data file, please download it.

I am looking forward to your early reply, thank you very much!

------------------ 原始邮件 ------------------
发件人: "mdehoon"<notifications@github.com>;
发送时间: 2019年8月26日(星期一) 上午8:27
收件人: "biopython/biopython"<biopython@noreply.github.com>;
抄送: "798266099"<798266099@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [biopython

[2019-08-26 02:22] KKmushroom commented on #2229
@mdehoon The data file used for the test has been sent to you by email. Have you received it?

[2019-08-26 09:37] #2094 closed

[2019-08-26 09:37] peterjc commented on #2094
Done in 3c59219ccc4260f4f9107f48abec82672aa3c529, thank you both for looking at this

[2019-08-26 12:30] mdehoon commented on #2229
@KKmushroom  I have not received it yet.

[2019-08-26 13:50] KKmushroom commented on #2229
@mdehoon I have uploaded my test program and test data to my repository,  Please go to this address to download: [KKmushroom/biopython-learn
](https://github.com/KKmushroom/biopython-learn)

[2019-08-26 14:52] blaiseli commented on #2008
I would just like to point out that black does not handle certain types of comments well:
https://github.com/psf/black/issues/379#issuecomment-400958330

It is sometimes useful to be able to comment individual elements in a list/tuple/dict/..., and putting the items on separate lines makes this much easier. As far as I'm aware of, black seems to mess with this kind of commenting technique.

[2019-08-26 15:28] peterjc commented on #2008
Yes, one of the key things we'll be looking out for in the manual reviews is comment placement. The rare case of commenting parts of data structures may justify temporarily turning off the black formatting with the special comment lines.

[2019-08-26 15:30] peterjc commented on #2008
I thought I replied about line length: I am assuming we'd use the black default of 88.

Currently we don't enforce E501 with flake8 as there are too many historic long lines - after running black would be a good time to review that. The flake8 max line length setting could be set higher, e.g. 120, if that was seen as sensible.

[2019-08-27 03:51] #1382 closed

[2019-08-27 06:06] mdehoon commented on #2229
@KKmushroom  Thanks. Can you try the updated code in pull request #2231  ?

[2019-08-27 15:53] winterschlaefer commented on #898
I hereby give my explicit permission to switch to the BSD 3-clause license.

[2019-08-28 10:55] KKmushroom commented on #2229
@mdehoon Hello! Please tell me how to use (or download) your updated code? I cloned your biopython project, but I found that the contents of the __init__.py and clustermodule.c files are not like the fix clustercentroids you modified. Do I need to go into the project myself and make changes to the changes you made, or do I need to reinstall Biopython? I don't understand it very much, Please give m

[2019-08-28 18:09] pkerpedjiev opened #2234 "index_db raises an exception when accessed from within a thread"
This issue: https://stackoverflow.com/questions/48218065/programmingerror-sqlite-objects-created-in-a-thread-can-only-be-used-in-that-sa

PR to resolve this is here: https://github.com/biopython/biopython/pull/2233

### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

(*Please copy and run the above in your Python, and copy-and-paste

[2019-08-28 20:24] dizak commented on #1902
I have done ```Bio/phenotype/phen_micro``` and created pr #2235 I have tested it on TravisCI so it required changes to ```.travis-tox.ini```. Since the test passed (except for Python3.8 for which ```numpy``` installation fails) I guess I should revert the changes in this file?

[2019-08-29 02:19] mdehoon commented on #2229
@KKmushroom  Are you working on Windows, Mac, or Linux?

[2019-08-29 02:40] KKmushroom commented on #2229
@mdehoon I working on Windows

[2019-08-29 09:46] peterjc commented on #2142
As what will hopefully be a short-term solution, yes, a not implemented error PR would be welcome.

[2019-08-29 12:51] sbliven opened #2236 "Add type annotations"
I would like to propose introducing type annotations to BioPython.

For those unfamiliar, type annotations are specified by [PEP 484](https://www.python.org/dev/peps/pep-0484/) and add static type-checking to python code. Two syntaxes are available; an annotation syntax for python 3 and a type comment syntax which is compatible with python 2 code. For example:

[code]

The annotations are no-ops a

[2019-08-29 13:00] peterjc commented on #2236
Sounds good in principle.

I would be inclined to wait until early 2020 when we drop Python 2 support, so as to ignore the Python 2 legacy comment syntax, and start directly with the annotation syntax.

[2019-08-29 14:17] pkerpedjiev commented on #2142
Here it is: https://github.com/biopython/biopython/pull/2237 :-)

[2019-08-29 16:13] cjfields commented on #2112
@peterjc yes this seems to be the case.  Will try to look at this when I have some time.

[2019-08-29 16:17] peterjc commented on #2112
Sorry Chris, we should have filed a BioPerl issue after than NCBI reply.

[2019-08-29 16:18] cjfields commented on #2112
@peterjc @innovate-invent already did, I just didn't see the notification.

[2019-08-29 19:02] alissawilliams opened #2238 "ModuleNotFoundError: No module named 'Bio'"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]
(base) Alissas-MacBook-Pro:bin alissawilliams$ python
Python 3.7.3 (default, Mar 27 2019, 16:54:48)
[Clang 4.0.1 (tags/RELEASE_401/final)] :: Anaconda, Inc. on darwin
Type "help", "copyright", "credits" or "license" for more information.

3.7.3 (default, Mar 27 2019, 16:54:48)
[Clan

[2019-08-29 19:23] alissawilliams commented on #2238
In the directory:
/Users/alissawilliams/anaconda3/lib/python3.7/site-packages/

all of these are listed:
bio
bio-0.1.0.dist-info
biopython-1.74.dist-info

in case that's any help.

[2019-08-29 21:23] vinisalazar commented on #1838
@peterjc is there any work left to do on this?

[2019-08-29 21:37] MarkusPiotrowski commented on #2238
Have you 'activated' your environment via:
[code]

? When I start Python via the command line, without activating an environment, I got the following message:
[code]

Now:
[code]

I also wonder that `import bio` (with lowercase b) works in your case. This may indicate that you have another package installed. Have you tried (after `import bio`) to do `bio.__version__` and `help(bio)`?

[2019-08-29 21:48] MarkusPiotrowski commented on #2238
BTW, if you use Anaconda you should use it's conda package manager for installing packages:
[code]

Although I haven't experienced problems when using `pip` in Anaconda installations, others have.

[2019-08-29 22:47] alissawilliams commented on #2238
I tried the conda activate command and it still doesn't work. I also tried the conda install command, also to no avail. :(

As for the two commands you mention:
bio.__version__
`'1.74'`
help(bio)
[code]
In my site-packages directory, I have three things with "bio" in the name:
bio
bio-0.1.0.dist-info
biopython-1.74.dist-info

Do you think that me starting with the command
`python -m pip install Bi

[2019-08-29 23:11] alissawilliams commented on #2238
Update: I fixed the issue!

I ended up uninstalling biopython, and also deleted any file in site-packages with the name "biosomething." I then reinstalled with the conda command:
`conda install -c anaconda biopython`

I am now able to use the import Bio command. Thanks for your help!
Alissa

[2019-08-30 06:28] MarkusPiotrowski commented on #2238
Strange, so somehow your Biopython package name was renamed to `bio` (lowercase b)... I could have spotted this earlier since the folder in `site-packages` should be `Bio`. Possibly due to the installation of a package called `bio`, as you suggested (which is very likely this one: https://pypi.org/project/bio/)

Thank you for the update. Luckily, you got it running now.

Closing

[2019-08-30 06:28] #2238 closed

[2019-08-30 09:08] peterjc commented on #1902
Updated the check boxes, just two left:

[code]

https://github.com/biopython/biopython/blob/master/Tests/run_tests.py#L78

[2019-08-30 09:22] peterjc commented on #1838
Current results, using this ``empty.py`` script:

[code]

Gives:

[code]

There is unfortunately an inconsistency in ``pdb-atom`` vs ``pdb-seqres``, and ``cif-seqres`` and ``cif-atom`` - they should all give ``ValueError("Empty file.")`` - do you want to add that @DevangThakkar?

Also, as ABI  format is binary, I think ``abi`` and ``abi-trim`` ought to give the empty file exception too? What do yo

[2019-08-30 11:16] peterjc opened #2240 "BSD Dual Licensing Bio/PDB/MMCIFParser.py"
Sub-issue of #898, original author Thomas Hamelryck and all the committers since as tracked with version control have agreed.

However, looking at the logs I see two further contributors:

- Paul T. Bathen for d8d4c581c7e865a6d19f62316207cdfd9df11378 in 2012 via RedMine issue tracker, who I have just emailed on his old address.

- Alexander Campbell for ad92e3a695f7b52d066c433463327c36fda7c02c in

[2019-08-30 11:30] cbrueffer commented on #2240
Alexander Campbell seems to be on Linkedin, I'll try to contact him there.

[2019-08-30 11:31] peterjc opened #2241 "BSD dual licensing Bio/PDB/Entity.py"
Sub-issue of #898, original author Thomas Hamelryck and all the committers since to ``Bio/PDB/Entity.py`` as tracked with version control have agreed.

However, looking at the logs I found a further contributor, Klaus Kopec for b1fe143df162ed1eae881611864ffe1ebaac39ac in 2009 via our old RedMine issue tracker. His old tuebingen.mpg.de email address no longer works.

This might be him https://www.l

[2019-08-30 11:46] cbrueffer commented on #2241
I've send him a message.

[2019-08-30 12:41] peterjc opened #2243 "BSD dual licensing Bio.Pathway"
Sub-issue of #898, we have not year heard from the original author of ``Bio.Pathway``, Tarjei Mikkelsen (CVS username ``tarjei``) about dual licensing their code.

Their old MIT email address no longer works, but this is probably them: https://www.linkedin.com/in/tarjei-mikkelsen-b448265b

Possibly they are @tmikkelsen on GitHub (dormant account created in 2014).

[2019-08-30 13:08] mdehoon commented on #2229
@KKmushroom  Did you recompile the C code in `Bio/Cluster/clustermodule.c`?
Also, can you try the latest version (1.59) of Pycluster available here:
http://bonsai.hgc.jp/~mdehoon/software/cluster/software.htm#pycluster
You will find precompiled installers there for windows.
This version of Pycluster is identical to the fixed `Bio.Cluster`; just replace "Bio.Cluster" by "Pycluster" in your script.

[2019-08-30 13:45] apierleoni commented on #898
I hereby give my explicit permission to switch to the BSD 3-clause license.

[2019-08-30 13:56] sbliven commented on #2008
Regarding the line length, here's some _**data**_!

Cumulative distribution of line lengths over all python files:
![linelengthscumulative](https://user-images.githubusercontent.com/595872/64022789-3be4c900-cb37-11e9-81db-d23545ed0cd8.png)

Table with some cut points we've been discussing:

| Range        | Lines  | Percentage |
|--------------|--------|------------|
| (-1, 0]      | 32505  | 12.3

[2019-08-30 14:08] sbliven commented on #2236
It should be very straightforward to switch between syntaxes, so I'm not sure what we gain by waiting.

I would like to type the PDB package as I work on the MolQL module (this is coming along nicely btw). However I'm happy to add the type comments in a branch and rebase in 2020.

[2019-08-30 14:16] peterjc commented on #2008
Can you re-run the line lengths for just ``Bio/`` and ``BioSQL/`` please? That is probably more informative. If it would be painless to do this before and after running black, even better - that will highlight any long strings which black currently does not break up.

To be fair, the tests do have a lot of constants for expected values - but now that you've highlighted it, this case is excessive.

[2019-08-30 14:20] peterjc commented on #2236
Well if you have a pressing need, and don't mind dealing with the syntax update, why not have a shot at it for ``Bio.PDB``?

[2019-08-30 14:38] sbliven commented on #2236
Sounds good!

[2019-08-30 14:52] sbliven commented on #2008
Here's everything split apart. I forgot about BioSQL in the last comment, so that was just including Bio and Test.

### Bio

| Range       | Lines  | Percentage |
|-------------|--------|------------|
| (-1, 0]     | 23173  | 15.6       |
| (0, 80]     | 122418 | 97.7       |
| (80, 88]    | 1909   | 99         |
| (88, 120]   | 1219   | 99.8       |
| (120, 2331] | 250    | 100        |
| total:

[2019-08-30 16:14] peterjc opened #2246 "Dual licensing Bio.Nexus"
Sub-issue of #898, we have not yet heard from the original (co)author of ``Bio.Nexus``, Frank Kauff (CVS username fkauff, joined GitHub as @frankkl) about moving to the 3-clause BSD license.

@cymon - do you have his current contact information?

[2019-08-30 16:14] klauskopec commented on #2241
Hey Peter, Christian,

Funny to be contacted for this after so many years, it was a nice blast from my researcher life past!

Obviously, I'm herewith giving you my consent to any license change you need to do for biopython. Further I waive any rights I might have around my contribution to biopython and donate it back to the biopython project or whomever else might be legally entitled to make decis

[2019-08-30 16:15] peterjc commented on #2241
Thank you Klaus - we're not currently setup with a legal entity to hold any copyrights, but it has been suggested. That is all we need for now, much appreciated.

[2019-08-30 16:21] peterjc commented on #2241
Included on pull request #2242

[2019-08-30 16:21] #2241 closed

[2019-08-31 08:01] sjcockell commented on #898
I hereby give my explicit permission to switch to the BSD 3-clause license.

On Thu, 20 Dec 2018 at 10:31, Peter Cock <notifications@github.com> wrote:

[2019-08-31 10:02] tmikkelsen commented on #2243
Yes - I hereby give my explicit permission to switch to the BSD 3-clause
license.

On Fri, Aug 30, 2019, 2:41 PM Peter Cock <notifications@github.com> wrote:

[2019-09-01 00:53] KKmushroom commented on #2229
@mdehoon Thank you！

[2019-09-01 02:20] mdehoon commented on #2229
@KKmushroom  When you use Pycluster, do you still notice any bugs?

[2019-09-01 21:44] mmcguffi opened #2247 "Problem with compound locations wrapping origin in SeqIO"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

3.7.4 (default, Jul  9 2019, 18:13:23)
[Clang 10.0.1 (clang-1001.0.46.4)]
CPython
Darwin-18.2.0-x86_64-i386-64bit
1.74

### Expected behaviour
When opening a gbk file that has a feature which contains a(n incorrectly) specified location which wraps the origin, but also initially contains a

[2019-09-01 23:52] aacampbell commented on #898
I hereby give my explicit permission to switch to the BSD 3-clause license. See also: https://github.com/biopython/biopython/issues/2240

[2019-09-02 06:40] frankkl commented on #2246
Hi there, I'm here :-)

I totally agree to the move.

Cheers,

Frank

Am 30.08.2019 um 18:14 schrieb Peter Cock:

[2019-09-02 09:11] peterjc commented on #2246
Excellent, thank you Frank.

[2019-09-02 09:27] peterjc commented on #2247
Thank you for sharing a self-contained example. I could reproduce this with the latest Biopython code in github. Shorter example code using this file,

[code]

This is from the final feature in the table, a CDS with a compound location (a join):

[code]

The problem is the last exon, ``9713..450``, which ought to be split as ``9713..9877,1..450`` since it spans the origin.

Since the original spec

[2019-09-02 10:24] peterjc commented on #2240
Reply from Alexander Campbell: https://github.com/biopython/biopython/issues/898#issuecomment-526963754 - thank you 👍

[2019-09-02 10:55] peterjc commented on #2240
This is probably the same Paul T. Bathen on facebook: https://www.facebook.com/paul.t.bath

[2019-09-02 10:57] peterjc commented on #2243
Thank you @tmikkelsen - I've opened #2248 to implement this.

[2019-09-02 11:17] peterjc opened #2249 "CodeCov too noisy on pull requests"
We have automated functional tests running on TravisCI and AppVeyor, which report the test coverage to CodeCov https://codecov.io/github/biopython/biopython/

Additionally, CodeCov will report back on all pull requests about the change in coverage (for the whole codebase), and that of the lines changed.

We do not currently require these tests to pass, but if they fail the pull request still gets

[2019-09-02 12:21] peterjc commented on #2249
I've tried setting a Biopython team level default as follows in the CodeCov website:

[code]

If this doesn't work, we can add a ``.codecov.yml`` in the project root of the git repo.

[2019-09-02 12:42] jdferreira commented on #898
I hereby give my explicit permission to switch to the BSD 3-clause license.

I'll note that I had not given my permission yet, but my tick box was already checked on https://github.com/biopython/biopython/issues/898#issuecomment-236920045. Could this also have happened to other contributors?

[2019-09-02 13:12] peterjc commented on #898
Thank you @jdferreira - and yes, it is possible that there have been other accidental ticks.

In practise I've not been using the checks directly. I now have a local file matching usernames to agreements (GitHub comments or mailing list posts), which I am using with a script to check every file as an when it is dual licensed (see e.g. #2225 for a recent example), as described here: https://mailman

[2019-09-02 14:30] nimne commented on #2247
I'm happy to take a look at this to see if the fix is simple. I hadn't considered introns when I made my last fix!

Fortunately, it looks like snapgene (4.2.1) fixes these files - it is able to open them, and saves them with the correct position: ```join(7455..7526,7928..8201,8276..8930,8992..9307,9511..9642,9713..9877,1..450)```

While I'm looking at this, are the other cases to be concerned with

[2019-09-02 14:52] peterjc commented on #2247
@nimne I think fuzziness at the very start or end is more likely, but yes, that kind of thing is possible too in principle.

@mmcguffi what version of SnapGene are you using?

[2019-09-02 15:07] mmcguffi commented on #2247
@peterjc I don't actually use SnapGene, I am doing some computations with data from addgene, which uses SnapGene to annotate their plasmids -- I suppose that the annotations are locked-in from an older version. @nimne I looked at ~30,000 plasmids and this is was the only situation that I saw that threw an error, and there were only a handful at that.

[2019-09-03 16:16] bsmith89 commented on #898
From a comment on #360:

I hereby give my explicit permission to switch to the BSD 3-clause license.

[2019-09-03 17:40] DevangThakkar commented on #1838
Sure, I'll get to it in a bit today. Do we do that for abi as well?

[2019-09-03 19:05] peterjc commented on #1838
Probably for ABI too, subject to approval by @bow

[2019-09-05 18:21] MarkusPiotrowski commented on #2136
`format_alignment` has now a keyword parameter `full_sequences` which can be set to `True` to restore the 'old' output format (showing the whole sequences including the non-aligned parts)

[2019-09-05 18:21] #2136 closed

[2019-09-05 18:22] MarkusPiotrowski commented on #2216
`format_alignment` has now a keyword parameter `full_sequences` which can be set to `True` to restore the 'old' output format (showing the whole sequences including the non-aligned parts).

[2019-09-05 18:22] #2216 closed

[2019-09-06 13:17] rafaeltiveron opened #2257 "AttributeError: 'HTTPError' object has no attribute 'status'"
Testing Entrez as follow, not obtaining server response? Server time out?

`handle = Entrez.esummary(db="pubmed", id="19304878,14630660", retmode="xml")`

[code]
Ref: https://biopython.org/DIST/docs/api/Bio.Entrez-module.html

[2019-09-06 13:20] rafaeltiveron commented on #2257
Yes, it was outstage.

[2019-09-06 13:20] #2257 closed

[2019-09-06 13:28] peterjc commented on #2257
Outstage?

[2019-09-06 14:17] rafaeltiveron commented on #2257
Outage rsrsrsrsr
Sorry

[2019-09-06 14:23] peterjc commented on #2257
Ah - I was unable to connect to Entrez either earlier today.

That aside, the attribute error suggests a problem in our error handling code - but it could be tricky to diagnose without a reproducible test case. Any thoughts @mdehoon?

[2019-09-06 15:31] rafaeltiveron commented on #2257
Connection returned

[2019-09-06 18:53] ghart-IDM commented on #888
Has there been any progress on this?

I am having an issue in which reading a NEXUS tree file all the labels of the internal nodes (which begin with a letter) are being interpreted as as "confidence" instead of "name".

[2019-09-06 23:00] barwil commented on #888
Xv

On Fri, Sep 6, 2019, 20:53 Gregory Hart <notifications@github.com> wrote:

[2019-09-10 13:52] Alp78 opened #2258 "Reverse-translation function"
Is there a function to reverse-translate a protein sequence into RNA, and reverse-transcribe RNA into DNA?

[2019-09-10 14:07] peterjc commented on #2258
Yes for reverse-transcribe:

[code]

https://github.com/biopython/biopython/blob/biopython-174/Bio/Seq.py#L1015

Also there is a ``back_transcribe`` methods on the sequence objects.

See also http://biopython.org/DIST/docs/tutorial/Tutorial.html

For reverse-translate, the problem is ambiguous. See e.g. https://mailman.open-bio.org/pipermail/biopython/2014-April/015245.html

You might want to thre

[2019-09-10 14:11] Alp78 commented on #2258
awesome thanks!

[2019-09-10 14:12] peterjc commented on #2258
Did that cover your use case, and if so can we close this issue?

[2019-09-10 14:14] Alp78 commented on #2258
well, so there isn't a way to back-translate from protein to RNA, right?

[2019-09-10 14:19] Alp78 commented on #2258
smth like this : https://www.bioinformatics.org/sms2/rev_trans.html

[2019-09-10 14:28] andrei-istrate opened #2259 "MMCIFParser. Non integer _atom_site.auth_seq_id"
I get an error when the _atom_site.auth_seq_id is not an integer number.

According to http://mmcif.wwpdb.org/dictionaries/mmcif_pdbx_v40.dic/Items/_atom_site.auth_seq_id.html
this item does not have to be an integer.

### Setup
I am reporting a problem with Biopython version, Python version, and operating
system as follows:

import sys; print(sys.version)
3.6.4 (v3.6.4:d48ecebad5, Dec 18 2017, 21

[2019-09-10 14:30] peterjc commented on #2258
Have you read https://mailman.open-bio.org/pipermail/biopython/2014-April/015245.html ?

What is your use case? Do you want just unambiguous A, C, G, T (or U) in the output? If so, which codon should be preferred when there is a choice? Or, if ambiguous nucleotides are OK, how should we pick when then is more than one representation covering different sets of codons?

My point is no one implementa

[2019-09-10 14:33] peterjc commented on #2259
Your steps to reproduce are incomplete (missing imports, and what's the text below the two lines of Python?).

Can you share an example mmCIF file with a non-integer ``_atom_site.auth_seq_id`` field?

[2019-09-10 14:37] Alp78 commented on #2258
my use case is to get the DNA sequence of this protein: https://www.uniprot.org/uniprot/Q9UN81.fasta
for sure the DNA sequence is available somewhere, but it would be a time saver to have an easy tool to back-translate a protein out of the box. but indeed i get the point of the choice. There could be a function with arguments that cover all use-cases tho, like the choice of alphabet with translate

[2019-09-10 14:46] peterjc commented on #2258
A simple (fast) genetic code based translation table approach simply cannot give you "the" DNA sequence of https://www.uniprot.org/uniprot/Q9UN81.fasta

UniProt proteins can come from more than one nucleotide sequence (even different species if they happen to have the same protein sequence), so there is no single answer - and getting an answer, or the full list, would mean querying UniProt.

In th

[2019-09-10 15:16] Alp78 commented on #2258
cool :) that makes my day. the sequence of ORFs are no more available on Gene so I didn't know where to look. I understand your point regarding the barrier of back-translation. I'm still quite new to bioinformatics, and appreciate your detailed answers. Helps a lot. Thank you! Case can be closed. Cheers

[2019-09-10 15:17] sbliven commented on #2008
Have we reached a concensus on black? If so I'd be happy to do a PR for Bio.Pdb alá #2251.

[2019-09-10 16:29] peterjc commented on #2008
There have been no objections, so if you want to give a quick look at #2251, we can merge that, and then start working on individual modules.

[2019-09-10 16:33] peterjc commented on #2258
Great.

If it helps, I was reading https://www.uniprot.org/uniprot/Q9UN81 and looked at the *Sequence* section. There probably is a way to do this computationally, but I'm not a UniProt expert.

[2019-09-10 16:33] #2258 closed

[2019-09-11 12:15] peterjc commented on #2008
@sbliven #2251 has been merged, you want to do PDB now?

[2019-09-11 13:34] andrei-istrate opened #2261 "MMCIF2Dict ValueError: Opening quote in middle of word"
### Setup
I am reporting a problem with Biopython version, Python version, and operating
system as follows:

import sys; print(sys.version)
3.6.4 (v3.6.4:d48ecebad5, Dec 18 2017, 21:07:28)
[GCC 4.2.1 (Apple Inc. build 5666) (dot 3)]
import platform; print(platform.python_implementation()); print(platform.platform())
CPython
Darwin-18.5.0-x86_64-i386-64bit
import Bio; print(Bio.version)
1.74

Pleas

[2019-09-11 13:45] peterjc commented on #2261
Turning your suggestion into a pull request would be helpful - we'd get to see if this has any side effecting in the test suite etc.

[2019-09-11 13:46] peterjc commented on #2261
@jgreener64 could you look at this please?

[2019-09-11 15:01] jgreener64 commented on #2261
Thanks for raising this. Initially I thought you were correct, though on digging into it I'm not so sure.

The spec also says:

It is ambiguous whether "followed by white space" means "followed by white space in the data value" (in which case ending with a quote is okay) or "followed by a white space in the file" (in which case ending with a quote is not okay). I would prefer to err on the side of

[2019-09-11 15:09] peterjc commented on #2261
Can you report this to REFMAC, highlighting that the PDB wrap such values with double quotes, and see how they view things?

[2019-09-11 15:13] andrei-istrate commented on #2261
I talked with Garib Murshudov (the main developer of REFMAC) and he thinks that wrapping such cases in double quotes is redundant and reduces flexibility so he would prefer to keep it as it is.

[2019-09-11 15:18] peterjc commented on #2261
Do we have any contacts that the PDB who could clarify the spec's intended meaning?

[2019-09-11 15:20] andrei-istrate commented on #2261
I can talk with PDB people.

[2019-09-11 21:32] Alp78 commented on #2258
for the record, the full GenBank data for LINE1 has moved here:
http://l1base.charite.de/exportall.php?SESS=HSL13&START=0&NUM=20&SORT=0

[2019-09-12 01:54] epeisach commented on #2261
If you are doing development work - here is an adjustment to the test suite to test this case...

Speaking from the PDB point of view - we know there are parsers that have issues with edge cases - and in order to be conservative - we are quoting such instances. There is nothing wrong with extra quoting. Other edge cases exist in other parsers - such as  ms#29. Some parsers would treat the # as the

[2019-09-13 08:40] peterjc commented on #2008
For anyone wanting to help: Please try to use separate commits for the black automatic changes, and your own fixes (could be commits before running black like moving comments, or afterwards like changing break points in string literals).

e.g. https://github.com/biopython/biopython/pull/2264#issuecomment-530958184

[2019-09-13 10:11] sbliven commented on #2008
There's now a github bot in development called [black_out](https://github.com/mariatta/black_out). It will automatically run black on any PR that gets tagged 'black out'.

[2019-09-14 18:03] KristaJ opened #2267 "cannot import name 'BiopythonWarning'"
When I try to import PDBParser I get the following error:
cannot import name 'BiopythonWarning'

code to recreate:

[code]

output
[code]

biopython version 1.74

[2019-09-14 19:24] KristaJ commented on #2267
My apologies.  My environment was pointing to the wrong module.

[2019-09-14 19:24] #2267 closed

[2019-09-16 07:50] kblin opened #2268 "Bio.SeqIO fails to parse GenBank transcriptome shotgun assembly records"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

### Expected behaviour

Loading a transcriptome shotgun assembly record should work, similar to how we can load WGS records.

### Actual behaviour

[code]

### Steps to reproduce

See a reproducer above.

[2019-09-16 08:52] peterjc commented on #2268
How does #2269 look?

What are your thoughts on how the record count (``rc`` in ``LOCUS`` line) is currently treated in TSA and WGS files? See also 82a410fedccc67c4ab01eb76b0d91e6d14edd29b

[2019-09-16 18:55] rsharris opened #2270 "Default treatment of .description in SeqIO FASTA format"
### Setup

I am reporting a problem with Biopython 1.74, Python 3.7.3, and linux as follows:

Python 3.7.3 (default, Apr  3 2019, 05:39:12)
[GCC 8.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

3.7.3 (default, Apr  3 2019, 05:39:12)
[GCC 8.3.0]

CPython
Linux-4.19.0-6-amd64-x86_64-with-debian-10.1

1.73

for r in SeqIO.parse(infile, "fasta"):
	d=str(len(r.seq

[2019-09-17 06:53] bitcometz opened #2271 "AttributeError: 'HTTPError' object has no attribute 'status'"
hello, I want to use Entrez.efetch to download the whole rice ESTs for NCBI.
Firstly, I download all the accession_ids from NCBI.
Since the accession_ids are too many, I split them to several files.

When I run just one task to download the seqs, it work well.
However, if I run more than two tasks, then all the tasks report an error：

[code]

Here is my code:

[code]

Could anyone help with this p

[2019-09-17 07:50] kblin commented on #2268
For my use case I don't care about the record count, but I do need to generate the actual IDs of the records. I'm using a [helper class](https://github.com/kblin/ncbi-acc-download/blob/master/ncbi_acc_download/wgs.py#L43) to handle this in `ncbi-acc-download --recursive`. I'm happy to contribute this upstream if that's a feature you'd like in Biopython.

[2019-09-17 08:25] chris-rands commented on #2270
I believe this behaviour is [by design
](https://github.com/biopython/biopython/blob/master/Bio/SeqIO/FastaIO.py#L359)

Would this kind of workaround be okay for you?

[code]

[2019-09-17 08:31] peterjc commented on #2268
You mean expand a range like this:

[code]

to the many thousands of individual entries? Might be useful as a generator/iterator style function - useful in other contexts too. Not sure immediately where best to place that... maybe ``Bio.GenBank``?

[2019-09-17 08:41] chris-rands commented on #2271
Instead of splitting to several files you could try running on a single file and setting the `Entrez.api_key`: https://ncbiinsights.ncbi.nlm.nih.gov/2017/11/02/new-api-keys-for-the-e-utilities/

If you have a really large number of accessions then it might be best to download flat files of the data and parse them rather than querying through Entrez

[2019-09-17 09:13] peterjc commented on #2271
The problem with the error handling looks like a duplicate of #2257 (logged earlier this month, but closed without addressing the error handling).

Reading https://docs.python.org/2/library/urllib2.html#urllib2.HTTPError and https://docs.python.org/3/library/urllib.error.html makes me wonder why it isn't ``.code`` here?

@mdehoon is this a bug introduced with #2164 which added the retry support?

[2019-09-17 09:18] peterjc commented on #2271
@bitcometz Biopython will respect the NCBI Entrez rate limits, but if you run two separate tasks at the same time on the same machine, your machine will probably be making requests too often. The NCBI might block you - that might be the cause of the error message (which we are not handling properly)?

As Chris suggests, for large download tasks there are usually better ways than a loop and one ``e

[2019-09-17 09:25] peterjc commented on #2270
It is indeed by design, due to what was in hindsight a poor design choice in the very early Biopython FASTA parser (setting the full ``>`` line content as the ``.description``). Note you can already change this on the parser if you use ``Bio.SeqIO.FastaIO.FastaIterator`` directly and over-ride the legacy behaviour with a custom ``title2ids`` function argument.

I see no easy way out of this withou

[2019-09-17 10:50] peterjc commented on #2268
Thanks for trying the pull request, that's merged now.

[2019-09-17 10:50] #2268 closed

[2019-09-17 13:09] rsharris commented on #2270
Thanks.

I agree, there's not really any good way to correct this behavior without breaking many existing scripts.

The workaround Chris suggests is what I would use if I were coding something myself (once I became aware of the issue). Basically, since the function assumes you've replicated the id in the description, you'd better replicate the id in the description. However, I'm using a third part

[2019-09-17 14:25] peterjc commented on #2270
You've got a good grasp of this, yes. If you would like to suggest a particular wording on the SeqIO page, a pull request would be welcome.

As to the workaround,  I've use a similar code snippet myself when needing exact control over FASTA output, usually something like: ``record.description = record.id + " " + desired_description``

[2019-09-17 21:17] rsharris commented on #2270
Yeah, I can't think of a good way to bring this up in the SeqIO page. Adding too much special case detail to documentation clobbers readability.

As it is, the description field is only mentioned twice on that page, only in passing. (Maybe it is described in some other section of the documentation?). None of the simple code examples use it. If there were a code example that read fasta and added se

[2019-09-18 08:37] peterjc commented on #2270
There is a lot of ``Bio.SeqIO`` documentation in the Tutorial (a whole chapter), and in the module's docstrings:

http://biopython.org/DIST/docs/tutorial/Tutorial.html

https://biopython.org/DIST/docs/api/Bio.SeqIO-module.html (old URL, will eventually retire this)
https://biopython.org/docs/dev/api/Bio.SeqIO.html (new URL, could change)

[2019-09-18 12:39] peterjc opened #2273 "assertRaisesRegexp -> assertRaisesRegex"
The legacy ``unittest`` class method ``assertRaisesRegexp`` was deprecated in Python 3 in favour of ``assertRaisesRegex`` (no trailing p).

https://docs.python.org/3/library/unittest.html#unittest.TestCase.assertRaisesRegex

However, Python 2.7 only has ``assertRaisesRegexp``

https://docs.python.org/2/library/unittest.html#unittest.TestCase.assertRaisesRegexp

So, **once we drop Python 2.7 suppor

[2019-09-20 04:07] mdehoon commented on #2271
I believe the code checking for the status of an HTTPError was added in commit #4e186c0. @ExplodingCabbage  , can you have a look?

[2019-09-20 10:35] ExplodingCabbage commented on #2271
Huh. Yeah, looks like my error handling is broken. I didn't know there was any circumstance in which a `HTTPError` could not have a `.status` attribute. I'll make figuring out how the heck that happens and fixing it my highest priority this weekend.

[2019-09-20 10:43] ExplodingCabbage opened #2276 "Document max_tries and sleep_between_tries variables in Entrez/__init__.py"
I added these, but didn't document them in the the "Variables:" section of the module docstring. I'll fix it this weekend.

[2019-09-20 11:12] ExplodingCabbage opened #2277 "Handle connection timeouts during body reading in Entrez/__init__.py?"
A weakness of the retry logic I added to `Entrez._open` in https://github.com/biopython/biopython/pull/2164 is that it only catches exceptions that happen prior to reading the HTTP response body. (Indeed, it can't possibly catch errors that happen during reading the body, because `_open` returns a handle to a stream whose data we haven't actually received over the wire yet.) If the connection drop

[2019-09-20 13:19] peterjc commented on #2276
Thanks - that is worth doing

[2019-09-20 15:46] peterjc commented on #2277
Having network handle object which seamlessly handles retry/resume would be nicest from a usability point of view - but that is far more general than just bioinformatics. I wonder if there is an existing package doing this?

Otherwise I lean to (1), just document this with some sensible examples.

[2019-09-21 18:13] ExplodingCabbage commented on #2271
Ah, this is Python 2 vs 3 thing. `HTTPError.status` only exists in Python 3. I ought to have used HTTPError.code instead, which exists in both versions (and is the only one of the two attributes to be documented even in [the docs for Python 3](https://docs.python.org/3/library/urllib.error.html#urllib.error.HTTPError)!) Oops. At least it's trivial to fix!

[2019-09-23 17:05] JJTimmons opened #2280 "key err in DNA_TMM1 of Bio.SeqUtils for two NN pairs"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

### Expected behavior

All terminal mismatch pairs in the terminal mismatch table `DNA_TMM1` are included in nearest neighbor tm calculation

### Actual behaviour

I saw two keys with spaces in the terminal mismatch table `DNA_TMM1`: ` GG/CA` and ` CC/GC`. I don't see a trim or any

[2019-09-23 21:36] MarkusPiotrowski commented on #2280
Thank you @jjtimmens, I'll have a look.

[2019-09-24 08:04] mdehoon commented on #2277
@ExplodingCabbage  In my experience, network access issues are very difficult to fix generally, so I would prefer option 1. With option 3, we may end up with some complex code that still does not work reliably 100% of the time.

[2019-09-24 11:18] ExplodingCabbage opened #2281 ""make -C Doc/api/ html" exits with code 1 unless you create _static folder first"
In .travis-tox.ini, this command is run before `make -C Doc/api/ html`:

[code]

If I try to build the docs locally without doing this first, I get a warning at the start...

and ultimately the build reports a failure as a consequence:

[code]

This is fixed if I run the `mkdir` command before building. This seems like a minor but easily fixable source of confusion for someone trying to build the

[2019-09-24 19:59] kalilamali commented on #1248
What worked for me was: :)
1. dowload biopython-1.74.tar.gz 16Mb – Source Tarball manually from https://biopython.org/wiki/Download
2. decompress/unzip/tar biopython-1.74.tar.gz
3. in the terminal:
python setup.py build
python setup.py test
sudo python setup.py install
4. DONE! https://pypi.org/project/biopython/

[2019-09-25 08:45] peterjc commented on #2281
Moving the ``mkdir`` in to ``Makefile`` sounds simplest - do you want to make a pull request on that?

[2019-09-25 08:54] #2276 closed

[2019-09-25 08:56] #2271 closed

[2019-09-25 08:57] peterjc commented on #2271
Mystery solved - looks like a Python 3 documentation issue with ``.status`` not being described. Thanks for resolving this.

[2019-09-26 13:12] menzel opened #2284 "Motif from pfm-four-columns format doesn't work"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

3.7.4 (default, Jul 16 2019, 07:12:58)
[GCC 9.1.0]
CPython
Linux-5.2.13-arch1-1-ARCH-x86_64-with-arch
1.74

### Expected behaviour

weblogo should create a .pdf file with the logo of my given pfm

### Actual behaviour

"pfm-four-columns" is unknown to Bio.motifs.  In pfm.py line 31 it is e

[2019-09-26 13:26] peterjc commented on #2284
Looks like the left-over underscores are my fault, 5f9a853e7e06727631d1b31d1218f672be612634 - we must be missing a test case for this.

[2019-09-26 13:44] peterjc commented on #2284
@mdehoon the web-logo alphabet code expects ``'ACGT'``, but PFM, XMS, clusterbuster all use ``'GATC'``. Should the check be relaxed, or the order standardised?

[2019-09-26 14:13] chris-rands commented on #2270
I can write a PR for the tutorial ([here](https://github.com/biopython/biopython/blob/master/Doc/Tutorial/chapter_seqio.tex) I guess?) with an example of how to rename a FASTA title when using `SeqIO.parse()` and `SeqIO.write()` via the 'workaround' if it helps?

this question has been asked on a few forums too:
https://bioinformatics.stackexchange.com/questions/307/changing-the-record-id-in-a-fas

[2019-09-26 14:21] peterjc commented on #2270
Yes, that is the source of the SeqIO chapter in the tutorial - written in LaTeX for now.

As to the clean code - Good question, I don't remember why I did the double space to single space, but it was originally here:

d1b1acbba8c87fe8780258319a580e2971823e3c

This now exists in both SeqIO and AlignIO - by all means try removing that and if nothing breaks in the test suite, make a pull request.

[2019-09-26 18:53] #2280 closed

[2019-09-27 15:17] peterjc commented on #2234
Merged, thank you! By the way - do you want to be named in ``NEWS.rst`` and ``CONTRIB.rst``?

[2019-09-27 15:17] #2234 closed

[2019-09-29 00:20] Alp78 opened #2290 "pairwise2"
when doing a pairwise alignment of two sequences that don't have the same length, but have big matching chunks from a long distance from the start of the long one (~400bp), pairwise2 is not picking these first, but starts matching little chunks down to the base from the start of the long sequence, stretching and splitting the short sequence so that both sequences match in length all the short base

[2019-09-29 15:25] jimmytwright1 commented on #2273
Let me in

[2019-09-29 16:27] 7291521417 commented on #2273
afirmarRaisesRegex # 2273

[2019-09-29 22:08] MarkusPiotrowski commented on #2290
@Alp78
`globalxx` or `localxx` are not using very useful settings for your needs. Please have a look at the [api](http://biopython.org/DIST/docs/api/Bio.pairwise2-module.html). This explains how to use and set the different options of `pairwise2`.

'xx' means the following settings: match: 1, mismatch: 0, gap: 0

To make a meaningful DNA alignment you may want to use settings like: match: 5, misma

[2019-09-29 23:08] dimucciojonathan commented on #2273
Right here!

[2019-09-30 08:47] peterjc commented on #2284
This should be fixed in the next release, thank you for reporting it.

[2019-09-30 08:47] #2284 closed

[2019-09-30 08:57] peterjc commented on #2273
I've just hidden a couple of apparently spam comments from accounts created in the last 24 hours (there was other spam/bot activity over the same time period).

@dimucciojonathan Was your comment in reply to one of those?

[2019-09-30 13:22] Alp78 commented on #2290
great yes that's a lot better, thank you. i'll keep experimenting with the settings.

[2019-09-30 13:22] #2290 closed

[2019-09-30 15:45] dimucciojonathan commented on #2273
No, I’m just someone who is looking to get into working with open source projects. Biopython seems like a great project, if you have anything that can be worked on / tested, I’m open to being pointed in the right direction!

[2019-09-30 16:01] peterjc commented on #2273
@dimucciojonathan Great. Anything with the "good first issue" tag would be worth a look. This particular issue will have to wait until early 2020 once we've done our final release with Python 2.7 support.

[2019-09-30 16:03] dimucciojonathan commented on #2273
Great, I will take a look later today. Thanks for the quick response

[2019-10-03 16:44] #2002 closed

[2019-10-04 08:46] peterjc commented on #2281
Fixed, thank you!

[2019-10-04 08:46] #2281 closed

[2019-10-04 17:06] FantacticMisterFox opened #2292 "Changing string in .gbk qualifiers introduces space after saving back to gbk"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

### Expected behaviour

I would expect that if I change the string of a qualifier in a sequence record this string is the same after saving the file to disk as a gbk file.

### Actual behaviour

Saving the string introduces white space at 52th and every (n*60+52)th position. Corres

[2019-10-07 09:37] peterjc commented on #2292
This is unavoidable given the line wrapping design of the GenBank format. Most qualifiers (including "note") assumes free text with space separation, with default line breaking at a suitable space which is not explicitly recorded. This is usually only a problem with very long chemical names, for example when describing an enzyme. Note that some qualifiers assume no spaces, e.g. "translation".

Wha

[2019-10-07 11:52] FantacticMisterFox commented on #2292
Just a long ID. I mean I can remove all white spaces but as some qualifiers like the one you mentioned to not introduce white space but I assume that biopython does this internally. Anyhow if this is due to gbk than I will close the issue.

[2019-10-07 12:15] peterjc commented on #2292
Thanks. The only way to do this in GenBank format would be to break the line length limit, so there is no good workaround other than accepting line breaks will be inserted on output (and give you extra spaces on parsing).

[2019-10-07 12:15] #2292 closed

[2019-10-09 11:35] jrjhealey opened #2294 "PairwiseAligner() alignments have no attribute .aligned"
### Setup

This issue is based on this BioStars thread (https://www.biostars.org/p/402141/#402156), and this twitter thread https://twitter.com/Biopython/status/1181892294485651456.

I can emulate this on my setup listed below, though I didn't originally report the problem (as per the biostars thread). I have asked the OP for their system details too.

[code]

### Expected behaviour

As per sectio

[2019-10-09 11:37] jrjhealey commented on #2294
Tagging @mdehoon as requested.

[2019-10-09 11:42] MarkusPiotrowski commented on #2294
AFAIK, `aligned()` was introduced post 1.73. Try updating to Biopython 1.74.

[2019-10-09 13:46] jrjhealey commented on #2294
BioStars OP confirmed updating to a newer version fixes, thanks!

[2019-10-09 13:46] #2294 closed

[2019-10-09 13:54] peterjc commented on #2294
Thanks for being the relay, glad it was an easy one.

[2019-10-09 15:20] michaelsilverstein commented on #1729
For a quick visualization of large alignments, I found it helpful to "chunk" up the alignment into segments of size `n`. This is kind of trivial for such a short alignment, but I found helpful for alignments of hundreds of base pairs:

[code]
Output:
[code]

[2019-10-10 15:23] peterjc commented on #2270
I think we can close this with the updated Tutorial?

[2019-10-10 16:57] rsharris commented on #2270
Seems reasonable to me, FWIW.

[2019-10-11 08:37] #2270 closed

[2019-10-13 08:40] joshuacooked commented on #2273
Did this end up getting solved? If not I'd be more than happy to take it on?

[2019-10-13 08:48] joshuacooked commented on #1988
If still needs to be fixed I am able to do it. I previously have made a program to alter the text input so the error doesn't occur, so I am pretty familiar with the issue.

[2019-10-13 18:22] bow commented on #2218
Both: Sorry for the long delay in responding, had been away off GitHub the past few weeks ~ back now :).

@claudiusmueller: #2291 (which was just recently merged) seems to solve this. Would you mind confirming that this is the case?

@peterjc I realized the current tests in `tests_SearchIO_write.py` does not really cover this as they are all round-trip parse-and-write tests. How would you prefer a

[2019-10-13 18:29] dimucciojonathan commented on #2273
It has not been solved yet, feel free to take over!

[2019-10-14 04:20] joshuacooked commented on #2273
Sweet, I'll get to it.

[2019-10-14 08:36] peterjc commented on #2273
It can't be be solved until next year because in the short/medium term we still support Python 2.7, which does not have ``assertRaisesRegex``. Perhaps I didn't word this issue clearly enough?

[2019-10-14 08:56] peterjc commented on #2218
I would have expected a round trip to exercise most of the object attributes, but evidently not.

Perhaps (format specific) parsing tests which check all the attributes explicit? Lots of Michael's tests are like that - although for this one file per format, and checking just one of each object in the hierarchy, is probably enough?

[2019-10-14 08:56] joshuacooked commented on #2273
Yeah, I thought that may be the case. Im new to using Github so I thought
the commit could maybe be frozen until 2020.

Happy to fix around that date. Until then Ill look for other issues to
solve.

On Mon, 14 Oct. 2019, 7:36 pm Peter Cock, <notifications@github.com> wrote:

[2019-10-14 08:59] peterjc commented on #2273
Well, you could make a branch with the changes now - and while there could be no merge conflicts when we come to use it, the changes are it will need manual updating. I'd recommend leaving this issue for now.

[2019-10-14 09:01] peterjc commented on #1988
It looks like with #1986 and #2082 merged this issue can be closed?

[2019-10-14 15:09] victorlin commented on #1988
@peterjc those 2 PRs updated the MAST parser. MEME parsing as of now seems to still be based on the text file which is prone to errors.

Looks like it would be better to switch to XML only for MEME as well – I can help rewrite the parser accordingly.

[2019-10-14 15:15] peterjc commented on #1988
Ah - an important distinction. Volunteering to work on XML for MEME sounds good!

[2019-10-14 17:01] bow commented on #2218
This particular case has to do with how an attribute is calculated differently depending on the data source. [There is a function written specifically to accomodate cases](https://github.com/biopython/biopython/blob/master/Bio/SearchIO/BlastIO/blast_tab.py#L166) where the target attribute (`mismatch_num`) is not present but can be derived from existing ones.

When we do a round-trip, `mismatch_num

[2019-10-16 03:03] svalqui commented on #2259
Hi @andrei-istrate , yes the value doesn't need to be an integer.

I have an issue with the test_cif.txt, it seems that when I download it, it contains single quotes

ATOM       55890 O  O5'  . U   2   46    20          O5'  . U     20   120.414   110.603   132.073 1.000    261.140 .    20    U   2 O5'  .    1
ATOM       55891 C  C5'  . U   2   46    20          C5'  . U     20   120.205   110.733

[2019-10-16 06:53] valeryweber opened #2304 "parse EMBL-CDS in uniprotIO"
Dear All
would it be possible to add those few lines below in file UniprotIO.py (function _parse_dbReference) at line ~310?

Many thanks
valery

           #<dbReference type="EMBL" id="U96180">
            #   <property type="protein sequence ID" value="AAB66902.1"/>
            #   <property type="molecule type" value="mRNA"/>
            #</dbReference>
            if 'type' in element.attrib:

[2019-10-16 08:54] andrei-istrate commented on #2259
Hi @svalqui

Thanks for looking into this.
The issue with single quotes was discussed here: https://github.com/biopython/biopython/issues/2261

I have attached a file with no single quotes:
[test_cif.txt](https://github.com/biopython/biopython/files/3733343/test_cif.txt)

[2019-10-16 09:09] peterjc commented on #2304
You can submit this change as a pull request (if you don't like git at the command line, GitHub will let you edit ``UniprotIO.py`` on a forked copy of the repository, entirely within your web-browser)?

We'd also need a test - it looks like one of our existing test files like ``Tests/SwissProt/multi_ex.xml`` would be fine for this.

Why are you suggesting "EMBL-CDS:" as the prefix? Is this a conve

[2019-10-16 09:56] jgreener64 commented on #2259
According to the spec non-integer values are allowed, though they don't appear in any PDB entries. The `_atom_site.pdbx_PDB_ins_code` field is used for insertion codes by the PDB and by the Biopython mmCIF parser; putting the insertion code there should make this work.

The lines that cause the error are:
https://github.com/biopython/biopython/blob/f97a7ada67b597ac557aae51fb08868348e0943b/Bio/PDB/

[2019-10-16 11:33] valeryweber commented on #2304
For testing, do you check vs a reference? if yes where is it that I add the check?

The name is coming from uniprot id mapping file (ftp://ftp.uniprot.org/pub/databases/uniprot/current_release/knowledgebase/idmapping/). if you want something else just let me know.

Then, I ll PR.

[2019-10-16 16:22] peterjc commented on #2304
I was thinking a test which would parse one of our example (e.g. ``Tests/SwissProt/multi_ex.xml``) and verify that the first record's ``.dbxref`` had the ``EMBL-CDS:...`` entry in it.

Quite possibly all you will need to do is the code change in ``UniprotIO.py``, and then update the existing tests in ``Tests/test_Uniprot.py`` which look at ``.dbxref`` which currently do not have a ``EMBL-CDS:...``

[2019-10-17 06:48] svalqui commented on #2259
@andrei-istrate , Thank you, I can replicate the error now.
@jgreener64 , Thank you for your input.
I'll review this; I'll comment in a couple of days.

[2019-10-17 12:02] iosonofabio commented on #898
I agree as well, please use whichever license you see fit.

[2019-10-21 03:06] svalqui commented on #2259
@jgreener64 , if you have sometime could you please review the above PR?

[2019-10-21 20:10] colombianBirdPerson opened #2309 "Pairwise alignment causing kernel restart"
### Setup

I am reporting a problem with Biopython version 3.7.3, Python version 7.3.0, and operating
system Linux-4.18.0-25-generic-x86_64-with-debian-buster-sid 1.74.

### Expected behaviour

Successful pairwise alignment

### Actual behavior

kernel dies and restarts automatically, without any error message

### Steps to reproduce
[code]

[2019-10-22 00:54] mdehoon commented on #2309
I get the following traceback with this code:
[code]

[2019-10-22 00:55] mdehoon commented on #2309
Have you tried with the new `PairwiseAligner` in `Bio.Align`?

[2019-10-22 07:29] MarkusPiotrowski commented on #2309
@colombianBirdPerson I don't know why your system fails without error message, but I get the same error as @mdehoon:
[code]

This means that your matrix is not complete, you are missing the '3 bases' letters B (C, G or T =not A) and V (=not T) (and for a general matrix: H (=not G) and D (=not C)) .

[2019-10-22 12:08] StromTroopers opened #2311 "PAML issue : Empty results file."
### Setup

I am reporting a problem with Python 3.7.4 (default, Aug 13 2019, 20:35:49) , and BioPython on

[code]

### Expected behaviour

It is supposed to produce an output file but I keep getting the error shown below:

### Actual behaviour

I downloaded PAML from the latest release  by doing :

[code]

Then I activated my conda env :

[code]

Then I opened python3 and produced de following com

[2019-10-22 20:37] Benjamin-Guinet commented on #2311
Hi, I get the following error message:

AAML in paml version 4.9, March 2015

[code]

[2019-10-23 13:18] chris-rands commented on #2309
I think you can select an appropriate matrix from `Bio.SubsMat.MatrixInfo` without the missing keys, e.g. the following results in no error:

[code]

[2019-10-23 13:26] MarkusPiotrowski commented on #2309
BLOSUM is a protein (amino acid) matrix, these here are nucleotide
sequences.

[2019-10-23 13:54] chris-rands commented on #2309
@MarkusPiotrowski technically they *could* be protein sequences based on the alphabet, but i agree that looking at the actual sequences it's not the case. In fact I think `Bio.SubsMat.MatrixInfo` only provides aa matrixes so my previous comment was unhelpful, thanks for pointing that out

[2019-10-24 06:10] valeryweber commented on #2304
hi peter
when are you going to merge the PR 81 with the master?
thanks

[2019-10-24 20:04] ChrisMoth opened #2312 "Bio/Alphabet deprecation warnings generated by BioPython / Our use of IUPAC data"
### Setup

In Biopython 1.74, Python version 3.7.4 (Anaconda Oct 2019), and Centos 7, the Issue 2046, coming deprecation of Bio.Alphabet, is emitted by the BioPython library itself.

[code]

### Expected behaviour

1) Before a deprecation error was emitted like the one in Bio/Alphabet/__init__.py, the surrounding package would have first been updated to no longer use it.

2) Also, It is not possib

[2019-10-25 04:44] rthapa26 opened #2313 "biopython - protein aromaticity estimation"
Hi,

I want to estimate protein aromaticity. I have a fasta file of protein sequences. I am using the following code but getting an error - (AttributeError: 'str' object has no attribute 'aromaticity'). Could you please provide any suggestion? Thanks

[code]

Edited by @MarkusPiotrowski for code formatting

[2019-10-25 06:40] Jarlan1207 commented on #2229
@mdehoon Hi, I have the same problem when i working on Linux. Can u tell me what should i do?

[2019-10-25 07:58] mdehoon commented on #2229
@Jarlan1207  See my comment of August 30.

[2019-10-25 08:28] Jarlan1207 commented on #2229
@mdehoon Sorry, I can't find it. Could u give me a link about it

[2019-10-25 13:48] MarkusPiotrowski commented on #2313
@rthapa26 Although you are importing many Biopython libraries, you are not using them. You open a file, read it line by line as strings and put the strings into a list. Then you go to the list and want to print each entry's aromaticity. But the entry (your `i`) is still a 'normal' Python string.

I strongly suggest investing some time in reading the [Biopython tutorial](http://biopython.org/DIST/d

[2019-10-25 14:05] MarkusPiotrowski commented on #2309
@colombianBirdPerson I guess the solution to your principal problem (missing data in your matrix) was explained.
We cannot reproduce that your 'kernel dies and restarts automatically without any error message', however, your example code was not complete (missing import) and contained errors (different sequence names) so maybe there are other factors in your complete script which results in this b

[2019-10-25 14:43] mdehoon opened #2314 "SeqIO.parse & File.as_handle bug"
The `parse` function in `Bio.SeqIO` looks like this:
[code]

I am wondering what this code should become now that we have dropped Python 2.4. While `i` is (in most cases) a generator function, simply doing `return i` will not work as the file handle gets closed as soon as we leave the `with` block.

We could move the `with` statement to the generator function in each of the submodules of `Bio.SeqI

[2019-10-25 16:23] mdehoon commented on #2314
The `parse` function in `Bio/AlignIO/__init__.py` also uses `as_handle` to start a `with` block. There the suggestion is made to use `yield from i` once we drop python2. However, the advantage of being able to do `return i` is that the iterator may contain additional information that gets lost if we do `yield from i`.

[2019-10-26 16:08] rthapa26 opened #2315 "error on importing Bio.SeqUtils.CodonUsageIndices"
Hi,

I am getting this error. How could I deal with this? Thanks
[code]

Edited by @MarkusPiotrowski for proper code formatting

[2019-10-27 12:34] MarkusPiotrowski commented on #2315
Why do you try a relative import with `.` instead of:
[code]

[2019-10-28 03:44] svalqui commented on #2259
Hi @peterjc
Could you please close #2307  , that doesn't address this issue.

To resolve this _atom_site.auth_seq_id would need to be taken as character as defined in the specification, PDB currently uses it as integer, changing it requires initial changes to

Bio.PDB.MMCIFParser.py
Bio.PDB.StructureBuilder.py

affects the structure of Residue, needs further changes in Bio.PDB and Bio.SeqIO
would

[2019-10-29 00:29] MatthewRalston opened #2316 "ValueError from BgzfBlocks on file created with BgzfWriter.write"
### Setup
Hi everyone,
I've read the documentation for [`Bio.bgzf`](https://biopython.org/DIST/docs/api/Bio.bgzf-module.html) and I'm sufficiently confused by a file being considered 'invalid' by `BgzfReader` when the file was produced by `BgzfWriter`.

[code]

### Expected behaviour

I expect a new BGZF file created with the `BgzfWriter` and `write` methods to put the header and EOF bits, creatin

[2019-10-29 20:47] MatthewRalston commented on #2316
Upon another inspection of the codebase, it looks like the toy example I'm using to print the header and a simple block is too small to trigger the 'else' block which writes the header as well as the data. Instead, the [if statement](https://github.com/biopython/biopython/blob/cfb26444d0c84fa5d0aa8f1ed897941afd02e58b/Bio/bgzf.py#L795) is triggered, data is loaded into the buffer, and the method re

[2019-10-30 01:47] MatthewRalston commented on #2316
Interestingly, the file `helloworld.bgzf` produces no errors when tested with the `bgzip` CLI. Moreover, decompression and recompression with `bgzip` still produces a file considered invalid by Bio.bgzf.

[code]

The `ValueError` persists when reading `foo.bgzf` as produced above.

[2019-10-30 02:00] MatthewRalston commented on #2316
Okay, the answer was quite simple:
I needed to open the bgzf with `mode='rb'`

[code]

[2019-10-30 10:31] peterjc commented on #2316
Yes, this is what you were expected to use:

[code]

The ``BgzfBlocks`` function expects a native binary handle - not a BGZF reader object as per the documentation via ``help(bgzf.BgzfBlocks)`` or online:

http://biopython.org/DIST/docs/api/Bio.bgzf-module.html#BgzfBlocks
https://biopython.org/docs/1.74/api/Bio.bgzf.html#Bio.bgzf.BgzfBlocks

Perhaps we should catch this user-error, and raise a ``T

[2019-10-30 12:55] peterjc commented on #2316
I think we can close this - the next release will make this easier for anyone else trying the same function. Thanks!

[2019-10-30 12:55] #2316 closed

[2019-10-30 13:20] peterjc commented on #2312
I don't see a deprecation warning, I see the silent by default ``PendingDeprecationWarning`` which is probably what you meant. I agree that once this moves to a full ``DeprecationWarning`` we wouldn't want other Biopython code to trigger it. But right now avoiding this would be a lot of effort (wrapping over 150 import lines with a warning silencing context manager) for a tiny benefit.

The is no

[2019-10-30 13:23] peterjc commented on #2229
@Jarlan1207 he meant further up on issue on GitHub, describing how to try the standalone version of the clustering code (which is available separately from Biopython). Link:

https://github.com/biopython/biopython/issues/2229#issuecomment-526595459

[2019-10-30 13:25] peterjc commented on #2311
It looks like you're going to have to run PAML directly to work out what is breaking, since I don't see any helpful error message that Biopython could pass on.

[2019-10-30 13:27] peterjc commented on #2311
@brandoninvergo As the author of Biopython's PAML wrapper, do you have any ideas?

[2019-10-30 13:29] peterjc commented on #2304
Pull request 81 was merged years ago. You probably meant #2310

[2019-10-30 13:31] peterjc commented on #2304
Also, if you answered this question I missed it - why are you suggesting ``EMBL-CDS:`` as the prefix? Is this a convention used elsewhere?

[2019-10-30 13:47] brandoninvergo commented on #2311
I agree, first test the PAML tools outside of Biopython.

However, one thing jumps out at me: that's a nucleotide alignment and the verbose output indicates that AAML is running, which is for amino acid sequences.

One hint: try changing the sequence IDs in your alignment.  Make them much shorter and remove the special characters.  PAML has a pretty dumb Phylip parser (or maybe it strictly adheres

[2019-10-30 13:53] valeryweber commented on #2304
this is the uniprot naming for this key (ftp://ftp.uniprot.org/pub/databases/uniprot/current_release/knowledgebase/idmapping/)

[2019-10-30 14:02] peterjc opened #2318 "editable/develop install warning: You may be importing Biopython from inside the source tree."
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

(*Please copy and run the above in your Python, and copy-and-paste the output*)

### Expected behaviour

No warning ``BiopythonWarning: You may be importing Biopython from inside the source tree. ...``

### Actual behaviour

Noisy warning as above.

### Steps to reproduce

Using pi

[2019-10-30 14:40] Jarlan1207 commented on #2229
@peterjc Thank you

[2019-10-30 15:54] peterjc commented on #2314
Currently the internal API gives each parser a file handle (in the expected mode), only the top level API allows a file handle or a filename. I don't immediately see any benefit.

(Also having the top level list of binary formats is quite handy for the test suite, but that is minor.)

Is that example correct? I don't see how it could work, unless you return a custom iterator object which _also_ su

[2019-10-31 09:19] chris-rands commented on #2318
We discussed quite a few alternatives in #2007, none of which were perfect. Do you have I suggested fix?

[2019-10-31 12:50] peterjc commented on #2318
I've not looked into how exactly editable mode works - it seems to cope with C extensions with them too in the source tree - this is on macOS:

[code]

Perhaps the original try/excepts on all the C code imports was better, despite being more work?

CC @mdehoon

[2019-11-01 20:27] jadolfbr commented on #1551
A renumber chain function would work well.  I will try the workaround.

[2019-11-03 16:43] kenibrewer opened #2322 "Biopython elink returns results for the wrong database"
### Setup

I am reporting a problem with Biopython version 1.74, Python version 3.7.3, and running in a docker image based on jupyter/scipy-notebook. I also reproduced the problem in the official biopython/biopython-notebook docker image which runs Python 3.5.2. and Biopython version 1.69.dev0:

[code]

### Expected behaviour

Requesting links between from the nuccore database to assembly database

[2019-11-03 16:51] kenibrewer commented on #2322
Never mind. This error was caused by the presence of the "_"s in the db_from and "link_name" parameters. Perhaps it may be good to check the arguments and provide error messages if incorrectly spelled arguments are used.

[2019-11-03 17:06] #2322 closed

[2019-11-04 10:06] peterjc commented on #2322
I have often wished the NCBI Entrez API had more consistent error handling. Anyway, glad you solved it.

[2019-11-06 14:44] doko42 opened #2325 "Python 3.8 now throws an exception when modifying a dictionary while iterating"
Python 3.8 now throws an exception when modifying a dictionary while iterating

[code]

[2019-11-06 14:47] peterjc commented on #2325
Rather than doing ``dict(self)`` probably ``list(self)`` would be enough. Do you have a test case triggering this? Our existing unit tests evidently don't cover it...

[2019-11-06 14:56] doko42 commented on #2325
https://launchpad.net/ubuntu/+source/python-biopython/1.73+dfsg-1ubuntu3
please see the debian/rules file or at the build logs how the tests are invoked. I looks to me like the upstream testsuite, however that's still 1.73.

[2019-11-06 15:07] peterjc commented on #2325
I don't understand why with our master branch (where nothing has changed in this regard) the same tests pass on Python 3.8, but the issue itself seems clear.

We ere using a pre-release, but here it is Python 3.8.0 (final):
https://travis-ci.org/biopython/biopython/jobs/608217669

Anyway, @mdehoon do you want to take this one?

[2019-11-06 17:33] peterjc commented on #2325
See this now on the Biopython 1.75 wheel tests (still puzzled why our main TravisCI setup missed it), Linux:

https://travis-ci.org/biopython/biopython-wheels/jobs/608308357
https://travis-ci.org/biopython/biopython-wheels/jobs/608308358

macOS probably too (waiting for that to run).

[2019-11-06 19:30] peterjc commented on #2325
I understand the test results now, on our main TravisCI:

[code]

Until recently, NumPy was not available for Python 3.8 - it is now, and the wheels had it installed for testing.

[2019-11-06 20:48] #2325 closed

[2019-11-07 17:18] hwalinga opened #2328 "Using keyword arguments in pairwise2.align.globalxx"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

(*Please copy and run the above in your Python, and copy-and-paste the output*)

So, when using the pairwise2.align function you have to pass in values to calculate the score of the alignment. These are 4 values, and it quickly becomes unreadable what these values actually are. It

[2019-11-07 17:29] peterjc commented on #2328
This is some very old code, and nowadays would not be written in this style. However, from a quick look it probably would be possible to do what you want by editing this part of the code:

https://github.com/biopython/biopython/blob/biopython-175/Bio/pairwise2.py#L365

However, you might find the new pairwise alignment code in ``Bio.Align`` since Biopython 1.72 a suitable replacement?

[2019-11-07 18:02] hwalinga commented on #2328
I have taken a brief look at `Bio.Align.PairwiseAligner`, but it seems you need to change the scoring function by changing the attributes of a class.

[code]

Yes, it is more clear. However, it would still be nice to use keyword arguments instead.

But would you say using pairwise2 is discouraged? Since, I really like the localxx, and globalxx syntax where xx can specify different kinds of alignme

[2019-11-08 07:28] MarkusPiotrowski commented on #2328
@hwalinga I'm taking care of `pairwise2` for a few years now and wouldn't say that the use of it is discouraged. As you said, it's a neat API and it's easy to use in script-like code (once you are familiar with the module).

If you do many alignments on long sequences you may want to use the new `PairwiseAligner`, it's not only (much) faster, also you still have the alignment object after the doin

[2019-11-08 09:32] mdehoon commented on #2328
@hwalinga

Just to give some background on why the `PairwiseAligner` class in `Bio.Align` was designed the way it is:

[code]

In total there are 12 numbers that define the gap scoring scheme:
 - 2 for target or query
 - 2 for gap open or gap extend
 - 3 depending on the gap being on the left, within, or on the right of the sequence being aligned
This gives 2 x 2 x 3 = 12 basic attributes. As `Bio

[2019-11-08 09:38] mdehoon commented on #2328
@hwalinga

The second difference between the `Bio.pairwise2` and the `PairwiseAligner` in `Bio.Align` is that the former uses functions and the latter an object-oriented design. The reasons for this are practical:
- Speed: with a function, Python needs to figure out the gap score settings every time you want to align two sequences. This may not matter if you want to align just a few sequences, but

[2019-11-08 10:05] mdehoon commented on #2328
@hwalinga

With all due respect for @MarkusPiotrowski  who has been doing an excellent job of maintaining this code, I do think it is better to transition to the `PairwiseAligner` in `Bio.Align`. I am of course heavily biased, but anyway here are the two main problems I see in `Bio.pairwise2`:

- The design of `Bio.pairwise2` is unpythonic . Parsing function names instead of arguments makes no sen

[2019-11-08 10:10] mdehoon commented on #2328
@hwalinga

To make the `PairwiseAligner` easier to use, we could consider adding functions to `Bio.Align` so you could do something along the lines of
[code]

[2019-11-08 10:44] MarkusPiotrowski commented on #2328
With the recent updates in `PairwiseAligner` so that you can also use it to align any objects (e.g. three-letter sequences), the main reason for keeping `pairwise2` that remains is backward compatibility. Ease of use is another but minor reason (@mdehoon: I like the idea of adding class methods to `PairwiseAligner`).

I mentioned in an earlier discussion that the next step for `pairwise2` is proba

[2019-11-08 11:03] mdehoon opened #2332 "Seq __format__ should return a string"
### Setup

I am reporting a problem with Biopython version 1.75, Python version 3.6, and operating
system as follows:

CPython
Darwin-18.7.0-x86_64-i386-64bit
1.76.dev0

[code]

This is coming from the `__format__` method in `SeqRecord`:
[code]

i.e. if `format_spec` is in `SeqIO._BinaryFormats`, then on python3 we will be returning bytes.

Something along these lines  may work better:
[code]

i.e

[2019-11-08 12:20] peterjc commented on #808
I'm looking at some code from Adam Sjøgren to extend the extract method:
https://mailman.open-bio.org/pipermail/biopython/2019-November/016725.html

I've just been looking at the two trans-splicing examples from *Amborella trichopoda* between mtDNA I and III (accessions KF754803.1 and KF754801.1), i.e. proteins AHA47098.1 and AHA47124.1). Their annotation says there is RNA editing, so even while w

[2019-11-08 12:34] peterjc commented on #2332
If Python 3 now insists that ``__format__`` returns a (unicode) string, then for binary formats it should give a meaningful error instead. Do you have older versions of Python already installed to see if and when that changed?

[2019-11-08 13:38] mdehoon commented on #2332
@peterjc  Python 3.3 at least; it also complains if `__format__` does not return a string.

[2019-11-08 14:15] peterjc commented on #2332
I think we should raise a ``ValueError``, but in the short term Python 2 can continue as now but with a deprecation warning.

[2019-11-08 17:51] hwalinga opened #2335 "*.py{} in .gitignore is most likely not a used file extension"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

#### The problem

In the `.gitignore` of this repo there is the pattern `*.py{}`. I thought this was a strange pattern and when I asked on [Stackoverflow](https://stackoverflow.com/questions/58753064/what-is-the-py-extension) nobody knew what it was and just considered it a bug.

A

[2019-11-08 19:02] peterjc commented on #2335
It was added in 4c7c62939426aee65e4ad69979515817e9a3091b and according to my commit comment, I thought these extensions were from PyPy - which has come a long way in 5 years and may not produce  such files anymore. Or, looking back, it might have been from Jython or IronPython - neither of which we officially support?

Do you use PyPy? If it doesn't produce the files, then it should be safe to upd

[2019-11-09 12:12] anntzer commented on #344
Closed by #1957.

[2019-11-09 12:12] #344 closed

[2019-11-09 14:50] hwalinga commented on #2335
Yes, I can remove this entry safely and be happy using `ripgrep` again. But raising this issue was more intended to remove this from the master here so that any people after me using `ripgrep` while working on this repo won't encounter the same issue, as it is rather hard to figure out on your own why `ripgrep` does not work, and it is unlikely this is really a file extension that is in use.

[2019-11-09 21:14] hwalinga commented on #2008
I would advise to use black as it is intended: That is only apply black on whole files and not work with files that are partially black formatted and partially not.

However, if there is ever a situation you just want to format a part of the file, there is https://github.com/wbolster/black-macchiato Just sharing my knowledge.

[2019-11-09 22:47] hwalinga commented on #2328
At first, thank you for the excellent discussion on this proposal.

---

@mdehoon

Well, that's the exact reason I raised this issue :).

---

I think that having kwargs in the PairwiseAligner.align function would on itself already be a big improvement. Also, not that hard to do. In fact, I coded it already:

https://github.com/hwalinga/biopython/tree/PairwiseAligner-add-kwargs

Good for a PR? Sti

[2019-11-10 03:13] mdehoon commented on #2328
@hwalinga

The `target_gap_function` and `query_gap_function` functions are documented in section 6.5.2.5 (General gap scores) of the Biopython tutorial. Please see the example in the documentation on how to use these functions. They provide the same functionality as in `Bio.pairwise2`.

[2019-11-10 03:35] mdehoon commented on #2328
This implementation adds keyword arguments to the `PairwiseAligner` method, as in
[code]
(use gap_score = -2 for this alignment, but don't change the value of gap_score attribute of the aligner object).
I am not sure what the benefit of this is, compared to this:
[code]
A better solution would be the ability to set the gap_score (or any other attribute) when you create the `PairwiseAligner`, as in

[2019-11-10 10:53] peterjc commented on #2335
If someone using PyPy could confirm it doesn’t make (or no longer makes)
these files, then a pull request updating the .gitignore would be great.

[2019-11-10 11:44] hwalinga commented on #2328
@mdehoon

Oops, assumed setting the function was set using the query_gap_function attribute directly instead of setting a function to query_gap_score. Also, the only documentation I looked into was the API docs. My bad.

---

Anyway, it indeed makes indeed more sense put it in the constructor. Also, a lot less code needed for that.

My train of thought was more from a stand point of readable one-l

[2019-11-10 18:48] hwalinga commented on #2335
Good. I compiled a project with pypy and it did not create such files.

[2019-11-10 22:04] artbendandi commented on #2226
We finished working on this issue, run the relevant tests, and we address it [this pull request](https://github.com/biopython/biopython/pull/2338)
We are available for any additional changes. Feedback is welcome.

[2019-11-11 07:56] mdehoon commented on #2328
@hwalinga  It looks good to me. Can you prepare a pull request that also includes updates to the documentation, and some tests?

[2019-11-11 08:09] peterjc commented on #2335
Great - do you want to make a pull request?

[2019-11-15 02:28] mdehoon commented on #2328
@hwalinga

I realized there may be a problem in this code:
[code]
The order in which you get the `name`, `value` pairs from the `kwargs` dictionary is undefined.
If a user does
[code]
then depending on whether `target_gap_score` or `open_gap_score` is handled first, the `aligner` will get a different value for `target_open_gap_score`.

[2019-11-15 18:45] #1521 closed

[2019-11-17 23:04] hwalinga commented on #2328
@mdehoon

That's a good point. If we make this clear in the documentation, do you think it is still a problem?

Also, For Python 3.6/3.7* and later, the ordering of the dictionary is equal to the order it is created. So, for your example, in those Python versions, `target_gap_score` is always handled first. So, that's good to know and saves the headache, but I don't know on what tempo you are drop

[2019-11-18 10:31] peterjc commented on #2328
We're dropping Python 2.7 in early 2020, but don't yet have a timeline for dropping Python 3.5 - something I was thinking of suggesting anyway.

[2019-11-18 11:07] THinnerichs opened #2343 "Problems importing Bio.Align.substitution_matrices"
Dear Biopython team,
I tried to use the substitution_matrices example code as described in your cookbook, but am here encountering some problems and unexpected errors.

Code as under 6.5.2.8 Examples:
[code]
to execute the following
[code]

### Setup
3.6.9 |Anaconda, Inc.| (default, Jul 30 2019, 19:07:31)
[GCC 7.3.0]
CPython
Linux-4.19.84-1-MANJARO-x86_64-with-arch-Manjaro-Linux
1.74

### Expected

[2019-11-18 11:13] peterjc commented on #2343
You need Biopython 1.75 which added this new functionality.

[2019-11-18 11:13] #2343 closed

[2019-11-18 11:14] THinnerichs commented on #2343
I thought I double checked on that, but I seems like I messed it up. Thanks a lot!

[2019-11-18 12:02] hwalinga commented on #2328
So, what is the plan? Wait till dictionaries are ordered in Python 3.6? (Which is still only true for CPython, any other implementation that supports 3.6 doesn't have to do that since it isn't a language feature in 3.6, and I don't know how long it will take for 3.6 to be dropped as well.) Or just implement it anyway and put a mention about it in the documentation?

[2019-11-18 13:02] peterjc commented on #2328
PyPy also does sorted dictionaries. Are there any other major implementations supporting the Python 3.5 or 3.6 language we need consider?

[2019-11-18 13:13] mdehoon commented on #2328
@hwalinga

Yes it is still a problem: The behavior of this function would be undefined. Since the function is a convenience feature only and not a necessity, I don't think we should add it if its behavior is unpredictable.

OK, then we can revisit this once we drop Python 3.5.

I can only speak for myself, but personally I am in favor of dropping older versions and taking advantage of the features

[2019-11-18 13:31] peterjc commented on #2328
See mailing list - I am proposing dropping Python 3.5 at the same time as Python 2.7:
https://mailman.open-bio.org/pipermail/biopython/2019-November/016731.html

[2019-11-18 14:19] hwalinga commented on #2328
Okay, then just ping me when you are about to drop Python 3.5.

[2019-11-19 10:45] peterjc commented on #2335
Closed by #2345

[2019-11-19 10:45] #2335 closed

[2019-11-19 15:58] Tillsten opened #2348 "PDB: Calling __getitem__ with ints should work for non amino acids"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

3.7.5 (default, Oct 31 2019, 15:18:51) [MSC v.1916 64 bit (AMD64)]
CPython
Windows-10-10.0.14393-SP0
1.75

### Expected behaviour
Assuming I have PDB chain with a non-amino acid at resseq=100. If I call `chain[100]` I would like to get that amino acid. Instead I get a `KeyError`, since the

[2019-11-19 17:12] peterjc commented on #2348
Do you have a proposal which would fix this? Also a specific example, ideally from the PDB, would be very useful - ideally a small one if we were to use it as a test case.

[2019-11-19 20:31] Tillsten commented on #2348
The easy solution would be just to modifiy `def _translate_id(self, id)` to just loop through the whole chain if the inital try fails. Not tested modication:
[code]

[2019-11-19 22:09] svalqui commented on #2008
I'll work on Bio.SearchIO.

[2019-11-20 09:45] mdehoon commented on #2229
@KKmushroom  @Jarlan1207  Do you still see this bug with the recently released Biopython 1.75?

[2019-11-20 09:52] mdehoon commented on #2202
Fixed by PR #2297 by adding a submodule under `Bio.Align`; the issue in `Bio.SubsMat` remains.

[2019-11-20 11:37] peterjc opened #2350 "Failing doctests in C code"
Cross reference #2347 (missing C doctests raising an exception on Python 2), Debian packaging team report issues under Python 3:

https://alioth-lists.debian.net/pipermail/debian-med-packaging/2019-November/074789.html

[code]

Evidently our continuous integration setup is not looking at the compiled C code modules - but the Debian test environment does.

[2019-11-20 11:39] peterjc commented on #2350
The ``Bio.Cluster._cluster.kmedoids`` and ``Bio.Cluster._cluster.treecluster`` doctest failures but look like a missing numpy import @mdehoon?

https://github.com/biopython/biopython/blob/master/Bio/Cluster/clustermodule.c#L1441
https://github.com/biopython/biopython/blob/master/Bio/Cluster/clustermodule.c#L1599

However, we need to tweak Travis and/or AppVeyor to include these C doctests tests...

[2019-11-20 21:47] MauriceKarrenbrock opened #2351 "atom.transform(...) coordinates problem"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]
(and both on the version you install with pip install biopython)

### Expected behaviour

I found a strange behaviour of atom.transform(rot_matrix, translation)
Usually atom coordinates are vectors like this

[x, y, z]

### Actual behaviour

But after transforming my structure with

[2019-11-21 10:12] peterjc commented on #2351
Could you make your example self-contained? i.e. add the missing import lines etc.

My guess is that you need to turn your ``rot_matrix`` into a numpy array. If that is the problem, we ought to handle this more gracefully.

[2019-11-21 14:03] MauriceKarrenbrock commented on #2351
[code]

At the moment I found an ugly way to deal with the problem and it  is to iterate though the values of the 1D matrix and to create a new Bio.vectors.Vector that is then given to the atom:

[code]

[2019-11-21 14:10] peterjc commented on #2351
My guess seems to work:

[code]

Note the numpy matrix class which you tried is very different to the array class - they are talking about deprecating it.

[2019-11-21 14:31] MauriceKarrenbrock commented on #2351
It's working for me too, I didn't know there where big differences between the matrix and array classes.
Thank you very much, you helped me a lot!

[2019-11-21 14:31] #2351 closed

[2019-11-21 15:30] peterjc commented on #2351
@etal do you think we need a type check in the transform method to catch this kind of problem?

[2019-11-24 02:49] beyondpie commented on #850
@saketkc
Hi, how I can choose the color for different amino acids? I see in your example, you have chose the four different colors for DNA.
Thank you very much!

[2019-11-24 02:59] saketkc commented on #850
@beyondpie

The original version of my logo plotter is here: https://github.com/saketkc/pyseqlogo which has some examples using Amino acids.

Better still, I would recommend you use dmslogo developed by Dr. Bloom: https://jbloomlab.github.io/dmslogo/ part of which is based on my code but is more versatile. (If you do, don't forget to cite our [paper](https://elifesciences.org/articles/49324))

I a

[2019-11-24 02:59] #850 closed

[2019-11-25 10:19] peterjc commented on #2177
@vkkodali would the proposed behaviour on #2355 cover your needs?

[2019-11-25 13:54] vkkodali commented on #2177
Yes. I don't know how to test it though.

[2019-11-26 13:38] peterjc commented on #2220
Fixed by @chebizarro on #2220, e.g.

https://biopython.org/docs/dev/api/Bio.Blast.Applications.html#Bio.Blast.Applications.NcbiblastnCommandline

Thank you!

[2019-11-26 13:38] #2220 closed

[2019-11-27 12:17] Phlya opened #2360 "Motif search slow due to inefficient logodds reformatting"
Biopython's motif search is very slow for long sequences. For example, running it for a "random" 500 kbp sequence for the mouse genome with a CTCF motif takes ~2.5 minutes.

Here is a realistic example of a code to annotate motifs that I ran for a 500 kbp sequence:

[code]
[code]

Here are the top few lines of prun output:
[code]

As one might notice, the first line in the profiler output is `matr

[2019-11-27 12:31] peterjc commented on #2360
Do you have a complete example? You are missing ``import time`` and the definition of ``pfm``

Does replacing this:

[code]

with:

[code]

help a little? Probably only a tiny bit.

Beyond that perhaps @mdehoon can comment. I wondered if maybe the C code could take a scores dictionary rather than an array... or if the ``GenericPositionMatrix`` class could have an ``.as_array()`` method?

[2019-11-27 13:09] Phlya commented on #2360
Sorry, I can make a complete example, but would need to share a long fasta file and the pfm then - this was just meant as a demonstration.

Your suggestion would still lead to the same number of __getitem__ calls, I think? That seems to be main culprit.

I would just do something like this somewhere at initialisation:
`self.array = numpy.vstack([self[nt] for nt in 'AGCT']).T`
And then use `self.ar

[2019-11-27 13:17] Phlya commented on #2360
Here is a complete example:
[code]

[test_seq.txt](https://github.com/biopython/biopython/files/3896951/test_seq.txt)
[CTCF_human.txt](https://github.com/biopython/biopython/files/3896952/CTCF_human.txt)

[2019-11-27 13:39] peterjc commented on #2360
Can you clarify what platform you are on - CPython, PyPy, other; has the C code in your Biopython been compiled and installed; and if you have numpy installed or not.

I suspect that with the current state of PyPy support for C code we can now remove the pure-python fall back as it is no longer needed (numpy would be required).

[2019-11-27 13:55] Phlya commented on #2360
Sorry - it's CPython, and I installed biopython from PyPI - so I guess I have the C code installed? Numpy is installed.

[2019-11-27 14:05] peterjc commented on #2360
What does this do on your system?

[code]

I'm trying to confirm which of the two ``_calculate`` functions is being called, the first one (requires our C code and numpy), or the second slower pure python one:

https://github.com/biopython/biopython/blob/biopython-175/Bio/motifs/matrix.py#L28
https://github.com/biopython/biopython/blob/biopython-175/Bio/motifs/matrix.py#L46

This might answer more

[2019-11-27 14:26] Phlya commented on #2360
I'm getting the same screen as you with the second command.

[2019-11-27 14:35] Phlya commented on #2360
I tried simply doing this to test performance improvement:

[code]

But I get an error, that I don't understand:

[code]

[2019-11-27 15:06] mdehoon commented on #2360
I would suggest to rewrite the `search` function such that it calls `self.calculate` only once:
[code]
and then iterate over the scores. That should be much faster (but it will also use more memory).

[2019-11-27 16:16] peterjc commented on #2360
Current code as in Biopython 1.75,

[code]

With my tiny suggestion:

[code]

Single run only, ~5s is a slight improvement - might be worth benching marking properly but doesn't seem to help much:

[code]

[2019-11-27 16:29] Phlya commented on #2360
If calculate was a generator that would remove the memory issue! I don't know anything about C, would that be possible?

[2019-11-27 16:34] peterjc commented on #2360
The following looks more promising,

[code]

Using your test script ending as follows BTW,

[code]

New:

[code]

Old:

[code]

Confirming no change in the output:

[code]

Not bad, about a fifth of the run time.

Note: I have not checked the pure Python version actually still works.

Do you like this approach @mdehoon? This has the advantage of not changing the public API at all.

[2019-11-27 16:37] peterjc commented on #2360
I don't know this code well enough to comment on the generator idea without a lot more work - my change is very targeted, avoiding the hot-spot of the matrix class ``__getitem__`` @Phyla identifier by benchmarking. Essentially that is a big if/else statement to decide how to handle various index arguments - since in this context we know the exact arguments in advance, and can do the appropriate lo

[2019-11-27 16:54] Phlya commented on #2360
That looks really good! This still creates a new array for each position, is it possible to calculate it just once and store? I'd expect it to be even faster then, although not sure this would still be the bottleneck after your change.

[2019-11-27 17:09] peterjc commented on #2360
With a slight refactoring I think yes, the ``.search()`` call could define the array once for the duration of the search, do the alphabet check and call ``._calculate()`` directly (bypassing ``.calculate()`` which can remain as a public API).

[2019-11-28 02:58] mdehoon commented on #2360
My suggested solution takes more memory, but for your example it's only 500,000 numbers, so it's still easily doable. If memory is an issue, you could break up `sequence` into segments of 100000 basepairs or so, and in `search` run `calculate` on each segment separately. It will be very fast, while keeping memory usage limited. Quick-and-dirty timings suggest that the whole calculation (for the se

[2019-11-28 04:37] svalqui commented on #2008
I'll work on Bio.Phylo

[2019-11-28 11:15] Phlya commented on #2360
I was just trying to use `.calculate` instead of search. For the same sequence/PFM as in the example above (500 kbp long seq), I only get 133 scores, and they are mostly nan or -inf...
[code]

[code]

Why is that?

[2019-11-28 13:56] ondrejcinek opened #2363 "Windows installation path clash with bio versus Bio"
### Setup

Dear Colleagues,
I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

(*Please copy and run the above in your Python, and copy-and-paste the output*)

### Expected behaviour

from bio import SeqIO
would import the module

### Actual behaviour

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Program

[2019-11-28 14:05] ondrejcinek commented on #2363
However, it appears to be fixed by correcting the package directory name "bio" to "Bio"...

[2019-11-28 14:07] mdehoon commented on #2360
This is because in your script, `seq` is a `SeqRecord`, not a sequence. In spite of what its name suggests, `SeqIO.parse` does not return `Seq` objects but `SeqRecord` objects. Personally I think Biopython should ditch either the `Seq` class or the `SeqRecord` class and use a single class to replace both. But that is a topic for another day. In your script, if you pass `seq.seq` instead of `seq`,

[2019-11-28 14:10] peterjc commented on #2363
As per our documentation, yes, you should use "Bio" (title case).

Python is case sensitive in most regards, but the Windows file system is not - which explains this otherwise puzzling behaviour. When you said "import bio" the system found the "Bio/" folder but makes the module available as "bio" (lower case) as instructed. But this means "Bio" (upper case B) has not been imported.

[2019-11-28 14:11] peterjc commented on #2360
Perhaps the motifs code should raise a ``TypeError`` when given a ``SeqRecord``, or do the expected thing and use the ``.seq`` attribute automatically?

[2019-11-28 14:11] Phlya commented on #2360
Ah of course, thank you! I would have expected this to raise an error?..

[2019-11-28 14:12] Phlya commented on #2360
And it does work super quickly!

[2019-11-28 14:27] ondrejcinek commented on #2363
Well - thank you very much for such a prompt response!!

the problem actually is that the installer installs into a "bio" folder - so unless you manually rewrite its name, 'import Bio' now throws an error in Windows.

It would be nice if you might rewrite the Windows installer options in order to name the newly created package folder Bio, not bio.

Thanks a lot,

best wishes,

Ondrej

From: Peter

[2019-11-28 14:29] ondrejcinek commented on #2363
Well, but the biopython installer (in Windows) creates a directory named bio, not Bio. Consequently, the canonical import Bio throws an error...

[2019-11-28 14:29] Phlya commented on #2360
But indeed, simply applying `.calculate()` to a whole chromosome leads to `MemoryError` on my machine.

[2019-11-28 14:32] mdehoon commented on #2360
@Phlya

Then you could modify the `search` function such that the sequence is divided into segments, and search each separately. If the segments are long enough (maybe 100,000 bp or so), the code will still be fast while memory usage will stay low.

[2019-11-28 14:32] Phlya commented on #2360
Exactly what I am writing now

[2019-11-28 15:00] peterjc commented on #2363
That is very strange.

How did you install Biopython? We stopped releasing the old ``*.exe`` or ``*.msi`` graphical Windows installers years ago.

What version of Windows are using? And do you know what file system (anything special like a networked drive, rather than a local hard drive)?

[2019-11-28 15:28] ondrejcinek commented on #2363
This is a brand new installation of python 3.6.8, via pip install biopython.

I seem to remember that a similar problem happened on my previous computer some four years ago.

The system is Win 10 Pro, v 1809, build 17763.864. Locale and keyboard is Czech.

The installation was performed on the local C drive, which is a RAID0 of two SSD's.

The Biopython ended up in C:\Program Files\Python36\Lib\si

[2019-11-28 15:54] peterjc commented on #2363
It seems there is a known issue with ``pip`` and/or ``setuptools`` if the installation path already existed but with the wrong case: https://github.com/pypa/pip/issues/3309

However, I'm not aware of any other Python package which might claim ``Bio/`` or in this case ``bio/`` - are you?

Oh well, at least you could solve this.

[2019-11-28 16:29] ondrejcinek commented on #2363
Thanks a lot for the effort - yes, now I see how this can be reproduced.

During installation of multiple packages on the new python, I probably first pip installed a package called 'bio' (by mistake, indeed). The package exists, please see https://pypi.org/project/bio/

This apparently created the 'bio' directory. Then, according to the bug description at pypa/pip#3309 <https://github.com/pypa/pi

[2019-11-28 16:35] Phlya commented on #2360
[code]

Here is the function that works for me. It uses pandas, which I think is not a biopython dependency? I am however happy for it to be adapted to replace the `.search()` method.

[2019-11-28 17:10] peterjc commented on #2008
One of the most common things requiring manual changes after running black is fixing implicit string concatenation within a line of code, see https://github.com/psf/black/issues/26

On #2359 in addition to running black on ``BioSQL/`` and fixing the existing concatenation problems (both from black and pre-existing ones), I propose catching new concatenation problems from black by using a new flake

[2019-11-28 20:27] MarkusPiotrowski commented on #2363
I can remember that we had this problem already earlier, don't recall the issue. But the reason was exactly the same, that someone did `pip install Bio` instead of `pip install Biopython` at some point during installation which resulted in having the Biopython installation in a lowercase `bio` folder.
Maybe this is something that can be checked during installation on Windows computers? That there

[2019-11-28 20:37] MarkusPiotrowski commented on #2363
Found the other issue #2238.

[2019-11-29 02:52] mdehoon commented on #2360
@Phlya  Indeed, pandas is not a biopython dependency.
Would you be able to create a pull request with the code to replace the `.search()` method in Biopython?

[2019-11-29 10:17] chris-rands commented on #2363
Cross-posted on SO: https://stackoverflow.com/questions/59080862/module-not-found-error-bio-in-miniconda-environment

Perhaps off-topic, but if biopython makes a new incompatible release someday, there could be some renaming. It would seem natural to `import biopython as bp` and module names should be lower case according to PEP8. The most common example I've seen of confusion from this is people

[2019-11-29 10:19] peterjc commented on #2363
You're right Markus, this was a duplicate of #2238.

And I agree, the proposal on the pip issue to check for a pre-existing wrong-case folder on case-insensitive platforms would be a big improvement.

@chris-rands yes - I would want to switch to PEP8 compatible lower-case modules names in any major back-ward compatible version change, which would solve the module vs class confusion in several key

[2019-11-29 13:20] peterjc commented on #2008
For anyone working on this issue, I strongly recommend you install ``flake8-implicit-str-concat`` locally and run ``flake8`` after ``black`` to catch any string literal problems - the most common thing we've had to hand-correct with the automated reformatting. As of #2359 this is checked on TravisCI.

[2019-11-29 17:09] peterjc commented on #2223
We've declared this module deprecated, so in a few releases time we can remove it - with solves the dual licensing.

[2019-11-30 14:43] Phlya commented on #2360
Ok, this implementation, actually, will miss motifs on the edges of chunks, I'll have to modify it a little. Otherwise, yes, I can create a PR, perhaps, on Monday.

[2019-11-30 15:37] mdehoon commented on #2360
@Phlya  Great, thanks!

[2019-12-01 08:33] tillea commented on #2350
Any news about this?  I'd love to update the Biopython Debian package.

[2019-12-01 13:12] matteougolotti commented on #2177
Hi @vkkodali

You can test it like this

Prerequisites
---
- Install virtualenv (https://virtualenv.pypa.io/en/latest/)
[code]

Setup a testing environment
---
- Prepare a clean directory
[code]

- Setup a Python virtual environemnt to work in
[code]

- Clone the Biopython repository from my fork
[code]

- Checkout the branch which includes the new changes
[code]

- Build and install from source
[

[2019-12-01 13:47] vkkodali commented on #2177
Thank you @peterjc  for such detailed instructions.
Yes, the fix from #2355 covers this issue as well. There is one minor correction needed. When concatenating the text from two lines, there should be single space character introduced. Take, for example, [NM_001376916](www.ncbi.nlm.nih.gov/nuccore/NM_001376916.1) which has the following:
[code]
After parsing the dictionary has the following:
[code

[2019-12-01 14:00] matteougolotti commented on #2177
@vkkodali indeed, thanks for pointing this out, I will modify my patch to introduce an additional whitespace after each newline.

[2019-12-01 19:51] matteougolotti commented on #2177
Ok @vkkodali , now a single white space should be added before any new line. Would you mind testing again ?

[2019-12-01 22:44] vkkodali commented on #2177
Thank you @matteougolotti this looks good. I think you can declare victory!

[2019-12-02 10:45] peterjc opened #2369 "Over-indented multiline triple quote strings"
On #2366 and also on some of the application wrappers recently updated to follow the black style (#2008), we had some code assigning a multi-line string defined with triple quotes to a variable (which is different in appearance to triple quotes as used in docstrings). How should these be indented?

This issue is to review all the existing use of multiline triple quote strings as variables (not the

[2019-12-02 10:46] peterjc commented on #2008
The black updates on the application wrappers have drawn my eye to the problematic use of triple-quote strings, something that the black reformatting made more obvious - see #2369

[2019-12-03 09:28] keisheiled commented on #2369
regarding python stuffs
"The following to me looks wrong/ugly, but gives the desired output":
[code]

This is how to write it in a way that does "look nice", and  "is doing what the author ... expected":
[code]

[2019-12-03 11:19] peterjc commented on #2008
Assuming pull request #2373 is merged, we will have applied black to all of ``BioSQL/``, ``Scripts/`` and ``Doc/examples/`` and will start running the black check on those folders as part of the TravisCI checks.

Implementation wise, this uses ``flake8-black`` with the flake8 per-folder ignore settings to not require this on ``Bio/`` and ``Tests/`` (yet).

[2019-12-03 13:43] peterjc opened #2374 "BSD dual licensing the C code"
This is a spin-out from #898, focussed specifically on the C code within Biopython.

As with the Python code, we need to establish a header comment convention for the license text (and can then automate checking which C files have it, and which do not). Following the example set in ``Bio/Align/_aligners.c``:

[code]

and ``Bio/PDB/kdtrees.c``:

[code]

I suggest we follow the same C comment syntax

[2019-12-04 13:17] peterjc commented on #2177
This was very useful feedback @vkkodali - I've merged the updated pull request from @matteougolotti - thank you both!

[2019-12-04 13:17] #2177 closed

[2019-12-04 13:32] peterjc commented on #2008
I think we're over half-way now in terms of the files under ``Bio/`` - which I find encouraging.

[2019-12-05 11:57] Phlya commented on #2360
Sorry, I've been sick for a few days and accumulated some relatively urgent things I need to do at work, but I remember about this.

[2019-12-06 02:13] JoaoRodrigues commented on #2348
Modified aminoacids are usually defined as `HETATM` (e.g. PCA in 5uiw), so the code is doing the right thing: you'd have to write `chain[('H', 1, '')]` for residue 1. The proposed solution raises a problem when two residues share the same number.

Do you have an example where a modified amino acid is defined as `ATOM`?

[2019-12-06 08:49] Tillsten commented on #2348
My point is that the shortcut works for ATOMs but not for HETATM. Supplying the full id works but is quite unpractical, as it is for normal amino acids. IMO If they have as resseq one should also be able to select them by that. This is also the way all molecular viewers I know work.

I don't what happens when two normal residues have the same ID but copying that behavior for HETATM should not be d

[2019-12-06 14:01] peterjc commented on #2312
With no further feedback on the wording of the warning, I'm going to close this. Thank you for the feedback.

[2019-12-06 14:01] #2312 closed

[2019-12-06 15:12] Phlya commented on #2360
https://github.com/biopython/biopython/pull/2386 here is the PR, let me know what you think. It relies heavily on numpy, but assume that is OK

[2019-12-07 02:25] mdehoon commented on #2314
Fixed by #2321

[2019-12-07 02:25] #2314 closed

[2019-12-07 02:27] mdehoon commented on #2229
@KKmushroom  @Jarlan1207  If the bug still exists in Biopython 1.75, please let us know before the end of 2019.

[2019-12-08 12:02] SoapGentoo commented on #2350
We're running into this issue in Gentoo too, and it's blocking us from updating Biopython there too

[2019-12-08 22:42] peterjc commented on #2350
Can anyone see an simple tweak to the the Windows AppVeyor and/or the Linux TravisCI tox setup which would run the C doctests for us?

[2019-12-09 06:36] tillea commented on #2350
On Sun, Dec 08, 2019 at 02:42:42PM -0800, Peter Cock wrote:

Sorry, no idea about Windows at all and I also did not used TravisCI directly.  What about trying a minimized [Debian Docker container](https://hub.docker.com/_/debian) and run your usual test suite in this manually.  Should be pretty similar to what happens in the chroot where the Debian package is built.

[2019-12-09 07:22] tillea opened #2388 "Test suite regression for arm64 architecture"
Hi,
Debian has now activated Continuous Integration for arm64 (in addition to amd64).  As you can see in the [test log](https://ci.debian.net/data/autopkgtest/testing/arm64/p/python-biopython/3607200/log.gz) this leads to the following error:

    ======================================================================
    ERROR: test_three_letter_amino_acids_global (test_pairwise_aligner.TestSequen

[2019-12-09 08:48] rikmills commented on #2388
Ubuntu CI autopkgtests sees the same errors on 1.75+dfsg-1 for arm64, plus also armhf, ppc64el & s390x

[2019-12-09 09:43] mdehoon commented on #2388
Does this also happen with Python3? If the error only occurs with Python2, then there is no point in fixing it.

[2019-12-09 13:48] peterjc opened #2390 "Continue TravisCI testing without NumPy?"
Since Biopython 1.70 (commit a089000fcc64ef169286a5f26fce69de2639905d), ``setup.py`` has said via ``install_requires=...`` that numpy should be present (except on Jython which we used to support but dropped, and IronPython which we were trying once). NumPy on PyPy is no longer a problem (see also #953).

Since Biopython 1.71 (commit 940c23fae945a234e409b4d8310baef7e723db64) the README has said:

[

[2019-12-09 13:54] peterjc opened #2391 "Use 'import numpy as np' convention?"
The convention in the NumPy documentation is to use ``import numpy as np`` and then for example``np.array(...)`` in code.

Currently Biopython for the most part uses ``import numpy`` and ``numpy.array(...)`` with only some newer code using the shorthand.

I am proposing we switch all our NumPy usage and examples to use the ``import numpy as np`` style, which should be familiar to most Biopython us

[2019-12-09 14:11] mdehoon commented on #2391
I vote against. It is unnecessary work, it adds to the style rules we have to follow, and `numpy` is explicit and therefore less confusing, especially for newcomers.

[2019-12-09 14:23] peterjc commented on #2391
So would you rather we switch the handful of ``import numpy as np`` to the more explicit ``import numpy`` style? Or just leave things as they are with a mixture?

[2019-12-09 17:20] MarkusPiotrowski commented on #2391
I would be in favor of using `import numpy as np` but if we can't agree on that, I would leave things (mixed) as they are.

[2019-12-09 22:37] mdehoon commented on #2391
@peterjc  Leave things as they are. There are bigger things to worry about in Biopython. Currently we have 311 open issues and 83 pull requests in progress; let's handle those first.

[2019-12-10 08:22] jyscao commented on #2391
I can definitely work on this if you guys do decide to go with the standard numpy import convention, which IMO is a good idea. Since at this matured point and time in the Python community, `np` really does not, would not and should not refer to anything else other than numpy.

Also as I'm not a current contributor to Biopython (though I'd definitely like to, and this would be a good opportunity fo

[2019-12-11 12:01] mr-c commented on #2388
@mdehoon Yes, the failures happen with Python3 as well

[code]

[2019-12-11 14:32] mdehoon commented on #2388
@mr-c  Would you be able to compile and run some test code on arm64?

[2019-12-11 14:37] mr-c commented on #2388
@mdehoon Can you run a Docker container, or are you on a Debian derivative? I can send you a recipe using qemu for either situation.

[2019-12-11 19:08] Nancy1030 opened #2395 "ImportError: cannot import name 'BiopythonParserWarning' from 'Bio' (unknown location)"
### Setup

I am reporting a problem with Biopython module import:

[code]

(*Please copy and run the above in your Python, and copy-and-paste the output*)

### Expected behaviour

import modules

### Actual behaviour

ImportError: cannot import name 'BiopythonParserWarning' from 'Bio' (unknown location)

[2019-12-11 20:24] MarkusPiotrowski commented on #2395
@Nancy1030 Can you please do what the issue template suggests? Please run this code and report the output:
[code]
It would also be nice to run your example manually line by line so that it becomes clear, which of these lines throws the error.

[2019-12-11 21:00] Nancy1030 commented on #2395
### Setup

I am reporting a problem with Biopython import as follows:

[code]

3.7.3 | packaged by conda-forge | (default, Jul  1 2019, 22:01:29) [MSC v.1900 64 bit (AMD64)]

CPython
Windows-10-10.0.17134-SP0

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: module 'Bio' has no attribute '__version__'

### Expected behaviour

import Bio
from Bio import Seq
f

[2019-12-11 21:26] MarkusPiotrowski commented on #2395
Can you try:
[code]

[2019-12-11 22:07] Nancy1030 commented on #2395
Help on package Bio:

NAME
    Bio

PACKAGE CONTENTS
    Affy (package)
    Align (package)
    AlignIO (package)
    Alphabet (package)
    Application (package)
    Blast (package)
    CAPS (package)
    Cluster (package)
    Compass (package)
    Crystal (package)
    Data (package)
    Emboss (package)
    Entrez (package)
    ExPASy (package)
    FSSP (package)
    File
    GenBank (package)

[2019-12-11 22:08] Nancy1030 commented on #2395
Help on package Bio:

NAME
    Bio

PACKAGE CONTENTS
    Affy (package)
    Align (package)
    AlignIO (package)
    Alphabet (package)
    Application (package)
    Blast (package)
    CAPS (package)
    Cluster (package)
    Compass (package)
    Crystal (package)
    Data (package)
    Emboss (package)
    Entrez (package)
    ExPASy (package)
    FSSP (package)
    File
    GenBank (package)

[2019-12-11 22:48] MarkusPiotrowski commented on #2395
Actually, this is not the expected result. It should start with:

[code]

You propably have a wrong `__init__.py` file in you `Bio` folder? This should start with

[code]

Can you tell how you installed Biopython?

[2019-12-11 22:50] Nancy1030 commented on #2395
I used pip install biopython in conda

[2019-12-11 23:13] MarkusPiotrowski commented on #2395
What's about your `__init__.py` in the `Bio` folder? (You will find it in your conda folder under \Lib\site-packages\Bio). Does it look as I have shown above?

[2019-12-12 01:26] mdehoon commented on #2388
@mr-c I have access to a cluster running Debian GNU/Linux 9.3 but I don't have admin rights there. Otherwise I can install docker on a Mac laptop.

[2019-12-13 12:22] MarkusPiotrowski commented on #2395
@Nancy1030
For sure there is something wrong with your installation. It seems clear that a) you have a Biopython installation (all the modules and packages seem to be present) but b) either you have a wrong `__init__.py` file in your `Bio` folder or Python is somehow referring to a wrong `__init__.py`.  Without `__init__.py` you shouldn't be able to do `import Bio`, but `help Bio` didn't show the

[2019-12-13 13:17] peterjc commented on #2391
Thanks @jyscao - hopefully there are other newcomer friendly issues you might want to tackle?

Let's close this for now - and perhaps revisit it next year?

[2019-12-13 13:17] #2391 closed

[2019-12-14 01:17] Nancy1030 commented on #2395
Thanks for following. As I was trying to figure out this problem, my python was messed up. So I reinstalled everything, and biopython seem to work now.

One possibility is that, I had installed a package called"Bio" before biopython, which was deleted it after installing biopython. And this biopython package is installed as "bio", and later I change folder name into upper case.

In my new installe

[2019-12-14 12:13] mr-c commented on #2388
@mdehoon Here you go!

Make the following `Dockerfile` in an empty directory:

[code]

and then run
[code]

There is probably a more efficient, but complicated method, of using qemu directly in macOS, if this doesn't work.

[2019-12-14 17:18] MarkusPiotrowski commented on #2395
This was exactly what I guessed, we stumbled across this `Bio` installation problem (with a lowercase `bio` folder) already twice, at least (#2238, #2363).
However, since you manually changed the folder name into uppercase `Bio`, there were no obvious indications for that.

Good that you got it running, so I'm closing this issue now.

[2019-12-14 17:18] #2395 closed

[2019-12-14 18:56] peterjc commented on #2388
Is this likely to fail the same way on a Raspberry Pi? I have built and tests Biopython on there before (a few years ago I think), it worked but was slow (their newer hardware is much faster though - still an ARM variant).

[2019-12-14 19:54] mr-c commented on #2388
@peterjc Yeah, Raspberry Pi4 is arm64

[2019-12-15 02:56] mdehoon commented on #2388
@mr-c  Thanks! It turned out to be a simple bug caused by `char` being unsigned on arm64. Using `signed char` explicitly fixed the bug.

[2019-12-15 12:41] mr-c commented on #2350
@peterjc
The issue is in `Tests/run_tests.py`

The correct path for loading the extensions is added to the system path:
https://github.com/biopython/biopython/blob/9e6a09cc5457e64a7e4170c06bf33663cd10d193/Tests/run_tests.py#L221

But `find_modules(path)` is only called on the source path:
https://github.com/biopython/biopython/blob/9e6a09cc5457e64a7e4170c06bf33663cd10d193/Tests/run_tests.py#L310

[2019-12-15 12:46] mr-c commented on #2350
I have a PR to fix the failing doctests (but not Travis CI lack of seeing them) at https://github.com/biopython/biopython/pull/2403

[2019-12-15 13:24] #2388 closed

[2019-12-15 16:04] mr-c opened #2404 "s390x: test_matrix_correlations: ndmin bigger than allowable number of dimensions NPY_MAXDIMS (=32)"
Log: https://travis-ci.org/biopython/biopython/jobs/625300915#L845 & https://github.com/biopython/biopython/pull/2401#issuecomment-565821110

[2019-12-16 15:36] peterjc commented on #2350
I'm re-opening this for the underlying issue that we're not running the C doctests on TravisCI/AppVeyor - we need to look at ``Tests/run_tests.py``

[2019-12-16 15:53] peterjc commented on #2404
To me at least the error message is contradictory:

[code]

Clearly ``ndmin = 2 < 32 = NPY_MAXDIMS``, so at very least the message needs a tweak, and perhaps this test ought to be skipped on the s390x CPU?

[2019-12-16 17:53] nimne commented on #2404
It looks like this problem is related to this numpy issue: https://github.com/numpy/numpy/issues/14767. The fix was merged, so hopefully it's fixed in an upcoming release.

[2019-12-16 21:35] peterjc commented on #2404
Agreed, looks like we can safely ignore this as a numpy problem for now.

[2019-12-17 13:54] #1945 closed

[2019-12-17 13:55] peterjc commented on #1945
Thanks @mr-c, we've not been testing the other architectures regularly so I can see how this languished.

[2019-12-17 14:43] Amrithasuresh commented on #2374
Can I work on this? I have few questions.

1) In this file `Bio/PDB/kdtrees.c` there is no copyright author name(s). Should I keep it without specific author name? What about the year?

[code]

2. Should I change the license text for the following files?

[code]

3. `/Bio/cpairwise2module.c`. In this file there are two multiple authors. Should I follow as multiple lines like
[code]

4. `/Bio/Clust

[2019-12-17 15:48] peterjc commented on #2374
I'm going to pass these questions to @mdehoon as author or at least contributor to much of the C code in Biopython.

[2019-12-18 01:31] mdehoon commented on #2374
@Amrithasuresh  @peterjc  I have no specific preference. I would suggest to follow what is done in the Python modules.

[2019-12-18 13:03] peterjc commented on #2374
Where there is no copyright line at all, I would like to see a copyright line added with the original author's name. Where someone makes substantial revisions or additions, they typically have added their name already.

With multiple authors we'd have something like this (following the Python code examples):

[code]

The hard part is tracking all the contributors to each file, and verifying that w

[2019-12-18 17:17] Phlya commented on #2390
My personal opinion is that having `numpy` as a requirement in this day and age is completely normal, realistically no one doing any computational analysis in python can do anything useful without `numpy` anyway.

Allowing simply importing `numpy` would simplify the code and make contributing to Biopython easier (as exemplified by issues that arose in https://github.com/biopython/biopython/pull/23

[2019-12-18 18:49] Amrithasuresh commented on #2374
Thank you for the explanation @peterjc.

I will do this first and you can review it.

Should I provide each commit a new pull request? For eg.  1) Adding a license text for the file and 2) Dual license for the file.

[2019-12-18 20:12] mdehoon commented on #2390
@Phlya  I agree. Btw officially numpy is already a requirement for Biopython.

[2019-12-18 23:02] peterjc commented on #2374
If you want to add any missing copyright lines and the old licence as a first pull request, then OK - but I would suggest you start with a pull request doing just one file as a learning experiment. How about ``Bio/Nexus/cnexus.c`` since the history is short with just a few contributors?

[2019-12-19 00:59] mdehoon commented on #2390
The library should continue raise a `MissingPythonDependencyError` if importing numpy fails, just to be clear to the user. But I don't think we need a numpy-free implementation.

The test code should simply assume that numpy can be imported, as numpy is a requirement for Biopython.

[2019-12-19 10:04] peterjc commented on #2390
OK, let's do that then.

As to my first question, why is testing without numpy working on Travis? Is this a case of ``pip install .`` versus ``python setup.py install`` being important? Do we need an explicit check in ``setup.py`` for this case?

Also, to help make this explicit, should ``run_tests.py`` have an explicit check for numpy - and abort all the tests if numpy is missing?

[2019-12-19 11:31] sdecesco opened #2417 "UniProt release 2019_11 changes FT and CC lines"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:
3.5.5 |Anaconda custom (64-bit)| (default, Mar 12 2018, 23:12:44)
[GCC 7.2.0]
CPython
Linux-3.10.0-862.14.4.el7.x86_64-x86_64-with-centos-7.7.1908-Core
1.75

### Expected behaviour
reading a swissprot record, the features are supposed to be correctly parsed

### Actual behaviour
It fails at

[2019-12-19 11:43] peterjc commented on #2417
I can reproduce this, and if I tweak the assert statement to report the problem line:

[code]

Looking at the data via https://www.uniprot.org:443/uniprot/P49798.txt (e.g. ``print(handle.url)`` to find this), I see this is the first feature:

[code]

This does not look like the old SwissProt style feature lines, but more like the EMBL (and GenBank) format features. Something strange here...

[2019-12-19 11:50] peterjc commented on #2417
Hmm, https://web.expasy.org/docs/userman.html#FT_line describes this new feature line (currently says Release 2019_11)

Biopython expects the older style still used in Release 2019_04 at least - the most recent snapshot of the documentation on archive.org:

https://web.archive.org/web/20190528232014/https://web.expasy.org/docs/userman.html#FT_line

There ought to be an announcement about this chan

[2019-12-19 11:55] peterjc commented on #2417
Found it, https://www.uniprot.org/news/2019/12/18/release - they also changed the CC lines too.

[2019-12-19 12:05] peterjc commented on #2417
@sdecesco in the short term, I would suggest you use the UniProt XML output instead, which can be parsed with ``Bio.SeqIO`` as the ``uniprot-xml`` format:

https://www.uniprot.org/uniprot/P49798.xml

[2019-12-19 16:09] peterjc commented on #2390
OK, with #2418 merged all the continuous integration tests now have numpy installed.

Should we close this and open a separate issue on why it is possible to install without numpy, and how to block that?

[2019-12-19 16:23] Amrithasuresh commented on #2374
@peterjc Somehow I missed to read this message.

[2019-12-19 16:46] peterjc commented on #2374
That's fine - the example you picked is similar.

[2019-12-20 14:57] sdecesco commented on #2417
Thanks @peterjc I tried Bio.seqIO but it didn't really provide me with the info I wanted. I wrote a bit of code to extract the way it used to in `SwissProt/__init__.py`

I haven't tested it extensively though.

[code]

[2019-12-20 16:30] peterjc opened #2420 "Remove use of Bio._py3k (Python 2 / 3 compatibility)"
As of Biopython 1.76 (released December 2019), we are dropping Python 2 support and focusing on Python 3.6 or later. This means we no longer need our (internal) Python 2 vs 3 compatibility library ``Bio._py3k`` (which is a bit like the third party library ``six``).

This issue is suitable and specifically targeting first time contributors.

There are lots of cases:

[code]

Example One
-----------

[2019-12-20 17:53] mdehoon commented on #2417
@sdecesco  The problem though is that according to the description of the new FT line, the location is not necessarily a simple integer or pair of integers, but it could be things like `<123..150` . We may be able to use the `FeatureLocation` class from `Bio.SeqFeature` to store the new locations.

Perhaps the best way forward is to define a new `Feature` class in `Bio.SwissProt` to store the info

[2019-12-20 18:16] peterjc commented on #2417
The changes are deliberately following the GenBank/EMBL/INSDC style, so the location object in ``Bio.SeqFeature`` should indeed be perfect for this - and we can likely reuse the associated parsing code. In terms of the high level parser via ``Bio.SeqIO``, there should be no real change as that already converts the SwissProt records into this form.

However, the low level ``Bio.SwissProt`` records

[2019-12-21 10:03] mdehoon commented on #2417
@peterjc  I would keep the `Bio.SwissProt` records, as they capture the information stored in SwissProt records more cleanly (and some information doesn't seem to be present in the `SeqRecord` at all, if I understand @sdecesco  correctly).

[2019-12-22 03:35] mdehoon commented on #2360
As #2386 has been accepted, can we close this issue?

[2019-12-22 03:36] mdehoon commented on #2328
@hwalinga  We have now dropped Python 3.5.

[2019-12-23 10:48] peterjc commented on #2360
Probably this can be closed, yes.

Is there any need to merge #2361 as well, or can that be closed too?

[2019-12-23 14:08] peterjc opened #2426 "TravisCI failures with release of NumPy 1.18.0"
NumPy 1.18.0 was released 22 December https://pypi.org/project/numpy/#history
https://numpy.org/devdocs/release/1.18.0-notes.html

At that point the master branch on TravisCI started failing, pypy3:

[code]

This might be related to https://github.com/pypa/pip/issues/6100 and/or https://github.com/pypa/setuptools/issues/1644 somehow... see also:
https://pip.pypa.io/en/stable/reference/pip/?highlig

[2019-12-23 14:12] peterjc commented on #2426
We already have the latest pip and setuptools before installing tox:

https://github.com/biopython/biopython/blob/biopython-176/.travis.yml#L189

[code]

However, perhaps we need to specify setuptools explicitly within the Tox environments...

[2019-12-23 15:12] #2360 closed

[2019-12-23 15:46] peterjc commented on #2426
I have tried but failed to reproduce this using pypy3 locally on 64-bit Linux.

[2019-12-23 17:06] peterjc opened #2429 "Remove from __future__ import division, print_function"
We have recently dropped Python 2 support, so the following lines can be removed:

[code]

There is at least one division import, and lots of print_function examples.

This was suggested by @chris-rands, but might be a good first issue for a newcomer?

https://mailman.open-bio.org/pipermail/biopython/2019-December/016739.html

[2019-12-23 18:05] chris-rands commented on #2429
Thanks Peter, I agree this is a good first issue, if there are any volunteers

There are also 3 examples of `from __future__ import with_statement` which could have been removed sometime ago (mandatory since Python 2.6)

If you want to forbid these `__future__` imports being added back into the codebase, there's a flake8 plugin that could be configured for this: https://github.com/xZise/flake8-fut

[2019-12-24 09:36] Dsujan commented on #2420
I would be starting in `BioSQL/`

[2019-12-24 22:38] kblin opened #2431 "GenBank TSA parsing fails to read actual TSA line"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]
[code]

### Expected behaviour

TSA line is read correctly, and `record.annotations["tsa"]` contains the right values.

### Actual behaviour

`record.annotations` doesn't have a "tsa" key.

### Steps to reproduce

[code]

[2019-12-25 06:19] Dsujan commented on #2420
@peterjc What to do incase of methods?
Example:
https://github.com/biopython/biopython/blob/biopython-176/BioSQL/Loader.py#L564

    from Bio._py3k import _is_int_or_long
    ...
    L564 -> assert _is_int_or_long(parent_taxon_id), repr(parent_taxon_id)

uses the `_is_init_or_long` method declared in `Bio._py3k` for assertion

https://github.com/biopython/biopython/blob/biopython-176/Bio/_py3k/__i

[2019-12-25 14:30] peterjc commented on #2420
Python 3 doesn't separate int and long, just use ``isinstance(parent_taxon_id, int)`` instead.

[2019-12-25 14:44] peterjc commented on #2429
That's the main code base done - still a couple in the ``Tests/`` folder:

[code]

[2019-12-25 14:50] peterjc commented on #2431
Fixed by #2431, thank you.

[2019-12-25 14:50] #2431 closed

[2019-12-25 17:41] r0cketr1kky commented on #2429
Can you assign me to this @peterjc?

[2019-12-25 23:10] peterjc commented on #2429
If anyone wants to tackle the future imports under Tests, please comment here to avoid duplication of effort.

[2019-12-25 23:22] peterjc commented on #2273
It is nearly 2020, and we have now dropped Python 2 support on the master branch - @joshuacooked if you would like to tackle this now, please go ahead. I appreciate it is holiday season, so no rush.

[2019-12-25 23:23] peterjc commented on #2246
Belatedly closing this issue via #2250

[2019-12-25 23:23] #2246 closed

[2019-12-25 23:25] peterjc commented on #2315
I'm going to close this given no reply and what to me looks like a solution to the query given. Please do reopen with more details if we've missed something, thanks.

[2019-12-25 23:25] #2315 closed

[2019-12-25 23:36] peterjc commented on #2243
The only file left to do here is ``Bio/KEGG/Enzyme/__init__.py`` where the following commit is problematic in not having consent:

https://github.com/biopython/biopython/commit/1c72a63b35db70d11c628b83a0269d1a9c6443a4?w=1

Adding public data files to the list of files tested is arguably not copyrightable in itself, but while a small code change, coping with the change to the ``PATHWAY`` line was c

[2019-12-25 23:39] peterjc commented on #2236
We have now dropped Python 2 support, and target only Python 3.6+ - so that isn't an obstacle now.

[2019-12-25 23:52] peterjc commented on #1878
Forgot to close this back in August.

[2019-12-25 23:52] #1878 closed

[2019-12-25 23:53] peterjc commented on #1956
With #2185 merged I forgot to close this.

[2019-12-25 23:53] #1956 closed

[2019-12-25 23:56] peterjc commented on #1952
Belatedly closing this issue with the documentation improvement done in March.

[2019-12-25 23:56] #1952 closed

[2019-12-26 06:28] Dsujan commented on #2429
@peterjc  Check the PR.
I have removed the remaining future imports in Test.

In some cases of docstring/comments like:
`example = ">>> from __future__ import print_function\n" + example`
They are untouched.

[2019-12-26 07:03] Dsujan commented on #2420
@peterjc I am new to this code base so I am little bit confused.
In _py3k there are many Private functions for encoding/decoding. Like:

https://github.com/biopython/biopython/blob/biopython-176/Bio/_py3k/__init__.py#L64
https://github.com/biopython/biopython/blob/biopython-176/Bio/_py3k/__init__.py#L158

And used like this:

[code]

What should be done in these cases?

[2019-12-26 09:55] peterjc commented on #2429
Can you fix the docstrings/comments too please?

[2019-12-26 10:14] Dsujan commented on #2429
Sure.

[2019-12-26 10:17] peterjc commented on #2420
I think ``_bytes_bytearray_to_str`` is only used here in the ``MysqlConnectorAdaptor `` class in BioSQL. It is defined as follows for Python 3:

[code]

So, moving this definition into ``BioSQL/BioSeqDatabase.py`` might be the best short term solution.

[2019-12-26 10:58] Dsujan commented on #2429
@peterjc  Sorry, I mistook .tex example codes for docstrings/comments.  Please review and I guess we could close this issue.

 I think this could be started as another issue to remove all `__future__` imports example codes and information about python 2 support in .tex as a documentation enhancement.

[2019-12-26 11:29] #2429 closed

[2019-12-26 11:31] peterjc commented on #2429
I was working on ``Tests/test_Tutorial.py`` anyway with e371d602d1c15453c4662985f4fe3bbec7bb188b, and with 87447725e60c62a250a9bf55c40355784db777c7 I think you are right, we can close this issue. Thank you for your first Biopython contributions :)

[2019-12-26 16:05] Dsujan commented on #2420
@peterjc  Please review #2440
Now I would be working in `Tests/`

[2019-12-26 17:01] deepaklorkhatri007 commented on #2420
Started working on Directories mentioned below (🍄 = working on it, ✅ = done)

| Directory 	|  Status	|
|---	|---	|
|  Bio/Align	|  🍄	|
|  Bio/AlignIO	|  🍄	|
|  Bio/Application	|  🍄	|
| Bio/Blast 	| 🍄 	|
| Bio/codonalign 	|  🍄	|

[2019-12-26 17:34] peterjc commented on #2420
That seems like a few, and covers quite a range. I wonder in hindsight if I should have suggested people work on a functions/constants basis rather than a module by module basis? Oh well, this way you'll all learn more about Python 2 vs Python 3.

[2019-12-26 17:50] deepaklorkhatri007 commented on #2420
@peterjc After I started doing it I was thinking of the same, I guess I should do it on a function basis rather than a module. Also, can you please check the code below and tell me if it is the right way of doing it.

![image](https://user-images.githubusercontent.com/20015794/71485251-36be2f00-2836-11ea-8e61-1a3ae31c48b5.png)

[2019-12-26 17:58] peterjc commented on #2420
@deepaklorkhatri007  For this line:

https://github.com/biopython/biopython/blob/biopython-176/Bio/Align/__init__.py#L1359

In Python 3 we'd just do this:

[code]

This explicitly discards the traceback context (this was inside a try/except with a ``StopIteration`` error).

[2019-12-26 18:05] deepaklorkhatri007 commented on #2420
@peterjc  thanks for clarifying the change needed, I have one more question, to check if the code is valid I should be running the test file` $ python  test_align.py `and for formatting and code style, I should be using `$ flake8` right?

[2019-12-26 18:15] peterjc commented on #2420
@deepaklorkhatri007 Depending which code you are editing, there may be more than one test covering it - ``run_tests.py`` would take longer but cover everything (see also the testing chapter in the Tutorial).

And yes, please do run ``flake8`` locally with all the plugins listed on https://github.com/biopython/biopython/blob/master/CONTRIBUTING.rst - the git pre-commit hook helps here.

Together th

[2019-12-26 18:19] deepaklorkhatri007 commented on #2420
@peterjc thanks for the information working on `raise_from()` function now

[2019-12-26 18:38] deepaklorkhatri007 commented on #2420
@peterjc sorry for bothering you constantly, can you please look at the code below

![image](https://user-images.githubusercontent.com/20015794/71486366-f95ca000-283b-11ea-9a5a-aa65326b1f3f.png)

When I run `$ flake8` on this file I am getting this output

![image](https://user-images.githubusercontent.com/20015794/71486404-2dd05c00-283c-11ea-9605-5374e3a04bcd.png)

all the mentioned lines in this

[2019-12-26 20:05] peterjc commented on #2420
Rather than screenshots, links or code snippets wrapped in triple-back-ticks are easier to read. Anyway,

https://github.com/biopython/biopython/blob/biopython-176/Bio/Entrez/Parser.py#L363

[code]

would probably best be replaced with:

[code]

Notice the closing bracket is indented the same amount as the raise line - and the message lines are all indented by four more spaces. In your work in pro

[2019-12-27 12:52] dusadvarshit opened #2446 "Unable to use Entrez module to connect to NCBI databases."
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]
from Bio import Entrez
Entrez.email = "A.N.Other@example.com"  # Always tell NCBI who you are
handle = Entrez.esummary(db="nlmcatalog", id="101660833")
record = Entrez.read(handle)
info = record[0]["TitleMainList"][0]
print("Journal info\nid: {}\nTitle: {}".format(record[0]["Id"], i

[2019-12-27 14:26] peterjc commented on #2446
The Biopython Entrez XML parser uses DTD files which describe what should be in the XML files. We supply most of them with Biopython, but any new or missing ones will be downloaded and cached under your home directory as needed - in this case ``/home/rohit/.config/biopython``

For some reason you don't seem to have permissions to create or write to the folder ``/home/rohit/.config/biopython/`` - d

[2019-12-27 16:31] dusadvarshit commented on #2446
Thank you peterjc for your quick and helpful comment. I attempted your recommendation and now I am able to use the library as shown in the examples of biopython docs.
I am hereby closing this issue.

[2019-12-27 16:31] #2446 closed

[2019-12-27 17:09] peterjc commented on #2446
Great - thanks for confirming.

[2019-12-27 17:52] kblin opened #2447 "Support data_file_division of TSA for TSA GenBank files"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]
[code]

### Expected behaviour

First line of the GenBank file has "TSA" when writing TSA files.

### Actual behaviour

First lime of GenBank file has "UNK" when writing TSA file.

### Steps to reproduce

Run this in the Biopython basedir

[code]

[2019-12-27 17:53] kblin commented on #2447
I've got a patch for this.

[2019-12-27 18:30] kblin opened #2449 "GenBank: writing TSA master records destroys the "unit" field of the first line"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

[code]

### Expected behaviour

The "unit" field of the first line is in `rc` for records after writing a TSA master GenBank file.

### Actual behaviour

The "unit" field of the first line is in `bp` for records after writing a TSA master GenBank file.

### Steps to reproduce

Run

[2019-12-27 19:53] peterjc commented on #2449
SeqIO and SeqRecord wasn't ever intended to store non-sequence records like the WGA and TSA entries, as I recall this was originally added to Bio.GenBank for parsing into the GenBank specific record objects...

Perhaps reading these files into SeqRecord objects ought to give an exception rather than very fragile partial support? Or can you see some simple improvements?

[2019-12-28 10:49] kblin commented on #2449
For all I can see, WGS master records give the total bp count in the units field in the meantime.

[2019-12-28 10:51] kblin commented on #2449
I have no good idea for a fix at the moment, our I'd have prepared a patch. I mainly filled the bug because it affected the test for #2447 and I didn't want to lose track of it.

[2019-12-28 18:20] mzhou08 opened #2454 "please add support to align two or more sequences in qblast() inside NCBIWWW.py"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]
[code]
### Expected behaviour

On the [NCBI BLAST web site](https://blast.ncbi.nlm.nih.gov/Blast.cgi?PAGE=Proteins&PROGRAM=blastp&BLAST_PROGRAMS=blastp&PAGE_TYPE=BlastSearch&BLAST_SPEC=blast2seq&DATABASE=n/a&QUERY=&SUBJECTS=),  there is a choice to align two or more sequences.

Howe

[2019-12-28 19:38] peterjc commented on #2454
I'm not aware that the NCBI offer this via their API: https://ncbi.github.io/blast-cloud/dev/api.html

Unless you can find some information on how this might be done, we can't work on this request.

[2019-12-28 19:38] #2454 closed

[2019-12-28 23:21] mzhou08 commented on #2454
Thanks, @peterjc

I have then requested a [ncbi/blast-cloud issue](https://github.com/ncbi/blast-cloud/issues/13)

[2019-12-29 19:01] peterjc commented on #2420
Note in future pull requests please also remove the definition in ``Bio/_py3k/__init__.py`` as well, that way we can easily see what it left, until finally the entire file is no longer needed.

P.S. This would be an easy one for a newcomer: Remove all the ``from Bio._py3k import _universal_read_mode`` lines, and change ``open(filename, _universal_read_mode)`` to just ``open(filename)`` instead.

[2019-12-30 09:35] kblin commented on #2449
Wow, that parser code is full of black magic.

[2019-12-30 15:26] peterjc opened #2471 "BSD dual licensing Bio/motifs/thresholds.py aka Bio/Motif/Thresholds.py"
Cross reference #898.

File ``Bio/motifs/thresholds.py`` was originally checked in as ``Bio/Motif/Thresholds.py`` by Bartek Wilczynski (@barwil) and was credited copyright 2008 by Norbert Dojer:

https://github.com/biopython/biopython/commit/36bf6ced5ed649ef3435af8c1331c6892b972b2b

We will need Norbert's agreement to dual license this file - based on the commit authorship I believe everyone else

[2019-12-30 15:32] peterjc opened #2472 "BSD dual licensing Bio/motifs/meme.py ~ Bio/MEME/Parser.py"
Cross reference #898.

File ``Bio/motifs/meme.py`` copyright 2008 by Bartek Wilczynski (@barwil) was adapted from ``Bio/MEME/Parser.py`` copyright 2004 by Jason A. Hackney, checked in by Iddo Friedberg (@idoerg):

https://github.com/biopython/biopython/commit/6ff52dff5dbecd824778e5112de092bd191ddd30

I'll try Jason's old Stanford email address. Iddo - do you have any other contact details for Jaso

[2019-12-30 15:44] peterjc commented on #2472
Same applies to ``Bio/motifs/mast.py`` as well, also based on Jason's code.

[2019-12-30 15:56] peterjc commented on #2472
The old email address no longer works.

[2019-12-30 16:00] peterjc opened #2473 "BSD dual licensing Bio.motifs.jaspar"
Cross reference #898.

The files under ``Bio/motifs/jaspar/`` were contributed by Anthony Mathelier and David Arenillas at UCB:

https://github.com/biopython/biopython/commit/ef95580a888f5a84d3e44eee7fe5b892ddf4f2af

We will need their consent to dual license these files. We can ask if they'd like to be listed in ``CONTRIB.rst`` too.

[2019-12-31 06:21] Dsujan commented on #2420
@peterjc  Finally, I was working on `Tests/` all ready to push but found out #2468 has already modified `Tests/test_bgzf.py` by removing `_as_bytes `and `_as_string` and also #2469 modifies `Tests/`. Are we now working function/constraint based? Seems like most of the work is done.

[2019-12-31 10:52] peterjc commented on #2420
It seemed to be the group consensus, yes. There will probably still be some merge conflicts anyway since the import lines are side by side.

@Dsujan how about doing ``_universal_read_mode`` as outlined above?

[2019-12-31 11:00] kblin opened #2477 "GenBank comment order is not preserved for structured and non-structured comments"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

[code]

### Expected behaviour

Original order of comments is preserved when reading and then writing a GenBank file.

### Actual behaviour

Structured comments are written before the unstructured comments.

### Steps to reproduce

Run the following:

[code]

[2019-12-31 11:06] kblin commented on #2477
Ah, sorry. Ignore the diff parts for `KEYWORDS`, `SOURCE`, and `ORGANISM`, I killed a few too many lines of the GenBank file to make a small example.

[2019-12-31 13:40] Dsujan commented on #2420
@peterjc  Okay I would be working on `_universal_read_mode `

[2019-12-31 15:19] peterjc commented on #2420
@Dsujan did you start working on the remaining ``_is_int_or_long`` yet, or just the one in BioSQL? Just six files to edit as discussed earlier to use ``isinstance(xxx, int)`` instead, and remove the function definition in ``Bio/_py3k/__init__.py`` to finish.

[2019-12-31 15:27] Dsujan commented on #2420
@peterjc  Had worked just the one in `BioSQL`.  Now I would be working in other files.

[2019-12-31 15:28] peterjc commented on #2420
@dsujan - thank you! That and the remaining open pull requests should I think cover everything 👍

[2020-01-01 04:47] Dsujan commented on #2420
2020 Official Death of Python 2 and seems like we have cleaned its remnants.

[2020-01-01 17:42] farAtGitHub commented on #1902
I created https://github.com/biopython/biopython/pull/2482 trying to fix Bio.PDB.AbstractPropertyMap. Hope it's not to far off.

[2020-01-01 18:08] peterjc opened #2483 "Importing external code with leading underscores?"
Logging this as a specific issue following recent discussions with @mdehoon etc including:

https://github.com/biopython/biopython/pull/2461#discussion_r361867697
https://github.com/biopython/biopython/pull/2476#discussion_r362326546
https://github.com/biopython/biopython/pull/2476#discussion_r362326641

Taking ``Bio/Entrez/Parser.py`` as an example, until recently we had:

[code]

As part of #242

[2020-01-01 21:58] farAtGitHub commented on #1902
I stumbled over biopython/Doc/Tutorial/chapter_testing.tex which also contains EXCLUDE_DOCTEST_MODULES (see below). Does that file need any attention as well?

[code]

[2020-01-02 14:02] fredricj commented on #2417
Using the XML is not always an option since UniProt doesn't provide them for older versions of an entry. Useful if you want to compare annotations between different versions

[2020-01-02 14:35] mdehoon commented on #2417
See #2484 for a bug fix

[2020-01-03 19:24] peterjc commented on #1902
Since ``EXCLUDE_DOCTEST_MODULES`` is now empty, we could perhaps remove it including the code implementing, and this documentation describing it.

Any comments @mdehoon?  As I recall, problematic doctests have either been different versions of Python, or cross platform issues - although in that case the test itself can usually be tweaked (e.g. reduce number of significant figures). e.g. there was

[2020-01-03 21:34] donkirkby opened #2488 "Alphabet PendingDeprecationWarning when I didn't use Alphabet"
Thanks for publishing the Biopython project, my team has found it very useful.

### Setup

I am reporting a problem with Biopython 1.76, Python 3.6.9, PyTest 5.32, and Ubuntu 18.04 as follows:

[code]

Then run the test with Pytest like this:

[code]

### Expected behaviour

[code]

### Actual behaviour

[code]

### Steps to reproduce

1. Create a virtual environment.
2. Install Pytest and Biopyth

[2020-01-03 21:54] donkirkby commented on #2488
Assuming that `Bio.SeqIO.parse()` is not actually deprecated, I disabled the warning from Pytest by configuring its [warning section] in a `pytest.ini` file.

[code]

The downside to this approach is that we won't see any warnings if someone on the project starts using some code that is actually deprecated, like creating an `Alphabet` object.

[warning section]: https://docs.pytest.org/en/latest/w

[2020-01-03 22:46] peterjc commented on #2488
First the good news: Your example code is perfectly fine, no explicit use of ``Bio.Alphabet``. We wouldn't expect you to see this warning.

``PendingDeprecationWarning`` ought to be silent by default. Something in pytest is not interacting as we might hope. See also #2312 with a similar discussion, including asking if we can clarify the warning's wording?

Given we're now into 2020, expect some mo

[2020-01-03 23:23] chris-rands commented on #2420
Also relevant here, we can remove/refactor `sys.version_info` checks, an approximate list:

[code]

[2020-01-03 23:34] peterjc commented on #2420
@chris-rands can you create a new issue for ``sys.version_info`` please (aside from ``setup.py`` which is a special case)? I would expect the usage under ``Tests/`` to all be beginner friendly, and some but not all of the rest will be too.

[2020-01-03 23:45] farAtGitHub commented on #1708
The last PR is over a year old and still open. Is there anything I can do?

[2020-01-03 23:50] peterjc commented on #1708
I think it would be reasonable to start from the work on #1824 (preserving the original commits and authorship if you are comfortably enough with git to to that), and addressing the feedback which stopped it being merged then.

[2020-01-04 00:34] farAtGitHub commented on #1708
Problem is: Now I cannot commit because of one
`D100 Missing docstring in public module`
and a ton of
`Q000 Remove bad quotes`
per changed file (baseml.py and codeml.py)
and one
`Bio/Phylo/PAML/codeml.py:129:80: E501 line too long (83 > 79 characters)`
due to 'heavy' indenting.

[2020-01-04 01:11] farAtGitHub commented on #1708
I fixed the D209 issues in https://github.com/biopython/biopython/pull/2489 building on #1824's work.

[2020-01-04 01:27] mdehoon commented on #1902
Yes let's remove it

[2020-01-04 11:10] chris-rands opened #2490 "Remove/refactor redundant `sys.version_info` checks"
As part of the upgrade to support Python 3.6+ only, many checks for `sys.version_info` are no longer required. Here is an approximate list:

[code]

I suggest tagging this with "Good first issue" and "Help wanted"

Note, the first case `sys.version_info >= (3, 7)` should be kept for now (although a separate discussion might be needed on whether or not it is safe to assume regular `dict`s retain in

[2020-01-04 11:12] chris-rands commented on #2420
@peterjc  see new issue #2490; for `setup.py`, I'm not experienced with packing, but think the correct way to specify the dependancy is via `python-requires` https://packaging.python.org/guides/distributing-packages-using-setuptools/#python-requires

[2020-01-04 11:15] deepaklorkhatri007 commented on #2483
@peterjc i agree that `from XXX import *` is a bad practice but we are using for example:- `from urllib.request import Request` only, so i don't know can go wrong if we remove underscores.

But why we are using an underscore in some files but not in all of them?

I am sorry but I am not getting it clearly 🙇🏻‍♂️  , the function will be included if we use `Bio.Entrez.Parser import *` only the name w

[2020-01-04 12:08] peterjc commented on #2483
I used underscores on the py3k imports because not only were they not intended to end-user re-use, but also we knew they would be temporary (as the imports would change once we dropped Python 2) so it was even more important to signal they should not be reused.

The inconsistency is the point of this issue. Consider the following (incomplete set of examples):

[code]

Versus others (avoiding the p

[2020-01-04 12:16] peterjc commented on #1708
Strange that you are seeing E501, our ``.flake8`` setting should be ignoring that - we'll likely adopt 88 as part of the black style though:

https://github.com/biopython/biopython/blob/master/.flake8

[2020-01-04 12:17] peterjc commented on #1708
For fixing the quotes automatically, I suggest:

[code]

[2020-01-04 12:19] peterjc commented on #1708
Or, since we've allready applied black to the PAML folder, this would fix the quotes and more:

[code]

[2020-01-04 12:44] farAtGitHub commented on #1708
Perhaps I need to do some more work on my setup. At least the commit hook is doing fine.
I'll try your suggestions.
One thing before I destroy everything: Double quotes are the bad guys, we want single quotes, right?

[2020-01-04 13:48] peterjc commented on #1708
No, we're following black and using double quotes.

[2020-01-04 14:53] mdehoon commented on #2483
I don't think adding underscores are a good idea, at least for now. For one thing, Python itself doesn't have a clear rule for this. Just a random sampling grepped from the Python standard library:
[code]
So, why be more strict than Python itself? I have a hard time to think of a scenario where importing without an underscore would cause a problem. Furthermore introducing such underscores adds a n

[2020-01-04 15:14] peterjc commented on #2483
The inconsistency in the standard library is a convincing argument - OK then, let's close this.

But I disagree with you that where to put our effort is a zero sum approach - code polishing is probably one of the easier ways to bring in new people (although there is still a time cost for the existing developers in reviewing and helping that process along).

[2020-01-04 15:14] #2483 closed

[2020-01-04 15:18] mdehoon commented on #2490
`Tests/test_pairwise_aligner.py` is being fixed in #2491 .

I would suggest to make separate pull requests for each file.

[2020-01-05 11:10] farAtGitHub commented on #1708
So I merged a (more) current version of master into the old (+ mine) changes last night, solved  resulting conflicts and ran the tests. All flake8 issues are gone, too. :-)
Of course master has changed again already but I think #2489 is ready for review now.

[2020-01-05 12:50] farAtGitHub commented on #1000
@peterjc I'm trying to understand what should be done here and have read through parts of the comments of the closed PR, but I get lost way earlier.
You say:

and in a previous comment:

To my understanding (bear with me, I'm YAPYN - yet another Python newbie) Bio.Record.Record is a module. How can it inherit from Header, DatabaseReport and Parameters? And while a deprecation in any of Header, Dat

[2020-01-05 13:56] peterjc commented on #1000
PEP8 style says use lower case for modules, and title case for classes - to help avoid this confusion. This part of Biopython pre-dates that convention.

Bio.Blast.Record is a module, specifically this file:

https://github.com/biopython/biopython/blob/master/Bio/Blast/Record.py

Within that is a class ``Record``, i.e. ``Bio.Blast.Record.Record`` in full.

Also, a few ``Bio.Blast.xxx`` got shorten

[2020-01-05 14:39] farAtGitHub commented on #1000
Do you mean there should be a line starting with
`class Record`
in https://github.com/biopython/biopython/blob/master/Bio/Blast/Record.py?
If so, I cannot find it, else I give up on this one for the time being.

[2020-01-05 15:32] peterjc commented on #1000
No, I didn't double check the code before replying - we were most likely talking about the ``Blast`` class (in other parsers it got called the ``Record`` class - my mistake).

[2020-01-06 10:06] deepaklorkhatri007 commented on #2490
Following files are being fixed (in #2496):
- Test/test_Phylo.py
- Test/test_SeqIO_index.py
- Test/test_SffIO.py
- Test/test_SeqRecord.py
- Test/common_BioSQL.py
- Test/test_geo.py
- Test/test_Seq_objs.py

`test_SeqIO_SeqXML.py` requires special attention @peterjc  @mdehoon

[2020-01-06 12:42] peterjc commented on #2008
With Emboss on #2470 and lots of miscellaneous files on #2498, the largest single easy group left is ``Bio.codonalign`` - any volunteers?

This will leave some auto-generated files and data heavy files which will need more human input.

Then finally, perhaps the hardest to review as it will be a lot of changes, everything under ``Tests/`` - which might deserve its own issue as this one is getting

[2020-01-06 12:43] peterjc commented on #2008
Ah, already had #2467 for codonalign...

[2020-01-06 18:20] nimne commented on #2490
@chris-rands From the [python mailing list](https://mail.python.org/pipermail/python-dev/2017-December/151283.html), maintaining the insertion order of a `dict` is a language feature starting from 3.7. While it was a side-effect of a performance optimization in 3.6 (and wasn't recommended to be relied on), maintaining insertion order should be safe to assume in 3.7 and up.

[2020-01-06 20:25] peterjc commented on #2490
@nimne yes, that's what the code in question does - it falls back on ``OrderedDict`` under Python 3.6 when not using CPython or PyPy:

https://github.com/biopython/biopython/blob/biopython-176/Bio/File.py#L34

Arguably we could say since the only Python implementations of Python 3.6 in the wild are CPython and PyPy (which both use ordered dictionaries) that we don't need to worry about this and ca

[2020-01-06 20:39] chris-rands commented on #2490
@peterjc @nimne Yes, with the caveat that equality comparisons are still ordered insensitive in Python 3.7 with regular `dict`, which leads to different behaviours:

[code]

[2020-01-06 22:57] crosenth opened #2500 "ValueError: CompoundLocation should have at least 2 parts"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

### Expected behaviour

No ValueError

### Actual behaviour

[code]

### Steps to reproduce

[code]

[2020-01-07 06:31] dandyrilla commented on #1540
I have the same problem. I've also encountered an error when using BioPython's example dataset. It seems to produce an error with specific `f` and `iter` values.

Script:

[code]

Error:

[code]

Python: *3.6.9*
BioPython: *1.73*
NumPy: *1.16.4*

[2020-01-07 06:42] mdehoon commented on #1540
I would suggest to use SciPy instead of Biopython for this. Also, in Biopython 1.76, Bio.Statistics is deprecated, so it may exist for much longer.

[2020-01-07 11:18] peterjc commented on #2500
https://www.ncbi.nlm.nih.gov/nuccore/BDHI01000032 on its own looks fine - the problem seems to be in the truncation requested via the Entrez API:

[code]

That leaves us with a sequence of length 1796, specifically it is this problematic location: `` order(1774..>1796)`` which breaks the object model assumptions.

The NCBI hardly uses the ``order`` location anymore, I need to review that.

[2020-01-07 11:31] peterjc opened #2502 "Sphinx API documentation missing __magic__ methods"
e.g. https://biopython.org/docs/dev/api/Bio.Seq.html and https://biopython.org/docs/1.76/api/Bio.SeqRecord.html are missing the ``__getitem__`` documentation which describes slicing etc.

Compare with https://biopython.org/DIST/docs/api/Bio.Seq.Seq-class.html (generated with epydoc, which we intend to drop.

This is likely down to a miss-configuration in https://github.com/biopython/biopython/blob

[2020-01-07 11:32] peterjc commented on #2500
Starting with this:

[code]

requesting ``seq_start='5539', seq_stop='7334'`` the NCBI cropped it to just:

[code]

I wonder if this is an NCBI Entrez sequence cropping bug... my reading of the http://www.insdc.org/documents/feature-table definition is unclear if a single location within ``order(...)`` is valid.

(As an aside, when cropping an annotated record, Biopython takes the simpler pragmati

[2020-01-07 11:42] peterjc commented on #2502
Hmm, we have this in ``conf.py``, which ought to show the special methods:

[code]

Might be down to the version of Sphinx...

[2020-01-07 11:45] peterjc commented on #2502
Looking at the most recent master build,
https://travis-ci.org/biopython/biopython/jobs/633717043

Tox installed:

``
alabaster==0.7.12,Babel==2.8.0,certifi==2019.11.28,chardet==3.0.4,docutils==0.15.2,idna==2.8,imagesize==1.2.0,isodate==0.6.0,Jinja2==2.10.3,MarkupSafe==1.1.1,mmtf-python==1.1.2,msgpack==0.6.2,mysql-connector-python-rf==2.2.2,numpy==1.18.1,numpydoc==0.9.2,packaging==20.0,Pillow==7.0

[2020-01-07 12:10] peterjc commented on #2490
That's an interesting subtle gotcha - although I don't think it would be an issue for the indexing code in ``Bio.File``.

Anyway, ``Bio/File.py`` aside, we're making steady progress:

[code]

[2020-01-07 17:28] peterjc opened #2508 "SCOP search URL 404"
Noted in passing on #2507,

[code]

The original search CGI URL does not work anymore, here:

http://scop.mrc-lmb.cam.ac.uk/scop/search.cgi?pdb=1JOY

Possible replacement:

http://scop.mrc-lmb.cam.ac.uk/search?t=txt;q=1JOY

However, it looks like the API we expose may also need to change:

https://github.com/biopython/biopython/blob/biopython-176/Bio/SCOP/__init__.py#L911

[2020-01-07 18:21] crosenth commented on #2500
Thanks Peter will do

[2020-01-08 11:22] chris-rands opened #2510 "Adopt f-strings"
Proposal for discussion and testing to adopt f-strings, new in Python 3.6 (see python docs and PEP 498), instead of `str.format()` and decimal style string formatting. See this and subsequent comments https://github.com/biopython/biopython/pull/2450#issuecomment-570091366

`pyupgrade --py36-plus` is one tool for automatically converting to f-strings, but after some minor testing, I think that [`fl

[2020-01-08 11:49] peterjc commented on #2510
It still feels a bit alien right now, but for the simple ``"Hello %s, how are you?" % name`` style examples with just ``%s`` default string formatting, ``f"Hello {name}, how are you?"`` is clear and concise. I think I could get used to that pretty quickly.

Also, it finally makes the ``__format__`` methods far more useful (via the colon syntax), e.g.

[code]
[code]

[2020-01-08 11:49] peterjc opened #2512 "Unicode encoding in BGZF"
The work and discussion in #2468 leaves the BGZF code in a state where it uses a mix of latin1 (used in the ``Bio._py3k`` conversion functions) and the default encoding.

Properly when used in text mode, the BGZF code should follow the gzip library and take a user specified encoding.

Self-assigning issue.

[2020-01-08 12:01] peterjc commented on #2420
The final bit to deal with is `` _binary_to_string_handle`` used in three of our online functions to convert binary network handles into text handles. On the subject of encodings (see also #2512), and online resources:

https://github.com/biopython/biopython/blob/biopython-176/Bio/_py3k/__init__.py#L111

[code]

We might want to rename and move this to ``Bio/_utils.py`` if there is no concise equi

[2020-01-08 12:08] peterjc commented on #2218
Confirming working on the current master with the same test case I used earlier.

Bow - do you want to open a new issue on the round trip attributes? Or re-open this one?

[2020-01-08 12:08] #2218 closed

[2020-01-08 12:25] MarkusPiotrowski commented on #2510
With all this Python 2/3 changes the last three weeks we should maybe slow down a little bit and ask what is really neccesary. I think there is no problem in using f-strings if you want to, but why should we remove/convert all % and .format string formattings? Isn't it valid code anymore? Is it against PEP8 or PEP257?

[2020-01-08 12:40] peterjc commented on #2510
I'm not sure how often PEP8 gets updated with language changes, but the current version pre-dates f-strings. I wouldn't be surprised to see it updated to recommend them.

If our consensus is to go for f-strings, I would say get the conversion done ASAP as part of applying black and all the Python 2 cleanup. Cross reference my proposal to stop at that point for Biopython 1.77 (a largely spring clea

[2020-01-08 14:25] peterjc commented on #2420
Didn't mean to close this via #2513, still have ``_binary_to_string_handle`` to deal with.

[2020-01-08 14:48] mdehoon commented on #2420
In my experience, utility modules like Bio/_utils.py tend to disappoint in the end (see ParserSupport for an older example). They tend to get underused (because people are unaware of them, and anyway will first look at the standard library and find there what they need), tend to become overengineered (to accommodate all different applications), and after a while we decide to remove them again (cos

[2020-01-08 15:37] peterjc commented on #2420
I don't understand what you mean about most of the lines not applying?

The KEGG, TogoWS and ExPASy usage (and historic Entrez usage) is all the same - wrapping a binary network handle to give a unicode text handle. The key point is following the W3C recommendation quoted earlier, we determine the encoding from the HTTP headers if possible, defaulting to latin-1. The secondary functionality was to

[2020-01-08 16:57] peterjc commented on #2510
Interestingly in answer to Markus' question about the older string formatting options, PEP3101 is vague, suggesting at some point the older systems would be deprecated:

Interestingly the Python 3.0 release notes said:

https://docs.python.org/3/whatsnew/3.0.html#pep-3101-a-new-approach-to-string-formatting

However, that deprecation didn't happen, and I've not found any similar statement in the P

[2020-01-08 19:11] peterjc commented on #2500
Cross reference:

case #CAS-473425-R5F0P6: Possible genbank sequence crop bug TRACKING:000273000002479

[2020-01-08 23:34] JoaoRodrigues commented on #2510
Hi all,

I agree with Markus that there has been a lot of (good!) work on moving to
Python 3, which might be hard to follow. Those of us working on some other
features will have to rebase nearly every day to take these changes
into consideration, so it might be nice to slow down or have a roadmap of
what we want to get done. Maybe we could use the Projects tab on github to
get this more organized.

[2020-01-09 01:42] mdehoon commented on #2420
We can. KEGG, TogoWS, ExPASy, and Entrez all report `utf-8` in `handle.headers.get_content_charset()`. Even if some day they report latin-1, my first instinct would be that this is a bug and the contents is actually in UTF-8.

The other part of `_binary_to_string_handle` is to add the url as an attribute. Here you can drop the try: except: block since the handle was opened by urlopen. Then `_binar

[2020-01-09 09:34] peterjc commented on #2510
I've not used GitHub Projects before, we've not seriously ever used milestones on Biopython either (we had them on the RedMine tracker). Does anyone else think it would help?

My earlier suggestion was to finish the Python 2 cleanup, application of black to ``Bio/`` (with black on ``Tests/`` to follow later) and call that Biopython 1.77 within the next month or so:

https://mailman.open-bio.org/pi

[2020-01-09 09:37] peterjc commented on #2420
On that basis (that all four relevant online servers declare UTF8), then I agree - do you want to make that pull request, or perhaps write it up as an issue suitable for a new contributor? Or I could implement it.

[2020-01-09 11:16] peterjc commented on #2512
This turns out to be complicated. Python 2 text mode didn't do universal new lines mode by default, but Python 3 does. This means on examples like ``Tests/SamBam/ex1.bam`` which has Windows line lines we run into complications in the test as the BGZF code does not do universal new lines mode, but gzip.open does in text mode.

[code]

Sadly attempting to implement universal new lines mode in BGZF t

[2020-01-09 12:02] peterjc commented on #2490
I realise now that we have ordered dictionary code in _three_ places, ``Bio/File.py``, ``Bio/SearchIO/__init__.py`` and ``Bio/SeqIO/__init__.py`` - and they were not consistent. Thus in #2518 I propose we remove the checks and assume ordered dictionaries.

[2020-01-09 12:19] peterjc commented on #2490
Updated list assuming #2517 and #2518 are merged:

[code]

There are four easy cases, just removing a clause from an if-statement. That would make a nice pull request (``Bio/File.py``, ``BioSQL/BioSeqDatabase.py``, ``Tests/test_SeqIO_SeqXML.py`` and ``Bio/SearchIO/__init__.py``)

For ``Bio/Phylo/BaseTree.py`` we need to remove the ``as_string`` function definition and replace all uses of it with `

[2020-01-09 14:26] deepaklorkhatri007 commented on #2490
I am working on these files :)
[code]

[2020-01-09 14:36] mdehoon commented on #2420
See #2521

[2020-01-09 16:23] peterjc commented on #2510
The vast majority of Biopython's string formatting uses the C-style percent operator, currently the format method is used in about 22 files, and we don't yet use the f-string style.

Pull request #2524 replaces the format method with f-strings, which could be the basis of a compromise house style?:

* C-style percent operator formatting allowed, e.g. ``"Hello %s" % name``
* String format method re

[2020-01-09 16:49] peterjc commented on #2420
And that job is done - thank you everyone 🎉

[2020-01-09 16:49] #2420 closed

[2020-01-09 18:16] chris-rands commented on #2510
If a comprise is needed, then #2524 seems like a good one to me. I am in favour of complete conversion to f-strings at some point because f-strings offer better performance, shorter syntax, generally improved readability, and consistency. However, I understand that it is pain for people to rebase ongoing PRs, and there is no rush if there is no consensus. Another large-scale, possibly harder and m

[2020-01-09 20:57] peterjc commented on #2510
I'm broadly in favour of variable annotations (#2236), but as far as I know there are no automated tools for that - for now it would down to module owners to start annotating their code. i.e. This would be very gradual.

With f-strings (if we go for it as the preferred style), we have the option of doing the entire code base quickly (could even be a single monster commit, but breaking it up would

[2020-01-09 21:32] chris-rands commented on #2236
There are some tools for helping with automatic type hinting/variable annotation. I'm not experienced with any of them and I think it will require lots of careful review and manual work, but here's an example of a quick test I did with Instagram's [`monkeytype`](https://github.com/instagram/MonkeyType). You can see at least that automation might kick-start the process:

[code]

[2020-01-10 09:47] mdehoon commented on #2420
Somebody should also go over the Tutorial and remove reference to Python 2

[2020-01-10 10:20] mdehoon commented on #2490
`Bio.Phylo.BaseTree` in #2526

[2020-01-10 10:44] peterjc commented on #2490
I've cherry-picked b07676d3e7597c9b2e36cd8532bf347a4c2f1a31 from #2517, so once #2526 is merged we can close this issue.

[2020-01-10 11:00] peterjc commented on #2490
Closing - thank you everyone!

[2020-01-10 11:00] #2490 closed

[2020-01-10 11:53] peterjc commented on #2510
@mdehoon approved #2524 (replacing the string format method uses with f-strings). I propose to merge that if there are no objections over the weekend?

[2020-01-10 12:26] peterjc commented on #2236
Interesting. What script did you run via monkeytype for those inferences? The test suite?

The examples show might warrant defining a custom alias for string, Seq (and subclasses), or MutableSeq?

Does the syntax cope with name-spaced classes, e.g. suppose we were type annotating another file,

* ``from Bio.Seq import Seq`` - can use class directly as ``Seq`` in type annotation

* ``from Bio impor

[2020-01-10 13:33] kblin opened #2528 "GenBank FeatureConsumer base class ignores unhandled attributes"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]
[code]

### Expected behaviour

Using a nonexisting attribute on a `Bio.GenBank._FeatureConsumer` raises an `AttributeError`.

### Actual behaviour

Using a nonexisting attribute on a `Bio.GenBank._FeatureConsumer` is ignored silently, causing hard to debug issues like #2431

### St

[2020-01-10 13:34] kblin commented on #2528
@peterjc Would you consider a patch to remove that `__getattr__` override?

[2020-01-10 13:36] chris-rands commented on #2236
I actually just used the script itself, but using the test suite is a good idea and improves the inference:

[code]
(continued)

In fact, if we had complete test suites, I guess the automated inferences would be complete also? So, this process might point to gaps in our test suite?

The only obvious issue to me with using the test suite is I think the exception tests are used to give incorrect inf

[2020-01-10 13:39] MarkusPiotrowski commented on #2510
Just to clarify, I really find the new f-strings cool and will for sure use them, but I don't like the compromise.  You can either argument that

- all three formatting styles are a valid Python 3, none is deprecated and none is recommended to be avoided by PEP8 (and even black will not touch it, https://github.com/psf/black/issues/363). So there is no harm in using all of them

or

- f-strings ar

[2020-01-10 13:44] peterjc commented on #2528
Certainly would consider it - looks like the original change was in 8b06e9dea459697723117bd3238af6b10e2a779b as part of a restructuring.

Have you tried removing the override - does much break?

My guess is that historically the two consumers didn't both define all the possible attributes that the scanner produced. I think explicit placeholder methods (which just ``pass``) for when a consumer want

[2020-01-10 13:58] peterjc commented on #2510
Changing our small amount of format method usage is quite minor, and I find switching those to f-strings an improvement (#2424). Similarly, replacing the format method with classical %-formatting would also make the code more readable _to me_, but that doesn't seem like a good long term plan, so I'm not seriously suggesting this.

Other than historical familiarity and avoiding code churn, is there

[2020-01-10 16:41] peterjc commented on #2512
Closed by #2517 - sticking with hard coded ``latin1`` due to the nature of the blocked compression.

[2020-01-10 16:56] peterjc commented on #2512
Almost closed by #2517, I spotted an oversight - fixed in #2532

[2020-01-11 17:09] peterjc commented on #2447
Closed by #2448

[2020-01-11 17:09] #2447 closed

[2020-01-11 17:10] peterjc commented on #2447
Thank you - should merged this earlier, but we were distracted by Python 2 spring cleaning.

[2020-01-12 12:32] peterjc commented on #2510
This is still experimental, but since we might want it I started work on a flake8 plugin for string formatting style, https://github.com/peterjc/flake8-sfs - following using v0.0.2:

[code]

It didn't find any f-strings (although there are a couple in our docstring examples now), but the statistics give an indication of the relative usage right now.

[2020-01-13 11:26] MarkusPiotrowski commented on #2313
@rthapa26 Did this solve your problem? Or do you have other questions?

[2020-01-13 12:37] MarkusPiotrowski commented on #2309
No further comment or feedback from OP; so closing this now.

[2020-01-13 12:37] #2309 closed

[2020-01-13 21:26] chris-rands commented on #2236
Maybe an alias yes, [it's possible](https://docs.python.org/3/library/typing.html#type-aliases); or maybe if alphabets are removed, `Seq` could subclass `str` directly (and `MutableSeq` could subclass `list` or an array). Then, many redundant methods that start `str(self)` could be removed too.

`Seq.Seq` is a valid annotation, but I don't know if/when `monkeytype` will insert these

[2020-01-13 21:41] chris-rands commented on #2510
I would be in favour of adopting f-strings and using Peter's nice looking plugin to enforce it, unless these choices really do put people off from contributing (I know if can be frustrating dealing with travis failures due to minor `flake8` issues)

`black` doesn't do f-string conversion because it's out of scope, but for `black`s own source code in their github repo, they actually have chosen to

[2020-01-14 22:03] svalqui commented on #2510
I'll work on Bio.Uniprot, as I'm reviewing GOA.py

[2020-01-14 22:26] JoaoRodrigues commented on #2510
+1 for complete f-string conversion (and using an automated tool if there
is one!).

Happy to review changes to Bio.PDB.

Sergio <notifications@github.com> escreveu no dia terça, 14/01/2020 à(s)
14:03:

[2020-01-15 10:48] peterjc commented on #2510
The experiment with flynt on #2524 showed that with its default setting it does not convert everything - in particular it avoids making overly long f-string lines. You can tell it to ignore that, and then manually break the long lines (or we could ignore the long lines in the short term - we don't yet enforce a line length via flake8). See fcf7ee6b970915488b1ad756b2213c74066ad4ab for a concrete ex

[2020-01-15 12:09] peterjc opened #2552 "Apply black to Tests/"
This is a spin out from #2008, where we have agreed to adopt the black code formatting tool for Biopython:

https://github.com/psf/black

That issue focused on applying black to the main code base (``Bio/``, ``BioSQL/``, and also ``Scripts/`` and ``Doc/examples/``).

This issue is for applying ``black`` to the Biopython test suite.

In principle this is a good issue for new contributors. However,

[2020-01-15 12:11] peterjc commented on #2008
I have opened issue #2552 for ``Tests/``.

I think the currently open pull requests will take care of the rest of ``Bio/`` at which point we can stop ignoring the flake8 black code for that directory, add something to the ``NEWS.rst`` file, and update the wording in https://github.com/biopython/biopython/blob/master/CONTRIBUTING.rst

[2020-01-15 17:28] mortonjt opened #2553 "Genbank IndexError: string index out of range"
I'm having a bit of trouble getting the biopython parser to read in certain genbank files.  Below is an example.  I have gotten it to work with a number of other genbank files in the past - so this looks to be more of an exception rather than the norm.

### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

[code]

### Expected behavio

[2020-01-15 21:48] nimne commented on #2553
I'm not able to reproduce the issue when downloading the genbank file through the web interface. Although, my python and MacOS versions aren't quite the same as yours.

[code]

Perhaps something is strange with the genbank file itself? How did you retrieve it?

[2020-01-15 22:19] mortonjt commented on #2553
I've redownloaded the file, and it looks like the new file seems to work.
Not sure why the old file failed -- it looks like a genbank.  But the issue seems to be gone now, so I'm going to close this.  Thanks!

[2020-01-15 22:19] #2553 closed

[2020-01-15 22:25] peterjc commented on #2553
Thanks Nick. Note that depending on the settings sometimes I think the NCBI dynamically general the sequence output (e.g. if you set the start/stop, or request the full record with parts), so the exact URL or way it was request can sometimes be important.

[2020-01-16 08:59] peterjc commented on #2249
Revised to:

[code]

Perhaps the recent focus on code style and cleanup by its nature had lower coverage, but we've still have too many red crosses just because of CodeCov.

[2020-01-16 20:48] ChrisMoth opened #2559 "MMCIFIO rewrites chimera-incompatible 6dwu.cif - perhaps related to 1784 quotes issue"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

Python 3.7.4 (default, Aug 13 2019, 20:35:49)
[GCC 7.3.0] :: Anaconda, Inc. on linux
Type "help", "copyright", "credits" or "license" for more information.

3.7.4 (default, Aug 13 2019, 20:35:49)
[GCC 7.3.0]

CPython
Linux-3.10.0-1062.9.1.el7.x86_64-x86_64-with-centos-7.7.1908-Core

1.76

[2020-01-16 21:06] peterjc commented on #2559
Can you link to or attach the test files here?

[2020-01-17 08:01] MarkusPiotrowski commented on #2559
I can reproduce this error with Biopython 1.75 (using Python 2.7.16 on Windows 7) and Chimera 1.13.1. I included the link to `6dwu.cif` in the post above.
My error message is different, it's a different line and a different tag:
[code]

[2020-01-17 11:02] peterjc commented on #2559
Trying on macOS:

[code]

I don't see the described changes - rather mostly it was lots of differences in line break points and use of ``;`` associated with new lines:

[code]

Note there are quote changes, perhaps all cases where there are no spaces and no need to quote?

[code]

@ChrisMoth can you try with Biopython 1.77 (latest release, rather than 1.76)?

@jgreener64 can you take a look?

[2020-01-17 11:34] jgreener64 commented on #2559
Yes, will take a look within the next few days.

Exactly rewriting an mmCIF file back out is not the aim of the writer (exact quotation styles are not read in), but for sure the dictionary written out should be semantically the same and should load in Chimera, so this sounds like a bug.

[2020-01-17 22:23] lisabang commented on #937
I am still getting this error when parsing a genbank entry with this problem but on the -1 strand.  I believe that the commit last referenced here fixes the problem but not when the ExactPosition occurs on -1 strand.  I can write a pull request for this although perhaps some others would be more ready + able to do it.

error:
`ValueError: CompoundLocation should have at least 2 parts, not [Feature

[2020-01-17 23:52] jgreener64 commented on #2559
This was a rather cryptic bug, but I think I've got it. The `'.' appears in tag` error message from Chimera was a red herring. The lines:

[code]

in FileIO.py of mmLib, which Chimera uses to parse mmCIF files, were hiding the real error in `mmCIFStructureBuilder` and throwing an unrelated error from `CIFStructureBuilder`. The problem is in lines like:

[code]

in 6dwu_2.cif, which appear as:

[co

[2020-01-20 03:10] svalqui commented on #2552
I'll work on test_PDB*

[2020-01-20 14:11] ChrisMoth commented on #2559
Thank you so much for detailed troubleshooting.  Indeed, I just downloaded and verified that chimeraX reads 6dwu_2.cif just fine.  http://nglviewer.org/ngl/  also can read it, and displays it in the same abbreviated fashion as it does 6dwu.cif.

And of course, biopython MMCIF reader can read back in 6dwu_2.cif.

So, it is chimera that is falling behind the standard, and I'll report that to them, i

[2020-01-20 17:43] jgreener64 commented on #2559
Sounds interesting. Yes, mmCIF has not been fully embraced by the community. My opinion is that this is because it is a good _archival_ format, but not a good _general use_ format.

Some switch away from PDB was required due to the limits of chain ID characters and atom serials. But that move also lost the human readability, "greppability" and smaller file sizes of PDB files. Many bioinformatician

[2020-01-22 01:07] bganglia commented on #2508
@peterjc, it looks like the legacy interface is still available under a new URL:
scop.mrc-lmb.cam.ac.uk/legacy/search.cgi?pdb=1JOY

In the short term, I will make a PR to update this URL, but it may still be good to move to the new one.

[2020-01-22 02:29] svalqui commented on #2552
I'll work on test_SeqIO*

[2020-01-22 13:34] Andrey-Raspopov commented on #2508
What are common usecases of this function, since it returns handle with html content? I've scoured github, but couldn't find anything except the usage inside this test.

[2020-01-22 15:21] peterjc commented on #2508
Probably overdue for deprecation rather than updating if there is not good current use age:
https://biopython.org/wiki/Deprecation_policy

[2020-01-22 17:33] peterjc commented on #2500
NCBI now thinks the problematic annotation is due to how they imported this record from the DDBJ, so fingers crossed they can fix this, and the originally reported problem from Biopython's point of view will go away.

In the meantime, perhaps our GenBank parser needs to downgrade this exception to a warning and leave the problematic location blank (as already done with certain other GenBank locati

[2020-01-22 17:41] bganglia commented on #2508
There is now a REST API that uses JSON. Perhaps we should use that now instead.

[2020-01-22 18:05] crosenth commented on #2500
I am not in any hurry to parse this record and am happy to wait and see how NCBI addresses this Issue.  Thanks for your help Peter.

[2020-01-22 18:58] Zulko commented on #2488
Hi @peterjc, just came accross this warning and I was wondering if there is a discussion somewhere on the deprecation of Bio.Alphabet. Will all Alphabet subclasses be removed? It seems that they are eveywhere in Biopython and my projects use ``DNAAlphabet()`` a lot as a way to enable ``SeqIO.write(record, 'genbank')`` (this errors for sequences which don't have a DNAAlphabet). Is there a way aroun

[2020-01-22 19:28] peterjc commented on #2488
The meta issue is #2046 (locked to prevent never ending discussions without anything concrete).

The need for some way to record the sequence type in SeqIO is one of the few things blocking a simple removal - GenBank and several other file formats need this, but only at quite a high level.

I started looking at a reduced alphabet, essentially an enum of DNA, RNA, nucleotide, protein or unknown. In

[2020-01-22 19:33] peterjc commented on #2046
See also #2488, which includes a reminder that for many people the only place they need to use ``Bio.Alphabet`` is in constructing ``SeqRecord`` objects for output in GenBank or other formats which need to know DNA vs RNA vs Protein explicitly.

[2020-01-22 19:35] peterjc commented on #2508
Adding a new wrapper for the SCOP JSON based REST API sounds good in principle.

We could go ahead and deprecate the HTML returning legacy API wrapper too.

[2020-01-22 19:48] Zulko commented on #2488
Thanks for your work on this, anything that can make Biopython simpler sounds great to me! I like the molecule_type approach. Do I understand correctly that there is currently no way to bypass Alphabet to write genbanks? (I'm looking for a way to make my libraries future-proof, without freezing the Biopython version).

[2020-01-22 19:52] peterjc commented on #2488
If your focus is GenBank specific, you could avoid SeqIO and SeqRecord altogether, and use the Bio.GenBank specific record objects - but my guess is that side of the code is less used. Part of the removal work will include documenting how to write backward compatible code if reasonably possible.

[2020-01-22 21:56] bganglia commented on #2508
@peterjc Is there any interest in scraping content from the HTML and returning it in a more usable data structure? The REST API does not provide as many features.

[2020-01-22 22:09] peterjc commented on #2508
I don't know - I've never used SCOP.

This module has been without a direct owner for many years - the vast majority of changes have been code style/maintenance, deprecation cleanup, with very little in the way of bug fixes or extension:

https://github.com/biopython/biopython/commits/master/Bio/SCOP

[2020-01-22 22:16] bganglia commented on #2508
@peterjc It looks like SCOP has mostly been replaced by SCOPe, which does not seem to have an API of any kind at the moment.
https://scop.berkeley.edu/
I have not used SCOP either, so I cannot speak to any possible use cases.

[2020-01-23 00:58] mdehoon commented on #2488
I expect tha in the near future we won't have separate Seq and SeqRecord classes, but just a single class that can do both.

[2020-01-24 12:19] peterjc opened #2580 "Replace flake8 git pre-commit hook with pre-commit"
Currently in ``CONTRIBUTING.rst`` we recommend using the flake8 pre-commit hook as follows:

[code]

There are at least two drawbacks. First, this only checks our Python code - it does not cover things like our RST files, or the sort order in the contributor listing (currently done via tox).

Also, the flake8 documentation http://flake8.pycqa.org/en/latest/user/using-hooks.html recommends moving t

[2020-01-24 17:37] JoaoRodrigues commented on #2580
I was looking at pre-commit last week and ended up using it for one of my projects. I like it a lot. Wouldn't mind looking into it. Just the style checking? You can also have a black as a pre-commit hook: https://pre-commit.com/hooks.html

[2020-01-24 18:29] peterjc commented on #2580
Yes please!

The nice thing about pre-commit is it can do flake8, and black, and grep, and rst-lint, etc. I want to do all our stylistic checks this way (to avoid nasty surprises on TravisCI like aedc2450a5eca7a41dd58a78889ace3c4e2c4525).

Black can stay via flake8, or drop the flake8-black plugin and list ``black --check`` explicitly in the pre-commit configuration. Probably via flake8 is best ri

[2020-01-24 21:44] JoaoRodrigues commented on #2580
I'll try to get it working this weekend then.

By the way, slightly off-topic, but I aggregated all my CI on Azure Pipelines since they can run all 3 OSes. Could be an interesting alternative to travis and appveyor. If you want, have a look [here](https://github.com/JoaoRodrigues/interfacea/tree/reorg), and specifically at [this file](https://github.com/JoaoRodrigues/interfacea/blob/reorg/azure-pi

[2020-01-27 12:20] kblin opened #2583 "test_ColorSpiral missing cmath dependency"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]

(*Please copy and run the above in your Python, and copy-and-paste the output*)

### Expected behaviour

Tests pass on a clean checkout with all named dependencies installed.

### Actual behaviour

[code]

### Steps to reproduce

__In a Python 3.6.8 virtualenv__

[code]

[2020-01-27 12:22] kblin commented on #2583
Ah, sorry, just saw that I forgot to paste my Python info
[code]

[2020-01-27 12:26] kblin commented on #2583
Hm, I just retested my reproducer and can't reproduce after all, so I must have been seeing things.

[2020-01-27 12:26] #2583 closed

[2020-01-27 12:36] kblin commented on #2528
I don't see any test breaking if I just remove both the `__getattr__` and `_unhandled` methods.

[2020-01-28 19:53] peterjc commented on #2008
Thank you everyone - all of Biopython except the tests folder now follows the black style!
🎊

[2020-01-28 19:53] #2008 closed

[2020-01-29 09:31] peterjc commented on #2008
I was reviewing GitHub actions for automatically applying black to pull requests (where typically the submitter ticks the box allowing edits from the maintainer, so this should be possible).

https://github.com/cclauss/autoblack
https://github.com/lgeiger/black-action/pull/2
https://github.community/t5/GitHub-Actions/Can-t-push-to-forked-repository-on-the-original-repository-s/m-p/35916/highlight/

[2020-01-29 17:06] chris-rands commented on #2236
I don't know if anyone is working on this (probably not), but I now wonder if it is worth waiting until support for Python 3.6 is dropped before adding variable annotations. I suggest this because Data Classes (new in 3.7) interact rather nicely with variable annotations, making the syntax more light weight and clean. Of course not all classes will become `@dataclass` decorated, but I suspect some

[2020-01-29 17:12] peterjc commented on #2236
Roll on Python 3.7+ only, using type annotations like that will be a more interesting transition than the Python 2/3 cleanup we're busy with right now.

[2020-01-31 13:17] MarkusPiotrowski commented on #2328
I think this issue has been solved by #2569 and #2603. Closing now.

[2020-01-31 13:17] #2328 closed

[2020-01-31 13:23] MarkusPiotrowski commented on #2221
@mobiusklein The original issue has been solved with #2603 (`pairwise2` now returns the alignments as namedtuples).
OK to close?

[2020-01-31 13:32] mobiusklein commented on #2221
Yes, okay to close. Thank you for the discussion.

[2020-01-31 13:32] #2221 closed

[2020-02-01 09:04] koyurion opened #2615 "create a dssp file"
### Setup

I am reporting a problem with Biopython version, Python version, and operating
system as follows:

[code]
3.7.5 (default, Oct 31 2019, 15:18:51) [MSC v.1916 64 bit (AMD64)]
CPython
Windows-10-10.0.18362-SP0
1.74

(*Please copy and run the above in your Python, and copy-and-paste the output*)

### Expected behaviour

How can I create a dssp file through a PDB file? I can not find any fun

[2020-02-01 12:38] #2615 closed

[2020-02-01 17:17] alexlenail opened #2616 "None doesn't have attribute nofuzzy_start"
[code]

I encountered this bug about a week ago, and fixed it by changing the following code:

https://github.com/biopython/biopython/blob/51b37542e90362fb4cccbb76a17fe6335813e19f/Bio/SeqRecord.py#L505-L509

to

[code]

I was trying to create a new genbank SeqRecord by slicing the old SeqRecord (like `record[start:end]`).  I just moved on once I solved this bug, but I thought I should leave this h

[2020-02-02 11:24] peterjc commented on #2616
How was the original SeqRecord created (and did the parser give you a warning about a feature having a problematic location)?

[2020-02-02 13:53] alexlenail commented on #2616
[code]

[code]

Is that the culprit?

[2020-02-03 10:38] peterjc opened #2620 "Support NCBI GenBank Targeted Locus Study (TLS)"
Targeted Locus Study (TLS) are defined here: https://www.ncbi.nlm.nih.gov/genbank/tls/

Example https://www.ncbi.nlm.nih.gov/nuccore/KBUV00000000.1

[code]

Note the LOCUS line is in units of read count (``rc``) not base pairs (``bp``) or amino acids (``aa``).

Just like WGS and transcriptome shotgun assembly records (TSA, see #2268), these do not have a sequence of their own - they are like a tab